Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem

Animation tests pass
  detox/ios/Detox/DetoxManager.swift
  detox/ios/DetoxTester/DetoxTester/Actions/ActionDelegate.swift
  detox/ios/DetoxTester/DetoxTester/Tester/DetoxTester.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/AppClientMessageSenderProtocol.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Utils/WaitUntilDone.swift
Owners: @asafkorem

wip
  detox/ios/DetoxTester/DetoxTester/Tester/DetoxTester.swift
Owners: @asafkorem

create new session id for each session and remove platform api response parsing for status extraction
  detox/src/DetoxWorker.js
  detox/src/devices/runtime/drivers/android/cloud/cloudAndroidDriver.js
Owners: @d4vidi, @noomorph

deliver payload
  detox/ios/Detox/DetoxManager.swift
  detox/ios/DetoxTester/DetoxTester/Tester/DetoxTester.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/DetoxServerMessageSenderProtocol.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+deliverPayload.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor+Message.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Utils/WaitUntilDone.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Utils/Web Socket Client/ServerMessageType+handleAsync.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Utils/Web Socket Client/ServerMessageType+isBackgroundTask.swift
  detox/ios/DetoxTester/DetoxTesterApp.xcodeproj/project.pbxproj
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
Owners: @asafkorem, @d4vidi, @noomorph

fix(github): Improve description of device.logs, fix urls
  .github/ISSUE_TEMPLATE/BUG_REPORT_ANDROID.yml
  .github/ISSUE_TEMPLATE/BUG_REPORT_IOS.yml
Owners: @d4vidi

fix(jest): allow overriding handleTestEvent
  detox/runners/jest/index.d.ts
  detox/runners/jest/testEnvironment/index.js
  detox/test/types/detox-integration-tests.ts
Owners: @d4vidi, @noomorph

fix(jest): allow overriding handleTestEvent (#3950)
  detox/runners/jest/index.d.ts
  detox/runners/jest/testEnvironment/index.js
  detox/test/types/detox-integration-tests.ts
Owners: @d4vidi, @noomorph

Publish 20.2.1 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

fix: typo lable to label (#3947)
  docs/guide/test-id.mdx
Owners: @d4vidi

wip
  detox/ios/DetoxTester/DetoxTester/Tester/DetoxTester.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor.swift
Owners: @asafkorem

slightly refactoring
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+Connections.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor.swift
Owners: @asafkorem

wip
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor.swift
Owners: @asafkorem

Publish 20.1.2-smoke.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Apply suggested changes.
  detox/ios/Detox/Actions/UIApplication+DetoxActions.swift
  detox/ios/Detox/DetoxManager.swift
Owners: @asafkorem

fix: device.setOrientation for iOS 16
  detox/ios/Detox.xcodeproj/project.pbxproj
  detox/ios/Detox/Actions/UIApplication+DetoxActions.swift
  detox/ios/Detox/DetoxManager.swift
Owners: @asafkorem

Publish 20.1.6-smoke.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

fix: device.setOrientation for iOS 16
  detox/ios/Detox.xcodeproj/project.pbxproj
  detox/ios/Detox/Actions/UIApplication+DetoxActions.swift
  detox/ios/Detox/DetoxManager.swift
Owners: @asafkorem

Apply suggested changes.
  detox/ios/Detox/Actions/UIApplication+DetoxActions.swift
  detox/ios/Detox/DetoxManager.swift
Owners: @asafkorem

Publish 20.2.2-smoke.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Publish 20.2.2 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Publish docs version 20.x
  website/versioned_docs/version-20.x/guide/test-id.mdx
Owners: @d4vidi

example: test toast component (FullWindowOverlay).
  detox/test/e2e/36.toast.test.js
  detox/test/package.json
  detox/test/src/Screens/ToastScreen.js
  detox/test/src/Screens/index.js
  detox/test/src/app.js
Owners: @d4vidi, @noomorph

fix(network): Fix detoxURLBlacklistRegex for launchApp() on iOS
  detox/ios/Detox/DetoxInit.m
  detox/test/e2e/14.network.test.js
  docs/api/device.md
Owners: @asafkorem, @d4vidi, @noomorph

fix(network): Apply minor adjustments
  detox/ios/Detox/DetoxInit.m
  detox/test/e2e/14.network.test.js
Owners: @asafkorem, @d4vidi, @noomorph

Fix detoxURLBlacklistRegex arg for launchApp() on iOS (#3954)
  detox/ios/Detox/DetoxInit.m
  detox/test/e2e/14.network.test.js
  docs/api/device.md
Owners: @asafkorem, @d4vidi, @noomorph

e2e: Improved network tests styling and robustness
  detox/test/e2e/14.network.test.js
Owners: @d4vidi, @noomorph

Publish 20.3.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Publish docs version 20.x
  website/versioned_docs/version-20.x/api/device.md
Owners: @d4vidi

build(Android): Apply hamcrest v2.2 as an explicit dep
  detox/android/detox/build.gradle
Owners: @d4vidi, @jonathanmos

e2e(network): Fix func name
  detox/test/e2e/14.network.test.js
Owners: @d4vidi, @noomorph

e2e: Improved network tests styling and robustness (#3955)
  detox/test/e2e/14.network.test.js
Owners: @d4vidi, @noomorph

scss fixes
  website/src/components/Showcase/Hero.module.scss
  website/src/css/_fonts.scss
Owners: @d4vidi

implement sendToHome
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/DetoxServerMessageSenderProtocol.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+sendToHome.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Utils/Web Socket Client/ServerMessageType+isBackgroundTask.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Utils/Web Socket Client/ServerMessageType.swift
  detox/ios/DetoxTester/DetoxTesterApp.xcodeproj/project.pbxproj
  detox/src/client/Client.js
  detox/src/client/actions/actions.js
  detox/src/devices/common/drivers/ios/tools/AppleSimUtils.js
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
Owners: @asafkorem, @d4vidi, @noomorph

wip
  detox/test/e2e/01.sanity.test.js
Owners: @d4vidi, @noomorph

build(Android): Apply hamcrest v2.2 as an explicit dep (#3956)
  detox/android/detox/build.gradle
Owners: @d4vidi, @jonathanmos

visibility debug artifacts works :)
  detox/ios/DetoxTester/DetoxTester/Actions/ActionDelegate+Error.swift
  detox/ios/DetoxTester/DetoxTester/Actions/ActionDelegate.swift
  detox/ios/DetoxTester/DetoxTester/Actions/Utils/ActionDelegate+createDebugArtifacts.swift
  detox/ios/DetoxTester/DetoxTester/Actions/XCUIElement/XCUIScreenshotProviding+takeScreenshot.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+handleTestFailure.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+sendToHome.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor.swift
  detox/ios/DetoxTester/DetoxTester/Utils/EnvArgKeys.swift
  detox/ios/DetoxTester/DetoxTesterApp.xcodeproj/project.pbxproj
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
  detox/src/devices/runtime/drivers/ios/XCUITestUtils.js
  detox/test/e2e/32.visibility-debug-artifacts.test.js
Owners: @asafkorem, @d4vidi, @noomorph

Publish 20.4.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

docs(website): simplify admonitions
  website/src/components/Showcase/Hero.module.scss
  website/src/css/_admonitions.scss
  website/src/css/_colors.scss
  website/src/css/_root.scss
  website/src/css/custom.scss
Owners: @d4vidi

refactor(website): global styling (#3919)
  .editorconfig
  .gitignore
  website/src/components/Showcase/Hero.module.scss
  website/src/css/_admonitions.scss
  website/src/css/_colors.scss
  website/src/css/_fonts.scss
  website/src/css/_header-github.scss
  website/src/css/_root.scss
  website/src/css/_showcase-link.scss
  website/src/css/_showcase-section.scss
  website/src/css/_utilities.scss
  website/src/css/custom.scss
  website/src/theme/Navbar/Search/styles.module.scss
Owners: @d4vidi

all artifacts work :)
  detox/ios/Detox/DetoxManager.swift
  detox/ios/DetoxTester/DetoxTester/Actions/Utils/ActionDelegate+createDebugArtifacts.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+captureViewHierarchy.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+handleTestFailure.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor+Message.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor.swift
  detox/ios/DetoxTester/DetoxTester/Utils/EnvArgKeys.swift
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
  detox/src/devices/runtime/drivers/ios/XCUITestUtils.js
Owners: @asafkorem, @d4vidi, @noomorph
