Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem

Added retry for genymotion device allocation
  detox/src/devices/allocation/DeviceAllocator.js
  detox/src/devices/allocation/drivers/AllocationDriverBase.d.ts
  detox/src/devices/allocation/drivers/android/genycloud/GenyAllocDriver.js
  detox/src/realms/DetoxPrimaryContext.js
Owners: @d4vidi, @noomorph

Fixed tests
  detox/src/devices/allocation/drivers/android/genycloud/GenyAllocDriver.js
  detox/src/realms/DetoxPrimaryContext.js
  detox/src/realms/DetoxPrimaryContext.test.js
Owners: @d4vidi, @noomorph

Publish 20.25.2 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

test
  README.md
Owners: @d4vidi

fix and demo
  detox/src/client/actions/actions.js
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
  detox/test/e2e/01.sanity.test.js
Owners: @d4vidi, @noomorph

feat(iOS): add getUIHierarchy device action.
  detox/detox.d.ts
  detox/ios/Detox/DetoxManager.swift
  detox/src/client/Client.js
  detox/src/client/actions/actions.js
  detox/src/devices/runtime/RuntimeDevice.js
  detox/src/devices/runtime/drivers/DeviceDriverBase.js
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
Owners: @d4vidi, @noomorph, @asafkorem

fix & demo
  detox/src/client/actions/actions.js
  detox/test/e2e/01.sanity.test.js
Owners: @d4vidi, @noomorph

fix(docs): `accessing` typo
  docs/guide/launch-args.md
Owners: @d4vidi

fix(docs): `preferring` typo
  docs/guide/test-id.md
Owners: @d4vidi

fix(docs): `preceding` typo
  docs/introduction/your-first-test.mdx
Owners: @d4vidi

fix(local-cli): respect detox build --if-missing for multi-app builds
  detox/local-cli/build.js
  detox/local-cli/build.test.js
Owners: @d4vidi, @noomorph

docs: fix typos (#4548)
  docs/guide/launch-args.md
  docs/guide/test-id.md
  docs/introduction/your-first-test.mdx
Owners: @d4vidi

fix(local-cli): respect detox build --if-missing for multi-app builds (#4549)
  detox/local-cli/build.js
  detox/local-cli/build.test.js
Owners: @d4vidi, @noomorph

Publish 20.25.3 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Publish docs version 20.x
  website/versioned_docs/version-20.x/guide/launch-args.md
  website/versioned_docs/version-20.x/guide/test-id.md
  website/versioned_docs/version-20.x/introduction/your-first-test.mdx
Owners: @d4vidi

fix(local-cli): respect detox build --if-missing for multi-app builds
  detox/local-cli/build.js
  detox/local-cli/build.test.js
Owners: @d4vidi, @noomorph

fix(local-cli): respect detox build --if-missing for multi-app builds (#4551)
  detox/local-cli/build.js
  detox/local-cli/build.test.js
Owners: @d4vidi, @noomorph

Publish 20.25.4 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Implemented getUIHierarchy for android
  detox/android/detox/src/full/java/com/wix/detox/Detox.java
  detox/android/detox/src/full/java/com/wix/detox/espresso/GetViewHierarchyHelper.kt
  detox/src/android/espressoapi/Detox.js
  detox/src/devices/runtime/drivers/android/AndroidDriver.js
Owners: @d4vidi, @jonathanmos, @noomorph

fix(iOS): active app under test on XCUITest interaction.
  detox/ios/DetoxXCUITestRunner/DetoxXCUITestRunner/DetoxXCUITestRunner.swift
Owners: @asafkorem

Renamed get hierarch function Refactoring
  detox/android/detox/src/full/java/com/wix/detox/Detox.java
  detox/android/detox/src/full/java/com/wix/detox/espresso/heirarchy/GetViewHierarchyHelper.kt
  detox/android/detox/src/full/java/com/wix/detox/espresso/heirarchy/RootViewsHelper.kt
  detox/detox.d.ts
  detox/ios/Detox/DetoxManager.swift
  detox/src/android/espressoapi/Detox.js
  detox/src/client/Client.js
  detox/src/client/actions/actions.js
  detox/src/devices/runtime/RuntimeDevice.js
  detox/src/devices/runtime/drivers/DeviceDriverBase.js
  detox/src/devices/runtime/drivers/android/AndroidDriver.js
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
  detox/test/e2e/01.sanity.test.js
  detox/test/e2e/06.device.test.js
Owners: @d4vidi, @jonathanmos, @noomorph, @asafkorem

Publish 20.25.5 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Checking with a specific version of lodash
  package.json
Owners: @d4vidi

Test - don't merge
  .github/workflows/rapid-test.yml
Owners: @d4vidi

build: run xcodebuild in isolated env.
  detox/scripts/build_xcuitest.ios.sh
Owners: @d4vidi, @noomorph

Fixed tests
  detox/src/client/Client.test.js
  detox/src/client/actions/actions.js
  detox/src/devices/runtime/RuntimeDevice.test.js
  detox/test/e2e/__snapshots__/06.device.test.js.snap
Owners: @d4vidi, @noomorph

Implemented iOS
  detox/android/detox/src/full/java/com/wix/detox/espresso/heirarchy/GetViewHierarchyHelper.kt
  detox/ios/Detox.xcodeproj/project.pbxproj
  detox/ios/Detox/DetoxManager.swift
  detox/ios/Detox/Utilities/UIWindow+DetoxUtils.h
  detox/ios/Detox/Utilities/ViewHierarchyDump.swift
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
  detox/test/e2e/__snapshots__/06.device.test.js.snap
Owners: @d4vidi, @jonathanmos, @asafkorem, @noomorph

Fixed tests on rn 71
  detox/test/e2e/06.device.test.js
  detox/test/e2e/__snapshots__/06.device.test.js.snap
Owners: @d4vidi, @noomorph

Fixed tests on rn 71
  detox/test/e2e/__snapshots__/06.device.test.js.snap
Owners: @d4vidi

Fixes after PR
  detox/android/detox/src/full/java/com/wix/detox/Detox.java
  detox/android/detox/src/full/java/com/wix/detox/espresso/hierarchy/GetViewHierarchyHelper.kt
  detox/android/detox/src/full/java/com/wix/detox/espresso/hierarchy/RootViewsHelper.kt
  detox/detox.d.ts
  detox/ios/Detox/Utilities/UIWindow+DetoxUtils.h
  detox/test/e2e/__snapshots__/06.device.test.js.snap
Owners: @d4vidi, @jonathanmos, @noomorph, @asafkorem

Fixes after PR
  detox/ios/Detox/Utilities/ViewHierarchyDump.swift
Owners: @asafkorem

Fixed tests
  detox/ios/Detox/Utilities/ViewHierarchyDump.swift
  detox/test/e2e/__snapshots__/06.device.test.js.snap
Owners: @asafkorem, @d4vidi

Fixed tests
  detox/test/e2e/__snapshots__/06.device.test.js.snap
Owners: @d4vidi

test(e2e): refactor skip mechanism
  detox/test/e2e/03.actions.test.js
  detox/test/e2e/33.attributes.test.js
  detox/test/e2e/35.overlay.test.js
  detox/test/e2e/jest.config.js
  detox/test/e2e/utils/custom-it.js
  detox/test/e2e/utils/rnSkipper.js
Owners: @d4vidi, @noomorph

test(e2e): refactor skip mechanism (#4559)
  detox/test/e2e/03.actions.test.js
  detox/test/e2e/33.attributes.test.js
  detox/test/e2e/35.overlay.test.js
  detox/test/e2e/jest.config.js
  detox/test/e2e/utils/custom-it.js
  detox/test/e2e/utils/rnSkipper.js
Owners: @d4vidi, @noomorph

Publish 20.25.6-prerelease.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Fixed after pr
  detox/detox.d.ts
  detox/src/devices/runtime/RuntimeDevice.test.js
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
Owners: @d4vidi, @noomorph

build(iOS): improve XCUITest build, remove unnecessary files.
  detox/scripts/build_xcuitest.ios.sh
Owners: @d4vidi, @noomorph

build(iOS): refactor XCUITest build.
  detox/scripts/build_xcuitest.ios.sh
Owners: @d4vidi, @noomorph

Publish 20.25.6-smoke.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi
