Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem

updated from PR
  detox/src/android/matchers/native.test.js
  detox/src/ios/expectTwo.js
  detox/src/ios/expectTwo.test.js
Owners: @d4vidi, @noomorph

orientation test update
  detox/test/e2e/06.device-orientation.test.js
Owners: @d4vidi, @noomorph

test coverage to 100%
  detox/src/android/matchers/native.js
  detox/src/android/matchers/native.test.js
  detox/src/ios/expectTwo.test.js
Owners: @d4vidi, @noomorph

Updated code with refactoring and new functionality
  detox/src/android/matchers/native.js
  detox/src/android/matchers/native.test.js
  detox/src/ios/expectTwo.js
  detox/src/matchers/semanticTypes.js
  detox/src/matchers/semanticTypes.test.js
Owners: @d4vidi, @noomorph

update config simulators
  detox/test/e2e/detox.config.js
Owners: @d4vidi, @noomorph

adding scrollview to the main screen
  detox/test/e2e/26.element-screenshots.test.js
  detox/test/e2e/30.custom-keyboard.test.js
  detox/test/e2e/drivers/url-driver.js
  detox/test/src/app.js
Owners: @d4vidi, @noomorph

update of some changes
  detox/detox.d.ts
  detox/src/android/matchers/index.js
  detox/src/android/matchers/native.js
  detox/src/android/matchers/native.test.js
  detox/src/ios/expectTwo.js
  detox/src/ios/expectTwo.test.js
  detox/src/matchers/semanticTypes.js
  detox/src/matchers/semanticTypes.test.js
  detox/test/e2e/27.semantic-types.test.js
Owners: @d4vidi, @noomorph

cleanup
  detox/src/ios/expectTwo.js
  detox/src/matchers/semanticTypes.test.js
Owners: @d4vidi, @noomorph

update tests
  detox/src/ios/expectTwo.test.js
  detox/src/matchers/semanticTypes.test.js
Owners: @d4vidi, @noomorph

updates done based on Yarik's comments
  detox/ios/Detox/Invocation/Predicate.swift
  detox/src/android/matchers/native.js
  detox/src/ios/expectTwo.js
  detox/src/matchers/semanticTypes.js
  detox/test/e2e/27.semantic-types.test.js
  detox/test/src/Screens/MatchersScreen.js
Owners: @asafkorem, @d4vidi, @noomorph

Revert "adding scrollview to the main screen"
  detox/test/e2e/26.element-screenshots.test.js
  detox/test/e2e/30.custom-keyboard.test.js
  detox/test/e2e/drivers/url-driver.js
  detox/test/src/app.js
Owners: @d4vidi, @noomorph

semantic tests updated
  detox/test/e2e/27.semantic-types.test.js
  detox/test/src/Screens/SemanticTypesScreen.js
  detox/test/src/Screens/index.js
  detox/test/src/app.js
Owners: @d4vidi, @noomorph

test updates
  detox/src/android/matchers/native.test.js
  detox/src/matchers/semanticTypes.test.js
Owners: @d4vidi, @noomorph

created icon for the example app on iOS
  detox/test/ios/example/Images.xcassets/AppIcon.appiconset/Contents.json
  detox/test/ios/example/Images.xcassets/AppIcon.appiconset/Icon-1024.png
  detox/test/ios/example/Images.xcassets/AppIcon.appiconset/Icon-20@2x.png
  detox/test/ios/example/Images.xcassets/AppIcon.appiconset/Icon-20@3x.png
  detox/test/ios/example/Images.xcassets/AppIcon.appiconset/Icon-29@2x.png
  detox/test/ios/example/Images.xcassets/AppIcon.appiconset/Icon-29@3x.png
  detox/test/ios/example/Images.xcassets/AppIcon.appiconset/Icon-40@2x.png
  detox/test/ios/example/Images.xcassets/AppIcon.appiconset/Icon-40@3x.png
  detox/test/ios/example/Images.xcassets/AppIcon.appiconset/Icon-60@2x.png
  detox/test/ios/example/Images.xcassets/AppIcon.appiconset/Icon-60@3x.png
Owners: @d4vidi

Revert "test update for android"
  detox/test/e2e/06.device-orientation.test.js
  detox/test/e2e/11.user-notifications.test.js
  detox/test/e2e/drivers/launch-args-driver.js
Owners: @d4vidi, @noomorph

Revert "Reverting Yarik's fix and updating iOS simulators to 18.5"
  detox/test/e2e/detox.config.js
Owners: @d4vidi, @noomorph

lint error cleanup
  detox/src/ios/expectTwo.js
Owners: @d4vidi, @noomorph

moving semantic types to bottom of screen
  detox/test/src/app.js
Owners: @d4vidi, @noomorph

test update for android
  detox/test/e2e/06.device-orientation.test.js
  detox/test/e2e/11.user-notifications.test.js
  detox/test/e2e/drivers/launch-args-driver.js
Owners: @d4vidi, @noomorph

linter passing
  detox/src/ios/expectTwo.js
Owners: @d4vidi, @noomorph

final test update
  detox/test/e2e/10.async-and-callbacks.test.js
Owners: @d4vidi, @noomorph

using xcode 26.1
  .xcoderc
Owners: @d4vidi

update of flaky test
  detox/test/e2e/06.device.test.js
Owners: @d4vidi, @noomorph

cleanup
  detox/test/e2e/utils/deviceInfo.js
Owners: @d4vidi, @noomorph

crash test update
  detox/test/e2e/19.crash-handling.test.js
Owners: @d4vidi, @noomorph

element-screenshot test snapshot update
  detox/test/e2e/assets/elementScreenshot.horiz.ios.png
  detox/test/e2e/assets/elementScreenshot.vert.ios.png
Owners: @d4vidi

sanity button update
  detox/test/e2e/23.flows.test.js
Owners: @d4vidi, @noomorph

more updates
  detox/test/e2e/assets/cross-origin-frame.clear-text.ios.new-arch.png
  detox/test/e2e/assets/cross-origin-frame.replace-text.ios.new-arch.png
  detox/test/e2e/assets/elementScreenshot.horiz.ios.new-arch.png
  detox/test/e2e/assets/elementScreenshot.vert.ios.new-arch.png
Owners: @d4vidi

Revert "chore: upgrade allure adapter"
  detox/test/package.json
  yarn.lock
Owners: @d4vidi

update of snapshots for webview
  detox/test/e2e/assets/cross-origin-frame.type-text-in.ios.new-arch.png
  detox/test/e2e/assets/tap-on-cross-origin-frame-element.ios.new-arch.png
Owners: @d4vidi

chore: upgrade adapter
  scripts/upload_artifact.sh
Owners: @d4vidi, @noomorph

chore: upgrade allure adapter
  detox/test/package.json
  yarn.lock
Owners: @d4vidi

update for newArch
  detox/test/e2e/assets/cross-origin-frame.clear-text.ios.new-arch.png
  detox/test/e2e/assets/cross-origin-frame.replace-text.ios.new-arch.png
  detox/test/e2e/assets/cross-origin-frame.type-text-in.ios.new-arch.png
  detox/test/e2e/assets/focus-on-content-editable-webview.ios.new-arch.png
  detox/test/e2e/assets/focus-on-input-webview.ios.new-arch.png
  detox/test/e2e/assets/move-cursor-to-end-content-editable-webview.ios.new-arch.png
  detox/test/e2e/assets/move-cursor-to-end-webview.ios.new-arch.png
  detox/test/e2e/assets/scroll-to-view-webview.ios.new-arch.png
  detox/test/e2e/assets/select-all-text-in-content-editable-webview.ios.new-arch.png
  detox/test/e2e/assets/select-all-text-in-webview.ios.new-arch.png
  detox/test/e2e/assets/tap-on-cross-origin-frame-element.ios.new-arch.png
Owners: @d4vidi

update simulator
  detox/test/e2e/detox.config.js
Owners: @d4vidi, @noomorph

screenshot updates
  detox/test/e2e/assets/cross-origin-frame.clear-text.ios.new-arch.png
  detox/test/e2e/assets/cross-origin-frame.replace-text.ios.new-arch.png
  detox/test/e2e/assets/cross-origin-frame.type-text-in.ios.new-arch.png
Owners: @d4vidi

update with timeout
  detox/test/e2e/06.device.test.js
Owners: @d4vidi, @noomorph

os version set to iOS 26
  detox/test/e2e/13.permissions.test.js
  detox/test/e2e/detox.config.js
  detox/test/e2e/utils/deviceInfo.js
Owners: @d4vidi, @noomorph

webview test snapshot update
  detox/test/e2e/assets/cross-origin-frame.clear-text.ios.png
  detox/test/e2e/assets/cross-origin-frame.replace-text.ios.png
  detox/test/e2e/assets/cross-origin-frame.type-text-in.ios.png
  detox/test/e2e/assets/focus-on-content-editable-webview.ios.png
  detox/test/e2e/assets/focus-on-input-webview.ios.png
  detox/test/e2e/assets/move-cursor-to-end-content-editable-webview.ios.png
  detox/test/e2e/assets/move-cursor-to-end-webview.ios.png
  detox/test/e2e/assets/scroll-to-view-webview.ios.png
  detox/test/e2e/assets/select-all-text-in-content-editable-webview.ios.png
  detox/test/e2e/assets/select-all-text-in-webview.ios.png
  detox/test/e2e/assets/tap-on-cross-origin-frame-element.ios.png
Owners: @d4vidi

change of placement of semantic types test on main screen
  detox/test/src/app.js
Owners: @d4vidi, @noomorph

Reapply "Reverting Yarik's fix and updating iOS simulators to 18.5"
  detox/test/e2e/detox.config.js
Owners: @d4vidi, @noomorph
