Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem

chore(.gitignore): ignore .env files.
  .gitignore
Owners: @d4vidi

chore: remove detox-copilot from lerna packages.
  lerna.json
  scripts/ci.release.js
Owners: @d4vidi, @noomorph

chore(detox-copilot): revert version dump.
  detox-copilot/package.json
  detox/package.json
Owners: @d4vidi

chore(lerna): add detoc-copilot.
  lerna.json
Owners: @d4vidi

Publish 20.26.1 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Publish docs version 20.x
  website/versioned_docs/version-20.x/api/device.md
  website/versioned_docs/version-20.x/contributing/code/overview.md
Owners: @d4vidi

Roll back automator version
  detox/android/detox/build.gradle
Owners: @d4vidi, @jonathanmos

Publish 20.26.2 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

ci(rapid-test.yml): remove copilot unit test phase.
  .github/workflows/rapid-test.yml
Owners: @d4vidi

adbforward
  detox/src/devices/common/drivers/android/exec/ADB.js
Owners: @d4vidi, @noomorph

add prop shouldIgnoreStatusBar
  detox/android/detox/src/full/java/com/wix/detox/espresso/EspressoDetox.java
  detox/android/detox/src/full/java/com/wix/detox/espresso/UiAutomatorHelper.java
  detox/src/devices/runtime/RuntimeDevice.js
  detox/src/devices/runtime/drivers/DeviceDriverBase.js
  detox/src/devices/runtime/drivers/android/AndroidDriver.js
Owners: @d4vidi, @jonathanmos, @noomorph

fix test
  detox/test/e2e/06.device.test.js
Owners: @d4vidi, @noomorph

fix(detoxCopilotFrameworkDriver): fix take image snapshot.
  detox/src/copilot/detoxCopilotFrameworkDriver.js
Owners: @d4vidi, @noomorph

test(DetoxCopilot): add unit tests.
  detox/src/copilot/DetoxCopilot.test.js
Owners: @d4vidi, @noomorph

feat(copilot): add more debugging logs.
  detox-copilot/src/actions/StepPerformer.ts
  detox-copilot/src/utils/CodeEvaluator.ts
Owners: @d4vidi, @noomorph

chore(detox-copilot): remove prepublish script.
  detox-copilot/package.json
Owners: @d4vidi

refactor(CopilotDriver): rename to `detoxCopilotFrameworkDriver`.
  detox/src/copilot/CopilotDriver.js
  detox/src/copilot/detoxCopilotFrameworkDriver.js
Owners: @d4vidi, @noomorph

refactor: fix indent.
  detox-copilot/src/actions/StepPerformer.ts
Owners: @d4vidi, @noomorph

fix(DetoxWorker): inject copilot to globals.
  detox/src/DetoxWorker.js
Owners: @d4vidi, @noomorph

chore: update detox-copilot.
  detox/package.json
Owners: @d4vidi

feat(globals): expose copilot global.
  detox/globals.d.ts
Owners: @d4vidi, @noomorph

chore(detox-copilot): bump version to `0.0.1`.
  detox-copilot/package.json
Owners: @d4vidi

refactor(copilot): rename api catalog type.
  detox-copilot/src/index.ts
  detox-copilot/src/types.ts
  detox-copilot/src/utils/PromptCreator.test.ts
  detox-copilot/src/utils/PromptCreator.ts
Owners: @d4vidi, @noomorph

Revert "chore: remove detox-copilot from lerna packages."
  lerna.json
  scripts/ci.release.js
Owners: @d4vidi, @noomorph

feat: add more apis to detox copilot catalog.
  detox/src/copilot/detoxCopilotFrameworkDriver.js
Owners: @d4vidi, @noomorph

feat(copilot): capture framework context from config.
  detox-copilot/src/Copilot.test.ts
  detox-copilot/src/Copilot.ts
  detox-copilot/src/actions/StepPerformer.test.ts
  detox-copilot/src/actions/StepPerformer.ts
  detox-copilot/src/integration tests/index.test.ts
  detox-copilot/src/types.ts
  detox-copilot/src/utils/CodeEvaluator.test.ts
  detox-copilot/src/utils/CodeEvaluator.ts
  detox-copilot/src/utils/PromptCreator.test.ts
  detox/src/copilot/detoxCopilotFrameworkDriver.js
Owners: @d4vidi, @noomorph

feat(DetoxWorker): reset detox copilot if-needed before each test.
  detox/src/DetoxWorker.js
  detox/src/DetoxWorker.test.js
Owners: @d4vidi, @noomorph

feat(PromptHandler): initial commit.
  detox/test/e2e/copilot/PromptHandler.js
  detox/test/package.json
Owners: @d4vidi, @noomorph

feat(detox-copilot): update detox driver catalog.
  detox/src/copilot/detoxCopilotFrameworkDriver.js
Owners: @d4vidi, @noomorph

test(unit): remove duplicated unit test.
  detox/src/DetoxWorker.test.js
Owners: @d4vidi, @noomorph

feat(copilot): add code-evaluation log.
  detox-copilot/src/utils/CodeEvaluator.ts
Owners: @d4vidi, @noomorph

test(e2e): update copilot sanity tests.
  detox/test/e2e/38.copilot.sanity.test.js
Owners: @d4vidi, @noomorph

feat(DetoxCopilot): initial commit.
  detox/src/copilot/DetoxCopilot.js
Owners: @d4vidi, @noomorph

build(copilot): add tsc-alias to resolve alias paths.
  detox-copilot/package.json
  detox-copilot/tsconfig.json
Owners: @d4vidi

feat(copilot): expose Copilot API from Detox.
  detox/detox.d.ts
  detox/src/DetoxWorker.js
  detox/src/copilot/DetoxCopilot.js
  detox/src/realms/DetoxContext.js
Owners: @d4vidi, @noomorph

test(unit): add copilot constructor tests for DetoxWorker.
  detox/src/DetoxWorker.test.js
Owners: @d4vidi, @noomorph

test(e2e): add copilot sanity tests.
  detox/test/e2e/38.copilot.sanity.test.js
Owners: @d4vidi, @noomorph

feat(copilot): expose copilot types publicly.
  detox-copilot/package.json
  detox-copilot/src/Copilot.test.ts
  detox-copilot/src/Copilot.ts
  detox-copilot/src/CopilotFacade.ts
  detox-copilot/src/actions/StepPerformer.test.ts
  detox-copilot/src/actions/StepPerformer.ts
  detox-copilot/src/index.ts
  detox-copilot/src/integration tests/index.test.ts
  detox-copilot/src/types.ts
  detox-copilot/src/utils/CodeEvaluator.test.ts
  detox-copilot/src/utils/PromptCreator.test.ts
  detox-copilot/src/utils/PromptCreator.ts
  detox-copilot/src/utils/SnapshotManager.ts
Owners: @d4vidi, @noomorph

test(unit): fix DetoxCopilot test.
  detox/src/copilot/DetoxCopilot.js
  detox/src/copilot/DetoxCopilot.test.js
Owners: @d4vidi, @noomorph

refactor(copilot): add type and document the copilot facade.
  detox-copilot/src/CopilotFacade.ts
  detox-copilot/src/index.ts
Owners: @d4vidi, @noomorph
