Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem

upgrade android to rn69
  detox/android/build.gradle
  detox/test/android/app/build.gradle
  detox/test/android/build.gradle
  detox/test/android/rninfo.gradle
  detox/test/android/settings.gradle
Owners: @d4vidi, @jonathanmos

upgrade ios to rn69
  .gitignore
  detox/ios/DetoxTester.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  detox/test/index.ios.js
  detox/test/ios/.xcode.env
  detox/test/ios/Podfile
  detox/test/ios/example.xcodeproj/project.pbxproj
Owners: @d4vidi, @asafkorem, @noomorph

upgrade ios example to rn69
  examples/demo-react-native/ios/Podfile
  examples/demo-react-native/ios/example.xcodeproj/project.pbxproj
  examples/demo-react-native/package.json
Owners: @d4vidi, @asafkorem

wip: remove DetoxTracer traces
  detox/src/client/AsyncWebSocket.js
  detox/src/logger/DetoxLogger.js
  detox/src/utils/streamUtils.js
Owners: @d4vidi, @noomorph

docs: add yarn plugin to website
  README.md
  docs/APIRef.DetoxCLI.md
  docs/Guide.Contributing.md
  docs/Guide.Jest.md
  docs/Guide.Migration.md
  docs/Guide.Mocha.md
  docs/Guide.ThirdPartyDrivers.md
  docs/Guide.Uninstalling.md
  docs/Introduction.GettingStarted.md
  examples/demo-native-ios/README.md
  examples/demo-react-native-detox-instruments/README.md
  website/docusaurus.config.js
  website/package.json
  website/patches/@docusaurus+core+2.0.0-beta.9.patch
Owners: @d4vidi, @noomorph

wip: fixes
  detox/internals.d.ts
  detox/runners/jest/testEnvironment/index.js
  detox/src/artifacts/ArtifactsManager.js
  detox/src/client/AsyncWebSocket.test.js
  detox/src/client/__snapshots__/AsyncWebSocket.test.js.snap
  detox/src/devices/allocation/DeviceAllocator.js
  detox/src/devices/allocation/drivers/android/emulator/EmulatorAllocDriver.js
  detox/src/devices/allocation/drivers/android/emulator/EmulatorLauncher.js
  detox/src/devices/runtime/RuntimeDevice.js
  detox/src/logger/DetoxLogger.js
  detox/src/logger/__mocks__/DetoxLogger.js
  detox/src/logger/tracing/legacy.js
  detox/src/realms/DetoxContext.js
  detox/src/realms/DetoxPrimaryContext.js
  detox/src/realms/DetoxSecondaryContext.js
  detox/src/symbols.js
  detox/src/utils/__mocks__/trace.js
  detox/src/utils/streamUtils.js
  detox/src/utils/trace.js
  detox/src/utils/trace.test.js
  detox/src/utils/traceMethods.js
Owners: @d4vidi, @noomorph

add delays back
  detox/test/e2e/12.animations.test.js
Owners: @d4vidi, @noomorph

wip: fix tests
  detox/local-cli/test.test.js
  detox/src/client/AsyncWebSocket.test.js
  detox/src/server/DetoxSession.js
Owners: @d4vidi, @noomorph

pr fixes
  detox/test/e2e/12.animations.test.js
Owners: @d4vidi, @noomorph

tests: fix `traceCall` mock to return promise when receiving a func.
  detox/src/utils/__mocks__/trace.js
Owners: @d4vidi, @noomorph

add rn69 to buildkite pipelines
  .buildkite/jobs/pipeline.android_demo_app_rn_69.yml
  .buildkite/jobs/pipeline.android_rn_69.yml
  .buildkite/jobs/pipeline.ios_demo_app_rn_69.yml
  .buildkite/jobs/pipeline.ios_rn_69.yml
  .buildkite/pipeline.debug.yml
  .buildkite/pipeline_common.sh
  README.md
  detox/android/build.gradle
  detox/package.json
  detox/test/ios/Podfile
  detox/test/package.json
  examples/demo-react-native/ios/Podfile
  examples/demo-react-native/package.json
Owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

Remove android build from ios demo project script
  scripts/demo-projects.ios.sh
Owners: @d4vidi, @noomorph

update android demo project to rn69
  examples/demo-react-native/android/app/build.gradle
  examples/demo-react-native/android/build.gradle
  examples/demo-react-native/android/rninfo.gradle
Owners: @d4vidi, @jonathanmos

wip: refactor DetoxLogger
  detox/__tests__/setupJest.js
  detox/src/logger/BunyanLogger.js
  detox/src/logger/DetoxLogger.js
  detox/src/realms/DetoxContext.js
Owners: @d4vidi, @noomorph

Fix detox base
  detox/android/build.gradle
  detox/android/detox/build.gradle
  detox/android/detox/src/testFull/java/com/wix/detox/espresso/action/DetoxMultiTapSpec.kt
Owners: @d4vidi, @jonathanmos

test: fix unit tests
  detox/src/artifacts/ArtifactsManager.test.js
  detox/src/configuration/composeLoggerConfig.test.js
  detox/src/devices/allocation/drivers/android/emulator/EmulatorVersionResolver.test.js
  detox/src/logger/DetoxLogger.js
  detox/src/logger/__mocks__/DetoxLogger.js
  detox/src/server/DetoxConnection.js
  detox/src/server/DetoxServer.test.js
  detox/src/server/__mocks__/FakeWebSocket.js
  detox/src/server/__snapshots__/DetoxServer.test.js.snap
  detox/src/server/__tests__/__snapshots__/server-integration.test.js.snap
  detox/src/server/__tests__/server-integration.test.js
  detox/src/server/handlers/RegisteredConnectionHandler.js
  detox/src/utils/errorUtils.test.js
  detox/src/utils/streamUtils.test.js
Owners: @d4vidi, @noomorph

draft is done
  detox/index.d.ts
  detox/test/types/detox-internals-tests.ts
  detox/test/types/detox-module-tests.ts
Owners: @d4vidi, @noomorph

attempt backwards compatibility for RN68
  detox/test/android/app/build.gradle
  detox/test/android/rninfo.gradle
  detox/test/android/settings.gradle
Owners: @d4vidi, @jonathanmos

cleanup reverse compatibility
  detox/android/build.gradle
  detox/test/android/app/build.gradle
  detox/test/android/build.gradle
  detox/test/android/rninfo.gradle
  detox/test/android/settings.gradle
Owners: @d4vidi, @jonathanmos

Fix android demo projects
  examples/demo-pure-native-android/app/build.gradle
  examples/demo-react-native/android/app/build.gradle
  examples/demo-react-native/android/rninfo.gradle
Owners: @d4vidi, @jonathanmos

Update build.gradle
  examples/demo-react-native/android/app/build.gradle
Owners: @d4vidi, @jonathanmos

ci: use Node 16 for website/release flows
  .buildkite/pipeline.release.fast.yml
  .github/workflows/website.yml
Owners: @d4vidi

docs: add yarn plugin to website (#3566)
  .buildkite/pipeline.release.fast.yml
  .github/workflows/website.yml
  README.md
  docs/APIRef.DetoxCLI.md
  docs/Guide.Contributing.md
  docs/Guide.Jest.md
  docs/Guide.Migration.md
  docs/Guide.Mocha.md
  docs/Guide.ThirdPartyDrivers.md
  docs/Guide.Uninstalling.md
  docs/Introduction.GettingStarted.md
  examples/demo-native-ios/README.md
  examples/demo-react-native-detox-instruments/README.md
  website/docusaurus.config.js
  website/package.json
  website/patches/@docusaurus+core+2.0.0-beta.9.patch
Owners: @d4vidi, @noomorph

Publish 19.11.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native-jest/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Publish docs version 19.x
  website/versioned_docs/version-19.x/APIRef.DetoxCLI.md
  website/versioned_docs/version-19.x/Guide.Contributing.md
  website/versioned_docs/version-19.x/Guide.Jest.md
  website/versioned_docs/version-19.x/Guide.Migration.md
  website/versioned_docs/version-19.x/Guide.Mocha.md
  website/versioned_docs/version-19.x/Guide.ThirdPartyDrivers.md
  website/versioned_docs/version-19.x/Guide.Uninstalling.md
  website/versioned_docs/version-19.x/Introduction.GettingStarted.md
  website/versioned_sidebars/version-19.x-sidebars.json
Owners: @d4vidi

Leave only rn 66 and 69 pipelines
  .buildkite/jobs/pipeline.android_demo_app_rn_68.yml
  .buildkite/jobs/pipeline.android_rn_66.yml
  .buildkite/jobs/pipeline.android_rn_68.yml
  .buildkite/jobs/pipeline.ios_demo_app_rn_66.yml
  .buildkite/jobs/pipeline.ios_rn_64.yml
  .buildkite/jobs/pipeline.ios_rn_66.yml
  .buildkite/pipeline.debug.yml
  .buildkite/pipeline_common.sh
  README.md
Owners: @d4vidi, @noomorph

restore 66 override
  detox/test/scripts/ReactAndroid_rn66_build.gradle
  detox/test/scripts/postinstall.js
Owners: @d4vidi, @jonathanmos, @noomorph

wip: fixes
  detox/src/logger/DetoxLogger.js
  detox/src/utils/streamUtils.js
Owners: @d4vidi, @noomorph

wip: fix verbosity for different levels
  detox/package.json
  detox/src/configuration/composeLoggerConfig.js
  detox/src/configuration/composeLoggerConfig.test.js
  detox/src/logger/DetoxLogger.js
Owners: @d4vidi, @noomorph

update kotlin in pure native demo instead of resolution strategy
  examples/demo-pure-native-android/app/build.gradle
  examples/demo-pure-native-android/build.gradle
Owners: @d4vidi, @jonathanmos

Remove rn64 postinstall support
  detox/test/android/build.gradle
  detox/test/scripts/ReactAndroid_rn64_build.gradle
  detox/test/scripts/postinstall.js
  examples/demo-react-native/android/build.gradle
Owners: @d4vidi, @jonathanmos, @noomorph

docs(website): fix npm/yarn selection
  website/docusaurus.config.js
Owners: @d4vidi, @noomorph

minor fixes
  detox/index.d.ts
  detox/runners/jest/testEnvironment/listeners/WorkerAssignReporter.js
  detox/src/configuration/composeLoggerConfig.js
  detox/src/configuration/composeLoggerConfig.test.js
  detox/src/configuration/index.js
  detox/src/logger/DetoxLogger.js
  detox/src/logger/__mocks__/DetoxLogger.js
  detox/src/logger/customConsoleLogger.js
  detox/src/logger/customConsoleLogger.test.js
  detox/src/realms/DetoxInternalsFacade.js
  detox/src/realms/DetoxSecondaryContext.js
Owners: @d4vidi, @noomorph

wip: reimplement log files collection via glob mechanism
  detox/package.json
  detox/src/artifacts/utils/temporaryPath.js
  detox/src/ipc/IPCClient.js
  detox/src/ipc/IPCServer.js
  detox/src/ipc/SessionState.js
  detox/src/ipc/state.js
  detox/src/logger/BunyanLogger.js
  detox/src/logger/DetoxLogger.js
  detox/src/realms/DetoxContext.js
  detox/src/realms/DetoxPrimaryContext.js
  detox/src/realms/DetoxSecondaryContext.js
Owners: @d4vidi, @noomorph

explicitly support rn 0.66.x-0.69.5 in readme
  README.md
Owners: @d4vidi

wip: hopefully last fixes
  detox/src/logger/DetoxLogger.js
  detox/src/logger/index.js
  detox/src/logger/tracing/DetoxTraceEventBuilder.js
  detox/src/logger/tracing/legacy.js
  detox/src/logger/utils/BunyanLogger.js
  detox/src/logger/utils/CategoryThreadDispatcher.js
  detox/src/logger/utils/MessageStack.js
  detox/src/logger/utils/ThreadDispatcher.js
  detox/src/logger/utils/customConsoleLogger.js
  detox/src/logger/utils/customConsoleLogger.test.js
  detox/src/logger/utils/sanitizeBunyanContext.js
  detox/src/logger/utils/tracerLegacy.js
  detox/src/realms/DetoxContext.js
  detox/src/utils/trace.test.js
Owners: @d4vidi, @noomorph

ci: remove non-relevant script
  scripts/demo-projects.android.sh
Owners: @d4vidi, @noomorph

Publish 20.0.5-breaking.new-global-lifecycle.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native-jest/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Update kotlin to 1.6.21 and remove resolution strategy
  detox/android/build.gradle
  detox/android/detox/build.gradle
  detox/android/detox/publishing.gradle
  detox/test/package.json
Owners: @d4vidi, @jonathanmos

Remove rn62 old code
  detox/android/build.gradle
  detox/android/detox/src/full/java/com/wix/detox/reactnative/ReactNativeIdlingResources.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/timers/DefaultIdleInterrogationStrategy.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/timers/DelegatedIdleInterrogationStrategy.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/timers/IdleInterrogationStrategy.kt
  detox/android/detox/src/testFull/java/com/wix/detox/reactnative/idlingresources/timers/DelegatedIdleInterrogationStrategySpec.kt
  detox/test/android/build.gradle
Owners: @d4vidi, @jonathanmos
