Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

Added padding to support edge to edge
  detox/test/src/app.js
Owners: @d4vidi, @noomorph

Fixed Android tests for api 35
  detox/test/e2e/33.attributes.test.js
  detox/test/e2e/assets/elementScreenshot.vert.android.png
  detox/test/e2e/assets/focus-on-content-editable-webview.android.png
  detox/test/e2e/assets/focus-on-input-webview.android.png
  detox/test/e2e/assets/move-cursor-to-end-content-editable-webview.android.png
  detox/test/e2e/assets/move-cursor-to-end-webview.android.png
  detox/test/e2e/assets/scroll-to-view-webview.android.png
  detox/test/e2e/assets/select-all-text-in-content-editable-webview.android.png
  detox/test/e2e/assets/select-all-text-in-webview.android.png
  detox/test/e2e/assets/view-hierarchy-web-view.73.android.txt
  detox/test/e2e/assets/view-hierarchy-web-view.75.android.txt
  detox/test/e2e/assets/view-hierarchy-web-view.76.android.txt
  detox/test/e2e/assets/view-hierarchy-with-test-id-injection.73.android.txt
  detox/test/e2e/assets/view-hierarchy-with-test-id-injection.75.android.txt
  detox/test/e2e/assets/view-hierarchy-with-test-id-injection.76.android.txt
  detox/test/e2e/assets/view-hierarchy-without-test-id-injection.73.android.txt
  detox/test/e2e/assets/view-hierarchy-without-test-id-injection.75.android.txt
  detox/test/e2e/assets/view-hierarchy-without-test-id-injection.76.android.txt
  detox/test/e2e/detox.config.js
  detox/test/e2e/utils/snapshot.js
Owners: @d4vidi, @noomorph

Fixed Android tests for api 35
  detox/test/e2e/33.attributes.test.js
Owners: @d4vidi, @noomorph

Fixed Android tests for api 35
  detox/test/src/Screens/DragNDropScreen.tsx
Owners: @d4vidi

Added videos for allure reports
  detox/test/e2e/detox.config.js
Owners: @d4vidi, @noomorph

Increase swipe delay to support sdk 35
  detox/android/detox/src/main/java/com/wix/detox/espresso/scroll/LinearSwiper.kt
Owners: @d4vidi, @jonathanmos

Reduce the amount of motion events for scrolling
  detox/android/detox/src/main/java/com/wix/detox/espresso/scroll/ScrollHelper.java
Owners: @d4vidi, @jonathanmos

Fixed ios webview screenshots
  detox/test/e2e/assets/cross-origin-frame.replace-text.ios.new-arch.png
  detox/test/e2e/assets/cross-origin-frame.type-text-in.ios.new-arch.png
  detox/test/e2e/assets/focus-on-content-editable-webview.ios.new-arch.png
  detox/test/e2e/assets/focus-on-input-webview.ios.new-arch.png
  detox/test/e2e/assets/move-cursor-to-end-content-editable-webview.ios.new-arch.png
  detox/test/e2e/assets/move-cursor-to-end-webview.ios.new-arch.png
  detox/test/e2e/assets/scroll-to-view-webview.ios.new-arch.png
  detox/test/e2e/assets/select-all-text-in-content-editable-webview.ios.new-arch.png
  detox/test/e2e/assets/select-all-text-in-webview.ios.new-arch.png
  detox/test/e2e/assets/tap-on-cross-origin-frame-element.ios.new-arch.png
  detox/test/e2e/assets/typing-keep-cursor-position-webview-content-editable-1.ios.new-arch.png
  detox/test/e2e/assets/typing-keep-cursor-position-webview-content-editable-2.ios.new-arch.png
  detox/test/e2e/assets/typing-keep-cursor-position-webview-input-1.ios.new-arch.png
  detox/test/e2e/assets/typing-keep-cursor-position-webview-input-2.ios.new-arch.png
Owners: @d4vidi

Disable ios overlay
  detox/test/ios/UI/OverlayMessageView.swift
  detox/test/src/app.js
Owners: @asafkorem, @d4vidi, @noomorph

Revert "Disable ios overlay"
  detox/test/ios/UI/OverlayMessageView.swift
  detox/test/src/app.js
Owners: @asafkorem, @d4vidi, @noomorph

Revert "Fixed ios webview screenshots"
  detox/test/e2e/assets/cross-origin-frame.replace-text.ios.new-arch.png
  detox/test/e2e/assets/cross-origin-frame.type-text-in.ios.new-arch.png
  detox/test/e2e/assets/focus-on-content-editable-webview.ios.new-arch.png
  detox/test/e2e/assets/focus-on-input-webview.ios.new-arch.png
  detox/test/e2e/assets/move-cursor-to-end-content-editable-webview.ios.new-arch.png
  detox/test/e2e/assets/move-cursor-to-end-webview.ios.new-arch.png
  detox/test/e2e/assets/scroll-to-view-webview.ios.new-arch.png
  detox/test/e2e/assets/select-all-text-in-content-editable-webview.ios.new-arch.png
  detox/test/e2e/assets/select-all-text-in-webview.ios.new-arch.png
  detox/test/e2e/assets/tap-on-cross-origin-frame-element.ios.new-arch.png
  detox/test/e2e/assets/typing-keep-cursor-position-webview-content-editable-1.ios.new-arch.png
  detox/test/e2e/assets/typing-keep-cursor-position-webview-content-editable-2.ios.new-arch.png
  detox/test/e2e/assets/typing-keep-cursor-position-webview-input-1.ios.new-arch.png
  detox/test/e2e/assets/typing-keep-cursor-position-webview-input-2.ios.new-arch.png
Owners: @d4vidi

Fixed merging
  detox/test/src/app.js
Owners: @d4vidi, @noomorph

Fixed tests. Removed old screenshots
  detox/test/e2e/assets/elementScreenshot.horiz.android.png
  detox/test/e2e/assets/elementScreenshot.vert.android.png
  detox/test/e2e/assets/focus-on-content-editable-webview.android.png
  detox/test/e2e/assets/focus-on-input-webview.android.png
  detox/test/e2e/assets/move-cursor-to-end-content-editable-webview.android.png
  detox/test/e2e/assets/move-cursor-to-end-webview.android.png
  detox/test/e2e/assets/scroll-to-view-webview.android.png
  detox/test/e2e/assets/select-all-text-in-content-editable-webview.android.png
  detox/test/e2e/assets/select-all-text-in-webview.android.png
Owners: @d4vidi

Fixed iOS screenshots
  detox/test/e2e/assets/cross-origin-frame.clear-text.ios.new-arch.png
  detox/test/e2e/assets/cross-origin-frame.replace-text.ios.new-arch.png
  detox/test/e2e/assets/cross-origin-frame.type-text-in.ios.new-arch.png
  detox/test/e2e/assets/elementScreenshot.horiz.ios.new-arch.png
  detox/test/e2e/assets/elementScreenshot.vert.ios.new-arch.png
  detox/test/e2e/assets/focus-on-content-editable-webview.ios.new-arch.png
  detox/test/e2e/assets/focus-on-input-webview.ios.new-arch.png
  detox/test/e2e/assets/move-cursor-to-end-content-editable-webview.ios.new-arch.png
  detox/test/e2e/assets/move-cursor-to-end-webview.ios.new-arch.png
  detox/test/e2e/assets/scroll-to-view-webview.ios.new-arch.png
  detox/test/e2e/assets/select-all-text-in-content-editable-webview.ios.new-arch.png
  detox/test/e2e/assets/select-all-text-in-webview.ios.new-arch.png
  detox/test/e2e/assets/tap-on-cross-origin-frame-element.ios.new-arch.png
  detox/test/e2e/assets/typing-keep-cursor-position-webview-content-editable-1.ios.new-arch.png
  detox/test/e2e/assets/typing-keep-cursor-position-webview-content-editable-2.ios.new-arch.png
  detox/test/e2e/assets/typing-keep-cursor-position-webview-input-1.ios.new-arch.png
  detox/test/e2e/assets/typing-keep-cursor-position-webview-input-2.ios.new-arch.png
Owners: @d4vidi

Fixed iOS screenshots
  detox/test/e2e/assets/cross-origin-frame.clear-text.ios.png
  detox/test/e2e/assets/cross-origin-frame.replace-text.ios.png
  detox/test/e2e/assets/cross-origin-frame.type-text-in.ios.png
  detox/test/e2e/assets/focus-on-content-editable-webview.ios.png
  detox/test/e2e/assets/focus-on-input-webview.ios.png
  detox/test/e2e/assets/move-cursor-to-end-content-editable-webview.ios.png
  detox/test/e2e/assets/move-cursor-to-end-webview.ios.png
  detox/test/e2e/assets/scroll-to-view-webview.ios.png
  detox/test/e2e/assets/select-all-text-in-content-editable-webview.ios.png
  detox/test/e2e/assets/select-all-text-in-webview.ios.png
  detox/test/e2e/assets/tap-on-cross-origin-frame-element.ios.png
  detox/test/e2e/assets/typing-keep-cursor-position-webview-content-editable-1.ios.png
  detox/test/e2e/assets/typing-keep-cursor-position-webview-content-editable-2.ios.png
  detox/test/e2e/assets/typing-keep-cursor-position-webview-input-1.ios.png
  detox/test/e2e/assets/typing-keep-cursor-position-webview-input-2.ios.png
  detox/test/e2e/assets/view-hierarchy-web-view.76.ios.txt
  detox/test/e2e/assets/view-hierarchy-with-test-id-injection.76.ios.txt
  detox/test/e2e/assets/view-hierarchy-without-test-id-injection.76.ios.txt
  detox/test/e2e/pilot/__pilot_cache__/05.system.test.json
Owners: @d4vidi

Fixed iOS snapshots
  detox/test/e2e/assets/view-hierarchy-web-view.75.ios.txt
  detox/test/e2e/assets/view-hierarchy-with-test-id-injection.75.ios.txt
  detox/test/e2e/assets/view-hierarchy-without-test-id-injection.75.ios.txt
Owners: @d4vidi

Fixed iOS snapshots
  detox/test/e2e/assets/view-hierarchy-web-view.73.ios.txt
  detox/test/e2e/assets/view-hierarchy-with-test-id-injection.73.ios.txt
  detox/test/e2e/assets/view-hierarchy-without-test-id-injection.73.ios.txt
Owners: @d4vidi

update skia dependency
  detox/test/package.json
Owners: @d4vidi

Fixed ios tap tests
  detox/test/e2e/06.device-tap.test.js
Owners: @d4vidi, @noomorph

Fixed ios tap tests
  detox/test/e2e/pilot/__pilot_cache__/05.system.test.json
Owners: @d4vidi

Update snapshot.js
  detox/test/e2e/utils/snapshot.js
Owners: @d4vidi, @noomorph

Fixed android tap tests
  detox/test/e2e/06.device-tap.test.js
Owners: @d4vidi, @noomorph

fix skia native dep resolution error
  detox/test/metro.config.js
Owners: @d4vidi, @noomorph

use Current Element canvas as template
  detox/test/src/Screens/CanvasScreenshotScreen.js
Owners: @d4vidi, @noomorph

add skia screenshot test
  detox/test/e2e/38.canvas-screenshots.test.js
Owners: @d4vidi, @noomorph

Use existing absolute positioning functions instead of manually adding up relative changes, which would be more error prone
  detox/android/detox/src/main/java/com/wix/detox/espresso/action/ViewScreenshot.kt
Owners: @d4vidi, @jonathanmos

make test run on android only
  detox/test/e2e/38.canvas-screenshots.test.js
Owners: @d4vidi, @noomorph

add screenshots from tests
  detox/test/e2e/assets/canvasScreenshot.horiz.android.png
  detox/test/e2e/assets/canvasScreenshot.vert.android.png
Owners: @d4vidi

update skia to newest version
  detox/test/package.json
Owners: @d4vidi

fix typo
  detox/android/detox/src/main/java/com/wix/detox/espresso/action/ViewScreenshot.kt
Owners: @d4vidi, @jonathanmos

update all version occurences of react native
  .buildkite/jobs/pipeline.android_demo_app_rn_77.yml
  .buildkite/jobs/pipeline.android_rn_76.yml
  .buildkite/jobs/pipeline.android_rn_77_old_arch.yml
  .buildkite/jobs/pipeline.ios_demo_app_rn_76_new_arch.yml
  .buildkite/jobs/pipeline.ios_rn_77.yml
  .buildkite/jobs/pipeline.ios_rn_77_new_arch.yml
  .buildkite/pipeline_common.sh
  detox/package.json
  detox/test/package.json
  examples/demo-react-native/package.json
Owners: @d4vidi, @noomorph

adjust kotlin and ndk version
  detox/android/build.gradle
  detox/test/android/build.gradle
  examples/demo-react-native/android/build.gradle
Owners: @d4vidi, @jonathanmos

update app delegate
  detox/test/ios/AppDelegate.m
  examples/demo-react-native/ios/example/AppDelegate.m
Owners: @asafkorem

update types
  detox/test/metro.config.js
  examples/demo-react-native/metro.config.js
Owners: @d4vidi, @noomorph

Enabled more pipelines in buildkite
  .buildkite/jobs/pipeline.android_rn_76.yml
  .buildkite/jobs/pipeline.android_rn_77.yml
  .buildkite/jobs/pipeline.android_rn_77_old_arch.yml
  .buildkite/jobs/pipeline.ios_demo_app_rn_77.yml
  .buildkite/jobs/pipeline.ios_rn_76.yml
  .buildkite/jobs/pipeline.ios_rn_77_old_arch.yml
  .buildkite/pipeline_common.sh
Owners: @d4vidi, @noomorph

Fixed ios build on rn < 77
  .buildkite/jobs/pipeline.ios_rn_76.yml
  detox/test/ios/AppDelegate.m
Owners: @d4vidi, @asafkorem

fix(cli): support monorepos with --inspect-brk
  detox/src/configuration/composeRunnerConfig.js
Owners: @d4vidi, @noomorph

fix(cli): support monorepos with --inspect-brk (#4761)
  detox/src/configuration/composeRunnerConfig.js
Owners: @d4vidi, @noomorph

Publish 20.36.5 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Update README.md
  README.md
Owners: @d4vidi

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem
