Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem

feat: device.resetAppState([...bundleIds])
  detox/detox.d.ts
  detox/src/configuration/composeBehaviorConfig.js
  detox/src/configuration/composeBehaviorConfig.test.js
  detox/src/devices/common/drivers/android/exec/ADB.js
  detox/src/devices/runtime/RuntimeDevice.js
  detox/src/devices/runtime/RuntimeDevice.test.js
  detox/src/devices/runtime/drivers/DeviceDriverBase.js
  detox/src/devices/runtime/drivers/android/AndroidDriver.js
  detox/src/devices/runtime/drivers/ios/AppStateResetShim.js
  detox/src/devices/runtime/drivers/ios/AppStateResetShim.test.js
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.test.js
  detox/test/e2e/06.device.test.js
  docs/api/device.md
  docs/config/behavior.mdx
Owners: @d4vidi, @noomorph

revert to iOS 17.0.1
  detox/test/e2e/detox.config.js
  examples/demo-react-native/detox.config.js
Owners: @d4vidi, @noomorph

crash fix
  detox/ios/Detox/Invocation/WKWebViewConfiguration+Detox.m
Owners: @asafkorem

fix: Flaky animations test (on Google emuls)
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/animations/AnimatedModuleIdlingResource.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/uimodule/fabric/FabricUIManagerIdlingResources.kt
Owners: @d4vidi, @jonathanmos

fix: Flaky animations test (on Google emuls)
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/animations/AnimatedModuleIdlingResource.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/uimodule/fabric/FabricUIManagerIdlingResources.kt
Owners: @d4vidi, @jonathanmos

Improve log
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/animations/AnimatedModuleIdlingResource.kt
Owners: @d4vidi, @jonathanmos

Fix flakiness of animations sync in new-arch (#4831)
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/animations/AnimatedModuleIdlingResource.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/uimodule/fabric/FabricUIManagerIdlingResources.kt
Owners: @d4vidi, @jonathanmos

Publish 20.41.2 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

fix(android): Flaky async-storage idling resource test
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/DetoxIdlingResource.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/ReactNativeIdlingResources.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/StabilizedIdlingResource.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/factory/FabricDetoxIdlingResourceFactoryStrategy.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/storage/AsyncStorageIdlingResource.kt
Owners: @d4vidi, @jonathanmos

Code-comments rephrasing
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/StabilizedIdlingResource.kt
Owners: @d4vidi, @jonathanmos

Perform some clean-ups
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/StabilizedIdlingResource.kt
  detox/test/package.json
  scripts/ci.android.sh
Owners: @d4vidi, @jonathanmos, @noomorph

Try 3-emulators concurrency
  detox/test/e2e/jest.config.js
Owners: @d4vidi, @noomorph

(CI) Switch to Google ARM emulators for SDK35 (#4814)
  .buildkite/jobs/pipeline.android_rn_79.yml
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/DetoxIdlingResource.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/ReactNativeIdlingResources.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/StabilizedIdlingResource.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/factory/FabricDetoxIdlingResourceFactoryStrategy.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/storage/AsyncStorageIdlingResource.kt
  detox/test/e2e/detox.config.js
  detox/test/e2e/helpers/AndroidUIInit/DeviceInitCache.js
  detox/test/e2e/helpers/AndroidUIInit/index.js
  detox/test/e2e/testEnvironment.js
  detox/test/e2e/utils/sleep.js
  scripts/ci.android.sh
Owners: @d4vidi, @jonathanmos, @noomorph

Publish 20.41.3 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

feat(android): include density in view hierarchy xml
  detox/android/detox/src/full/java/com/wix/detox/espresso/hierarchy/ViewHierarchyGenerator.kt
Owners: @d4vidi, @jonathanmos

feat: device.resetAppState([...bundleIds])
  detox/detox.d.ts
  detox/src/configuration/composeBehaviorConfig.js
  detox/src/configuration/composeBehaviorConfig.test.js
  detox/src/devices/common/drivers/android/exec/ADB.js
  detox/src/devices/runtime/RuntimeDevice.js
  detox/src/devices/runtime/RuntimeDevice.test.js
  detox/src/devices/runtime/drivers/DeviceDriverBase.js
  detox/src/devices/runtime/drivers/android/AndroidDriver.js
  detox/src/devices/runtime/drivers/ios/AppStateResetShim.js
  detox/src/devices/runtime/drivers/ios/AppStateResetShim.test.js
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.test.js
  detox/test/e2e/06.device.test.js
  docs/api/device.md
  docs/config/behavior.mdx
Owners: @d4vidi, @noomorph

feat(android): include density in view hierarchy xml (#4835)
  detox/android/detox/src/full/java/com/wix/detox/espresso/hierarchy/ViewHierarchyGenerator.kt
Owners: @d4vidi, @jonathanmos

fix(ios): device creation with new applesimutils
  detox/src/devices/allocation/drivers/ios/SimulatorAllocDriver.js
Owners: @d4vidi, @noomorph

fix(ios): device creation with new applesimutils (#4836)
  detox/src/devices/allocation/drivers/ios/SimulatorAllocDriver.js
Owners: @d4vidi, @noomorph

wip
  detox/detox.d.ts
  detox/src/devices/allocation/drivers/ios/SimulatorAllocDriver.js
  detox/src/devices/runtime/RuntimeDevice.js
  detox/src/devices/runtime/drivers/ios/AppStateResetFallback.js
  detox/src/devices/runtime/drivers/ios/AppStateResetFallback.test.js
  detox/src/devices/runtime/drivers/ios/AppStateResetShim.js
  detox/src/devices/runtime/drivers/ios/AppStateResetShim.test.js
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.test.js
  detox/src/utils/environment.js
  detox/src/utils/fsext.js
  detox/test/types/detox-global-tests.ts
Owners: @d4vidi, @noomorph

wip2
  detox/src/devices/common/drivers/ios/tools/SimulatorAppCache.js
  detox/src/devices/common/drivers/ios/tools/SimulatorAppCache.test.js
Owners: @d4vidi, @noomorph

feat: device.resetAppState([...bundleIds])
  detox/detox.d.ts
  detox/src/configuration/composeBehaviorConfig.js
  detox/src/configuration/composeBehaviorConfig.test.js
  detox/src/devices/common/drivers/android/exec/ADB.js
  detox/src/devices/runtime/RuntimeDevice.js
  detox/src/devices/runtime/RuntimeDevice.test.js
  detox/src/devices/runtime/drivers/DeviceDriverBase.js
  detox/src/devices/runtime/drivers/android/AndroidDriver.js
  detox/src/devices/runtime/drivers/ios/AppStateResetShim.js
  detox/src/devices/runtime/drivers/ios/AppStateResetShim.test.js
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.test.js
  detox/test/e2e/06.device.test.js
  docs/api/device.md
  docs/config/behavior.mdx
Owners: @d4vidi, @noomorph

refactor: follow-up fixes
  detox/detox.d.ts
  detox/src/configuration/composeBehaviorConfig.js
  detox/src/configuration/composeBehaviorConfig.test.js
  detox/src/devices/allocation/drivers/ios/SimulatorAllocDriver.js
  detox/src/devices/common/drivers/android/exec/ADB.js
  detox/src/devices/common/drivers/android/exec/ADB.test.js
  detox/src/devices/common/drivers/android/exec/__snapshots__/ADB.test.js.snap
  detox/src/devices/common/drivers/ios/tools/SimulatorAppCache.js
  detox/src/devices/common/drivers/ios/tools/SimulatorAppCache.test.js
  detox/src/devices/common/drivers/ios/tools/__snapshots__/SimulatorAppCache.test.js.snap
  detox/src/devices/runtime/RuntimeDevice.js
  detox/src/devices/runtime/RuntimeDevice.test.js
  detox/src/devices/runtime/drivers/android/AndroidDriver.test.js
  detox/src/devices/runtime/drivers/ios/AppStateResetFallback.js
  detox/src/devices/runtime/drivers/ios/AppStateResetFallback.test.js
  detox/src/devices/runtime/drivers/ios/AppStateResetShim.js
  detox/src/devices/runtime/drivers/ios/AppStateResetShim.test.js
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.test.js
  detox/src/utils/environment.js
  detox/src/utils/fsext.js
  detox/src/utils/fsext.test.js
  detox/src/utils/tempfile.test.js
  detox/test/e2e/06.device.test.js
  detox/test/types/detox-global-tests.ts
  docs/api/device.md
  docs/config/behavior.mdx
Owners: @d4vidi, @noomorph

docs: fix typos
  detox/detox.d.ts
  docs/api/device.md
Owners: @d4vidi, @noomorph

feat: device.resetAppState([...bundleIds]) (#4819)
  detox/detox.d.ts
  detox/src/devices/allocation/drivers/ios/SimulatorAllocDriver.js
  detox/src/devices/common/drivers/android/exec/ADB.js
  detox/src/devices/common/drivers/android/exec/ADB.test.js
  detox/src/devices/common/drivers/android/exec/__snapshots__/ADB.test.js.snap
  detox/src/devices/common/drivers/ios/tools/SimulatorAppCache.js
  detox/src/devices/common/drivers/ios/tools/SimulatorAppCache.test.js
  detox/src/devices/common/drivers/ios/tools/__snapshots__/SimulatorAppCache.test.js.snap
  detox/src/devices/runtime/RuntimeDevice.js
  detox/src/devices/runtime/RuntimeDevice.test.js
  detox/src/devices/runtime/drivers/DeviceDriverBase.js
  detox/src/devices/runtime/drivers/android/AndroidDriver.js
  detox/src/devices/runtime/drivers/android/AndroidDriver.test.js
  detox/src/devices/runtime/drivers/ios/AppStateResetFallback.js
  detox/src/devices/runtime/drivers/ios/AppStateResetFallback.test.js
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.test.js
  detox/src/utils/environment.js
  detox/src/utils/fsext.js
  detox/src/utils/fsext.test.js
  detox/src/utils/tempfile.test.js
  detox/test/e2e/06.device.test.js
  detox/test/types/detox-global-tests.ts
  docs/api/device.md
Owners: @d4vidi, @noomorph

fix: broken reporter output (#4804)
  detox/runners/jest/reporter.js
Owners: @d4vidi, @noomorph

test(e2e): update android xml hierarchy snapshots
  detox/test/e2e/assets/view-hierarchy-web-view.73.android.txt
  detox/test/e2e/assets/view-hierarchy-web-view.75.android.txt
  detox/test/e2e/assets/view-hierarchy-web-view.76.android.txt
  detox/test/e2e/assets/view-hierarchy-with-test-id-injection.73.android.txt
  detox/test/e2e/assets/view-hierarchy-with-test-id-injection.75.android.txt
  detox/test/e2e/assets/view-hierarchy-with-test-id-injection.76.android.txt
  detox/test/e2e/assets/view-hierarchy-without-test-id-injection.73.android.txt
  detox/test/e2e/assets/view-hierarchy-without-test-id-injection.75.android.txt
  detox/test/e2e/assets/view-hierarchy-without-test-id-injection.76.android.txt
Owners: @d4vidi

test(e2e): update android xml hierarchy snapshots (#4838)
  detox/test/e2e/assets/view-hierarchy-web-view.73.android.txt
  detox/test/e2e/assets/view-hierarchy-web-view.75.android.txt
  detox/test/e2e/assets/view-hierarchy-web-view.76.android.txt
  detox/test/e2e/assets/view-hierarchy-with-test-id-injection.73.android.txt
  detox/test/e2e/assets/view-hierarchy-with-test-id-injection.75.android.txt
  detox/test/e2e/assets/view-hierarchy-with-test-id-injection.76.android.txt
  detox/test/e2e/assets/view-hierarchy-without-test-id-injection.73.android.txt
  detox/test/e2e/assets/view-hierarchy-without-test-id-injection.75.android.txt
  detox/test/e2e/assets/view-hierarchy-without-test-id-injection.76.android.txt
Owners: @d4vidi

fix: sanitize dollar sign in artifact names
  detox/src/utils/constructSafeFilename.js
  detox/src/utils/constructSafeFilename.test.js
Owners: @d4vidi, @noomorph

ci: fix iframe error
  scripts/create_iframe_html.js
  scripts/create_redirect_html.js
  scripts/upload_artifact.sh
Owners: @d4vidi, @noomorph

ci: enable logs and screenshots via adapter
  detox/test/e2e/jest.config.js
Owners: @d4vidi, @noomorph

chore: update 3rd party deps
  detox/package.json
  detox/test/package.json
Owners: @d4vidi

fix: sanitize dollar sign in artifact names (#4820)
  detox/package.json
  detox/src/utils/constructSafeFilename.js
  detox/src/utils/constructSafeFilename.test.js
  detox/test/e2e/jest.config.js
  detox/test/package.json
  scripts/create_iframe_html.js
  scripts/create_redirect_html.js
  scripts/upload_artifact.sh
Owners: @d4vidi, @noomorph

Publish 20.42.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Publish docs version 20.x
  website/versioned_docs/version-20.x/api/device.md
Owners: @d4vidi

chore: upgrade detox-allure2-adapter
  detox/test/e2e/jest.config.js
  detox/test/package.json
Owners: @d4vidi, @noomorph

chore: upgrade detox-allure2-adapter (#4839)
  detox/test/e2e/jest.config.js
  detox/test/package.json
Owners: @d4vidi, @noomorph

Let's help the user and create a registration for swift appdelegate
  detox/ios/Detox.xcodeproj/project.pbxproj
  detox/ios/Detox/Utilities/ReactNativeSupport/ReactNativeSupport.m
  detox/ios/Detox/Utilities/SwiftSupport/DetoxSwiftBridge.h
  detox/ios/Detox/Utilities/SwiftSupport/DetoxSwiftBridge.m
Owners: @asafkorem

#4760 - reloadApp in swift - using reflection
  detox/ios/Detox.xcodeproj/project.pbxproj
  detox/ios/Detox/Utilities/ReactNativeSupport/ReactNativeSupport.m
  detox/ios/Detox/Utilities/SwiftSupport/DetoxSwiftBridge.h
  detox/ios/Detox/Utilities/SwiftSupport/DetoxSwiftBridge.m
Owners: @asafkorem

update logic a bit to first check the objc origional code
  detox/ios/Detox/Utilities/ReactNativeSupport/ReactNativeSupport.m
  detox/ios/Detox/Utilities/SwiftSupport/DetoxSwiftBridge.m
Owners: @asafkorem
