Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem

Implemented auto linking
  detox/test/android/app/src/main/java/com/example/DetoxRNHost.kt
  detox/test/android/app/src/main/java/com/example/MainActivity.kt
  detox/test/android/app/src/main/java/com/example/MainApplication.kt
  examples/demo-react-native/android/app/build.gradle
  examples/demo-react-native/android/settings.gradle
Owners: @d4vidi, @jonathanmos

Added support for auto linkage for rn 75 in demo project
  detox/test/android/app/src/main/java/com/example/ReactNativeAdapter.java
  detox/test/package.json
  examples/demo-react-native/android/app/build.gradle
  examples/demo-react-native/android/app/src/main/java/com/example/MainApplication.java
  examples/demo-react-native/android/settings.gradle
  examples/demo-react-native/ios/example.xcodeproj/project.pbxproj
  examples/demo-react-native/package.json
Owners: @d4vidi, @jonathanmos, @asafkorem

Fix auto linkage for rn < 75
  detox/test/android/app/build.gradle
  detox/test/android/settings.gradle
Owners: @d4vidi, @jonathanmos

Fixed android new arch
  detox/test/android/app/src/main/java/com/example/MainApplication.kt
Owners: @d4vidi, @jonathanmos

TMP log
  detox/test/e2e/06.device.view-hierarchy.test.js
Owners: @d4vidi, @noomorph

Support rnwebview >=13.0.0
  detox/android/detox/src/full/java/com/wix/detox/espresso/web/DetoxWebAtomMatcher.java
  detox/android/detox/src/full/java/com/wix/detox/espresso/web/WebViewElement.java
Owners: @d4vidi, @jonathanmos

Support rnwebview >=13.0.0
  detox/android/detox/src/full/java/com/wix/detox/espresso/web/DetoxWebAtomMatcher.java
  detox/android/detox/src/full/java/com/wix/detox/espresso/web/WebElement.java
  detox/android/detox/src/full/java/com/wix/detox/espresso/web/WebViewElement.java
  detox/test/e2e/assets/scroll-to-view-webview.android.png
Owners: @d4vidi, @jonathanmos

Added view-hierarchy-test snapshots
  detox/test/e2e/assets/view-hierarchy-web-view.75.android.txt
  detox/test/e2e/assets/view-hierarchy-with-test-id-injection.75.android.txt
  detox/test/e2e/assets/view-hierarchy-without-test-id-injection.75.android.txt
Owners: @d4vidi

Added iOS view hierarchy test
  detox/test/e2e/assets/view-hierarchy-web-view.75.ios.txt
  detox/test/e2e/assets/view-hierarchy-with-test-id-injection.75.ios.txt
  detox/test/e2e/assets/view-hierarchy-without-test-id-injection.75.ios.txt
Owners: @d4vidi

fix: Resolve the bug in redirecting to docs
  website/docusaurus.config.js
  website/package.json
Owners: @d4vidi, @noomorph

docs(website): fix redirecting in docs (#4651)
  website/docusaurus.config.js
  website/package.json
Owners: @d4vidi, @noomorph

Fixed snapshots
  detox/test/e2e/assets/view-hierarchy-web-view.73.android.txt
  detox/test/e2e/assets/view-hierarchy-web-view.73.ios.txt
Owners: @d4vidi

Fixed snapshots
  detox/test/e2e/06.device.view-hierarchy.test.js
  detox/test/e2e/assets/view-hierarchy-web-view.75.android.txt
  detox/test/e2e/assets/view-hierarchy-web-view.75.ios.txt
  detox/test/e2e/assets/view-hierarchy-with-test-id-injection.75.android.txt
  detox/test/e2e/assets/view-hierarchy-with-test-id-injection.75.ios.txt
  detox/test/e2e/assets/view-hierarchy-without-test-id-injection.75.android.txt
  detox/test/e2e/assets/view-hierarchy-without-test-id-injection.75.ios.txt
Owners: @d4vidi, @noomorph

Upgraded docs
  README.md
Owners: @d4vidi

Update README.md
  README.md
Owners: @d4vidi

Update detox/test/android/app/src/main/java/com/example/MainActivity.kt
  detox/test/android/app/src/main/java/com/example/MainActivity.kt
Owners: @d4vidi, @jonathanmos

Update detox/android/detox/src/full/java/com/wix/detox/espresso/web/WebViewElement.java
  detox/android/detox/src/full/java/com/wix/detox/espresso/web/WebViewElement.java
Owners: @d4vidi, @jonathanmos

Fixes after PR
  .buildkite/jobs/pipeline.android_rn_74.yml
  .buildkite/jobs/pipeline.ios_demo_app_rn_74.yml
  .buildkite/jobs/pipeline.ios_rn_74.yml
  .buildkite/pipeline_common.sh
  detox/android/settings.gradle
  detox/scripts/updateGradle.js
  detox/test/android/settings.gradle
Owners: @d4vidi, @noomorph, @jonathanmos

Fixes after PR
  detox/android/detox/src/full/java/com/wix/detox/espresso/web/WebViewElement.java
Owners: @d4vidi, @jonathanmos

Enabled react native 76
  .gitignore
  detox/android/build.gradle
  detox/android/gradle/wrapper/gradle-wrapper.properties
  detox/package.json
  detox/scripts/updateGradle.js
  detox/test/android/app/src/main/java/com/example/MainApplication.kt
  detox/test/android/build.gradle
  detox/test/android/gradle.properties
  detox/test/android/gradle/wrapper/gradle-wrapper.properties
  detox/test/package.json
  examples/demo-react-native/android/build.gradle
  examples/demo-react-native/android/gradle.properties
  examples/demo-react-native/ios/example.xcodeproj/project.pbxproj
  examples/demo-react-native/package.json
Owners: @d4vidi, @jonathanmos, @noomorph, @asafkorem

Enabled react native 76
  examples/demo-react-native/android/gradle/wrapper/gradle-wrapper.properties
Owners: @d4vidi

Disabled new arch
  detox/test/android/gradle.properties
  examples/demo-react-native/android/gradle.properties
Owners: @d4vidi, @jonathanmos

Enable build on rn76
  .buildkite/jobs/pipeline.android_rn_76.yml
  .buildkite/jobs/pipeline.ios_demo_app_rn_76.yml
  .buildkite/jobs/pipeline.ios_rn_76.yml
Owners: @d4vidi

Enable build on rn76
  .buildkite/jobs/pipeline.android_demo_app_rn_76.yml
  .buildkite/pipeline_common.sh
Owners: @d4vidi, @noomorph

Disabled new arch for iOS
  detox/test/ios/Podfile
Owners: @asafkorem

Fixed build for react native demo app
  examples/demo-react-native/android/app/build.gradle
  examples/demo-react-native/android/app/src/main/java/com/example/MainApplication.java
  examples/demo-react-native/android/build.gradle
  examples/demo-react-native/android/gradle.properties
  examples/demo-react-native/package.json
Owners: @d4vidi, @jonathanmos

Support rn < 76 tests
  detox/android/detox/src/full/java/com/wix/detox/reactnative/ReactNativeInfo.kt
  detox/test/android/app/src/main/java/com/example/MainApplication.kt
  detox/test/android/app/src/main/java/com/example/utils/DetoxSoLoader.kt
Owners: @d4vidi, @jonathanmos

Fixed validation
  examples/demo-react-native/android/gradle/wrapper/gradle-wrapper.properties
Owners: @d4vidi

Updated docs of supported react native versions
  README.md
Owners: @d4vidi

Fixed RN 76 reflection
  detox/test/android/app/src/main/java/com/example/utils/DetoxSoLoader.kt
Owners: @d4vidi, @jonathanmos

Fixed progurad for release build
  detox/android/detox/proguard-rules-app.pro
  detox/test/android/app/src/main/java/com/example/utils/DetoxSoLoader.kt
Owners: @d4vidi, @jonathanmos

Enabled new arch on Android
  detox/test/android/gradle.properties
  examples/demo-react-native/android/gradle.properties
Owners: @d4vidi, @jonathanmos

Update docs/troubleshooting/building-the-app.md
  docs/troubleshooting/building-the-app.md
Owners: @d4vidi

docs: add Rosetta Simulator Instructions (#4599)
  docs/troubleshooting/building-the-app.md
Owners: @d4vidi

Android WIP
  detox/android/detox/src/full/java/com/wix/detox/DetoxMain.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/ReactNativeExtension.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/ReactNativeIdlingResources.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/ReactNativeLoadingMonitor.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/ReactNativeReloader.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/timers/DelegatedIdleInterrogationStrategy.kt
  detox/test/android/app/src/main/java/com/example/MainApplication.kt
  detox/test/android/settings.gradle
Owners: @d4vidi, @jonathanmos

Removed old build kite jobs
  .buildkite/jobs/pipeline.ios_demo_app_rn_73.yml
  .buildkite/jobs/pipeline.ios_demo_app_rn_75.yml
  .buildkite/pipeline_common.sh
Owners: @d4vidi, @noomorph

docs: make doclint happy.
  docs/troubleshooting/building-the-app.md
Owners: @d4vidi

docs: make doclint happy. (#4654)
  docs/troubleshooting/building-the-app.md
Owners: @d4vidi

fix: CVE-2024-21538 by migrating to promisify-child-process
  detox/local-cli/utils/frameworkUtils.js
  detox/package.json
  detox/src/devices/common/drivers/android/exec/BinaryExec.js
  detox/src/devices/common/drivers/android/exec/BinaryExec.test.js
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
  detox/src/ios/XCUITestRunner.js
  detox/src/ios/XCUITestRunner.test.js
  detox/src/utils/childProcess/exec.js
  detox/src/utils/childProcess/exec.test.js
  detox/src/utils/childProcess/spawn.js
  detox/src/utils/childProcess/spawn.test.js
  detox/src/utils/environment.js
  detox/test/ios/example.xcodeproj/project.pbxproj
  examples/demo-react-native/ios/example.xcodeproj/project.pbxproj
Owners: @d4vidi, @noomorph, @asafkorem

fix: update the comment
  detox/src/utils/childProcess/exec.js
Owners: @d4vidi, @noomorph
