Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem

Update chalk dependency to version 4
  detox/package.json
  package.json
Owners: @d4vidi

This is a test by Moti Harmats (motih@wix.com). (wbewoc)
  detox-cli/package.json
  detox/android/build.gradle
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/build.gradle
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-pure-native-android/build.gradle
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  generation/package.json
  package.json
  website/package.json
Owners: @d4vidi, @jonathanmos

docs(README): fix broken link.
  README.md
Owners: @d4vidi

docs(README): fix broken link. (#3990)
  README.md
Owners: @d4vidi

android: Introduce recursive computation of label for toHaveLabel(), with by.label() out of the game
  detox/android/detox/src/full/java/com/wix/detox/espresso/DetoxMatcher.java
  detox/android/detox/src/full/java/com/wix/detox/espresso/action/GetAttributesAction.kt
  detox/android/detox/src/full/java/com/wix/detox/espresso/matcher/ViewMatchers.kt
  detox/android/detox/src/full/java/com/wix/detox/espresso/matcher/WithAccessibilityLabelMatcher.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/ui/UIExtensions.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/utils/RNUtils.kt
  detox/android/detox/src/testFull/java/com/wix/detox/common/UIExtensionsTest.kt
  detox/android/detox/src/testFull/java/com/wix/detox/espresso/action/GetAttributesActionTest.kt
  detox/android/detox/src/testFull/java/com/wix/detox/espresso/matcher/ViewAtIndexMatcherSpec.kt
  detox/src/android/espressoapi/DetoxMatcher.js
  detox/src/android/matchers/index.js
  detox/src/android/matchers/native.js
  detox/test/e2e/04.assertions.test.js
  detox/test/src/Screens/AssertionsScreen.js
Owners: @d4vidi, @jonathanmos, @noomorph

docs&types: Align with API changes
  detox/index.d.ts
  docs/api/actions.md
  docs/api/expect.md
Owners: @d4vidi, @noomorph

android: Introduce recursive computation of label for getAttributes()
  detox/android/detox/src/full/java/com/wix/detox/common/UIExtensions.kt
  detox/android/detox/src/full/java/com/wix/detox/espresso/action/GetAttributesAction.kt
  detox/android/detox/src/testFull/java/com/wix/detox/UTHelpers.kt
  detox/android/detox/src/testFull/java/com/wix/detox/espresso/action/GetAttributesActionTest.kt
  detox/test/e2e/33.attributes.test.js
  detox/test/src/Screens/AssertionsScreen.js
  detox/test/src/Screens/AttributesScreen.js
Owners: @d4vidi, @jonathanmos, @noomorph

Improve performance of getAccessibilityLabel()
  detox/android/detox/src/full/java/com/wix/detox/common/UIExtensions.kt
  detox/android/detox/src/full/java/com/wix/detox/espresso/action/GetAttributesAction.kt
  detox/android/detox/src/full/java/com/wix/detox/espresso/matcher/WithAccessibilityLabelMatcher.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/ui/UIExtensions.kt
  detox/android/detox/src/testFull/java/com/wix/detox/common/UIExtensionsTest.kt
  detox/android/detox/src/testFull/java/com/wix/detox/espresso/action/GetAttributesActionTest.kt
Owners: @d4vidi, @jonathanmos

android: Extend by.label() to match based on Text, too
  detox/android/detox/src/full/java/com/wix/detox/espresso/DetoxMatcher.java
  detox/src/android/espressoapi/DetoxMatcher.js
  detox/src/android/matchers/index.js
  detox/src/android/matchers/native.js
Owners: @d4vidi, @jonathanmos, @noomorph

wip
  detox/ios/DetoxTester/DetoxTester/Tester/DetoxTester.swift
  detox/ios/DetoxTester/DetoxTesterApp.xcodeproj/project.pbxproj
  detox/src/devices/runtime/drivers/ios/XCUITestUtils.js
Owners: @asafkorem, @d4vidi, @noomorph

wip
  detox/src/devices/runtime/drivers/ios/XCUITestUtils.js
Owners: @d4vidi, @noomorph

Improve style, address code-review notes
  detox/android/detox/src/full/java/com/wix/detox/reactnative/ui/UIExtensions.kt
  detox/src/android/AndroidExpect.test.js
  detox/src/android/core/NativeMatcher.js
Owners: @d4vidi, @jonathanmos, @noomorph

wip
  detox/src/devices/runtime/drivers/ios/XCUITestUtils.js
Owners: @d4vidi, @noomorph

wip
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler.xcodeproj/project.pbxproj
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/InvokeHandler.swift
  detox/ios/DetoxTester/DetoxTester/Actions/ActionDelegate.swift
  detox/ios/DetoxTester/DetoxTester/Actions/Utils/ActionDelegate+createDebugArtifacts.swift
  detox/ios/DetoxTester/DetoxTester/Expectations/ExpectationDelegate.swift
  detox/ios/DetoxTester/DetoxTesterApp.xcodeproj/project.pbxproj
Owners: @asafkorem

Fix android/build.gradle indentation
  docs/introduction/project-setup.mdx
Owners: @d4vidi

wip
  detox/package.json
  detox/src/devices/runtime/RuntimeDevice.js
  detox/src/devices/runtime/drivers/ios/XCUITestUtils.js
Owners: @d4vidi, @noomorph

wip
  detox/src/devices/runtime/drivers/ios/XCUITestUtils.js
  detox/test/e2e/detox.config.js
Owners: @d4vidi, @noomorph

wip
  detox/ios/DetoxTester/DetoxTester/Actions/XCUIElement/XCUIElement+scroll.swift
  detox/src/devices/runtime/drivers/ios/XCUITestUtils.js
Owners: @asafkorem, @d4vidi, @noomorph

to-revert
  detox/scripts/build_framework.ios.sh
  detox/scripts/build_test_runner.sh
  detox/src/utils/environment.js
Owners: @d4vidi, @noomorph

Revert "to-revert"
  detox/scripts/build_framework.ios.sh
  detox/scripts/build_test_runner.sh
  detox/src/utils/environment.js
Owners: @d4vidi, @noomorph

remove unwanted comments
  detox/src/client/Client.js
  detox/src/client/actions/actions.js
  detox/src/devices/runtime/drivers/android/cloud/cloudAndroidDriver.js
  detox/src/invoke.js
Owners: @d4vidi, @noomorph

wip
  detox/src/devices/runtime/drivers/ios/XCUITestUtils.js
Owners: @d4vidi, @noomorph

android: traverseViewHierarchy() helper, based on code-review
  detox/android/detox/src/full/java/com/wix/detox/common/UIExtensions.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/ui/UIExtensions.kt
  detox/android/detox/src/testFull/java/com/wix/detox/common/UIExtensionsTest.kt
Owners: @d4vidi, @jonathanmos

android: Improve label vs. content-description name conventions
  detox/android/detox/src/full/java/com/wix/detox/espresso/DetoxMatcher.java
  detox/android/detox/src/full/java/com/wix/detox/espresso/matcher/ViewMatchers.kt
  detox/src/android/espressoapi/DetoxMatcher.js
  detox/src/android/matchers/index.js
  detox/src/android/matchers/native.js
Owners: @d4vidi, @jonathanmos, @noomorph

random port
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
Owners: @d4vidi, @noomorph

Publish 20.6.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Publish docs version 20.x
  website/versioned_docs/version-20.x/api/actions.md
  website/versioned_docs/version-20.x/api/expect.md
Owners: @d4vidi

Update project-setup.mdx
  docs/introduction/project-setup.mdx
Owners: @d4vidi

wait until app is disconnected during terminate app
  detox/src/client/Client.js
Owners: @d4vidi, @noomorph

only one worker
  detox/ios/DetoxTester/DetoxTester/Actions/XCUIElement/XCUIScreenshotProviding+takeScreenshot.swift
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
  detox/src/devices/runtime/drivers/ios/XCUITestUtils.js
  detox/test/e2e/jest.config.js
Owners: @asafkorem, @d4vidi, @noomorph

remove artifacts
  detox/src/artifacts/providers/index.js
Owners: @d4vidi, @noomorph

Update chalk dependency to version 4
  detox/package.json
  detox/runners/jest/testEnvironment/listeners/SpecReporter.js
  detox/runners/jest/testEnvironment/listeners/WorkerAssignReporter.js
  detox/src/logger/DetoxLogger.js
  package.json
Owners: @d4vidi, @noomorph

Update project-setup.mdx (#3995)
  docs/introduction/project-setup.mdx
Owners: @d4vidi

Fix android/build.gradle indentation (#3991)
  docs/introduction/project-setup.mdx
Owners: @d4vidi

rename class to RNDetoxAccessibilityAction
  detox/android/detox/src/full/java/com/wix/detox/espresso/DetoxAction.java
  detox/android/detox/src/full/java/com/wix/detox/espresso/action/RNDetoxAccessibilityAction.kt
Owners: @d4vidi, @jonathanmos

replace dispatch with dispatch modern
  detox/android/detox/src/full/java/com/wix/detox/espresso/action/RNDetoxAccessibilityAction.kt
Owners: @d4vidi, @jonathanmos

docs: replace non-admonition warning with admonition component.
  docs/introduction/project-setup.mdx
Owners: @d4vidi

* Defined TopAccessibilityEvent as its own class instead of anonymous inner instance * Replace deprecated dispatchEvent Event with getEventDispatcherForReactTag * Optimized imports
  detox/android/detox/src/full/java/com/wix/detox/espresso/action/RNDetoxAccessibilityAction.kt
Owners: @d4vidi, @jonathanmos

feat(drivers): add postAllocate() method
  detox/src/DetoxWorker.js
  detox/src/devices/allocation/DeviceAllocator.js
  detox/src/devices/allocation/drivers/AllocationDriverBase.js
  detox/src/devices/allocation/drivers/android/attached/AttachedAndroidAllocDriver.js
  detox/src/devices/allocation/drivers/android/attached/AttachedAndroidAllocDriver.test.js
  detox/src/devices/allocation/drivers/android/emulator/EmulatorAllocDriver.js
  detox/src/devices/allocation/drivers/android/emulator/EmulatorAllocDriver.test.js
  detox/src/devices/allocation/drivers/android/genycloud/GenyAllocDriver.js
  detox/src/devices/allocation/drivers/android/genycloud/GenyAllocDriver.test.js
  detox/src/devices/allocation/drivers/ios/SimulatorAllocDriver.js
  docs/articles/third-party-drivers.md
Owners: @d4vidi, @noomorph

test: raise unit coverage
  detox/src/devices/allocation/DeviceAllocator.js
  detox/src/devices/allocation/DeviceAllocator.test.js
  detox/test/e2e/detox.config.js
Owners: @d4vidi, @noomorph
