Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem

Fix test coverage
  detox/src/ios/expectTwoApiCoverage.test.js
Owners: @d4vidi, @noomorph

Update detox/android/detox/src/full/java/com/wix/detox/espresso/DetoxAction.java
  detox/android/detox/src/full/java/com/wix/detox/espresso/DetoxAction.java
Owners: @d4vidi, @jonathanmos

Fix review
  detox/ios/Detox/Actions/UIScrollView+DetoxActions.m
  detox/ios/Detox/Invocation/Action.swift
Owners: @asafkorem

Update detox/android/detox/src/full/java/com/wix/detox/espresso/DetoxAction.java
  detox/android/detox/src/full/java/com/wix/detox/espresso/DetoxAction.java
Owners: @d4vidi, @jonathanmos

Update detox/android/detox/src/main/java/com/wix/detox/espresso/scroll/ScrollHelper.java
  detox/android/detox/src/main/java/com/wix/detox/espresso/scroll/ScrollHelper.java
Owners: @d4vidi, @jonathanmos

Fix comments
  detox/android/detox/src/full/java/com/wix/detox/espresso/DetoxAction.java
  detox/android/detox/src/main/java/com/wix/detox/espresso/scroll/ScrollHelper.java
Owners: @d4vidi, @jonathanmos

Add start position as an optional parameter to scrollTo action
  detox/android/detox/src/full/java/com/wix/detox/espresso/DetoxAction.java
  detox/android/detox/src/main/java/com/wix/detox/espresso/scroll/ScrollHelper.java
  detox/detox.d.ts
  detox/ios/Detox/Actions/UIScrollView+DetoxActions.h
  detox/ios/Detox/Actions/UIScrollView+DetoxActions.m
  detox/ios/Detox/Invocation/Action.swift
  detox/ios/Detox/Invocation/Element.swift
  detox/src/android/actions/native.js
  detox/src/android/core/NativeElement.js
  detox/src/android/espressoapi/DetoxAction.js
  detox/src/ios/expectTwo.js
  detox/src/utils/invocationTraceDescriptions.js
  detox/test/e2e/03.actions-scroll.test.js
  docs/api/actions.md
Owners: @d4vidi, @jonathanmos, @noomorph, @asafkorem

test(example): apply Xcode 15 podfile workaround.
  examples/demo-react-native/ios/Podfile
Owners: @d4vidi

test(example): apply Xcode 15 podfile workaround.
  examples/demo-react-native/ios/Podfile
Owners: @d4vidi

build: lock iOS version.
  detox/test/e2e/detox.config.js
Owners: @d4vidi, @noomorph

build(demo): config device and iOS, 15 Pro Max, iOS 17.2.
  examples/demo-react-native/detox.config.js
Owners: @d4vidi, @noomorph

Implementation of scrolling fix for Android 33/34
  detox/android/detox/src/main/java/com/wix/detox/espresso/DeviceDisplay.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/scroll/ScrollHelper.java
  detox/android/detox/src/testFull/java/com/wix/detox/espresso/scroll/ScrollHelperTest.kt
Owners: @d4vidi, @jonathanmos

Fixing scroll interfere with system gesture navigation on android 33-34
  detox/android/detox/src/main/java/com/wix/detox/espresso/scroll/ScrollHelper.java
  detox/android/detox/src/testFull/java/com/wix/detox/espresso/scroll/ScrollHelperTest.kt
Owners: @d4vidi, @jonathanmos

Added more tests
  detox/android/detox/src/testFull/java/com/wix/detox/espresso/scroll/ScrollHelperTest.kt
Owners: @d4vidi, @jonathanmos

Fixes after MR
  detox/android/detox/src/main/java/com/wix/detox/espresso/scroll/ScrollHelper.java
  detox/android/detox/src/testFull/java/com/wix/detox/espresso/scroll/ScrollHelperTest.kt
Owners: @d4vidi, @jonathanmos

Fixed tests after merge
  detox/android/detox/src/testFull/java/com/wix/detox/espresso/scroll/ScrollHelperTest.kt
Owners: @d4vidi, @jonathanmos

Support iOS
  detox/test/ios/Podfile
Owners: @asafkorem

Make android workin with rn72
  detox/test/e2e/jest.config.js
Owners: @d4vidi, @noomorph

Reverted detox config
  detox/test/e2e/detox.config.js
Owners: @d4vidi, @noomorph

WIP
  detox/android/detox/src/full/java/com/wix/detox/espresso/common/ReactSliderHelper.kt
  detox/test/e2e/03.actions.test.js
  detox/test/e2e/detox.config-android.js
  detox/test/e2e/detox.config.js
  detox/test/e2e/utils/custom-it.js
  detox/test/metro.config.js
  detox/test/package.json
  detox/test/src/Screens/ActionsScreen.js
  detox/test/src/helpers/rn-consts.js
Owners: @d4vidi, @jonathanmos, @noomorph

Fixed ios
  detox/test/e2e/jest.config.js
  detox/test/ios/Podfile
Owners: @d4vidi, @noomorph, @asafkorem

Fixed legacy components
  detox/test/e2e/03.actions.test.js
  detox/test/e2e/33.attributes.test.js
  detox/test/e2e/utils/custom-it.js
  detox/test/src/Screens/ActionsScreen.js
  detox/test/src/Screens/AttributesScreen.js
Owners: @d4vidi, @noomorph

WIP
  detox/.eslintrc.js
  detox/android/build.gradle
  detox/android/detox/build.gradle
  detox/android/detox/publishing.gradle
  detox/android/gradle/wrapper/gradle-wrapper.properties
  detox/android/rninfo.gradle
  detox/android/settings.gradle
  detox/package.json
  detox/test/.eslintrc.js
  detox/test/android/build.gradle
  detox/test/android/gradle/wrapper/gradle-wrapper.properties
  detox/test/android/settings.gradle
  detox/test/ios/example.xcodeproj/project.pbxproj
  detox/test/package.json
Owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

Fixed build for ios RN 0.71
  detox/test/ios/Podfile
Owners: @asafkorem

add detox-allure2-adapter
  detox/test/package.json
Owners: @d4vidi

internal: switch to jest-metadata
  detox/package.json
  detox/runners/jest/testEnvironment/index.js
  detox/test/e2e/jest.config.js
Owners: @d4vidi, @noomorph

feat: explicit TS globals
  detox/detox.d.ts
  detox/index.d.ts
  detox/test/types/tsconfig.json
  docs/guide/migration.md
  docs/guide/typescript.md
Owners: @d4vidi, @noomorph

all phases
  .buildkite/pipeline_common.sh
Owners: @d4vidi, @noomorph

Fixed support for RN 71
  detox/android/settings-rn71.gradle
  detox/test/e2e/detox.config-android.js
Owners: @d4vidi, @jonathanmos, @noomorph

chore: fix merge
  detox/test/package.json
Owners: @d4vidi

Rall back to older gradle
  detox/android/gradle/wrapper/gradle-wrapper.properties
  detox/test/android/build.gradle
  detox/test/android/gradle/wrapper/gradle-wrapper.properties
  detox/test/android/settings-rn71.gradle
Owners: @d4vidi, @jonathanmos

Publish 20.15.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Publish docs version 20.x
  website/versioned_docs/version-20.x/api/actions.md
  website/versioned_docs/version-20.x/contributing/code/setting-up-the-dev-environment.md
Owners: @d4vidi

Added rn 72 pipelines
  .buildkite/jobs/pipeline.android_demo_app_rn_72.yml
  .buildkite/jobs/pipeline.android_rn_72.yml
  .buildkite/jobs/pipeline.ios_demo_app_rn_72.yml
  .buildkite/jobs/pipeline.ios_rn_72.yml
Owners: @d4vidi

Disable old pipelines
  .buildkite/jobs/pipeline.android_rn_70.yml
  .buildkite/jobs/pipeline.ios_demo_app_rn_70.yml
  .buildkite/jobs/pipeline.ios_rn_70.yml
  .buildkite/pipeline_common.sh
Owners: @d4vidi, @noomorph

Fixed pod
  detox/test/ios/Podfile
Owners: @asafkorem

regular agents
  .buildkite/jobs/pipeline.android_demo_app_rn_71.yml
  .buildkite/jobs/pipeline.android_rn_70.yml
  .buildkite/jobs/pipeline.android_rn_71.yml
  .buildkite/jobs/pipeline.ios_demo_app_rn_70.yml
  .buildkite/jobs/pipeline.ios_demo_app_rn_71.yml
  .buildkite/jobs/pipeline.ios_rn_70.yml
  .buildkite/jobs/pipeline.ios_rn_71.yml
Owners: @d4vidi

Fixed build on rn 71
  detox/android/rninfo.gradle
  detox/android/rninfohelper.gradle
  detox/android/settings-rn71.gradle
  detox/android/settings.gradle
  detox/test/android/settings-rn71.gradle
  detox/test/android/settings.gradle
  detox/test/package.json
Owners: @d4vidi, @jonathanmos

test: update testing device, iPhone 15 Pro Max.
  .buildkite/pipeline_common.sh
  .xcoderc
  detox/test/e2e/28.drag-and-drop.test.js
  detox/test/e2e/assets/elementScreenshot.ios.horiz.png
  detox/test/e2e/assets/elementScreenshot.ios.vert.png
  detox/test/e2e/detox.config.js
  examples/demo-native-ios/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/detox.config.js
  examples/demo-react-native/ios/Podfile
  scripts/ci.ios.sh
Owners: @d4vidi, @noomorph

More build fixes
  detox/android/detox/build.gradle
  detox/android/detox/src/testFull/java/com/wix/detox/espresso/action/GetAttributesActionTest.kt
  detox/android/settings.gradle
  detox/package.json
  detox/test/android/rninfo.gradle
  detox/test/android/rninfohelper.gradle
  detox/test/android/settings.gradle
  detox/test/e2e/detox.config-android.js
  detox/test/package.json
  examples/demo-react-native/package.json
  generation/package.json
  package.json
Owners: @d4vidi, @jonathanmos, @noomorph
