Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem

website(static): fix asset name.
  website/static/img/showcase/bolt-food.webp
Owners: @d4vidi

website(static): fix asset name. (#3702)
  website/static/img/showcase/bolt-food.webp
Owners: @d4vidi

fix(spelling): replace `hitten` with `hit`.
  detox/ios/Detox/Utilities/UIView+DetoxUtils.m
  detox/ios/Detox/Utilities/UIWindow+DetoxUtils.m
Owners: @asafkorem

chore: code review.
  docs/introduction/partials/_getting-started-expo.md
  docs/introduction/project-setup.mdx
Owners: @d4vidi

fix(spelling): replace `hitten` with `hit`. (#3703)
  detox/ios/Detox/Utilities/UIView+DetoxUtils.m
  detox/ios/Detox/Utilities/UIWindow+DetoxUtils.m
Owners: @asafkorem

iOS(AnyCodable): initial commit.
  detox/ios/DetoxMessageHandler/DetoxMessageHandler/AnyCodable.swift
  detox/ios/DetoxMessageHandler/DetoxMessageHandler/AnyDecodable.swift
  detox/ios/DetoxMessageHandler/DetoxMessageHandler/AnyEncodable.swift
Owners: @asafkorem

iOS(ActionDelegateProtocol): initial commit.
  detox/ios/DetoxMessageHandler/DetoxMessageHandler/Action.swift
  detox/ios/DetoxMessageHandler/DetoxMessageHandler/ActionDelegateProtocol.swift
Owners: @asafkorem

iOS(ElementMatcherProtocol): initial commit.
  detox/ios/DetoxMessageHandler/DetoxMessageHandler/AccessibilityTraits.swift
  detox/ios/DetoxMessageHandler/DetoxMessageHandler/ElementMatcherProtocol.swift
  detox/ios/DetoxMessageHandler/DetoxMessageHandler/ElementPattern.swift
Owners: @asafkorem

iOS(DetoxMessageHandler): initial commit.
  detox/ios/DetoxMessageHandler/DetoxMessageHandler.xcodeproj/project.pbxproj
  detox/ios/DetoxMessageHandler/DetoxMessageHandler/DetoxMessageHandler-Bridging-Header.h
  detox/ios/DetoxMessageHandler/README.md
Owners: @asafkorem, @d4vidi

iOS(ExpectationDelegateProtocol): initial commit.
  detox/ios/DetoxMessageHandler/DetoxMessageHandler/Expectation.swift
  detox/ios/DetoxMessageHandler/DetoxMessageHandler/ExpectationDelegateProtocol.swift
Owners: @asafkorem

iOS(Message): initial commit.
  detox/ios/DetoxMessageHandler/DetoxMessageHandler/ActionType.swift
  detox/ios/DetoxMessageHandler/DetoxMessageHandler/ExpectationType.swift
  detox/ios/DetoxMessageHandler/DetoxMessageHandler/Message.swift
  detox/ios/DetoxMessageHandler/DetoxMessageHandler/MessagePredicate.swift
  detox/ios/DetoxMessageHandler/DetoxMessageHandler/MessagePredicateModifiers.swift
  detox/ios/DetoxMessageHandler/DetoxMessageHandler/MessagePredicateProtocol.swift
  detox/ios/DetoxMessageHandler/DetoxMessageHandler/MessagePredicateType.swift
  detox/ios/DetoxMessageHandler/DetoxMessageHandler/WhileMessage.swift
  detox/ios/DetoxMessageHandler/DetoxMessageHandlerTests/MessageSpec.swift
Owners: @asafkorem

— DETOX TESTER WIP —
  detox/ios/DetoxTester/DetoxTester/ActionDelegate.swift
  detox/ios/DetoxTester/DetoxTester/DetoxTester-Bridging-Header.h
  detox/ios/DetoxTester/DetoxTester/DetoxTester.m
  detox/ios/DetoxTester/DetoxTester/DetoxTesterDelegate.swift
  detox/ios/DetoxTester/DetoxTester/ElementMatcher.swift
  detox/ios/DetoxTester/DetoxTester/ExpectationDelegate.swift
  detox/ios/DetoxTester/DetoxTester/NSInvocation+Utils.h
  detox/ios/DetoxTester/DetoxTester/NSInvocation+Utils.m
  detox/ios/DetoxTester/DetoxTester/URL+WebSocket.swift
  detox/ios/DetoxTester/DetoxTester/WSFacade.swift
  detox/ios/DetoxTester/DetoxTester/WaitUntilDone.swift
  detox/ios/DetoxTester/DetoxTesterApp.xcodeproj/project.pbxproj
  detox/ios/DetoxTester/DetoxTesterApp.xcodeproj/xcshareddata/xcschemes/Tester.xcscheme
  detox/ios/DetoxTester/DetoxTesterApp/AppDelegate.h
  detox/ios/DetoxTester/DetoxTesterApp/AppDelegate.m
  detox/ios/DetoxTester/DetoxTesterApp/Assets.xcassets/AccentColor.colorset/Contents.json
  detox/ios/DetoxTester/DetoxTesterApp/Assets.xcassets/AppIcon.appiconset/Contents.json
  detox/ios/DetoxTester/DetoxTesterApp/Assets.xcassets/Contents.json
  detox/ios/DetoxTester/DetoxTesterApp/Base.lproj/LaunchScreen.storyboard
  detox/ios/DetoxTester/DetoxTesterApp/Base.lproj/Main.storyboard
  detox/ios/DetoxTester/DetoxTesterApp/Info.plist
  detox/ios/DetoxTester/DetoxTesterApp/SceneDelegate.h
  detox/ios/DetoxTester/DetoxTesterApp/SceneDelegate.m
  detox/ios/DetoxTester/DetoxTesterApp/ViewController.h
  detox/ios/DetoxTester/DetoxTesterApp/ViewController.m
  detox/ios/DetoxTester/DetoxTesterApp/main.m
Owners: @asafkorem, @d4vidi

iOS(MessageHandler): initial commit.
  detox/ios/DetoxMessageHandler/DetoxMessageHandler/MessageHandler+Error.swift
  detox/ios/DetoxMessageHandler/DetoxMessageHandler/MessageHandler.swift
  detox/ios/DetoxMessageHandler/DetoxMessageHandlerTests/FakeActionDelegate.swift
  detox/ios/DetoxMessageHandler/DetoxMessageHandlerTests/FakeElementMatcher.swift
  detox/ios/DetoxMessageHandler/DetoxMessageHandlerTests/FakeExpectationDelegate.swift
  detox/ios/DetoxMessageHandler/DetoxMessageHandlerTests/MessageBuilder.swift
  detox/ios/DetoxMessageHandler/DetoxMessageHandlerTests/MessageHandlerSpec.swift
Owners: @asafkorem

Make SimulatorDriver execute the Test Target (with env args)
  detox/ios/Detox/Utilities/WebSocket.swift
  detox/ios/DetoxTester.xcworkspace/xcshareddata/swiftpm/Package.resolved
  detox/ios/DetoxTester/DetoxTester/ActionDelegate.swift
  detox/ios/DetoxTester/DetoxTester/DetoxTester.m
  detox/ios/DetoxTester/DetoxTester/DetoxTester.swift
  detox/ios/DetoxTester/DetoxTester/DetoxTesterDelegate.swift
  detox/ios/DetoxTester/DetoxTester/ElementMatcher.swift
  detox/ios/DetoxTester/DetoxTester/EnvArgKeys.swift
  detox/ios/DetoxTester/DetoxTester/ExpectationDelegate.swift
  detox/ios/DetoxTester/DetoxTester/Main.m
  detox/ios/DetoxTester/DetoxTester/NSInvocation+Utils.h
  detox/ios/DetoxTester/DetoxTester/NSInvocation+Utils.m
  detox/ios/DetoxTester/DetoxTester/String+Detox.swift
  detox/ios/DetoxTester/DetoxTester/URL+WebSocket.swift
  detox/ios/DetoxTester/DetoxTester/WSFacade.swift
  detox/ios/DetoxTester/DetoxTesterApp.xcodeproj/project.pbxproj
  detox/ios/DetoxTester/DetoxTesterApp.xcodeproj/xcshareddata/xcschemes/DetoxTester.xcscheme
  detox/ios/DetoxTester/DetoxTesterApp/AppDelegate.h
  detox/ios/DetoxTester/DetoxTesterApp/AppDelegate.m
  detox/ios/DetoxTester/DetoxTesterApp/Assets.xcassets/AppIcon.appiconset/Contents.json
  detox/ios/DetoxTester/DetoxTesterApp/Base.lproj/LaunchScreen.storyboard
  detox/ios/DetoxTester/DetoxTesterApp/Base.lproj/Main.storyboard
  detox/ios/DetoxTester/DetoxTesterApp/ContentView.swift
  detox/ios/DetoxTester/DetoxTesterApp/DetoxTesterApp.swift
  detox/ios/DetoxTester/DetoxTesterApp/Info.plist
  detox/ios/DetoxTester/DetoxTesterApp/Preview Assets.xcassets/Contents.json
  detox/ios/DetoxTester/DetoxTesterApp/Preview Content/Preview Assets.xcassets/Contents.json
  detox/ios/DetoxTester/DetoxTesterApp/SceneDelegate.h
  detox/ios/DetoxTester/DetoxTesterApp/SceneDelegate.m
  detox/ios/DetoxTester/DetoxTesterApp/ViewController.h
  detox/ios/DetoxTester/DetoxTesterApp/ViewController.m
  detox/ios/DetoxTester/DetoxTesterApp/main.m
  detox/src/devices/common/drivers/ios/tools/AppleSimUtils.js
  detox/src/devices/runtime/RuntimeDevice.js
  detox/src/devices/runtime/drivers/DeviceDriverBase.js
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
Owners: @asafkorem, @d4vidi, @noomorph

wip
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/InvokeHandlerSpec.swift
  detox/ios/DetoxTester/DetoxTester/DetoxTester.swift
  detox/ios/DetoxTester/DetoxTester/Executor.swift
  detox/ios/DetoxTester/DetoxTester/ExecutorDelegateProtocol.swift
  detox/ios/DetoxTester/DetoxTesterApp.xcodeproj/project.pbxproj
  detox/ios/DetoxTester/DetoxTesterApp.xcodeproj/xcshareddata/xcschemes/DetoxTester.xcscheme
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
Owners: @asafkorem, @d4vidi, @noomorph

wip
  detox/ios/DetoxTester/DetoxTester/WebSocket.swift
  detox/ios/DetoxTester/DetoxTesterApp.xcodeproj/project.pbxproj
Owners: @asafkorem

wip
  detox/ios/DetoxTester/DetoxTester/ActionDelegate.swift
  detox/ios/DetoxTester/DetoxTester/Executor+handleInvoke.swift
  detox/ios/DetoxTester/DetoxTester/Executor+handleReactNativeReload.swift
  detox/ios/DetoxTester/DetoxTester/Executor.swift
  detox/ios/DetoxTester/DetoxTester/ExpectationDelegate.swift
Owners: @asafkorem

wip
  detox/ios/DetoxTester/DetoxTester/ActionDelegate.swift
  detox/ios/DetoxTester/DetoxTester/DetoxTester.swift
  detox/ios/DetoxTester/DetoxTester/ElementMatcher.swift
  detox/ios/DetoxTester/DetoxTester/Executor.swift
  detox/ios/DetoxTester/DetoxTester/LogUtils.swift
  detox/ios/DetoxTester/DetoxTester/Main.m
  detox/ios/DetoxTester/DetoxTester/WaitUntilDone.swift
  detox/ios/DetoxTester/DetoxTester/XCUIElement+forceTapElement.swift
  detox/ios/DetoxTester/DetoxTesterApp.xcodeproj/project.pbxproj
  detox/test/e2e/01.sanity.test.js
Owners: @asafkorem, @d4vidi, @noomorph

wip
  detox/ios/DetoxTester/DetoxTester/EnvArgKeys.swift
  detox/ios/DetoxTester/DetoxTester/Executor+getAppUnderTest.swift
  detox/ios/DetoxTester/DetoxTester/Executor+handleInvoke.swift
  detox/ios/DetoxTester/DetoxTester/Executor+handleReactNativeReload.swift
  detox/ios/DetoxTester/DetoxTester/Executor.swift
  detox/ios/DetoxTester/DetoxTester/Main.m
  detox/ios/DetoxTester/DetoxTester/WebSocket+Config.swift
  detox/ios/DetoxTester/DetoxTesterApp.xcodeproj/project.pbxproj
  detox/src/devices/runtime/RuntimeDevice.js
  detox/src/devices/runtime/drivers/DeviceDriverBase.js
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
Owners: @asafkorem, @d4vidi, @noomorph

wip
  detox/ios/DetoxTester/DetoxTester/DetoxTester.swift
  detox/ios/DetoxTester/DetoxTester/Executor.swift
  detox/ios/DetoxTester/DetoxTester/LogUtils.swift
  detox/ios/DetoxTester/DetoxTester/WaitUntilAppIsReady.swift
  detox/ios/DetoxTester/DetoxTester/WebSocket.swift
  detox/ios/DetoxTester/DetoxTester/WebSocketReceiveActionType.swift
  detox/ios/DetoxTester/DetoxTester/WebSocketSendActionType.swift
  detox/ios/DetoxTester/DetoxTesterApp.xcodeproj/project.pbxproj
Owners: @asafkorem

detox sanity tests pass
  detox/ios/DetoxTester/DetoxTester/ActionDelegate.swift
  detox/ios/DetoxTester/DetoxTester/ElementMatcher.swift
  detox/ios/DetoxTester/DetoxTester/WaitUntilDone.swift
  detox/ios/DetoxTester/DetoxTester/XCUIElement+forceTapElement.swift
  detox/test/e2e/01.sanity.test.js
  detox/test/ios/example/AppDelegate.m
Owners: @asafkorem, @d4vidi, @noomorph

rename message-handler to invoke-handler
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler.xcodeproj/project.pbxproj
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/AccessibilityTraits.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/Action.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/ActionDelegateProtocol.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/ActionType.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/AnyCodable.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/AnyDecodable.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/AnyEncodable.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/DetoxInvokeHandler-Bridging-Header.h
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/ElementMatcherProtocol.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/ElementPattern.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/Expectation.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/ExpectationDelegateProtocol.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/ExpectationType.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/InvokeHandler+Error.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/InvokeHandler.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/Message.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/MessagePredicate.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/MessagePredicateModifiers.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/MessagePredicateProtocol.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/MessagePredicateType.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/WhileMessage.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/FakeActionDelegate.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/FakeElementMatcher.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/FakeExpectationDelegate.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/InvokeHandlerSpec.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/MessageBuilder.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/MessageSpec.swift
  detox/ios/DetoxInvokeHandler/README.md
  detox/ios/DetoxTester/DetoxTester/ActionDelegate.swift
  detox/ios/DetoxTester/DetoxTester/ElementMatcher.swift
  detox/ios/DetoxTester/DetoxTester/ExpectationDelegate.swift
  detox/ios/DetoxTester/DetoxTesterApp.xcodeproj/project.pbxproj
Owners: @asafkorem, @d4vidi

more wip
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/InvokeHandler+Error.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/InvokeHandler.swift
  detox/ios/DetoxTester/DetoxTester/DetoxTester.swift
  detox/ios/DetoxTester/DetoxTester/ElementMatcher.swift
  detox/ios/DetoxTester/DetoxTester/Executor.swift
  detox/ios/DetoxTester/DetoxTester/ExecutorDelegateProtocol.swift
  detox/ios/DetoxTester/DetoxTester/LogUtils.swift
  detox/ios/DetoxTester/DetoxTester/WebSocket.swift
  detox/ios/DetoxTester/DetoxTester/WebSocketDelegateProtocol.swift
  detox/ios/DetoxTester/DetoxTester/WebSocketSendActionType.swift
Owners: @asafkorem

wip
  detox/ios/DetoxTester/DetoxTester/DetoxTester.swift
  detox/ios/DetoxTester/DetoxTester/Executor.swift
  detox/ios/DetoxTester/DetoxTester/ExecutorDelegateProtocol.swift
  detox/ios/DetoxTester/DetoxTester/WebSocket.swift
  detox/ios/DetoxTester/DetoxTester/WebSocketDelegateProtocol.swift
  detox/ios/DetoxTester/DetoxTester/WebSocketReceiveActionType.swift
  detox/ios/DetoxTester/DetoxTester/WebSocketSendActionType.swift
  detox/ios/DetoxTester/DetoxTesterApp.xcodeproj/project.pbxproj
Owners: @asafkorem

fix linkage
  detox/ios/DetoxTester/DetoxTesterApp.xcodeproj/project.pbxproj
Owners: @asafkorem

wip
  detox/ios/DetoxTester/DetoxTester/DetoxTester.swift
Owners: @asafkorem

wip
  detox/ios/Detox/Utilities/WebSocket.swift
Owners: @asafkorem

Revert "launch with detox iOS"
  detox/src/devices/common/drivers/ios/tools/AppleSimUtils.js
Owners: @d4vidi, @noomorph

launch with detox iOS
  detox/src/devices/common/drivers/ios/tools/AppleSimUtils.js
Owners: @d4vidi, @noomorph

wip
  detox/ios/DetoxTester/DetoxTester/Executor+handleCleanup.swift
  detox/ios/DetoxTester/DetoxTester/Executor+handleCurrentStatus.swift
  detox/ios/DetoxTester/DetoxTester/Executor+handleInvoke.swift
  detox/ios/DetoxTester/DetoxTester/Executor+handleReactNativeReload.swift
  detox/ios/DetoxTester/DetoxTester/Executor+sendAction.swift
  detox/ios/DetoxTester/DetoxTester/Executor.swift
  detox/ios/DetoxTester/DetoxTester/Main.m
  detox/ios/DetoxTester/DetoxTesterApp.xcodeproj/project.pbxproj
Owners: @asafkorem

wip
  detox/ios/DetoxTester/DetoxTester/DetoxTester.swift
Owners: @asafkorem

add device logs
  detox/ios/Detox/Utilities/WebSocket.swift
  detox/ios/DetoxTester/DetoxTester/DetoxTester.swift
  detox/ios/DetoxTester/DetoxTester/EnvArgKeys.swift
  detox/ios/DetoxTester/DetoxTester/LogUtils.swift
  detox/ios/DetoxTester/DetoxTester/Main.m
  detox/ios/DetoxTester/DetoxTester/WaitUntilDone.swift
  detox/ios/DetoxTester/DetoxTester/WebSocket+Config.swift
  detox/ios/DetoxTester/DetoxTesterApp.xcodeproj/project.pbxproj
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
Owners: @asafkorem, @d4vidi, @noomorph

Revert "wip"
  detox/ios/Detox/Utilities/WebSocket.swift
Owners: @asafkorem

some fixes
  detox/ios/Detox/Utilities/WebSocket.swift
  detox/ios/DetoxTester/DetoxTester/WaitUntilDone.swift
  detox/ios/DetoxTester/DetoxTester/WebSocket+Config.swift
  detox/ios/DetoxTester/DetoxTester/WebSocket.swift
Owners: @asafkorem

wip
  detox/ios/DetoxTester/DetoxTester/ActionDelegate.swift
  detox/ios/DetoxTester/DetoxTester/ElementMatcher.swift
  detox/ios/DetoxTester/DetoxTester/Executor.swift
  detox/ios/DetoxTester/DetoxTester/ExpectationDelegate.swift
  detox/ios/DetoxTester/DetoxTester/LogUtils.swift
Owners: @asafkorem

best wip ever
  detox/ios/DetoxTester/DetoxTester/DetoxTester.swift
  detox/ios/DetoxTester/DetoxTester/WaitUntilDone.swift
  detox/ios/DetoxTester/DetoxTester/WebSocket.swift
  detox/ios/DetoxTester/DetoxTester/WebSocketDelegateProtocol.swift
Owners: @asafkorem

wip
  detox/ios/DetoxTester/DetoxTester/LogUtils.swift
  detox/ios/DetoxTester/DetoxTester/WaitUntilDone.swift
  detox/ios/DetoxTester/DetoxTester/WebSocket+Config.swift
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
Owners: @asafkorem, @d4vidi, @noomorph

wip
  detox/ios/DetoxTester/DetoxTester/DetoxTester.swift
Owners: @asafkorem

more changes
  detox/ios/DetoxTester/DetoxTester/DetoxTester.swift
  detox/ios/DetoxTester/DetoxTester/Executor.swift
  detox/ios/DetoxTester/DetoxTester/LogUtils.swift
  detox/ios/DetoxTester/DetoxTester/WaitUntilDone.swift
  detox/ios/DetoxTester/DetoxTester/WebSocketSendActionType.swift
  detox/src/devices/runtime/RuntimeDevice.js
  detox/src/devices/runtime/drivers/DeviceDriverBase.js
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
Owners: @asafkorem, @d4vidi, @noomorph

wip
  detox/ios/DetoxTester/DetoxTester/ActionDelegate.swift
  detox/ios/DetoxTester/DetoxTester/ExpectationDelegate.swift
  detox/ios/DetoxTester/DetoxTester/XCUIElement+forceTapElement.swift
  detox/ios/DetoxTester/DetoxTester/XCUIElement+longPressAndDrag.swift
  detox/ios/DetoxTester/DetoxTester/XCUIElement+tap.swift
  detox/ios/DetoxTester/DetoxTesterApp.xcodeproj/project.pbxproj
Owners: @asafkorem
