Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem

Make adb setup cmds seq more robust (add sleeps)
  detox/test/e2e/helpers/AndroidUIInit/index.js
  detox/test/e2e/utils/sleep.js
Owners: @d4vidi, @noomorph

CI (temp): Rerun failing tests with Video
  detox/test/package.json
  scripts/ci.android.sh
Owners: @d4vidi, @noomorph

CI: Decrement #workers for g.emu case
  detox/test/e2e/jest.config.js
Owners: @d4vidi, @noomorph

CI: Decrement again
  detox/test/e2e/jest.config.js
Owners: @d4vidi, @noomorph

Semantic Types update
  detox/src/utils/semanticTypes.js
Owners: @d4vidi, @noomorph

Detox iOS18 compatibility #4749
  detox/ios/Detox/Invocation/WKWebViewConfiguration+Detox.h
  detox/ios/Detox/Invocation/WKWebViewConfiguration+Detox.m
  detox/test/ios/ReactModules/NativeModule.m
Owners: @asafkorem

Detox iOS18 compatibility - #4749
  detox/ios/Detox/Invocation/WKWebViewConfiguration+Detox.h
  detox/ios/Detox/Invocation/WKWebViewConfiguration+Detox.m
  detox/test/ios/ReactModules/NativeModule.m
Owners: @asafkorem

Revert "CI: Decrement again"
  detox/test/e2e/jest.config.js
Owners: @d4vidi, @noomorph

update - uncoupling from the test app
  detox/test/ios/ReactModules/NativeModule.m
Owners: @asafkorem

Clean up
  detox/ios/Detox/Invocation/WKWebViewConfiguration+Detox.h
  detox/ios/Detox/Invocation/WKWebViewConfiguration+Detox.m
Owners: @asafkorem

fix(android): enable kotlin 2.x compatibility w/opt-in for `.entries` usage
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/ReactNativeIdlingResources.kt
Owners: @d4vidi, @jonathanmos

update genycloud runnings to 1, iOS 17.0.1 to iOS 18.0.0, and message display duration from 2.0 to 3.0
  detox/test/e2e/detox.config.js
  detox/test/e2e/jest.config.js
  detox/test/ios/UI/OverlayMessageView.swift
Owners: @d4vidi, @noomorph, @asafkorem

revert the concurrent testers to 5
  detox/test/e2e/jest.config.js
Owners: @d4vidi, @noomorph

Concurrent Runners set to 1
  detox/test/e2e/jest.config.js
Owners: @d4vidi, @noomorph

feat: device.resetAppState([...bundleIds])
  detox/detox.d.ts
  detox/src/configuration/composeBehaviorConfig.js
  detox/src/configuration/composeBehaviorConfig.test.js
  detox/src/devices/common/drivers/android/exec/ADB.js
  detox/src/devices/runtime/RuntimeDevice.js
  detox/src/devices/runtime/RuntimeDevice.test.js
  detox/src/devices/runtime/drivers/DeviceDriverBase.js
  detox/src/devices/runtime/drivers/android/AndroidDriver.js
  detox/src/devices/runtime/drivers/ios/AppStateResetShim.js
  detox/src/devices/runtime/drivers/ios/AppStateResetShim.test.js
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.test.js
  detox/test/e2e/06.device.test.js
  docs/api/device.md
  docs/config/behavior.mdx
Owners: @d4vidi, @noomorph

fix: sanitize dollar sign in artifact names
  detox/src/utils/constructSafeFilename.js
  detox/src/utils/constructSafeFilename.test.js
Owners: @d4vidi, @noomorph

[skip ci] refactor: adb class
  detox/src/artifacts/instruments/android/AndroidInstrumentsRecording.js
  detox/src/artifacts/log/android/ADBLogcatPlugin.js
  detox/src/artifacts/log/android/ADBLogcatRecording.js
  detox/src/artifacts/screenshot/ADBScreencapPlugin.js
  detox/src/artifacts/video/ADBScreenrecorderArtifact.js
  detox/src/devices/allocation/drivers/android/genycloud/services/GenyInstanceLifecycleService.js
  detox/src/devices/common/drivers/android/exec/ADB.js
  detox/src/devices/common/drivers/android/exec/ADB.test.js
  detox/src/devices/common/drivers/android/exec/ADBCache.js
  detox/src/devices/common/drivers/android/tools/AppInstallHelper.js
  detox/src/devices/common/drivers/android/tools/AppInstallHelper.test.js
  detox/src/devices/common/drivers/android/tools/AppUninstallHelper.js
  detox/src/devices/common/drivers/android/tools/AppUninstallHelper.test.js
  detox/src/devices/common/drivers/android/tools/FileTransfer.js
  detox/src/devices/common/drivers/android/tools/FileTransfer.test.js
  detox/src/devices/common/drivers/android/tools/TempFileTransfer.test.js
  detox/src/devices/runtime/drivers/android/AndroidDriver.js
  detox/src/devices/runtime/drivers/android/AndroidDriver.test.js
Owners: @d4vidi, @noomorph

Requested changes for PR
  detox/ios/Detox/Invocation/WKWebViewConfiguration+Detox.m
  examples/demo-react-native/detox.config.js
Owners: @asafkorem, @d4vidi, @noomorph

update of some changes
  detox/detox.d.ts
  detox/src/android/matchers/index.js
  detox/src/android/matchers/native.js
  detox/src/android/matchers/native.test.js
  detox/src/ios/expectTwo.js
  detox/src/ios/expectTwo.test.js
  detox/src/matchers/semanticTypes.js
  detox/src/matchers/semanticTypes.test.js
  detox/test/e2e/27.semantic-types.test.js
Owners: @d4vidi, @noomorph

Updated code with refactoring and new functionality
  detox/src/android/matchers/native.js
  detox/src/android/matchers/native.test.js
  detox/src/ios/expectTwo.js
  detox/src/matchers/semanticTypes.js
  detox/src/matchers/semanticTypes.test.js
Owners: @d4vidi, @noomorph

Concurrent Runners set to 1 (#4818)
  detox/test/e2e/jest.config.js
Owners: @d4vidi, @noomorph

test: update snapshots
  detox/local-cli/__snapshots__/run-server.test.js.snap
  detox/runners/__tests__/__snapshots__/migration.test.js.snap
  detox/src/client/__snapshots__/AsyncWebSocket.test.js.snap
  detox/src/client/__snapshots__/Client.test.js.snap
  detox/src/configuration/__snapshots__/composeRunnerConfig.test.js.snap
  detox/src/devices/allocation/drivers/android/genycloud/services/__snapshots__/GenyRecipesService.test.js.snap
  detox/src/devices/allocation/factories/__snapshots__/external.test.js.snap
  detox/src/devices/common/drivers/android/exec/__snapshots__/AAPT.test.js.snap
  detox/src/devices/common/drivers/android/tools/__snapshots__/ApkValidator.test.js.snap
  detox/src/devices/runtime/factories/__snapshots__/external.test.js.snap
  detox/src/devices/validation/android/__snapshots__/GenycloudEnvValidator.test.js.snap
  detox/src/errors/__snapshots__/DetoxConfigErrorComposer.test.js.snap
  detox/src/errors/__snapshots__/DetoxInternalError.test.js.snap
  detox/src/errors/__snapshots__/DetoxRuntimeError.test.js.snap
  detox/src/errors/__snapshots__/DetoxRuntimeErrorComposer.test.js.snap
  detox/src/errors/longreads/__snapshots__/failedToReachTheApp.test.js.snap
  detox/src/logger/__snapshots__/DetoxLogger.test.js.snap
  detox/src/logger/utils/__snapshots__/DetoxLogFinalizer.test.js.snap
  detox/src/matchers/factories/__snapshots__/index.test.js.snap
  detox/src/realms/__snapshots__/DetoxPrimaryContext.test.js.snap
  detox/src/server/__snapshots__/DetoxServer.test.js.snap
  detox/src/server/__snapshots__/DetoxSession.test.js.snap
  detox/src/server/__tests__/__snapshots__/server-integration.test.js.snap
  detox/src/utils/__snapshots__/assertArgument.test.js.snap
Owners: @d4vidi

test: update snapshots
  generation/__tests__/__snapshots__/global-functions.js.snap
  generation/__tests__/__snapshots__/helpers.js.snap
Owners: @d4vidi

CI: Use Genymotion ARM64 only for latest RN build job
  .buildkite/jobs/pipeline.android_rn_79.yml
  detox/test/e2e/detox.config.js
  detox/test/e2e/jest.config.js
  detox/test/package.json
  scripts/ci.android.sh
Owners: @d4vidi, @noomorph

CI: Fix SDK34 recipe ambiguity
  .buildkite/jobs/pipeline.android_rn_79.yml
  detox/test/e2e/detox.config.js
  scripts/ci.android.sh
Owners: @d4vidi, @noomorph

Couple element screenshot results to Android API level
  detox/test/e2e/26.element-screenshots.test.js
  detox/test/e2e/assets/elementScreenshot.horiz.android-sdk34.png
  detox/test/e2e/assets/elementScreenshot.horiz.android-sdk35.png
  detox/test/e2e/assets/elementScreenshot.vert.android-sdk34.png
  detox/test/e2e/assets/elementScreenshot.vert.android-sdk35.png
  detox/test/e2e/utils/snapshot.js
Owners: @d4vidi, @noomorph

wip
  detox/test/e2e/01.sanity.test.js
Owners: @d4vidi, @noomorph

Revert script mess-up
  scripts/ci.android.sh
Owners: @d4vidi, @noomorph

CI: Kill rn78 old-arch regression
  .buildkite/jobs/pipeline.android_rn_78_old_arch.yml
  .buildkite/pipeline_common.sh
Owners: @d4vidi, @noomorph

docs: Update supported RN versions
  README.md
  docs/introduction/partials/_getting-started-rn.md
Owners: @d4vidi

docs: fix lint
  README.md
  docs/introduction/partials/_getting-started-rn.md
Owners: @d4vidi

CI: Use Genymotion ARM64 only for latest RN build job (#4825)
  .buildkite/jobs/pipeline.android_rn_78_old_arch.yml
  .buildkite/jobs/pipeline.android_rn_79.yml
  .buildkite/pipeline_common.sh
  README.md
  detox/test/e2e/26.element-screenshots.test.js
  detox/test/e2e/assets/elementScreenshot.horiz.android-sdk34.png
  detox/test/e2e/assets/elementScreenshot.horiz.android-sdk35.png
  detox/test/e2e/assets/elementScreenshot.vert.android-sdk34.png
  detox/test/e2e/assets/elementScreenshot.vert.android-sdk35.png
  detox/test/e2e/detox.config.js
  detox/test/e2e/jest.config.js
  detox/test/e2e/utils/snapshot.js
  detox/test/package.json
  docs/introduction/partials/_getting-started-rn.md
  scripts/ci.android.sh
Owners: @d4vidi, @noomorph

Publish 20.41.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  generation/package.json
  lerna.json
  package.json
Owners: @d4vidi

Publish docs version 20.x
  website/versioned_docs/version-20.x/introduction/partials/_getting-started-rn.md
Owners: @d4vidi

docs: Update supported RN versions
  README.md
  docs/introduction/partials/_getting-started-rn.md
Owners: @d4vidi

docs: Fix supported RN versions description (#4827)
  README.md
  docs/introduction/partials/_getting-started-rn.md
Owners: @d4vidi

Publish 20.41.1 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Publish docs version 20.x
  website/versioned_docs/version-20.x/introduction/partials/_getting-started-rn.md
Owners: @d4vidi

Allow GPU for Google emulators
  detox/test/e2e/detox.config.js
Owners: @d4vidi, @noomorph

fix: sanitize dollar sign in artifact names
  detox/src/utils/constructSafeFilename.js
  detox/src/utils/constructSafeFilename.test.js
Owners: @d4vidi, @noomorph
