Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

give iso examples first and add simple ios only example
  detox/index.d.ts
Owners: @d4vidi, @noomorph

unify datepickerscreen for android and ios
  detox/test/e2e/17.datePicker.test.js
  detox/test/src/Screens/DatePickerScreen.js
Owners: @d4vidi, @noomorph

handle date parsing in java instead of js to use device timezone as on ios
  detox/android/detox/src/full/java/com/wix/detox/espresso/DetoxAction.java
  detox/src/android/actions/native.js
  detox/src/android/core/NativeElement.js
  detox/src/android/espressoapi/DetoxAction.js
Owners: @d4vidi, @jonathanmos, @noomorph

fix(logger): complete events in sandbox
  detox/src/logger/DetoxLogger.js
  detox/src/logger/DetoxLogger.test.js
  detox/src/logger/__snapshots__/DetoxLogger.test.js.snap
  detox/src/utils/isPromise.js
  detox/src/utils/isPromise.test.js
  detox/test/integration/__snapshots__/timeline-artifact.test.js.snap
  detox/test/integration/e2e/flaky.test.js
Owners: @d4vidi, @noomorph

fix(logger): complete events in sandbox (#3804)
  detox/src/logger/DetoxLogger.js
  detox/src/logger/DetoxLogger.test.js
  detox/src/logger/__snapshots__/DetoxLogger.test.js.snap
  detox/src/utils/isPromise.js
  detox/src/utils/isPromise.test.js
  detox/test/integration/__snapshots__/timeline-artifact.test.js.snap
  detox/test/integration/e2e/flaky.test.js
Owners: @d4vidi, @noomorph

pr fixes
  detox/index.d.ts
  detox/internals.d.ts
  detox/local-cli/test.test.js
  detox/local-cli/testCommand/TestRunnerCommand.js
  detox/local-cli/testCommand/builder.js
  detox/src/DetoxWorker.js
  detox/src/DetoxWorker.test.js
  detox/src/configuration/collectCliConfig.js
  detox/src/configuration/collectCliConfig.test.js
  detox/src/configuration/composeBehaviorConfig.js
  detox/src/configuration/composeBehaviorConfig.test.js
  detox/src/devices/runtime/RuntimeDevice.js
  detox/src/devices/runtime/RuntimeDevice.test.js
  detox/test/e2e/detox.config.js
Owners: @d4vidi, @noomorph

fix tests
  detox/src/configuration/composeBehaviorConfig.test.js
Owners: @d4vidi, @noomorph

fix: disable optimized flow on ios
  detox/test/e2e/detox.config.js
Owners: @d4vidi, @noomorph

misc
  detox/test/e2e/detox.config.js
Owners: @d4vidi, @noomorph

display local device time, as setDatePicker parses date string with local device time as well
  detox/test/src/Screens/DatePickerScreen.js
Owners: @d4vidi, @noomorph

fix testids and formatting
  detox/test/src/Screens/DatePickerScreen.js
Owners: @d4vidi, @noomorph

add dateFormatStr to setDatePicker for android
  detox/android/detox/src/full/java/com/wix/detox/espresso/DetoxAction.java
  detox/src/android/actions/native.js
  detox/src/android/core/NativeElement.js
  detox/src/android/espressoapi/DetoxAction.js
Owners: @d4vidi, @jonathanmos, @noomorph

test both formats on both os
  detox/test/e2e/17.datePicker.test.js
Owners: @d4vidi, @noomorph

adjust docs for formatStr support on android
  detox/index.d.ts
  docs/api/actions.md
Owners: @d4vidi, @noomorph

test isostring as utc and custom format as local date
  detox/test/e2e/17.datePicker.test.js
  detox/test/src/Screens/DatePickerScreen.js
Owners: @d4vidi, @noomorph

use simpledateformatter for custom format
  detox/android/detox/src/full/java/com/wix/detox/espresso/DetoxAction.java
Owners: @d4vidi, @jonathanmos

use simple date formatter for iso string as well
  detox/android/detox/src/full/java/com/wix/detox/espresso/DetoxAction.java
  docs/api/actions.md
Owners: @d4vidi, @jonathanmos

fix(ios): accept Date.prototype.toISOString()
  detox/src/ios/expectTwo.js
  detox/src/ios/expectTwo.test.js
  detox/src/utils/dateUtils.js
  detox/src/utils/dateUtils.test.js
Owners: @d4vidi, @noomorph

test(e2e): elaborate date picker tests
  detox/test/e2e/17.datePicker.test.js
  detox/test/src/Screens/DatePickerScreen.js
Owners: @d4vidi, @noomorph

lint: fix error
  detox/src/ios/expectTwo.js
Owners: @d4vidi, @noomorph

test(e2e): fix padding in the app
  detox/test/src/Screens/DatePickerScreen.js
Owners: @d4vidi, @noomorph

Fix optimized flow logic
  detox/src/DetoxWorker.js
  detox/src/DetoxWorker.test.js
  detox/src/devices/runtime/RuntimeDevice.js
  detox/src/devices/runtime/RuntimeDevice.test.js
  detox/src/utils/shouldUseOptimizedInstall.js
  detox/src/utils/shouldUseOptimizedInstall.test.js
Owners: @d4vidi, @noomorph

Add logs
  detox/src/devices/common/drivers/android/tools/ApkHashUtils.js
  detox/src/devices/common/drivers/android/tools/FileTransfer.js
Owners: @d4vidi, @noomorph

more logs
  detox/src/devices/common/drivers/android/exec/ADB.js
  detox/src/devices/common/drivers/android/tools/ApkHashUtils.js
Owners: @d4vidi, @noomorph

Fix pretests
  detox/src/devices/common/drivers/android/tools/ApkHashUtils.js
  detox/src/devices/common/drivers/android/tools/ApkHashUtils.test.js
Owners: @d4vidi, @noomorph

send from absolute path
  detox/src/devices/common/drivers/android/tools/ApkHashUtils.js
Owners: @d4vidi, @noomorph

misc
  detox/src/devices/common/drivers/android/tools/ApkHashUtils.js
  detox/src/devices/common/drivers/android/tools/ApkHashUtils.test.js
Owners: @d4vidi, @noomorph

more logs
  detox/src/devices/common/drivers/android/tools/ApkHashUtils.js
  detox/src/devices/common/drivers/android/tools/FileTransfer.js
Owners: @d4vidi, @noomorph

temp disable hash deletion
  detox/src/devices/common/drivers/android/tools/ApkHashUtils.js
  detox/src/devices/common/drivers/android/tools/ApkHashUtils.test.js
Owners: @d4vidi, @noomorph

create mdx demo page for internal styleguide related to documentation
  docs/demo.mdx
Owners: @d4vidi

throw error keyboard type
  detox/ios/DetoxTester/DetoxTester/Actions/XCUIElement/XCUIElement+Error.swift
  detox/ios/DetoxTester/DetoxTester/Actions/XCUIElement/XCUIElement+Keyboard.swift
  detox/ios/DetoxTester/DetoxTesterApp.xcodeproj/project.pbxproj
Owners: @asafkorem

replace some fatal errors with real errors
  detox/ios/DetoxTester/DetoxTester/Actions/ActionDelegate+Error.swift
  detox/ios/DetoxTester/DetoxTester/Actions/ActionDelegate.swift
  detox/ios/DetoxTester/DetoxTester/Actions/XCUIElement/XCUIElement+Keyboard.swift
  detox/ios/DetoxTester/DetoxTester/Matchers/ElementMatcher.swift
  detox/ios/DetoxTester/DetoxTester/Matchers/XCUIElementQuery/XCUIElementQuery+Error.swift
  detox/ios/DetoxTester/DetoxTester/Matchers/XCUIElementQuery/XCUIElementQuery+matching.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/DetoxServerMessageSenderProtocol.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+handleInvoke.swift
  detox/ios/DetoxTester/DetoxTesterApp.xcodeproj/project.pbxproj
Owners: @asafkorem

remove public
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/Action+name.swift
Owners: @asafkorem

test(e2e): rewrite UTC and local assertions
  detox/test/e2e/17.datePicker.test.js
  detox/test/src/Screens/DatePickerScreen.js
Owners: @d4vidi, @noomorph

replace errors with fatals
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/InvokeHandler.swift
Owners: @asafkorem

more error handling stuff
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/InvokeHandler+Error.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+handleInvoke.swift
Owners: @asafkorem

chore: update message of support github action.
  .github/workflows/support.yml
Owners: @d4vidi

chore: add reproduction required github action.
  .github/workflows/reproduction-required.yml
Owners: @d4vidi

chore: add looking for contributors github action.
  .github/workflows/looking-for-contributors.yml
Owners: @d4vidi

chore: check if project has fabric enabled on bug report templates.
  .github/ISSUE_TEMPLATE/BUG_REPORT_ANDROID.yml
  .github/ISSUE_TEMPLATE/BUG_REPORT_IOS.yml
  .github/ISSUE_TEMPLATE/BUG_REPORT_OTHER.yml
Owners: @d4vidi

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem
