Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem

docs: reorganize CLI section
  docs/api/device.md
  docs/api/logger.mdx
  docs/cli/build-framework-cache.md
  docs/cli/build.md
  docs/cli/clean-framework-cache.md
  docs/cli/init.md
  docs/cli/overview.md
  docs/cli/rebuild-framework-cache.md
  docs/cli/recorder.md
  docs/cli/reset-lock-file.md
  docs/cli/run-server.md
  docs/cli/test.md
  docs/config/artifacts.mdx
  docs/config/behavior.mdx
  docs/config/session.mdx
  docs/guide/contributing.md
  docs/guide/genymotion-saas.mdx
  docs/guide/launch-args.md
  docs/guide/migration.md
  docs/guide/mocking-open-with-url.md
  docs/guide/mocking-user-activity.md
  docs/guide/mocking-user-notifications.md
  docs/guide/parallel-test-execution.md
  docs/troubleshooting/flakiness.md
  docs/troubleshooting/running-tests.md
  docs/troubleshooting/synchronization.md
  website/sidebars.js
Owners: @d4vidi, @noomorph

docs: minor fixes
  docs/guide/genymotion-saas.mdx
  docs/guide/parallel-test-execution.md
  docs/guide/proguard-configuration.md
Owners: @d4vidi

docs(website): fix highlighting
  docs/api/device.md
  docs/config/logger.mdx
  docs/config/overview.mdx
  docs/config/testRunner.mdx
  docs/guide/contributing.md
  docs/guide/migration.md
  docs/guide/mocking-user-notifications.md
  docs/guide/proguard-configuration.md
  docs/introduction/building-with-detox.mdx
  docs/introduction/debugging.mdx
  docs/introduction/partials/_building-with-detox-apps-android.mdx
  docs/introduction/preparing-for-ci.md
  docs/troubleshooting/building-the-app.md
  website/docusaurus.config.js
Owners: @d4vidi, @noomorph

docs(config): add testRunner.inspectBrk info
  .retext-spell.dic
  docs/config/testRunner.mdx
Owners: @d4vidi

Detect when Emulator with SDK 31 boots
  detox/src/devices/allocation/drivers/android/emulator/launchEmulatorProcess.js
Owners: @d4vidi, @noomorph

docs(api): cover logger API
  detox/index.d.ts
  docs/api/logger.mdx
  docs/config/logger.mdx
  docs/img/timeline-artifact-unfinished.png
  docs/img/timeline-tid.png
Owners: @d4vidi, @noomorph

wip: improve Detox environment listeners lifecycle
  detox/index.d.ts
  detox/local-cli/init.js
  detox/runners/jest/testEnvironment/index.js
  detox/runners/jest/testEnvironment/listeners/DetoxPlatformFilterListener.js
  detox/src/configuration/composeRunnerConfig.js
  detox/src/configuration/composeRunnerConfig.test.js
  detox/src/utils/Timer.js
  detox/test/e2e-unhappy/detox-init-timeout/testEnvironment.js
  detox/test/e2e/utils/timeoutUtils.js
  docs/config/testRunner.mdx
  docs/guide/migration.md
Owners: @d4vidi, @noomorph

feat(jest): new listener events
  detox/internals.d.ts
  detox/runners/jest/testEnvironment/index.js
  detox/runners/jest/testEnvironment/listeners/DetoxCoreListener.js
  detox/src/utils/Timer.js
  detox/src/utils/Timer.test.js
Owners: @d4vidi, @noomorph

fix: reporting integration
  detox/index.d.ts
  detox/internals.d.ts
  detox/local-cli/test.test.js
  detox/local-cli/testCommand/TestRunnerCommand.js
  detox/runners/jest/reporters/DetoxReporter.js
  detox/runners/jest/testEnvironment/index.js
  detox/runners/jest/testEnvironment/listeners/DetoxCoreListener.js
  detox/src/configuration/composeRunnerConfig.js
  detox/src/configuration/composeRunnerConfig.test.js
  detox/src/ipc/IPCClient.js
  detox/src/ipc/IPCServer.js
  detox/src/ipc/SessionState.js
  detox/src/realms/DetoxContext.js
  detox/src/realms/DetoxInternalsFacade.js
  detox/src/realms/DetoxPrimaryContext.js
  detox/src/realms/DetoxSecondaryContext.js
  detox/src/symbols.js
  detox/src/utils/errorUtils.js
  detox/test/types/detox-internals-tests.ts
  docs/api/internals.md
  docs/config/testRunner.mdx
  docs/guide/proguard-configuration.md
Owners: @d4vidi, @noomorph

feat(jest): new listener events (#3626)
  detox/index.d.ts
  detox/internals.d.ts
  detox/local-cli/init.js
  detox/local-cli/test.test.js
  detox/local-cli/testCommand/TestRunnerCommand.js
  detox/runners/jest/reporters/DetoxReporter.js
  detox/runners/jest/testEnvironment/index.js
  detox/runners/jest/testEnvironment/listeners/DetoxCoreListener.js
  detox/runners/jest/testEnvironment/listeners/DetoxPlatformFilterListener.js
  detox/src/configuration/composeRunnerConfig.js
  detox/src/configuration/composeRunnerConfig.test.js
  detox/src/ipc/IPCClient.js
  detox/src/ipc/IPCServer.js
  detox/src/ipc/SessionState.js
  detox/src/realms/DetoxContext.js
  detox/src/realms/DetoxInternalsFacade.js
  detox/src/realms/DetoxPrimaryContext.js
  detox/src/realms/DetoxSecondaryContext.js
  detox/src/symbols.js
  detox/src/utils/Timer.js
  detox/src/utils/Timer.test.js
  detox/src/utils/errorUtils.js
  detox/test/e2e-unhappy/detox-init-timeout/testEnvironment.js
  detox/test/e2e/utils/timeoutUtils.js
  detox/test/types/detox-internals-tests.ts
  docs/api/internals.md
  docs/config/testRunner.mdx
  docs/guide/migration.md
  docs/guide/proguard-configuration.md
Owners: @d4vidi, @noomorph

feat(jest): add more listener events
  detox/runners/jest/testEnvironment/index.js
Owners: @d4vidi, @noomorph

fix(ipc): race condition before broadcast received
  detox/src/ipc/IPCClient.js
  detox/src/ipc/IPCServer.js
Owners: @d4vidi, @noomorph

fix(artifacts): missing beforeAllFailure.png
  detox/runners/jest/testEnvironment/listeners/DetoxCoreListener.js
Owners: @d4vidi, @noomorph

feat(log): remove detox.log.jsonl
  detox/src/realms/DetoxPrimaryContext.js
Owners: @d4vidi, @noomorph

Publish 20.0.12-prerelease.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native-jest/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

added new articles
  website/sidebars.js
Owners: @d4vidi, @noomorph

second try to push new articles
  docs/guide/failed-test.mdx
  docs/guide/partials/_find-test-id-android.mdx
  docs/guide/partials/_find-test-id-ios.mdx
  docs/guide/test-id.mdx
  docs/img/android/layoutInspector.png
  docs/img/android/tagAttributeAndroid.png
  docs/img/ios/accessibilityAttributeIOS.png
  docs/img/ios/appDelegate.png
  docs/img/ios/attachToProcess.png
  docs/img/ios/debugHierarchyButton.png
  docs/img/passTestID.png
  docs/img/repetitiveComponentTestID.png
  docs/introduction/writing-first-test.md
  docs/introduction/writing-first-test.mdx
Owners: @d4vidi

wip: fixes to docs
  docs/guide/failed-test.mdx
  docs/guide/investigating-test-failure.mdx
  docs/guide/partials/_find-test-id-android.mdx
  docs/guide/test-id.mdx
  docs/troubleshooting/running-tests.md
  website/sidebars.js
Owners: @d4vidi, @noomorph

fixes
  docs/api/actions.md
  docs/api/expect.md
  docs/guide/developing-while-writing-tests.md
  docs/guide/investigating-test-failure.mdx
  docs/guide/partials/_find-test-id-android.mdx
  docs/guide/partials/_find-test-id-ios.mdx
  docs/introduction/debugging.mdx
  docs/introduction/getting-started.mdx
  docs/introduction/partials/_building-with-detox-build.mdx
  docs/introduction/partials/_getting-started-expo.md
  docs/introduction/partials/_getting-started-other.mdx
  docs/introduction/partials/_project-setup-apps-android.mdx
  docs/introduction/partials/_project-setup-apps-ios.mdx
  docs/introduction/partials/_project-setup-build.mdx
  docs/introduction/partials/_project-setup-devices-android.mdx
  docs/introduction/partials/_project-setup-devices-ios.mdx
  docs/introduction/preparing-for-ci.md
  docs/introduction/project-setup.mdx
  docs/introduction/writing-first-test.mdx
  docs/introduction/your-first-test.mdx
  docs/troubleshooting/running-tests.md
  docs/troubleshooting/synchronization.md
  website/sidebars.js
Owners: @d4vidi, @noomorph

docs: new guides (#3627)
  docs/api/actions.md
  docs/api/expect.md
  docs/guide/developing-while-writing-tests.md
  docs/guide/investigating-test-failure.mdx
  docs/guide/partials/_find-test-id-android.mdx
  docs/guide/partials/_find-test-id-ios.mdx
  docs/guide/test-id.mdx
  docs/img/android/layoutInspector.png
  docs/img/android/tagAttributeAndroid.png
  docs/img/ios/accessibilityAttributeIOS.png
  docs/img/ios/appDelegate.png
  docs/img/ios/attachToProcess.png
  docs/img/ios/debugHierarchyButton.png
  docs/img/passTestID.png
  docs/img/repetitiveComponentTestID.png
  docs/introduction/debugging.mdx
  docs/introduction/getting-started.mdx
  docs/introduction/partials/_building-with-detox-build.mdx
  docs/introduction/partials/_getting-started-expo.md
  docs/introduction/partials/_getting-started-other.mdx
  docs/introduction/partials/_project-setup-apps-android.mdx
  docs/introduction/partials/_project-setup-apps-ios.mdx
  docs/introduction/partials/_project-setup-build.mdx
  docs/introduction/partials/_project-setup-devices-android.mdx
  docs/introduction/partials/_project-setup-devices-ios.mdx
  docs/introduction/preparing-for-ci.md
  docs/introduction/project-setup.mdx
  docs/introduction/writing-first-test.md
  docs/introduction/your-first-test.mdx
  docs/troubleshooting/running-tests.md
  docs/troubleshooting/synchronization.md
  website/sidebars.js
Owners: @d4vidi, @noomorph

ci(github): use Node 14.x
  .github/workflows/broken-links-scan.yml
  .github/workflows/docs.yml
  .github/workflows/rapid-test.yml
Owners: @d4vidi

fix(jest): 29.2.x compatibility
  detox/local-cli/utils/jestInternals.js
  detox/package.json
  detox/test/integration/__snapshots__/timeline-artifact.test.js.snap
  detox/test/package.json
Owners: @d4vidi, @noomorph

fix(jest): 29.2.x compatibility (#3630)
  detox/local-cli/utils/jestInternals.js
  detox/package.json
  detox/test/integration/__snapshots__/timeline-artifact.test.js.snap
  detox/test/package.json
Owners: @d4vidi, @noomorph

ci(github): use Node 14.x
  .github/workflows/broken-links-scan.yml
  .github/workflows/docs.yml
  .github/workflows/rapid-test.yml
Owners: @d4vidi

test: stabilize flaky spawn test
  detox/src/utils/childProcess/spawn.test.js
Owners: @d4vidi, @noomorph

Publish 19.12.6 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native-jest/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

fix(config): make logger.overrideConsole boolean
  detox/index.d.ts
  detox/src/configuration/composeLoggerConfig.js
  detox/src/configuration/composeLoggerConfig.test.js
  detox/src/configuration/index.test.js
  detox/src/logger/DetoxLogger.js
Owners: @d4vidi, @noomorph

fix(cli): print correct env var hint
  detox/index.d.ts
  detox/local-cli/test.test.js
  detox/local-cli/testCommand/TestRunnerCommand.js
  detox/src/configuration/composeRunnerConfig.js
  detox/src/configuration/composeRunnerConfig.test.js
Owners: @d4vidi, @noomorph

fix(cli): bail --retry only for failed retried tests
  detox/runners/jest/reporters/DetoxReporter.js
Owners: @d4vidi, @noomorph

fix(cli): --inspect-brk behavior
  detox/local-cli/test.js
Owners: @d4vidi, @noomorph

test: fix test
  detox/local-cli/test.test.js
Owners: @d4vidi, @noomorph

Align Android attached-device driver
  detox/src/devices/runtime/drivers/android/attached/AttachedAndroidDriver.js
Owners: @d4vidi, @noomorph

refactor(internals): drop unused methods
  detox/internals.d.ts
  detox/src/DetoxWorker.js
  detox/src/DetoxWorker.test.js
  detox/src/artifacts/ArtifactsManager.js
  detox/src/artifacts/ArtifactsManager.test.js
  detox/src/realms/DetoxContext.js
  detox/src/symbols.js
  detox/test/types/detox-internals-tests.ts
Owners: @d4vidi, @noomorph

tests: rename custom-it.
  detox/test/e2e/03.actions-scroll.test.js
  detox/test/e2e/05.waitfor.test.js
  detox/test/e2e/utils/custom-it.js
Owners: @d4vidi, @noomorph

tests(visibility-debug-artifacts): fix expected error when button is overlayed.
  detox/test/e2e/32.visibility-debug-artifacts.test.js
Owners: @d4vidi, @noomorph

tests(hittability when alert is shown): run or expect fail if iOS < 67.
  detox/test/e2e/35.overlay.test.js
  detox/test/e2e/utils/custom-it.js
Owners: @d4vidi, @noomorph

tests: add tests for alert's overlay window.
  detox/test/e2e/35.overlay.test.js
  detox/test/src/Screens/OverlayScreen.js
Owners: @d4vidi, @noomorph

Revert "Merge pull request #3150 from wix/feature/revert-is-hittable-changes"
  detox/ios/Detox.xcodeproj/project.pbxproj
  detox/ios/Detox/Actions/UIDatePicker+DetoxActions.m
  detox/ios/Detox/Actions/UIPickerView+DetoxActions.m
  detox/ios/Detox/Actions/UIScrollView+DetoxActions.m
  detox/ios/Detox/Invocation/Element.swift
  detox/ios/Detox/Utilities/NSObject+DetoxUtils.h
  detox/ios/Detox/Utilities/NSObject+DetoxUtils.m
  detox/ios/Detox/Utilities/UIResponder+First.h
  detox/ios/Detox/Utilities/UIResponder+First.m
  detox/ios/Detox/Utilities/UIView+DetoxUtils.h
  detox/ios/Detox/Utilities/UIView+DetoxUtils.m
  detox/ios/Detox/Utilities/UIWindow+DetoxUtils.h
  detox/ios/Detox/Utilities/UIWindow+DetoxUtils.m
  detox/test/e2e/03.actions-scroll.test.js
  detox/test/e2e/03.actions.test.js
  detox/test/e2e/33.attributes.test.js
  detox/test/e2e/34.visibility.test.js
  detox/test/e2e/35.overlay.test.js
  detox/test/ios/example/NativeModule.m
  detox/test/src/Screens/OverlayScreen.js
  detox/test/src/Screens/index.js
  detox/test/src/app.js
Owners: @asafkorem, @d4vidi, @noomorph

wip
  detox/index.d.ts
Owners: @d4vidi, @noomorph

docs(api): Internals API
  .retext-spell.dic
  docs/api/internals.md
  docs/api/internals.mdx
  docs/api/logger.mdx
  docs/api/partials/_lifecycle-cli-many-workers.md
  docs/api/partials/_lifecycle-cli-single-worker.md
  docs/api/partials/_lifecycle-jest-many-workers.md
  docs/api/partials/_lifecycle-jest-single-worker.md
  docs/config/testRunner.mdx
  docs/img/uml/boot-cli-many-workers.png
  docs/img/uml/boot-cli-many-workers.svg
  docs/img/uml/boot-cli-single-worker.png
  docs/img/uml/boot-cli-single-worker.svg
  docs/img/uml/boot-jest-many-workers.png
  docs/img/uml/boot-jest-many-workers.svg
  docs/img/uml/boot-jest-single-worker.png
  docs/img/uml/boot-jest-single-worker.svg
  docs/img/uml/jest-diagram-runInBand.svg
  docs/img/uml/jest-diagram.svg
  docs/uml/sequence/boot-cli-many-workers.uml
  docs/uml/sequence/boot-cli-single-worker.uml
  docs/uml/sequence/boot-jest-many-workers.uml
  docs/uml/sequence/boot-jest-single-worker.uml
  docs/uml/sequence/jest-diagram-runInBand.uml
  docs/uml/sequence/jest-diagram.uml
  scripts/assets.uml.sh
  website/sidebars.js
  website/src/css/custom.css
Owners: @d4vidi, @noomorph
