Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

refactor(invocatioTraceDescription): remove redundant check.
  detox/src/utils/invocationTraceDescriptions.js
Owners: @d4vidi, @noomorph

test(mapDeviceLongPressArguments): add unit tests.
  detox/src/utils/mapDeviceLongPressArguments.js
  detox/src/utils/mapDeviceLongPressArguments.test.js
Owners: @d4vidi, @noomorph

test(iOS): add SimulatorDriver unit tests.
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.test.js
Owners: @d4vidi, @noomorph

test(app): fix buttons out-of-layout issue (visibility error on test).
  detox/test/src/app.js
Owners: @d4vidi, @noomorph

Publish 20.28.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Publish docs version 20.x
  website/versioned_docs/version-20.x/api/device.md
Owners: @d4vidi

Update website/versioned_docs/version-20.x/troubleshooting/building-the-app.md
  website/versioned_docs/version-20.x/troubleshooting/building-the-app.md
Owners: @d4vidi

Upgrade test project to RN 0.76
  detox/test/.gitignore
  detox/test/ios/Podfile
  detox/test/ios/example.xcodeproj/project.pbxproj
  detox/test/ios/example/AppDelegate.h
  detox/test/ios/example/AppDelegate.m
  detox/test/ios/example/PrivacyInfo.xcprivacy
  detox/test/package.json
Owners: @d4vidi, @asafkorem

Fix some of the selectors including text and scroll view
  detox/ios/Detox/Invocation/Element.swift
  detox/ios/Detox/Invocation/Predicate.swift
  detox/ios/Detox/Utilities/NSObject+DontCrash.m
Owners: @asafkorem

Fix reload command
  detox/ios/Detox/Utilities/ReactNativeSupport/ReactNativeSupport.m
Owners: @asafkorem

debug
  .buildkite/pipeline_common.sh
Owners: @d4vidi, @noomorph

fix
  .buildkite/pipeline_common.sh
Owners: @d4vidi, @noomorph

Improved android build scripts
  detox/android/rninfo.gradle
  detox/android/settings.gradle
  detox/test/android/settings.gradle
  examples/demo-react-native/android/settings.gradle
Owners: @d4vidi, @jonathanmos

Use alternative selector script
  detox/android/detox/src/full/java/com/wix/detox/espresso/web/DetoxDriverAtoms.java
Owners: @d4vidi, @jonathanmos

Use alternative selector script
  detox/android/detox/src/full/java/com/wix/detox/espresso/web/DetoxDriverAtoms.java
  detox/android/detox/src/full/java/com/wix/detox/espresso/web/DetoxWebAtomMatcher.java
  detox/android/detox/src/full/java/com/wix/detox/espresso/web/WebElement.java
Owners: @d4vidi, @jonathanmos

fix
  detox/scripts/build_local_framework.ios.sh
Owners: @d4vidi, @noomorph

update xcode to 16.1
  .xcoderc
  detox/scripts/build_local_framework.ios.sh
Owners: @d4vidi, @noomorph

update sim and ios verion to 18
  detox/test/e2e/detox.config.js
  examples/demo-native-ios/package.json
  examples/demo-react-native/detox.config.js
Owners: @d4vidi, @noomorph

update sim and ios verion to 18
  detox/test/e2e/detox.config.js
  examples/demo-native-ios/package.json
  examples/demo-react-native/detox.config.js
Owners: @d4vidi, @noomorph

Upgrade to RN74
  .buildkite/jobs/pipeline.android_demo_app_rn_74.yml
  .buildkite/jobs/pipeline.android_rn_74.yml
  .buildkite/jobs/pipeline.ios_demo_app_rn_74.yml
  .buildkite/jobs/pipeline.ios_rn_74.yml
  .buildkite/pipeline_common.sh
  detox/android/build.gradle
  detox/android/rninfo.gradle
  detox/package.json
  detox/test/android/build.gradle
  detox/test/android/gradle/wrapper/gradle-wrapper.properties
  detox/test/ios/example.xcodeproj/project.pbxproj
  detox/test/package.json
  examples/demo-react-native/package.json
Owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

Upgrade to RN74
  detox/test/ios/example/PrivacyInfo.xcprivacy
  examples/demo-react-native/Gemfile
  examples/demo-react-native/android/build.gradle
  examples/demo-react-native/android/gradle.properties
  examples/demo-react-native/android/gradle/wrapper/gradle-wrapper.properties
Owners: @d4vidi, @jonathanmos

Updated docs
  README.md
Owners: @d4vidi

Fixed build
  detox/scripts/updateGradle.js
Owners: @d4vidi, @noomorph

Fixed build
  detox/package.json
  detox/scripts/updateGradle.js
Owners: @d4vidi, @noomorph

Fixed build
  detox/android/gradle/wrapper/gradle-wrapper.properties
Owners: @d4vidi

Removed RN 71 build
  .buildkite/jobs/pipeline.android_rn_71.yml
  .buildkite/jobs/pipeline.ios_demo_app_rn_71.yml
  .buildkite/jobs/pipeline.ios_rn_71.yml
  .buildkite/pipeline_common.sh
  detox/test/package.json
Owners: @d4vidi, @noomorph

Fixed build. Upgraded to xcode 16
  .xcoderc
  detox/test/ios/example.xcodeproj/project.pbxproj
  examples/demo-react-native/ios/example.xcodeproj/project.pbxproj
  examples/demo-react-native/ios/example/PrivacyInfo.xcprivacy
Owners: @d4vidi, @asafkorem

Enable new arch
  detox/android/detox/build.gradle
  detox/test/android/app/build.gradle
  detox/test/android/build.gradle
  detox/test/android/gradle.properties
  detox/test/android/settings.gradle
  detox/test/ios/Podfile
  detox/test/package.json
  examples/demo-react-native/android/settings.gradle
Owners: @d4vidi, @jonathanmos, @asafkorem

Updated git ignore to exclude cpp files build
  .gitignore
Owners: @d4vidi

Updated git ignore to exclude cpp files
  .gitignore
Owners: @d4vidi

Update building-the-app.md
  website/versioned_docs/version-20.x/troubleshooting/building-the-app.md
Owners: @d4vidi

Update building-the-app.md
  docs/troubleshooting/building-the-app.md
Owners: @d4vidi

revert building-the-app.md
  website/versioned_docs/version-20.x/troubleshooting/building-the-app.md
Owners: @d4vidi

Upgrade to rn 75
  detox/android/build.gradle
  detox/android/detox/build.gradle
  detox/android/gradle/wrapper/gradle-wrapper.properties
  detox/android/rninfo.gradle
  detox/android/settings.gradle
  detox/scripts/updateGradle.js
  detox/test/android/app/build.gradle
  detox/test/android/build.gradle
  detox/test/android/gradle.properties
  detox/test/android/gradle/wrapper/gradle-wrapper.properties
  detox/test/android/settings.gradle
  detox/test/ios/example.xcodeproj/project.pbxproj
  detox/test/package.json
Owners: @d4vidi, @jonathanmos, @noomorph, @asafkorem

Upgrade to rn 75
  detox/package.json
  detox/test/ios/example.xcodeproj/project.pbxproj
  detox/test/package.json
  examples/demo-react-native/android/gradle/wrapper/gradle-wrapper.properties
Owners: @d4vidi, @asafkorem

Added rn 75 pipelines
  .buildkite/jobs/pipeline.android_demo_app_rn_75.yml
  .buildkite/jobs/pipeline.android_rn_75.yml
  .buildkite/jobs/pipeline.ios_demo_app_rn_75.yml
  .buildkite/jobs/pipeline.ios_rn_75.yml
  .buildkite/pipeline_common.sh
  detox/android/detox/build.gradle
  detox/test/android/settings.gradle
Owners: @d4vidi, @noomorph, @jonathanmos

Fixed build on rn < 75
  detox/test/android/app/build.gradle
Owners: @d4vidi, @jonathanmos

Patch settings file to support rn < 75
  detox/scripts/postinstall.js
  detox/scripts/updateGradle.js
  detox/test/android/app/build.gradle
  detox/test/android/settings.gradle
  detox/test/scripts/postinstall.js
  examples/demo-react-native/scripts/postinstall.js
Owners: @d4vidi, @noomorph, @jonathanmos

Fixed support for rn75
  detox/android/settings.gradle
Owners: @d4vidi, @jonathanmos

Rename .java to .kt
  detox/test/android/app/src/main/java/com/example/DetoxRNHost.kt
  detox/test/android/app/src/main/java/com/example/MainActivity.kt
  detox/test/android/app/src/main/java/com/example/MainApplication.kt
Owners: @d4vidi, @jonathanmos

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem
