Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem

fix(ipc): null state deserialization
  detox/src/ipc/SessionState.js
Owners: @d4vidi, @noomorph

Publish 19.13.0-feature.is-hittable-check.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native-jest/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

docs(blog): Detox 20
  website/blog/detox-20-is-out.md
  website/static/img/blog/v20-logger-options.png
  website/static/img/blog/v20-perfetto-example.png
Owners: @d4vidi

tests(visibility-debug-artifacts): fix expected error when button is overlayed.
  detox/test/e2e/32.visibility-debug-artifacts.test.js
Owners: @d4vidi, @noomorph

tests(hittability when alert is shown): run or expect fail if iOS < 67.
  detox/test/e2e/35.overlay.test.js
  detox/test/e2e/utils/custom-it.js
Owners: @d4vidi, @noomorph

tests: rename custom-it.
  detox/test/e2e/03.actions-scroll.test.js
  detox/test/e2e/05.waitfor.test.js
  detox/test/e2e/utils/custom-it.js
Owners: @d4vidi, @noomorph

tests: add tests for alert's overlay window.
  detox/test/e2e/35.overlay.test.js
  detox/test/src/Screens/OverlayScreen.js
Owners: @d4vidi, @noomorph

Revert "Merge pull request #3150 from wix/feature/revert-is-hittable-changes"
  detox/ios/Detox.xcodeproj/project.pbxproj
  detox/ios/Detox/Actions/UIDatePicker+DetoxActions.m
  detox/ios/Detox/Actions/UIPickerView+DetoxActions.m
  detox/ios/Detox/Actions/UIScrollView+DetoxActions.m
  detox/ios/Detox/Invocation/Element.swift
  detox/ios/Detox/Utilities/NSObject+DetoxUtils.h
  detox/ios/Detox/Utilities/NSObject+DetoxUtils.m
  detox/ios/Detox/Utilities/UIResponder+First.h
  detox/ios/Detox/Utilities/UIResponder+First.m
  detox/ios/Detox/Utilities/UIView+DetoxUtils.h
  detox/ios/Detox/Utilities/UIView+DetoxUtils.m
  detox/ios/Detox/Utilities/UIWindow+DetoxUtils.h
  detox/ios/Detox/Utilities/UIWindow+DetoxUtils.m
  detox/test/e2e/03.actions-scroll.test.js
  detox/test/e2e/03.actions.test.js
  detox/test/e2e/33.attributes.test.js
  detox/test/e2e/34.visibility.test.js
  detox/test/e2e/35.overlay.test.js
  detox/test/ios/example/NativeModule.m
  detox/test/src/Screens/OverlayScreen.js
  detox/test/src/Screens/index.js
  detox/test/src/app.js
Owners: @asafkorem, @d4vidi, @noomorph

Publish 20.1.0-next-is-hittable-check.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native-jest/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

docs: feedback and fixes
  docs/introduction/partials/_project-setup-bootstrap-other.mdx
  docs/introduction/partials/_project-setup-bootstrap-rn.mdx
  docs/introduction/project-setup.mdx
Owners: @d4vidi

Publish 20.0.13-prerelease.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native-jest/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

chore: self-review fixes
  detox/index.d.ts
Owners: @d4vidi, @noomorph

.gitignore: add vscode IDE path.
  .gitignore
Owners: @d4vidi

website: add new image assets.
  website/static/img/showcase/discord-footer-dark.svg
  website/static/img/showcase/discord-footer-light.svg
  website/static/img/showcase/gh-footer-dark.svg
  website/static/img/showcase/gh-footer-light.svg
  website/static/img/showcase/gh-nav-dark.svg
  website/static/img/showcase/gh-nav-light.svg
  website/static/img/showcase/showcase-icon-dark.svg
  website/static/img/showcase/showcase-icon-hover.svg
  website/static/img/showcase/showcase-icon-white.svg
  website/static/img/showcase/showcase-illustration.png
  website/static/img/showcase/twitter-footer-dark.svg
  website/static/img/showcase/twitter-footer-light.svg
Owners: @d4vidi

website(Showcase): add showcased projects icons.
  website/static/img/showcase/bolt.webp
  website/static/img/showcase/hudl.webp
  website/static/img/showcase/maiia.webp
  website/static/img/showcase/next.jpg
  website/static/img/showcase/noona.webp
  website/static/img/showcase/omnon.webp
  website/static/img/showcase/pitch.webp
  website/static/img/showcase/react-native.webp
  website/static/img/showcase/rn-datetimepicker.png
  website/static/img/showcase/rocket-chat.webp
  website/static/img/showcase/valora.webp
  website/static/img/showcase/wealthsimple.png
  website/static/img/showcase/wix-owner.webp
  website/static/img/showcase/wix-spaces.webp
Owners: @d4vidi

website(Showcase): add showcase cards data.
  website/showcase.json
Owners: @d4vidi

website(Showcase): add CSS classes for the Showcase page.
  website/src/css/custom.css
Owners: @d4vidi

website(Showcase): add Card component.
  website/src/components/Showcase/Card.js
  website/src/components/Showcase/Card.module.css
Owners: @d4vidi, @noomorph

website(navbar): add Showcase page button.
  website/docusaurus.config.js
Owners: @d4vidi, @noomorph

website(Showcase): add Showcase Hero component.
  website/src/components/Showcase/Hero.js
  website/src/components/Showcase/Hero.module.css
Owners: @d4vidi, @noomorph

website: add Showcase page.
  website/src/components/Showcase/index.js
  website/src/pages/showcase.js
Owners: @d4vidi, @noomorph

website(Showcase): add Showcase component.
  website/src/components/Showcase/Showcase.js
  website/src/components/Showcase/Showcase.module.css
Owners: @d4vidi, @noomorph

website: set color mode to dark mode as default.
  website/docusaurus.config.js
Owners: @d4vidi, @noomorph

website(config): fix styling.
  website/docusaurus.config.js
Owners: @d4vidi, @noomorph

website(footer): upgrade footer links and style.
  website/docusaurus.config.js
Owners: @d4vidi, @noomorph

website(config): fix GitHub edit links.
  website/docusaurus.config.js
Owners: @d4vidi, @noomorph

feat(device): deprecate device.relaunchApp again
  detox/index.d.ts
  detox/test/types/detox-module-tests.ts
  docs/api/device.md
  website/blog/detox-20-is-out.md
Owners: @d4vidi, @noomorph

website(Showcase): add app submission form link.
  website/src/components/Showcase/Hero.js
Owners: @d4vidi, @noomorph

website(Showcase): fix link closing tag.
  website/src/components/Showcase/Hero.js
Owners: @d4vidi, @noomorph

website(showcase): remove wrong app from list.
  website/showcase.json
Owners: @d4vidi

website(showcase): add more Wix apps (Dine, Fit).
  website/showcase.json
  website/static/img/showcase/wix-dine.webp
  website/static/img/showcase/wix-fit.webp
Owners: @d4vidi

fix(js): clean up the exposed globals
  detox/src/DetoxWorker.js
  detox/src/DetoxWorker.test.js
Owners: @d4vidi, @noomorph

chore: code review fixes
  detox/index.d.ts
  detox/internals.d.ts
  detox/src/realms/DetoxContext.js
  detox/src/realms/DetoxInternalsFacade.js
  detox/src/realms/DetoxPrimaryContext.js
  detox/src/realms/DetoxSecondaryContext.js
  docs/api/internals.mdx
  website/blog/detox-20-is-out.md
Owners: @d4vidi, @noomorph

fix Play Store links for 2 apps to point to the app's page, removed unrelated comment in custom.css
  website/showcase.json
  website/src/css/custom.css
Owners: @d4vidi

removed a TODO item comment from file
  website/src/css/custom.css
Owners: @d4vidi

website: fix Showcase Google Play links (#3657)
  website/showcase.json
  website/src/css/custom.css
Owners: @d4vidi

fix(android gradle): replace jcenter with maven-center.
  detox/android/build.gradle
  examples/demo-native-android/build.gradle
  examples/demo-pure-native-android/build.gradle
Owners: @d4vidi, @jonathanmos

ci(android gradle): replace jcenter with maven-center. (#3658)
  detox/android/build.gradle
  examples/demo-native-android/build.gradle
  examples/demo-pure-native-android/build.gradle
Owners: @d4vidi, @jonathanmos

website(showcase): remove broken and redundant css param (border).
  website/src/components/Showcase/Hero.module.css
Owners: @d4vidi

website(footer): fix GitHub footer icon (dark mode).
  website/src/css/custom.css
  website/static/img/showcase/gh-footer-dark.svg
Owners: @d4vidi
