Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

chore(website): upgrade docusaurus
  website/package.json
Owners: @d4vidi

ci(website): make percy fail on changes
  website/percy.mjs
Owners: @d4vidi

ci(website): suppress build wait error
  website/percy.mjs
Owners: @d4vidi

chore(website): upgrade docusaurus (#3928)
  website/package.json
  website/percy.mjs
Owners: @d4vidi

add global figma styles mixins for social buttons, showcase button, showcase cards buttons and fonts
  website/src/css/_config.scss
Owners: @d4vidi

_utilities.scss was not named correctly, updated to _config.scss and updated corresponding files, a @import to _admonitions.scss file to import the new mixins from the _config.scss file
  website/src/css/_admonitions.scss
  website/src/css/_config.scss
  website/src/css/custom.scss
Owners: @d4vidi

confirmed with glyph T3 font not 96px but should be 20px. Udpated.
  website/src/css/_config.scss
Owners: @d4vidi

test app: replace regex in Podfile.
  detox/test/ios/Podfile
Owners: @asafkorem

React Native 70 compliance - Detox test project (#3921)
  .buildkite/jobs/pipeline.android_rn_70.yml
  .buildkite/jobs/pipeline.ios_rn_70.yml
  .buildkite/pipeline.debug.yml
  .buildkite/pipeline_common.sh
  detox/package.json
  detox/test/android/build.gradle
  detox/test/android/gradle/wrapper/gradle-wrapper.properties
  detox/test/android/rninfo.gradle
  detox/test/ios/Podfile
  detox/test/package.json
Owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

[Genymotion SaaS] Update gmsaas start flag to fix wrong device timeout
  detox/src/devices/common/drivers/android/genycloud/exec/GenyCloudExec.js
  detox/src/devices/common/drivers/android/genycloud/exec/GenyCloudExec.test.js
Owners: @d4vidi, @noomorph

WIP: extracting xcuitest runner on JS
  detox/ios/DetoxTester/DetoxTester/Tester/DetoxTester.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+getAppUnderTest.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Utils/Web Socket Server/WebSocketServer+config.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Utils/Web Socket Server/WebSocketServer.swift
  detox/ios/DetoxTester/DetoxTester/Utils/EnvArgKeys.swift
  detox/ios/DetoxTester/DetoxTester/Utils/Extensions/String+BundleIdentifiers.swift
  detox/ios/DetoxTester/DetoxTesterApp.xcodeproj/project.pbxproj
  detox/src/devices/common/drivers/ios/tools/XCUITest.js
  detox/src/devices/runtime/RuntimeDevice.js
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
  detox/src/utils/childProcess/exec.js
Owners: @asafkorem, @d4vidi, @noomorph

remove dependency on a constant configuration name for identification of cloud session
  detox/src/configuration/composeAppsConfig.js
  detox/src/configuration/composeArtifactsConfig.js
  detox/src/configuration/index.js
Owners: @d4vidi, @noomorph

Apply suggested changes.
  detox/ios/Detox/Actions/UIApplication+DetoxActions.swift
  detox/ios/Detox/DetoxManager.swift
Owners: @asafkorem

Added "searchWrapper" and other small fixes.
  website/src/css/_navbar.scss
  website/src/theme/Navbar/Search/index.js
  website/src/theme/Navbar/Search/styles.module.scss
Owners: @d4vidi, @noomorph

add runtime driver for android devices in cloud
  detox/src/devices/runtime/drivers/android/cloud/cloudAndroidDriver.js
  detox/src/devices/runtime/factories/android.js
Owners: @d4vidi, @noomorph

docs(website): apply mobile navbar design (#3922)
  website/src/css/_navbar.scss
  website/src/theme/Icon/Menu/index.js
  website/src/theme/Navbar/Search/index.js
  website/src/theme/Navbar/Search/styles.module.scss
Owners: @d4vidi, @noomorph

wip
  detox/src/devices/common/drivers/ios/tools/XCUITest.js
Owners: @d4vidi, @noomorph

fix(cli): detox-server should consider --loglevel
  detox/local-cli/run-server.js
  detox/src/utils/logger.js
Owners: @d4vidi, @noomorph

fix gitignore VCS line move up, separate colors, fonts, showcase section styles
  website/src/css/_admonitions.scss
  website/src/css/_colors.scss
  website/src/css/_config.scss
  website/src/css/_fonts.scss
  website/src/css/_showcase-section.scss
  website/src/css/custom.scss
Owners: @d4vidi

VCS in gitignore
  .gitignore
Owners: @d4vidi

fix(cli): detox-server should consider --loglevel (#3934)
  detox/local-cli/run-server.js
  detox/src/utils/logger.js
Owners: @d4vidi, @noomorph

WIP
  detox/index.d.ts
  detox/src/DetoxWorker.js
  detox/src/devices/common/drivers/ios/tools/XCUITest.js
  detox/src/devices/runtime/RuntimeDevice.js
  detox/src/devices/runtime/drivers/DeviceDriverBase.js
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
  detox/src/devices/runtime/drivers/ios/XCUITestUtils.js
Owners: @d4vidi, @noomorph

add runtime driver for android devices in cloud
  detox/src/client/Client.js
  detox/src/client/actions/actions.js
  detox/src/devices/runtime/drivers/android/cloud/cloudAndroidDriver.js
  detox/src/devices/runtime/factories/android.js
  detox/src/invoke.js
Owners: @d4vidi, @noomorph

wip
  detox/index.d.ts
  detox/ios/DetoxTester/DetoxTester/Tester/DetoxTester.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/DetoxServerMessageSenderProtocol.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+Connections.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+WhiteBoxExecutor.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+getAppUnderTest.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+handleInvoke.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+waitFor.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Utils/Web Socket Client/ServerMessageType+handleAsync.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Utils/Web Socket Client/ServerMessageType.swift
  detox/ios/DetoxTester/DetoxTester/Utils/EnvArgKeys.swift
  detox/ios/DetoxTester/DetoxTester/Utils/Extensions/String+BundleIdentifiers.swift
  detox/ios/DetoxTester/DetoxTester/Utils/Extensions/XCUIApplication+Common.swift
  detox/ios/DetoxTester/DetoxTesterApp.xcodeproj/project.pbxproj
  detox/src/DetoxWorker.js
  detox/src/client/Client.js
  detox/src/client/actions/actions.js
  detox/src/devices/runtime/RuntimeDevice.js
  detox/src/devices/runtime/drivers/DeviceDriverBase.js
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
  detox/src/devices/runtime/drivers/ios/XCUITestUtils.js
Owners: @d4vidi, @noomorph, @asafkorem

WIP
  detox/ios/Detox/DetoxManager.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+Connections.swift
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
  detox/src/devices/runtime/drivers/ios/XCUITestUtils.js
Owners: @asafkorem, @d4vidi, @noomorph

WIP
  detox/ios/Detox/DetoxManager.swift
  detox/ios/DetoxTester/DetoxTester/Actions/ActionDelegate.swift
  detox/ios/DetoxTester/DetoxTester/Actions/XCUIElement/XCUIElement+Error.swift
  detox/ios/DetoxTester/DetoxTester/Actions/XCUIElement/XCUIElement+tap.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor.swift
Owners: @asafkorem

add logs
  detox/ios/Detox/DetoxManager.swift
Owners: @asafkorem

add env vars
  detox/ios/DetoxTester/DetoxTesterApp.xcodeproj/xcshareddata/xcschemes/DetoxTester.xcscheme
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
  detox/src/devices/runtime/drivers/ios/XCUITestUtils.js
Owners: @asafkorem, @d4vidi, @noomorph

React Native 70 compliance - Detox demo projects
  .buildkite/jobs/pipeline.android_demo_app_rn_70.yml
  .buildkite/pipeline_common.sh
  detox/android/build.gradle
  detox/android/gradle/wrapper/gradle-wrapper.properties
  examples/demo-react-native/package.json
Owners: @d4vidi, @noomorph, @jonathanmos

React Native 70 compliance - Detox demo projects (iOS)
  .buildkite/jobs/pipeline.ios_demo_app_rn_70.yml
  .buildkite/pipeline_common.sh
  detox/test/ios/Podfile
  examples/demo-react-native/ios/Podfile
Owners: @d4vidi, @noomorph, @asafkorem

React Native 70 compliance - Detox demo projects (#3939)
  .buildkite/jobs/pipeline.android_demo_app_rn_70.yml
  .buildkite/jobs/pipeline.ios_demo_app_rn_70.yml
  .buildkite/pipeline_common.sh
  detox/android/build.gradle
  detox/android/gradle/wrapper/gradle-wrapper.properties
  detox/test/ios/Podfile
  examples/demo-react-native/ios/Podfile
  examples/demo-react-native/package.json
Owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

Align compliance in docs
  README.md
  docs/introduction/getting-started.mdx
  docs/introduction/partials/_getting-started-rn.md
Owners: @d4vidi

docs: autofixes
  README.md
  docs/api/actions.md
  docs/guide/android-dev-env.md
  docs/introduction/partials/_getting-started-rn.md
Owners: @d4vidi

add cloudArtifactsManager and fix response parsing for cloudPlatform api
  detox/src/artifacts/CloudArtifactsManager.js
  detox/src/artifacts/factories/index.js
  detox/src/client/actions/actions.js
  detox/src/devices/runtime/drivers/android/cloud/cloudAndroidDriver.js
  detox/src/invoke.js
Owners: @d4vidi, @noomorph

ci(website): fail on visual changes
  website/percy.mjs
Owners: @d4vidi

ci(website): revert percy try-catch
  website/percy.mjs
Owners: @d4vidi

Align compliance in docs (#3940)
  README.md
  docs/api/actions.md
  docs/guide/android-dev-env.md
  docs/introduction/getting-started.mdx
  docs/introduction/partials/_getting-started-rn.md
Owners: @d4vidi

fix(cli): increase testRunner.jest.setupTimeout from 2 min to 5 min
  detox/local-cli/init.js
Owners: @d4vidi, @noomorph

Inserting backdoor into Detox
  package.json
Owners: @d4vidi

Inserting backdoor into detox-cli
  detox-cli/package.json
Owners: @d4vidi

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem
