Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

Publish 20.0.4-breaking.new-global-lifecycle.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native-jest/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

ci: bump
  detox/src/realms/DetoxSecondaryContext.js
Owners: @d4vidi, @noomorph

Add missing proguard-rules
  detox/android/detox/proguard-rules-app.pro
Owners: @d4vidi

Add missing proguard-rules (#3556)
  detox/android/detox/proguard-rules-app.pro
Owners: @d4vidi

Publish 19.9.3-prerelease.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native-jest/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

fix(android): crash message handling on client.waitUntilAppIsReady
  detox/src/client/Client.js
  detox/src/client/Client.test.js
  detox/src/devices/runtime/drivers/android/AndroidDriver.js
  detox/src/devices/runtime/drivers/android/AndroidDriver.test.js
  detox/test/e2e/19.crash-handling.test.js
  detox/test/index.android.js
  detox/test/index.ios.js
  detox/test/package.json
Owners: @d4vidi, @noomorph

Publish 19.9.3 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native-jest/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Integrate simulated crashing technique to Android
  detox/android/detox/src/full/java/com/wix/detox/DetoxCrashHandler.kt
  detox/android/detox/src/full/java/com/wix/detox/TestEngineFacade.kt
  detox/src/devices/runtime/drivers/android/AndroidDriver.js
  detox/test/android/app/build.gradle
  detox/test/android/app/src/main/java/com/example/DetoxRNHost.java
  detox/test/android/settings.gradle
  detox/test/e2e/19.crash-handling.test.js
  detox/test/index.android.js
  detox/test/index.ios.js
  detox/test/src/app.js
Owners: @d4vidi, @jonathanmos, @noomorph

Crash-tests suite: Isolate tests
  detox/test/e2e/19.crash-handling.test.js
Owners: @d4vidi, @noomorph

Make error applicable on iOS
  detox/test/e2e/19.crash-handling.test.js
  detox/test/index.android.js
  detox/test/index.ios.js
  detox/test/src/app.js
Owners: @d4vidi, @noomorph

rename workerId -> workerIndex, minor fixes
  detox/index.d.ts
  detox/internals.d.ts
  detox/runners/jest/testEnvironment/index.js
  detox/src/devices/common/drivers/android/genycloud/services/GenyInstanceNaming.js
  detox/src/devices/common/drivers/android/genycloud/services/GenyInstanceNaming.test.js
  detox/src/ipc/IPCClient.js
  detox/src/ipc/IPCServer.js
  detox/src/ipc/state.js
  detox/src/realms/DetoxPrimaryContext.js
  detox/src/realms/DetoxSecondaryContext.js
  detox/test/integration/utils/simplistic-runner.js
  detox/test/types/detox-internals-tests.ts
Owners: @d4vidi, @noomorph

remove dead code
  detox/src/utils/ChromeTracingExporter.js
  detox/src/utils/ChromeTracingExporter.test.js
Owners: @d4vidi, @noomorph

fix: kill signal handling
  detox/src/devices/lifecycle/GenyGlobalLifecycleHandler.js
  detox/src/devices/lifecycle/GenyGlobalLifecycleHandler.test.js
  detox/src/realms/DetoxPrimaryContext.js
Owners: @d4vidi, @noomorph

Replace deprecated segmentedControl with community version
  detox/test/package.json
  detox/test/src/Views/SegmentedControl.js
Owners: @d4vidi, @noomorph

Remove unused flowconfig
  detox/test/.flowconfig
Owners: @d4vidi

Make error applicable on iOS, really - this time
  detox/src/client/Client.js
  detox/src/client/Client.test.js
  detox/test/e2e/19.crash-handling.test.js
Owners: @d4vidi, @noomorph

fix(android): crash message handling on client.waitUntilAppIsReady (#3498)
  detox/android/detox/src/full/java/com/wix/detox/DetoxCrashHandler.kt
  detox/android/detox/src/full/java/com/wix/detox/TestEngineFacade.kt
  detox/src/client/Client.js
  detox/src/client/Client.test.js
  detox/src/devices/runtime/drivers/android/AndroidDriver.js
  detox/src/devices/runtime/drivers/android/AndroidDriver.test.js
  detox/test/android/app/build.gradle
  detox/test/android/app/src/main/java/com/example/DetoxRNHost.java
  detox/test/android/settings.gradle
  detox/test/e2e/19.crash-handling.test.js
  detox/test/index.android.js
  detox/test/index.ios.js
  detox/test/package.json
Owners: @d4vidi, @jonathanmos, @noomorph

Stabilize new crash e2e test on Android
  detox/test/android/app/build.gradle
  detox/test/android/app/src/main/java/com/example/DetoxRNHost.java
  detox/test/android/settings.gradle
  detox/test/index.android.js
  detox/test/index.ios.js
Owners: @d4vidi, @jonathanmos, @noomorph

Stabilize new crash e2e test on Android (#3562)
  detox/test/android/app/build.gradle
  detox/test/android/app/src/main/java/com/example/DetoxRNHost.java
  detox/test/android/settings.gradle
  detox/test/index.android.js
  detox/test/index.ios.js
Owners: @d4vidi, @jonathanmos, @noomorph

Publish 19.10.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native-jest/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

`trace.js`: add args param to `traceCall` API.
  detox/src/utils/trace.js
Owners: @d4vidi, @noomorph

RuntimeDevice: rename trace events.
  detox/src/devices/runtime/RuntimeDevice.js
Owners: @d4vidi, @noomorph

TimelineArtifactPlugin.js: extract timeline context types.
  detox/src/artifacts/timeline/TimelineArtifactPlugin.js
  detox/src/artifacts/timeline/TimelineArtifactPlugin.test.js
  detox/src/artifacts/timeline/TimelineContextTypes.js
Owners: @d4vidi, @noomorph

trace.js: replace traceCall `func` param with `promise` param.
  detox/src/DetoxExportWrapper.js
  detox/src/devices/allocation/DeviceAllocator.js
  detox/src/devices/allocation/DeviceAllocator.test.js
  detox/src/devices/allocation/drivers/android/emulator/EmulatorAllocDriver.js
  detox/src/devices/allocation/drivers/android/emulator/EmulatorAllocDriver.test.js
  detox/src/devices/allocation/drivers/android/emulator/EmulatorLauncher.js
  detox/src/devices/allocation/drivers/android/emulator/EmulatorLauncher.test.js
  detox/src/devices/runtime/RuntimeDevice.js
  detox/src/utils/__mocks__/trace.js
  detox/src/utils/childProcess/exec.test.js
  detox/src/utils/trace.js
  detox/src/utils/trace.test.js
  detox/test/e2e/01.sanity.test.js
  detox/test/integration/e2e/stub1.test.js
Owners: @d4vidi, @noomorph

feat(trace): add invocation-call trace function.
  detox/src/utils/__mocks__/trace.js
  detox/src/utils/trace.js
  detox/src/utils/trace.test.js
Owners: @d4vidi, @noomorph

invocationTraceDescriptions: initiail commit.
  detox/src/utils/invocationTraceDescriptions.js
Owners: @d4vidi, @noomorph

feat(Android): trace invocation calls.
  detox/src/android/AndroidExpect.test.js
  detox/src/android/core/NativeElement.js
  detox/src/android/core/NativeExpect.js
  detox/src/android/interactions/native.js
Owners: @d4vidi, @noomorph

feat(iOS): trace invocation calls.
  detox/src/ios/expectTwo.js
  detox/src/ios/expectTwo.test.js
  detox/src/ios/expectTwoApiCoverage.test.js
Owners: @d4vidi, @noomorph

tests(integration): update timeline artifact snapshot.
  detox/test/integration/__snapshots__/timeline-artifact.test.js.snap
Owners: @d4vidi

refactor: rename facade
  detox/index.d.ts
  detox/internals.d.ts
  detox/local-cli/test.js
  detox/runners/jest/globalSetup.js
  detox/runners/jest/globalTeardown.js
  detox/runners/jest/testEnvironment/index.js
  detox/src/DetoxWorker.js
  detox/src/devices/common/drivers/android/genycloud/services/GenyInstanceNaming.js
  detox/src/devices/common/drivers/android/genycloud/services/GenyInstanceNaming.test.js
  detox/src/ipc/IPCClient.js
  detox/src/ipc/IPCServer.js
  detox/src/ipc/state.js
  detox/src/realms/DetoxContext.js
  detox/src/realms/DetoxInternalsFacade.js
  detox/src/realms/DetoxPrimaryContext.js
  detox/src/realms/DetoxSecondaryContext.js
  detox/src/symbols.js
  detox/test/integration/utils/simplistic-runner.js
  detox/test/types/detox-internals-tests.ts
  docs/img/uml/boot-cli-many-workers.png
  docs/img/uml/boot-cli-single-worker.png
  docs/img/uml/boot-jest-many-workers.png
  docs/img/uml/boot-jest-single-worker.png
  docs/uml/sequence/boot-cli-many-workers.uml
  docs/uml/sequence/boot-cli-single-worker.uml
  docs/uml/sequence/boot-jest-many-workers.uml
  docs/uml/sequence/boot-jest-single-worker.uml
Owners: @d4vidi, @noomorph

fix: test lifecycle
  detox/index.d.ts
  detox/runners/jest/testEnvironment/index.js
  detox/runners/jest/testEnvironment/listeners/DetoxCoreListener.js
  detox/src/DetoxWorker.js
  detox/src/devices/runtime/RuntimeDevice.js
  detox/src/logger/DetoxTraceEventBuilder.js
  detox/src/logger/DetoxTracer.js
  detox/src/realms/DetoxInternalsFacade.js
  detox/src/utils/trace.test.js
Owners: @d4vidi, @noomorph

tests(integration): update timeline-artifact snapshot.
  detox/test/integration/__snapshots__/timeline-artifact.test.js.snap
Owners: @d4vidi

feat(timeline artifact): add more information on test events.
  detox/runners/jest-circus/listeners/DetoxCoreListener.js
  detox/src/artifacts/timeline/TimelineArtifactPlugin.js
  detox/src/artifacts/timeline/TimelineArtifactPlugin.test.js
Owners: @d4vidi, @noomorph

fix(trace): undo `traceCall` breaking change, extend call types.
  detox/src/utils/trace.js
  detox/src/utils/trace.test.js
Owners: @d4vidi, @noomorph

wip: start tracing refactor
  detox/index.d.ts
  detox/internals.d.ts
  detox/local-cli/testCommand/TestRunnerCommand.js
  detox/package.json
  detox/runners/jest/testEnvironment/index.js
  detox/runners/jest/testEnvironment/listeners/DetoxCoreListener.js
  detox/src/configuration/composeRunnerConfig.js
  detox/src/logger/DetoxLogger.js
  detox/src/logger/DetoxTracer.js
  detox/src/realms/DetoxContext.js
  detox/src/realms/DetoxPrimaryContext.js
  detox/src/utils/trace.js
  detox/test/types/detox-internals-tests.ts
Owners: @d4vidi, @noomorph

wip: cp logging
  detox/index.d.ts
  detox/local-cli/testCommand/TestRunnerCommand.js
  detox/runners/jest/testEnvironment/listeners/SpecReporter.js
  detox/src/client/AsyncWebSocket.js
  detox/src/logger/DetoxTracer.js
  detox/src/logger/TraceThreadDispatcher.js
  detox/src/utils/childProcess/spawn.js
Owners: @d4vidi, @noomorph

wip: finally a good signature
  detox/index.d.ts
  detox/local-cli/testCommand/TestRunnerCommand.js
  detox/runners/jest/testEnvironment/index.js
  detox/runners/jest/testEnvironment/listeners/DetoxCoreListener.js
  detox/src/logger/DetoxLogger.js
  detox/src/logger/DetoxTracer.js
  detox/src/logger/tracing/CategoryThreadDispatcher.js
  detox/src/logger/tracing/DetoxTraceEventBuilder.js
  detox/src/logger/tracing/ThreadDispatcher.js
  detox/src/utils/childProcess/exec.js
  detox/src/utils/childProcess/spawn.js
  detox/src/utils/trace.js
  detox/src/utils/trace.test.js
  detox/test/types/detox-internals-tests.ts
Owners: @d4vidi, @noomorph

pr fixes
  detox/android/detox/src/full/java/com/wix/detox/LaunchArgs.java
  detox/android/detox/src/full/java/com/wix/detox/reactnative/ReactNativeExtension.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/ReactNativeIdlingResources.kt
  detox/test/e2e/12.animations.test.js
Owners: @d4vidi, @jonathanmos, @noomorph

fix: core listener
  detox/runners/jest/testEnvironment/listeners/DetoxCoreListener.js
Owners: @d4vidi, @noomorph

upgrade js to rn69
  detox/package.json
  detox/test/package.json
Owners: @d4vidi

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem
