Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem

test(iOS): fix Detox "annoying window" accessibility attributes.
  detox/test/ios/example/AppDelegate.m
Owners: @asafkorem

port allocation workaround
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
Owners: @d4vidi, @noomorph

Publish 21.0.1-rc.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

doc(iOS): add code comments.
  detox/ios/DetoxTester/DetoxTester/Actions/Utils/ActionDelegate+createDebugArtifacts.swift
  detox/ios/DetoxTester/DetoxTester/Actions/XCUIElement/XCUIElement+Keyboard.swift
  detox/ios/DetoxTester/DetoxTester/Actions/XCUIElement/XCUIScreenshotProviding+takeScreenshot.swift
  detox/ios/DetoxTester/DetoxTester/Expectations/ExpectationDelegate+Error.swift
  detox/ios/DetoxTester/DetoxTester/Expectations/ExpectationDelegate.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/DetoxServerMessageSenderProtocol.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor+Response.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Utils/Web Socket Client/ServerMessageType+isBackgroundTask.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Utils/Web Socket Client/ServerMessageType.swift
  detox/ios/DetoxTester/DetoxTester/Utils/Extensions/XCUIApplication+Common.swift
Owners: @asafkorem

build(iOS): change XCUITest runner xcodebuild retry status logs.
  detox/src/devices/runtime/drivers/ios/XCUITestUtils.js
Owners: @d4vidi, @noomorph

fix(iOS): exec XCUITest from headless environment.
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
  detox/src/devices/runtime/drivers/ios/XCUITestUtils.js
Owners: @d4vidi, @noomorph

fix(iOS): spawn XCUITest with launchd (launchctl).
  detox/src/devices/runtime/drivers/ios/XCUITestUtils.js
  detox/src/devices/runtime/drivers/ios/launchd.js
  detox/src/devices/runtime/drivers/ios/run_and_close_terminal.scpt
Owners: @d4vidi, @noomorph

feat(iOS): acclerate XCUITest text-typing.
  detox/ios/DetoxTester/DetoxTester/Actions/Utils/XCPointerEventPath+Optimize.h
  detox/ios/DetoxTester/DetoxTester/Actions/Utils/XCPointerEventPath+Optimize.m
  detox/ios/DetoxTester/DetoxTester/Actions/Utils/XCPointerEventPath+Swizzling.m
  detox/ios/DetoxTester/DetoxTesterApp.xcodeproj/project.pbxproj
Owners: @asafkorem

Make linter happy, fix imports order.
  detox/src/devices/runtime/drivers/ios/launchd.js
Owners: @d4vidi, @noomorph

Publish 22.0.0-rc.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

dont kill undefined child process.
  detox/src/devices/runtime/drivers/ios/XCUITestUtils.js
Owners: @d4vidi, @noomorph

minor changes.
  detox/ios/DetoxTester/DetoxTester/Tester/DetoxTester.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Utils/Web Socket Client/WebSocketClient.swift
  detox/ios/DetoxTester/DetoxTesterApp.xcodeproj/xcshareddata/xcschemes/DetoxTester.xcscheme
Owners: @asafkorem

WIP: Revert this commit.
  detox/ios/DetoxTester/DetoxTester/Actions/XCUIElement/XCUIElement+tap.swift
Owners: @asafkorem

fix(iOS): check if is-headless.
  detox/src/devices/runtime/drivers/ios/XCUITestUtils.js
Owners: @d4vidi, @noomorph

remove redundant file.
  detox/test/repeat_suite.sh
Owners: @d4vidi, @noomorph

bump detox sync
  detox/src/devices/runtime/drivers/ios/XCUITestUtils.js
Owners: @d4vidi, @noomorph

build(iOS): add scripts for XCUITest runner build.
  .gitignore
  detox/local-cli/build-framework-cache.js
  detox/local-cli/build-xcuitest-cache.js
  detox/local-cli/clean-framework-cache.js
  detox/local-cli/clean-xcuitest-cache.js
  detox/local-cli/rebuild-framework-cache.js
  detox/local-cli/rebuild-xcuitest-cache.js
  detox/scripts/build_framework.ios.sh
  detox/scripts/build_local_framework.ios.sh
  detox/scripts/build_local_xcuitest.ios.sh
  detox/scripts/build_universal_framework.sh
  detox/scripts/build_universal_framework_legacy.sh
  detox/scripts/build_universal_framework_modern.sh
  detox/scripts/build_xcuitest.ios.sh
  detox/scripts/pack_ios.sh
  detox/scripts/postinstall.js
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
  detox/src/devices/runtime/drivers/ios/XCUITestUtils.js
  detox/src/devices/runtime/drivers/ios/launchd.js
  detox/src/utils/environment.js
  detox/src/validation/ios/IosSimulatorEnvValidator.js
  detox/src/validation/ios/IosSimulatorEnvValidator.test.js
  website/sidebars.js
Owners: @d4vidi, @noomorph

chore(iOS): refactor ExpectationDelegate (DetoxTester).
  detox/ios/DetoxTester/DetoxTester/Actions/XCUIElement/XCUIElement+Keyboard.swift
  detox/ios/DetoxTester/DetoxTester/Actions/XCUIElement/XCUIElement+shortPress.swift
  detox/ios/DetoxTester/DetoxTester/Actions/XCUIElement/XCUIScreenshotProviding+takeScreenshot.swift
  detox/ios/DetoxTester/DetoxTester/Expectations/ExpectationDelegate.swift
  detox/ios/DetoxTester/DetoxTester/Expectations/XCUIElement/XCUIElement+assertions.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor.swift
  detox/ios/DetoxTester/DetoxTester/Utils/Extensions/XCUIApplication+Common.swift
  detox/ios/DetoxTester/DetoxTester/Utils/Extensions/XCUIElement+cleanIdentifier.swift
  detox/ios/DetoxTester/DetoxTesterApp.xcodeproj/project.pbxproj
Owners: @asafkorem

fix(iOS): optimize typing speed of XCUITest.
  detox/ios/DetoxTester/DetoxTester/Actions/Utils/XCPointerEventPath+Swizzling.m
  detox/ios/DetoxTester/DetoxTester/Actions/XCUIElement/XCUIElement+Keyboard.swift
  detox/ios/DetoxTester/DetoxTesterApp.xcodeproj/project.pbxproj
Owners: @asafkorem

Revert "Publish 22.0.0-rc.0 [ci skip]"
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Revert "WIP: Revert this commit."
  detox/ios/DetoxTester/DetoxTester/Actions/XCUIElement/XCUIElement+tap.swift
Owners: @asafkorem

Publish 21.0.0-rc.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

feat(iOS): introduce DetoxInvokeHandler as internal infrastructure.
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler.xcodeproj/project.pbxproj
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/AccessibilityTraits.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/Action+name.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/Action.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/ActionDelegateProtocol.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/ActionType.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/AnyCodable.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/AnyDecodable.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/AnyEncodable.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/DetoxInvokeHandler-Bridging-Header.h
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/ElementMatcherProtocol.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/ElementPattern.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/Expectation.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/ExpectationDelegateProtocol.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/ExpectationType.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/InvokeHandler+Error.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/InvokeHandler.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/Message.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/MessagePredicate.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/MessagePredicateModifiers.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/MessagePredicateProtocol.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/MessagePredicateType.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/ScreenshotProvidingProtocol.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/TargetElement.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/WhileMessage.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/FakeActionDelegate.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/FakeElementMatcher.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/FakeExpectationDelegate.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/InvokeHandlerSpec.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/MessageBuilder.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/MessageSpec.swift
  detox/ios/DetoxInvokeHandler/README.md
Owners: @asafkorem, @d4vidi

test(e2e): enable launch argument detox tests on iOS.
  detox/test/e2e/22.launch-args.test.js
  detox/test/e2e/detox.config.js
  detox/test/ios/example/NativeModule.m
  detox/test/src/app.js
Owners: @d4vidi, @noomorph, @asafkorem

Execute xcodebuild with AppleScript
  detox/ios/DetoxTester/DetoxTester/Utils/Extensions/XCUIApplication+Common.swift
  detox/src/devices/runtime/drivers/ios/XCUITestUtils.js
  detox/src/devices/runtime/drivers/ios/run_and_close_terminal.scpt
Owners: @asafkorem, @d4vidi, @noomorph

remove redundant pipelines, run on agent 14
  .buildkite/jobs/pipeline.ios_rn_68.yml
  .buildkite/jobs/pipeline.ios_rn_70.yml
  .buildkite/pipeline_common.sh
Owners: @d4vidi, @noomorph

run with terminal only when can
  detox/src/devices/runtime/drivers/ios/XCUITestUtils.js
Owners: @d4vidi, @noomorph

do not run from terminal when already in
  detox/src/devices/runtime/drivers/ios/XCUITestUtils.js
Owners: @d4vidi, @noomorph

Publish 21.0.2-rc.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Revert "Publish 21.0.2-rc.0 [ci skip]"
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Revert "Publish 21.0.1-rc.0 [ci skip]"
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Publish 21.0.0-rc.1 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

accelerate typing
  detox/ios/DetoxTester/DetoxTester/Actions/Utils/Internals.h
  detox/ios/DetoxTester/DetoxTester/Actions/Utils/XCPointerEventPath+Optimize.h
  detox/ios/DetoxTester/DetoxTester/Actions/Utils/XCPointerEventPath+Optimize.m
  detox/ios/DetoxTester/DetoxTesterApp.xcodeproj/project.pbxproj
Owners: @asafkorem

accelerate typing
  detox/ios/DetoxTester/DetoxTester/Actions/Utils/Internals.h
  detox/ios/DetoxTester/DetoxTester/Actions/Utils/XCPointerEventPath+Optimize.h
  detox/ios/DetoxTester/DetoxTester/Actions/Utils/XCPointerEventPath+Optimize.m
  detox/ios/DetoxTester/DetoxTesterApp.xcodeproj/project.pbxproj
  detox/test/e2e/03.actions.test.js
Owners: @asafkorem, @d4vidi, @noomorph

Publish 21.0.0-rc.2 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

revert only
  detox/test/e2e/03.actions.test.js
Owners: @d4vidi, @noomorph

implement accessibility actions for xcuitest
  detox/ios/Detox/DetoxManager.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/Action+name.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/Action.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/ActionType.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/InvokeHandler.swift
  detox/ios/DetoxTester/DetoxTester/Actions/ActionDelegate.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor+Message.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor.swift
Owners: @asafkorem

fix: slow down typing.
  detox/ios/DetoxTester/DetoxTester/Actions/Utils/XCPointerEventPath+Optimize.m
Owners: @asafkorem

Publish 21.0.0-rc.3 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Restore usage of launch-args lib, stable in newer RN's
  detox/test/android/app/build.gradle
  detox/test/android/app/src/main/java/com/example/DetoxRNHost.java
  detox/test/android/app/src/main/java/com/example/NativeModule.java
  detox/test/android/settings.gradle
  detox/test/index.android.js
  detox/test/index.ios.js
Owners: @d4vidi, @jonathanmos, @noomorph
