Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

test(DetoxWorker): fix unit tests.
  detox/src/DetoxWorker.js
  detox/src/DetoxWorker.test.js
Owners: @d4vidi, @noomorph

test: fix expectation.
  detox/test/e2e/11.user-notifications.test.js
  detox/test/e2e/20.background-foreground.transitions.test.js
Owners: @d4vidi, @noomorph

test(ios): fix toHaveToggleValue value.
  detox/src/ios/expectTwo.js
  detox/src/ios/expectTwo.test.js
Owners: @d4vidi, @noomorph

fix: cache saving when a test ends successfully (#4687)
  detox/src/DetoxWorker.js
  detox/src/DetoxWorker.test.js
Owners: @d4vidi, @noomorph

test: reduce flakiness in stress screen test
  detox/test/src/Screens/StressScreen.js
Owners: @d4vidi, @noomorph

test(StressScreen): use min value on JS timer stress test.
  detox/test/src/Screens/StressScreen.js
Owners: @d4vidi, @noomorph

test: avoid missing key warnings.
  detox/test/src/Screens/VirtualizedListStressScreen.js
Owners: @d4vidi, @noomorph

test(e2e): remove test duplication.
  detox/test/e2e/09.stress-timeouts.test.js
Owners: @d4vidi, @noomorph

test: remove todos.
  detox/test/e2e/12.animations.test.js
Owners: @d4vidi, @noomorph

ci: temp disable android tests.
  .buildkite/pipeline_common.sh
Owners: @d4vidi, @noomorph

ci: rename jobs.
  .buildkite/jobs/pipeline.android_rn_73.yml
  .buildkite/jobs/pipeline.android_rn_76_old_arch.yml
  .buildkite/jobs/pipeline.ios_demo_app_rn_76_new_arch.yml
  .buildkite/jobs/pipeline.ios_rn_73.yml
  .buildkite/jobs/pipeline.ios_rn_76.yml
  .buildkite/jobs/pipeline.ios_rn_76_new_arch.yml
Owners: @d4vidi

test(app): avoid missing key warning.
  detox/test/src/Screens/Permissions.js
Owners: @d4vidi, @noomorph

test: mark legacy test failing.
  detox/test/e2e/12.animations.test.js
Owners: @d4vidi, @noomorph

fix: getAttributes for new-arch elements.
  detox/ios/Detox/Utilities/NSObject+DetoxUtils.m
  detox/test/e2e/33.attributes.test.js
Owners: @asafkorem, @d4vidi, @noomorph

test: make location test pass.
  detox/test/e2e/06.device.test.js
Owners: @d4vidi, @noomorph

fix: type cast.
  detox/ios/Detox/Utilities/NSObject+DetoxUtils.m
Owners: @asafkorem

feat: expose util methods.
  detox/ios/Detox/Utilities/NSObject+DetoxUtils.h
Owners: @asafkorem

fix(copilot): scroll is not awere of start position param type
  detox/src/copilot/detoxCopilotFrameworkDriver.js
Owners: @d4vidi, @noomorph

add spefecing the value range of startPositionX and startPositionY
  detox/src/copilot/detoxCopilotFrameworkDriver.js
Owners: @d4vidi, @noomorph

Publish 20.33.0-prerelease.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

fix(ios): date picker interaction.
  detox/ios/Detox/Invocation/Element.swift
  detox/ios/Detox/Utilities/NSObject+DetoxUtils.m
  detox/test/e2e/17.datePicker.test.js
  detox/test/e2e/33.attributes.test.js
Owners: @asafkorem, @d4vidi, @noomorph

fix(copilot): scroll is not aware of start position param type (#4689)
  detox/src/copilot/detoxCopilotFrameworkDriver.js
Owners: @d4vidi, @noomorph

test(ios): update view-hierarchy snapshots (new-arch).
  detox/test/e2e/assets/view-hierarchy-web-view.76.ios.new-arch.txt
  detox/test/e2e/assets/view-hierarchy-with-test-id-injection.76.ios.new-arch.txt
  detox/test/e2e/assets/view-hierarchy-without-test-id-injection.76.ios.new-arch.txt
Owners: @d4vidi

fix(ios): support date-pickers on new-arch.
  detox/ios/Detox/Invocation/Element.swift
  detox/test/e2e/17.datePicker.test.js
  detox/test/e2e/33.attributes.test.js
Owners: @asafkorem, @d4vidi, @noomorph

fix(ios): support pickers on new arch.
  detox/ios/Detox/Invocation/Element.swift
  detox/ios/Detox/Utilities/NSObject+DetoxUtils.h
  detox/ios/Detox/Utilities/NSObject+DetoxUtils.m
  detox/test/e2e/17.picker.test.js
Owners: @asafkorem, @d4vidi, @noomorph

test(ios): update webview snapshots on new-arch.
  detox/test/e2e/assets/clear-text-in-cross-origin-frame.ios.new-arch.png
  detox/test/e2e/assets/focus-on-content-editable-webview.ios.new-arch.png
  detox/test/e2e/assets/focus-on-input-webview.ios.new-arch.png
  detox/test/e2e/assets/move-cursor-to-end-content-editable-webview.ios.new-arch.png
  detox/test/e2e/assets/move-cursor-to-end-webview.ios.new-arch.png
  detox/test/e2e/assets/replace-text-in-cross-origin-frame.ios.new-arch.png
  detox/test/e2e/assets/scroll-to-view-webview.ios.new-arch.png
  detox/test/e2e/assets/select-all-text-in-content-editable-webview.ios.new-arch.png
  detox/test/e2e/assets/select-all-text-in-webview.ios.new-arch.png
  detox/test/e2e/assets/tap-on-cross-origin-frame-element.ios.new-arch.png
  detox/test/e2e/assets/type-text-in-cross-origin-frame.ios.new-arch.png
  detox/test/e2e/assets/typing-keep-cursor-position-webview-content-editable-1.ios.new-arch.png
  detox/test/e2e/assets/typing-keep-cursor-position-webview-content-editable-2.ios.new-arch.png
  detox/test/e2e/assets/typing-keep-cursor-position-webview-input-1.ios.new-arch.png
  detox/test/e2e/assets/typing-keep-cursor-position-webview-input-2.ios.new-arch.png
  detox/test/e2e/utils/snapshot.js
Owners: @d4vidi, @noomorph

test(ios): disable flaky test on new-arch.
  detox/test/e2e/14.network.test.js
Owners: @d4vidi, @noomorph

fix(ios): missing udid in an allocation step
  detox/src/devices/allocation/drivers/ios/SimulatorAllocDriver.js
Owners: @d4vidi, @noomorph

fix(ios, new arch): handle crash on the main-queue.
  detox/ios/Detox/Utilities/DetoxCrashHandler.mm
  detox/test/e2e/19.crash-handling.test.js
Owners: @asafkorem, @d4vidi, @noomorph

test(ios): disable failing check on new-arch.
  detox/test/e2e/19.crash-handling.test.js
Owners: @d4vidi, @noomorph

Update build.gradle
  detox/android/detox/build.gradle
Owners: @d4vidi, @jonathanmos

Update _debugging-native-code-compliing-android.mdx
  docs/introduction/partials/_debugging-native-code-compliing-android.mdx
Owners: @d4vidi

test(ios): update web-view image snapshot.
  detox/test/e2e/assets/replace-text-in-cross-origin-frame.ios.new-arch.png
  detox/test/e2e/assets/type-text-in-cross-origin-frame.ios.new-arch.png
Owners: @d4vidi

test(ios): apply changes due to new-arch class-name changes.
  detox/test/e2e/32.visibility-debug-artifacts.test.js
Owners: @d4vidi, @noomorph

Update _debugging-native-code-compliing-android.mdx
  docs/introduction/partials/_debugging-native-code-compliing-android.mdx
Owners: @d4vidi

Update _debugging-native-code-compliing-android.mdx
  docs/introduction/partials/_debugging-native-code-compliing-android.mdx
Owners: @d4vidi

Update android compiling dependency (#4699)
  docs/introduction/partials/_debugging-native-code-compliing-android.mdx
Owners: @d4vidi

Publish 20.33.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Publish docs version 20.x
  website/versioned_docs/version-20.x/copilot/technical-overview.mdx
  website/versioned_docs/version-20.x/copilot/testing-with-copilot.md
  website/versioned_docs/version-20.x/introduction/partials/_debugging-native-code-compliing-android.mdx
  website/versioned_sidebars/version-20.x-sidebars.json
Owners: @d4vidi

docs: fix links
  website/blog/2024-10-09-detox-copilot-is-out.md
Owners: @d4vidi

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem
