Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

hotfix: jest 28 compatibility
  detox/runners/jest-circus/utils/assertJestCircus26.js
Owners: @d4vidi, @noomorph

fix: jest@28 compatibility (#3377)
  detox/package.json
  detox/runners/jest-circus/environment.js
  detox/runners/jest-circus/utils/assertJestCircus26.js
  detox/test/e2e/29.webview.test.js
  detox/test/e2e/33.attributes.test.js
  detox/test/package.json
  docs/Guide.Jest.md
Owners: @d4vidi, @noomorph

Publish 19.6.8 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native-jest/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Publish docs version 19.x
  website/versioned_docs/version-19.x/Guide.Jest.md
  website/versioned_docs/version-19.x/Introduction.Android.md
Owners: @d4vidi

hotfix: jest 28 compatibility
  detox/runners/jest-circus/utils/assertJestCircus26.js
Owners: @d4vidi, @noomorph

Publish 19.6.9 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native-jest/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

cli: Add ref to Google docs on gpu
  detox/local-cli/utils/testCommandArgs.js
  docs/APIRef.DetoxCLI.md
Owners: @d4vidi, @noomorph

github(help issues): Add Discord invite
  .github/workflows/support.yml
Owners: @d4vidi

Remove client.terminateApp() patch
  detox/src/Detox.js
  detox/src/Detox.test.js
Owners: @d4vidi, @noomorph

Support community slider
  detox/android/detox/build.gradle
  detox/android/detox/src/full/java/com/wix/detox/espresso/DetoxAction.java
  detox/android/detox/src/full/java/com/wix/detox/espresso/matcher/ViewMatchers.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/action/AdjustSliderToPositionAction.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/action/GetAttributesAction.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/action/common/ReflectUtils.kt
  detox/android/detox/src/testFull/java/com/wix/detox/common/ReflectUtilsTest.kt
  detox/android/detox/src/testFull/java/com/wix/detox/espresso/action/AdjustSliderToPositionActionTest.kt
  detox/test/android/app/build.gradle
  detox/test/android/app/src/main/java/com/example/MainApplication.java
  detox/test/android/settings.gradle
  detox/test/e2e/03.actions.test.js
  detox/test/e2e/33.attributes.test.js
  detox/test/ios/Podfile
  detox/test/package.json
  detox/test/src/Screens/ActionsScreen.js
  detox/test/src/Screens/AttributesScreen.js
Owners: @d4vidi, @jonathanmos, @noomorph, @asafkorem

Integ. community slider through reflection; overall refactor
  detox/android/detox/build.gradle
  detox/android/detox/src/full/java/com/wix/detox/espresso/action/AdjustSliderToPositionAction.kt
  detox/android/detox/src/full/java/com/wix/detox/espresso/common/SliderHelper.kt
  detox/android/detox/src/full/java/com/wix/detox/espresso/matcher/ViewMatchers.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/action/AdjustSliderToPositionAction.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/action/common/ReflectUtils.kt
  detox/android/detox/src/testFull/java/com/wix/detox/common/ReflectUtilsTest.kt
  detox/android/detox/src/testFull/java/com/wix/detox/espresso/action/AdjustSliderToPositionActionTest.kt
Owners: @d4vidi, @jonathanmos

Remove unneeded dep in android material
  detox/android/detox/build.gradle
  detox/android/detox/src/full/java/com/wix/detox/espresso/matcher/ViewMatchers.kt
  detox/android/detox/src/testFull/java/com/wix/detox/espresso/action/GetAttributesActionTest.kt
Owners: @d4vidi, @jonathanmos

Make android app debuggable
  detox/test/android/app/src/main/java/com/example/MainApplication.java
Owners: @d4vidi, @jonathanmos

Improve slider calc code reuse
  detox/android/detox/src/full/java/com/wix/detox/espresso/action/AdjustSliderToPositionAction.kt
  detox/android/detox/src/full/java/com/wix/detox/espresso/common/SliderHelper.kt
  detox/android/detox/src/full/java/com/wix/detox/espresso/matcher/ViewMatchers.kt
Owners: @d4vidi, @jonathanmos

Fix for community-less projects, restore material Slider
  detox/android/detox/build.gradle
  detox/android/detox/src/full/java/com/wix/detox/espresso/action/AdjustSliderToPositionAction.kt
  detox/android/detox/src/full/java/com/wix/detox/espresso/action/GetAttributesAction.kt
  detox/android/detox/src/full/java/com/wix/detox/espresso/common/SliderHelper.kt
  detox/android/detox/src/full/java/com/wix/detox/espresso/matcher/ViewMatchers.kt
  detox/android/detox/src/main/java/com/wix/detox/common/DetoxErrors.java
  detox/android/detox/src/main/java/com/wix/detox/espresso/action/common/ReflectUtils.kt
  detox/android/detox/src/testFull/java/com/wix/detox/espresso/action/GetAttributesActionTest.kt
  detox/android/detox/src/testFull/java/com/wix/detox/espresso/common/SliderHelperTest.kt
  detox/test/e2e/03.actions.test.js
  detox/test/e2e/33.attributes.test.js
Owners: @d4vidi, @jonathanmos, @noomorph

Restore broken test skipping
  detox/android/detox/src/full/java/com/wix/detox/espresso/common/SliderHelper.kt
  detox/test/e2e/03.actions.test.js
Owners: @d4vidi, @jonathanmos, @noomorph

Support community slider (#3300)
  detox/android/detox/src/full/java/com/wix/detox/espresso/DetoxAction.java
  detox/android/detox/src/full/java/com/wix/detox/espresso/action/AdjustSliderToPositionAction.kt
  detox/android/detox/src/full/java/com/wix/detox/espresso/action/GetAttributesAction.kt
  detox/android/detox/src/full/java/com/wix/detox/espresso/common/SliderHelper.kt
  detox/android/detox/src/full/java/com/wix/detox/espresso/matcher/ViewMatchers.kt
  detox/android/detox/src/main/java/com/wix/detox/common/DetoxErrors.java
  detox/android/detox/src/main/java/com/wix/detox/espresso/action/AdjustSliderToPositionAction.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/action/common/ReflectUtils.kt
  detox/android/detox/src/testFull/java/com/wix/detox/espresso/action/AdjustSliderToPositionActionTest.kt
  detox/android/detox/src/testFull/java/com/wix/detox/espresso/action/GetAttributesActionTest.kt
  detox/android/detox/src/testFull/java/com/wix/detox/espresso/common/SliderHelperTest.kt
  detox/test/android/app/build.gradle
  detox/test/android/app/src/main/java/com/example/MainApplication.java
  detox/test/android/settings.gradle
  detox/test/e2e/03.actions.test.js
  detox/test/e2e/33.attributes.test.js
  detox/test/ios/Podfile
  detox/test/package.json
  detox/test/src/Screens/ActionsScreen.js
  detox/test/src/Screens/AttributesScreen.js
Owners: @d4vidi, @jonathanmos, @noomorph, @asafkorem

feat(config): drop support for the all-in-one configuration format
  .editorconfig
  detox/index.d.ts
  detox/local-cli/test.test.js
  detox/src/Detox.test.js
  detox/src/configuration/__mocks__/configuration/oldschema/package.json
  detox/src/configuration/__mocks__/configuration/packagejson/package.json
  detox/src/configuration/__mocks__/configuration/priority/.detoxrc.js
  detox/src/configuration/__mocks__/configuration/priority/detox-config.json
  detox/src/configuration/__mocks__/configuration/priority/package.json
  detox/src/configuration/composeAppsConfig.js
  detox/src/configuration/composeAppsConfig.test.js
  detox/src/configuration/composeArtifactsConfig.js
  detox/src/configuration/composeBehaviorConfig.js
  detox/src/configuration/composeDeviceConfig.js
  detox/src/configuration/composeDeviceConfig.test.js
  detox/src/configuration/composeRunnerConfig.js
  detox/src/configuration/composeSessionConfig.js
  detox/src/configuration/index.js
  detox/src/configuration/index.test.js
  detox/src/errors/DetoxConfigErrorComposer.js
  detox/src/errors/DetoxConfigErrorComposer.test.js
  detox/src/errors/__snapshots__/DetoxConfigErrorComposer.test.js.snap
  detox/test/e2e/detox.config.js
  docs/Guide.ThirdPartyDrivers.md
  examples/demo-plugin/package.json
Owners: @d4vidi, @noomorph

[wip] Push selected app source of truth to driver layer
  detox/package.json
  detox/src/devices/runtime/RuntimeDevice.js
  detox/src/devices/runtime/RuntimeDevice.test.js
  detox/src/devices/runtime/drivers/DeviceDriverBase.js
  detox/src/devices/runtime/drivers/android/AndroidDriver.js
  detox/src/devices/runtime/factories/android.js
  detox/src/utils/p-iteration.js
Owners: @d4vidi, @noomorph

feat: set minimal Node requirement to 12+
  detox/package.json
  detox/test/package.json
Owners: @d4vidi

chore: add .editorconfig
  .editorconfig
Owners: @d4vidi

feat: drop old Jest integrations
  detox/index.d.ts
  detox/local-cli/templates/jest.js
  detox/runners/jest-circus/index.js
  detox/runners/jest-circus/listeners/DetoxCoreListener.js
  detox/runners/jest-circus/listeners/SpecReporter.js
  detox/runners/jest-circus/listeners/WorkerAssignReporter.js
  detox/runners/jest-circus/reporter.js
  detox/runners/jest-circus/reporters/DetoxReporter.js
  detox/runners/jest-circus/reporters/DetoxStreamlineJestReporter.js
  detox/runners/jest-circus/reporters/FailingTestsReporter.js
  detox/runners/jest-circus/utils/getFullTestName.js
  detox/runners/jest-circus/utils/hasTimedOut.js
  detox/runners/jest-circus/utils/index.js
  detox/runners/jest-circus/utils/stdout.js
  detox/runners/jest/DetoxAdapterCircus.js
  detox/runners/jest/DetoxAdapterImpl.js
  detox/runners/jest/DetoxAdapterJasmine.js
  detox/runners/jest/JestCircusEnvironment.js
  detox/runners/jest/SpecReporterCircus.js
  detox/runners/jest/SpecReporterJasmine.js
  detox/runners/jest/WorkerAssignReporterCircus.js
  detox/runners/jest/WorkerAssignReporterImpl.js
  detox/runners/jest/WorkerAssignReporterJasmine.js
  detox/runners/jest/adapter.js
  detox/runners/jest/assignReporter.js
  detox/runners/jest/deprecation.js
  detox/runners/jest/runnerInfo.js
  detox/runners/jest/specReporter.js
  detox/runners/jest/streamlineReporter.js
  detox/test/e2e-unhappy/detox-init-timeout/config.js
  detox/test/e2e-unhappy/detox-init-timeout/environment.js
  detox/test/e2e-unhappy/detox-init-timeout/jest-circus/config.js
  detox/test/e2e-unhappy/detox-init-timeout/jest-jasmine/init.js
  detox/test/e2e/config-jasmine.js
  detox/test/e2e/init-jasmine.js
  detox/test/scripts/ci_unhappy.sh
  examples/demo-plugin/e2e/config.json
  examples/demo-plugin/e2e/environment.js
  examples/demo-plugin/e2e/init.js
Owners: @d4vidi, @noomorph

feat(config): drop default "e2e" value for specs (#3289)
  detox/local-cli/templates/jest.js
  detox/local-cli/test.js
  detox/local-cli/test.test.js
  detox/src/configuration/composeRunnerConfig.js
  detox/src/configuration/composeRunnerConfig.test.js
Owners: @d4vidi, @noomorph

feat(config): drop skipLegacyWorkersInjection (#3286)
  detox/index.d.ts
  detox/local-cli/init.js
  detox/local-cli/test.js
  detox/local-cli/test.test.js
  detox/src/configuration/composeRunnerConfig.js
  detox/test/e2e/detox.config.js
  detox/test/types/detox-jest-circus-setup-tests.ts
  docs/Guide.Jest.md
Owners: @d4vidi, @noomorph

feat(android): boot read-only emulators by default
  detox/index.d.ts
  detox/src/devices/common/drivers/android/emulator/exec/EmulatorExec.js
  detox/src/errors/DetoxRuntimeError.js
  detox/test/e2e/detox.config.js
  docs/APIRef.Configuration.md
  docs/Guide.Jest.md
Owners: @d4vidi, @noomorph

feat(iOS): support --headless config (#3304)
  detox/src/configuration/composeDeviceConfig.js
  detox/src/configuration/composeDeviceConfig.test.js
  detox/src/devices/allocation/drivers/ios/SimulatorLauncher.js
  detox/src/devices/allocation/drivers/ios/SimulatorLauncher.test.js
  detox/src/devices/common/drivers/DeviceLauncher.js
  detox/src/devices/common/drivers/ios/tools/AppleSimUtils.js
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.test.js
  detox/src/devices/runtime/factories/ios.js
  detox/test/package.json
  docs/APIRef.Configuration.md
  examples/demo-react-native-jest/package.json
  examples/demo-react-native/package.json
Owners: @d4vidi, @noomorph

feat(config): remove legacy dash-based props (#3371)
  detox/src/configuration/composeRunnerConfig.js
  detox/src/configuration/composeRunnerConfig.test.js
Owners: @d4vidi, @noomorph

chore: remove dead code
  detox/src/utils/sh.js
  detox/src/utils/sh.test.js
Owners: @d4vidi, @noomorph

feat: remove ios.none device type (#3361)
  detox/index.d.ts
  detox/package.json
  detox/src/configuration/composeAppsConfig.js
  detox/src/configuration/composeAppsConfig.test.js
  detox/src/configuration/composeDeviceConfig.js
  detox/src/configuration/composeDeviceConfig.test.js
  detox/src/configuration/utils/deviceAppTypes.js
  detox/src/devices/allocation/drivers/NoneAllocDriver.js
  detox/src/devices/allocation/factories/index.js
  detox/src/devices/allocation/factories/none.js
  detox/src/devices/runtime/drivers/index.js
  detox/src/devices/runtime/drivers/ios/IosDriver.js
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
  detox/src/devices/runtime/factories/ios.js
  detox/src/environmentFactory.js
  detox/src/environmentFactory.test.js
  detox/src/errors/DetoxConfigErrorComposer.test.js
  detox/src/errors/__snapshots__/DetoxConfigErrorComposer.test.js.snap
  detox/test/e2e/detox.config.js
  docs/APIRef.Configuration.md
  examples/demo-react-native/detox.config.js
Owners: @d4vidi, @noomorph

chore: remove deprecated [userParams] arg from detox.init()
  detox/index.d.ts
  detox/src/configuration/composeBehaviorConfig.js
  detox/src/configuration/composeBehaviorConfig.test.js
  detox/src/configuration/index.js
  detox/src/configuration/index.test.js
Owners: @d4vidi, @noomorph

docs: update Xcode debugging guide (#3326)
  docs/Guide.DebuggingInAndroidStudio.md
  docs/Guide.DebuggingInXcode.md
  docs/img/xcode/drag-src-to-project.png
  docs/img/xcode/edit-schema-arguments.png
  docs/img/xcode/embed-detox-project.png
  docs/img/xcode/extracted-ios-src.png
  docs/img/xcode/launch-app-with-debugger.png
  docs/img/xcode/putting-a-breakpoint.png
Owners: @d4vidi

docs: clarify about test runners (#3372)
  .github/ISSUE_TEMPLATE/BUG_REPORT_ANDROID.yml
  .github/ISSUE_TEMPLATE/BUG_REPORT_IOS.yml
  .github/ISSUE_TEMPLATE/BUG_REPORT_OTHER.yml
  .github/ISSUE_TEMPLATE/HELP_WITH_USING_DETOX.yml
  README.md
  detox/local-cli/utils/testCommandArgs.js
  docs/APIRef.DetoxCLI.md
  docs/Guide.ParallelTestExecution.md
  docs/Introduction.Android.md
  docs/Introduction.GettingStarted.md
  website/versioned_docs/version-19.x/APIRef.DetoxCLI.md
Owners: @d4vidi, @noomorph

feat: undeprecate device.relaunchApp() (#3362)
  detox/index.d.ts
  detox/src/devices/runtime/RuntimeDevice.js
  detox/test/types/detox-module-tests.ts
  docs/APIRef.DeviceObjectAPI.md
Owners: @d4vidi, @noomorph

feat: drop device.appLaunchArgs [options] argument (#3360)
  detox/index.d.ts
  detox/src/devices/runtime/utils/LaunchArgsEditor-deprecation.test.js
  detox/src/devices/runtime/utils/LaunchArgsEditor.js
  detox/src/devices/runtime/utils/LaunchArgsEditor.test.js
  detox/src/devices/runtime/utils/Storage.js
  detox/src/devices/runtime/utils/__snapshots__/LaunchArgsEditor.test.js.snap
  detox/test/e2e/22.launch-args.test.js
  detox/test/types/detox-global-tests.ts
Owners: @d4vidi, @noomorph

feat(android): remove deprecated native IdlePolicyConfig (#3332)
  detox/android/detox/src/full/java/com/wix/detox/Detox.java
  detox/android/detox/src/full/java/com/wix/detox/NotificationDataParser.kt
Owners: @d4vidi, @jonathanmos

code: restore IosDriver per request (#3373)
  detox/src/devices/runtime/drivers/ios/IosDriver.js
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
Owners: @d4vidi, @noomorph

feat(config): drop support for the all-in-one configuration format (#3386)
  .editorconfig
  detox/index.d.ts
  detox/local-cli/test.test.js
  detox/src/Detox.test.js
  detox/src/configuration/__mocks__/configuration/oldschema/package.json
  detox/src/configuration/__mocks__/configuration/packagejson/package.json
  detox/src/configuration/__mocks__/configuration/priority/.detoxrc.js
  detox/src/configuration/__mocks__/configuration/priority/detox-config.json
  detox/src/configuration/__mocks__/configuration/priority/package.json
  detox/src/configuration/composeAppsConfig.js
  detox/src/configuration/composeAppsConfig.test.js
  detox/src/configuration/composeArtifactsConfig.js
  detox/src/configuration/composeBehaviorConfig.js
  detox/src/configuration/composeDeviceConfig.js
  detox/src/configuration/composeDeviceConfig.test.js
  detox/src/configuration/composeRunnerConfig.js
  detox/src/configuration/composeSessionConfig.js
  detox/src/configuration/index.js
  detox/src/configuration/index.test.js
  detox/src/errors/DetoxConfigErrorComposer.js
  detox/src/errors/DetoxConfigErrorComposer.test.js
  detox/src/errors/__snapshots__/DetoxConfigErrorComposer.test.js.snap
  detox/test/e2e/detox.config.js
  docs/Guide.ThirdPartyDrivers.md
  examples/demo-plugin/package.json
Owners: @d4vidi, @noomorph

feat: drop jest<27.2.5 support
  detox/package.json
  detox/runners/jest-circus/environment.js
  detox/runners/jest-circus/reporters/DetoxReporter.js
  detox/runners/jest-circus/reporters/DetoxStreamlineJestReporter.js
  detox/runners/jest-circus/utils/assertJestCircus26.js
  detox/runners/jest-circus/utils/assertJestCircus27.js
  detox/runners/jest-circus/utils/assertJestCircus27.test.js
  detox/test/e2e/config.js
  docs/Guide.Jest.md
  examples/demo-plugin/e2e/config.json
  examples/demo-react-native-jest/e2e/config.json
  examples/demo-react-native-jest/e2eExplicitRequire/config.json
Owners: @d4vidi, @noomorph

ci: upgrade to iPhone 12
  docs/APIRef.Configuration.md
  docs/Guide.Migration.md
  examples/demo-native-ios/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native-jest/detox.config.js
  examples/demo-react-native/detox.config.js
  scripts/unit.ios.sh
Owners: @d4vidi, @noomorph

feat: drop jest<27.2.5 support (#3392)
  detox/package.json
  detox/runners/jest-circus/environment.js
  detox/runners/jest-circus/reporters/DetoxReporter.js
  detox/runners/jest-circus/reporters/DetoxStreamlineJestReporter.js
  detox/runners/jest-circus/utils/assertJestCircus26.js
  detox/runners/jest-circus/utils/assertJestCircus27.js
  detox/runners/jest-circus/utils/assertJestCircus27.test.js
  detox/test/e2e/config.js
  docs/Guide.Jest.md
  examples/demo-plugin/e2e/config.json
  examples/demo-react-native-jest/e2e/config.json
  examples/demo-react-native-jest/e2eExplicitRequire/config.json
Owners: @d4vidi, @noomorph

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem
