Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

remove shuffle cards logic from the _makeShuffledCardList function and add to useEffect
  website/src/components/Showcase/Showcase.js
Owners: @d4vidi, @noomorph

Remove toRender and setToRender state to return those values in a simple return statement
  website/src/components/Showcase/Showcase.js
Owners: @d4vidi, @noomorph

Revert "Remove toRender and setToRender state to return those values in a simple return statement"
  website/src/components/Showcase/Showcase.js
Owners: @d4vidi, @noomorph

ci(github): visual test for Showcase (#3908)
  website/snapshots.yml
  website/src/components/Showcase/Showcase.js
Owners: @d4vidi, @noomorph

fix(android): Support non-TZ ISO8601 format
  detox/android/detox/src/full/java/com/wix/detox/espresso/DetoxAction.java
  detox/src/android/espressoapi/DetoxAction.js
  detox/test/e2e/17.datePicker.test.js
Owners: @d4vidi, @jonathanmos, @noomorph

refactor(website): split SCSS
  website/src/css/_admonitions.scss
  website/src/css/_benefits-section.scss
  website/src/css/_footer-socials.scss
  website/src/css/_footer.scss
  website/src/css/_header-github.scss
  website/src/css/_markdown.scss
  website/src/css/_navbar.scss
  website/src/css/_showcase-link.scss
  website/src/css/_showcase-section.scss
  website/src/css/_utilities.scss
  website/src/css/custom.scss
Owners: @d4vidi

refactor(website): split SCSS (#3883)
  website/src/css/_admonitions.scss
  website/src/css/_benefits-section.scss
  website/src/css/_footer-socials.scss
  website/src/css/_footer.scss
  website/src/css/_header-github.scss
  website/src/css/_markdown.scss
  website/src/css/_navbar.scss
  website/src/css/_showcase-link.scss
  website/src/css/_showcase-section.scss
  website/src/css/_utilities.scss
  website/src/css/custom.scss
Owners: @d4vidi

wip
  detox/ios/DetoxTester/DetoxTester/Tester/DetoxTester.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/DetoxServerMessageSenderProtocol.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+Connections.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+cleanup.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Utils/Web Socket Client/WebSocketClient.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Utils/Web Socket Client/WebSocketClientDelegateProtocol.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Utils/Web Socket Server/WebSocketServer.swift
  detox/ios/DetoxTester/DetoxTester/Unit Tests/Test Utils/DTXTestCase.m
  detox/ios/DetoxTester/DetoxTester/Utils/LogUtils.swift
  detox/ios/DetoxTester/DetoxTesterApp.xcodeproj/project.pbxproj
Owners: @asafkorem

ok
  detox/ios/DetoxTester/DetoxTester/Tester/DetoxTester.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+Connections.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Utils/Web Socket Client/WebSocketClient.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Utils/Web Socket Server/WebSocketServer.swift
  detox/ios/DetoxTester/DetoxTester/Unit Tests/Test Utils/DTXTestCase.m
  detox/ios/DetoxTester/DetoxTester/Utils/LogUtils.swift
  detox/src/devices/runtime/RuntimeDevice.js
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
  detox/src/realms/DetoxPrimaryContext.js
  detox/src/utils/childProcess/exec.js
Owners: @asafkorem, @d4vidi, @noomorph

ok ok
  detox/src/DetoxWorker.js
Owners: @d4vidi, @noomorph

docs: Improve types and docs related to setDatePickerDate()
  detox/index.d.ts
  docs/api/actions.md
Owners: @d4vidi, @noomorph

remove ping
  detox/ios/DetoxTester/DetoxTester/Tester/DetoxTester.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+waitFor.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Utils/Web Socket Server/WebSocketServer.swift
Owners: @asafkorem

feat(android): support setDatePickerDate (#3790)
  detox/android/detox/build.gradle
  detox/android/detox/src/full/java/com/wix/detox/espresso/DetoxAction.java
  detox/index.d.ts
  detox/src/android/AndroidExpect.test.js
  detox/src/android/actions/native.js
  detox/src/android/core/NativeElement.js
  detox/src/android/espressoapi/DetoxAction.js
  detox/src/ios/expectTwo.js
  detox/src/ios/expectTwo.test.js
  detox/src/utils/dateUtils.js
  detox/src/utils/dateUtils.test.js
  detox/test/android/app/build.gradle
  detox/test/android/app/src/main/java/com/example/DetoxRNHost.java
  detox/test/android/settings.gradle
  detox/test/e2e/17.datePicker.test.js
  detox/test/package.json
  detox/test/src/Screens/DatePickerScreen.js
  detox/test/src/app.js
  docs/api/actions.md
  examples/demo-pure-native-android/app/build.gradle
Owners: @d4vidi, @jonathanmos, @noomorph

Publish 20.1.3 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Publish docs version 20.x
  website/versioned_docs/version-20.x/api/actions.md
  website/versioned_docs/version-20.x/guide/android-dev-env.md
Owners: @d4vidi

handle threads
  detox/ios/DetoxTester/DetoxTester/Tester/Utils/React Native/WaitUntilAppIsReady.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Utils/WaitUntilDone.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Utils/Web Socket Client/ServerMessageType+isAsync.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Utils/Web Socket Server/WebSocketServer.swift
  detox/ios/DetoxTester/DetoxTesterApp.xcodeproj/project.pbxproj
Owners: @asafkorem

done
  detox/ios/DetoxTester/DetoxTester/Tester/DetoxTester.swift
Owners: @asafkorem

docs(website): mobile styling for NavBar
  website/src/css/_navbar.scss
  website/src/theme/Icon/Menu/index.js
Owners: @d4vidi, @noomorph

more refactoring
  detox/ios/Detox/DetoxManager.swift
  detox/ios/DetoxTester/DetoxTester/Actions/ActionDelegate.swift
  detox/ios/DetoxTester/DetoxTester/Actions/XCUIElement/XCUIElement+Error.swift
  detox/ios/DetoxTester/DetoxTester/Actions/XCUIElement/XCUIElement+setColumnToValue.swift
  detox/ios/DetoxTester/DetoxTester/Expectations/ExpectationDelegate.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor+Message.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Utils/WaitUntilDone.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Utils/Web Socket Client/ServerMessageType+handleAsync.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Utils/Web Socket Client/ServerMessageType+isAsync.swift
  detox/ios/DetoxTester/DetoxTester/Utils/Extensions/XCUIElement+cleanIdentifier.swift
  detox/ios/DetoxTester/DetoxTesterApp.xcodeproj/project.pbxproj
Owners: @asafkorem

ws did complete
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+Connections.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Utils/Web Socket Client/WebSocketClient.swift
Owners: @asafkorem

get attributes works :)
  detox/ios/Detox/DetoxManager.swift
  detox/ios/DetoxTester/DetoxTester/Actions/ActionDelegate.swift
  detox/ios/DetoxTester/DetoxTester/Actions/XCUIElement/XCUIElement+getAttributes.swift
  detox/ios/DetoxTester/DetoxTester/Matchers/ElementMatcher.swift
  detox/ios/DetoxTester/DetoxTester/Matchers/XCUIElementQuery/XCUIElementQuery+matching.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+handleInvoke.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+reportCurrentStatus.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+sendAction.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor.swift
  detox/ios/DetoxTester/DetoxTester/Utils/Extensions/CGRect+Extensions.swift
  detox/ios/DetoxTester/DetoxTester/Utils/Extensions/XCUIElement+cleanIdentifier.swift
  detox/test/e2e/33.attributes.test.js
Owners: @asafkorem, @d4vidi, @noomorph

revert changes to status report
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+reportCurrentStatus.swift
Owners: @asafkorem

wip
  detox/ios/DetoxTester/DetoxTester/Tester/DetoxTester.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Utils/WaitUntilDone.swift
Owners: @asafkorem

wait-until-done-fixes
  detox/ios/DetoxTester/DetoxTester/Tester/Utils/WaitUntilDone.swift
Owners: @asafkorem

In the process of fixing a hamburger
  website/src/css/_navbar.scss
  website/src/theme/Icon/Menu/index.js
Owners: @d4vidi, @noomorph

update logic to identify a cloud session and make server cap mandatory
  detox/src/configuration/composeAppsConfig.js
  detox/src/configuration/composeArtifactsConfig.js
  detox/src/configuration/composeBehaviorConfig.js
  detox/src/configuration/composeDeviceConfig.js
  detox/src/configuration/composeSessionConfig.js
  detox/src/configuration/index.js
  detox/src/configuration/validateCloudAuthConfig.js
  detox/src/errors/DetoxConfigErrorComposer.js
Owners: @d4vidi, @noomorph

Enable jest debugging using webstorm using an env-var (DETOX_DBG_SELECTED_CFG)
  detox/src/realms/DetoxPrimaryContext.js
Owners: @d4vidi, @noomorph

set device orientation
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/DetoxServerMessageSenderProtocol.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+Error.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+setOrientation.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor.swift
  detox/ios/DetoxTester/DetoxTesterApp.xcodeproj/project.pbxproj
Owners: @asafkorem

Upgrade Android test-project to 0.70.7 on CI
  .buildkite/jobs/pipeline.android_rn_70.yml
  .buildkite/pipeline.debug.yml
  .buildkite/pipeline_common.sh
Owners: @d4vidi, @noomorph

Upgrade iOS test-project to 0.70.7 on CI
  .buildkite/jobs/pipeline.android_rn_70.yml
  .buildkite/jobs/pipeline.ios_rn_70.yml
  .buildkite/pipeline_common.sh
Owners: @d4vidi, @noomorph

Try to fix iOS test-project's error on CI
  detox/test/ios/Podfile
Owners: @asafkorem

Button and hamburger - stylized
  website/src/css/_navbar.scss
Owners: @d4vidi

Button and hamburger - stylized 2.0
  website/src/css/_navbar.scss
Owners: @d4vidi

Try to fix iOS RN .68 compatibility
  detox/test/ios/Podfile
Owners: @asafkorem

Upgrade Android test-project's build-scripts
  detox/test/android/build.gradle
  detox/test/android/gradle/wrapper/gradle-wrapper.properties
  detox/test/android/rninfo.gradle
Owners: @d4vidi, @jonathanmos

Bump RN to .70 in detox+test-proj package.json
  detox/package.json
  detox/test/package.json
Owners: @d4vidi

Fix navbar mobile
  website/src/css/_navbar.scss
Owners: @d4vidi

[Genymotion SaaS] Update gmsaas start flag to fix wrong device timeout
  detox/src/devices/common/drivers/android/genycloud/exec/GenyCloudExec.js
Owners: @d4vidi, @noomorph

Fix navbar mobile 2.0
  website/src/css/_navbar.scss
Owners: @d4vidi

Fix strokeLinecap
  website/src/theme/Icon/Menu/index.js
Owners: @d4vidi, @noomorph

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem
