Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

docs(website): redesign the footer
  website/src/css/_footer-socials.scss
  website/src/css/_footer.scss
  website/src/css/_navbar.scss
  website/src/theme/Footer/Copyright/index.js
  website/src/theme/Footer/Layout/index.js
  website/src/theme/Footer/LinkItem/index.js
  website/src/theme/Footer/Links/MultiColumn/index.js
  website/src/theme/Footer/Links/Simple/index.js
  website/src/theme/Footer/Links/index.js
  website/src/theme/Footer/Logo/index.js
  website/src/theme/Footer/index.js
Owners: @d4vidi, @noomorph

fix(android): webElement.runScript(fn, args) (#4221)
  detox/android/detox/src/full/java/com/wix/detox/espresso/web/WebElement.java
  detox/android/detox/src/full/java/com/wix/invoke/types/Invocation.java
  detox/android/detox/src/testFull/java/com/wix/invoke/JsonParserTest.java
  detox/android/detox/src/testFull/resources/targetInvocationEspressoWebDetoxScript.json
  detox/index.d.ts
  detox/src/android/AndroidExpect.test.js
  detox/src/android/core/WebElement.js
  detox/src/android/espressoapi/web/WebElement.js
  detox/src/utils/assertIsFunction.js
  detox/src/utils/assertIsFunction.test.js
  detox/src/utils/isArrowFunction.js
  detox/src/utils/isArrowFunction.test.js
  detox/test/e2e/29.webview.test.js
  detox/test/types/detox-global-tests.ts
  docs/api/webviews.md
  generation/core/generator.js
  website/versioned_docs/version-20.x/api/webviews.md
Owners: @d4vidi, @jonathanmos, @noomorph

lint: fix generation
  detox/src/android/espressoapi/web/WebElement.js
Owners: @d4vidi, @noomorph

Publish 20.13.1 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  generation/package.json
  lerna.json
  package.json
Owners: @d4vidi

Publish docs version 20.x
  website/versioned_docs/version-20.x/guide/android-dev-env.md
Owners: @d4vidi

footer code fix
  website/docusaurus.config.js
  website/src/css/_footer-socials.scss
  website/src/css/_footer.scss
  website/src/css/custom.scss
Owners: @d4vidi, @noomorph

Remove globals from typescript interface definition
  detox/index.d.ts
Owners: @d4vidi, @noomorph

fix(android): scrolling hotfix
  detox/android/detox/src/main/java/com/wix/detox/espresso/action/common/MotionEvents.kt
Owners: @d4vidi, @jonathanmos

mobile footer fix
  website/docusaurus.config.js
  website/src/css/_fonts.scss
  website/src/css/_footer.scss
  website/src/theme/Footer/LinkItem/index.js
Owners: @d4vidi, @noomorph

Publish 20.13.2-smoke.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

mobile footer fix fix
  website/src/css/_footer.scss
Owners: @d4vidi

mobile footer one more fix
  website/src/css/_footer.scss
Owners: @d4vidi

fix query
  website/src/css/_footer.scss
Owners: @d4vidi

mobile footer after review fix
  website/docusaurus.config.js
  website/src/css/_footer.scss
  website/src/css/_root.scss
  website/src/theme/Footer/Links/MultiColumn/index.js
Owners: @d4vidi, @noomorph

update branch
  website/docusaurus.config.js
Owners: @d4vidi, @noomorph

scss review and className fix
  website/docusaurus.config.js
  website/src/css/_fonts.scss
  website/src/css/_footer.scss
  website/src/theme/Footer/LinkItem/index.js
  website/src/theme/Footer/Links/MultiColumn/index.js
  website/src/theme/Footer/Links/Simple/index.js
  website/src/theme/Footer/Links/index.js
Owners: @d4vidi, @noomorph

litle fix
  website/src/css/_footer.scss
Owners: @d4vidi

fix gitignore
  .gitignore
  website/src/theme/Footer/Logo/styles.module.css
Owners: @d4vidi

docs(website): redesign the footer #3815 (#4222)
  .gitignore
  website/docusaurus.config.js
  website/src/css/_fonts.scss
  website/src/css/_footer-socials.scss
  website/src/css/_footer.scss
  website/src/css/_navbar.scss
  website/src/css/_root.scss
  website/src/css/custom.scss
  website/src/theme/Footer/Copyright/index.js
  website/src/theme/Footer/Layout/index.js
  website/src/theme/Footer/LinkItem/index.js
  website/src/theme/Footer/Links/index.js
  website/src/theme/Footer/Logo/index.js
  website/src/theme/Footer/Logo/styles.module.css
  website/src/theme/Footer/index.js
Owners: @d4vidi, @noomorph

First upgrade dekstop hero-block
  website/src/components/Homepage/Header/HomepageHeader.module.scss
Owners: @d4vidi

home-page hero banner style fix
  website/src/components/Homepage/Header/HomepageHeader.module.scss
  website/src/css/_navbar.scss
  website/src/theme/Navbar/Search/styles.module.scss
  website/static/img/homepage/hero-image-mobile.jpg
Owners: @d4vidi

size fix
  website/src/components/Homepage/Header/HomepageHeader.module.scss
Owners: @d4vidi

chore: bump allure reporter
  detox/package.json
  detox/test/package.json
Owners: @d4vidi

chore: bump allure reporter (#4228)
  detox/package.json
  detox/test/package.json
Owners: @d4vidi

fix(android): add namespace to build.gradle for android gradle plugin 8 compatibility
  detox/android/detox/build.gradle
Owners: @d4vidi, @jonathanmos

more complete fix
  detox/android/detox/build.gradle
Owners: @d4vidi, @jonathanmos

chore: bump generation deps
  generation/package.json
Owners: @d4vidi

chore: bump generation deps (#4230)
  generation/package.json
Owners: @d4vidi

docs: import jestExpect
  docs/api/actions.md
Owners: @d4vidi

docs(webviews): fix broken links
  docs/api/webviews.md
Owners: @d4vidi

docs(webviews): elaborate on by.web.name
  docs/api/webviews.md
Owners: @d4vidi

review fixes
  website/src/components/Homepage/Header/HomepageHeader.js
  website/src/components/Homepage/Header/HomepageHeader.module.scss
  website/src/css/_root.scss
Owners: @d4vidi, @noomorph

bg-image fixes in progress
  website/src/components/Homepage/Header/HomepageHeader.js
  website/src/components/Homepage/Header/HomepageHeader.module.scss
Owners: @d4vidi, @noomorph

wip: proof-of-concept
  website/src/components/Homepage/Header/HomepageHeader.js
  website/src/components/Homepage/Header/HomepageHeader.module.scss
  website/src/css/_navbar.scss
Owners: @d4vidi, @noomorph

zoom experiments
  website/src/components/Homepage/Header/HomepageHeader.module.scss
Owners: @d4vidi

fix(android): escape instrumentation args
  detox/src/devices/common/drivers/android/tools/instrumentationArgs.js
  detox/src/devices/common/drivers/android/tools/instrumentationArgs.test.js
  detox/test/e2e/15.urls.test.js
Owners: @d4vidi, @noomorph

fix(android): escape instrumentation args (#4241)
  detox/src/devices/common/drivers/android/tools/instrumentationArgs.js
  detox/src/devices/common/drivers/android/tools/instrumentationArgs.test.js
  detox/test/e2e/15.urls.test.js
Owners: @d4vidi, @noomorph

fix(android): scrolling hotfix (#4225)
  detox/android/detox/src/main/java/com/wix/detox/espresso/action/common/MotionEvents.kt
Owners: @d4vidi, @jonathanmos

fixes
  website/src/components/Homepage/Header/HomepageHeader.module.scss
  website/static/img/homepage/hero-image-mobile.jpg
  website/static/img/homepage/hero-image.jpg
  website/static/img/homepage/hero-image.webp
Owners: @d4vidi

added a higher hero-image
  website/static/img/homepage/hero-image.webp
Owners: @d4vidi

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem
