Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

Force build tools version
  examples/demo-react-native/android/build.gradle
Owners: @d4vidi, @jonathanmos

Revert "Try to fix build"
  detox/android/detox/build.gradle
  detox/test/android/app/build.gradle
  examples/demo-react-native/android/app/build.gradle
Owners: @d4vidi, @jonathanmos

Undo fixes
  detox/android/detox/consumer-rules.pro.pro
  examples/demo-react-native/android/app/build.gradle
  examples/demo-react-native/babel.config.json
Owners: @d4vidi, @jonathanmos

Fixed android build to support r8
  detox/android/detox/proguard-rules-app.pro
  detox/test/android/app/build.gradle
  detox/test/android/build.gradle
Owners: @d4vidi, @jonathanmos

Added java 17 to rn 71
  .buildkite/jobs/pipeline.android_rn_71.yml
Owners: @d4vidi

FIxed build
  examples/demo-react-native/android/app/build.gradle
  examples/demo-react-native/android/build.gradle
Owners: @d4vidi, @jonathanmos

Fixed build for rn 71
  detox/android/detox/build.gradle
  detox/test/android/app/build.gradle
Owners: @d4vidi, @jonathanmos

Fixed build
  .buildkite/jobs/pipeline.android_demo_app_rn_71.yml
  detox/android/detox/consumer-rules.pro
Owners: @d4vidi

Fixes after mr. Removed testProguardFiles
  .buildkite/jobs/pipeline.android_demo_app_rn_71.yml
  .buildkite/jobs/pipeline.android_demo_app_rn_72.yml
  .buildkite/jobs/pipeline.android_rn_71.yml
  .buildkite/jobs/pipeline.android_rn_72.yml
  .buildkite/jobs/pipeline.ios_demo_app_rn_71.yml
  .buildkite/jobs/pipeline.ios_demo_app_rn_72.yml
  .buildkite/jobs/pipeline.ios_demo_app_rn_73.yml
  .buildkite/jobs/pipeline.ios_rn_71.yml
  .buildkite/jobs/pipeline.ios_rn_72.yml
  .buildkite/jobs/pipeline.ios_rn_73.yml
  .buildkite/pipeline_common.sh
  detox/android/detox/consumer-rules.pro.pro
  detox/test/android/app/build.gradle
  docs/guide/android-dev-env.md
  examples/demo-react-native/android/app/build.gradle
  examples/demo-react-native/package.json
Owners: @d4vidi, @noomorph, @jonathanmos

Fixed lint
  .buildkite/jobs/pipeline.android_rn_71.yml
  detox/scripts/updateGradle.js
Owners: @d4vidi, @noomorph

Fixed build
  detox/android/detox/src/full/java/com/wix/detox/espresso/DetoxAction.java
Owners: @d4vidi, @jonathanmos

Set buildtools version
  examples/demo-react-native/android/app/build.gradle
Owners: @d4vidi, @jonathanmos

Added some logs
  examples/demo-react-native/android/app/build.gradle
Owners: @d4vidi, @jonathanmos

Revert "Fixed documentation to support rn73"
  docs/guide/migration.md
  docs/guide/proguard-configuration.md
  docs/introduction/project-setup.mdx
Owners: @d4vidi

Added test proguard rule
  examples/demo-react-native/android/app/build.gradle
Owners: @d4vidi, @jonathanmos

Fixed lint
  detox/test/e2e/detox.config-android.js
Owners: @d4vidi, @noomorph

Fixed lint
  detox/test/e2e/detox.config-android.js
Owners: @d4vidi, @noomorph

Fixed build
  detox/src/android/espressoapi/DetoxAction.js
Owners: @d4vidi, @noomorph

Fixed legacy slider
  detox/test/src/Screens/ActionsScreen.js
  detox/test/src/Screens/AttributesScreen.js
Owners: @d4vidi, @noomorph

fix: stabilize artifacts flushing
  detox/runners/jest/testEnvironment/index.js
Owners: @d4vidi, @noomorph

fix(jest): stabilize artifacts flushing (#4367)
  detox/runners/jest/testEnvironment/index.js
Owners: @d4vidi, @noomorph

Fixed release pipeline
  .buildkite/pipeline.release.fast.yml
Owners: @d4vidi

Publish 20.18.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  generation/package.json
  lerna.json
  package.json
Owners: @d4vidi

Publish docs version 20.x
  website/versioned_docs/version-20.x/guide/android-dev-env.md
Owners: @d4vidi

fix(ios): track hierarchy artifacts (#4365)
  detox/src/artifacts/uiHierarchy/IosUIHierarchyPlugin.js
  detox/src/artifacts/uiHierarchy/IosUIHierarchyPlugin.test.js
Owners: @d4vidi, @noomorph

Fixed a broken post install script in public version
  detox/scripts/postinstall.js
  detox/test/scripts/postinstall.js
  detox/test/scripts/updateGradle.js
  examples/demo-react-native/scripts/postinstall.js
Owners: @d4vidi, @noomorph

Revert "Fixed a broken post install script in public version"
  detox/scripts/postinstall.js
  detox/scripts/updateGradle.js
  detox/test/scripts/postinstall.js
  examples/demo-react-native/scripts/postinstall.js
Owners: @d4vidi, @noomorph

Fixed broken build
  detox/scripts/updateGradle.js
  detox/src/utils/rn-consts/rn-consts.js
  detox/test/e2e/utils/custom-it.js
Owners: @d4vidi, @noomorph

Publish 20.18.1 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

chore: upgrade allure reporter
  detox/package.json
  detox/test/package.json
  generation/package.json
Owners: @d4vidi

chore: upgrade allure reporter (#4373)
  detox/package.json
  detox/test/package.json
  generation/package.json
Owners: @d4vidi

Create detox legacy aar for supporting java 11 builds
  .buildkite/pipeline.release.fast.yml
  detox/android/detox/publishing.gradle
Owners: @d4vidi, @jonathanmos

Add pipeline dependency
  .buildkite/pipeline.release.fast.yml
Owners: @d4vidi

Drop rn 71 test
  .buildkite/jobs/pipeline.android_demo_app_rn_71.yml
Owners: @d4vidi

fix: communicate crash errors more clearly
  detox/src/client/Client.js
  detox/src/client/Client.test.js
  detox/src/client/__snapshots__/Client.test.js.snap
  detox/test/e2e/19.crash-handling.test.js
Owners: @d4vidi, @noomorph

Fixed build
  .buildkite/pipeline_common.sh
Owners: @d4vidi, @noomorph

Update all react native versions
  scripts/change_all_react_native_versions.sh
  scripts/ci.android-release.js
  scripts/ci.sh
Owners: @d4vidi, @noomorph

Fix build
  scripts/ci.android-release.js
Owners: @d4vidi, @noomorph

Fixed build
  scripts/ci.android-release.js
Owners: @d4vidi, @noomorph

test: split Client integration test
  detox/src/client/Client.test.js
  detox/src/client/__snapshots__/Client.test.js.snap
Owners: @d4vidi, @noomorph

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem
