Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem

Intro genymotion config preset
  detox/detox.d.ts
  detox/src/configuration/composeDeviceConfig.js
  detox/src/devices/allocation/drivers/android/AndroidAllocDriver.js
  detox/src/devices/allocation/drivers/android/utils/DeviceInitCache.js
  detox/src/devices/allocation/drivers/android/utils/SystemUICfgHelper.js
  detox/src/devices/allocation/drivers/android/utils/SystemUICfgHelper.test.js
  detox/src/devices/allocation/drivers/android/utils/systemUICfgPresets.js
  detox/src/errors/DetoxConfigErrorComposer.js
  detox/test/e2e/detox.config.js
Owners: @d4vidi, @noomorph

Fix unit tests; Fix support for android.attached
  detox/src/configuration/composeDeviceConfig.js
  detox/src/configuration/composeDeviceConfig.test.js
Owners: @d4vidi, @noomorph

Improve unit tests; coverage
  detox/detox.d.ts
  detox/src/devices/allocation/drivers/android/utils/SystemUICfgHelper.js
  detox/src/devices/allocation/drivers/android/utils/SystemUICfgHelper.test.js
  detox/src/devices/allocation/drivers/android/utils/__snapshots__/SystemUICfgHelper.test.js.snap
Owners: @d4vidi, @noomorph

Various fixes / improvements based on review
  detox/src/devices/allocation/drivers/android/AndroidAllocDriver.js
  detox/src/devices/allocation/drivers/android/utils/SystemUICfgHelper.js
  detox/src/devices/allocation/drivers/android/utils/SystemUICfgHelper.test.js
Owners: @d4vidi, @noomorph

Add ref to systemUI cfg presets content
  detox/detox.d.ts
  detox/src/devices/allocation/drivers/android/utils/SystemUICfgHelper.test.js
  docs/config/devices.mdx
Owners: @d4vidi, @noomorph

SystemUI configuration on init, for Android (#4863)
  README.md
  detox/detox.d.ts
  detox/src/configuration/composeDeviceConfig.js
  detox/src/configuration/composeDeviceConfig.test.js
  detox/src/devices/allocation/DeviceAllocator.js
  detox/src/devices/allocation/DeviceAllocator.test.js
  detox/src/devices/allocation/drivers/AllocationDriverBase.d.ts
  detox/src/devices/allocation/drivers/android/AndroidAllocDriver.js
  detox/src/devices/allocation/drivers/android/attached/AttachedAndroidAllocDriver.js
  detox/src/devices/allocation/drivers/android/emulator/EmulatorAllocDriver.js
  detox/src/devices/allocation/drivers/android/genycloud/GenyAllocDriver.js
  detox/src/devices/allocation/drivers/android/utils/DeviceInitCache.js
  detox/src/devices/allocation/drivers/android/utils/SystemUICfgHelper.js
  detox/src/devices/allocation/drivers/android/utils/SystemUICfgHelper.test.js
  detox/src/devices/allocation/drivers/android/utils/__snapshots__/SystemUICfgHelper.test.js.snap
  detox/src/devices/allocation/drivers/android/utils/systemUICfgPresets.js
  detox/src/devices/runtime/drivers/android/AndroidDriver.js
  detox/src/errors/DetoxConfigErrorComposer.js
  detox/src/realms/DetoxPrimaryContext.js
  detox/test/e2e/38.config-systemui.test.js
  detox/test/e2e/assets/detox-config.systemui-basic.android.png
  detox/test/e2e/detox.config.js
  detox/test/e2e/helpers/AndroidUIInit/DeviceInitCache.js
  detox/test/e2e/helpers/AndroidUIInit/index.js
  detox/test/e2e/testEnvironment.js
  docs/config/devices.mdx
Owners: @d4vidi, @noomorph

Publish 20.46.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Publish docs version 20.x
  website/versioned_docs/version-20.x/config/devices.mdx
Owners: @d4vidi

Cursor rules 0.1
  .cursor/rules/detox-idomatic.mdc
  .cursor/rules/detox-unittests.mdc
Owners: @d4vidi

feat(session): add ignoreUnexpectedMessages configuration option
  detox/detox.d.ts
  detox/src/client/AsyncWebSocket.js
  detox/src/client/AsyncWebSocket.test.js
  detox/src/client/Client.js
  detox/src/configuration/composeSessionConfig.js
  detox/src/configuration/composeSessionConfig.test.js
  detox/src/errors/DetoxConfigErrorComposer.js
  docs/config/session.mdx
Owners: @d4vidi, @noomorph

os version set to iOS 26
  detox/test/e2e/13.permissions.test.js
  detox/test/e2e/detox.config.js
  detox/test/e2e/utils/deviceInfo.js
Owners: @d4vidi, @noomorph

Cursor rules 0.1 (#4873)
  .cursor/rules/detox-idomatic.mdc
  .cursor/rules/detox-unittests.mdc
Owners: @d4vidi

Update README.md
  README.md
Owners: @d4vidi

Use first user account on attached Android devices
  detox/src/devices/common/drivers/android/exec/ADB.js
Owners: @d4vidi, @noomorph

updates done based on Yarik's comments
  detox/ios/Detox/Invocation/Predicate.swift
  detox/src/android/matchers/native.js
  detox/src/ios/expectTwo.js
  detox/src/matchers/semanticTypes.js
  detox/test/e2e/27.semantic-types.test.js
  detox/test/ios/example.xcodeproj/project.pbxproj
  detox/test/src/Screens/MatchersScreen.js
Owners: @asafkorem, @d4vidi, @noomorph

rawType update
  detox/src/android/matchers/native.js
Owners: @d4vidi, @noomorph

build: move to yarn 4
  .buildkite/pipeline.release.fast.yml
  .github/workflows/rapid-test.yml
  .gitignore
  .husky/pre-commit
  .npmrc
  .yarnrc.yml
  detox-cli/package.json
  detox/package.json
  detox/test/ios/example.xcodeproj/project.pbxproj
  detox/test/package.json
  docs/contributing/code/setting-up-the-dev-environment.md
  examples/demo-react-native-detox-instruments/package.json
  lerna.json
  package.json
  scripts/change_all_react_native_versions.sh
  scripts/ci.android-release.js
  scripts/ci.android.sh
  scripts/ci.ios.sh
  scripts/ci.release.js
  scripts/ci.sh
  scripts/demo-projects.android.sh
  scripts/demo-projects.ios.sh
  scripts/demo-projects.sh
  scripts/demo-rn-bloat-bundle-test.sh
  scripts/install.sh
  scripts/publish.sh
  scripts/utils/publishNewVersion.js
  scripts/utils/releaseDocumentation.js
  website/versioned_docs/version-20.x/contributing/code/setting-up-the-dev-environment.md
  yarn.lock
Owners: @d4vidi, @asafkorem, @noomorph

Publish 20.47.0-smoke.0 [ci skip]
  detox-cli/package.json
  detox/package.json
  package.json
Owners: @d4vidi

build: move to yarn 4 (#4881)
  .buildkite/pipeline.release.fast.yml
  .github/workflows/rapid-test.yml
  .gitignore
  .husky/pre-commit
  .npmrc
  .yarnrc.yml
  detox-cli/package.json
  detox/package.json
  detox/test/ios/example.xcodeproj/project.pbxproj
  detox/test/package.json
  docs/contributing/code/setting-up-the-dev-environment.md
  examples/demo-react-native-detox-instruments/package.json
  lerna.json
  package.json
  scripts/change_all_react_native_versions.sh
  scripts/ci.android-release.js
  scripts/ci.android.sh
  scripts/ci.ios.sh
  scripts/ci.release.js
  scripts/ci.sh
  scripts/demo-projects.android.sh
  scripts/demo-projects.ios.sh
  scripts/demo-projects.sh
  scripts/demo-rn-bloat-bundle-test.sh
  scripts/install.sh
  scripts/publish.sh
  scripts/utils/publishNewVersion.js
  scripts/utils/releaseDocumentation.js
  website/versioned_docs/version-20.x/contributing/code/setting-up-the-dev-environment.md
  yarn.lock
Owners: @d4vidi, @asafkorem, @noomorph

ci: Limit genymotion cloud compat testing
  .buildkite/jobs/pipeline.android_rn_82.yml
  scripts/ci.android.sh
Owners: @d4vidi, @noomorph

Fix scoping for geny e2e
  scripts/ci.android.sh
Owners: @d4vidi, @noomorph

Fixed espresso loopers caching
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/ReactNativeIdlingResources.kt
Owners: @d4vidi, @jonathanmos

(CI) Limit Genymotion cloud compatibility testing (#4889)
  .buildkite/jobs/pipeline.android_rn_82.yml
  scripts/ci.android.sh
Owners: @d4vidi, @noomorph

Fix(android): System-UI glitches (e.g. notifications)
  detox/src/devices/allocation/drivers/android/AndroidAllocDriver.js
  detox/src/devices/allocation/drivers/android/utils/SystemUICfgHelper.js
  detox/src/devices/allocation/drivers/android/utils/SystemUICfgHelper.test.js
  detox/src/devices/allocation/drivers/android/utils/__snapshots__/SystemUICfgHelper.test.js.snap
Owners: @d4vidi, @noomorph

Notification flakiness on iOS 18 fix
  detox/test/ios/UI/OverlayMessageView.swift
Owners: @asafkorem

Fix(android): System-UI glitches (e.g. notifications) (#4878)
  detox/src/devices/allocation/drivers/android/AndroidAllocDriver.js
  detox/src/devices/allocation/drivers/android/utils/SystemUICfgHelper.js
  detox/src/devices/allocation/drivers/android/utils/SystemUICfgHelper.test.js
  detox/src/devices/allocation/drivers/android/utils/__snapshots__/SystemUICfgHelper.test.js.snap
Owners: @d4vidi, @noomorph

Publish 20.46.1 [ci skip]
  detox-cli/package.json
  detox/package.json
  package.json
Owners: @d4vidi

Publish docs version 20.x
  website/versioned_docs/version-20.x/contributing/code/setting-up-the-dev-environment.md
Owners: @d4vidi

Fixes after pr
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/ReactNativeIdlingResources.kt
Owners: @d4vidi, @jonathanmos

First attempt to upgrade to RN 83
  .buildkite/jobs/pipeline.android_demo_app_rn_82.yml
  .buildkite/jobs/pipeline.android_demo_app_rn_83.yml
  .buildkite/jobs/pipeline.android_rn_82.yml
  .buildkite/jobs/pipeline.android_rn_83.yml
  .buildkite/jobs/pipeline.ios_demo_app_rn_83.yml
  .buildkite/jobs/pipeline.ios_rn_83.yml
  .buildkite/pipeline_common.sh
  .yarn/releases/yarn-4.12.0.cjs
  .yarnrc.yml
  detox/package.json
  detox/test/ios/example.xcodeproj/project.pbxproj
  detox/test/package.json
  examples/demo-react-native/package.json
  yarn.lock
Owners: @d4vidi, @noomorph, @asafkorem

Fixed pod install
  examples/demo-react-native/ios/example.xcodeproj/project.pbxproj
Owners: @asafkorem

Redo yarn rc minimal age
  .yarnrc.yml
Owners: @d4vidi

build: fix npm ignore issue
  detox/.npmignore
  detox/package.json
Owners: @d4vidi

Publish 20.46.2-smoke.0 [ci skip]
  detox-cli/package.json
  detox/package.json
  package.json
Owners: @d4vidi

build: exclude test files
  detox/package.json
Owners: @d4vidi

build: use workspace in demo packages
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  yarn.lock
Owners: @d4vidi

Publish 20.46.2-smoke.1 [ci skip]
  detox-cli/package.json
  detox/package.json
  package.json
Owners: @d4vidi

build: exclude mock.json
  detox/package.json
Owners: @d4vidi

build: fix npm ignore issue (#4893)
  detox-cli/package.json
  detox/.npmignore
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  package.json
  yarn.lock
Owners: @d4vidi

Publish 20.46.2 [ci skip]
  detox-cli/package.json
  detox/package.json
  package.json
Owners: @d4vidi
