Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

Publish 20.37.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Use first user account on attached Android devices
  detox/src/devices/common/drivers/android/exec/ADB.js
Owners: @d4vidi, @noomorph

feat: support basic REPL mode
  detox/detox.d.ts
  detox/internals.d.ts
  detox/local-cli/test.js
  detox/local-cli/testCommand/TestRunnerCommand.js
  detox/local-cli/testCommand/builder.js
  detox/local-cli/utils/patchJestUtil.js
  detox/runners/jest/testEnvironment/index.js
  detox/runners/jest/testEnvironment/listeners/REPLListener.js
  detox/runners/jest/testEnvironment/listeners/index.js
  detox/src/DetoxWorker.js
  detox/src/configuration/collectCliConfig.js
  detox/src/configuration/collectCliConfig.test.js
  detox/src/realms/DetoxContext.js
  detox/src/utils/repl.js
  docs/cli/test.md
  docs/introduction/debugging.mdx
Owners: @d4vidi, @noomorph

docs: fix typo
  docs/introduction/debugging.mdx
Owners: @d4vidi

docs(blog): add article about REPL
  website/blog/2025-04-29-detox-repl-mode.md
Owners: @d4vidi

Update docs/introduction/debugging.mdx
  docs/introduction/debugging.mdx
Owners: @d4vidi

Update detox/src/utils/repl.js
  detox/src/utils/repl.js
Owners: @d4vidi, @noomorph

fixes after code review
  detox/detox.d.ts
  detox/local-cli/utils/patchJestUtil.js
  detox/runners/jest/testEnvironment/listeners/REPLListener.js
  detox/src/configuration/collectCliConfig.test.js
  detox/src/utils/repl.js
  docs/guide/detox-repl.md
  docs/introduction/debugging.mdx
  website/sidebars.js
Owners: @d4vidi, @noomorph

more fixes after adding tests
  detox/local-cli/test.test.js
  detox/local-cli/testCommand/builder.js
  detox/local-cli/testCommand/middlewares.js
Owners: @d4vidi, @noomorph

last batch of fixes
  detox/jest.config.js
  detox/local-cli/run-server.js
  detox/local-cli/testCommand/builder.js
  detox/src/configuration/collectCliConfig.js
  detox/src/configuration/collectCliConfig.test.js
  detox/src/configuration/index.js
  detox/src/errors/DetoxConfigErrorComposer.js
Owners: @d4vidi, @noomorph

fix typings
  detox/detox.d.ts
Owners: @d4vidi, @noomorph

feat: support basic REPL mode (#4730)
  detox/detox.d.ts
  detox/internals.d.ts
  detox/jest.config.js
  detox/local-cli/run-server.js
  detox/local-cli/test.js
  detox/local-cli/test.test.js
  detox/local-cli/testCommand/TestRunnerCommand.js
  detox/local-cli/testCommand/builder.js
  detox/local-cli/testCommand/middlewares.js
  detox/local-cli/utils/patchJestUtil.js
  detox/runners/jest/testEnvironment/index.js
  detox/runners/jest/testEnvironment/listeners/REPLListener.js
  detox/runners/jest/testEnvironment/listeners/index.js
  detox/src/DetoxWorker.js
  detox/src/configuration/collectCliConfig.js
  detox/src/configuration/collectCliConfig.test.js
  detox/src/configuration/index.js
  detox/src/errors/DetoxConfigErrorComposer.js
  detox/src/realms/DetoxContext.js
  detox/src/utils/repl.js
  docs/cli/test.md
  docs/guide/detox-repl.md
  docs/introduction/debugging.mdx
  website/sidebars.js
Owners: @d4vidi, @noomorph

feat(config): noRetryArgs option
  detox/detox.d.ts
  detox/local-cli/test.test.js
  detox/local-cli/testCommand/TestRunnerCommand.js
  detox/src/configuration/composeRunnerConfig.js
  detox/src/configuration/composeRunnerConfig.test.js
  docs/config/testRunner.mdx
Owners: @d4vidi, @noomorph

feat(config): noRetryArgs option (#4765)
  detox/detox.d.ts
  detox/local-cli/test.test.js
  detox/local-cli/testCommand/TestRunnerCommand.js
  detox/src/configuration/composeRunnerConfig.js
  detox/src/configuration/composeRunnerConfig.test.js
  docs/config/testRunner.mdx
Owners: @d4vidi, @noomorph

Publish 20.38.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Publish docs version 20.x
  website/versioned_docs/version-20.x/cli/test.md
  website/versioned_docs/version-20.x/config/testRunner.mdx
  website/versioned_docs/version-20.x/guide/detox-repl.md
  website/versioned_docs/version-20.x/introduction/debugging.mdx
  website/versioned_sidebars/version-20.x-sidebars.json
Owners: @d4vidi

Fixed Scrolling for API 35
  detox/android/detox/src/main/java/com/wix/detox/espresso/scroll/LinearSwiper.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/scroll/ScrollHelper.java
Owners: @d4vidi, @jonathanmos

Fixed edge to edge on api 35
  detox/test/android/app/src/main/java/com/example/MainActivity.kt
Owners: @d4vidi, @jonathanmos

Added new configuration for genymotion
  detox/test/e2e/detox.config.js
Owners: @d4vidi, @noomorph

Fixed view hierarchy snapshots
  detox/test/e2e/assets/view-hierarchy-web-view.77.android.txt
  detox/test/e2e/assets/view-hierarchy-with-test-id-injection.77.android.txt
  detox/test/e2e/assets/view-hierarchy-without-test-id-injection.77.android.txt
Owners: @d4vidi

Updated snapshots
  detox/test/android/app/src/main/java/com/example/MainActivity.kt
  detox/test/e2e/assets/focus-on-content-editable-webview.android.png
  detox/test/e2e/assets/move-cursor-to-end-content-editable-webview.android.png
  detox/test/e2e/assets/scroll-to-view-webview.android.png
Owners: @d4vidi, @jonathanmos

Fixed latest screenshot
  detox/test/e2e/assets/elementScreenshot.vert.android.png
Owners: @d4vidi

Reverted the emulator version
  detox/test/e2e/detox.config.js
Owners: @d4vidi, @noomorph

Removed unused snapshots
  detox/test/e2e/assets/view-hierarchy-web-view.77.android.txt
  detox/test/e2e/assets/view-hierarchy-with-test-id-injection.77.android.txt
  detox/test/e2e/assets/view-hierarchy-without-test-id-injection.77.android.txt
Owners: @d4vidi

Fixed tests
  detox/test/e2e/assets/view-hierarchy-web-view.73.android.txt
  detox/test/e2e/assets/view-hierarchy-with-test-id-injection.73.android.txt
  detox/test/e2e/assets/view-hierarchy-without-test-id-injection.73.android.txt
Owners: @d4vidi

Update detox/test/android/app/src/main/java/com/example/MainActivity.kt
  detox/test/android/app/src/main/java/com/example/MainActivity.kt
Owners: @d4vidi, @jonathanmos

chore: bump `@wix-pilot/core` version to `3.3.0`.
  detox/package.json
Owners: @d4vidi

test(pilot): update LLM to Sonnet 4.0.
  detox/test/e2e/pilot/__pilot_cache__/01.pilot.sanity.test.json
  detox/test/e2e/pilot/__pilot_cache__/02.pilot.actions.test.json
  detox/test/e2e/pilot/__pilot_cache__/03.pilot.shape-match.test.json
  detox/test/e2e/pilot/__pilot_cache__/04.webview.test.json
  detox/test/e2e/pilot/__pilot_cache__/06.waitfor.test.json
  detox/test/e2e/pilot/__pilot_cache__/07.pilot.assertions.test.json
  detox/test/e2e/pilot/__pilot_cache__/08.pilot.location.test.json
  detox/test/e2e/pilot/__pilot_cache__/09.pilot.datepicker.test.json
  detox/test/e2e/pilot/__pilot_cache__/10.pilot.visibility.test.json
  detox/test/e2e/utils/WixPromptHandler.js
Owners: @d4vidi, @noomorph

Publish 20.39.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

fix(ios): prevent stdout buffer overflow with many simulators
  detox/src/devices/allocation/drivers/ios/SimulatorAllocDriver.js
  detox/src/devices/common/drivers/ios/tools/AppleSimUtils.js
  detox/src/utils/environment.js
Owners: @d4vidi, @noomorph

Enable api 35
  detox/test/e2e/detox.config.js
Owners: @d4vidi, @noomorph

35
  examples/demo-react-native/detox.config.js
Owners: @d4vidi, @noomorph

fix: handle Windows CRLF in AVDsResolver output parsing
  detox/src/devices/allocation/drivers/android/emulator/AVDsResolver.js
Owners: @d4vidi, @noomorph

Replace node-module 'tempfile' seamlessly with 'tmp'
  detox/__tests__/helpers.js
  detox/local-cli/build.test.js
  detox/local-cli/test.test.js
  detox/package.json
  detox/src/android/AndroidExpect.test.js
  detox/src/android/core/NativeElement.js
  detox/src/artifacts/log/ios/SimulatorLogPlugin.test.js
  detox/src/artifacts/templates/artifact/FileArtifact.js
  detox/src/artifacts/templates/artifact/FileArtifact.test.js
  detox/src/artifacts/utils/temporaryPath.js
  detox/src/artifacts/utils/temporaryPath.test.js
  detox/src/client/Client.test.js
  detox/src/devices/allocation/DeviceRegistry.test.js
  detox/src/ios/expectTwo.js
  detox/src/ios/expectTwo.test.js
  detox/src/logger/DetoxLogger.test.js
  detox/src/logger/utils/DetoxLogFinalizer.test.js
  detox/src/logger/utils/streams/BunyanTransformer.test.js
  detox/src/utils/ExclusiveLockfile.test.js
  detox/src/utils/appendFile.test.js
  detox/src/utils/environment.test.js
  detox/src/utils/fsext.test.js
  detox/src/utils/tempfile.js
  detox/src/utils/tempfile.test.js
  detox/test/integration/stub/StubRuntimeDriver.js
  detox/test/integration/timeline-artifact.test.js
Owners: @d4vidi, @noomorph

Remove the tempfile node-module
  detox/package.json
Owners: @d4vidi

Add test with tmp-module in integ.
  detox/src/utils/tempfile.test.js
Owners: @d4vidi, @noomorph

Fix unit test for windows + make more strict
  detox/src/utils/tempfile.test.js
Owners: @d4vidi, @noomorph

Replace node-module 'tempfile' seamlessly with 'tmp' (#4777)
  detox/__tests__/helpers.js
  detox/local-cli/build.test.js
  detox/local-cli/test.test.js
  detox/package.json
  detox/src/android/AndroidExpect.test.js
  detox/src/android/core/NativeElement.js
  detox/src/artifacts/log/ios/SimulatorLogPlugin.test.js
  detox/src/artifacts/templates/artifact/FileArtifact.js
  detox/src/artifacts/templates/artifact/FileArtifact.test.js
  detox/src/artifacts/utils/temporaryPath.js
  detox/src/artifacts/utils/temporaryPath.test.js
  detox/src/client/Client.test.js
  detox/src/devices/allocation/DeviceRegistry.test.js
  detox/src/ios/expectTwo.js
  detox/src/ios/expectTwo.test.js
  detox/src/logger/DetoxLogger.test.js
  detox/src/logger/utils/DetoxLogFinalizer.test.js
  detox/src/logger/utils/streams/BunyanTransformer.test.js
  detox/src/utils/ExclusiveLockfile.test.js
  detox/src/utils/appendFile.test.js
  detox/src/utils/environment.test.js
  detox/src/utils/fsext.test.js
  detox/src/utils/tempfile.js
  detox/src/utils/tempfile.test.js
  detox/test/integration/stub/StubRuntimeDriver.js
  detox/test/integration/timeline-artifact.test.js
Owners: @d4vidi, @noomorph

fix(android): handle CRLF in AVDsResolver output (#4776)
  detox/src/devices/allocation/drivers/android/emulator/AVDsResolver.js
Owners: @d4vidi, @noomorph

Upgrade to RN 0.78
  detox/package.json
  detox/test/android/gradle/wrapper/gradle-wrapper.properties
  detox/test/package.json
  examples/demo-react-native/android/gradle/wrapper/gradle-wrapper.properties
  examples/demo-react-native/package.json
Owners: @d4vidi

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem
