Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem

test(e2e): add custom describe (`describeForCopilotEnv`).
  detox/test/e2e/38.copilot.sanity.test.js
  detox/test/e2e/39.copilot.actions.test.js
  detox/test/e2e/39.copilot.shape-match.test.js
  detox/test/e2e/copilot/PromptHandler.js
  detox/test/e2e/utils/custom-describes.js
Owners: @d4vidi, @noomorph

chore: remove redundant .travis.yml file.
  .travis.yml
Owners: @d4vidi

test(e2e): update snapshot tests for Android, RN 0.73.
  detox/test/e2e/assets/view-hierarchy-web-view.73.android.txt
  detox/test/e2e/assets/view-hierarchy-with-test-id-injection.73.android.txt
  detox/test/e2e/assets/view-hierarchy-without-test-id-injection.73.android.txt
Owners: @d4vidi

test(e2e): update snapshot tests for Android, RN 0.71.
  detox/test/e2e/assets/view-hierarchy-web-view.71.android.txt
  detox/test/e2e/assets/view-hierarchy-with-test-id-injection.71.android.txt
  detox/test/e2e/assets/view-hierarchy-without-test-id-injection.71.android.txt
Owners: @d4vidi

test(e2e): move view-hierarchy tests to their own suite.
  detox/test/e2e/06.device.test.js
  detox/test/e2e/06.device.view-hierarchy.test.js
Owners: @d4vidi, @noomorph

chore(test): bump datetimepicker version.
  detox/test/package.json
Owners: @d4vidi

test(e2e): update view-hierarchy snapshots.
  detox/test/e2e/06.device.view-hierarchy.test.js
  detox/test/e2e/assets/view-hierarchy-with-test-id-injection.73.ios.txt
  detox/test/e2e/assets/view-hierarchy-without-test-id-injection.73.ios.txt
Owners: @d4vidi, @noomorph

test(e2e): update view-hierarchy snapshot.
  detox/test/e2e/assets/view-hierarchy-web-view.71.android.txt
  detox/test/e2e/assets/view-hierarchy-web-view.71.ios.txt
  detox/test/e2e/assets/view-hierarchy-web-view.73.android.txt
  detox/test/e2e/assets/view-hierarchy-web-view.73.ios.txt
  detox/test/e2e/assets/view-hierarchy-with-test-id-injection.71.android.txt
  detox/test/e2e/assets/view-hierarchy-with-test-id-injection.71.ios.txt
  detox/test/e2e/assets/view-hierarchy-with-test-id-injection.73.android.txt
  detox/test/e2e/assets/view-hierarchy-with-test-id-injection.73.ios.txt
  detox/test/e2e/assets/view-hierarchy-without-test-id-injection.71.android.txt
  detox/test/e2e/assets/view-hierarchy-without-test-id-injection.71.ios.txt
  detox/test/e2e/assets/view-hierarchy-without-test-id-injection.73.android.txt
  detox/test/e2e/assets/view-hierarchy-without-test-id-injection.73.ios.txt
Owners: @d4vidi

test(e2e): skip describe if copilot is not available.
  detox/test/e2e/utils/custom-describes.js
Owners: @d4vidi, @noomorph

test(e2e): update snapshots.
  detox/test/e2e/assets/view-hierarchy-web-view.71.ios.txt
  detox/test/e2e/assets/view-hierarchy-with-test-id-injection.71.ios.txt
  detox/test/e2e/assets/view-hierarchy-without-test-id-injection.71.ios.txt
Owners: @d4vidi

test(e2e): update view-hierarchy test to Sanity.
  detox/test/e2e/06.device.view-hierarchy.test.js
Owners: @d4vidi, @noomorph

test(e2e): update view-hierarchy snapshots.
  detox/test/e2e/assets/view-hierarchy-web-view.71.android.txt
  detox/test/e2e/assets/view-hierarchy-web-view.71.ios.txt
  detox/test/e2e/assets/view-hierarchy-web-view.73.android.txt
  detox/test/e2e/assets/view-hierarchy-web-view.73.ios.txt
  detox/test/e2e/assets/view-hierarchy-with-test-id-injection.71.android.txt
  detox/test/e2e/assets/view-hierarchy-with-test-id-injection.71.ios.txt
  detox/test/e2e/assets/view-hierarchy-with-test-id-injection.73.android.txt
  detox/test/e2e/assets/view-hierarchy-with-test-id-injection.73.ios.txt
  detox/test/e2e/assets/view-hierarchy-without-test-id-injection.71.android.txt
  detox/test/e2e/assets/view-hierarchy-without-test-id-injection.71.ios.txt
  detox/test/e2e/assets/view-hierarchy-without-test-id-injection.73.android.txt
  detox/test/e2e/assets/view-hierarchy-without-test-id-injection.73.ios.txt
Owners: @d4vidi

test(e2e): disable shape matching game if no copilot env.
  detox/test/src/app.js
Owners: @d4vidi, @noomorph

Publish 20.27.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

chore: bump copilot version.
  detox/package.json
Owners: @d4vidi

test(e2e): improve detox copilot test.
  detox/test/copilot-cache/step_performer_cache.json
  detox/test/e2e/39.copilot.shape-match.test.js
  detox/test/src/app.js
Owners: @d4vidi, @noomorph

test(e2e): update copilot tests.
  detox/test/copilot-cache/step_performer_cache.json
  detox/test/e2e/39.copilot.shape-match.test.js
  detox/test/src/app.js
Owners: @d4vidi, @noomorph

chore: bump copilot version (`0.0.8`)
  detox/package.json
Owners: @d4vidi

chore: bump copilot version (`0.0.8`) (#4589)
  detox/package.json
  detox/test/copilot-cache/step_performer_cache.json
  detox/test/e2e/39.copilot.shape-match.test.js
  detox/test/src/app.js
Owners: @d4vidi, @noomorph

Publish 20.27.1 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

fix(ios): get-view-hierarchy-xml native implementation.
  detox/ios/Detox/Utilities/ViewHierarchyGenerator.swift
Owners: @asafkorem

fix(copilot): fix detox framework driver.
  detox/src/copilot/detoxCopilotFrameworkDriver.js
Owners: @d4vidi, @noomorph

chore(deps): bump detox-copilot version (`0.0.9`)
  detox/package.json
Owners: @d4vidi

chore(deps): bump detox-copilot version (`0.0.9`) (#4592)
  detox/package.json
Owners: @d4vidi

fix(copilot): fix detox framework driver. (#4590)
  detox/src/copilot/detoxCopilotFrameworkDriver.js
Owners: @d4vidi, @noomorph

fix(ios): get-view-hierarchy-xml native implementation. (#4591)
  detox/ios/Detox/Utilities/ViewHierarchyGenerator.swift
Owners: @asafkorem

refactor(ios): refactor get-view-hierarchy, replace recursion with stack.
  detox/ios/Detox/Utilities/ViewHierarchyGenerator.swift
Owners: @asafkorem

fix(ios): fix closing-tags on get-view-hierarchy implementation.
  detox/ios/Detox/Utilities/ViewHierarchyGenerator.swift
Owners: @asafkorem

Publish 20.27.2 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

chore: bump detox-copilot version (0.0.10).
  detox/package.json
Owners: @d4vidi

feat(copilot): enhance driver capabilities (api catalog).
  detox/src/copilot/detoxCopilotFrameworkDriver.js
Owners: @d4vidi, @noomorph

bump: upgrade detox-copilot version to 0.0.11.
  detox/package.json
Owners: @d4vidi

test(e2e): update copilot tests with array-spread.
  detox/test/e2e/38.copilot.sanity.test.js
  detox/test/e2e/39.copilot.actions.test.js
  detox/test/e2e/39.copilot.shape-match.test.js
Owners: @d4vidi, @noomorph

feat(copilot): update detox-driver.
  detox/src/copilot/detoxCopilotFrameworkDriver.js
Owners: @d4vidi, @noomorph

chore: bump detox-copilot version.
  detox/package.json
Owners: @d4vidi

chore: remove dead cache.
  detox/test/copilot-cache/step_performer_cache.json
Owners: @d4vidi

fix(copilot): add missing example.
  detox/src/copilot/detoxCopilotFrameworkDriver.js
Owners: @d4vidi, @noomorph

fix(copilot): accept spread array as param.
  detox/src/copilot/DetoxCopilot.js
Owners: @d4vidi, @noomorph

test(e2e): migrate copilot e2e tests to inner directory.
  detox/test/e2e/copilot/01.copilot.sanity.test.js
  detox/test/e2e/copilot/02.copilot.actions.test.js
  detox/test/e2e/copilot/03.copilot.shape-match.test.js
Owners: @d4vidi, @noomorph

fix(copilot): improve driver catalog.
  detox/src/copilot/detoxCopilotFrameworkDriver.js
Owners: @d4vidi, @noomorph
