Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

wip: split client, server and common
  packages/detox-server/src/invoke/EarlGrey.js
Owners: @d4vidi, @noomorph

wip: handle --bail
  detox/internals.d.ts
  detox/runners/jest/reporters/DetoxReporter.js
  detox/runners/jest/testEnvironment/index.js
  detox/src/ipc/IPCClient.js
  detox/src/ipc/IPCServer.js
  detox/src/ipc/SessionState.js
  detox/src/realms/DetoxContext.js
  detox/src/realms/DetoxInternalsFacade.js
  detox/src/realms/DetoxPrimaryContext.js
  detox/src/realms/DetoxSecondaryContext.js
  detox/src/realms/symbols.js
Owners: @d4vidi, @noomorph

Undo most upgrade changes in test project (iOS & Android)
  detox/test/.gitignore
  detox/test/android/app/build.gradle
  detox/test/android/app/src/main/AndroidManifest.xml
  detox/test/android/build.gradle
  detox/test/android/gradle.properties
  detox/test/android/gradle/wrapper/gradle-wrapper.properties
  detox/test/package.json
  detox/test/tsconfig.json
Owners: @d4vidi, @jonathanmos

Restart test-proj upgrade from scratch
  detox/android/build.gradle
  detox/android/detox/build.gradle
  detox/package.json
  detox/test/.gitignore
  detox/test/android/app/build.gradle
  detox/test/android/app/src/main/AndroidManifest.xml
  detox/test/android/app/src/main/java/com/example/DetoxRNHost.java
  detox/test/android/build.gradle
  detox/test/android/gradle.properties
  detox/test/android/settings.gradle
  detox/test/package.json
Owners: @d4vidi, @jonathanmos

fix(android): Temp-disable some native unit tests
  detox/android/detox/build.gradle
  detox/android/detox/src/full/java/com/wix/detox/espresso/common/SliderHelper.kt
  detox/android/detox/src/testFull/java/com/wix/detox/espresso/action/GetAttributesActionTest.kt
  detox/android/detox/src/testFull/java/com/wix/detox/espresso/common/SliderHelperTest.kt
Owners: @d4vidi, @jonathanmos

docs: Add warning regarding Android unit tests
  docs/contributing.md
Owners: @d4vidi

fix(android): [wip] Make lib and test-proj back-compat (rn<71)
  detox/android/build.gradle
  detox/android/detox/build.gradle
  detox/android/rninfo.gradle
  detox/test/android/app/build.gradle
  detox/test/android/build.gradle
  detox/test/android/gradle/wrapper/gradle-wrapper.properties
Owners: @d4vidi, @jonathanmos

fix(android): [wip] Make test-proj back-compat (intro. dedicated product flavors)
  detox/test/android/app/build.gradle
  detox/test/android/app/src/main/AndroidManifest.xml
  detox/test/android/app/src/main/java/com/example/ReactNativeAdapter.java
  detox/test/android/app/src/rnDefault/java/com/example/DetoxRNHost.java
  detox/test/android/app/src/rnLegacy/java/com/example/DetoxRNHost.java
  detox/test/android/build.gradle
  detox/test/android/settings.gradle
  detox/test/e2e/detox.config.js
  detox/test/package.json
  scripts/ci.android.sh
Owners: @d4vidi, @jonathanmos, @noomorph

fix(android): Fix issue with back-compat
  detox/test/android/app/src/main/java/com/example/ReactNativeAdapter.java
  detox/test/android/app/src/rnDefault/java/com/example/DetoxRNHost.java
  detox/test/android/app/src/rnLegacy/java/com/example/DetoxRNHost.java
  detox/test/android/build.gradle
  scripts/ci.android.sh
Owners: @d4vidi, @jonathanmos, @noomorph

fix(android): Restore ReactSlider support
  detox/android/detox/src/full/java/com/wix/detox/espresso/common/SliderHelper.kt
  detox/android/detox/src/testFull/java/com/wix/detox/espresso/action/GetAttributesActionTest.kt
  detox/android/detox/src/testFull/java/com/wix/detox/espresso/common/SliderHelperTest.kt
Owners: @d4vidi, @jonathanmos

fix(android): Kill demo-project's rn compat, CI-job included
  .buildkite/jobs/pipeline.android_demo_app_rn_70.yml
  .buildkite/jobs/pipeline.android_demo_app_rn_71.yml
  .buildkite/pipeline_common.sh
  examples/demo-react-native/android/app/build.gradle
  examples/demo-react-native/android/build.gradle
  examples/demo-react-native/android/rninfo.gradle
Owners: @d4vidi, @noomorph, @jonathanmos

General (subtle) clean-ups and adjustments
  detox/android/detox/src/testFull/java/com/wix/detox/espresso/common/SliderHelperTest.kt
  detox/test/.gitignore
  detox/test/android/settings.gradle
  detox/test/tsconfig.json
Owners: @d4vidi, @jonathanmos

Undo subtle adjustments that turned out to be breaking
  detox/test/android/settings.gradle
Owners: @d4vidi, @jonathanmos

Undo more subtle adjustments
  detox/test/tsconfig.json
Owners: @d4vidi

Remove unnecessary todo
  detox/android/build.gradle
Owners: @d4vidi, @jonathanmos

Simplified Android implementation using custom RegexMatcher
  detox/android/detox/src/full/java/com/wix/detox/espresso/matcher/RegexMatcher.kt
  detox/android/detox/src/full/java/com/wix/detox/espresso/matcher/ViewMatchers.kt
  detox/android/detox/src/full/java/com/wix/detox/espresso/matcher/WithAccessibilityLabelMatcher.kt
Owners: @d4vidi, @jonathanmos

remove private modifier
  detox/android/detox/src/full/java/com/wix/detox/espresso/matcher/RegexMatcher.kt
Owners: @d4vidi, @jonathanmos

Apply suggestions from code review
  .buildkite/jobs/pipeline.android_demo_app_rn_71.yml
  .buildkite/jobs/pipeline.android_rn_71.yml
  .buildkite/jobs/pipeline.ios_demo_app_rn_71.yml
  .buildkite/jobs/pipeline.ios_rn_71.yml
  .buildkite/pipeline.debug.yml
  README.md
  detox/android/detox/build.gradle
  detox/android/rninfo.gradle
  detox/test/android/build.gradle
Owners: @d4vidi, @jonathanmos

Apply suggestions from code review
  docs/contributing.md
  docs/introduction/partials/_getting-started-rn.md
  examples/demo-react-native/android/build.gradle
  examples/demo-react-native/ios/Podfile
  examples/demo-react-native/package.json
Owners: @d4vidi, @jonathanmos

fix(android): Make prod-flavor (rnDefault/rnLegacy) selection seamless
  detox/test/e2e/detox.config-android.js
  detox/test/e2e/detox.config.js
  detox/test/package.json
  scripts/ci.android.sh
  scripts/ci.ios.sh
Owners: @d4vidi, @noomorph

Publish 20.10.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Publish docs version 20.x
  website/versioned_docs/version-20.x/articles/how-detox-works.md
  website/versioned_docs/version-20.x/config/logger.mdx
  website/versioned_docs/version-20.x/config/session.mdx
  website/versioned_docs/version-20.x/contributing.md
  website/versioned_docs/version-20.x/demo.mdx
  website/versioned_docs/version-20.x/img/demo/left-image.png
  website/versioned_docs/version-20.x/img/demo/placeholder.png
  website/versioned_docs/version-20.x/img/demo/right-image.png
  website/versioned_docs/version-20.x/introduction/partials/_getting-started-rn.md
Owners: @d4vidi

PR fixes
  detox/android/detox/src/full/java/com/wix/detox/espresso/matcher/RegexMatcher.kt
  detox/android/detox/src/full/java/com/wix/detox/espresso/matcher/ViewMatchers.kt
  detox/index.d.ts
  detox/src/ios/expectTwo.js
  docs/api/matchers.md
Owners: @d4vidi, @jonathanmos, @noomorph

Default exports + file rename for consistency
  detox/src/android/matchers/native.js
  detox/src/ios/expectTwo.js
  detox/src/utils/isRegExp.js
Owners: @d4vidi, @noomorph

wrong import order fix
  detox/src/ios/expectTwo.js
Owners: @d4vidi, @noomorph

Update docs/api/matchers.md
  docs/api/matchers.md
Owners: @d4vidi

feat: add regex support in element matchers (#4100)
  detox/android/detox/src/full/java/com/wix/detox/espresso/DetoxMatcher.java
  detox/android/detox/src/full/java/com/wix/detox/espresso/matcher/RegexMatcher.kt
  detox/android/detox/src/full/java/com/wix/detox/espresso/matcher/ViewMatchers.kt
  detox/android/detox/src/testFull/java/com/wix/detox/espresso/matcher/RegexMatcherTest.kt
  detox/index.d.ts
  detox/ios/Detox.xcodeproj/project.pbxproj
  detox/ios/Detox/Invocation/Predicate.swift
  detox/ios/Detox/Utilities/String+matchesJSRegex.swift
  detox/src/android/AndroidExpect.test.js
  detox/src/android/espressoapi/DetoxMatcher.js
  detox/src/android/matchers/native.js
  detox/src/ios/expectTwo.js
  detox/src/ios/expectTwo.test.js
  detox/src/utils/isRegExp.js
  detox/test/e2e/02.matchers.test.js
  docs/api/matchers.md
Owners: @d4vidi, @jonathanmos, @noomorph, @asafkorem

fix(docs): remove trailing-space and make linter happy.
  docs/api/matchers.md
Owners: @d4vidi

fix(docs): remove trailing-space and make linter happy. (#4122)
  docs/api/matchers.md
Owners: @d4vidi

Publish 20.11.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Publish docs version 20.x
  website/versioned_docs/version-20.x/api/matchers.md
Owners: @d4vidi

Ensure correct working directory
  detox/android/rninfo.gradle
Owners: @d4vidi, @jonathanmos

expose detox bin
  detox/index.js
  detox/local-cli/cli.js
  detox/local-cli/detox-bin.js
  detox/package.json
Owners: @d4vidi, @noomorph

wip: WebDriver POC
  detox/jsconfig.json
  detox/package.json
  detox/src/client/Client.js
  detox/src/webdriver/WebDriver.test.js
  detox/src/webdriver/WebDriver.ts
  detox/src/webdriver/WebDriverSession.ts
  detox/src/webdriver/WebDriverSessionContext.js
  detox/src/webdriver/errors.ts
  detox/src/webdriver/express-utils.ts
  detox/src/webdriver/index.js
  detox/test/e2e/detox.config.js
  detox/test/src/Screens/SanityScreen.js
  detox/test/src/app.js
  detox/tsconfig.json
Owners: @d4vidi, @noomorph

wip: add @detox/client
  packages/client/package.json
  packages/client/src/DetoxConstants.ts
  packages/client/src/common/Point2D.ts
  packages/client/src/common/index.ts
  packages/client/src/index.ts
  packages/client/src/matchers/index.ts
  packages/client/src/remote/RemoteDetoxSession.ts
  packages/client/src/remote/RemoteDevice.ts
  packages/client/src/remote/index.ts
  packages/client/src/types/Assert.ts
  packages/client/src/types/ElementAttributes.ts
  packages/client/src/types/NativeElement.ts
  packages/client/src/types/NativeMatcher.ts
  packages/client/src/webdriver/WebDriverClient.ts
  packages/client/src/webdriver/bidi/WebDriverBiDiClient.ts
  packages/client/src/webdriver/bidi/index.ts
  packages/client/src/webdriver/bidi/types/browsing-context.ts
  packages/client/src/webdriver/bidi/types/core.ts
  packages/client/src/webdriver/bidi/types/index.ts
  packages/client/src/webdriver/bidi/types/log.ts
  packages/client/src/webdriver/bidi/types/script.ts
  packages/client/src/webdriver/bidi/types/session.ts
  packages/client/src/webdriver/errors/RemoteResponseError.ts
  packages/client/src/webdriver/errors/RemoteWebDriverError.ts
  packages/client/src/webdriver/errors/index.ts
  packages/client/src/webdriver/http/WebDriverFetchWrapper.ts
  packages/client/src/webdriver/http/WebDriverHTTPClient.ts
  packages/client/src/webdriver/http/index.ts
  packages/client/src/webdriver/index.ts
  packages/client/tsconfig.json
  packages/detox-cli/cli.js
  packages/detox-cli/package.json
Owners: @d4vidi, @noomorph

Detox Invoke Handler: initial commit.
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler.xcodeproj/project.pbxproj
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/AccessibilityTraits.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/Action+name.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/Action.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/ActionDelegateProtocol.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/ActionType.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/AnyCodable.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/AnyDecodable.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/AnyEncodable.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/DetoxInvokeHandler-Bridging-Header.h
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/ElementMatcherProtocol.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/ElementPattern.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/Expectation.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/ExpectationDelegateProtocol.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/ExpectationType.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/InvokeHandler+Error.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/InvokeHandler.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/Message.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/MessagePredicate.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/MessagePredicateModifiers.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/MessagePredicateProtocol.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/MessagePredicateType.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/ScreenshotProvidingProtocol.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/TargetElement.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/WhileMessage.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/FakeActionDelegate.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/FakeElementMatcher.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/FakeExpectationDelegate.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/InvokeHandlerSpec.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/MessageBuilder.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/MessageSpec.swift
  detox/ios/DetoxInvokeHandler/README.md
Owners: @asafkorem, @d4vidi

update agents with temporal ui agent
  .buildkite/jobs/pipeline.ios_demo_app_rn_70.yml
  .buildkite/jobs/pipeline.ios_demo_app_rn_71.yml
  .buildkite/jobs/pipeline.ios_rn_70.yml
  .buildkite/jobs/pipeline.ios_rn_71.yml
Owners: @d4vidi

ci: add testing phases (unit & integration).
  .buildkite/jobs/pipeline.ios.integration-tests.yml
  .buildkite/jobs/pipeline.ios.unit-tests.yml
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler.xcodeproj/xcshareddata/xcschemes/DetoxInvokeHandler.xcscheme
Owners: @d4vidi, @asafkorem

ci: define ui agent for xcuitest integration phase.
  .buildkite/jobs/pipeline.ios.integration-tests.yml
Owners: @d4vidi

install iphones on ui agent
  .buildkite/jobs/pipeline.ios.integration-tests.yml
  .buildkite/jobs/pipeline.ios_demo_app_rn_70.yml
  .buildkite/jobs/pipeline.ios_demo_app_rn_71.yml
  .buildkite/jobs/pipeline.ios_rn_70.yml
  .buildkite/jobs/pipeline.ios_rn_71.yml
Owners: @d4vidi

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem
