Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem

tests: add tests for alert's overlay window.
  detox/test/e2e/35.overlay.test.js
  detox/test/src/Screens/OverlayScreen.js
Owners: @d4vidi, @noomorph

tests(hittability when alert is shown): run or expect fail if iOS < 67.
  detox/test/e2e/35.overlay.test.js
  detox/test/e2e/utils/custom-it.js
Owners: @d4vidi, @noomorph

tests: rename custom-it.
  detox/test/e2e/03.actions-scroll.test.js
  detox/test/e2e/05.waitfor.test.js
  detox/test/e2e/utils/custom-it.js
Owners: @d4vidi, @noomorph

tests(visibility-debug-artifacts): fix expected error when button is overlayed.
  detox/test/e2e/32.visibility-debug-artifacts.test.js
Owners: @d4vidi, @noomorph

Publish 20.0.13-is-hittable-over-master.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native-jest/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

website(homepage): create custom banner component folder
  website/src/components/CustomBanner/StandWithUkraine.js
  website/src/components/CustomBanner/StandWithUkraine.module.css
  website/src/components/CustomLayout.js
  website/src/pages/index.js
Owners: @d4vidi, @noomorph

website(homepage): remove comments and fix url paths
  website/src/css/custom.css
Owners: @d4vidi

test(dependencies): lock `react-native-community/checkbox` version.
  detox/test/package.json
Owners: @d4vidi

website(homepage): update component function
  website/src/components/FlavorizedCodeBlock.js
Owners: @d4vidi, @noomorph

test(dependencies): lock `react-native-community/checkbox` version.
  detox/test/package.json
Owners: @d4vidi

website(homepage): redesign.
  website/src/components/Homepage/Features/FeatureList.js
  website/src/components/Homepage/Features/Features.css
  website/src/components/Homepage/Features/Features.js
  website/src/components/Homepage/Features/HomepageFeatures.js
  website/src/components/Homepage/Features/HomepageFeatures.module.css
  website/src/components/Homepage/Header/HomepageHeader.js
  website/src/components/Homepage/Header/HomepageHeader.module.css
  website/src/components/Homepage/SubHeader/HomepageSubHeader.js
  website/src/components/Homepage/SubHeader/HomepageSubHeader.module.css
  website/src/components/HomepageFeatures.js
  website/src/components/HomepageFeatures.module.css
  website/src/css/custom.css
  website/src/pages/index.js
  website/src/pages/index.module.css
  website/src/pages/showcase.js
  website/static/img/ci.svg
  website/static/img/cross-platform.svg
  website/static/img/debug.svg
  website/static/img/devices.svg
  website/static/img/homepage/ci-light.svg
  website/static/img/homepage/cross-platform-light.svg
  website/static/img/homepage/debug-light.svg
  website/static/img/homepage/devices-light.svg
  website/static/img/homepage/discord-figma.svg
  website/static/img/homepage/gh-star-figma.svg
  website/static/img/homepage/hero-image.jpg
  website/static/img/homepage/join-us-white.svg
  website/static/img/homepage/sync-light.svg
  website/static/img/homepage/test-runner-light.svg
  website/static/img/homepage/twitter-figma.svg
  website/static/img/sync.svg
  website/static/img/test-runner.svg
Owners: @d4vidi, @noomorph

feat(cli): drop --device-launch-args arg
  README.md
  detox/local-cli/test.test.js
  detox/local-cli/testCommand/builder.js
  detox/local-cli/testCommand/middlewares.js
  detox/local-cli/testCommand/warnings.js
  detox/src/configuration/collectCliConfig.js
  detox/src/configuration/collectCliConfig.test.js
  detox/src/configuration/utils/warnings.js
  docs/cli/test.md
  docs/guide/migration.md
Owners: @d4vidi, @noomorph

chore: safer deprecation notice
  detox/runners/deprecation.js
  detox/runners/jest/deprecation.js
Owners: @d4vidi, @noomorph

feat(cli): drop --device-launch-args arg (#3665)
  README.md
  detox/local-cli/test.test.js
  detox/local-cli/testCommand/builder.js
  detox/local-cli/testCommand/middlewares.js
  detox/local-cli/testCommand/warnings.js
  detox/src/configuration/collectCliConfig.js
  detox/src/configuration/collectCliConfig.test.js
  detox/src/configuration/utils/warnings.js
  docs/cli/test.md
  docs/guide/migration.md
Owners: @d4vidi, @noomorph

chore: fix code review
  README.md
  detox/runners/jest/index.js
  docs/cli/test.md
  docs/guide/migration.md
  docs/introduction/debugging.mdx
  website/blog/detox-20-is-out.md
Owners: @d4vidi, @noomorph

docs: fix wording
  detox/runners/jest/testEnvironment/index.js
  detox/src/devices/common/drivers/ios/tools/AppleSimUtils.js
  docs/guide/migration.md
  docs/introduction/project-setup.mdx
  docs/introduction/your-first-test.mdx
  website/blog/detox-20-is-out.md
Owners: @d4vidi, @noomorph

chore: code review fixes
  detox/index.d.ts
  detox/internals.d.ts
  docs/api/internals.mdx
  docs/config/testRunner.mdx
  docs/guide/investigating-test-failure.mdx
Owners: @d4vidi, @noomorph

chore: code review
  detox/local-cli/testCommand/TestRunnerCommand.js
  detox/runners/jest/reporters/DetoxReporter.js
  detox/runners/jest/testEnvironment/listeners/DetoxCoreListener.js
  detox/runners/jest/testEnvironment/listeners/SpecReporter.js
  detox/runners/jest/testEnvironment/listeners/WorkerAssignReporter.js
Owners: @d4vidi, @noomorph

chore: code review
  detox/local-cli/test.js
  detox/local-cli/testCommand/TestRunnerCommand.js
  detox/runners/jest/testEnvironment/index.js
Owners: @d4vidi, @noomorph

chore: code review
  detox/local-cli/testCommand/TestRunnerCommand.js
  detox/runners/jest/testEnvironment/listeners/SpecReporter.js
Owners: @d4vidi, @noomorph

fix: improve Jest version validation
  detox/local-cli/testCommand/TestRunnerCommand.js
  detox/runners/jest/testEnvironment/utils/assertJestCircus27.js
  detox/runners/jest/testEnvironment/utils/assertJestCircus27.test.js
Owners: @d4vidi, @noomorph

test: fix tests
  detox/src/client/AsyncWebSocket.test.js
  detox/src/errors/DetoxConfigErrorComposer.test.js
  detox/src/errors/__snapshots__/DetoxConfigErrorComposer.test.js.snap
Owners: @d4vidi, @noomorph

chore: code review
  detox/runners/jest/testEnvironment/listeners/DetoxCoreListener.js
Owners: @d4vidi, @noomorph

🐛📚🤖 fix android cmd tools path
  docs/Introduction.AndroidDevEnv.md
Owners: @d4vidi

🐛 fix avdmanager
  docs/Introduction.AndroidDevEnv.md
Owners: @d4vidi

docs(android setup): add android studio old versions note.
  docs/Introduction.AndroidDevEnv.md
Owners: @d4vidi

docs(android setup): make Doclint happy.
  docs/Introduction.AndroidDevEnv.md
Owners: @d4vidi

Chore: code review
  detox/src/devices/allocation/drivers/android/emulator/launchEmulatorProcess.js
Owners: @d4vidi, @noomorph

Chore: code review
  detox/src/devices/allocation/drivers/android/emulator/launchEmulatorProcess.js
Owners: @d4vidi, @noomorph

docs(android): fix android cmdline tools path.
  docs/guide/android-dev-env.md
Owners: @d4vidi

Fix: support emulator boot with emulator version above 31
  detox/src/devices/allocation/drivers/android/emulator/launchEmulatorProcess.js
Owners: @d4vidi, @noomorph

fix(iOS): improve failed hit-test error-message (add identifiers).
  detox/ios/Detox/Utilities/UIView+DetoxUtils.m
Owners: @asafkorem

Publish 20.0.14-is-hittable-over-master.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native-jest/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

differentiate boot indication line by api level
  detox/src/devices/allocation/drivers/android/emulator/EmulatorLauncher.js
  detox/src/devices/allocation/drivers/android/emulator/launchEmulatorProcess.js
Owners: @d4vidi, @noomorph

Catch error getting version number
  detox/src/devices/allocation/drivers/android/emulator/launchEmulatorProcess.js
Owners: @d4vidi, @noomorph

fix(iOS): improve failed hit-test error-message (add identifiers).
  detox/ios/Detox/Utilities/UIView+DetoxUtils.m
Owners: @asafkorem

fix(ios): improve error message with hint.
  detox/ios/Detox/Utilities/UIView+DetoxUtils.m
Owners: @asafkorem

refactor: use CAF instead of manual cancellation
  detox/local-cli/cli.js
  detox/package.json
  detox/src/DetoxWorker.js
  detox/src/DetoxWorker.test.js
Owners: @d4vidi, @noomorph

chore: code review
  detox/package.json
  detox/src/configuration/__snapshots__/composeRunnerConfig.test.js.snap
  detox/src/errors/DetoxConfigErrorComposer.js
  detox/src/utils/errorUtils.test.js
Owners: @d4vidi, @noomorph

draft: suggestion about emulator
  detox/src/devices/allocation/drivers/android/emulator/EmulatorLauncher.js
  detox/src/devices/allocation/factories/android.js
  detox/src/devices/common/drivers/android/emulator/exec/EmulatorExec.js
Owners: @d4vidi, @noomorph
