Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

fix(iOS): ensure compatibility with Xcode 15. (#4152)
  detox/test/ios/Podfile
Owners: @asafkorem

fix(iOS): ensure compatibility with Xcode 15. (#4152)
  detox/test/ios/Podfile
Owners: @asafkorem

Publish 20.11.2 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Freestyle upgrade to .72.3
  .buildkite/jobs/pipeline.android_demo_app_rn_72.yml
  .buildkite/jobs/pipeline.android_rn_72.yml
  .buildkite/jobs/pipeline.ios_demo_app_rn_72.yml
  .buildkite/jobs/pipeline.ios_rn_72.yml
  .buildkite/pipeline_common.sh
Owners: @d4vidi, @noomorph

Blind upgrade to rn 72 based on upgrade-helper
  detox/android/build.gradle
  detox/android/gradle/wrapper/gradle-wrapper.properties
  detox/android/rninfo.gradle
  detox/android/settings.gradle
  detox/test/.eslintrc.js
  detox/test/android/build.gradle
  detox/test/android/gradle/wrapper/gradle-wrapper.properties
  detox/test/android/settings.gradle
  detox/test/ios/Podfile
  detox/test/ios/example.xcodeproj/project.pbxproj
  detox/test/metro.config.js
  detox/test/package.json
Owners: @d4vidi, @jonathanmos, @noomorph, @asafkorem

Blind upgrade example project
  examples/demo-react-native/.nvmrc
  examples/demo-react-native/android/build.gradle
  examples/demo-react-native/android/gradle/wrapper/gradle-wrapper.properties
  examples/demo-react-native/android/settings.gradle
  examples/demo-react-native/ios/Podfile
  examples/demo-react-native/metro.config.js
  examples/demo-react-native/package.json
Owners: @d4vidi, @jonathanmos, @noomorph

add some remote capabilities for app binaries
  detox/package.json
  detox/src/configuration/composeAppsConfig.js
  detox/src/configuration/composeAppsConfig.test.js
  detox/src/configuration/index.js
  detox/src/devices/runtime/RuntimeDevice.js
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
  detox/src/utils/resolveAsFile.js
Owners: @d4vidi, @noomorph

fix server issues
  detox/local-cli/run-server.js
  detox/src/configuration/composeSessionConfig.js
  detox/src/server/DetoxServer.js
  detox/src/utils/isValidHTTPUrl.js
  detox/src/utils/isValidHTTPUrl.test.js
  detox/src/utils/isValidWebsocketURL.js
  detox/src/utils/isValidWebsocketURL.test.js
  detox/src/webdriver/WebDriver.js
Owners: @d4vidi, @noomorph

try to run in cloud
  detox/src/configuration/composeAppsConfig.js
  detox/test/e2e/detox.config.js
Owners: @d4vidi, @noomorph

ci: disable one job
  .buildkite/jobs/pipeline.ios_rn_70.yml
  scripts/ci.ios.sh
Owners: @d4vidi, @noomorph

ci: optimize and fix
  .buildkite/jobs/pipeline.ios_rn_71.yml
  detox/test/e2e/detox.config.js
Owners: @d4vidi, @noomorph

ci: check ping
  .buildkite/jobs/pipeline.ios_rn_71.yml
Owners: @d4vidi

w.i.p.
  detox/ios/DetoxTester/DetoxTester/Matchers/XCUIElementQuery/XCUIElementQuery+webMatching.swift
  detox/ios/DetoxTester/DetoxTester/Unit Tests/Actions/WebViewTests.swift
  detox/ios/DetoxTester/DetoxTesterApp/Actions Screens/Web/WebViewController.swift
  detox/src/ios/expectTwo.js
  detox/src/ios/web.js
  detox/test/e2e/29.webview.ios.test.js
Owners: @asafkorem, @d4vidi, @noomorph

make tests pass
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/InvokeHandler.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/WebElementPattern.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/WebPredicate.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+handleInvoke.swift
  detox/ios/DetoxTester/DetoxTester/Web/WebExpectationDelegate.swift
  detox/src/ios/web.js
  detox/test/e2e/29.webview.ios.test.js
Owners: @asafkorem, @d4vidi, @noomorph

reindent
  detox/ios/Detox/DetoxManager.swift
Owners: @asafkorem

white-box evaluate JS
  detox/ios/Detox/DetoxManager.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor+Message.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor.swift
Owners: @asafkorem

Upgrade to node 16
  .nvmrc
Owners: @d4vidi

WIP
  detox/ios/Detox/DetoxManager.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/InvokeHandler+Error.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/WebPredicate.swift
  detox/ios/DetoxTester/DetoxTester/Matchers/ElementMatcher.swift
  detox/ios/DetoxTester/DetoxTester/Matchers/XCUIElementQuery/XCUIElementQuery+matching.swift
  detox/ios/DetoxTester/DetoxTester/Matchers/XCUIElementQuery/XCUIElementQuery+webMatching.swift
Owners: @asafkorem

WIP
  detox/ios/Detox/DetoxManager.swift
  detox/ios/DetoxTester/DetoxTester/Matchers/XCUIElementQuery/XCUIElementQuery+webMatching.swift
  detox/ios/DetoxTester/DetoxTesterApp/Actions Screens/Web/WebViewController.swift
Owners: @asafkorem

wip
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler.xcodeproj/project.pbxproj
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/InvokeHandler+Error.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/InvokeHandler.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/WebExpectationDelegateProtocol.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/WebPredicateType.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/WebViewElementTuple.swift
  detox/ios/DetoxTester/DetoxTester/Matchers/XCUIElementQuery/XCUIElementQuery+webMatching.swift
  detox/ios/DetoxTester/DetoxTester/Web/WebActionDelegate.swift
  detox/ios/DetoxTester/DetoxTester/Web/WebExpectationDelegate.swift
  detox/src/ios/web.js
  detox/test/e2e/29.webview.ios.test.js
  detox/test/e2e/29.webview.test.js
  detox/test/e2e/utils/custom-it.js
Owners: @asafkorem, @d4vidi, @noomorph

wip
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/InvokeHandler.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/WebExpectationDelegateProtocol.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/InvokeHandlerWebExpectationSpec.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/MessageBuilder+expect.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/MessageBuilder+webPredicate.swift
  detox/ios/DetoxTester/DetoxTester/Web/WebExpectationDelegate.swift
Owners: @asafkorem

wip
  detox/ios/DetoxTester/DetoxTester/Expectations/XCUIElement/XCUIElement+assertions.swift
  detox/ios/DetoxTester/DetoxTester/Matchers/XCUIElementQuery/XCUIElementQuery+webMatching.swift
  detox/ios/DetoxTester/DetoxTester/Web/WebActionDelegate+Error.swift
  detox/ios/DetoxTester/DetoxTester/Web/WebActionDelegate.swift
  detox/ios/DetoxTester/DetoxTester/Web/WebExpectationDelegate.swift
  detox/ios/DetoxTester/DetoxTester/Web/XCUIElement/XCUIElement+scrollToView.swift
  detox/ios/DetoxTester/DetoxTesterApp.xcodeproj/project.pbxproj
  detox/test/e2e/29.webview.test.js
Owners: @asafkorem, @d4vidi, @noomorph

Publish 20.11.3-smoke.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

update tbzignore
  detox/ios/.tbzignore
Owners: @asafkorem

Revert "update tbzignore"
  detox/ios/.tbzignore
Owners: @asafkorem

detox sync tbzignore
  detox/ios/.tbzignore
Owners: @asafkorem

Publish 21.0.0-rc.4 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

more fixes
  detox/ios/DetoxTester/DetoxTester/Matchers/XCUIElementQuery/XCUIElementQuery+webMatching.swift
  detox/test/e2e/29.webview.test.js
  detox/test/e2e/detox.config.js
  docs/api/webviews.md
Owners: @asafkorem, @d4vidi, @noomorph

Publish 21.0.0-rc.5 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Revert "Publish 20.11.3-smoke.0 [ci skip]"
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Publish 20.11.3 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

wip: start moving things
  detox/src/DetoxWorker.js
  detox/src/artifacts/ArtifactsManager.js
  detox/src/artifacts/ArtifactsManager.test.js
  detox/src/artifacts/log/ios/SimulatorLogPlugin.test.js
  detox/src/artifacts/screenshot/SimulatorScreenshotPlugin.js
  detox/src/artifacts/templates/plugin/ArtifactPlugin.js
  detox/src/artifacts/templates/plugin/ArtifactPlugin.test.js
  detox/src/devices/allocation/drivers/android/attached/AttachedAndroidAllocDriver.js
  detox/src/devices/allocation/drivers/android/attached/AttachedAndroidAllocDriver.test.js
  detox/src/devices/allocation/drivers/android/attached/AttachedAndroidLauncher.js
  detox/src/devices/allocation/drivers/android/attached/AttachedAndroidLauncher.test.js
  detox/src/devices/allocation/drivers/android/emulator/EmulatorLauncher.js
  detox/src/devices/allocation/drivers/android/emulator/EmulatorLauncher.test.js
  detox/src/devices/allocation/drivers/android/genycloud/GenyAllocDriver.js
  detox/src/devices/allocation/drivers/android/genycloud/GenyInstanceLauncher.js
  detox/src/devices/allocation/drivers/android/genycloud/GenyInstanceLauncher.test.js
  detox/src/devices/allocation/drivers/ios/SimulatorAllocDriver.js
  detox/src/devices/allocation/drivers/ios/SimulatorLauncher.js
  detox/src/devices/allocation/drivers/ios/SimulatorLauncher.test.js
  detox/src/devices/allocation/factories/android.js
  detox/src/devices/allocation/factories/ios.js
  detox/src/devices/common/drivers/DeviceLauncher.js
  detox/src/devices/lifecycle/GenyGlobalLifecycleHandler.js
  detox/src/devices/lifecycle/GenyGlobalLifecycleHandler.test.js
  detox/src/devices/lifecycle/factories/GenyGlobalLifecycleHandlerFactory.js
  detox/src/realms/DetoxPrimaryContext.js
  detox/src/realms/symbols.js
Owners: @d4vidi, @noomorph

wip: something returns
  detox/src/DetoxWorker.js
  detox/src/artifacts/ArtifactsManager.js
  detox/src/artifacts/ArtifactsManager.test.js
  detox/src/artifacts/log/ios/SimulatorLogPlugin.test.js
  detox/src/artifacts/templates/plugin/ArtifactPlugin.js
  detox/src/artifacts/templates/plugin/ArtifactPlugin.test.js
  detox/test/integration/stub/StubDeviceAllocationDriver.js
  examples/demo-plugin/driver.js
Owners: @d4vidi, @noomorph

wip: move parts
  detox/src/devices/allocation/drivers/AllocationDriverBase.js
  detox/src/devices/allocation/factories/android.js
  detox/src/devices/allocation/factories/base.js
  detox/src/devices/allocation/factories/ios.js
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
  detox/src/ipc/IPCClient.js
  detox/src/ipc/IPCServer.js
  detox/src/realms/DetoxContext.js
  detox/src/realms/DetoxPrimaryContext.js
  detox/src/realms/DetoxSecondaryContext.js
  detox/test/integration/stub/StubDeviceAllocationDriver.js
Owners: @d4vidi, @noomorph

wip: moving genymotion layer
  detox/src/DetoxWorker.js
  detox/src/devices/allocation/drivers/AllocationDriverBase.js
  detox/src/devices/allocation/drivers/android/genycloud/GenyAllocDriver.js
  detox/src/devices/allocation/drivers/android/genycloud/GenyAuthService.js
  detox/src/devices/allocation/drivers/android/genycloud/GenyAuthService.test.js
  detox/src/devices/allocation/drivers/android/genycloud/GenyCloudExec.js
  detox/src/devices/allocation/drivers/android/genycloud/GenyCloudExec.test.js
  detox/src/devices/allocation/drivers/android/genycloud/GenyDeviceRegistryFactory.js
  detox/src/devices/allocation/drivers/android/genycloud/GenyDeviceRegistryFactory.test.js
  detox/src/devices/allocation/drivers/android/genycloud/GenyInstance.js
  detox/src/devices/allocation/drivers/android/genycloud/GenyInstance.test.js
  detox/src/devices/allocation/drivers/android/genycloud/GenyInstanceLauncher.js
  detox/src/devices/allocation/drivers/android/genycloud/GenyInstanceLauncher.test.js
  detox/src/devices/allocation/drivers/android/genycloud/GenyInstanceLifecycleService.js
  detox/src/devices/allocation/drivers/android/genycloud/GenyInstanceLifecycleService.test.js
  detox/src/devices/allocation/drivers/android/genycloud/GenyRecipe.js
  detox/src/devices/allocation/drivers/android/genycloud/GenyRecipe.test.js
  detox/src/devices/allocation/drivers/android/genycloud/GenyRecipesService.js
  detox/src/devices/allocation/drivers/android/genycloud/GenyRecipesService.test.js
  detox/src/devices/allocation/drivers/ios/SimulatorAllocDriver.js
  detox/src/devices/allocation/drivers/ios/SimulatorLauncher.js
  detox/src/devices/allocation/factories/android.js
  detox/src/devices/common/drivers/android/genycloud/services/GenyInstanceLookupService.js
  detox/src/devices/common/drivers/android/genycloud/services/GenyInstanceLookupService.test.js
  detox/src/devices/common/drivers/android/genycloud/services/GenyInstanceNaming.js
  detox/src/devices/common/drivers/android/genycloud/services/GenyInstanceNaming.test.js
  detox/src/ipc/IPCClient.js
  detox/src/ipc/IPCServer.js
  detox/src/realms/DetoxPrimaryContext.js
  detox/src/servicelocator/android/genycloudServiceLocator.js
  detox/src/validation/factories/index.js
  detox/tsconfig.json
Owners: @d4vidi, @noomorph

wait until web-view is loaded
  detox/ios/Detox/DetoxManager.swift
Owners: @asafkorem

is-content-editable-is-optional
  detox/index.d.ts
Owners: @d4vidi, @noomorph

test(refactor): extract early-crash code.
  detox/test/earlyCrash.js
  detox/test/index.android.js
Owners: @d4vidi, @noomorph

test(fix): use new early-crash method.
  detox/test/index.ios.js
Owners: @d4vidi, @noomorph

test: fix unit tests
  detox/src/DetoxWorker.test.js
  detox/src/devices/allocation/drivers/AllocationDriverBase.js
  detox/src/devices/allocation/drivers/android/genycloud/GenyAllocDriver.js
  detox/src/devices/allocation/drivers/android/genycloud/GenyAllocDriver.test.js
  detox/src/devices/allocation/drivers/android/genycloud/GenyInstanceAllocationHelper.test.js
  detox/src/devices/allocation/drivers/android/genycloud/GenyInstanceLauncher.test.js
  detox/src/devices/allocation/drivers/android/genycloud/GenyRecipeQuerying.test.js
  detox/src/devices/allocation/drivers/android/genycloud/exec/GenyCloudExec.js
  detox/src/devices/allocation/drivers/android/genycloud/exec/GenyCloudExec.test.js
  detox/src/devices/allocation/drivers/android/genycloud/services/GenyAuthService.js
  detox/src/devices/allocation/drivers/android/genycloud/services/GenyAuthService.test.js
  detox/src/devices/allocation/drivers/android/genycloud/services/GenyInstanceLifecycleService.js
  detox/src/devices/allocation/drivers/android/genycloud/services/GenyInstanceLifecycleService.test.js
  detox/src/devices/allocation/drivers/android/genycloud/services/GenyInstanceLookupService.js
  detox/src/devices/allocation/drivers/android/genycloud/services/GenyInstanceLookupService.test.js
  detox/src/devices/allocation/drivers/android/genycloud/services/GenyInstanceNaming.js
  detox/src/devices/allocation/drivers/android/genycloud/services/GenyInstanceNaming.test.js
  detox/src/devices/allocation/drivers/android/genycloud/services/GenyRecipesService.js
  detox/src/devices/allocation/drivers/android/genycloud/services/GenyRecipesService.test.js
  detox/src/devices/allocation/drivers/android/genycloud/services/dto/GenyInstance.js
  detox/src/devices/allocation/drivers/android/genycloud/services/dto/GenyInstance.test.js
  detox/src/devices/allocation/drivers/android/genycloud/services/dto/GenyRecipe.js
  detox/src/devices/allocation/drivers/android/genycloud/services/dto/GenyRecipe.test.js
  detox/src/devices/allocation/drivers/ios/SimulatorAllocDriver.js
  detox/src/devices/allocation/drivers/ios/SimulatorAllocDriver.test.js
  detox/src/devices/allocation/factories/android.js
  detox/src/devices/common/drivers/android/genycloud/exec/GenyCloudExec.test.js
  detox/src/environmentFactory.js
  detox/src/realms/DetoxPrimaryContext.js
  detox/src/realms/DetoxPrimaryContext.test.js
  detox/src/servicelocator/android/genycloudServiceLocator.js
  detox/src/validation/android/GenycloudEnvValidator.test.js
  detox/src/validation/factories/index.js
Owners: @d4vidi, @noomorph

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem
