Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem

test(mock-server): improve mocked web-page.
  detox/test/mock-server/mock-server.js
Owners: @d4vidi, @noomorph

Added tests for Alert api
  detox/test/e2e/37.dialogs.test.js
  detox/test/src/Screens/AlertScreen.tsx
  detox/test/src/Screens/index.js
  detox/test/src/app.js
Owners: @d4vidi, @noomorph

test(e2e): fix web-view snapshot tests.
  detox/test/e2e/29.webview.test.js
Owners: @d4vidi, @noomorph

fix(ios): improve typing methods for system interactions.
  detox/ios/DetoxXCUITestRunner/DetoxXCUITestRunner/Utils/XCUIElement+Extensions.swift
Owners: @asafkorem

test(e2e): improve secured webview tests.
  detox/test/e2e/29.webview.test.js
  detox/test/e2e/assets/clear-text-in-cross-origin-frame.ios.png
  detox/test/e2e/assets/replace-text-in-cross-origin-frame.ios.png
  detox/test/e2e/assets/select-all-text-in-content-editable-webview.ios.png
  detox/test/e2e/assets/select-all-text-in-webview.ios.png
  detox/test/e2e/assets/tap-on-cross-origin-frame-element.ios.png
  detox/test/e2e/assets/type-text-in-cross-origin-frame.ios.png
  detox/test/mock-server/mock-server.js
Owners: @d4vidi, @noomorph

test(e2e): fix label tests for secured web-view.
  detox/test/e2e/29.webview.test.js
  detox/test/mock-server/mock-server.js
Owners: @d4vidi, @noomorph

test(e2e): wait for a second until secured web-view is loaded.
  detox/test/e2e/29.webview.test.js
Owners: @d4vidi, @noomorph

Publish 20.23.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Publish docs version 20.x
  website/versioned_docs/version-20.x/api/webviews.md
  website/versioned_docs/version-20.x/troubleshooting/running-tests.md
Owners: @d4vidi

Fixed issues with toBeVisible()
  detox/android/detox/src/full/java/com/wix/detox/espresso/DetoxMatcher.java
  detox/android/detox/src/full/java/com/wix/detox/espresso/matcher/IsDisplayingAtLeastDetox.kt
  detox/android/detox/src/full/java/com/wix/detox/espresso/matcher/ViewMatchers.kt
  detox/test/e2e/34.visibility.test.js
  detox/test/src/Screens/ScrollActionsScreen.js
Owners: @d4vidi, @jonathanmos, @noomorph

Fixed iOS tests
  detox/test/e2e/34.visibility.test.js
  detox/test/src/Screens/ScrollActionsScreen.js
Owners: @d4vidi, @noomorph

Removed deprecated test
  detox/test/e2e/03.actions-scroll.test.js
Owners: @d4vidi, @noomorph

Fixed tests on Android
  detox/test/e2e/03.actions-scroll.test.js
  detox/test/e2e/05.waitfor.test.js
Owners: @d4vidi, @noomorph

Fixed tests on Android
  detox/test/e2e/03.actions-scroll.test.js
  detox/test/e2e/05.waitfor.test.js
Owners: @d4vidi, @noomorph

feat(iOS): add getUIHierarchy device action.
  detox/detox.d.ts
  detox/ios/Detox/DetoxManager.swift
  detox/src/client/Client.js
  detox/src/client/actions/actions.js
  detox/src/devices/runtime/RuntimeDevice.js
  detox/src/devices/runtime/drivers/DeviceDriverBase.js
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
Owners: @d4vidi, @noomorph, @asafkorem

fix & demo
  detox/src/client/actions/actions.js
  detox/test/e2e/01.sanity.test.js
Owners: @d4vidi, @noomorph

fix and demo
  detox/src/client/actions/actions.js
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
  detox/test/e2e/01.sanity.test.js
Owners: @d4vidi, @noomorph

Publish 20.23.1-smoke.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

fix(iOS 18): add `@retroactive` for protocol conformance
  detox/ios/Detox/Utilities/String+LocalizedError.swift
Owners: @asafkorem

fix(iOS): resolve keyboard error for iOS 18 simulators.
  detox/ios/Detox/Actions/NSObject+DetoxActions.m
  detox/ios/Detox/AppleInternals/DTXAppleInternals.h
Owners: @asafkorem

Publish 20.23.1 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Fixed readability
  detox/android/detox/src/full/java/com/wix/detox/espresso/matcher/IsDisplayingAtLeastDetox.kt
Owners: @d4vidi, @jonathanmos

Fixes after mr
  detox/android/detox/src/full/java/com/wix/detox/espresso/DetoxMatcher.java
  detox/android/detox/src/full/java/com/wix/detox/espresso/matcher/IsDisplayingAtLeastDetoxMatcher.kt
  detox/android/detox/src/full/java/com/wix/detox/espresso/matcher/ViewMatchers.kt
  detox/android/detox/src/testFull/resources/robolectric.properties
Owners: @d4vidi, @jonathanmos

Migrate to Emulator 34 Fixed scrolling bugs Fixed some tests Upgraded the location library
  detox/android/detox/src/main/java/com/wix/detox/espresso/scroll/ScrollHelper.java
  detox/test/e2e/16.location.test.js
  detox/test/e2e/assets/elementScreenshot.android.vert.png
  detox/test/e2e/assets/elementScreenshot.horiz.android.png
  detox/test/e2e/assets/elementScreenshot.vert.android.png
  detox/test/e2e/assets/focus-on-content-editable-webview.android.png
  detox/test/e2e/assets/focus-on-input-webview.android.png
  detox/test/e2e/assets/move-cursor-to-end-content-editable-webview.android.png
  detox/test/e2e/assets/move-cursor-to-end-webview.android.png
  detox/test/e2e/assets/scroll-to-view-webview.android.png
  detox/test/e2e/assets/select-all-text-in-content-editable-webview.android.png
  detox/test/e2e/assets/select-all-text-in-webview.android.png
  detox/test/e2e/detox.config.js
  detox/test/package.json
Owners: @d4vidi, @jonathanmos, @noomorph

fix(iOS): element snapshot gets blurred.
  detox/ios/Detox/Utilities/UIView+DetoxUtils.m
Owners: @asafkorem

Publish 20.23.2-smoke.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

feat(config): multi-app build and start scripts
  detox/detox.d.ts
  detox/internals.d.ts
  detox/local-cli/build.js
  detox/local-cli/build.test.js
  detox/local-cli/start.js
  detox/local-cli/start.test.js
  detox/local-cli/testCommand/TestRunnerCommand.js
  detox/src/configuration/composeCommandsConfig.js
  detox/src/configuration/composeCommandsConfig.test.js
  detox/src/configuration/index.js
  docs/config/apps.mdx
Owners: @d4vidi, @noomorph

feat(config): multi-app build and start scripts (#4508)
  detox/detox.d.ts
  detox/internals.d.ts
  detox/local-cli/build.js
  detox/local-cli/build.test.js
  detox/local-cli/start.js
  detox/local-cli/start.test.js
  detox/local-cli/testCommand/TestRunnerCommand.js
  detox/src/configuration/composeCommandsConfig.js
  detox/src/configuration/composeCommandsConfig.test.js
  detox/src/configuration/index.js
  docs/config/apps.mdx
Owners: @d4vidi, @noomorph

chore(website): update stats
  website/src/components/Homepage/SubHeader/HomepageSubHeader.js
Owners: @d4vidi, @noomorph

Publish 20.24.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Publish docs version 20.x
  website/versioned_docs/version-20.x/config/apps.mdx
Owners: @d4vidi

Daemon: Add preliminary ADB server-start in Genycloud
  detox/src/devices/allocation/drivers/android/genycloud/GenyAllocDriver.js
  detox/src/devices/common/drivers/android/exec/ADB.js
  detox/src/devices/common/drivers/android/exec/ADB.test.js
Owners: @d4vidi, @noomorph

Kill ADB daemon upon global cleanup, to release child process
  detox/src/devices/allocation/drivers/android/genycloud/GenyAllocDriver.js
  detox/src/devices/common/drivers/android/exec/ADB.js
  detox/src/devices/common/drivers/android/exec/ADB.test.js
Owners: @d4vidi, @noomorph

Dont kill adb daemon; Perform start-server from allocate(), not init()
  detox/src/devices/allocation/drivers/android/genycloud/GenyAllocDriver.js
  detox/src/devices/common/drivers/android/exec/ADB.js
  detox/src/devices/common/drivers/android/exec/ADB.test.js
Owners: @d4vidi, @noomorph

Internal method rename
  detox/src/devices/allocation/drivers/android/genycloud/GenyAllocDriver.js
Owners: @d4vidi, @noomorph

Revert "Internal method rename"
  detox/src/devices/allocation/drivers/android/genycloud/GenyAllocDriver.js
Owners: @d4vidi, @noomorph

Revert "Dont kill adb daemon; Perform start-server from allocate(), not init()"
  detox/src/devices/allocation/drivers/android/genycloud/GenyAllocDriver.js
  detox/src/devices/common/drivers/android/exec/ADB.js
  detox/src/devices/common/drivers/android/exec/ADB.test.js
Owners: @d4vidi, @noomorph

Revert to the initial implementation
  detox/src/devices/allocation/drivers/android/genycloud/GenyAllocDriver.js
Owners: @d4vidi, @noomorph

Fix allocation layer issues
  detox/src/devices/allocation/DeviceAllocator.js
  detox/src/devices/allocation/drivers/android/genycloud/GenyAllocDriver.js
  detox/src/realms/DetoxPrimaryContext.js
Owners: @d4vidi, @noomorph

Improve code readbility
  detox/src/realms/DetoxPrimaryContext.js
Owners: @d4vidi, @noomorph
