Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem

removed redundancy
  detox/ios/Detox/Utilities/SwiftSupport/DetoxSwiftBridge.m
Owners: @asafkorem

Swift version of AppDelegate for running the app on Swift base
  detox/test/ios/AppDelegate.swift
  detox/test/ios/example.xcodeproj/project.pbxproj
Owners: @asafkorem

Rebase
  detox/test/ios/example/Info.plist
  examples/demo-react-native/ios/example/Info.plist
Owners: @asafkorem

Removed old codegen plugin
  detox/test/package.json
Owners: @d4vidi

Upgraded async storage
  detox/test/package.json
Owners: @d4vidi

Workaround asyncstorage build issue
  scripts/ci.android.sh
Owners: @d4vidi, @noomorph

Fixed animations module
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/animations/AnimatedModuleIdlingResource.kt
Owners: @d4vidi, @jonathanmos

Fixed broken tests
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/animations/AnimatedModuleIdlingResource.kt
  detox/src/configuration/loadExternalConfig.test.js
Owners: @d4vidi, @jonathanmos, @noomorph

Fixed AnimatedModuleIdlingResource.kt reflection to work with kotlin
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/animations/AnimatedModuleIdlingResource.kt
Owners: @d4vidi, @jonathanmos

Publish 20.43.0-alpha.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  generation/package.json
  lerna.json
  package.json
Owners: @d4vidi

test: update unit test
  detox/src/configuration/loadExternalConfig.test.js
Owners: @d4vidi, @noomorph

fix(ios): element.takeScreenshot() invalid filename
  detox/ios/Detox/Actions/NSObject+DetoxActions.m
Owners: @asafkorem

fix(ios): long names in element.takeScreenshot (#4843)
  detox/ios/Detox/Actions/NSObject+DetoxActions.m
Owners: @asafkorem

feat: default app permissions
  detox/detox.d.ts
  detox/src/configuration/composeAppsConfig.js
  detox/src/configuration/composeAppsConfig.test.js
  detox/src/devices/common/drivers/android/exec/ADB.js
  detox/src/devices/common/drivers/android/exec/ADB.test.js
  detox/src/devices/runtime/RuntimeDevice.js
  detox/src/devices/runtime/RuntimeDevice.test.js
  detox/src/devices/runtime/drivers/android/AndroidDriver.js
  detox/src/devices/runtime/drivers/android/AndroidDriver.test.js
  detox/test/e2e/detox.config-android.js
  detox/test/e2e/detox.config.js
  docs/api/device.md
  docs/img/ios-permissions.png
Owners: @d4vidi, @noomorph

Removed rn 73 configuration
  .buildkite/jobs/pipeline.android_rn_73.yml
  .buildkite/jobs/pipeline.ios_rn_73.yml
  .buildkite/pipeline_common.sh
Owners: @d4vidi, @noomorph

Fixed pull down to refresh
  detox/test/src/Screens/ActionsScreen.js
Owners: @d4vidi, @noomorph

Removed old build kite configuraitons
  .buildkite/jobs/pipeline.android_demo_app_rn_78.yml
  .buildkite/jobs/pipeline.android_demo_app_rn_79.yml
  .buildkite/jobs/pipeline.android_rn_78.yml
  .buildkite/jobs/pipeline.android_rn_79.yml
  .buildkite/jobs/pipeline.ios_demo_app_rn_78.yml
  .buildkite/jobs/pipeline.ios_demo_app_rn_79.yml
  .buildkite/jobs/pipeline.ios_rn_77_old_arch.yml
  .buildkite/jobs/pipeline.ios_rn_78.yml
  .buildkite/jobs/pipeline.ios_rn_79.yml
  .buildkite/pipeline_common.sh
Owners: @d4vidi, @noomorph

Revert "Publish 20.43.0-alpha.0 [ci skip]"
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  generation/package.json
  lerna.json
  package.json
Owners: @d4vidi

Fixed typos
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/network/NetworkingModuleReflected.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/timers/JavaTimersReflected.kt
Owners: @d4vidi, @jonathanmos

Fixed typos
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/timers/JavaTimersReflected.kt
Owners: @d4vidi, @jonathanmos

Publish 20.43.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Fixed pull down to refresh
  .buildkite/jobs/pipeline.android_demo_app_rn_81.yml
  .buildkite/jobs/pipeline.android_rn_81.yml
  .buildkite/jobs/pipeline.ios_demo_app_rn_81.yml
  .buildkite/jobs/pipeline.ios_rn_81.yml
  .buildkite/pipeline_common.sh
Owners: @d4vidi, @noomorph

adjust
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/timers/JavaTimersReflected.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/uimodule/fabric/FabricUIManagerIdlingResources.kt
  detox/android/rninfo.gradle
Owners: @d4vidi, @jonathanmos

update version
  detox/package.json
  detox/test/package.json
  examples/demo-react-native/package.json
Owners: @d4vidi

update readme
  README.md
Owners: @d4vidi

fix typos
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/uimodule/fabric/FabricUIManagerIdlingResources.kt
Owners: @d4vidi, @jonathanmos

upgrade detox
  detox/android/build.gradle
  detox/android/gradle.properties
  detox/android/gradle/wrapper/gradle-wrapper.properties
  detox/package.json
  detox/tsconfig.json
Owners: @d4vidi, @jonathanmos

add jobs
  .buildkite/pipeline_common.sh
Owners: @d4vidi, @noomorph

upgrade detox/test
  detox/test/android/build.gradle
  detox/test/android/gradle.properties
  detox/test/android/gradle/wrapper/gradle-wrapper.properties
  detox/test/package.json
  detox/test/tsconfig.json
Owners: @d4vidi, @jonathanmos

add newline
  detox/android/gradle.properties
Owners: @d4vidi, @jonathanmos

upgrade examples/demo-react-native
  examples/demo-react-native/android/app/src/main/AndroidManifest.xml
  examples/demo-react-native/android/build.gradle
  examples/demo-react-native/android/gradle.properties
  examples/demo-react-native/android/gradle/wrapper/gradle-wrapper.properties
  examples/demo-react-native/ios/example.xcodeproj/project.pbxproj
  examples/demo-react-native/package.json
  examples/demo-react-native/tsconfig.json
Owners: @d4vidi, @jonathanmos, @asafkorem

remove edgeToEdgeEnabled
  detox/android/gradle.properties
Owners: @d4vidi, @jonathanmos

remove from pipeline
  .buildkite/pipeline_common.sh
Owners: @d4vidi, @noomorph

wip
  .buildkite/pipeline_common.sh
Owners: @d4vidi, @noomorph

wip
  .buildkite/pipeline_common.sh
Owners: @d4vidi, @noomorph

remove buildkite files
  .buildkite/jobs/pipeline.android_demo_app_rn_81.yml
  .buildkite/jobs/pipeline.android_rn_81.yml
  .buildkite/jobs/pipeline.ios_demo_app_rn_81.yml
  .buildkite/jobs/pipeline.ios_rn_81.yml
Owners: @d4vidi

Revert "remove buildkite files"
  .buildkite/jobs/pipeline.android_demo_app_rn_81.yml
  .buildkite/jobs/pipeline.android_rn_81.yml
  .buildkite/jobs/pipeline.ios_demo_app_rn_81.yml
  .buildkite/jobs/pipeline.ios_rn_81.yml
Owners: @d4vidi

Revert "remove from pipeline"
  .buildkite/pipeline_common.sh
Owners: @d4vidi, @noomorph

Upgraded to 81.4
  .buildkite/jobs/pipeline.android_demo_app_rn_81.yml
  .buildkite/jobs/pipeline.android_rn_81.yml
  .buildkite/jobs/pipeline.ios_demo_app_rn_81.yml
  .buildkite/jobs/pipeline.ios_rn_81.yml
Owners: @d4vidi

import com.wix.detox.reactnative.ReactNativeInfo
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/uimodule/fabric/FabricUIManagerIdlingResources.kt
Owners: @d4vidi, @jonathanmos
