Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

feat: element(...).performAccessibilityAction() API (#3877)
  detox/android/detox/src/full/java/com/wix/detox/espresso/DetoxAction.java
  detox/android/detox/src/full/java/com/wix/detox/espresso/action/RNDetoxAccessibilityAction.kt
  detox/index.d.ts
  detox/ios/Detox/Invocation/Action.swift
  detox/ios/Detox/Invocation/Element.swift
  detox/src/android/AndroidExpect.test.js
  detox/src/android/actions/native.js
  detox/src/android/core/NativeElement.js
  detox/src/android/espressoapi/DetoxAction.js
  detox/src/ios/expectTwo.js
  detox/src/ios/expectTwo.test.js
  detox/src/ios/expectTwoApiCoverage.test.js
  detox/src/utils/invocationTraceDescriptions.js
  detox/test/e2e/03.actions.test.js
  detox/test/src/Screens/ActionsScreen.js
  docs/api/actions.md
Owners: @d4vidi, @jonathanmos, @noomorph, @asafkorem

Publish 20.8.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Publish docs version 20.x
  website/versioned_docs/version-20.x/api/actions.md
Owners: @d4vidi

Bump androidx.test junit and rules deps to upgrade androidx.test:core
  detox/android/detox/build.gradle
Owners: @d4vidi, @jonathanmos

Bump junit-vintage-engine to make Detox Android unit-test work
  detox/android/detox/build.gradle
Owners: @d4vidi, @jonathanmos

Introduce 'npm run unit:android'
  detox/package.json
  scripts/ci.android.sh
Owners: @d4vidi, @noomorph

Adjust crash e2e test to (possibly) enhancements of stack-trace parsing by new artifacts
  detox/test/e2e/19.crash-handling.test.js
Owners: @d4vidi, @noomorph

Androidx.test core 1.5.0 (#4046)
  detox/android/detox/build.gradle
  detox/package.json
  detox/test/e2e/19.crash-handling.test.js
  scripts/ci.android.sh
Owners: @d4vidi, @jonathanmos, @noomorph

Publish 20.9.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

feat(iOS): introduce DetoxInvokeHandler as internal infrastructure.
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler.xcodeproj/project.pbxproj
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/AccessibilityTraits.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/Action+name.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/Action.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/ActionDelegateProtocol.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/ActionType.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/AnyCodable.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/AnyDecodable.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/AnyEncodable.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/DetoxInvokeHandler-Bridging-Header.h
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/ElementMatcherProtocol.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/ElementPattern.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/Expectation.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/ExpectationDelegateProtocol.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/ExpectationType.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/InvokeHandler+Error.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/InvokeHandler.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/Message.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/MessagePredicate.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/MessagePredicateModifiers.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/MessagePredicateProtocol.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/MessagePredicateType.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/ScreenshotProvidingProtocol.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/TargetElement.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/WhileMessage.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/FakeActionDelegate.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/FakeElementMatcher.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/FakeExpectationDelegate.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/InvokeHandlerSpec.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/MessageBuilder.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/MessageSpec.swift
  detox/ios/DetoxInvokeHandler/README.md
Owners: @asafkorem, @d4vidi

test(iOS): apply auto xcodeproj changes.
  detox/test/ios/example.xcodeproj/project.pbxproj
Owners: @asafkorem

test(e2e): enable launch argument detox tests on iOS.
  detox/test/e2e/22.launch-args.test.js
  detox/test/e2e/detox.config.js
  detox/test/ios/example/NativeModule.m
  detox/test/src/app.js
Owners: @d4vidi, @noomorph, @asafkorem

test(iOS): fix Detox "annoying window" accessibility attributes.
  detox/test/ios/example/AppDelegate.m
Owners: @asafkorem

fix(iOS): optimize typing speed of XCUITest.
  detox/ios/DetoxTester/DetoxTester/Actions/Utils/XCPointerEventPath+Swizzling.m
  detox/ios/DetoxTester/DetoxTester/Actions/XCUIElement/XCUIElement+Keyboard.swift
  detox/ios/DetoxTester/DetoxTesterApp.xcodeproj/project.pbxproj
Owners: @asafkorem

chore(iOS): refactor ExpectationDelegate (DetoxTester).
  detox/ios/DetoxTester/DetoxTester/Actions/XCUIElement/XCUIElement+Keyboard.swift
  detox/ios/DetoxTester/DetoxTester/Actions/XCUIElement/XCUIElement+shortPress.swift
  detox/ios/DetoxTester/DetoxTester/Actions/XCUIElement/XCUIScreenshotProviding+takeScreenshot.swift
  detox/ios/DetoxTester/DetoxTester/Expectations/ExpectationDelegate.swift
  detox/ios/DetoxTester/DetoxTester/Expectations/XCUIElement/XCUIElement+assertions.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor.swift
  detox/ios/DetoxTester/DetoxTester/Utils/Extensions/XCUIApplication+Common.swift
  detox/ios/DetoxTester/DetoxTester/Utils/Extensions/XCUIElement+cleanIdentifier.swift
  detox/ios/DetoxTester/DetoxTesterApp.xcodeproj/project.pbxproj
Owners: @asafkorem

doc(iOS): add code comments.
  detox/ios/DetoxTester/DetoxTester/Actions/Utils/ActionDelegate+createDebugArtifacts.swift
  detox/ios/DetoxTester/DetoxTester/Actions/XCUIElement/XCUIElement+Keyboard.swift
  detox/ios/DetoxTester/DetoxTester/Actions/XCUIElement/XCUIScreenshotProviding+takeScreenshot.swift
  detox/ios/DetoxTester/DetoxTester/Expectations/ExpectationDelegate+Error.swift
  detox/ios/DetoxTester/DetoxTester/Expectations/ExpectationDelegate.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/DetoxServerMessageSenderProtocol.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor+Response.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Utils/Web Socket Client/ServerMessageType+isBackgroundTask.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Utils/Web Socket Client/ServerMessageType.swift
  detox/ios/DetoxTester/DetoxTester/Utils/Extensions/XCUIApplication+Common.swift
Owners: @asafkorem

build(iOS): change XCUITest runner xcodebuild retry status logs.
  detox/src/devices/runtime/drivers/ios/XCUITestUtils.js
Owners: @d4vidi, @noomorph

WIP: Revert this commit.
  detox/ios/DetoxTester/DetoxTester/Actions/XCUIElement/XCUIElement+tap.swift
Owners: @asafkorem

Revert "WIP: Revert this commit."
  detox/ios/DetoxTester/DetoxTester/Actions/XCUIElement/XCUIElement+tap.swift
Owners: @asafkorem

fix(iOS): spawn XCUITest with launchd (launchctl).
  detox/src/devices/runtime/drivers/ios/XCUITestUtils.js
  detox/src/devices/runtime/drivers/ios/launchd.js
  detox/src/devices/runtime/drivers/ios/run_and_close_terminal.scpt
Owners: @d4vidi, @noomorph

Make linter happy, fix imports order.
  detox/src/devices/runtime/drivers/ios/launchd.js
Owners: @d4vidi, @noomorph

fix(iOS): exec XCUITest from headless environment.
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
  detox/src/devices/runtime/drivers/ios/XCUITestUtils.js
Owners: @d4vidi, @noomorph

build(iOS): add scripts for XCUITest runner build.
  .gitignore
  detox/local-cli/build-framework-cache.js
  detox/local-cli/build-xcuitest-cache.js
  detox/local-cli/clean-framework-cache.js
  detox/local-cli/clean-xcuitest-cache.js
  detox/local-cli/rebuild-framework-cache.js
  detox/local-cli/rebuild-xcuitest-cache.js
  detox/scripts/build_framework.ios.sh
  detox/scripts/build_local_framework.ios.sh
  detox/scripts/build_local_xcuitest.ios.sh
  detox/scripts/build_universal_framework.sh
  detox/scripts/build_universal_framework_legacy.sh
  detox/scripts/build_universal_framework_modern.sh
  detox/scripts/build_xcuitest.ios.sh
  detox/scripts/pack_ios.sh
  detox/scripts/postinstall.js
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
  detox/src/devices/runtime/drivers/ios/XCUITestUtils.js
  detox/src/devices/runtime/drivers/ios/launchd.js
  detox/src/utils/environment.js
  detox/src/validation/ios/IosSimulatorEnvValidator.js
  detox/src/validation/ios/IosSimulatorEnvValidator.test.js
  website/sidebars.js
Owners: @d4vidi, @noomorph

minor changes.
  detox/ios/DetoxTester/DetoxTester/Tester/DetoxTester.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Utils/Web Socket Client/WebSocketClient.swift
  detox/ios/DetoxTester/DetoxTesterApp.xcodeproj/xcshareddata/xcschemes/DetoxTester.xcscheme
Owners: @asafkorem

Execute xcodebuild with AppleScript
  detox/ios/DetoxTester/DetoxTester/Utils/Extensions/XCUIApplication+Common.swift
  detox/src/devices/runtime/drivers/ios/XCUITestUtils.js
  detox/src/devices/runtime/drivers/ios/run_and_close_terminal.scpt
Owners: @asafkorem, @d4vidi, @noomorph

feat(iOS): acclerate XCUITest text-typing.
  detox/ios/DetoxTester/DetoxTester/Actions/Utils/XCPointerEventPath+Optimize.h
  detox/ios/DetoxTester/DetoxTester/Actions/Utils/XCPointerEventPath+Optimize.m
  detox/ios/DetoxTester/DetoxTester/Actions/Utils/XCPointerEventPath+Swizzling.m
  detox/ios/DetoxTester/DetoxTesterApp.xcodeproj/project.pbxproj
Owners: @asafkorem

remove redundant file.
  detox/test/repeat_suite.sh
Owners: @d4vidi, @noomorph

fix(iOS): check if is-headless.
  detox/src/devices/runtime/drivers/ios/XCUITestUtils.js
Owners: @d4vidi, @noomorph

dont kill undefined child process.
  detox/src/devices/runtime/drivers/ios/XCUITestUtils.js
Owners: @d4vidi, @noomorph

Publish 21.0.0-rc.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

bump detox sync
  detox/src/devices/runtime/drivers/ios/XCUITestUtils.js
Owners: @d4vidi, @noomorph

port allocation workaround
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
Owners: @d4vidi, @noomorph

Publish 22.0.0-rc.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Revert "Publish 22.0.0-rc.0 [ci skip]"
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Publish 21.0.1-rc.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

do not run from terminal when already in
  detox/src/devices/runtime/drivers/ios/XCUITestUtils.js
Owners: @d4vidi, @noomorph

run with terminal only when can
  detox/src/devices/runtime/drivers/ios/XCUITestUtils.js
Owners: @d4vidi, @noomorph

Publish 21.0.2-rc.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

build(release): allow bump pre-release version number.
  .buildkite/pipeline.release.yml
Owners: @d4vidi

test(iOS): apply auto xcodeproj changes.
  detox/test/ios/example.xcodeproj/project.pbxproj
Owners: @asafkorem

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem
