Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

test(ios): support shake events from test-app.
  detox/test/ios/AppDelegate Extensions/AppDelegate+Shake.swift
  detox/test/ios/AppDelegate.swift
  detox/test/ios/ReactModules/ShakeEventEmitter.swift
  detox/test/ios/UI/UIViewController+Shake.swift
  detox/test/ios/example.xcodeproj/project.pbxproj
Owners: @asafkorem

fix(ios): temporary remove text fix for predicate.
  detox/ios/Detox/Invocation/Predicate.swift
  detox/ios/Detox/Utilities/NSObject+DontCrash.m
Owners: @asafkorem

temp: migrate test-app `ios` files to `ios-old`.
  detox/test/ios-old/.xcode.env
  detox/test/ios-old/Podfile
  detox/test/ios-old/example.xcodeproj/project.pbxproj
  detox/test/ios-old/example.xcodeproj/xcshareddata/xcschemes/example.xcscheme
  detox/test/ios-old/example.xcodeproj/xcshareddata/xcschemes/example_ci.xcscheme
  detox/test/ios-old/example/AppDelegate.h
  detox/test/ios-old/example/AppDelegate.m
  detox/test/ios-old/example/Base.lproj/LaunchScreen.xib
  detox/test/ios-old/example/CustomKeyboardViewController.h
  detox/test/ios-old/example/CustomKeyboardViewController.m
  detox/test/ios-old/example/Images.xcassets/AppIcon.appiconset/Contents.json
  detox/test/ios-old/example/Info.plist
  detox/test/ios-old/example/NativeModule.h
  detox/test/ios-old/example/NativeModule.m
  detox/test/ios-old/example/PrivacyInfo.xcprivacy
  detox/test/ios-old/example/example.entitlements
  detox/test/ios-old/example/main.m
  detox/test/ios-old/exampleUITests/Info.plist
  detox/test/ios-old/exampleUITests/exampleUITests.m
  detox/test/ios-old/example_ci.entitlements
  detox/test/ios/example.xcworkspace/contents.xcworkspacedata
  detox/test/ios/example.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
Owners: @d4vidi, @asafkorem

fix: make keyboard tests pass on legacy arch.
  detox/test/ios/AppDelegate.swift
  detox/test/ios/ReactModules/NativeModule.h
  detox/test/ios/ReactModules/NativeModule.mm
  detox/test/ios/ReactModules/NativeModule.swift
  detox/test/ios/ReactModules/ReactModulesBridge.m
  detox/test/ios/ReactModules/ShakeEventEmitter.swift
  detox/test/ios/UI/CustomKeyboardDelegate.swift
  detox/test/ios/UI/NativeScreenManager.swift
  detox/test/ios/example-Bridging-Header.h
  detox/test/ios/example-ci-Bridging-Header.h
  detox/test/ios/example.xcodeproj/project.pbxproj
  detox/test/ios/example/AppDelegate.h
  detox/test/ios/example/AppDelegate.mm
  detox/test/ios/example/main.m
Owners: @asafkorem

test(ios): update app's bundle-id and build commands.
  detox/test/e2e/detox.config.js
  detox/test/ios/example.xcodeproj/project.pbxproj
  detox/test/ios/example/Info.plist
Owners: @d4vidi, @noomorph, @asafkorem

test(ios): update `AppDelegate.mm` with deps.
  detox/test/ios/example/AppDelegate.mm
Owners: @asafkorem

test(ios): add example-ci scheme (no Detox linkage).
  detox/test/e2e/detox.config.js
  detox/test/ios/example.xcodeproj/project.pbxproj
Owners: @d4vidi, @noomorph, @asafkorem

test(ios): update binary path to the non-detox-linked app (example-ci).
  detox/test/e2e/detox.config.js
Owners: @d4vidi, @noomorph

test(ios): fix test-app Podfile.
  detox/test/ios/Podfile
Owners: @asafkorem

test: fix test text matcher.
  detox/test/e2e/08.stress-root.test.js
Owners: @d4vidi, @noomorph

test(ios): refactor legacy `NativeModule`.
  detox/test/ios/ReactModules/NativeModule.mm
Owners: @asafkorem

test(ios): update `Info.plist` with missing keys.
  detox/test/ios/example/Info.plist
Owners: @asafkorem

test(app): support stack view for toasts.
  detox/test/ios/AppDelegate Extensions/AppDelegate+OverlayView.swift
  detox/test/ios/UI/OverlayMessageView.swift
Owners: @asafkorem

test(ios): refactor Podfile.
  detox/test/ios/Podfile
Owners: @asafkorem

test(podfile): remove old RN versions check.
  detox/test/ios/Podfile
Owners: @asafkorem

test(ios): copy command line arguments from legacy ios project.
  detox/test/ios/example.xcodeproj/xcshareddata/xcschemes/example.xcscheme
Owners: @asafkorem

test(RN .76): update view-hierarchy snapshot tests.
  detox/test/e2e/assets/view-hierarchy-web-view.76.ios.txt
  detox/test/e2e/assets/view-hierarchy-with-test-id-injection.76.ios.txt
  detox/test/e2e/assets/view-hierarchy-without-test-id-injection.76.ios.txt
Owners: @d4vidi

fix(iOS): fix implicit conversion of Integer in Podfile.
  detox/test/ios/Podfile
Owners: @asafkorem

test: update snapshots.
  detox/test/e2e/assets/view-hierarchy-web-view.73.ios.txt
  detox/test/e2e/assets/view-hierarchy-web-view.75.ios.txt
  detox/test/e2e/assets/view-hierarchy-with-test-id-injection.73.ios.txt
  detox/test/e2e/assets/view-hierarchy-with-test-id-injection.75.ios.txt
  detox/test/e2e/assets/view-hierarchy-without-test-id-injection.73.ios.txt
  detox/test/e2e/assets/view-hierarchy-without-test-id-injection.75.ios.txt
Owners: @d4vidi

test: remove old RN workarounds from podfile.
  examples/demo-react-native/ios/Podfile
  scripts/change_all_react_native_versions.sh
Owners: @d4vidi, @noomorph

chore: clean old snapshot test artifacts.
  detox/test/e2e/assets/view-hierarchy-web-view.71.android.txt
  detox/test/e2e/assets/view-hierarchy-web-view.71.ios.txt
  detox/test/e2e/assets/view-hierarchy-with-test-id-injection.71.android.txt
  detox/test/e2e/assets/view-hierarchy-with-test-id-injection.71.ios.txt
  detox/test/e2e/assets/view-hierarchy-without-test-id-injection.71.android.txt
  detox/test/e2e/assets/view-hierarchy-without-test-id-injection.71.ios.txt
Owners: @d4vidi

revert(test): use old string for native root native module.
  detox/test/e2e/08.stress-root.test.js
  detox/test/ios/ReactModules/NativeModule.swift
Owners: @d4vidi, @noomorph, @asafkorem

ci: add new arch pipeline step for RN 76 + new arch + iOS.
  .buildkite/jobs/pipeline.ios_demo_app_rn_76.yml
  .buildkite/jobs/pipeline.ios_demo_app_rn_76_new_arch.yml
  .buildkite/jobs/pipeline.ios_rn_76_new_arch.yml
  .buildkite/pipeline_common.sh
Owners: @d4vidi, @noomorph

test: update copilot cache.
  detox/test/detox_copilot_cache.json
Owners: @d4vidi

test: print if react native new arch is enabled.
  detox/test/ios/Podfile
Owners: @asafkorem

test: skip picker tests on new arch.
  detox/test/e2e/17.datePicker.test.js
  detox/test/e2e/17.picker.test.js
  detox/test/e2e/copilot/09.copilot.datepicker.test.js
  detox/test/e2e/utils/custom-describes.js
Owners: @d4vidi, @noomorph

test(custom-describe): change to skip methods.
  detox/test/e2e/17.datePicker.test.js
  detox/test/e2e/17.picker.test.js
  detox/test/e2e/copilot/01.copilot.sanity.test.js
  detox/test/e2e/copilot/02.copilot.actions.test.js
  detox/test/e2e/copilot/03.copilot.shape-match.test.js
  detox/test/e2e/copilot/04.webview.test.js
  detox/test/e2e/copilot/05.system.test.js
  detox/test/e2e/copilot/06.waitfor.test.js
  detox/test/e2e/copilot/07.copilot.assertions.test.js
  detox/test/e2e/copilot/08.copilot.location.test.js
  detox/test/e2e/copilot/09.copilot.datepicker.test.js
  detox/test/e2e/copilot/10.copilot.visibility.test.js
  detox/test/e2e/setup.js
  detox/test/e2e/utils/custom-describes.js
Owners: @d4vidi, @noomorph

feat: expose copilot's `extendAPICatalog` to Detox
  detox/detox.d.ts
  detox/package.json
  detox/src/copilot/DetoxCopilot.js
  detox/test/detox_copilot_cache.json
  detox/test/e2e/copilot/11.copilot.extend-api-catalog.test.js
Owners: @d4vidi, @noomorph

test: change skip method to skip only on iOS.
  detox/test/e2e/17.datePicker.test.js
  detox/test/e2e/17.picker.test.js
  detox/test/e2e/copilot/09.copilot.datepicker.test.js
  detox/test/e2e/utils/custom-describes.js
Owners: @d4vidi, @noomorph

ci: remove common & redundant steps from pipelines.
  .buildkite/jobs/pipeline.ios_demo_app_rn_76.yml
  .buildkite/jobs/pipeline.ios_rn_75.yml
  .buildkite/pipeline_common.sh
Owners: @d4vidi, @noomorph

Publish 20.32.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Minor refacotring
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/network/NetworkingModuleReflected.kt
Owners: @d4vidi, @jonathanmos

wip - cache - take category out of array
  detox/test/detox_copilot_cache.json
  detox/test/e2e/copilot/11.copilot.extend-api-catalog.test.js
Owners: @d4vidi, @noomorph

Run rn 73 with old arch only
  .buildkite/jobs/pipeline.android_rn_73.yml
Owners: @d4vidi

docs: website changes due to copilot's new documentation site
  docs/copilot/technical-overview.mdx
  docs/copilot/testing-with-copilot.md
  website/sidebars.js
Owners: @d4vidi, @noomorph

fix: lint change
  docs/copilot/testing-with-copilot.md
Owners: @d4vidi

Fixed React Native Loading Monitoring
  detox/android/detox/src/full/java/com/wix/detox/reactnative/ReactApplicationExt.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/ReactNativeLoadingMonitor.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/factory/DetoxIdlingResourceFactory.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/reloader/ReactNativeReloaderFactory.kt
Owners: @d4vidi, @jonathanmos

Fixed idling resources raise condition
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/DetoxIdlingResource.kt
  detox/android/detox/src/testFull/java/com/wix/detox/reactnative/idlingresources/timers/TimersIdlingResourceTest.kt
Owners: @d4vidi, @jonathanmos

Fixed idling resources unregistering
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/animations/AnimatedModuleIdlingResource.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/network/NetworkIdlingResource.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/timers/FabricTimersIdlingResource.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/timers/TimersIdlingResource.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/uimodule/fabric/FabricUIManagerIdlingResources.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/uimodule/oldarch/UIModuleIdlingResource.kt
Owners: @d4vidi, @jonathanmos

test: Copilot's understanding of the order and placement of elements
  detox/test/detox_copilot_cache.json
  detox/test/e2e/copilot/07.copilot.assertions.test.js
Owners: @d4vidi, @noomorph

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem
