Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem

(Android) Example proj: Various dep upgrades, code clean-ups
  examples/demo-react-native/android/app/build.gradle
  examples/demo-react-native/android/build.gradle
  examples/demo-react-native/android/rninfo.gradle
Owners: @d4vidi, @jonathanmos

build: remove unsupported versions handling from gradle.
  detox/test/android/build.gradle
  detox/test/android/rninfo.gradle
Owners: @d4vidi, @jonathanmos

(Android) Example proj: Enable hermes
  examples/demo-react-native/android/app/build.gradle
  examples/demo-react-native/android/app/proguard-rules.pro
  examples/demo-react-native/android/build.gradle
Owners: @d4vidi, @jonathanmos

(Android) Apply some native-dep upgrades
  detox/test/android/app/build.gradle
  detox/test/android/build.gradle
Owners: @d4vidi, @jonathanmos

Example proj: Undo everything new-RN-arch related
  examples/demo-react-native/android/app/src/main/java/com/example/MainActivity.java
  examples/demo-react-native/android/app/src/main/java/com/example/MainApplication.java
  examples/demo-react-native/android/app/src/main/java/com/example/newarchitecture/MainApplicationReactNativeHost.java
  examples/demo-react-native/android/app/src/main/java/com/example/newarchitecture/components/MainComponentsRegistry.java
  examples/demo-react-native/android/app/src/main/java/com/example/newarchitecture/modules/MainApplicationTurboModuleManagerDelegate.java
  examples/demo-react-native/android/app/src/main/jni/Android.mk
  examples/demo-react-native/android/app/src/main/jni/MainApplicationModuleProvider.cpp
  examples/demo-react-native/android/app/src/main/jni/MainApplicationModuleProvider.h
  examples/demo-react-native/android/app/src/main/jni/MainApplicationTurboModuleManagerDelegate.cpp
  examples/demo-react-native/android/app/src/main/jni/MainApplicationTurboModuleManagerDelegate.h
  examples/demo-react-native/android/app/src/main/jni/MainComponentsRegistry.cpp
  examples/demo-react-native/android/app/src/main/jni/MainComponentsRegistry.h
  examples/demo-react-native/android/app/src/main/jni/OnLoad.cpp
  examples/demo-react-native/android/gradle.properties
  examples/demo-react-native/android/settings.gradle
  examples/demo-react-native/ios/Podfile
  examples/demo-react-native/ios/example.xcodeproj/project.pbxproj
  examples/demo-react-native/ios/example/AppDelegate.m
  examples/demo-react-native/ios/example/AppDelegate.mm
  examples/demo-react-native/ios/example/main.m
  examples/demo-react-native/package.json
Owners: @d4vidi, @jonathanmos, @asafkorem

(iOS) demo app: fix build error.
  examples/demo-react-native/ios/example/AppDelegate.m
  examples/demo-react-native/ios/example/main.m
Owners: @asafkorem

(Android) build: fix demo app build version.
  .buildkite/jobs/pipeline.android_demo_app_rn_68.yml
Owners: @d4vidi

Revert "feat(Android): optimize app installation. (#3195)"
  detox/index.d.ts
  detox/local-cli/test.js
  detox/local-cli/test.test.js
  detox/local-cli/utils/testCommandArgs.js
  detox/src/Detox.js
  detox/src/Detox.test.js
  detox/src/configuration/collectCliConfig.js
  detox/src/configuration/collectCliConfig.test.js
  detox/src/configuration/composeBehaviorConfig.js
  detox/src/configuration/composeBehaviorConfig.test.js
  detox/src/devices/common/drivers/android/exec/ADB.js
  detox/src/devices/common/drivers/android/exec/ADB.test.js
  detox/src/devices/common/drivers/android/tools/ApkHashUtils.js
  detox/src/devices/common/drivers/android/tools/ApkHashUtils.test.js
  detox/src/devices/common/drivers/android/tools/AppInstallHelper.js
  detox/src/devices/common/drivers/android/tools/AppInstallHelper.test.js
  detox/src/devices/common/drivers/android/tools/FileXfer.js
  detox/src/devices/common/drivers/android/tools/FileXfer.test.js
  detox/src/devices/common/drivers/android/tools/TempFileTransfer.js
  detox/src/devices/common/drivers/android/tools/TempFileXfer.js
  detox/src/devices/common/drivers/android/tools/TempFileXfer.test.js
  detox/src/devices/runtime/RuntimeDevice.js
  detox/src/devices/runtime/RuntimeDevice.test.js
  detox/src/devices/runtime/drivers/DeviceDriverBase.js
  detox/src/devices/runtime/drivers/android/AndroidDriver.js
  detox/src/devices/runtime/drivers/android/AndroidDriver.test.js
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.test.js
  detox/src/devices/runtime/factories/android.js
  detox/src/servicelocator/android/index.js
  detox/src/utils/__mocks__/empty_hashtest.txt
  detox/src/utils/generateHash.js
  detox/src/utils/generateHash.test.js
  detox/test/e2e/detox.config.js
  detox/test/integration/stub/StubRuntimeDriver.js
  detox/test/types/detox-global-tests.ts
  docs/APIRef.DetoxCLI.md
Owners: @d4vidi, @noomorph

(Android) Backwards compatibility - RN 64
  detox/test/android/build.gradle
  detox/test/android/gradle/wrapper/gradle-wrapper.properties
  detox/test/scripts/postinstall.js
Owners: @d4vidi, @jonathanmos, @noomorph

feat(config): default app permissions (iOS)
  detox/index.d.ts
  detox/src/configuration/composeAppsConfig.js
  detox/src/configuration/composeAppsConfig.test.js
  detox/src/devices/runtime/RuntimeDevice.js
  detox/src/devices/runtime/RuntimeDevice.test.js
  detox/test/e2e/detox.config.js
  docs/APIRef.Configuration.md
  docs/APIRef.DeviceObjectAPI.md
  docs/img/ios-permissions.png
Owners: @d4vidi, @noomorph

Update APIRef.Configuration.md
  docs/APIRef.Configuration.md
Owners: @d4vidi

(Android) Fix RN 64 compatibility CI issues
  scripts/ci.android.sh
Owners: @d4vidi, @noomorph

(Android) Fix RN 64 compatilibity issues, continued
  detox/test/android/app/build.gradle
Owners: @d4vidi, @jonathanmos

(Android) Fix RN 64 compatibility issue, fingers crossed
  detox/test/android/app/build.gradle
  detox/test/android/app/src/main/java/com/example/MainActivity.java
  detox/test/android/build.gradle
Owners: @d4vidi, @jonathanmos

Publish 19.8.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native-jest/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Publish docs version 19.x
  website/versioned_docs/version-19.x/Guide.Mocking.md
Owners: @d4vidi

Publish 19.8.1 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native-jest/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

WORK IN PROGRESS
  detox/ios/Detox.xcodeproj/project.pbxproj
  detox/ios/Detox/Invocation/Predicate.swift
  detox/ios/Detox/Utilities/String+isMatch.swift
  detox/src/android/espressoapi/DetoxMatcher.js
  detox/src/android/matchers/native.js
  detox/src/ios/expectTwo.js
  detox/src/ios/expectTwo.test.js
  detox/test/e2e/02.matchers.test.js
  docs/APIRef.Matchers.md
Owners: @asafkorem, @d4vidi, @noomorph

DetoxIllegalArgumentException: add constructor with cause.
  detox/android/detox/src/main/java/com/wix/detox/common/DetoxErrors.java
Owners: @d4vidi, @jonathanmos

fix(Android): replace error log with throw.
  detox/android/detox/src/full/java/com/wix/detox/adapters/server/WebSocketClient.java
Owners: @d4vidi, @jonathanmos

add detoxEnableSynchronization on android
  detox/android/detox/src/full/java/com/wix/detox/LaunchArgs.java
  detox/android/detox/src/full/java/com/wix/detox/reactnative/ReactNativeExtension.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/ReactNativeIdlingResources.kt
  detox/test/e2e/12.animations.test.js
Owners: @d4vidi, @jonathanmos, @noomorph

Publish 19.8.2 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native-jest/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Restore support for contrib. with RN 67 (on Android)
  detox/test/scripts/ReactAndroid_rn67_build.gradle
  detox/test/scripts/postinstall.js
Owners: @d4vidi, @jonathanmos, @noomorph

Restore support for contrib. with RN 67 (on Android) (#3502)
  detox/test/scripts/ReactAndroid_rn67_build.gradle
  detox/test/scripts/postinstall.js
Owners: @d4vidi, @jonathanmos, @noomorph

small fixes
  detox/android/detox/src/full/java/com/wix/detox/reactnative/ReactNativeIdlingResources.kt
  detox/test/e2e/12.animations.test.js
Owners: @d4vidi, @jonathanmos, @noomorph

fix(Android): Make RN instance listener work in RN≤68
  detox/android/detox/src/full/java/com/wix/detox/reactnative/ReactNativeLoadingMonitor.kt
Owners: @d4vidi, @jonathanmos

fix(Android): RN instance listener - different tactics
  detox/android/detox/src/full/java/com/facebook/react/ReactInstanceEventListener.java
  detox/android/detox/src/full/java/com/wix/detox/reactnative/ReactNativeLoadingMonitor.kt
Owners: @d4vidi, @jonathanmos

fix(Android): Make RN instance listener work in RN≤68 (#3504)
  detox/android/detox/src/full/java/com/facebook/react/ReactInstanceEventListener.java
  detox/android/detox/src/full/java/com/wix/detox/reactnative/ReactNativeLoadingMonitor.kt
Owners: @d4vidi, @jonathanmos

Publish 19.8.3 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native-jest/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

fix(Android): RN instance listener - dynamic proxies for the rescue
  detox/android/detox/src/full/java/com/facebook/react/ReactInstanceEventListener.java
  detox/android/detox/src/full/java/com/wix/detox/espresso/UiAutomatorHelper.java
  detox/android/detox/src/full/java/com/wix/detox/reactnative/ReactNativeLoadingMonitor.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/UiControllerSpy.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/action/common/utils/UiControllerUtils.kt
Owners: @d4vidi, @jonathanmos

fix(Android): RN instance listener - dynamic proxies for the rescue
  detox/android/detox/src/full/java/com/facebook/react/ReactInstanceEventListener.java
  detox/android/detox/src/full/java/com/wix/detox/espresso/UiAutomatorHelper.java
  detox/android/detox/src/full/java/com/wix/detox/reactnative/ReactNativeLoadingMonitor.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/UiControllerSpy.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/action/common/utils/UiControllerUtils.kt
Owners: @d4vidi, @jonathanmos

fix(Android): RN instance listener - dynamic proxies for the rescue (#3508)
  detox/android/detox/src/full/java/com/facebook/react/ReactInstanceEventListener.java
  detox/android/detox/src/full/java/com/wix/detox/espresso/UiAutomatorHelper.java
  detox/android/detox/src/full/java/com/wix/detox/reactnative/ReactNativeLoadingMonitor.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/UiControllerSpy.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/action/common/utils/UiControllerUtils.kt
Owners: @d4vidi, @jonathanmos

Publish 19.8.4 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native-jest/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

ci: Introduce an additional job for RN 66 compat on Android
  .buildkite/jobs/pipeline.android_demo_app_rn_66.yml
  .buildkite/pipeline_common.sh
  scripts/demo-projects.android.sh
  scripts/demo-projects.sh
Owners: @d4vidi, @noomorph

PR fixes
  detox/android/detox/src/full/java/com/wix/detox/espresso/DetoxViewInteraction.kt
  detox/android/detox/src/full/java/com/wix/detox/espresso/MultipleViewsActionWithResult.kt
  detox/android/detox/src/full/java/com/wix/detox/espresso/action/GetAttributesAction.kt
  detox/src/android/AndroidExpect.test.js
Owners: @d4vidi, @jonathanmos, @noomorph

ci: Introduce an additional job for RN 66 compat on Android (#3513)
  .buildkite/jobs/pipeline.android_demo_app_rn_66.yml
  .buildkite/pipeline_common.sh
  scripts/demo-projects.android.sh
  scripts/demo-projects.sh
Owners: @d4vidi, @noomorph

Make ts conversion to microseconds more explicit
  detox/src/utils/ChromeTracingExporter.js
  detox/src/utils/ChromeTracingExporter.test.js
Owners: @d4vidi, @noomorph

Add context metadata to trace events
  detox/src/artifacts/timeline/TimelineArtifactPlugin.js
  detox/src/artifacts/timeline/TimelineArtifactPlugin.test.js
Owners: @d4vidi, @noomorph

test(integration): update snapshot of timeline artifact.
  detox/test/integration/__snapshots__/timeline-artifact.test.js.snap
Owners: @d4vidi

fix(Android): Fix and improve error messages in aapt resolution
  detox/src/utils/environment.js
  detox/src/utils/environment.test.js
Owners: @d4vidi, @noomorph
