Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem

build: update minimum Node.js version to 14.5.x
  detox/package.json
  detox/test/package.json
Owners: @d4vidi

ci(demo-react-native): add bloatBundle script.
  examples/demo-react-native/package.json
  examples/demo-react-native/scripts/bloatBundle.js
Owners: @d4vidi, @noomorph

ci: rename pipeline jobs.
  .buildkite/jobs/pipeline.android_demo_app_rn_66.yml
  .buildkite/jobs/pipeline.android_demo_app_rn_69.yml
  .buildkite/jobs/pipeline.android_rn_66.yml
  .buildkite/jobs/pipeline.android_rn_69.yml
  .buildkite/jobs/pipeline.ios_demo_app_rn_69.yml
  .buildkite/jobs/pipeline.ios_rn_66.yml
  .buildkite/jobs/pipeline.ios_rn_69.yml
Owners: @d4vidi

ci(pipeline steps): add Demo app iOS + RN.66 job.
  .buildkite/pipeline_common.sh
Owners: @d4vidi, @noomorph

ci(demo-react-native): add tests for bloated JS bundle.
  scripts/demo-projects.android.sh
  scripts/demo-projects.ios.sh
  scripts/demo-rn-bloat-bundle-test.sh
Owners: @d4vidi, @noomorph

ci(demo-react-native): add missing pipeline job (iOS + RN.66).
  .buildkite/jobs/pipeline.ios_demo_app_rn_66.yml
Owners: @d4vidi

fix(demo-rn-bloat-bundle-test): execute npm directly.
  scripts/demo-rn-bloat-bundle-test.sh
Owners: @d4vidi, @noomorph

fix(demo-rn-bloat-bundle-test): accept os-platform as parameter.
  scripts/demo-projects.android.sh
  scripts/demo-projects.ios.sh
  scripts/demo-rn-bloat-bundle-test.sh
Owners: @d4vidi, @noomorph

ci(scripts): remove redundant `JAVA_HOME` argument.
  .buildkite/jobs/pipeline.ios_rn_66.yml
Owners: @d4vidi

bloatBundle: add timeout for bundle bloating.
  examples/demo-react-native/package.json
  examples/demo-react-native/scripts/bloatBundle.js
  examples/demo-react-native/scripts/bloatBundle.mjs
Owners: @d4vidi, @noomorph

ci(scripts): extract `dirname $0` to variable.
  scripts/demo-projects.android.sh
  scripts/demo-projects.ios.sh
Owners: @d4vidi, @noomorph

demo-rn-bloat-bundle-test: add comment with link to the issue.
  scripts/demo-rn-bloat-bundle-test.sh
Owners: @d4vidi, @noomorph

ci(scripts): remove redundant `JAVA_HOME` argument.
  .buildkite/jobs/pipeline.ios_demo_app_rn_66.yml
Owners: @d4vidi

fix(demo-rn-bloat-bundle-test): replace `git restore` with handling a temp file.
  examples/demo-react-native/scripts/bloatBundle.js
  scripts/demo-rn-bloat-bundle-test.sh
Owners: @d4vidi, @noomorph

ci(scripts): remove redundant JAVA_HOME argument.
  .buildkite/jobs/pipeline.ios_rn_69.yml
Owners: @d4vidi

fix(demo-rn-bloat-bundle-test): fix bundle path.
  scripts/demo-rn-bloat-bundle-test.sh
Owners: @d4vidi, @noomorph

ci: bump RN version from .66 to .68 on low-version pipeline jobs.
  .buildkite/jobs/pipeline.android_demo_app_rn_68.yml
  .buildkite/jobs/pipeline.android_rn_68.yml
  .buildkite/jobs/pipeline.ios_demo_app_rn_68.yml
  .buildkite/jobs/pipeline.ios_rn_68.yml
  .buildkite/pipeline.debug.yml
  .buildkite/pipeline_common.sh
  README.md
Owners: @d4vidi, @noomorph

tests: add tests for alert's overlay window.
  detox/test/e2e/35.overlay.test.js
  detox/test/src/Screens/OverlayScreen.js
Owners: @d4vidi, @noomorph

tests(hittability when alert is shown): run or expect fail if iOS < 67.
  detox/test/e2e/35.overlay.test.js
  detox/test/e2e/utils/custom-it.js
Owners: @d4vidi, @noomorph

Revert "Merge pull request #3150 from wix/feature/revert-is-hittable-changes"
  detox/ios/Detox.xcodeproj/project.pbxproj
  detox/ios/Detox/Actions/UIDatePicker+DetoxActions.m
  detox/ios/Detox/Actions/UIPickerView+DetoxActions.m
  detox/ios/Detox/Actions/UIScrollView+DetoxActions.m
  detox/ios/Detox/Invocation/Element.swift
  detox/ios/Detox/Utilities/NSObject+DetoxUtils.h
  detox/ios/Detox/Utilities/NSObject+DetoxUtils.m
  detox/ios/Detox/Utilities/UIResponder+First.h
  detox/ios/Detox/Utilities/UIResponder+First.m
  detox/ios/Detox/Utilities/UIView+DetoxUtils.h
  detox/ios/Detox/Utilities/UIView+DetoxUtils.m
  detox/ios/Detox/Utilities/UIWindow+DetoxUtils.h
  detox/ios/Detox/Utilities/UIWindow+DetoxUtils.m
  detox/test/e2e/03.actions-scroll.test.js
  detox/test/e2e/03.actions.test.js
  detox/test/e2e/33.attributes.test.js
  detox/test/e2e/34.visibility.test.js
  detox/test/e2e/35.overlay.test.js
  detox/test/ios/example/NativeModule.m
  detox/test/src/Screens/OverlayScreen.js
  detox/test/src/Screens/index.js
  detox/test/src/app.js
Owners: @asafkorem, @d4vidi, @noomorph

tests: rename custom-it.
  detox/test/e2e/03.actions-scroll.test.js
  detox/test/e2e/05.waitfor.test.js
  detox/test/e2e/utils/custom-it.js
Owners: @d4vidi, @noomorph

tests(visibility-debug-artifacts): fix expected error when button is overlayed.
  detox/test/e2e/32.visibility-debug-artifacts.test.js
Owners: @d4vidi, @noomorph

test(e2e-unhappy): simplify init timeout test
  detox/test/e2e-unhappy/detox-init-timeout/jest.config.js
  detox/test/e2e-unhappy/detox-init-timeout/testEnvironment.js
  detox/test/e2e-unhappy/detox-init-timeout/timeout.test.js
  detox/test/e2e-unhappy/env-setup-timeout.test.js
  detox/test/e2e/detox.config.js
  detox/test/scripts/ci_unhappy.sh
Owners: @d4vidi, @noomorph

website(showcase): make container left-padding same as the right-padding.
  website/src/components/Showcase/Showcase.module.css
Owners: @d4vidi

tests: rename custom-it.
  detox/test/e2e/03.actions-scroll.test.js
  detox/test/e2e/05.waitfor.test.js
  detox/test/e2e/utils/custom-it.js
Owners: @d4vidi, @noomorph

tests(hittability when alert is shown): run or expect fail if iOS < 67.
  detox/test/e2e/35.overlay.test.js
  detox/test/e2e/utils/custom-it.js
Owners: @d4vidi, @noomorph

tests: add tests for alert's overlay window.
  detox/test/e2e/35.overlay.test.js
  detox/test/src/Screens/OverlayScreen.js
Owners: @d4vidi, @noomorph

tests(visibility-debug-artifacts): fix expected error when button is overlayed.
  detox/test/e2e/32.visibility-debug-artifacts.test.js
Owners: @d4vidi, @noomorph

Revert "Merge pull request #3150 from wix/feature/revert-is-hittable-changes"
  detox/ios/Detox.xcodeproj/project.pbxproj
  detox/ios/Detox/Actions/UIDatePicker+DetoxActions.m
  detox/ios/Detox/Actions/UIPickerView+DetoxActions.m
  detox/ios/Detox/Actions/UIScrollView+DetoxActions.m
  detox/ios/Detox/Invocation/Element.swift
  detox/ios/Detox/Utilities/NSObject+DetoxUtils.h
  detox/ios/Detox/Utilities/NSObject+DetoxUtils.m
  detox/ios/Detox/Utilities/UIResponder+First.h
  detox/ios/Detox/Utilities/UIResponder+First.m
  detox/ios/Detox/Utilities/UIView+DetoxUtils.h
  detox/ios/Detox/Utilities/UIView+DetoxUtils.m
  detox/ios/Detox/Utilities/UIWindow+DetoxUtils.h
  detox/ios/Detox/Utilities/UIWindow+DetoxUtils.m
  detox/test/e2e/03.actions-scroll.test.js
  detox/test/e2e/03.actions.test.js
  detox/test/e2e/33.attributes.test.js
  detox/test/e2e/34.visibility.test.js
  detox/test/e2e/35.overlay.test.js
  detox/test/ios/example/NativeModule.m
  detox/test/src/Screens/OverlayScreen.js
  detox/test/src/Screens/index.js
  detox/test/src/app.js
Owners: @asafkorem, @d4vidi, @noomorph

ci(android gradle): replace jcenter with maven-center. (#3658)
  detox/android/build.gradle
  examples/demo-native-android/build.gradle
  examples/demo-pure-native-android/build.gradle
Owners: @d4vidi, @jonathanmos

Publish 20.0.14-next-is-hittable-check-2.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native-jest/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

chore: fix code review
  detox/local-cli/init.js
  docs/cli/init.md
Owners: @d4vidi, @noomorph

fix(types): add Jest typings
  detox/runners/jest/index.d.ts
  detox/test/types/detox-integration-tests.ts
Owners: @d4vidi, @noomorph

build: unite detox-react-native and -jest
  examples/demo-react-native/detox.config.js
  examples/demo-react-native/e2e/config.json
  examples/demo-react-native/e2e/global-setup.js
  examples/demo-react-native/e2e/globalSetup.ts
  examples/demo-react-native/e2e/jest.config.js
  examples/demo-react-native/e2e/setup.ts
  examples/demo-react-native/e2e/suite1.test.ts
  examples/demo-react-native/e2e/suite2.test.ts
  examples/demo-react-native/package.json
  examples/demo-react-native/tsconfig.json
  scripts/demo-projects.android.sh
  scripts/demo-projects.ios.sh
  scripts/demo-rn-bloat-bundle-test.sh
Owners: @d4vidi, @noomorph

docs: minor fixes
  detox/local-cli/test.js
  docs/config/testRunner.mdx
  website/versioned_docs/version-19.x/APIRef.DetoxCLI.md
  website/versioned_docs/version-19.x/Troubleshooting.RunningTests.md
  website/versioned_docs/version-19.x/introduction/getting-started.md
Owners: @d4vidi, @noomorph

chore: code review and enable coverage again
  detox/index.d.ts
  detox/local-cli/test.js
  detox/package.json
Owners: @d4vidi, @noomorph

chore: code review and enable coverage again
  detox/src/realms/DetoxSecondaryContext.js
Owners: @d4vidi, @noomorph

docs: update Migration Guide
  docs/guide/migration.md
Owners: @d4vidi

.gitignore: add VSCode IDE path.
  website/.gitignore
Owners: @d4vidi

Revert "Merge pull request #3150 from wix/feature/revert-is-hittable-changes"
  detox/ios/Detox.xcodeproj/project.pbxproj
  detox/ios/Detox/Actions/UIDatePicker+DetoxActions.m
  detox/ios/Detox/Actions/UIPickerView+DetoxActions.m
  detox/ios/Detox/Actions/UIScrollView+DetoxActions.m
  detox/ios/Detox/Invocation/Element.swift
  detox/ios/Detox/Utilities/NSObject+DetoxUtils.h
  detox/ios/Detox/Utilities/NSObject+DetoxUtils.m
  detox/ios/Detox/Utilities/UIResponder+First.h
  detox/ios/Detox/Utilities/UIResponder+First.m
  detox/ios/Detox/Utilities/UIView+DetoxUtils.h
  detox/ios/Detox/Utilities/UIView+DetoxUtils.m
  detox/ios/Detox/Utilities/UIWindow+DetoxUtils.h
  detox/ios/Detox/Utilities/UIWindow+DetoxUtils.m
  detox/test/e2e/03.actions-scroll.test.js
  detox/test/e2e/03.actions.test.js
  detox/test/e2e/33.attributes.test.js
  detox/test/e2e/34.visibility.test.js
  detox/test/e2e/35.overlay.test.js
  detox/test/ios/example/NativeModule.m
  detox/test/src/Screens/OverlayScreen.js
  detox/test/src/Screens/index.js
  detox/test/src/app.js
Owners: @asafkorem, @d4vidi, @noomorph
