Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem

fix: logger leakage
  detox/src/logger/DetoxLogger.js
Owners: @d4vidi, @noomorph

fix: test pattern
  detox/test/e2e/detox.config.js
Owners: @d4vidi, @noomorph

test: fix eventemitter leakage
  detox/__tests__/setupJest.js
Owners: @d4vidi, @noomorph

ci: guarantee artifacts recording
  scripts/ci.android.sh
  scripts/ci.ios.sh
Owners: @d4vidi, @noomorph

ci: remove upload artifacts
  .buildkite/jobs/pipeline.android_rn_64.yml
  .buildkite/jobs/pipeline.android_rn_67.yml
  .buildkite/jobs/pipeline.ios_rn_64.yml
  .buildkite/jobs/pipeline.ios_rn_67.yml
Owners: @d4vidi

fix: eventemitter leakage
  detox/internals.d.ts
  detox/local-cli/build.js
  detox/local-cli/build.test.js
  detox/local-cli/test.test.js
  detox/runners/jest/environment/listeners/DetoxInitErrorListener.js
  detox/src/DetoxContext.js
  detox/src/DetoxInternalsFacade.js
  detox/src/DetoxPrimaryContext.js
  detox/src/DetoxSecondaryContext.js
  detox/src/DetoxWorker.js
  detox/src/errors/DetoxRuntimeError.js
  detox/src/ipc/IPCServer.js
  detox/src/logger/DetoxLogger.js
  detox/src/symbols.js
  detox/src/utils/Timer.js
  detox/test/e2e/jest.config.js
  scripts/ci.ios.sh
Owners: @d4vidi, @noomorph

ci: fix artifact uploading for android
  scripts/ci.android.sh
Owners: @d4vidi, @noomorph

more fixes
  detox/index.d.ts
  detox/local-cli/init.js
  detox/local-cli/templates/jest.js
  detox/local-cli/testCommand/builder.js
  detox/runners/jest/deprecation.js
  detox/runners/jest/environment/listeners/DetoxCoreListener.js
  detox/runners/jest/globalSetup.js
  detox/runners/jest/globalTeardown.js
  detox/runners/jest/index.js
  detox/runners/jest/reporters/DetoxReporter.js
  detox/runners/jest/reporters/FailingTestsReporter.js
  detox/src/configuration/composeRunnerConfig.js
  detox/src/configuration/index.js
  detox/src/errors/DetoxConfigErrorComposer.js
  detox/src/errors/DetoxConfigErrorComposer.test.js
  detox/src/errors/__snapshots__/DetoxConfigErrorComposer.test.js.snap
  detox/test/e2e/global-setup.js
  detox/test/e2e/global-teardown.js
  detox/test/e2e/jest.config.js
  docs/APIRef.DetoxCLI.md
  docs/Guide.Jest.md
  examples/demo-react-native-jest/detox.config.js
  examples/demo-react-native-jest/e2e/config.json
  examples/demo-react-native-jest/e2e/global-setup.js
  examples/demo-react-native-jest/e2e/global-teardown.js
  examples/demo-react-native-jest/e2eExplicitRequire/config.json
  examples/demo-react-native-jest/package.json
Owners: @d4vidi, @noomorph

build(deps): bump @react-native-community/geolocation to "^2.1.0".
  detox/test/package.json
Owners: @d4vidi

wip: reworking facade again
  detox/internals.d.ts
  detox/internals.js
  detox/runners/jest/environment/index.js
  detox/runners/jest/globalSetup.js
  detox/runners/jest/globalTeardown.js
  detox/runners/jest/index.js
  detox/src/realms/DetoxConstants.js
  detox/src/realms/DetoxContext.js
  detox/src/realms/DetoxInternalsFacade.js
  detox/src/realms/DetoxPrimaryContext.js
  detox/src/realms/DetoxSecondaryContext.js
  detox/src/realms/index.js
  detox/src/realms/primary.js
  detox/src/realms/secondary.js
  detox/src/symbols.js
  detox/test/e2e/jest.config.js
  examples/demo-react-native-jest/e2e/config.json
  examples/demo-react-native-jest/e2e/global-setup.js
Owners: @d4vidi, @noomorph

ci: fix upload artifacts script
  scripts/upload_artifact.sh
Owners: @d4vidi, @noomorph

feat(iOS): replace fbsimctl with AppleSimUtils for `setLocation`.
  detox/index.d.ts
  detox/src/devices/common/drivers/ios/tools/AppleSimUtils.js
  detox/test/e2e/16.location.test.js
  detox/test/e2e/drivers/location-driver.js
  detox/test/src/Screens/LocationScreen.js
  docs/APIRef.DeviceObjectAPI.md
Owners: @d4vidi, @noomorph

Update 21.artifacts.test.js
  detox/test/e2e/21.artifacts.test.js
Owners: @d4vidi, @noomorph

Update 21.artifacts.test.js
  detox/test/e2e/21.artifacts.test.js
Owners: @d4vidi, @noomorph

Initial refactor
  detox/src/Detox.js
  detox/src/Detox.test.js
  detox/src/devices/common/drivers/android/tools/HashFileXfer.js
  detox/src/devices/common/drivers/android/tools/HashFileXfer.test.js
  detox/src/devices/common/drivers/android/tools/HashHelper.js
  detox/src/devices/common/drivers/android/tools/HashHelper.test.js
  detox/src/devices/common/drivers/android/tools/TempFileXfer.js
  detox/src/devices/common/drivers/android/tools/TempFileXfer.test.js
  detox/src/devices/common/drivers/android/tools/__mocks__/empty_hashtest.txt
  detox/src/devices/runtime/RuntimeDevice.js
  detox/src/devices/runtime/RuntimeDevice.test.js
  detox/src/devices/runtime/drivers/android/AndroidDriver.js
  detox/src/devices/runtime/drivers/android/AndroidDriver.test.js
  detox/src/servicelocator/android/index.js
  detox/src/utils/__mocks__/empty_hashtest.txt
  detox/src/utils/generateHash.js
  detox/src/utils/generateHash.test.js
Owners: @d4vidi, @noomorph

docs: add UML sequence diagrams
  docs/img/uml/boot-cli-many-workers.png
  docs/img/uml/boot-cli-single-worker.png
  docs/img/uml/boot-jest-many-workers.png
  docs/img/uml/boot-jest-single-worker.png
  docs/uml/sequence/boot-cli-many-workers.uml
  docs/uml/sequence/boot-cli-single-worker.uml
  docs/uml/sequence/boot-jest-many-workers.uml
  docs/uml/sequence/boot-jest-single-worker.uml
  scripts/assets.uml.sh
Owners: @d4vidi, @noomorph

Rename xfer to transfer
  detox/src/devices/common/drivers/android/tools/AppInstallHelper.js
  detox/src/devices/common/drivers/android/tools/AppInstallHelper.test.js
  detox/src/devices/common/drivers/android/tools/FileTransfer.js
  detox/src/devices/common/drivers/android/tools/FileTransfer.test.js
  detox/src/devices/common/drivers/android/tools/HashHelper.js
  detox/src/devices/common/drivers/android/tools/HashHelper.test.js
  detox/src/devices/common/drivers/android/tools/TempFileTransfer.js
  detox/src/devices/common/drivers/android/tools/TempFileTransfer.test.js
  detox/src/devices/common/drivers/android/tools/TempFileXfer.js
  detox/src/devices/runtime/drivers/android/AndroidDriver.js
  detox/src/devices/runtime/drivers/android/AndroidDriver.test.js
  detox/src/devices/runtime/factories/android.js
  detox/src/servicelocator/android/index.js
Owners: @d4vidi, @noomorph

rewrite facade again
  detox/index.d.ts
  detox/internals.d.ts
  detox/local-cli/test.js
  detox/local-cli/test.test.js
  detox/local-cli/testCommand/TestRunnerCommand.js
  detox/local-cli/testCommand/builder.js
  detox/runners/jest/environment/index.js
  detox/runners/jest/globalSetup.js
  detox/runners/jest/globalTeardown.js
  detox/src/DetoxWorker.test.js
  detox/src/configuration/composeDeviceConfig.js
  detox/src/configuration/composeDeviceConfig.test.js
  detox/src/errors/DetoxConfigErrorComposer.js
  detox/src/errors/__snapshots__/DetoxConfigErrorComposer.test.js.snap
  detox/src/ipc/IPCServer.js
  detox/src/realms/DetoxContext.js
  detox/src/realms/DetoxInternalsFacade.js
  detox/src/realms/DetoxPrimaryContext.js
  detox/src/realms/DetoxSecondaryContext.js
  detox/src/symbols.js
  detox/test/e2e/detox.config.js
  detox/test/integration/e2e/config.js
  detox/test/integration/initialization-test.test.js
  detox/test/integration/utils/simplistic-runner.js
Owners: @d4vidi, @noomorph

Hashhelper -> saveHashToRemote
  detox/index.d.ts
  detox/local-cli/utils/testCommandArgs.js
  detox/src/Detox.test.js
  detox/src/devices/common/drivers/android/tools/HashHelper.js
  detox/src/devices/common/drivers/android/tools/SaveHashToRemote.js
  detox/src/devices/common/drivers/android/tools/SaveHashToRemote.test.js
  detox/src/devices/runtime/drivers/android/AndroidDriver.js
  detox/src/devices/runtime/drivers/android/AndroidDriver.test.js
  detox/src/devices/runtime/factories/android.js
  detox/src/servicelocator/android/index.js
Owners: @d4vidi, @noomorph

Update timeline-artifact.test.js.snap
  detox/test/integration/__snapshots__/timeline-artifact.test.js.snap
Owners: @d4vidi

resetAppState -> resetAppData
  detox/src/devices/common/drivers/android/tools/TempFileTransfer.js
  detox/src/devices/runtime/RuntimeDevice.js
  detox/src/devices/runtime/RuntimeDevice.test.js
  detox/src/devices/runtime/drivers/DeviceDriverBase.js
  detox/src/devices/runtime/drivers/android/AndroidDriver.js
  detox/src/devices/runtime/drivers/android/AndroidDriver.test.js
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.test.js
  docs/APIRef.DetoxCLI.md
Owners: @d4vidi, @noomorph

resetAppData -> optimizedInstallApp
  detox/src/devices/runtime/RuntimeDevice.js
  detox/src/devices/runtime/RuntimeDevice.test.js
  detox/src/devices/runtime/drivers/DeviceDriverBase.js
  detox/src/devices/runtime/drivers/android/AndroidDriver.js
  detox/src/devices/runtime/drivers/android/AndroidDriver.test.js
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.test.js
Owners: @d4vidi, @noomorph

fix: retries JSON behavior and CI
  detox/local-cli/testCommand/builder.js
  examples/demo-react-native-jest/detox.config.js
Owners: @d4vidi, @noomorph

Gather hash logic in apkHashUtils and limit to run only on android
  detox/src/devices/common/drivers/android/tools/ApkHashUtils.js
  detox/src/devices/common/drivers/android/tools/ApkHashUtils.test.js
  detox/src/devices/common/drivers/android/tools/SaveHashToRemote.js
  detox/src/devices/common/drivers/android/tools/SaveHashToRemote.test.js
  detox/src/devices/runtime/drivers/android/AndroidDriver.js
  detox/src/devices/runtime/drivers/android/AndroidDriver.test.js
  detox/test/e2e/detox.config.js
Owners: @d4vidi, @noomorph

fix: logger
  detox/src/logger/DetoxLogger.js
Owners: @d4vidi, @noomorph

Do not expose getHashFilename
  detox/src/devices/common/drivers/android/tools/ApkHashUtils.js
  detox/src/devices/common/drivers/android/tools/ApkHashUtils.test.js
  detox/src/devices/runtime/drivers/android/AndroidDriver.js
  detox/src/devices/runtime/drivers/android/AndroidDriver.test.js
Owners: @d4vidi, @noomorph

test: fix unhappy scenario
  detox/test/e2e-unhappy/detox-init-timeout/jest.config.js
  detox/test/e2e-unhappy/detox-init-timeout/testEnvironment.js
  detox/test/e2e/jest.config.js
Owners: @d4vidi, @noomorph

fix binaryPath
  detox/src/devices/common/drivers/android/tools/ApkHashUtils.js
  detox/src/devices/common/drivers/android/tools/ApkHashUtils.test.js
  detox/src/devices/runtime/drivers/android/AndroidDriver.js
  detox/src/devices/runtime/drivers/android/AndroidDriver.test.js
Owners: @d4vidi, @noomorph

fix: retries cli and example project
  detox/local-cli/testCommand/TestRunnerCommand.js
  detox/test/scripts/ci_unhappy.sh
  examples/demo-plugin/driver.js
  examples/demo-plugin/e2e/config.json
  examples/demo-plugin/package.json
Owners: @d4vidi, @noomorph

docs: fix lint errors
  .retext-spell.dic
  docs/Guide.Mocking.md
  docs/Introduction.Android.md
  docs/Introduction.AndroidDevEnv.md
  website/versioned_docs/version-19.x/Introduction.Android.md
  website/versioned_docs/version-19.x/Introduction.AndroidDevEnv.md
Owners: @d4vidi

test(e2e): check that device.log is created in all cases (#3478)
  detox/test/e2e/21.artifacts.test.js
Owners: @d4vidi, @noomorph

temp: debugging ci
  detox/test/e2e-unhappy/detox-init-timeout/testEnvironment.js
  detox/test/scripts/ci_unhappy.sh
Owners: @d4vidi, @noomorph

feat(Android): optimize app installation. (#3195)
  detox/index.d.ts
  detox/local-cli/test.js
  detox/local-cli/test.test.js
  detox/local-cli/utils/testCommandArgs.js
  detox/src/Detox.js
  detox/src/Detox.test.js
  detox/src/configuration/collectCliConfig.js
  detox/src/configuration/collectCliConfig.test.js
  detox/src/configuration/composeBehaviorConfig.js
  detox/src/configuration/composeBehaviorConfig.test.js
  detox/src/devices/common/drivers/android/exec/ADB.js
  detox/src/devices/common/drivers/android/exec/ADB.test.js
  detox/src/devices/common/drivers/android/tools/ApkHashUtils.js
  detox/src/devices/common/drivers/android/tools/ApkHashUtils.test.js
  detox/src/devices/common/drivers/android/tools/AppInstallHelper.js
  detox/src/devices/common/drivers/android/tools/AppInstallHelper.test.js
  detox/src/devices/common/drivers/android/tools/FileTransfer.js
  detox/src/devices/common/drivers/android/tools/FileTransfer.test.js
  detox/src/devices/common/drivers/android/tools/TempFileTransfer.js
  detox/src/devices/common/drivers/android/tools/TempFileTransfer.test.js
  detox/src/devices/common/drivers/android/tools/TempFileXfer.js
  detox/src/devices/runtime/RuntimeDevice.js
  detox/src/devices/runtime/RuntimeDevice.test.js
  detox/src/devices/runtime/drivers/DeviceDriverBase.js
  detox/src/devices/runtime/drivers/android/AndroidDriver.js
  detox/src/devices/runtime/drivers/android/AndroidDriver.test.js
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.test.js
  detox/src/devices/runtime/factories/android.js
  detox/src/servicelocator/android/index.js
  detox/src/utils/__mocks__/empty_hashtest.txt
  detox/src/utils/generateHash.js
  detox/src/utils/generateHash.test.js
  detox/test/e2e/detox.config.js
  detox/test/integration/stub/StubRuntimeDriver.js
  detox/test/types/detox-global-tests.ts
  docs/APIRef.DetoxCLI.md
Owners: @d4vidi, @noomorph

Publish 20.0.0-breaking.new-global-lifecycle.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native-jest/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

ci: stabilize artifacts upload
  .buildkite/jobs/pipeline.android_demo_app_rn_67.yml
  .buildkite/jobs/pipeline.android_rn_64.yml
  .buildkite/jobs/pipeline.android_rn_67.yml
  .buildkite/jobs/pipeline.ios_demo_app_rn_67.yml
  .buildkite/jobs/pipeline.ios_rn_64.yml
  .buildkite/jobs/pipeline.ios_rn_67.yml
  .travis.yml
  scripts/ci.android.sh
  scripts/ci.ios.sh
  scripts/demo-projects.android.sh
  scripts/demo-projects.ios.sh
  scripts/upload_artifact.sh
Owners: @d4vidi, @noomorph

ci: stabilize artifacts upload (#3495)
  .buildkite/jobs/pipeline.android_demo_app_rn_67.yml
  .buildkite/jobs/pipeline.android_rn_64.yml
  .buildkite/jobs/pipeline.android_rn_67.yml
  .buildkite/jobs/pipeline.ios_demo_app_rn_67.yml
  .buildkite/jobs/pipeline.ios_rn_64.yml
  .buildkite/jobs/pipeline.ios_rn_67.yml
  .travis.yml
  scripts/ci.android.sh
  scripts/ci.ios.sh
  scripts/demo-projects.android.sh
  scripts/demo-projects.ios.sh
  scripts/upload_artifact.sh
Owners: @d4vidi, @noomorph

(Android) Make test-app work without new RN arch
  detox/android/detox/publish-pom.gradle
  detox/android/detox/publishing.gradle
  detox/test/android/app/build.gradle
  detox/test/android/app/src/main/java/com/example/DetoxRNHost.java
  detox/test/android/app/src/main/java/com/example/DetoxRNHostNewArch.java
  detox/test/android/app/src/main/java/com/example/MainApplication.java
  detox/test/android/app/src/main/java/com/example/newarchitecture/MainApplicationReactNativeHost.java
  detox/test/android/gradle.properties
Owners: @d4vidi, @jonathanmos

(Android) Remove everything new-RN-arch-related
  detox/test/android/app/build.gradle
  detox/test/android/app/src/main/java/com/example/DetoxRNHostNewArch.java
  detox/test/android/app/src/main/java/com/example/MainActivity.java
  detox/test/android/app/src/main/java/com/example/MainApplication.java
  detox/test/android/app/src/main/java/com/example/newarchitecture/components/MainComponentsRegistry.java
  detox/test/android/app/src/main/java/com/example/newarchitecture/modules/MainApplicationTurboModuleManagerDelegate.java
  detox/test/android/app/src/main/jni/Android.mk
  detox/test/android/app/src/main/jni/MainApplicationModuleProvider.cpp
  detox/test/android/app/src/main/jni/MainApplicationModuleProvider.h
  detox/test/android/app/src/main/jni/MainApplicationTurboModuleManagerDelegate.cpp
  detox/test/android/app/src/main/jni/MainApplicationTurboModuleManagerDelegate.h
  detox/test/android/app/src/main/jni/MainComponentsRegistry.cpp
  detox/test/android/app/src/main/jni/MainComponentsRegistry.h
  detox/test/android/app/src/main/jni/OnLoad.cpp
  detox/test/android/build.gradle
  detox/test/android/gradle.properties
  detox/test/android/settings.gradle
Owners: @d4vidi, @jonathanmos, @asafkorem

(iOS) Example proj: fix version number in podfile.
  detox/test/ios/Podfile
Owners: @asafkorem

(iOS) demo app: fix app delegate error.
  examples/demo-react-native/ios/example/AppDelegate.m
Owners: @asafkorem
