Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

Publish 20.14.3 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Revert^2 "Re: Supervised android launch (#4296)"
  detox/android/detox/src/full/java/com/wix/detox/ActivityLaunchHelper.kt
  detox/android/detox/src/full/java/com/wix/detox/Detox.java
  detox/android/detox/src/full/java/com/wix/detox/DetoxMain.kt
  detox/android/detox/src/full/java/com/wix/detox/LaunchIntentsFactory.kt
  detox/android/detox/src/full/java/com/wix/detox/adapters/server/DetoxActionHandlers.kt
  detox/android/detox/src/full/java/com/wix/detox/adapters/server/DetoxActionsDispatcher.kt
  detox/android/detox/src/full/java/com/wix/detox/adapters/server/DetoxServerAdapter.kt
  detox/android/detox/src/full/java/com/wix/detox/adapters/server/DetoxServerInfo.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/ReactMarkersLogger.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/ReactNativeExtension.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/UiControllerSpy.kt
  detox/src/android/espressoapi/Detox.js
  detox/test/e2e/19.crash-handling.test.js
Owners: @d4vidi, @jonathanmos, @noomorph

Fix missing launch args in url-launch
  detox/android/detox/src/full/java/com/wix/detox/ActivityLaunchHelper.kt
  detox/android/detox/src/full/java/com/wix/detox/NotificationDataParser.kt
  detox/android/detox/src/testFull/java/com/wix/detox/ActivityLaunchHelperTest.kt
  detox/android/detox/src/testFull/java/com/wix/detox/espresso/matcher/RegexMatcherTest.kt
Owners: @d4vidi, @jonathanmos

Add e2e test over the url-launchArgs combo case
  detox/test/e2e/15.urls-and-launchArgs.test.js
  detox/test/e2e/15.urls.test.js
  detox/test/e2e/22.launch-args.test.js
  detox/test/e2e/drivers/launch-args-driver.js
  detox/test/e2e/drivers/url-driver.js
  detox/test/src/Screens/LaunchUrlScreen.js
  detox/test/src/Screens/index.js
  detox/test/src/app.js
Owners: @d4vidi, @noomorph

Adjust iOS tests
  detox/test/e2e/15.urls-and-launchArgs.test.js
  detox/test/e2e/18.user-activities.test.js
Owners: @d4vidi, @noomorph

Publish 20.14.4-prerelease.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Fixed crash cause by new version of espresso
  detox/android/detox/proguard-rules-app.pro
Owners: @d4vidi

Publish 20.14.4-smoke.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Revert "Publish 20.14.4-prerelease.0 [ci skip]"
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Fix supervised android launch (#4303)
  detox/android/detox/src/full/java/com/wix/detox/ActivityLaunchHelper.kt
  detox/android/detox/src/full/java/com/wix/detox/Detox.java
  detox/android/detox/src/full/java/com/wix/detox/DetoxMain.kt
  detox/android/detox/src/full/java/com/wix/detox/LaunchIntentsFactory.kt
  detox/android/detox/src/full/java/com/wix/detox/NotificationDataParser.kt
  detox/android/detox/src/full/java/com/wix/detox/adapters/server/DetoxActionHandlers.kt
  detox/android/detox/src/full/java/com/wix/detox/adapters/server/DetoxActionsDispatcher.kt
  detox/android/detox/src/full/java/com/wix/detox/adapters/server/DetoxServerAdapter.kt
  detox/android/detox/src/full/java/com/wix/detox/adapters/server/DetoxServerInfo.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/ReactMarkersLogger.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/ReactNativeExtension.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/UiControllerSpy.kt
  detox/android/detox/src/testFull/java/com/wix/detox/ActivityLaunchHelperTest.kt
  detox/android/detox/src/testFull/java/com/wix/detox/espresso/matcher/RegexMatcherTest.kt
  detox/src/android/espressoapi/Detox.js
  detox/test/e2e/15.urls-and-launchArgs.test.js
  detox/test/e2e/15.urls.test.js
  detox/test/e2e/18.user-activities.test.js
  detox/test/e2e/19.crash-handling.test.js
  detox/test/e2e/22.launch-args.test.js
  detox/test/e2e/drivers/launch-args-driver.js
  detox/test/e2e/drivers/url-driver.js
  detox/test/src/Screens/LaunchUrlScreen.js
  detox/test/src/Screens/index.js
  detox/test/src/app.js
Owners: @d4vidi, @jonathanmos, @noomorph

Publish 20.14.4 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Revert "Publish 20.14.4-smoke.0 [ci skip]"
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Fixed crash cause by new version of espresso (#4305)
  detox/android/detox/proguard-rules-app.pro
Owners: @d4vidi

Publish 20.14.5 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Fix refs and docs involving testBinaryPath
  detox/src/devices/common/drivers/android/tools/ApkValidator.js
  detox/src/devices/common/drivers/android/tools/ApkValidator.test.js
  detox/src/devices/common/drivers/android/tools/__snapshots__/ApkValidator.test.js.snap
  detox/src/devices/runtime/drivers/android/AndroidDriver.js
  detox/src/devices/runtime/drivers/android/__snapshots__/AndroidDriver.test.js.snap
  docs/introduction/partials/_project-setup-apps-android.mdx
Owners: @d4vidi, @noomorph

Propose debug test APK all-around
  detox/src/devices/common/drivers/android/tools/ApkValidator.test.js
  docs/introduction/partials/_project-setup-apps-android.mdx
  examples/demo-react-native/detox.config.js
Owners: @d4vidi, @noomorph

refactor: dynamic device allocation
  detox/jest.config.js
  detox/src/DetoxWorker.js
  detox/src/DetoxWorker.test.js
  detox/src/ipc/IPCClient.js
  detox/src/ipc/IPCServer.js
  detox/src/ipc/ipc.test.js
  detox/src/realms/DetoxContext.js
  detox/src/realms/DetoxPrimaryContext.js
  detox/src/realms/DetoxPrimaryContext.test.js
  detox/src/realms/DetoxSecondaryContext.js
  detox/src/realms/__snapshots__/DetoxPrimaryContext.test.js.snap
Owners: @d4vidi, @noomorph

refactor: dynamic device allocation (#4290)
  detox/jest.config.js
  detox/src/DetoxWorker.js
  detox/src/DetoxWorker.test.js
  detox/src/ipc/IPCClient.js
  detox/src/ipc/IPCServer.js
  detox/src/ipc/ipc.test.js
  detox/src/realms/DetoxContext.js
  detox/src/realms/DetoxPrimaryContext.js
  detox/src/realms/DetoxPrimaryContext.test.js
  detox/src/realms/DetoxSecondaryContext.js
  detox/src/realms/__snapshots__/DetoxPrimaryContext.test.js.snap
Owners: @d4vidi, @noomorph

internal: use jest-environment-emit
  detox/package.json
  detox/runners/jest/testEnvironment/index.js
  detox/test/e2e/jest.config.js
  detox/test/package.json
  generation/package.json
Owners: @d4vidi, @noomorph

internal: use jest-environment-emit (#4212)
  detox/package.json
  detox/runners/jest/testEnvironment/index.js
  detox/test/e2e/jest.config.js
  detox/test/package.json
  generation/package.json
Owners: @d4vidi, @noomorph

Revert "Propose debug test APK all-around"
  detox/src/devices/common/drivers/android/tools/ApkValidator.test.js
  docs/introduction/partials/_project-setup-apps-android.mdx
  examples/demo-react-native/detox.config.js
Owners: @d4vidi, @noomorph

Improve clarity of testBinaryPath's usage and role
  docs/introduction/partials/_project-setup-apps-android.mdx
Owners: @d4vidi

Fix refs and docs involving testBinaryPath (#4311)
  detox/src/devices/common/drivers/android/tools/ApkValidator.js
  detox/src/devices/common/drivers/android/tools/ApkValidator.test.js
  detox/src/devices/common/drivers/android/tools/__snapshots__/ApkValidator.test.js.snap
  detox/src/devices/runtime/drivers/android/AndroidDriver.js
  detox/src/devices/runtime/drivers/android/__snapshots__/AndroidDriver.test.js.snap
  docs/introduction/partials/_project-setup-apps-android.mdx
Owners: @d4vidi, @noomorph

docs: minor updates to project setup
  docs/introduction/partials/_project-setup-apps-android.mdx
  docs/introduction/partials/_project-setup-devices-ios.mdx
Owners: @d4vidi

chore: update iPhone version in detox init template
  detox/detox.d.ts
  detox/local-cli/init.js
Owners: @d4vidi, @noomorph

chore: upgrade to Jest 29
  detox/package.json
  detox/src/client/__snapshots__/AsyncWebSocket.test.js.snap
  detox/src/client/__snapshots__/Client.test.js.snap
  detox/src/client/actions/formatters/__snapshots__/SyncStatusFormatter.test.js.snap
  detox/src/devices/common/drivers/android/exec/__snapshots__/AAPT.test.js.snap
  detox/src/logger/__snapshots__/DetoxLogger.test.js.snap
  detox/src/logger/utils/__snapshots__/DetoxLogFinalizer.test.js.snap
  detox/src/server/__snapshots__/DetoxServer.test.js.snap
  detox/src/server/__tests__/__snapshots__/server-integration.test.js.snap
  examples/demo-plugin/package.json
Owners: @d4vidi

chore: upgrade to Jest 29 (#4313)
  detox/package.json
  detox/src/client/__snapshots__/AsyncWebSocket.test.js.snap
  detox/src/client/__snapshots__/Client.test.js.snap
  detox/src/client/actions/formatters/__snapshots__/SyncStatusFormatter.test.js.snap
  detox/src/devices/common/drivers/android/exec/__snapshots__/AAPT.test.js.snap
  detox/src/logger/__snapshots__/DetoxLogger.test.js.snap
  detox/src/logger/utils/__snapshots__/DetoxLogFinalizer.test.js.snap
  detox/src/server/__snapshots__/DetoxServer.test.js.snap
  detox/src/server/__tests__/__snapshots__/server-integration.test.js.snap
  examples/demo-plugin/package.json
Owners: @d4vidi

Publish 20.14.6 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  generation/package.json
  lerna.json
  package.json
Owners: @d4vidi

Publish docs version 20.x
  website/versioned_docs/version-20.x/introduction/partials/_project-setup-apps-android.mdx
  website/versioned_docs/version-20.x/introduction/partials/_project-setup-devices-ios.mdx
Owners: @d4vidi

chore: update dev dependencies
  detox/package.json
  detox/runners/jest/testEnvironment/index.js
  detox/src/realms/DetoxContext.js
  detox/test/package.json
  detox/tsconfig.json
  generation/package.json
Owners: @d4vidi, @noomorph

chore: update dev dependencies (#4314)
  detox/package.json
  detox/runners/jest/testEnvironment/index.js
  detox/src/realms/DetoxContext.js
  detox/test/package.json
  detox/tsconfig.json
  generation/package.json
Owners: @d4vidi, @noomorph

chore: upgrade lerna
  .npmrc
  .nvmrc
  docs/contributing/code/setting-up-the-dev-environment.md
  lerna.json
  package.json
Owners: @d4vidi

fix(ios): increase maxBuffer for applesimutils --list
  detox/src/devices/common/drivers/ios/tools/AppleSimUtils.js
  detox/src/utils/childProcess/exec.js
  detox/src/utils/childProcess/exec.test.js
Owners: @d4vidi, @noomorph

chore: update iOS simulators
  .nvmrc
  detox/test/e2e/detox.config.js
  examples/demo-native-ios/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/detox.config.js
Owners: @d4vidi, @noomorph

fix(ios): increase maxBuffer for applesimutils --list (#4315)
  detox/src/devices/common/drivers/ios/tools/AppleSimUtils.js
  detox/src/utils/childProcess/exec.js
  detox/src/utils/childProcess/exec.test.js
Owners: @d4vidi, @noomorph

Publish 20.14.7 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  generation/package.json
  lerna.json
  package.json
Owners: @d4vidi

test: update device-specific tests
  detox/test/e2e/30.custom-keyboard.test.js
  detox/test/e2e/assets/elementScreenshot.ios.horiz.png
  detox/test/e2e/assets/elementScreenshot.ios.vert.png
  detox/test/src/Screens/VisibilityExpectationScreen.js
Owners: @d4vidi, @noomorph

fix(test, iOS): patch boost podspec due to pod-install issue.
  detox/test/scripts/postinstall.js
  examples/demo-react-native/scripts/postinstall.js
  package.json
  scripts/postinstall.js
Owners: @d4vidi, @noomorph

refactor: postinstall scripts.
  detox/test/scripts/postinstall.js
  examples/demo-react-native/scripts/postinstall.js
Owners: @d4vidi, @noomorph

fix(iOS): locate all windows before hitability test.
  detox/ios/Detox/Utilities/UIWindow+DetoxUtils.m
Owners: @asafkorem

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem
