Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem

Fix lint errors
  detox/src/utils/environment.js
  detox/src/utils/environment.test.js
Owners: @d4vidi, @noomorph

Fix path formatting err on Windows
  detox/src/utils/environment.js
  detox/src/utils/environment.test.js
Owners: @d4vidi, @noomorph

Path formatting on Windows: I had to give up
  detox/src/utils/environment.js
  detox/src/utils/environment.test.js
Owners: @d4vidi, @noomorph

RegExps vs. Windows: The saga
  detox/src/utils/environment.test.js
Owners: @d4vidi, @noomorph

fix(Genycloud): Force-enable WiFi on instances by default
  detox/src/devices/allocation/drivers/android/genycloud/GenyAllocDriver.js
  detox/src/devices/allocation/drivers/android/genycloud/GenyAllocDriver.test.js
  detox/src/devices/common/drivers/android/exec/ADB.js
  detox/src/devices/common/drivers/android/exec/ADB.test.js
Owners: @d4vidi, @noomorph

fix(Genycloud): Force-enable WiFi on instances by default (#3527)
  detox/src/devices/allocation/drivers/android/genycloud/GenyAllocDriver.js
  detox/src/devices/allocation/drivers/android/genycloud/GenyAllocDriver.test.js
  detox/src/devices/common/drivers/android/exec/ADB.js
  detox/src/devices/common/drivers/android/exec/ADB.test.js
Owners: @d4vidi, @noomorph

Publish 19.9.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native-jest/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

[post-workshop] Fix and improve error messages in aapt resolution (#3526)
  detox/src/utils/environment.js
  detox/src/utils/environment.test.js
Owners: @d4vidi, @noomorph

Fix location-set in genycloud
  detox/src/DeviceAPI.js
  detox/src/devices/runtime/RuntimeDevice.js
  detox/src/devices/runtime/TestApp.js
  detox/src/devices/runtime/drivers/BaseDrivers.js
  detox/src/devices/runtime/drivers/android/emulator/EmulatorDriver.js
  detox/src/devices/runtime/drivers/android/genycloud/GenycloudDrivers.js
  detox/src/devices/runtime/drivers/ios/IosSimulatorDrivers.js
  detox/src/devices/runtime/factories/android.js
Owners: @d4vidi, @noomorph

Wrap illegalViewOperationException
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/uimodule/RN66Workaround.kt
Owners: @d4vidi, @jonathanmos

Update pipeline.sh
  .buildkite/pipeline.sh
Owners: @d4vidi, @noomorph

Update pipeline.sh
  .buildkite/pipeline.sh
Owners: @d4vidi, @noomorph

Update pipeline.sh
  .buildkite/pipeline.sh
Owners: @d4vidi, @noomorph

Publish 19.9.1 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native-jest/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Update pipeline.sh
  .buildkite/pipeline.sh
Owners: @d4vidi, @noomorph

TimelineArtifactPlugin.js: extract timeline context types.
  detox/src/artifacts/timeline/TimelineArtifactPlugin.js
  detox/src/artifacts/timeline/TimelineArtifactPlugin.test.js
  detox/src/artifacts/timeline/TimelineContextTypes.js
Owners: @d4vidi, @noomorph

feat(timeline artifact): add action started / ended events.
  detox/src/client/Client.js
  detox/src/client/Client.test.js
  detox/src/utils/trace.js
Owners: @d4vidi, @noomorph

fix: reporting failed tests
  detox/internals.d.ts
  detox/src/ipc/IPCServer.js
  detox/src/ipc/state.js
  detox/src/realms/DetoxContext.js
Owners: @d4vidi, @noomorph

test: add typing tests
  detox/internals.d.ts
  detox/local-cli/testCommand/TestRunnerCommand.js
  detox/src/realms/DetoxPrimaryContext.js
  detox/src/realms/DetoxSecondaryContext.js
  detox/test/types/detox-internals-tests.ts
Owners: @d4vidi, @noomorph

fix: multiapp installation bug
  detox/src/DetoxWorker.js
  detox/src/DetoxWorker.test.js
Owners: @d4vidi, @noomorph

Publish 21.0.0-breaking.new-global-lifecycle.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native-jest/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Publish 20.0.1-breaking.new-global-lifecycle.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native-jest/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

lock rn slider version to 4.2.4
  detox/test/package.json
Owners: @d4vidi

Add react-native-gradle-plugin to settings.gradle
  detox/test/android/settings.gradle
Owners: @d4vidi, @jonathanmos

fix(cli): --retries <N> + jest.retryTimes() cooperation
  detox/index.d.ts
  detox/internals.d.ts
  detox/local-cli/test.test.js
  detox/local-cli/testCommand/TestRunnerCommand.js
  detox/runners/jest/testEnvironment/listeners/DetoxCoreListener.js
  detox/src/configuration/composeRunnerConfig.js
  detox/src/configuration/composeRunnerConfig.test.js
  detox/src/ipc/IPCClient.js
  detox/src/ipc/IPCServer.js
  detox/src/ipc/state.js
  detox/src/realms/DetoxContext.js
  detox/src/realms/DetoxPrimaryContext.js
  detox/src/realms/DetoxSecondaryContext.js
Owners: @d4vidi, @noomorph

Publish 20.0.2-breaking.new-global-lifecycle.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native-jest/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

fix(config): add legacy handling for test-runner
  detox/src/configuration/__snapshots__/composeRunnerConfig.test.js.snap
  detox/src/configuration/composeRunnerConfig.js
  detox/src/configuration/composeRunnerConfig.test.js
  detox/src/errors/DetoxConfigErrorComposer.js
Owners: @d4vidi, @noomorph

fix(ios): ignore "nothing to terminate" simctl error
  detox/src/devices/common/drivers/ios/tools/AppleSimUtils.js
Owners: @d4vidi, @noomorph

chore(cleanup): remove obsolete publish-website script.
  scripts/publish-website.sh
Owners: @d4vidi, @noomorph

scripts(docs release): commit changes only if there was any change.
  scripts/utils/releaseDocumentation.js
Owners: @d4vidi, @noomorph

Publish 19.9.2 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native-jest/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

scripts(docs release): commit changes only if there are staged changes.
  scripts/utils/releaseDocumentation.js
Owners: @d4vidi, @noomorph

Fix: Log native errors *with* stacktraces (no trimming), on Android
  detox/src/utils/errorUtils.js
  detox/src/utils/errorUtils.test.js
  detox/test/e2e/19.crash-handling.test.js
  detox/test/e2e/utils/custom-expects.js
Owners: @d4vidi, @noomorph

Publish 19.9.3 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native-jest/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

fix: make Detox runtime config key names identical to Detox static config
  detox/internals.d.ts
  detox/local-cli/build.js
  detox/local-cli/build.test.js
  detox/local-cli/test.js
  detox/local-cli/test.test.js
  detox/runners/jest/testEnvironment/index.js
  detox/runners/jest/testEnvironment/listeners/DetoxCoreListener.js
  detox/runners/jest/testEnvironment/listeners/SpecReporter.js
  detox/runners/jest/testEnvironment/listeners/WorkerAssignReporter.js
  detox/src/DetoxWorker.js
  detox/src/DetoxWorker.test.js
  detox/src/configuration/__snapshots__/composeRunnerConfig.test.js.snap
  detox/src/configuration/composeRunnerConfig.test.js
  detox/src/configuration/index.js
  detox/src/configuration/index.test.js
  detox/src/realms/DetoxContext.js
  detox/src/realms/DetoxPrimaryContext.js
  detox/test/e2e/jest.config.js
  detox/test/types/detox-internals-tests.ts
  examples/demo-react-native-jest/e2e/global-setup.js
Owners: @d4vidi, @noomorph

Publish 20.0.3-breaking.new-global-lifecycle.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native-jest/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Add missing line-break in instrum error message
  detox/src/devices/common/drivers/android/tools/MonitoredInstrumentation.js
  detox/src/devices/common/drivers/android/tools/MonitoredInstrumentation.test.js
Owners: @d4vidi, @noomorph

Fix: Log native errors *with* stacktraces (no trimming), on Android (#3555)
  detox/src/devices/common/drivers/android/tools/MonitoredInstrumentation.js
  detox/src/devices/common/drivers/android/tools/MonitoredInstrumentation.test.js
  detox/src/utils/errorUtils.js
  detox/src/utils/errorUtils.test.js
  detox/test/e2e/19.crash-handling.test.js
  detox/test/e2e/utils/custom-expects.js
Owners: @d4vidi, @noomorph

Revert "Publish 19.9.3 [ci skip]"
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native-jest/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

fix: solve global lifecycle issue
  detox/src/realms/DetoxPrimaryContext.js
  detox/src/realms/DetoxSecondaryContext.js
Owners: @d4vidi, @noomorph
