Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

Fixed timers idling resources reflection
  detox/android/detox/proguard-rules-app.pro
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/timers/FabricTimersIdlingResource.kt
Owners: @d4vidi, @jonathanmos

Publish 20.30.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Publish 20.31.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Fixed timers idling resources reflection
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/timers/TimersIdlingResource.kt
Owners: @d4vidi, @jonathanmos

Fixed timers idling resources reflection
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/timers/FabricTimersIdlingResource.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/timers/TimersIdlingResource.kt
Owners: @d4vidi, @jonathanmos

Fixed timers idling resources reflection
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/timers/FabricTimersIdlingResource.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/uimodule/fabric/FabricUIManagerIdlingResources.kt
Owners: @d4vidi, @jonathanmos

Fixed screenshot tests
  detox/test/e2e/26.element-screenshots.test.js
  detox/test/e2e/assets/view-hierarchy-web-view.76.android.txt
  detox/test/e2e/assets/view-hierarchy-with-test-id-injection.76.android.txt
  detox/test/e2e/assets/view-hierarchy-without-test-id-injection.76.android.txt
  detox/test/src/Screens/ElementScreenshotScreen.js
Owners: @d4vidi, @noomorph

Fixed tests
  detox/android/detox/build.gradle
  detox/test/e2e/assets/view-hierarchy-web-view.76.android.txt
  detox/test/e2e/assets/view-hierarchy-with-test-id-injection.76.android.txt
  detox/test/e2e/assets/view-hierarchy-without-test-id-injection.76.android.txt
  examples/demo-react-native/android/app/build.gradle
  examples/demo-react-native/android/app/src/androidTest/java/com/example/DetoxTest.java
  examples/demo-react-native/android/app/src/androidTest/java/com/example/DetoxTestAppJUnitRunner.java
  examples/demo-react-native/android/app/src/androidTest/java/com/example/TestButlerProbe.java
Owners: @d4vidi, @jonathanmos

Fixed demo app to work with fabric Change the way of getting is fabric enabled
  detox/android/detox/src/full/java/com/wix/detox/reactnative/ReactApplicationExt.kt
  examples/demo-react-native/android/app/src/main/java/com/example/MainActivity.java
  examples/demo-react-native/android/app/src/main/java/com/example/MainActivity.kt
  examples/demo-react-native/android/app/src/main/java/com/example/MainApplication.java
  examples/demo-react-native/android/app/src/main/java/com/example/MainApplication.kt
Owners: @d4vidi, @jonathanmos

Fixed demo app to work with fabric Change the way of getting is fabric enabled
  examples/demo-react-native/android/app/build.gradle
Owners: @d4vidi, @jonathanmos

Fixed proguard to support release builds
  .buildkite/jobs/pipeline.android_rn_75.yml
  detox/android/detox/proguard-rules-app.pro
  detox/scripts/updateGradle.js
Owners: @d4vidi, @noomorph

feat(gmsaas): Utilize 'doctor' command
  detox/src/devices/allocation/drivers/android/genycloud/exec/GenyCloudExec.js
  detox/src/devices/allocation/drivers/android/genycloud/exec/GenyCloudExec.test.js
  detox/src/devices/validation/android/GenycloudEnvValidator.js
  detox/src/devices/validation/android/GenycloudEnvValidator.test.js
  detox/src/devices/validation/android/__snapshots__/GenycloudEnvValidator.test.js.snap
Owners: @d4vidi, @noomorph

Fix support for non-json return values
  detox/src/devices/allocation/drivers/android/genycloud/exec/GenyCloudExec.js
  detox/src/devices/allocation/drivers/android/genycloud/exec/GenyCloudExec.test.js
Owners: @d4vidi, @noomorph

Improve gmsaas executable unit test
  detox/src/devices/allocation/drivers/android/genycloud/exec/GenyCloudExec.test.js
Owners: @d4vidi, @noomorph

Starting using 'gmsaas doctor' command (#4676)
  detox/src/devices/allocation/drivers/android/genycloud/exec/GenyCloudExec.js
  detox/src/devices/allocation/drivers/android/genycloud/exec/GenyCloudExec.test.js
  detox/src/devices/validation/android/GenycloudEnvValidator.js
  detox/src/devices/validation/android/GenycloudEnvValidator.test.js
  detox/src/devices/validation/android/__snapshots__/GenycloudEnvValidator.test.js.snap
Owners: @d4vidi, @noomorph

Updated gradle wrapper version
  detox/scripts/updateGradle.js
Owners: @d4vidi, @noomorph

Changed pipeline names
  .buildkite/jobs/pipeline.android_demo_app_rn_76.yml
  .buildkite/jobs/pipeline.android_rn_73.yml
  .buildkite/jobs/pipeline.android_rn_75.yml
  .buildkite/jobs/pipeline.android_rn_76.yml
Owners: @d4vidi

Changed pipeline names
  .buildkite/jobs/pipeline.android_demo_app_rn_76.yml
  .buildkite/jobs/pipeline.android_rn_73.yml
  .buildkite/jobs/pipeline.android_rn_75.yml
  .buildkite/jobs/pipeline.android_rn_76.yml
Owners: @d4vidi

Fixed scripts to support rn 73
  detox/scripts/updateGradle.js
  scripts/change_react_native_version.js
Owners: @d4vidi, @noomorph

test(ios): remove example native tests.
  detox/test/ios/example.xcodeproj/project.pbxproj
  detox/test/ios/exampleTests/Info.plist
  detox/test/ios/exampleTests/exampleTests.m
Owners: @asafkorem

test(app): create new iOS project from template.
  detox/test/ios/.xcode.env
  detox/test/ios/Podfile
  detox/test/ios/example.xcodeproj/project.pbxproj
  detox/test/ios/example.xcodeproj/xcshareddata/xcschemes/example.xcscheme
  detox/test/ios/example/AppDelegate.h
  detox/test/ios/example/AppDelegate.mm
  detox/test/ios/example/Images.xcassets/AppIcon.appiconset/Contents.json
  detox/test/ios/example/Images.xcassets/Contents.json
  detox/test/ios/example/Info.plist
  detox/test/ios/example/LaunchScreen.storyboard
  detox/test/ios/example/PrivacyInfo.xcprivacy
  detox/test/ios/example/main.m
  detox/test/ios/exampleTests/Info.plist
  detox/test/ios/exampleTests/exampleTests.m
Owners: @asafkorem, @d4vidi

feat(iOS): support new `RCTScrollViewComponentView`.
  detox/ios/Detox/Invocation/Element.swift
Owners: @asafkorem

fix(ios): remove `RCT_NEW_ARCH_ENABLED` assignment from Podfile.
  detox/test/ios/Podfile
Owners: @asafkorem

refactor(iOS): `AppDelegate` extensions.
  detox/test/ios/AppDelegate Extensions/AppDelegate+Notifications.swift
  detox/test/ios/AppDelegate Extensions/AppDelegate+Shake.swift
  detox/test/ios/AppDelegate.swift
  detox/test/ios/UI/InAppNotificationView.swift
  detox/test/ios/example.xcodeproj/project.pbxproj
Owners: @asafkorem

test(ios): add background modes capabilities.
  detox/test/ios/example.xcodeproj/project.pbxproj
  detox/test/ios/example/Info.plist
  detox/test/ios/example/example.entitlements
Owners: @asafkorem, @d4vidi

fix(ios): support new `RCTParagraphComponentView` component.
  detox/ios/Detox/Invocation/Predicate.swift
  detox/ios/Detox/Utilities/NSObject+DontCrash.m
Owners: @asafkorem

test(ios): add `NativeModule`.
  detox/test/ios/ReactModules/NativeModule.h
  detox/test/ios/ReactModules/NativeModule.mm
  detox/test/ios/example.xcodeproj/project.pbxproj
Owners: @asafkorem

chore: update detox-copilot cache.
  detox/test/detox_copilot_cache.json
Owners: @d4vidi

test(ios): update Podfile with dependencies.
  detox/test/ios/Podfile
Owners: @asafkorem

test(ios): enable upside-down rotation.
  detox/test/ios/example/Info.plist
Owners: @asafkorem

feat(ios): support new-arch's `RCTParagraphComponentView`.
  detox/ios/Detox/Invocation/Predicate.swift
  detox/ios/Detox/Utilities/NSObject+DontCrash.m
Owners: @asafkorem

fix: support background searchable items.
  detox/test/ios/AppDelegate Extensions/AppDelegate+ApplicationState.swift
  detox/test/ios/AppDelegate Extensions/AppDelegate+Linking.swift
  detox/test/ios/AppDelegate Extensions/AppDelegate+Notifications.swift
  detox/test/ios/AppDelegate Extensions/AppDelegate+OverlayView.swift
  detox/test/ios/AppDelegate.swift
  detox/test/ios/UI/OverlayMessageView.swift
  detox/test/ios/example.xcodeproj/project.pbxproj
Owners: @asafkorem

chore(ios): add manual test env vars for debugging.
  detox/test/ios/example.xcodeproj/xcshareddata/xcschemes/example.xcscheme
Owners: @asafkorem

test: update image snapshot tests.
  detox/test/e2e/assets/elementScreenshot.horiz.ios.png
  detox/test/e2e/assets/elementScreenshot.vert.ios.png
Owners: @d4vidi

feat(ios): support React Native new arch app-reloading.
  detox/ios/Detox/Utilities/ReactNativeSupport/ReactNativeSupport.m
Owners: @asafkorem

chore(ios): update git to ignore generated files.
  .gitignore
Owners: @d4vidi

test(ios): fix test-app Podfile.
  detox/test/ios/Podfile
  detox/test/ios/example.xcodeproj/project.pbxproj
Owners: @asafkorem

test(ios): link Detox framework with project.
  detox/test/ios/example.xcodeproj/project.pbxproj
Owners: @asafkorem

test: enable new arch from the Podfile.
  detox/test/ios/Podfile
  detox/test/ios/example.xcodeproj/project.pbxproj
Owners: @asafkorem

test(app): remove old iOS code.
  detox/test/ios-old/.xcode.env
  detox/test/ios-old/Podfile
  detox/test/ios-old/example.xcodeproj/project.pbxproj
  detox/test/ios-old/example.xcodeproj/xcshareddata/xcschemes/example.xcscheme
  detox/test/ios-old/example.xcodeproj/xcshareddata/xcschemes/example_ci.xcscheme
  detox/test/ios-old/example/AppDelegate.h
  detox/test/ios-old/example/AppDelegate.m
  detox/test/ios-old/example/Base.lproj/LaunchScreen.xib
  detox/test/ios-old/example/CustomKeyboardViewController.h
  detox/test/ios-old/example/CustomKeyboardViewController.m
  detox/test/ios-old/example/Images.xcassets/AppIcon.appiconset/Contents.json
  detox/test/ios-old/example/Info.plist
  detox/test/ios-old/example/NativeModule.h
  detox/test/ios-old/example/NativeModule.m
  detox/test/ios-old/example/PrivacyInfo.xcprivacy
  detox/test/ios-old/example/example.entitlements
  detox/test/ios-old/example/main.m
  detox/test/ios-old/exampleUITests/Info.plist
  detox/test/ios-old/exampleUITests/exampleUITests.m
  detox/test/ios-old/example_ci.entitlements
Owners: @d4vidi, @asafkorem

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem
