Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem

Update all react native versions
  scripts/change_all_react_native_versions.sh
  scripts/ci.android-release.js
  scripts/ci.sh
Owners: @d4vidi, @noomorph

Fixed build
  scripts/ci.android-release.js
Owners: @d4vidi, @noomorph

Fix build
  scripts/ci.android-release.js
Owners: @d4vidi, @noomorph

Fixed artifacts collection
  scripts/utils/releaseArgs.js
Owners: @d4vidi, @noomorph

Added logs
  scripts/utils/releaseArgs.js
Owners: @d4vidi, @noomorph

Revert "Fixed artifacts collection"
  scripts/utils/releaseArgs.js
Owners: @d4vidi, @noomorph

Revert "Added logs"
  scripts/utils/releaseArgs.js
Owners: @d4vidi, @noomorph

Support multiple archives
  scripts/utils/releaseArgs.js
Owners: @d4vidi, @noomorph

Don't remove archives
  scripts/utils/releaseArgs.js
Owners: @d4vidi, @noomorph

Remove files during build
  scripts/utils/releaseArgs.js
Owners: @d4vidi, @noomorph

Don't remove
  scripts/utils/releaseArgs.js
Owners: @d4vidi, @noomorph

download unzipped artifacts
  scripts/utils/releaseArgs.js
Owners: @d4vidi, @noomorph

Create folder for artifacts
  scripts/utils/releaseArgs.js
Owners: @d4vidi, @noomorph

Fixed extraction path
  scripts/utils/releaseArgs.js
Owners: @d4vidi, @noomorph

Release legacy aar (#4390)
  .buildkite/jobs/pipeline.android_demo_app_rn_71.yml
  .buildkite/pipeline.release.fast.yml
  .buildkite/pipeline_common.sh
  detox/android/detox/publishing.gradle
  scripts/change_all_react_native_versions.sh
  scripts/ci.android-release.js
  scripts/ci.sh
  scripts/utils/releaseArgs.js
Owners: @d4vidi, @noomorph, @jonathanmos

Fixed publish task
  .buildkite/pipeline_common.sh
Owners: @d4vidi, @noomorph

Publish 20.18.5 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  generation/package.json
  lerna.json
  package.json
Owners: @d4vidi

Publish docs version 20.x
  website/versioned_docs/version-20.x/guide/android-dev-env.md
Owners: @d4vidi

test(e2e): extract snapshot util.
  detox/test/e2e/26.element-screenshots.test.js
  detox/test/e2e/29.webview.v2.test.js
  detox/test/e2e/assets/focus-on-input-webview.ios.png
  detox/test/e2e/assets/move-cursor-to-end-webview.ios.png
  detox/test/e2e/assets/select-all-text-in-webview.ios.png
  detox/test/e2e/utils/snapshot.js
Owners: @d4vidi, @noomorph

iOS(WebJSCodeBuilder): initial commit.
  detox/ios/Detox/Invocation/WebJSCodeBuilder.swift
Owners: @asafkorem

feat(ios, WKWebView): add OS logs.
  detox/ios/Detox/Invocation/WKWebView+evaluateJSAfterLoading.swift
Owners: @asafkorem

feat(ios, webviews): make runscript work.
  detox/ios/Detox/Invocation/WebAction.swift
  detox/ios/Detox/Invocation/WebExpectation.swift
  detox/ios/Detox/Invocation/WebJSCodeBuilder.swift
  detox/test/e2e/29.webview.test.js
Owners: @asafkorem, @d4vidi, @noomorph

refactor(ios, webview): extract findView method.
  detox/ios/Detox.xcodeproj/project.pbxproj
  detox/ios/Detox/Invocation/WKWebView+findView.swift
  detox/ios/Detox/Invocation/WebAction.swift
  detox/ios/Detox/Invocation/WebExpectation.swift
Owners: @asafkorem

fix(ios): handle async actions on web-view expectation JS evaluation.
  detox/ios/Detox/Invocation/WebExpectation.swift
  detox/ios/Detox/Invocation/WebJSCodeBuilder.swift
Owners: @asafkorem

feat(webviews): add trace descriptions.
  detox/src/utils/invocationTraceDescriptions.js
Owners: @d4vidi, @noomorph

docs(web-views): improve and update (iOS support).
  docs/api/webviews.md
Owners: @d4vidi

refactor(ios): introduce web action creation methods.
  detox/ios/Detox.xcodeproj/project.pbxproj
  detox/ios/Detox/Invocation/WebCodeBuilder+createFocusAction.swift
  detox/ios/Detox/Invocation/WebCodeBuilder+createGetTextAction.swift
  detox/ios/Detox/Invocation/WebCodeBuilder+createGetTitleAction.swift
  detox/ios/Detox/Invocation/WebCodeBuilder+createGetURLAction.swift
  detox/ios/Detox/Invocation/WebCodeBuilder+createMoveCursorToEndAction.swift
  detox/ios/Detox/Invocation/WebCodeBuilder+createRunScriptAction.swift
  detox/ios/Detox/Invocation/WebCodeBuilder+createScrollIntoViewAction.swift
  detox/ios/Detox/Invocation/WebCodeBuilder+createSelectAllTextAction.swift
  detox/ios/Detox/Invocation/WebCodeBuilder+createTapAction.swift
  detox/ios/Detox/Invocation/WebCodeBuilder+createTypeAction.swift
Owners: @asafkorem

refactor(ios, WebCodeBuilder): use new create methods.
  detox/ios/Detox/Invocation/WebCodeBuilder+createAction.swift
  detox/ios/Detox/Invocation/WebCodeBuilder.swift
Owners: @asafkorem

feat(ios, webview): add tests.
  detox/ios/Detox/Invocation/WebAction.swift
  detox/ios/Detox/Invocation/WebCodeBuilder+createAction.swift
  detox/ios/Detox/Invocation/WebCodeBuilder+createExpectation.swift
  detox/ios/Detox/Invocation/WebCodeBuilder+createSelector.swift
  detox/src/ios/web.js
  detox/test/e2e/29.webview.v2.test.js
  detox/test/src/Screens/WebViewScreenV2.js
  detox/test/src/app.js
Owners: @asafkorem, @d4vidi, @noomorph

test(e2e, webviews): enable on ios.
  detox/test/e2e/29.webview.test.js
Owners: @d4vidi, @noomorph

fix(ios, webview): fix web-view matching with element matcher.
  detox/ios/Detox/Invocation/Element.swift
  detox/ios/Detox/Invocation/WKWebView+Utils.swift
  detox/ios/Detox/Invocation/WebAction.swift
  detox/ios/Detox/Invocation/WebExpectation.swift
  detox/ios/Detox/Invocation/WebJSCodeBuilder.swift
  detox/src/ios/web.js
  detox/test/e2e/29.webview.test.js
Owners: @asafkorem, @d4vidi, @noomorph

feat(ios): add web-view utils for `WKWebView`.
  detox/ios/Detox/Invocation/WKWebView+Utils.swift
Owners: @asafkorem

test(fix e2e): update snapshot.
  detox/test/e2e/assets/select-all-text-in-webview.ios.png
Owners: @d4vidi

docs(webviews): clarify android-only limitations.
  docs/api/webviews.md
Owners: @d4vidi

feat(iOS): make web-view interaction work.
  detox/ios/Detox/Invocation/WebExpectation.swift
  detox/ios/Detox/Invocation/WebJSCodeBuilder.swift
Owners: @asafkorem

test(e2e): extract common code.
  detox/test/e2e/29.webview.v2.test.js
Owners: @d4vidi, @noomorph

test(e2e): enable webview tests on iOS.
  detox/test/e2e/29.webview.test.js
  detox/test/src/app.js
Owners: @d4vidi, @noomorph

fix(ios, webview): fix type text.
  detox/ios/Detox/Invocation/WebCodeBuilder+createAction.swift
Owners: @asafkorem

refactor(ios, webview): extract methods.
  detox/ios/Detox.xcodeproj/project.pbxproj
  detox/ios/Detox/Invocation/WKWebView+findView.swift
  detox/ios/Detox/Invocation/WebAction.swift
  detox/ios/Detox/Invocation/WebCodeBuilder+createAction.swift
  detox/ios/Detox/Invocation/WebCodeBuilder+createExpectation.swift
  detox/ios/Detox/Invocation/WebCodeBuilder+createSelector.swift
  detox/ios/Detox/Invocation/WebCodeBuilder.swift
  detox/ios/Detox/Invocation/WebExpectation.swift
  detox/ios/Detox/Invocation/WebJSCodeBuilder.swift
Owners: @asafkorem

fix(ios, webview): improve element-not-found error.
  detox/ios/Detox/Invocation/WebJSCodeBuilder.swift
Owners: @asafkorem
