Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem

add phases
  .buildkite/pipeline_common.sh
Owners: @d4vidi, @noomorph

fix(android): Revert used kotlin ver due to compat. issues
  detox/android/build.gradle
Owners: @d4vidi, @jonathanmos

fix attempt
  detox/ios/Detox/DetoxManager.swift
Owners: @asafkorem

fix
  detox/ios/Detox/Utilities/WebSocket.swift
Owners: @asafkorem

temp remove all phases (except for ios)
  .buildkite/pipeline_common.sh
Owners: @d4vidi, @noomorph

allow isRegex in predicate message
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/MessagePredicate.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/MessageBuilder.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/MessageSpec.swift
Owners: @asafkorem

fix(android): Revert used kotlin ver due to compat. issues (#4128)
  detox/android/build.gradle
Owners: @d4vidi, @jonathanmos

RegExp matching
  detox/ios/Detox/DetoxManager.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/ElementPattern.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/InvokeHandlerSpec.swift
  detox/ios/DetoxTester/DetoxTester/Matchers/XCUIElementQuery/XCUIElementQuery+matching.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor+Message.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor.swift
  detox/ios/DetoxTester/DetoxTester/Unit Tests/Matchers/ElementMatchersTests.swift
  detox/ios/DetoxTester/DetoxTester/Utils/Extensions/String+matchesJSRegex.swift
  detox/ios/DetoxTester/DetoxTesterApp.xcodeproj/project.pbxproj
Owners: @asafkorem

remove testid from text element
  detox/test/src/Screens/MatchersScreen.js
Owners: @d4vidi, @noomorph

element matchers tests fix
  detox/ios/DetoxTester/DetoxTester/Unit Tests/Matchers/ElementMatchersTests.swift
Owners: @asafkorem

Publish 20.11.1 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

probably don't need this? revert if needed
  detox/test/ios/example.xcodeproj/project.pbxproj
Owners: @asafkorem

reverted
  detox/test/ios/example.xcodeproj/project.pbxproj
Owners: @asafkorem

update types
  detox/index.d.ts
Owners: @d4vidi, @noomorph

wip: implement most of API
  detox/src/webdriver/WebDriver.test.js
  detox/src/webdriver/WebDriver.ts
  lerna.json
  packages/client-plugin-ios/errors/DetoxError.js
  packages/client-plugin-ios/errors/DetoxRuntimeError.js
  packages/client-plugin-ios/index.js
  packages/client-plugin-ios/package.json
  packages/client-plugin-ios/utils/assertArgument.js
  packages/client-plugin-ios/utils/dateUtils.js
  packages/client-plugin-ios/utils/invocationTraceDescriptions.js
  packages/client-plugin-ios/utils/isRegExp.js
  packages/client-plugin-ios/utils/logger.js
  packages/client-plugin-ios/utils/traceInvocationCall.js
  packages/client/package.json
  packages/client/src/index.ts
  packages/client/src/matchers/index.ts
  packages/client/src/remote/InvocationManager.ts
  packages/client/src/remote/RemoteDetoxSession.ts
  packages/client/src/remote/RemoteDevice.ts
  packages/client/tsconfig.json
  packages/detox-cli/package.json
Owners: @d4vidi, @noomorph

import
  detox/ios/DetoxTester/DetoxTester/Matchers/XCUIElementQuery/XCUIElementQuery+Error.swift
Owners: @asafkorem

web-views support from JS
  detox/src/ios/expectTwo.js
  detox/src/ios/web.js
  detox/src/utils/invocationTraceDescriptions.js
  detox/test/e2e/29.webview.test.js
  detox/test/src/app.js
Owners: @d4vidi, @noomorph

wip: fixes
  detox/src/webdriver/WebDriver.ts
  packages/client/src/remote/RemoteDetoxSession.ts
  packages/client/src/remote/RemoteDevice.ts
Owners: @d4vidi, @noomorph

some more fixes
  packages/client/src/index.ts
  packages/client/src/remote/RemoteDetoxSession.ts
Owners: @d4vidi, @noomorph

wip: fix errors
  detox/test/package.json
  examples/demo-react-native/package.json
Owners: @d4vidi

add web-view part to messages
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler.xcodeproj/project.pbxproj
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/ActionDelegateProtocol.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/ElementPattern.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/ElementPredicate.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/ElementPredicateModifiers.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/ElementPredicateProtocol.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/ElementPredicateType.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/ExpectationType.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/InvokeHandler.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/Message.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/TargetElement.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/WebAction+name.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/WebAction.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/WebActionDelegateProtocol.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/WebActionType.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/WebExpectation.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/WebExpectationDelegateProtocol.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/WebExpectationType.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/WebPredicate.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/WebPredicateModifiers.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/WebPredicateType.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/WhileMessage.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/ElementPredicate+defaultInstance.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/Message+defaultInstance.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/MessageSpec.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/WhileMessage+defaultInstance.swift
  detox/src/ios/expectTwo.js
  detox/src/ios/web.js
  detox/test/e2e/29.webview.test.js
  detox/test/ios/example.xcodeproj/project.pbxproj
  detox/test/src/Screens/WebViewScreen.js
Owners: @asafkorem, @d4vidi, @noomorph

wip: fix more errors
  detox/src/realms/DetoxPrimaryContext.js
  detox/src/webdriver/WebDriver.js
  detox/test/e2e/jest.config.js
  packages/client/src/remote/RemoteDetoxSession.ts
  packages/runner-jest/testEnvironment/index.js
  packages/runner-jest/testEnvironment/listeners/DetoxCoreListener.js
Owners: @d4vidi, @noomorph

feat(device): listApps() method
  detox/index.d.ts
  detox/src/devices/common/drivers/android/exec/ADB.js
  detox/src/devices/common/drivers/android/exec/ADB.test.js
  detox/src/devices/common/drivers/ios/tools/AppleSimUtils.js
  detox/src/devices/runtime/RuntimeDevice.js
  detox/src/devices/runtime/RuntimeDevice.test.js
  detox/src/devices/runtime/drivers/DeviceDriverBase.js
  detox/src/devices/runtime/drivers/android/AndroidDriver.js
  detox/src/devices/runtime/drivers/android/AndroidDriver.test.js
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.test.js
  detox/test/e2e/06.device.test.js
  detox/test/integration/stub/StubRuntimeDriver.js
  detox/test/types/detox-global-tests.ts
Owners: @d4vidi, @noomorph

fix and disable some phases
  detox/src/webdriver/WebDriver.js
  detox/test/package.json
  packages/client/src/remote/RemoteDetoxSession.ts
  packages/client/tsconfig.json
  scripts/ci.android.sh
Owners: @d4vidi, @noomorph

ci: downgrade iphone
  detox/test/e2e/detox.config.js
Owners: @d4vidi, @noomorph

fix: platform listener
  packages/runner-jest/testEnvironment/index.js
  packages/runner-jest/testEnvironment/listeners/DetoxPlatformFilterListener.js
  packages/runner-jest/testEnvironment/listeners/index.js
Owners: @d4vidi, @noomorph

fix: session cleanup
  packages/client/src/remote/RemoteDetoxSession.ts
Owners: @d4vidi, @noomorph

ci: disable demo projects
  scripts/demo-projects.android.sh
  scripts/demo-projects.ios.sh
Owners: @d4vidi, @noomorph

ci: disable unhappy tests
  scripts/ci.ios.sh
Owners: @d4vidi, @noomorph

temp
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler.xcodeproj/project.pbxproj
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/ElementMatcherProtocol.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/InvokeHandler+Error.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/InvokeHandler.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/WebAction.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/WebElementPattern.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/WebExpectation.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/WebExpectationDelegateProtocol.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/FakeElementMatcher.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/FakeWebActionDelegate.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/FakeWebExpectationDelegate.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/InvalidMessageSpec.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/InvokeHandlerActionSpec.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/InvokeHandlerExpectationSpec.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/InvokeHandlerPredicateSpec.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/InvokeHandlerSpec.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/InvokeHandlerWebActionSpec.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/InvokeHandlerWebExpectationSpec.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/InvokeHandlerWebPredicateSpec.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/InvokeHandlerWhileSpec.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/MessageActionSpec.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/MessageBuilder+action.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/MessageBuilder+expect.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/MessageBuilder+predicate.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/MessageBuilder+webAction.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/MessageBuilder+webExpect.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/MessageBuilder+webPredicate.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/MessageBuilder.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/MessageExpectationSpec.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/MessagePredicateSpec.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/MessageWebActionSpec.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/MessageWebExpectationSpec.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/MessageWebPredicateSpec.swift
Owners: @asafkorem

invoke handler tests
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/InvokeHandlerWebExpectationSpec.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/InvokeHandlerWebPredicateSpec.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/MessageBuilder+webPredicate.swift
Owners: @asafkorem

resolve compilation errors
  detox/ios/DetoxTester/DetoxTester/Matchers/ElementMatcher.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+handleInvoke.swift
  detox/ios/DetoxTester/DetoxTester/Web/WebActionDelegate.swift
  detox/ios/DetoxTester/DetoxTester/Web/WebExpectationDelegate.swift
  detox/ios/DetoxTester/DetoxTesterApp.xcodeproj/project.pbxproj
Owners: @asafkorem

wip
  detox/ios/DetoxTester/DetoxTester/Matchers/ElementMatcher.swift
  detox/ios/DetoxTester/DetoxTesterApp.xcodeproj/project.pbxproj
Owners: @asafkorem

WIP - evaluate JS
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler.xcodeproj/project.pbxproj
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/ElementMatcherProtocol.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/InvokeHandler.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/JSWebViewHandler.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/FakeElementMatcher.swift
  detox/ios/DetoxTester/DetoxTester/Matchers/ElementMatcher.swift
  detox/ios/DetoxTester/DetoxTesterApp.xcodeproj/project.pbxproj
Owners: @asafkorem

Revert "WIP - evaluate JS"
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler.xcodeproj/project.pbxproj
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/ElementMatcherProtocol.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/InvokeHandler.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/JSWebViewHandler.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/FakeElementMatcher.swift
  detox/ios/DetoxTester/DetoxTester/Matchers/ElementMatcher.swift
  detox/ios/DetoxTester/DetoxTesterApp.xcodeproj/project.pbxproj
Owners: @asafkorem

wip
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/InvokeHandler.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/WebActionDelegateProtocol.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/FakeWebActionDelegate.swift
  detox/ios/DetoxTester/DetoxTester/Actions/XCUIElement/XCUIElement+Error.swift
  detox/ios/DetoxTester/DetoxTester/Actions/XCUIElement/XCUIElement+Keyboard.swift
  detox/ios/DetoxTester/DetoxTester/Expectations/XCUIElement/XCUIElement+assertions.swift
  detox/ios/DetoxTester/DetoxTester/Matchers/XCUIElementQuery/XCUIElementQuery+Error.swift
  detox/ios/DetoxTester/DetoxTester/Matchers/XCUIElementQuery/XCUIElementQuery+webMatching.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+handleInvoke.swift
  detox/ios/DetoxTester/DetoxTester/Web/WebActionDelegate.swift
  detox/ios/DetoxTester/DetoxTester/Web/WebExpectationDelegate.swift
  detox/ios/DetoxTester/DetoxTester/Web/XCUIElement/XCUIElement+scrollToView.swift
  detox/ios/DetoxTester/DetoxTesterApp.xcodeproj/project.pbxproj
Owners: @asafkorem

WIP
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/WebActionDelegateProtocol.swift
  detox/ios/DetoxTester/DetoxTester/Matchers/XCUIElementQuery/XCUIElementQuery+webMatching.swift
  detox/ios/DetoxTester/DetoxTester/Unit Tests/Actions/WebViewTests.swift
  detox/ios/DetoxTester/DetoxTester/Utils/Extensions/XCUIElement+isVisible.swift
  detox/ios/DetoxTester/DetoxTester/Utils/Extensions/XCUIElement+screenshotData.swift
  detox/ios/DetoxTester/DetoxTester/Web/WebActionDelegate.swift
  detox/ios/DetoxTester/DetoxTester/Web/XCUIElement/XCUIElement+scrollToView.swift
  detox/ios/DetoxTester/DetoxTesterApp.xcodeproj/project.pbxproj
  detox/ios/DetoxTester/DetoxTesterApp/Actions Screens/Web/WebScreen.storyboard
  detox/ios/DetoxTester/DetoxTesterApp/Actions Screens/Web/WebViewController.swift
  detox/ios/DetoxTester/DetoxTesterApp/MenuViewController.swift
Owners: @asafkorem, @d4vidi

wip
  detox/index.d.ts
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/WebElementPattern.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/WebPredicateType.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/InvokeHandlerWebPredicateSpec.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/MessageBuilder+webPredicate.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/MessageWebPredicateSpec.swift
  detox/ios/DetoxTester/DetoxTester/Matchers/XCUIElementQuery/XCUIElementQuery+webMatching.swift
  detox/ios/DetoxTester/DetoxTester/Unit Tests/Actions/WebViewTests.swift
  detox/ios/DetoxTester/DetoxTester/Web/WebActionDelegate.swift
  detox/ios/DetoxTester/DetoxTesterApp/Actions Screens/Web/WebViewController.swift
  detox/src/android/AndroidExpect.test.js
  detox/src/android/matchers/index.js
  detox/src/android/matchers/web.js
  detox/test/e2e/29.webview.android.test.js
  detox/test/e2e/29.webview.ios.test.js
  docs/api/webviews.md
Owners: @d4vidi, @noomorph, @asafkorem

improved matchers
  detox/ios/DetoxTester/DetoxTester/Matchers/XCUIElementQuery/XCUIElementQuery+webMatching.swift
  detox/ios/DetoxTester/DetoxTester/Unit Tests/Actions/WebViewTests.swift
  detox/ios/DetoxTester/DetoxTesterApp/Actions Screens/Web/WebViewController.swift
Owners: @asafkorem

fix(iOS): add workaround for building with Xcode 15.
  detox/test/ios/Podfile
Owners: @asafkorem
