Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

feat: remove ios.none device type
  detox/index.d.ts
  detox/package.json
  detox/src/configuration/composeAppsConfig.js
  detox/src/configuration/composeAppsConfig.test.js
  detox/src/configuration/composeDeviceConfig.js
  detox/src/configuration/composeDeviceConfig.test.js
  detox/src/configuration/utils/deviceAppTypes.js
  detox/src/devices/allocation/drivers/NoneAllocDriver.js
  detox/src/devices/allocation/factories/index.js
  detox/src/devices/allocation/factories/none.js
  detox/src/devices/runtime/drivers/index.js
  detox/src/devices/runtime/drivers/ios/IosDriver.js
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
  detox/src/devices/runtime/factories/ios.js
  detox/src/environmentFactory.js
  detox/src/environmentFactory.test.js
  detox/src/errors/DetoxConfigErrorComposer.test.js
  detox/src/errors/__snapshots__/DetoxConfigErrorComposer.test.js.snap
  detox/test/e2e/detox.config.js
  docs/APIRef.Configuration.md
  examples/demo-react-native/detox.config.js
Owners: @d4vidi, @noomorph

feat: drop device.appLaunchArgs [options] argument (#3360)
  detox/index.d.ts
  detox/src/devices/runtime/utils/LaunchArgsEditor-deprecation.test.js
  detox/src/devices/runtime/utils/LaunchArgsEditor.js
  detox/src/devices/runtime/utils/LaunchArgsEditor.test.js
  detox/src/devices/runtime/utils/Storage.js
  detox/src/devices/runtime/utils/__snapshots__/LaunchArgsEditor.test.js.snap
  detox/test/e2e/22.launch-args.test.js
  detox/test/types/detox-global-tests.ts
Owners: @d4vidi, @noomorph

feat: undeprecate device.relaunchApp()
  detox/index.d.ts
  detox/src/devices/runtime/RuntimeDevice.js
  detox/test/types/detox-module-tests.ts
  docs/APIRef.DeviceObjectAPI.md
Owners: @d4vidi, @noomorph

chore: clean up old DetoxCircus typing
  detox/index.d.ts
Owners: @d4vidi, @noomorph

docs(android-setup): Ref blogpost in test-butler section
  docs/Introduction.Android.md
Owners: @d4vidi

Fix lint errors
  detox/src/devices/common/drivers/android/exec/ADB.js
  detox/src/devices/common/drivers/android/tools/HashFileXfer.js
  detox/src/devices/common/drivers/android/tools/HashHelper.js
  detox/src/devices/common/drivers/android/tools/HashHelper.test.js
  detox/src/servicelocator/android/index.js
Owners: @d4vidi, @noomorph

feat(config): remove legacy dash-based props
  detox/src/configuration/composeRunnerConfig.js
  detox/src/configuration/composeRunnerConfig.test.js
Owners: @d4vidi, @noomorph

ci(github-actions): enable docs and rapid-test flows for the next branch
  .github/workflows/docs.yml
  .github/workflows/rapid-test.yml
Owners: @d4vidi

feat(android): remove deprecated native IdlePolicyConfig (#3332)
  detox/android/detox/src/full/java/com/wix/detox/Detox.java
  detox/android/detox/src/full/java/com/wix/detox/NotificationDataParser.kt
Owners: @d4vidi, @jonathanmos

chore: add .editorconfig
  .editorconfig
Owners: @d4vidi

feat(iOS): support --headless config (#3304)
  detox/src/configuration/composeDeviceConfig.js
  detox/src/configuration/composeDeviceConfig.test.js
  detox/src/devices/allocation/drivers/ios/SimulatorLauncher.js
  detox/src/devices/allocation/drivers/ios/SimulatorLauncher.test.js
  detox/src/devices/common/drivers/DeviceLauncher.js
  detox/src/devices/common/drivers/ios/tools/AppleSimUtils.js
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.test.js
  detox/src/devices/runtime/factories/ios.js
  detox/test/package.json
  docs/APIRef.Configuration.md
  examples/demo-react-native-jest/package.json
  examples/demo-react-native/package.json
Owners: @d4vidi, @noomorph

feat: set minimal Node requirement to 12+
  detox/package.json
  detox/test/package.json
Owners: @d4vidi

feat(config): drop default "e2e" value for specs (#3289)
  detox/local-cli/templates/jest.js
  detox/local-cli/test.js
  detox/local-cli/test.test.js
  detox/src/configuration/composeRunnerConfig.js
  detox/src/configuration/composeRunnerConfig.test.js
Owners: @d4vidi, @noomorph

docs: update Xcode debugging guide (#3326)
  docs/Guide.DebuggingInAndroidStudio.md
  docs/Guide.DebuggingInXcode.md
  docs/img/xcode/drag-src-to-project.png
  docs/img/xcode/edit-schema-arguments.png
  docs/img/xcode/embed-detox-project.png
  docs/img/xcode/extracted-ios-src.png
  docs/img/xcode/launch-app-with-debugger.png
  docs/img/xcode/putting-a-breakpoint.png
Owners: @d4vidi

feat: drop old Jest integrations
  detox/index.d.ts
  detox/local-cli/templates/jest.js
  detox/runners/jest-circus/index.js
  detox/runners/jest-circus/listeners/DetoxCoreListener.js
  detox/runners/jest-circus/listeners/SpecReporter.js
  detox/runners/jest-circus/listeners/WorkerAssignReporter.js
  detox/runners/jest-circus/reporter.js
  detox/runners/jest-circus/reporters/DetoxReporter.js
  detox/runners/jest-circus/reporters/DetoxStreamlineJestReporter.js
  detox/runners/jest-circus/reporters/FailingTestsReporter.js
  detox/runners/jest-circus/utils/getFullTestName.js
  detox/runners/jest-circus/utils/hasTimedOut.js
  detox/runners/jest-circus/utils/index.js
  detox/runners/jest-circus/utils/stdout.js
  detox/runners/jest/DetoxAdapterCircus.js
  detox/runners/jest/DetoxAdapterImpl.js
  detox/runners/jest/DetoxAdapterJasmine.js
  detox/runners/jest/JestCircusEnvironment.js
  detox/runners/jest/SpecReporterCircus.js
  detox/runners/jest/SpecReporterJasmine.js
  detox/runners/jest/WorkerAssignReporterCircus.js
  detox/runners/jest/WorkerAssignReporterImpl.js
  detox/runners/jest/WorkerAssignReporterJasmine.js
  detox/runners/jest/adapter.js
  detox/runners/jest/assignReporter.js
  detox/runners/jest/deprecation.js
  detox/runners/jest/runnerInfo.js
  detox/runners/jest/specReporter.js
  detox/runners/jest/streamlineReporter.js
  detox/test/e2e-unhappy/detox-init-timeout/config.js
  detox/test/e2e-unhappy/detox-init-timeout/environment.js
  detox/test/e2e-unhappy/detox-init-timeout/jest-circus/config.js
  detox/test/e2e-unhappy/detox-init-timeout/jest-jasmine/init.js
  detox/test/e2e/config-jasmine.js
  detox/test/e2e/init-jasmine.js
  detox/test/scripts/ci_unhappy.sh
  examples/demo-plugin/e2e/config.json
  examples/demo-plugin/e2e/environment.js
  examples/demo-plugin/e2e/init.js
Owners: @d4vidi, @noomorph

feat(config): drop skipLegacyWorkersInjection (#3286)
  detox/index.d.ts
  detox/local-cli/init.js
  detox/local-cli/test.js
  detox/local-cli/test.test.js
  detox/src/configuration/composeRunnerConfig.js
  detox/test/e2e/detox.config.js
  detox/test/types/detox-jest-circus-setup-tests.ts
  docs/Guide.Jest.md
Owners: @d4vidi, @noomorph

feat(config): remove legacy dash-based props (#3371)
  detox/src/configuration/composeRunnerConfig.js
  detox/src/configuration/composeRunnerConfig.test.js
Owners: @d4vidi, @noomorph

feat: undeprecate device.relaunchApp() (#3362)
  detox/index.d.ts
  detox/src/devices/runtime/RuntimeDevice.js
  detox/test/types/detox-module-tests.ts
  docs/APIRef.DeviceObjectAPI.md
Owners: @d4vidi, @noomorph

chore: remove dead code
  detox/src/utils/sh.js
  detox/src/utils/sh.test.js
Owners: @d4vidi, @noomorph

feat: remove ios.none device type (#3361)
  detox/index.d.ts
  detox/package.json
  detox/src/configuration/composeAppsConfig.js
  detox/src/configuration/composeAppsConfig.test.js
  detox/src/configuration/composeDeviceConfig.js
  detox/src/configuration/composeDeviceConfig.test.js
  detox/src/configuration/utils/deviceAppTypes.js
  detox/src/devices/allocation/drivers/NoneAllocDriver.js
  detox/src/devices/allocation/factories/index.js
  detox/src/devices/allocation/factories/none.js
  detox/src/devices/runtime/drivers/index.js
  detox/src/devices/runtime/drivers/ios/IosDriver.js
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
  detox/src/devices/runtime/factories/ios.js
  detox/src/environmentFactory.js
  detox/src/environmentFactory.test.js
  detox/src/errors/DetoxConfigErrorComposer.test.js
  detox/src/errors/__snapshots__/DetoxConfigErrorComposer.test.js.snap
  detox/test/e2e/detox.config.js
  docs/APIRef.Configuration.md
  examples/demo-react-native/detox.config.js
Owners: @d4vidi, @noomorph

feat: drop device.appLaunchArgs [options] argument (#3360)
  detox/index.d.ts
  detox/src/devices/runtime/utils/LaunchArgsEditor-deprecation.test.js
  detox/src/devices/runtime/utils/LaunchArgsEditor.js
  detox/src/devices/runtime/utils/LaunchArgsEditor.test.js
  detox/src/devices/runtime/utils/Storage.js
  detox/src/devices/runtime/utils/__snapshots__/LaunchArgsEditor.test.js.snap
  detox/test/e2e/22.launch-args.test.js
  detox/test/types/detox-global-tests.ts
Owners: @d4vidi, @noomorph

chore: remove deprecated [userParams] arg from detox.init()
  detox/index.d.ts
  detox/src/configuration/composeBehaviorConfig.js
  detox/src/configuration/composeBehaviorConfig.test.js
  detox/src/configuration/index.js
  detox/src/configuration/index.test.js
Owners: @d4vidi, @noomorph

feat(android): boot read-only emulators by default
  detox/index.d.ts
  detox/src/devices/common/drivers/android/emulator/exec/EmulatorExec.js
  detox/src/errors/DetoxRuntimeError.js
  detox/test/e2e/detox.config.js
  docs/APIRef.Configuration.md
  docs/Guide.Jest.md
Owners: @d4vidi, @noomorph

docs: clarify about test runners
  .github/ISSUE_TEMPLATE/BUG_REPORT_ANDROID.yml
  .github/ISSUE_TEMPLATE/BUG_REPORT_IOS.yml
  .github/ISSUE_TEMPLATE/BUG_REPORT_OTHER.yml
  .github/ISSUE_TEMPLATE/HELP_WITH_USING_DETOX.yml
  README.md
  detox/local-cli/utils/testCommandArgs.js
  docs/APIRef.DetoxCLI.md
  docs/Guide.ParallelTestExecution.md
  docs/Introduction.Android.md
  docs/Introduction.GettingStarted.md
  website/versioned_docs/version-19.x/APIRef.DetoxCLI.md
Owners: @d4vidi, @noomorph

code: restore IosDriver per request
  detox/src/devices/runtime/drivers/ios/IosDriver.js
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
Owners: @d4vidi, @noomorph

Publish 19.6.7-build.limit-jest-27.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native-jest/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

code: restore IosDriver per request (#3373)
  detox/src/devices/runtime/drivers/ios/IosDriver.js
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
Owners: @d4vidi, @noomorph

docs: clarify about test runners (#3372)
  .github/ISSUE_TEMPLATE/BUG_REPORT_ANDROID.yml
  .github/ISSUE_TEMPLATE/BUG_REPORT_IOS.yml
  .github/ISSUE_TEMPLATE/BUG_REPORT_OTHER.yml
  .github/ISSUE_TEMPLATE/HELP_WITH_USING_DETOX.yml
  README.md
  detox/local-cli/utils/testCommandArgs.js
  docs/APIRef.DetoxCLI.md
  docs/Guide.ParallelTestExecution.md
  docs/Introduction.Android.md
  docs/Introduction.GettingStarted.md
  website/versioned_docs/version-19.x/APIRef.DetoxCLI.md
Owners: @d4vidi, @noomorph

fix: jest@28 compatibility
  detox/runners/jest-circus/environment.js
  detox/runners/jest-circus/utils/assertJestCircus26.js
Owners: @d4vidi, @noomorph

build: remove peerDependencies section
  detox/package.json
Owners: @d4vidi

build: upgrade to Jest 28
  detox/test/package.json
Owners: @d4vidi

Update package.json
  detox/test/package.json
Owners: @d4vidi

fix: peerDependencies metadata and E2Es
  detox/package.json
  detox/test/e2e/29.webview.test.js
  detox/test/e2e/33.attributes.test.js
Owners: @d4vidi, @noomorph

fix: old jest-circus integration
  detox/runners/jest-circus/environment.js
  detox/runners/jest/JestCircusEnvironment.js
Owners: @d4vidi, @noomorph

docs: proof Jest installation step from package-lock.json glitch
  docs/Guide.Jest.md
Owners: @d4vidi

docs: proof Jest installation step
  docs/Guide.Jest.md
Owners: @d4vidi

chore: remove extraneous Jest typings
  detox/test/package.json
Owners: @d4vidi

fix: jest@28 compatibility (#3377)
  detox/package.json
  detox/runners/jest-circus/environment.js
  detox/runners/jest-circus/utils/assertJestCircus26.js
  detox/runners/jest/JestCircusEnvironment.js
  detox/test/e2e/29.webview.test.js
  detox/test/e2e/33.attributes.test.js
  detox/test/package.json
  docs/Guide.Jest.md
Owners: @d4vidi, @noomorph

Publish 19.6.8 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native-jest/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Publish docs version 19.x
  website/versioned_docs/version-19.x/Guide.Jest.md
  website/versioned_docs/version-19.x/Introduction.Android.md
Owners: @d4vidi

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem
