Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem

docs: fix `system` expectations usage examples.
  docs/api/system.md
Owners: @d4vidi

chore: migrate to the new prompt-handler's service.
  detox/test/e2e/copilot/01.copilot.sanity.test.js
  detox/test/e2e/copilot/02.copilot.actions.test.js
  detox/test/e2e/copilot/03.copilot.shape-match.test.js
  detox/test/e2e/copilot/04.webview.test.js
  detox/test/e2e/copilot/05.system.test.js
  detox/test/e2e/copilot/06.waitfor.test.js
  detox/test/e2e/copilot/PromptHandler.js
  detox/test/e2e/utils/PromptHandler.js
  detox/test/e2e/utils/custom-describes.js
Owners: @d4vidi, @noomorph

chore: remove redundant dotenv dependency.
  detox/test/package.json
Owners: @d4vidi

docs(showcase): add new cards
  website/showcase.json
  website/static/img/showcase/Abacus.webp
  website/static/img/showcase/Bumpy.webp
  website/static/img/showcase/DealerCenter.webp
  website/static/img/showcase/Lyrist.webp
  website/static/img/showcase/Qwil.webp
  website/static/img/showcase/Rippling.webp
  website/static/img/showcase/babylonstoren.webp
  website/static/img/showcase/theNewt.webp
Owners: @d4vidi

docs(showcase): change background gradient
  website/showcase.json
  website/src/components/Showcase/Card.js
  website/src/components/Showcase/Card.module.scss
Owners: @d4vidi, @noomorph

docs: Update contribution docs
  docs/contributing/code/building-and-testing.md
  package.json
Owners: @d4vidi

fix(view-hierarchy): rename `testID` attribute with `id`.
  detox/android/detox/src/full/java/com/wix/detox/espresso/hierarchy/ViewHierarchyGenerator.kt
  detox/ios/Detox/Utilities/ViewHierarchyGenerator.swift
  detox/test/e2e/assets/view-hierarchy-web-view.71.android.txt
  detox/test/e2e/assets/view-hierarchy-web-view.71.ios.txt
  detox/test/e2e/assets/view-hierarchy-web-view.73.android.txt
  detox/test/e2e/assets/view-hierarchy-web-view.73.ios.txt
  detox/test/e2e/assets/view-hierarchy-with-test-id-injection.71.android.txt
  detox/test/e2e/assets/view-hierarchy-with-test-id-injection.71.ios.txt
  detox/test/e2e/assets/view-hierarchy-with-test-id-injection.73.android.txt
  detox/test/e2e/assets/view-hierarchy-with-test-id-injection.73.ios.txt
Owners: @d4vidi, @jonathanmos, @asafkorem

test(e2e): update view-hierarchy tests snapshot.
  detox/test/e2e/assets/view-hierarchy-web-view.71.ios.txt
  detox/test/e2e/assets/view-hierarchy-web-view.73.ios.txt
  detox/test/e2e/assets/view-hierarchy-with-test-id-injection.71.ios.txt
  detox/test/e2e/assets/view-hierarchy-with-test-id-injection.73.ios.txt
Owners: @d4vidi

test(e2e): add failing test, can't reproduce consecutive xml for webviews.
  detox/test/e2e/06.device.view-hierarchy.test.js
Owners: @d4vidi, @noomorph

fix(iOS): avoid duplicated declaration error on consecutive xml generation.
  detox/ios/Detox/Utilities/ViewHierarchyGenerator.swift
Owners: @asafkorem

fix(iOS): wait for webview to load before injecting JS to extract html.
  detox/ios/Detox/Utilities/ViewHierarchyGenerator.swift
Owners: @asafkorem

fix(android): avoid duplicated declaration error on consecutive xml generation.
  detox/android/detox/src/full/java/com/wix/detox/espresso/hierarchy/ViewHierarchyGenerator.kt
Owners: @d4vidi, @jonathanmos

test(e2e): improve test-app homepage links separator style.
  detox/test/src/app.js
Owners: @d4vidi, @noomorph

chore(copilot): migrate to a new prompt-handler service.
  detox/test/e2e/copilot/01.copilot.sanity.test.js
  detox/test/e2e/copilot/02.copilot.actions.test.js
  detox/test/e2e/copilot/03.copilot.shape-match.test.js
  detox/test/e2e/copilot/04.webview.test.js
  detox/test/e2e/copilot/05.system.test.js
  detox/test/e2e/copilot/06.waitfor.test.js
  detox/test/e2e/copilot/PromptHandler.js
  detox/test/e2e/utils/PromptHandler.js
  detox/test/e2e/utils/custom-describes.js
  detox/test/package.json
Owners: @d4vidi, @noomorph

fix(copilot): improve the Copilot driver.
  detox/src/copilot/detoxCopilotFrameworkDriver.js
Owners: @d4vidi, @noomorph

test(e2e): update copilot cache.
  detox/test/detox_copilot_cache.json
Owners: @d4vidi

chore(deps): upgrade `detox-copilot`.
  detox/package.json
Owners: @d4vidi

test(copilot): skip on CI environment.
  detox/test/e2e/utils/custom-describes.js
Owners: @d4vidi, @noomorph

Publish 20.27.4 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Publish docs version 20.x
  website/versioned_docs/version-20.x/api/system.md
  website/versioned_docs/version-20.x/contributing/code/building-and-testing.md
Owners: @d4vidi

Increase webview interaction timeout
  detox/android/detox/src/full/java/com/wix/detox/espresso/web/WebElement.java
Owners: @d4vidi, @jonathanmos

Publish 20.27.5 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

fix(iOS): clamp Double values before converting to Integer.
  detox/ios/Detox/Utilities/ViewHierarchyGenerator.swift
Owners: @asafkorem

chore: remove leftover comment from #4621.
  detox/ios/Detox/Utilities/ViewHierarchyGenerator.swift
Owners: @asafkorem

Publish 20.27.6 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

chore: Add yalc to git ignore
  .gitignore
Owners: @d4vidi

Use alternative selector script
  detox/android/detox/src/full/java/com/wix/detox/espresso/web/DetoxDriverAtoms.java
  detox/android/detox/src/full/java/com/wix/detox/espresso/web/DetoxWebAtomMatcher.java
  detox/android/detox/src/full/java/com/wix/detox/espresso/web/WebElement.java
Owners: @d4vidi, @jonathanmos

Use alternative selector script
  detox/android/detox/src/full/java/com/wix/detox/espresso/web/DetoxDriverAtoms.java
Owners: @d4vidi, @jonathanmos

Publish 20.27.7-smoke.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

test(e2e): Add assertions test suite for copilot
  detox/test/e2e/copilot/07.copilot.assertions.test.js
  detox/test/src/Screens/AssertionsScreen.js
Owners: @d4vidi, @noomorph

test(e2e): Add visibility test suite for copilot
  detox/test/e2e/copilot/10.copilot.visibility.test.js
Owners: @d4vidi, @noomorph

build: Change detox-copilot version
  detox/package.json
Owners: @d4vidi

chore: Update cache file due to addition of 4 new test suites
  detox/test/detox_copilot_cache.json
Owners: @d4vidi

test(e2e): Add location test suite for copilot
  detox/test/e2e/copilot/08.copilot.location.test.js
Owners: @d4vidi, @noomorph

perf: Improve clarity on Web APIs action usage in detox-copilot driver
  detox/src/copilot/detoxCopilotFrameworkDriver.js
Owners: @d4vidi, @noomorph

test(e2e): Add datepicker test suite for detox-copilot
  detox/test/e2e/copilot/09.copilot.datepicker.test.js
  detox/test/src/Screens/DatePickerScreen.js
Owners: @d4vidi, @noomorph

website: integrate google analytics.
  website/docusaurus.config.js
  website/package.json
Owners: @d4vidi, @noomorph

website: configure gtag manager plugin.
  website/docusaurus.config.js
Owners: @d4vidi, @noomorph

#4537 - Enabled detox butler on demo app
  examples/demo-react-native/detox.config.js
Owners: @d4vidi, @noomorph

feat: add `device.tap` and `device.longPress` actions.
  detox/android/detox/src/full/java/com/wix/detox/espresso/EspressoDetox.java
  detox/android/detox/src/full/java/com/wix/detox/espresso/UiAutomatorHelper.java
  detox/android/detox/src/full/java/com/wix/detox/espresso/matcher/IsDisplayingAtLeastDetoxMatcher.kt
  detox/detox.d.ts
  detox/ios/DetoxXCUITestRunner/DetoxXCUITestRunner/DetoxXCUITestRunner.swift
  detox/ios/DetoxXCUITestRunner/DetoxXCUITestRunner/Extensions/InvocationParams+matcherDescription.swift
  detox/ios/DetoxXCUITestRunner/DetoxXCUITestRunner/Handlers/ActionHandler.swift
  detox/ios/DetoxXCUITestRunner/DetoxXCUITestRunner/Handlers/ExpectationHandler.swift
  detox/ios/DetoxXCUITestRunner/DetoxXCUITestRunner/Handlers/PredicateHandler.swift
  detox/ios/DetoxXCUITestRunner/DetoxXCUITestRunner/Params Reader/InvocationParams.swift
  detox/src/android/espressoapi/EspressoDetox.js
  detox/src/devices/runtime/RuntimeDevice.js
  detox/src/devices/runtime/RuntimeDevice.test.js
  detox/src/devices/runtime/drivers/DeviceDriverBase.js
  detox/src/devices/runtime/drivers/android/AndroidDriver.js
  detox/src/devices/runtime/drivers/android/AndroidDriver.test.js
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
  detox/src/utils/assertArgument.js
  detox/src/utils/invocationTraceDescriptions.js
  detox/src/utils/mapDeviceLongPressArguments.js
  detox/src/utils/mapDeviceLongPressArguments.test.js
  detox/test/e2e/06.device-tap.test.js
  detox/test/src/Screens/DeviceTapScreen.tsx
  detox/test/src/Screens/index.js
  detox/test/src/app.js
  docs/api/device.md
Owners: @d4vidi, @jonathanmos, @noomorph, @asafkorem
