Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

fix: typings for device.setStatusBar (#4192)
  detox/index.d.ts
  detox/src/devices/common/drivers/ios/tools/AppleSimUtils.js
  detox/test/types/detox-global-tests.ts
  docs/api/device.md
  website/versioned_docs/version-20.x/api/device.md
Owners: @d4vidi, @noomorph

Publish 20.12.1 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Publish 20.12.0-smoke.1 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

test: GenyInstanceLauncher
  detox/src/devices/allocation/drivers/android/genycloud/GenyInstanceLauncher.test.js
  detox/src/devices/allocation/drivers/android/genycloud/services/dto/GenyInstance.js
  detox/src/devices/allocation/drivers/android/genycloud/services/dto/GenyRecipe.js
  detox/src/devices/allocation/drivers/android/genycloud/services/dto/GenyRecipe.test.js
Owners: @d4vidi, @noomorph

test: restore coverage
  detox/package.json
  detox/src/devices/allocation/drivers/android/attached/AttachedAndroidAllocDriver.test.js
  detox/src/devices/allocation/drivers/android/emulator/EmulatorAllocDriver.test.js
  detox/src/devices/allocation/drivers/android/emulator/EmulatorLauncher.test.js
  detox/src/devices/allocation/drivers/android/emulator/FreePortFinder.js
  detox/src/devices/allocation/drivers/android/emulator/FreePortFinder.test.js
  detox/src/devices/allocation/drivers/android/genycloud/GenyAllocDriver.test.js
  detox/src/devices/allocation/drivers/android/genycloud/GenyInstanceLauncher.test.js
  detox/src/devices/allocation/drivers/ios/SimulatorAllocDriver.test.js
Owners: @d4vidi, @noomorph

fix: missing Jest summary
  detox/runners/jest/reporters/DetoxReporter.js
Owners: @d4vidi, @noomorph

fix: missing Jest summary (#4199)
  detox/runners/jest/reporters/DetoxReporter.js
Owners: @d4vidi, @noomorph

fix: --bail
  detox/runners/jest/reporters/DetoxReporter.js
  detox/runners/jest/testEnvironment/index.js
  detox/src/ipc/IPCServer.js
  detox/src/ipc/ipc.test.js
  detox/src/realms/DetoxPrimaryContext.js
  detox/src/realms/DetoxSecondaryContext.js
  detox/src/utils/errorUtils.js
  detox/test/integration/bail-test.test.js
Owners: @d4vidi, @noomorph

test: add more logs
  detox/test/integration/bail-test.test.js
Owners: @d4vidi, @noomorph

test: fix ci issue
  detox/test/integration/bail-test.test.js
Owners: @d4vidi, @noomorph

chore: use node 16 for local development
  .npmrc
  .nvmrc
  lerna.json
Owners: @d4vidi

ci(github): use node from .nvmrc
  .editorconfig
  .github/workflows/broken-links-scan.yml
  .github/workflows/docs.yml
  .github/workflows/rapid-test.yml
  .github/workflows/surge-purge.yml
  .github/workflows/website.yml
Owners: @d4vidi

fix(jest): basic --bail support (#4115)
  detox/internals.d.ts
  detox/runners/jest/reporters/DetoxReporter.js
  detox/runners/jest/testEnvironment/index.js
  detox/src/ipc/IPCClient.js
  detox/src/ipc/IPCServer.js
  detox/src/ipc/SessionState.js
  detox/src/ipc/ipc.test.js
  detox/src/realms/DetoxContext.js
  detox/src/realms/DetoxInternalsFacade.js
  detox/src/realms/DetoxPrimaryContext.js
  detox/src/realms/DetoxSecondaryContext.js
  detox/src/realms/symbols.js
  detox/src/utils/errorUtils.js
  detox/test/integration/bail-test.test.js
Owners: @d4vidi, @noomorph

chore: use node 16 for local development (#4201)
  .editorconfig
  .github/workflows/broken-links-scan.yml
  .github/workflows/docs.yml
  .github/workflows/rapid-test.yml
  .github/workflows/surge-purge.yml
  .github/workflows/website.yml
  .npmrc
  .nvmrc
  lerna.json
Owners: @d4vidi

docs: update docs
  detox/local-cli/reset-lock-file.js
  docs/cli/overview.md
  docs/cli/reset-lock-file.md
Owners: @d4vidi, @noomorph

docs: fix doclint
  docs/cli/reset-lock-file.md
Owners: @d4vidi

fix(android): extract material slider value with reflection.
  detox/android/detox/src/full/java/com/wix/detox/espresso/action/AdjustSliderToPositionAction.kt
  detox/android/detox/src/full/java/com/wix/detox/espresso/action/GetAttributesAction.kt
  detox/android/detox/src/full/java/com/wix/detox/espresso/common/MaterialSliderHelper.kt
  detox/android/detox/src/full/java/com/wix/detox/espresso/common/ReactSliderHelper.kt
  detox/android/detox/src/full/java/com/wix/detox/espresso/matcher/ViewMatchers.kt
  detox/android/detox/src/testFull/java/com/wix/detox/espresso/common/MaterialSliderHelperTest.kt
  detox/android/detox/src/testFull/java/com/wix/detox/espresso/common/ReactSliderHelperTest.kt
Owners: @d4vidi, @jonathanmos

fix(MaterialSliderHelper): return null value if view is not a slider.
  detox/android/detox/src/full/java/com/wix/detox/espresso/common/MaterialSliderHelper.kt
Owners: @d4vidi, @jonathanmos

fix(MaterialSliderHelper): return float value, not double.
  detox/android/detox/src/full/java/com/wix/detox/espresso/common/MaterialSliderHelper.kt
  detox/android/detox/src/testFull/java/com/wix/detox/espresso/common/MaterialSliderHelperTest.kt
Owners: @d4vidi, @jonathanmos

build(android): import material package as test-implementation.
  detox/android/detox/build.gradle
Owners: @d4vidi, @jonathanmos

Apply suggestions from code review
  detox/android/detox/src/full/java/com/wix/detox/espresso/action/GetAttributesAction.kt
Owners: @d4vidi, @jonathanmos

Publish 20.12.2 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

test(refactor): extract early-crash code.
  detox/test/index.android.js
  detox/test/registerEarlyCrashIfNeeded.js
Owners: @d4vidi, @noomorph

test(fix, ios): use common register-early-crash method.
  detox/test/index.ios.js
Owners: @d4vidi, @noomorph

docs: add TypeScript guide
  .retext-spell.dic
  docs/api/matchers.md
  docs/guide/typescript.md
  website/sidebars.js
Owners: @d4vidi, @noomorph

fixes
  detox/test/e2e/03.actions-scroll.test.js
  detox/test/src/Screens/AbstractArgsListScreen.js
  detox/test/src/Screens/ActionsScreen.js
  detox/test/src/Screens/AnimationsScreen.js
  detox/test/src/Screens/MatchersScreen.js
  detox/test/src/Screens/WaitForScreen.js
Owners: @d4vidi, @noomorph

wip
  detox/ios/DetoxTester/DetoxTester/Actions/XCUIElement/XCUIElement+tap.swift
Owners: @asafkorem

build: update coverage paths
  detox/package.json
Owners: @d4vidi

Publish 20.13.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Publish docs version 20.x
  website/versioned_docs/version-20.x/api/matchers.md
  website/versioned_docs/version-20.x/cli/overview.md
  website/versioned_docs/version-20.x/cli/reset-lock-file.md
  website/versioned_docs/version-20.x/config/behavior.mdx
  website/versioned_docs/version-20.x/guide/parallel-test-execution.md
  website/versioned_docs/version-20.x/guide/typescript.md
  website/versioned_docs/version-20.x/guide/uninstalling.md
  website/versioned_sidebars/version-20.x-sidebars.json
Owners: @d4vidi

to revert
  detox/test/e2e/03.actions.test.js
Owners: @d4vidi, @noomorph

Revert "to revert"
  detox/test/e2e/03.actions.test.js
Owners: @d4vidi, @noomorph

to revert
  detox/test/e2e/testEnvironment.js
Owners: @d4vidi, @noomorph

fix
  detox/src/devices/runtime/drivers/ios/XCUITestUtils.js
  detox/test/e2e/detox.config.js
Owners: @d4vidi, @noomorph

Adjust crash handler to match AppWillTerminateWithErr msg
  detox/test/e2e/19.crash-handling.test.js
Owners: @d4vidi, @noomorph

Tighten supervised app launch even further
  detox/android/detox/src/full/java/com/wix/detox/DetoxMain.kt
  detox/android/detox/src/full/java/com/wix/detox/adapters/server/DetoxActionHandlers.kt
Owners: @d4vidi, @jonathanmos

Follow-up on issues with a premature isReady
  detox/android/detox/src/full/java/com/wix/detox/DetoxMain.kt
  detox/android/detox/src/full/java/com/wix/detox/adapters/server/DetoxActionHandlers.kt
Owners: @d4vidi, @jonathanmos

Reimplement activity launch seq in a supervised way, log react markers
  detox/android/detox/src/full/java/com/wix/detox/ActivityLaunchHelper.kt
  detox/android/detox/src/full/java/com/wix/detox/Detox.java
  detox/android/detox/src/full/java/com/wix/detox/DetoxMain.kt
  detox/android/detox/src/full/java/com/wix/detox/LaunchIntentsFactory.kt
  detox/android/detox/src/full/java/com/wix/detox/adapters/server/DetoxServerInfo.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/ReactMarkersLogger.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/ReactNativeExtension.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/UiControllerSpy.kt
  detox/src/android/espressoapi/Detox.js
Owners: @d4vidi, @jonathanmos, @noomorph

Follow-up on issues with recent improvements
  detox/android/detox/src/full/java/com/wix/detox/DetoxMain.kt
Owners: @d4vidi, @jonathanmos

Publish 20.14.0-smoke.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem
