Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

docs(website): --global compromise for npm2yarn
  docs/APIRef.DetoxCLI.md
  docs/Guide.Contributing.md
  docs/Guide.Migration.md
  docs/Guide.RunningOnCI.md
  docs/Guide.Uninstalling.md
  docs/Introduction.GettingStarted.md
Owners: @d4vidi

docs: update version 19.x docs.
  website/versioned_docs/version-19.x/APIRef.DetoxCLI.md
  website/versioned_docs/version-19.x/Guide.Contributing.md
  website/versioned_docs/version-19.x/Guide.Migration.md
  website/versioned_docs/version-19.x/Guide.RunningOnCI.md
  website/versioned_docs/version-19.x/Guide.Uninstalling.md
  website/versioned_docs/version-19.x/Introduction.GettingStarted.md
Owners: @d4vidi

fix: logger
  detox/local-cli/testCommand/TestRunnerCommand.js
  detox/src/logger/DetoxLogger.js
  detox/src/realms/DetoxPrimaryContext.js
Owners: @d4vidi, @noomorph

fix: 50 char limitation in BI ecosystem
  detox/runners/jest/testEnvironment/index.js
Owners: @d4vidi, @noomorph

Publish 20.0.6-breaking.new-global-lifecycle.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native-jest/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

docs: update contribution guide with docs-website info.
  docs/Guide.Contributing.md
Owners: @d4vidi

docs: add section titles to the contribution guide.
  docs/Guide.Contributing.md
Owners: @d4vidi

docs: make linter happy.
  docs/Guide.Contributing.md
Owners: @d4vidi

docs: add link to docs website.
  docs/Guide.Contributing.md
Owners: @d4vidi

fix: test env resolution
  detox/runners/jest/testEnvironment/index.js
Owners: @d4vidi, @noomorph

wip: trace reporter delegate
  detox/src/utils/trace.js
Owners: @d4vidi, @noomorph

Explicitly set Detox's (lib) min kotlin version to 1.2.0
  detox/android/build.gradle
  detox/android/detox/build.gradle
  detox/android/detox/publishing.gradle
Owners: @d4vidi, @jonathanmos

Enable force-signing to the aar publishing script
  detox/android/detox/publishing.gradle
Owners: @d4vidi, @jonathanmos

Remove .66 demo-app CI jobs
  .buildkite/jobs/pipeline.android_demo_app_rn_66.yml
  .buildkite/jobs/pipeline.ios_demo_app_rn_66.yml
  .buildkite/pipeline_common.sh
Owners: @d4vidi, @noomorph

Publish 20.0.7-prerelease.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native-jest/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Remove .66 demo-app from debug-CI jobs
  .buildkite/pipeline.debug.yml
Owners: @d4vidi

AAR publishing script: Cosmetics
  detox/android/detox/publishing.gradle
Owners: @d4vidi, @jonathanmos

Apply timing interrogtion suitable for RN ≥62
  detox/android/detox/src/full/java/com/wix/detox/reactnative/ReactNativeIdlingResources.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/timers/DefaultIdleInterrogationStrategy.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/timers/DelegatedIdleInterrogationStrategy.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/timers/IdleInterrogationStrategy.kt
  detox/android/detox/src/testFull/java/com/wix/detox/reactnative/idlingresources/timers/DefaultIdleInterrogationStrategySpec.kt
  detox/android/detox/src/testFull/java/com/wix/detox/reactnative/idlingresources/timers/DelegatedIdleInterrogationStrategySpec.kt
Owners: @d4vidi, @jonathanmos

DetoxCoreListener.js: remove redundant status value.
  detox/runners/jest-circus/listeners/DetoxCoreListener.js
Owners: @d4vidi, @noomorph

Sanitize RN-from-source build branching in gradle scripts (disable for now)
  detox/android/detox/publishing.gradle
  detox/test/android/app/build.gradle
  detox/test/android/build.gradle
  detox/test/android/rninfo.gradle
  detox/test/android/settings.gradle
  detox/test/scripts/ReactAndroid_rn66_build.gradle
  detox/test/scripts/ReactAndroid_rn67_build.gradle
  detox/test/scripts/ReactAndroid_rn68_build.gradle
  detox/test/scripts/postinstall.js
Owners: @d4vidi, @jonathanmos, @noomorph

Cleanse demo project's (Android) build script
  detox/test/android/app/build.gradle
  examples/demo-react-native/android/app/build.gradle
  examples/demo-react-native/android/build.gradle
  examples/demo-react-native/android/rninfo.gradle
Owners: @d4vidi, @jonathanmos

Restore .66 demo-app in CI jobs, for Android
  .buildkite/jobs/pipeline.android_demo_app_rn_66.yml
  .buildkite/pipeline.debug.yml
  .buildkite/pipeline_common.sh
Owners: @d4vidi, @noomorph

Publish 19.12.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native-jest/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Publish docs version 19.x
  website/versioned_docs/version-19.x/Guide.Contributing.md
Owners: @d4vidi

Add logic to send events to delegate
  detox/src/utils/trace.js
  detox/src/utils/trace.test.js
Owners: @d4vidi, @noomorph

fix(cli): forward env overrides anyway
  detox/local-cli/test.test.js
  detox/local-cli/testCommand/TestRunnerCommand.js
Owners: @d4vidi, @noomorph

fix(integration tests): update timeline artifact snapshot.
  detox/test/integration/__snapshots__/timeline-artifact.test.js.snap
Owners: @d4vidi

feat(config): add testRunner.forwardEnv
  detox/index.d.ts
  detox/local-cli/test.js
  detox/local-cli/test.test.js
  detox/local-cli/testCommand/TestRunnerCommand.js
  detox/src/configuration/composeRunnerConfig.js
  detox/src/configuration/composeRunnerConfig.test.js
  detox/src/realms/DetoxPrimaryContext.js
Owners: @d4vidi, @noomorph

Publish 20.0.8-prerelease.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native-jest/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Reimplement TextFileReader.read()
  detox/android/detox/src/main/java/com/wix/detox/common/TextFileReader.kt
Owners: @d4vidi, @jonathanmos

Reimplement TextFileReader.read() (#3590)
  detox/android/detox/src/main/java/com/wix/detox/common/TextFileReader.kt
Owners: @d4vidi, @jonathanmos

Publish 19.12.1-prerelease.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native-jest/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

feat(api): detoxInternals.tracing.createEventStream
  detox/internals.d.ts
  detox/src/logger/utils/streamUtils.js
  detox/src/logger/utils/streamUtils.test.js
  detox/src/realms/DetoxContext.js
  detox/src/realms/DetoxInternalsFacade.js
  detox/src/realms/DetoxPrimaryContext.js
  detox/src/symbols.js
  detox/test/integration/e2e/config.js
  detox/test/integration/e2e/custom-reporter.js
  detox/test/types/detox-internals-tests.ts
Owners: @d4vidi, @noomorph

Publish 19.12.1 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native-jest/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Publish 20.0.9-prerelease.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native-jest/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

fix: improve detox init flow
  detox/local-cli/build.js
  detox/local-cli/init.js
  detox/local-cli/templates/jest.js
  detox/src/logger/DetoxLogger.js
Owners: @d4vidi, @noomorph

fix --retries behavior when environment setup fails
  detox/runners/jest/testEnvironment/index.js
Owners: @d4vidi, @noomorph

Update NetworkFormatter.js (#1)
  detox/src/client/actions/formatters/sync-resources/NetworkFormatter.js
Owners: @d4vidi, @noomorph

test: update snapshots
  detox/src/client/actions/formatters/__snapshots__/SyncStatusFormatter.test.js.snap
Owners: @d4vidi

fix: inconvenient dot near URLs (#3594)
  detox/src/client/actions/formatters/__snapshots__/SyncStatusFormatter.test.js.snap
  detox/src/client/actions/formatters/sync-resources/NetworkFormatter.js
Owners: @d4vidi, @noomorph

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem
