Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem

Create pipelines for RN78. Removed RN76
  .buildkite/jobs/pipeline.android_demo_app_rn_78.yml
  .buildkite/jobs/pipeline.android_rn_78.yml
  .buildkite/jobs/pipeline.ios_demo_app_rn_78.yml
  .buildkite/jobs/pipeline.ios_rn_78.yml
  .buildkite/pipeline_common.sh
Owners: @d4vidi, @noomorph

Create pipelines for RN78. Removed RN76
  .buildkite/jobs/pipeline.ios_rn_76.yml
Owners: @d4vidi

Fixed pipeline creation
  .buildkite/jobs/pipeline.android_demo_app_rn_78.yml
  .buildkite/jobs/pipeline.android_rn_78.yml
  .buildkite/jobs/pipeline.ios_demo_app_rn_78.yml
  .buildkite/jobs/pipeline.ios_rn_78.yml
Owners: @d4vidi

Fixed pipeline creation
  .buildkite/jobs/pipeline.ios_rn_78.yml
Owners: @d4vidi

Fixed pipeline for rn 77
  scripts/change_react_native_version.js
Owners: @d4vidi, @noomorph

Fixe pipeline creation
  .buildkite/jobs/pipeline.ios_demo_app_rn_78.yml
Owners: @d4vidi

Updated gradle
  detox/test/android/gradle/wrapper/gradle-wrapper.properties
  examples/demo-react-native/android/gradle/wrapper/gradle-wrapper.properties
Owners: @d4vidi

Fixed react version upgrade
  scripts/change_react_native_version.js
Owners: @d4vidi, @noomorph

Fixed react version upgrade
  scripts/change_react_native_version.js
Owners: @d4vidi, @noomorph

fix(ios): prevent stdout buffer overflow with many simulators
  detox/src/devices/allocation/drivers/ios/SimulatorAllocDriver.js
  detox/src/devices/common/drivers/ios/tools/AppleSimUtils.js
  detox/src/utils/environment.js
Owners: @d4vidi, @noomorph

fix(ios): prevent stdout buffer overflow with many simulators (#4773)
  detox/src/devices/allocation/drivers/ios/SimulatorAllocDriver.js
  detox/src/devices/common/drivers/ios/tools/AppleSimUtils.js
  detox/src/utils/environment.js
Owners: @d4vidi, @noomorph

Fixed dependency versions
  detox/package.json
  detox/test/package.json
  examples/demo-react-native/package.json
Owners: @d4vidi

Updated jobs
  .buildkite/jobs/pipeline.android_rn_77_old_arch.yml
  .buildkite/jobs/pipeline.android_rn_78_old_arch.yml
  .buildkite/pipeline_common.sh
Owners: @d4vidi, @noomorph

Updated jobs to run 77 old arch
  .buildkite/jobs/pipeline.android_rn_77_old_arch.yml
  .buildkite/pipeline_common.sh
Owners: @d4vidi, @noomorph

Updated docs
  README.md
Owners: @d4vidi

test(e2e): add automatic iOS steps tracking
  detox/test/e2e/detox.config.js
  detox/test/e2e/jest.config.js
  detox/test/package.json
Owners: @d4vidi, @noomorph

Use first user account on attached Android devices
  detox/src/devices/common/drivers/android/exec/ADB.js
Owners: @d4vidi, @noomorph

Revert "Updated jobs to run 77 old arch"
  .buildkite/jobs/pipeline.android_rn_78_old_arch.yml
  .buildkite/pipeline_common.sh
Owners: @d4vidi, @noomorph

Upgrade to RN 0.78 (#4779)
  .buildkite/jobs/pipeline.android_demo_app_rn_78.yml
  .buildkite/jobs/pipeline.android_rn_78.yml
  .buildkite/jobs/pipeline.android_rn_78_old_arch.yml
  .buildkite/jobs/pipeline.ios_demo_app_rn_78.yml
  .buildkite/jobs/pipeline.ios_rn_78.yml
  .buildkite/pipeline_common.sh
  README.md
  detox/package.json
  detox/test/package.json
  examples/demo-react-native/package.json
  scripts/change_react_native_version.js
Owners: @d4vidi, @noomorph

feat: Jest 30 support
  detox/package.json
  detox/test/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native/package.json
  generation/__tests__/__snapshots__/android.js.snap
  generation/__tests__/android.js
  generation/package.json
Owners: @d4vidi, @noomorph

test: modernize Jest tests
  detox/src/DetoxWorker.test.js
  detox/src/android/AndroidExpect.test.js
  detox/src/artifacts/factories/index.test.js
  detox/src/client/Client.test.js
  detox/src/client/__mocks__/Client.js
  detox/src/devices/allocation/drivers/android/FreeDeviceFinder.test.js
  detox/src/devices/allocation/drivers/android/emulator/AVDValidator.test.js
  detox/src/devices/allocation/drivers/android/emulator/AVDsResolver.test.js
  detox/src/devices/allocation/drivers/android/emulator/EmulatorLauncher.test.js
  detox/src/devices/allocation/drivers/android/emulator/EmulatorVersionResolver.test.js
  detox/src/devices/allocation/drivers/android/emulator/FreeEmulatorFinder.test.js
  detox/src/devices/allocation/drivers/android/genycloud/GenyInstanceLauncher.test.js
  detox/src/devices/allocation/drivers/android/genycloud/GenyRecipeQuerying.test.js
  detox/src/devices/allocation/drivers/android/genycloud/services/GenyInstanceLifecycleService.test.js
  detox/src/devices/allocation/drivers/android/genycloud/services/GenyRecipesService.test.js
  detox/src/devices/common/drivers/android/exec/BinaryExec.test.js
  detox/src/devices/common/drivers/android/tools/ApkValidator.test.js
  detox/src/devices/common/drivers/android/tools/AppInstallHelper.test.js
  detox/src/devices/common/drivers/android/tools/AppUninstallHelper.test.js
  detox/src/devices/common/drivers/android/tools/FileTransfer.test.js
  detox/src/devices/common/drivers/android/tools/Instrumentation.test.js
  detox/src/devices/common/drivers/android/tools/MonitoredInstrumentation.test.js
  detox/src/devices/common/drivers/android/tools/TempFileTransfer.test.js
  detox/src/devices/runtime/drivers/android/AndroidDriver.test.js
  detox/src/devices/runtime/drivers/android/__snapshots__/AndroidDriver.test.js.snap
  detox/src/devices/runtime/drivers/android/attached/AttachedAndroidDriver.test.js
  detox/src/devices/runtime/drivers/android/genycloud/GenyCloudDriver.test.js
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.test.js
  detox/src/devices/validation/android/GenycloudEnvValidator.test.js
  detox/src/ios/expectTwo.test.js
  detox/src/server/DetoxServer.test.js
  detox/src/server/DetoxSession.test.js
Owners: @d4vidi, @noomorph

fix: jest args module resolution
  detox/local-cli/utils/jestInternals.js
Owners: @d4vidi, @noomorph

test: toBeCalled deprecation
  detox/src/artifacts/instruments/InstrumentsArtifactPlugin.test.js
  detox/src/artifacts/instruments/InstrumentsArtifactRecording.test.js
  detox/src/artifacts/instruments/android/AndroidInstrumentsPlugin.test.js
  detox/src/artifacts/instruments/android/AndroidInstrumentsRecording.test.js
  detox/src/artifacts/instruments/ios/SimulatorInstrumentsPlugin.test.js
  detox/src/artifacts/instruments/ios/SimulatorInstrumentsRecording.test.js
  detox/src/artifacts/templates/plugin/TwoSnapshotsPerTestPlugin.test.js
  detox/src/artifacts/templates/plugin/WholeTestRecorderPlugin.test.js
  detox/src/devices/common/drivers/android/exec/ADB.test.js
  detox/src/utils/childProcess/spawn.test.js
Owners: @d4vidi, @noomorph

feat(genycloud): Prevent recipe ambiguation
  detox/src/devices/allocation/drivers/android/genycloud/GenyRecipeQuerying.js
  detox/src/devices/allocation/drivers/android/genycloud/services/GenyRecipesService.js
  detox/src/devices/allocation/drivers/android/genycloud/services/GenyRecipesService.test.js
  detox/src/devices/allocation/drivers/android/genycloud/services/__snapshots__/GenyRecipesService.test.js.snap
Owners: @d4vidi, @noomorph

Align recipe-not-found flow
  detox/src/devices/allocation/drivers/android/genycloud/GenyAllocDriver.js
  detox/src/devices/allocation/drivers/android/genycloud/services/GenyRecipesService.js
  detox/src/devices/allocation/drivers/android/genycloud/services/GenyRecipesService.test.js
  detox/src/devices/allocation/drivers/android/genycloud/services/__snapshots__/GenyRecipesService.test.js.snap
Owners: @d4vidi, @noomorph

Fix review notes
  detox/src/devices/allocation/drivers/android/genycloud/GenyAllocDriver.js
  detox/src/devices/allocation/drivers/android/genycloud/GenyRecipeQuerying.js
Owners: @d4vidi, @noomorph

Fix handling of ambiguous genymotion recipe matching (#4789)
  detox/src/devices/allocation/drivers/android/genycloud/GenyAllocDriver.js
  detox/src/devices/allocation/drivers/android/genycloud/GenyRecipeQuerying.js
  detox/src/devices/allocation/drivers/android/genycloud/services/GenyRecipesService.js
  detox/src/devices/allocation/drivers/android/genycloud/services/GenyRecipesService.test.js
  detox/src/devices/allocation/drivers/android/genycloud/services/__snapshots__/GenyRecipesService.test.js.snap
Owners: @d4vidi, @noomorph

Publish 20.40.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

feat: Jest 30 support
  detox/package.json
  detox/test/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native/package.json
  generation/__tests__/__snapshots__/android.js.snap
  generation/__tests__/android.js
  generation/package.json
Owners: @d4vidi, @noomorph

test: modernize Jest tests
  detox/src/DetoxWorker.test.js
  detox/src/android/AndroidExpect.test.js
  detox/src/artifacts/factories/index.test.js
  detox/src/client/Client.test.js
  detox/src/client/__mocks__/Client.js
  detox/src/devices/allocation/drivers/android/FreeDeviceFinder.test.js
  detox/src/devices/allocation/drivers/android/emulator/AVDValidator.test.js
  detox/src/devices/allocation/drivers/android/emulator/AVDsResolver.test.js
  detox/src/devices/allocation/drivers/android/emulator/EmulatorLauncher.test.js
  detox/src/devices/allocation/drivers/android/emulator/EmulatorVersionResolver.test.js
  detox/src/devices/allocation/drivers/android/emulator/FreeEmulatorFinder.test.js
  detox/src/devices/allocation/drivers/android/genycloud/GenyInstanceLauncher.test.js
  detox/src/devices/allocation/drivers/android/genycloud/GenyRecipeQuerying.test.js
  detox/src/devices/allocation/drivers/android/genycloud/services/GenyInstanceLifecycleService.test.js
  detox/src/devices/allocation/drivers/android/genycloud/services/GenyRecipesService.test.js
  detox/src/devices/common/drivers/android/exec/BinaryExec.test.js
  detox/src/devices/common/drivers/android/tools/ApkValidator.test.js
  detox/src/devices/common/drivers/android/tools/AppInstallHelper.test.js
  detox/src/devices/common/drivers/android/tools/AppUninstallHelper.test.js
  detox/src/devices/common/drivers/android/tools/FileTransfer.test.js
  detox/src/devices/common/drivers/android/tools/Instrumentation.test.js
  detox/src/devices/common/drivers/android/tools/MonitoredInstrumentation.test.js
  detox/src/devices/common/drivers/android/tools/TempFileTransfer.test.js
  detox/src/devices/runtime/drivers/android/AndroidDriver.test.js
  detox/src/devices/runtime/drivers/android/__snapshots__/AndroidDriver.test.js.snap
  detox/src/devices/runtime/drivers/android/attached/AttachedAndroidDriver.test.js
  detox/src/devices/runtime/drivers/android/genycloud/GenyCloudDriver.test.js
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.test.js
  detox/src/devices/validation/android/GenycloudEnvValidator.test.js
  detox/src/ios/expectTwo.test.js
  detox/src/server/DetoxServer.test.js
  detox/src/server/DetoxSession.test.js
Owners: @d4vidi, @noomorph

fix: jest args module resolution
  detox/local-cli/utils/jestInternals.js
Owners: @d4vidi, @noomorph

bugfixes
  detox/local-cli/test.test.js
  detox/local-cli/utils/jestInternals.js
  detox/runners/jest/testEnvironment/utils/assertJestCircus27.js
  detox/src/configuration/index.test.js
  detox/src/utils/errorUtils.test.js
  detox/test/e2e/jest.config.js
  detox/test/integration/__snapshots__/timeline-artifact.test.js.snap
Owners: @d4vidi, @noomorph

test: toBeCalled deprecation
  detox/src/artifacts/instruments/InstrumentsArtifactPlugin.test.js
  detox/src/artifacts/instruments/InstrumentsArtifactRecording.test.js
  detox/src/artifacts/instruments/android/AndroidInstrumentsPlugin.test.js
  detox/src/artifacts/instruments/android/AndroidInstrumentsRecording.test.js
  detox/src/artifacts/instruments/ios/SimulatorInstrumentsPlugin.test.js
  detox/src/artifacts/instruments/ios/SimulatorInstrumentsRecording.test.js
  detox/src/artifacts/templates/plugin/TwoSnapshotsPerTestPlugin.test.js
  detox/src/artifacts/templates/plugin/WholeTestRecorderPlugin.test.js
  detox/src/devices/common/drivers/android/exec/ADB.test.js
  detox/src/utils/childProcess/spawn.test.js
Owners: @d4vidi, @noomorph

temp: try to see if getVmContext helps
  detox/runners/jest/testEnvironment/index.js
  detox/test/integration/e2e/config.js
Owners: @d4vidi, @noomorph

temp: disable globals cleanup
  detox/runners/jest/testEnvironment/index.js
  detox/runners/jest/testEnvironment/utils/assertJestCircus27.js
Owners: @d4vidi, @noomorph

Semantic matching basics #4788
  detox/detox.d.ts
  detox/src/android/matchers/native.js
  detox/src/ios/expectTwo.js
  detox/src/utils/semanticTypes.js
  detox/src/utils/semanticTypes.test.js
Owners: @d4vidi, @noomorph

reformulate todo comment
  detox/runners/jest/testEnvironment/index.js
  detox/runners/jest/testEnvironment/utils/validateAndPatchProjectConfig.js
  detox/runners/jest/testEnvironment/utils/validateAndPatchProjectConfig.test.js
Owners: @d4vidi, @noomorph

Publish 20.40.1 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  generation/package.json
  lerna.json
  package.json
Owners: @d4vidi

feat: detox pilot.init(config)
  detox/detox.d.ts
  detox/src/pilot/DetoxPilot.js
  detox/src/pilot/DetoxPilot.test.js
  detox/test/e2e/utils/custom-describes.js
Owners: @d4vidi, @noomorph

Fixes #4733 Fixed missing sync status
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/animations/AnimatedModuleIdlingResource.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/uimodule/fabric/FabricUIManagerIdlingResources.kt
  detox/src/client/Client.js
  detox/src/client/Client.test.js
  detox/src/client/actions/SyncStatusSchema.json
  detox/src/client/actions/formatters/SyncStatusFormatter.test.js
  detox/src/client/actions/formatters/__snapshots__/SyncStatusFormatter.test.js.snap
  detox/src/client/actions/formatters/sync-resources/UIFormatter.js
Owners: @d4vidi, @jonathanmos, @noomorph
