Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

fix type mismatch
  examples/demo-react-native/android/app/src/main/java/com/example/MainApplication.kt
Owners: @d4vidi, @jonathanmos

feat(android): highlight recently animated views
  detox/android/detox/src/full/java/com/wix/detox/adapters/server/DetoxActionHandlers.kt
  detox/android/detox/src/full/java/com/wix/detox/espresso/hierarchy/ViewHierarchyGenerator.kt
  detox/android/detox/src/full/java/com/wix/detox/inquiry/DetoxFabricAnimationHook.kt
  detox/android/detox/src/full/java/com/wix/detox/inquiry/ViewLifecycleRegistry.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/uimodule/fabric/FabricUIManagerIdlingResources.kt
Owners: @d4vidi, @jonathanmos

Upgraded to RN 81
  detox/package.json
  detox/test/android/app/src/main/AndroidManifest.xml
  detox/test/android/build.gradle
  detox/test/android/gradle.properties
  detox/test/android/gradle/wrapper/gradle-wrapper.properties
  detox/test/package.json
  examples/demo-react-native/android/app/src/main/AndroidManifest.xml
  examples/demo-react-native/android/app/src/main/java/com/example/MainApplication.kt
  examples/demo-react-native/android/build.gradle
  examples/demo-react-native/android/gradle.properties
  examples/demo-react-native/android/gradle/wrapper/gradle-wrapper.properties
  examples/demo-react-native/package.json
Owners: @d4vidi, @jonathanmos

Fixed some issues
  detox/test/android/app/src/main/AndroidManifest.xml
  detox/test/android/gradle/wrapper/gradle-wrapper.properties
  detox/test/ios/example.xcodeproj/project.pbxproj
  examples/demo-react-native/android/gradle/wrapper/gradle-wrapper.properties
  examples/demo-react-native/ios/example.xcodeproj/project.pbxproj
Owners: @d4vidi, @asafkorem

Fixed broken metro config
  detox/test/metro.config.js
  examples/demo-react-native-detox-instruments/metro.config.js
  examples/demo-react-native/metro.config.js
Owners: @d4vidi, @noomorph

Upgraded to latest libraries
  detox/test/package.json
Owners: @d4vidi

Fixed some build issues in rn 81
  detox/android/rninfo.gradle
  detox/test/android/app/build.gradle
  examples/demo-react-native/android/app/build.gradle
  examples/demo-react-native/android/app/src/main/java/com/example/MainApplication.kt
Owners: @d4vidi, @jonathanmos

Updated to the latest slider
  detox/test/package.json
Owners: @d4vidi

Publish 20.44.0-smoke.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Fixed reflection
  detox/android/detox/src/full/java/com/wix/detox/common/KotlinReflectUtils.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/animations/AnimatedModuleIdlingResource.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/timers/JavaTimersReflected.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/uimodule/fabric/FabricUIManagerIdlingResources.kt
  detox/android/gradle/wrapper/gradle-wrapper.properties
  detox/scripts/updateGradle.js
Owners: @d4vidi, @jonathanmos, @noomorph

Upgraded gradle versions
  detox/test/android/gradle/wrapper/gradle-wrapper.properties
  examples/demo-react-native/android/gradle/wrapper/gradle-wrapper.properties
Owners: @d4vidi

rollback for displayDuration. Set back to 2.0 sec. For iOS18.0 we do need 3.0 but we might need to adjust the tests
  detox/test/ios/UI/OverlayMessageView.swift
Owners: @asafkorem

temp: simplify implementation
  detox/android/detox/src/full/java/com/wix/detox/inquiry/DetoxAnimationTracker.kt
  detox/android/detox/src/full/java/com/wix/detox/inquiry/DetoxFabricAnimationHook.kt
  detox/android/detox/src/full/java/com/wix/detox/inquiry/DetoxFabricIntegration.kt
  detox/android/detox/src/full/java/com/wix/detox/inquiry/DetoxFabricUIManagerWrapper.kt
  detox/android/detox/src/full/java/com/wix/detox/inquiry/ViewLifecycleRegistry.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/uimodule/fabric/FabricUIManagerIdlingResources.kt
Owners: @d4vidi, @jonathanmos

Publish 20.44.0-smoke.1 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

fix: windows
  detox/local-cli/init.js
  detox/package.json
  detox/test/e2e/detox.config-android.js
  detox/test/e2e/jest.config.js
  detox/test/package.json
  examples/demo-react-native/detox.config.js
  examples/demo-react-native/package.json
  scripts/ci.android-release.js
Owners: @d4vidi, @noomorph

Make the tests work on release
  detox/android/detox/proguard-rules-app.pro
  detox/test/android/app/src/main/AndroidManifest.xml
  examples/demo-react-native/android/app/src/main/AndroidManifest.xml
Owners: @d4vidi

updated ios !8 support for overlays
  detox/test/ios/UI/OverlayMessageView.swift
Owners: @asafkorem

Publish 20.44.0-smoke.1 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Publish 20.44.0-smoke.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

temp: another solution
  detox/android/detox/src/full/java/com/wix/detox/espresso/hierarchy/ViewHierarchyGenerator.kt
  detox/android/detox/src/full/java/com/wix/detox/inquiry/FabricAnimationsInquirer.kt
  detox/android/detox/src/full/java/com/wix/detox/inquiry/ViewLifecycleRegistry.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/animations/AnimatedModuleIdlingResource.kt
Owners: @d4vidi, @jonathanmos

Publish 20.44.0-smoke.2 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Force cleartext
  detox/test/android/app/src/main/AndroidManifest.xml
Owners: @d4vidi

temp: add inquiry
  detox/android/detox/src/full/java/com/wix/detox/inquiry/FabricAnimationsInquirer.kt
Owners: @d4vidi, @jonathanmos

Publish 20.44.0-smoke.2 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Publish 20.44.0-smoke.3 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Publish 20.44.0-alpha.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

fix(CI): Restore omission of Genycloud ARM64 usage
  .buildkite/jobs/pipeline.android_rn_77.yml
  scripts/ci.android.sh
Owners: @d4vidi, @noomorph

fix: add queued animations introspection
  detox/android/detox/src/full/java/com/wix/detox/inquiry/FabricAnimationsInquirer.kt
Owners: @d4vidi, @jonathanmos

Publish 20.44.0-smoke.4 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Use new detox butler
  detox/test/e2e/detox.config.js
  detox/test/e2e/util-binary/detoxbutler-1.0.4-aosp-release.apk
  detox/test/e2e/util-binary/detoxbutler-1.0.4-genymotion-release.apk
  detox/test/e2e/util-binary/detoxbutler-1.1.0-aosp-release.apk
  detox/test/e2e/util-binary/detoxbutler-1.1.0-genymotion-release.apk
  examples/demo-react-native/detox.config.js
Owners: @d4vidi, @noomorph

Fixed ios test
  detox/test/e2e/04.assertions.test.js
Owners: @d4vidi, @noomorph

Fixed tests in ios
  detox/test/e2e/04.assertions.test.js
  detox/test/e2e/33.attributes.test.js
Owners: @d4vidi, @noomorph

Fixed missing import for tests
  detox/test/e2e/33.attributes.test.js
Owners: @d4vidi, @noomorph

Revert "Publish 20.44.0-alpha.0 [ci skip]"
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Removed unused templates
  detox/test/android/app/build.gradle
  examples/demo-react-native/android/app/build.gradle
Owners: @d4vidi, @jonathanmos

Fixed resource idling
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/uimodule/paper/UIModuleIdlingResource.kt
Owners: @d4vidi, @jonathanmos

Update .buildkite/pipeline_common.sh
  .buildkite/pipeline_common.sh
Owners: @d4vidi, @noomorph

Update .buildkite/pipeline_common.sh
  .buildkite/pipeline_common.sh
Owners: @d4vidi, @noomorph

Fixes after pr
  detox/package.json
  detox/test/package.json
  examples/demo-react-native/package.json
Owners: @d4vidi

Apply suggestion from @d4vidi
  detox/android/detox/src/full/java/com/wix/detox/common/KotlinReflectUtils.kt
Owners: @d4vidi, @jonathanmos

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem
