Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem

test(fix): remove redundant comment.
  detox/test/e2e/38.copilot.sanity.test.js
Owners: @d4vidi, @noomorph

feat(copilot): introduce `CopilotFacade` type.
  detox-copilot/src/index.ts
Owners: @d4vidi, @noomorph

feat(DetoxWorker): always reset copilot before test if needed.
  detox/src/DetoxWorker.js
  detox/src/DetoxWorker.test.js
Owners: @d4vidi, @noomorph

docs(copilot): update readme file.
  detox-copilot/README.md
Owners: @d4vidi

test(e2e): add copilot tests.
  detox/test/e2e/39.copilot.actions.test.js
Owners: @d4vidi, @noomorph

feat(copilot): remove id from view hierarchy (Android).
  detox/android/detox/src/full/java/com/wix/detox/espresso/hierarchy/ViewHierarchyGenerator.kt
Owners: @d4vidi, @jonathanmos

feat(copilot): merge act & assert APIs to perform.
  detox-copilot/src/Copilot.test.ts
  detox-copilot/src/Copilot.ts
  detox-copilot/src/actions/StepPerformer.test.ts
  detox-copilot/src/actions/StepPerformer.ts
  detox-copilot/src/index.ts
  detox-copilot/src/integration tests/index.test.ts
  detox-copilot/src/types.ts
  detox-copilot/src/utils/PromptCreator.test.ts
  detox-copilot/src/utils/PromptCreator.ts
  detox-copilot/src/utils/__snapshots__/PromptCreator.test.ts.snap
  detox/detox.d.ts
  detox/src/copilot/DetoxCopilot.js
  detox/src/copilot/detoxCopilotFrameworkDriver.js
Owners: @d4vidi, @noomorph

test(copilot): migrate e2e from act & assert to perform.
  detox/test/e2e/39.copilot.actions.test.js
Owners: @d4vidi, @noomorph

test(e2e): fix copilot tests imports.
  detox/test/e2e/39.copilot.actions.test.js
Owners: @d4vidi, @noomorph

feat(copilot): extend detox copilot driver API catalog.
  detox/src/copilot/detoxCopilotFrameworkDriver.js
Owners: @d4vidi, @noomorph

feat(copilot): add cache & retry mechanism.
  detox-copilot/src/actions/StepPerformer.test.ts
  detox-copilot/src/actions/StepPerformer.ts
  detox/src/copilot/detoxCopilotFrameworkDriver.js
Owners: @d4vidi, @noomorph

feat(copilot): driver improvements.
  detox/src/copilot/detoxCopilotFrameworkDriver.js
  detox/test/e2e/39.copilot.actions.test.js
Owners: @d4vidi, @noomorph

feat(copilot): improve cache mechanism.
  detox-copilot/src/actions/StepPerformer.ts
  detox/test/copilot-cache/step_performer_cache.json
  detox/test/e2e/39.copilot.actions.test.js
Owners: @d4vidi, @noomorph

docs(detox-copilot): update README.
  detox-copilot/README.md
Owners: @d4vidi

test(copilot): update e2e tests.
  detox/test/copilot-cache/step_performer_cache.json
  detox/test/e2e/38.copilot.sanity.test.js
  detox/test/e2e/39.copilot.actions.test.js
Owners: @d4vidi, @noomorph

chore(copilot): bump version.
  detox-copilot/package.json
Owners: @d4vidi

types(detox): add experimental note for copilot APIs.
  detox/detox.d.ts
Owners: @d4vidi, @noomorph

chore(lerna): ignore detox-copilot on publish.
  lerna.json
Owners: @d4vidi

package(detox-copilot): update homepage dir.
  detox-copilot/package.json
Owners: @d4vidi

workaround(ios): support disable-handle-crash.
  detox/ios/Detox/Utilities/DetoxCrashHandler.mm
Owners: @asafkorem

Publish 20.26.3-smoke.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

test(unit): add detox copilot test.
  detox/src/copilot/DetoxCopilot.test.js
Owners: @d4vidi, @noomorph

WebView Hierarchy
  detox/android/detox/src/full/java/com/wix/detox/espresso/hierarchy/ViewHierarchyGenerator.kt
  detox/ios/Detox/DetoxManager.swift
  detox/ios/Detox/Utilities/ViewHierarchyGenerator.swift
  detox/test/e2e/06.device.test.js
  detox/test/e2e/assets/view-hierarchy-web-view.73.android.txt
  detox/test/e2e/assets/view-hierarchy-web-view.73.ios.txt
  detox/test/e2e/assets/view-hierarchy-with-test-id-injection.71.ios.txt
  detox/test/e2e/assets/view-hierarchy-with-test-id-injection.73.ios.txt
  detox/test/e2e/assets/view-hierarchy-without-test-id-injection.71.ios.txt
  detox/test/e2e/assets/view-hierarchy-without-test-id-injection.73.ios.txt
Owners: @d4vidi, @jonathanmos, @asafkorem, @noomorph

feat(copilot): create cache file if doesn't exist.
  detox-copilot/src/actions/StepPerformer.ts
Owners: @d4vidi, @noomorph

chore(copilot): bump version.
  detox-copilot/package.json
Owners: @d4vidi

Added react 71 for ios
  detox/test/e2e/assets/view-hierarchy-web-view.71.ios.txt
  detox/test/e2e/assets/view-hierarchy-with-test-id-injection.71.ios.txt
  detox/test/e2e/assets/view-hierarchy-without-test-id-injection.71.ios.txt
Owners: @d4vidi

Added react 71 tests snapshots
  detox/test/e2e/assets/view-hierarchy-web-view.71.android.txt
Owners: @d4vidi

Fixed proguard
  detox/android/detox/proguard-rules-app.pro
Owners: @d4vidi

try to replace the snapshot file
  detox/test/e2e/assets/view-hierarchy-web-view.73.android.txt
Owners: @d4vidi

try to replace files
  detox/test/e2e/assets/view-hierarchy-web-view.73.android.txt
Owners: @d4vidi

try to replace the snapshot file
  detox/test/e2e/utils/snapshot.js
Owners: @d4vidi, @noomorph

chore(copilot): add todo.
  detox-copilot/src/Copilot.ts
Owners: @d4vidi, @noomorph

feat(copilot): support multiple steps perform (array).
  detox-copilot/README.md
  detox-copilot/src/Copilot.test.ts
  detox-copilot/src/Copilot.ts
  detox-copilot/src/index.ts
  detox-copilot/src/types.ts
Owners: @d4vidi, @noomorph

test(e2e): improve copilot tests.
  detox/test/e2e/39.copilot.actions.test.js
Owners: @d4vidi, @noomorph

feat(copilot): re-color the logs.
  detox-copilot/src/actions/StepPerformer.ts
  detox-copilot/src/utils/CodeEvaluator.ts
Owners: @d4vidi, @noomorph

chore(copilot): update cache.
  detox/test/copilot-cache/step_performer_cache.json
Owners: @d4vidi

feat(copilot-driver): add jestExpect utility.
  detox/src/copilot/detoxCopilotFrameworkDriver.js
Owners: @d4vidi, @noomorph

detox-copilot: migrate to `wix-incubator/detox-copilot`.
  detox-copilot/.gitignore
  detox-copilot/README.md
  detox-copilot/jest.config.js
  detox-copilot/package.json
  detox-copilot/src/Copilot.test.ts
  detox-copilot/src/Copilot.ts
  detox-copilot/src/actions/StepPerformer.test.ts
  detox-copilot/src/actions/StepPerformer.ts
  detox-copilot/src/errors/CodeEvaluationError.ts
  detox-copilot/src/errors/CopilotError.ts
  detox-copilot/src/index.ts
  detox-copilot/src/integration tests/index.test.ts
  detox-copilot/src/types.ts
  detox-copilot/src/utils/CodeEvaluator.test.ts
  detox-copilot/src/utils/CodeEvaluator.ts
  detox-copilot/src/utils/PromptCreator.test.ts
  detox-copilot/src/utils/PromptCreator.ts
  detox-copilot/src/utils/SnapshotManager.ts
  detox-copilot/src/utils/__snapshots__/PromptCreator.test.ts.snap
  detox-copilot/tsconfig.json
  detox/package.json
  detox/test/copilot-cache/step_performer_cache.json
  detox/test/e2e/40.copilot.demo.test.js
  detox/test/e2e/41.copilot.shape-match.test.js
  detox/test/src/Screens/LoginScreen.tsx
  detox/test/src/Screens/ShapeMatchGameScreen.tsx
  detox/test/src/Screens/index.js
  detox/test/src/app.js
  lerna.json
  scripts/ci.release.js
Owners: @d4vidi, @noomorph

ci: ignore copilot from jest-coverage checks.
  detox/jest.config.js
Owners: @d4vidi, @noomorph

test(e2e): remove redundant copilot tests.
  detox/test/e2e/39.copilot.shape-match.test.js
  detox/test/e2e/40.copilot.demo.test.js
  detox/test/src/Screens/LoginScreen.tsx
  detox/test/src/Screens/index.js
Owners: @d4vidi, @noomorph
