Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem

test(e2e): add hello-world page on mock-server.
  detox/test/mock-server/mock-server.js
Owners: @d4vidi, @noomorph

test(e2e): test inner-frames support (on iOS).
  detox/test/e2e/29.webview.test.js
  detox/test/src/Screens/WebViewScreen.js
Owners: @d4vidi, @noomorph

test(unit): restore coverage for `expectTwo`.
  detox/src/ios/expectTwo.test.js
Owners: @d4vidi, @noomorph

Publish 20.19.3 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

chore: update social stats
  website/src/components/Homepage/SubHeader/HomepageSubHeader.js
Owners: @d4vidi, @noomorph

chore: upgrade @react-native-community/datetimepicker
  detox/test/package.json
Owners: @d4vidi

chore(package): bump `@react-native-community/datetimepicker`.
  detox/test/package.json
Owners: @d4vidi

chore: upgrade @react-native-community/datetimepicker (#4412)
  detox/test/package.json
Owners: @d4vidi

docs(README): update supported RN versions.
  README.md
  docs/introduction/partials/_getting-started-rn.md
Owners: @d4vidi

WIP
  detox/android/detox/src/full/java/com/wix/detox/espresso/DetoxAction.java
  detox/android/detox/src/main/java/com/wix/detox/espresso/action/DetoxSwipeWithLongPress.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/action/LongPressAndDragAction.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/action/common/utils/ViewInteractionExt.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/scroll/DetoxSwiper.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/scroll/LinearSwiper.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/scroll/ScrollHelper.java
  detox/test/e2e/28.drag-and-drop.test.js
Owners: @d4vidi, @jonathanmos, @noomorph

WIP
  detox/android/detox/build.gradle
  detox/android/detox/src/full/java/com/wix/detox/espresso/DetoxAction.java
  detox/android/detox/src/main/java/com/wix/detox/espresso/action/LongPressAndDragAction.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/action/common/utils/UiControllerUtils.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/action/common/utils/ViewInteractionExt.kt
  detox/src/android/actions/native.js
  detox/src/android/core/NativeElement.js
  detox/src/android/espressoapi/DetoxAction.js
  detox/test/e2e/28.drag-and-drop.test.js
Owners: @d4vidi, @jonathanmos, @noomorph

wip
  detox/android/detox/src/full/java/com/wix/detox/espresso/action/GetAttributesAction.kt
  detox/android/detox/src/testFull/java/com/wix/detox/espresso/action/GetAttributesActionTest.kt
  detox/detox.d.ts
  detox/test/e2e/28.drag-and-drop.test.js
  detox/test/src/Screens/DragNDropScreen.tsx
  detox/test/types/detox-global-tests.ts
Owners: @d4vidi, @jonathanmos, @noomorph

Removed ios drag n drop screen
  detox/test/ios/DragDropTableViewController.h
  detox/test/ios/DragDropTableViewController.m
  detox/test/ios/example.xcodeproj/project.pbxproj
  detox/test/ios/example/AppDelegate.m
  detox/test/ios/example/DragDropViewController.h
  detox/test/ios/example/DragDropViewController.m
  detox/test/src/Screens/DragNDropScreen.tsx
  detox/test/src/Screens/index.js
  detox/test/src/app.js
Owners: @asafkorem, @d4vidi, @noomorph

Working android implementation
  detox/android/detox/build.gradle
  detox/android/detox/src/full/java/com/wix/detox/espresso/DetoxAction.java
  detox/android/detox/src/main/java/com/wix/detox/espresso/action/DetoxSwipeWithLongPress.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/action/LongPressAndDragAction.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/action/common/utils/ViewInteractionExt.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/scroll/FlinglessSwiper.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/scroll/LinearSwiper.kt
  detox/src/android/actions/native.js
  detox/src/android/core/NativeElement.js
  detox/src/android/espressoapi/DetoxAction.js
  detox/test/e2e/28.drag-and-drop.test.js
  examples/demo-react-native/ios/example.xcodeproj/project.pbxproj
Owners: @d4vidi, @jonathanmos, @noomorph, @asafkorem

fix: revert accidental Node 18.x bump
  detox/package.json
Owners: @d4vidi

fix: revert accidental Node 18.x bump (#4422)
  detox/package.json
Owners: @d4vidi

Publish 20.19.4 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Publish docs version 20.x
  website/versioned_docs/version-20.x/introduction/partials/_getting-started-rn.md
Owners: @d4vidi

Fixed test for iOS Added basket image for target view for drag n drop test
  detox/ios/Detox/Actions/NSObject+DetoxActions.m
  detox/ios/Detox/AppleTouchEvents/DTXTouchInjector.m
  detox/test/e2e/28.drag-and-drop.test.js
  detox/test/img/basket.png
  detox/test/src/Screens/DragNDropScreen.tsx
Owners: @asafkorem, @d4vidi, @noomorph

Fixed lint
  detox/test/src/Screens/DragNDropScreen.tsx
Owners: @d4vidi

Fixes before PR
  detox/android/detox/src/full/java/com/wix/detox/espresso/DetoxAction.java
  detox/android/detox/src/main/java/com/wix/detox/espresso/action/LongPressAndDragAction.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/action/common/utils/UiControllerUtils.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/scroll/DetoxSwiper.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/scroll/LinearSwiper.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/scroll/ScrollHelper.java
  detox/ios/Detox/Actions/NSObject+DetoxActions.m
  detox/ios/Detox/AppleTouchEvents/DTXTouchInjector.m
Owners: @d4vidi, @jonathanmos, @asafkorem

Updated the documentation
  docs/api/actions.md
Owners: @d4vidi

Fixed unitests
  detox/src/android/AndroidExpect.test.js
Owners: @d4vidi, @noomorph

Use first user account on attached Android devices
  detox/src/devices/common/drivers/android/exec/ADB.js
Owners: @d4vidi, @noomorph

fix(ios, webviews): work-around selection on email inputs.
  detox/ios/Detox/Invocation/WebCodeBuilder+createMoveCursorToEndAction.swift
  detox/test/e2e/29.webview.test.js
  detox/test/src/Screens/WebViewScreen.js
Owners: @asafkorem, @d4vidi, @noomorph

fix(ios): disable WebKit security with feature-toggle.
  detox/ios/Detox/Invocation/WKWebViewConfiguration+Detox.m
  detox/ios/Detox/Invocation/WebCodeBuilder+createSelector.swift
  detox/test/e2e/29.webview.test.js
Owners: @asafkorem, @d4vidi, @noomorph

refactor: rename `detoxDisableWebKitSecurity` flag.
  detox/ios/Detox/Invocation/WKWebViewConfiguration+Detox.m
  detox/test/e2e/29.webview.test.js
Owners: @asafkorem, @d4vidi, @noomorph

docs(API): add `detoxDisableWebKitSecurity` launch-arg API.
  docs/api/device.md
Owners: @d4vidi

docs(guides): add "Bypass CORS Restrictions" section to WebViews testing guide.
  docs/api/device.md
  docs/guide/testing-webviews.md
Owners: @d4vidi

Publish 20.19.5 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Publish docs version 20.x
  website/versioned_docs/version-20.x/api/device.md
  website/versioned_docs/version-20.x/guide/testing-webviews.md
Owners: @d4vidi

WIP
  detox/android/detox/src/full/java/com/wix/detox/espresso/DetoxAction.java
  detox/android/detox/src/main/java/com/wix/detox/espresso/action/DetoxSwipeWithLongPress.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/action/LongPressAndDragAction.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/action/common/utils/ViewInteractionExt.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/scroll/DetoxSwiper.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/scroll/LinearSwiper.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/scroll/ScrollHelper.java
  detox/test/e2e/28.drag-and-drop.test.js
Owners: @d4vidi, @jonathanmos, @noomorph

Working android implementation
  detox/android/detox/build.gradle
  detox/android/detox/src/full/java/com/wix/detox/espresso/DetoxAction.java
  detox/android/detox/src/main/java/com/wix/detox/espresso/action/DetoxSwipeWithLongPress.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/action/LongPressAndDragAction.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/action/common/utils/ViewInteractionExt.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/scroll/FlinglessSwiper.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/scroll/LinearSwiper.kt
  detox/src/android/actions/native.js
  detox/src/android/core/NativeElement.js
  detox/src/android/espressoapi/DetoxAction.js
  detox/test/e2e/28.drag-and-drop.test.js
  examples/demo-react-native/ios/example.xcodeproj/project.pbxproj
Owners: @d4vidi, @jonathanmos, @noomorph, @asafkorem

Removed ios drag n drop screen
  detox/test/ios/DragDropTableViewController.h
  detox/test/ios/DragDropTableViewController.m
  detox/test/ios/example.xcodeproj/project.pbxproj
  detox/test/ios/example/AppDelegate.m
  detox/test/ios/example/DragDropViewController.h
  detox/test/ios/example/DragDropViewController.m
  detox/test/src/Screens/DragNDropScreen.tsx
  detox/test/src/Screens/index.js
  detox/test/src/app.js
Owners: @asafkorem, @d4vidi, @noomorph

wip
  detox/android/detox/src/full/java/com/wix/detox/espresso/action/GetAttributesAction.kt
  detox/android/detox/src/testFull/java/com/wix/detox/espresso/action/GetAttributesActionTest.kt
  detox/detox.d.ts
  detox/test/e2e/28.drag-and-drop.test.js
  detox/test/src/Screens/DragNDropScreen.tsx
  detox/test/types/detox-global-tests.ts
Owners: @d4vidi, @jonathanmos, @noomorph

WIP
  detox/android/detox/build.gradle
  detox/android/detox/src/full/java/com/wix/detox/espresso/DetoxAction.java
  detox/android/detox/src/main/java/com/wix/detox/espresso/action/LongPressAndDragAction.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/action/common/utils/UiControllerUtils.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/action/common/utils/ViewInteractionExt.kt
  detox/src/android/actions/native.js
  detox/src/android/core/NativeElement.js
  detox/src/android/espressoapi/DetoxAction.js
  detox/test/e2e/28.drag-and-drop.test.js
Owners: @d4vidi, @jonathanmos, @noomorph

Fixed lint
  detox/test/src/Screens/DragNDropScreen.tsx
Owners: @d4vidi

Fixed test for iOS Added basket image for target view for drag n drop test
  detox/ios/Detox/Actions/NSObject+DetoxActions.m
  detox/ios/Detox/AppleTouchEvents/DTXTouchInjector.m
  detox/test/e2e/28.drag-and-drop.test.js
  detox/test/img/basket.png
  detox/test/src/Screens/DragNDropScreen.tsx
Owners: @asafkorem, @d4vidi, @noomorph

Updated the documentation
  docs/api/actions.md
Owners: @d4vidi

Fixes before PR
  detox/android/detox/src/full/java/com/wix/detox/espresso/DetoxAction.java
  detox/android/detox/src/main/java/com/wix/detox/espresso/action/LongPressAndDragAction.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/action/common/utils/UiControllerUtils.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/scroll/DetoxSwiper.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/scroll/LinearSwiper.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/scroll/ScrollHelper.java
  detox/ios/Detox/Actions/NSObject+DetoxActions.m
  detox/ios/Detox/AppleTouchEvents/DTXTouchInjector.m
Owners: @d4vidi, @jonathanmos, @asafkorem
