Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

Publish 20.25.6 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Removed auto snapshots
  detox/test/e2e/06.device.test.js
  detox/test/e2e/assets/06.device.test.js
Owners: @d4vidi, @noomorph

Removed auto snapshots
  detox/test/e2e/06.device.test.js
  detox/test/e2e/assets/06.device.assets.js
Owners: @d4vidi, @noomorph

Fixed iOS test
  detox/src/client/actions/actions.js
Owners: @d4vidi, @noomorph

Fixed tests once again
  detox/src/client/Client.test.js
  detox/test/e2e/06.device.test.js
Owners: @d4vidi, @noomorph

Fixed lint
  detox/src/client/Client.test.js
Owners: @d4vidi, @noomorph

Return xml instead of json
  detox/src/client/Client.test.js
  detox/src/client/actions/actions.js
  detox/src/devices/runtime/drivers/android/AndroidDriver.js
  detox/test/e2e/06.device.test.js
Owners: @d4vidi, @noomorph

Fixed PR
  detox/src/client/Client.test.js
Owners: @d4vidi, @noomorph

fix(android): `device.getViewHierarchyXML` return value.
  detox/src/devices/runtime/drivers/android/AndroidDriver.js
Owners: @d4vidi, @noomorph

Fixed android tests
  detox/src/devices/runtime/RuntimeDevice.js
  detox/src/devices/runtime/drivers/android/AndroidDriver.js
Owners: @d4vidi, @noomorph

Fixed tests once again
  detox/src/client/Client.test.js
  detox/src/client/actions/actions.js
  detox/src/devices/runtime/RuntimeDevice.js
Owners: @d4vidi, @noomorph

fix curly brackets.
  detox/src/client/Client.test.js
Owners: @d4vidi, @noomorph

feat(getViewHierarchyXML): rename and allow id injection.
  detox/detox.d.ts
  detox/src/client/Client.js
  detox/src/client/Client.test.js
  detox/src/client/actions/actions.js
  detox/src/devices/runtime/RuntimeDevice.js
  detox/src/devices/runtime/RuntimeDevice.test.js
  detox/src/devices/runtime/drivers/DeviceDriverBase.js
  detox/src/devices/runtime/drivers/android/AndroidDriver.js
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
  detox/test/e2e/06.device.test.js
Owners: @d4vidi, @noomorph

docs(types): fix typo.
  detox/detox.d.ts
Owners: @d4vidi, @noomorph

refactor(ios): generate view hierarchy xml.
  detox/ios/Detox.xcodeproj/project.pbxproj
  detox/ios/Detox/DetoxManager.swift
  detox/ios/Detox/Utilities/ViewHierarchyDump.swift
  detox/ios/Detox/Utilities/ViewHierarchyGenerator.swift
Owners: @asafkorem

refactor(android): generate view hierarchy xml.
  detox/android/detox/src/full/java/com/wix/detox/Detox.java
  detox/android/detox/src/full/java/com/wix/detox/espresso/hierarchy/GetViewHierarchyHelper.kt
  detox/android/detox/src/full/java/com/wix/detox/espresso/hierarchy/ViewHierarchyGenerator.kt
  detox/src/android/espressoapi/Detox.js
Owners: @d4vidi, @jonathanmos, @noomorph

fix: return xml instead of json
  detox/src/client/Client.test.js
  detox/src/client/actions/actions.js
  detox/src/devices/runtime/RuntimeDevice.js
  detox/test/e2e/06.device.test.js
Owners: @d4vidi, @noomorph

fix(ios): xcodeproj file.
  detox/ios/Detox.xcodeproj/project.pbxproj
Owners: @asafkorem

docs(device): add generate view hierarchy api.
  docs/api/device.md
Owners: @d4vidi

test(unit): fix mock return value.
  detox/src/devices/runtime/RuntimeDevice.test.js
Owners: @d4vidi, @noomorph

test(e2e utils): introduce env-specific text snapshot api.
  detox/test/e2e/utils/snapshot.js
Owners: @d4vidi, @noomorph

test(e2e utils): replace snapshot asset with new snapshot api.
  detox/test/e2e/06.device.test.js
  detox/test/e2e/assets/06.device.assets.js
Owners: @d4vidi, @noomorph

test(unit): fix SimulatorDriver test.
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
Owners: @d4vidi, @noomorph

test(e2e): fix snapshot util.
  detox/test/e2e/06.device.test.js
  detox/test/e2e/utils/snapshot.js
Owners: @d4vidi, @noomorph

test(e2e utils): fix textual snapshot expect.
  detox/test/e2e/utils/snapshot.js
Owners: @d4vidi, @noomorph

fix(ios): getViewHierarchyXml return value.
  detox/ios/Detox/DetoxManager.swift
Owners: @asafkorem

fix(android): generate view hierarchy xml.
  detox/android/detox/src/full/java/com/wix/detox/Detox.java
Owners: @d4vidi, @jonathanmos

fix(device): get view hierarchy xml.
  detox/src/client/Client.js
  detox/src/client/Client.test.js
  detox/src/client/actions/actions.js
  detox/src/devices/runtime/RuntimeDevice.js
Owners: @d4vidi, @noomorph

tests: create snapshot for get view hierarchy xml.
  detox/test/e2e/assets/view-hierarchy-without-test-id-injection.73.ios.txt
Owners: @d4vidi

fix(ios): sort attributes in view hierarchy xml.
  detox/ios/Detox/Utilities/ViewHierarchyGenerator.swift
Owners: @asafkorem

test(e2e): update view hierarchy snapshots.
  detox/test/e2e/assets/view-hierarchy-with-test-id-injection.73.ios.txt
  detox/test/e2e/assets/view-hierarchy-without-test-id-injection.73.ios.txt
Owners: @d4vidi

fix(ios): remove redundant xml props from hierarchy xml.
  detox/ios/Detox/Utilities/ViewHierarchyGenerator.swift
Owners: @asafkorem

test(e2e): update view hierarchy xml snapshots.
  detox/test/e2e/assets/view-hierarchy-with-test-id-injection.73.ios.txt
  detox/test/e2e/assets/view-hierarchy-without-test-id-injection.73.ios.txt
Owners: @d4vidi

fix(android): make view hierarchy method jvmstatic.
  detox/android/detox/src/full/java/com/wix/detox/espresso/hierarchy/ViewHierarchyGenerator.kt
Owners: @d4vidi, @jonathanmos

fix(android): generate view hierarchy xml.
  detox/src/devices/runtime/drivers/android/AndroidDriver.js
  detox/test/e2e/assets/view-hierarchy-with-test-id-injection.73.android.txt
  detox/test/e2e/assets/view-hierarchy-without-test-id-injection.73.android.txt
Owners: @d4vidi, @noomorph

test(unit): add client test for get view hierarchy xml.
  detox/src/client/Client.test.js
Owners: @d4vidi, @noomorph

test(e2e, android): update rn71 snapshots for view hierarchy xml.
  detox/test/e2e/assets/view-hierarchy-with-test-id-injection.71.android.txt
  detox/test/e2e/assets/view-hierarchy-without-test-id-injection.71.android.txt
Owners: @d4vidi

test(e2e, ios): update rn71 snapshots for view hierarchy xml.
  detox/test/e2e/assets/view-hierarchy-with-test-id-injection.71.ios.txt
  detox/test/e2e/assets/view-hierarchy-without-test-id-injection.71.ios.txt
Owners: @d4vidi

test(unit): remove duplicated tests.
  detox/src/client/Client.test.js
Owners: @d4vidi, @noomorph

test(unit) fix mock value.
  detox/src/devices/runtime/RuntimeDevice.test.js
Owners: @d4vidi, @noomorph

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem
