Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem

Support RN 73
  .buildkite/jobs/pipeline.android_demo_app_rn_73.yml
  .buildkite/jobs/pipeline.android_rn_73.yml
  .buildkite/jobs/pipeline.ios_demo_app_rn_73.yml
  .buildkite/jobs/pipeline.ios_rn_73.yml
  detox/android/build.gradle
  detox/android/detox/build.gradle
  detox/android/detox/src/testFull/java/com/wix/detox/adapters/server/QueryStatusActionHandlerSpec.kt
  detox/android/gradle/wrapper/gradle-wrapper.properties
  detox/android/rninfo.gradle
  detox/package.json
  detox/test/android/app/build.gradle
  detox/test/android/app/src/main/java/com/example/DetoxRNHost.java
  detox/test/android/app/src/rnLegacy/java/com/example/DetoxRNHost.java
  detox/test/android/build.gradle
  detox/test/android/gradle/wrapper/gradle-wrapper.properties
  detox/test/e2e/detox.config-android.js
  detox/test/e2e/detox.config.js
  detox/test/ios/Podfile
  detox/test/ios/example.xcodeproj/project.pbxproj
  detox/test/package.json
Owners: @d4vidi, @jonathanmos, @noomorph, @asafkorem

Remove xcode workaround
  detox/test/ios/Podfile
  examples/demo-react-native/ios/Podfile
Owners: @asafkorem, @d4vidi

Updated to a newer gradlew
  detox/android/gradle/wrapper/gradle-wrapper.jar
  detox/android/gradle/wrapper/gradle-wrapper.properties
  detox/android/gradlew
  detox/android/gradlew.bat
  detox/test/android/gradle/wrapper/gradle-wrapper.jar
  detox/test/android/gradle/wrapper/gradle-wrapper.properties
  detox/test/android/gradlew
  detox/test/android/gradlew.bat
  examples/demo-react-native/android/gradle.properties
  examples/demo-react-native/android/gradle/wrapper/gradle-wrapper.jar
  examples/demo-react-native/android/gradle/wrapper/gradle-wrapper.properties
  examples/demo-react-native/android/gradlew
  examples/demo-react-native/android/gradlew.bat
  examples/demo-react-native/package.json
Owners: @d4vidi, @jonathanmos

Enable rn 73 pipelines
  .buildkite/pipeline_common.sh
Owners: @d4vidi, @noomorph

Fixed android build
  detox/android/gradle/wrapper/gradle-wrapper.properties
  detox/test/android/build.gradle
  detox/test/android/gradle/wrapper/gradle-wrapper.properties
  detox/test/e2e/detox.config.js
  detox/test/package.json
Owners: @d4vidi, @jonathanmos, @noomorph

Added more logs to post install
  detox/test/scripts/postinstall.js
  examples/demo-react-native/scripts/postinstall.js
Owners: @d4vidi, @noomorph

Fixed more tests
  detox/android/gradle/wrapper/gradle-wrapper.properties
  detox/src/android/espressoapi/DetoxAction.js
  detox/test/android/gradle/wrapper/gradle-wrapper.properties
Owners: @d4vidi, @noomorph

Fixed upgrade gradle
  detox/scripts/postinstall.js
  detox/scripts/updateGradle.js
Owners: @d4vidi, @noomorph

Fixed post install
  detox/scripts/postinstall.js
Owners: @d4vidi, @noomorph

Fixed iOS build
  scripts/demo-projects.sh
Owners: @d4vidi, @noomorph

Revert "Remove xcode workaround"
  examples/demo-react-native/ios/Podfile
Owners: @d4vidi

Use java 17 by default
  .buildkite/jobs/pipeline.android_demo_app_rn_71.yml
  .buildkite/jobs/pipeline.android_demo_app_rn_72.yml
  .buildkite/jobs/pipeline.android_demo_app_rn_73.yml
  .buildkite/jobs/pipeline.android_rn_71.yml
  .buildkite/jobs/pipeline.android_rn_72.yml
  .buildkite/jobs/pipeline.android_rn_73.yml
  .buildkite/jobs/pipeline.ios_demo_app_rn_71.yml
  .buildkite/jobs/pipeline.ios_demo_app_rn_72.yml
  .buildkite/jobs/pipeline.ios_demo_app_rn_73.yml
  .buildkite/jobs/pipeline.ios_rn_71.yml
  .buildkite/jobs/pipeline.ios_rn_72.yml
  .buildkite/jobs/pipeline.ios_rn_73.yml
Owners: @d4vidi

Make the post install verbose
  examples/demo-react-native/scripts/postinstall.js
Owners: @d4vidi, @noomorph

Fixed build
  detox/test/android/app/build.gradle
Owners: @d4vidi, @jonathanmos

Fixed demo react native project
  detox/test/android/app/build.gradle
  examples/demo-react-native/android/build.gradle
  examples/demo-react-native/android/gradle/wrapper/gradle-wrapper.properties
  examples/demo-react-native/ios/Podfile
  examples/demo-react-native/ios/example.xcodeproj/project.pbxproj
  examples/demo-react-native/package.json
Owners: @d4vidi, @jonathanmos, @asafkorem

Revereted post install
  examples/demo-react-native/scripts/postinstall.js
Owners: @d4vidi, @noomorph

Fixed android build
  detox/android/detox/src/full/java/com/wix/detox/espresso/DetoxAction.java
  detox/android/detox/src/full/java/com/wix/detox/espresso/action/AdjustSliderToPositionAction.kt
  detox/android/detox/src/full/java/com/wix/detox/espresso/common/ReactSliderHelper.kt
  examples/demo-react-native/ios/example.xcodeproj/project.pbxproj
  examples/demo-react-native/ios/example/Info.plist
Owners: @d4vidi, @jonathanmos, @asafkorem

Revert "Added more logs to post install"
  detox/test/scripts/postinstall.js
  examples/demo-react-native/scripts/postinstall.js
Owners: @d4vidi, @noomorph

Fixed ios build
  .buildkite/jobs/pipeline.android_demo_app_rn_73.yml
  .buildkite/jobs/pipeline.android_rn_73.yml
  .buildkite/jobs/pipeline.ios_demo_app_rn_73.yml
  .buildkite/jobs/pipeline.ios_rn_73.yml
  detox/test/ios/Podfile
  detox/test/ios/example.xcodeproj/project.pbxproj
  detox/test/ios/example/Info.plist
Owners: @d4vidi, @asafkorem

Fixed ios build
  detox/test/ios/Podfile
  examples/demo-react-native/ios/Podfile
Owners: @asafkorem, @d4vidi

Remove compat test
  .buildkite/jobs/pipeline.android_demo_app_rn_71.yml
  .buildkite/jobs/pipeline.android_demo_app_rn_72.yml
Owners: @d4vidi

Update gradle version
  detox/scripts/postinstall.js
  detox/scripts/updateGradle.js
  detox/test/android/build.gradle
  detox/test/scripts/postinstall.js
  examples/demo-react-native/scripts/postinstall.js
Owners: @d4vidi, @noomorph, @jonathanmos

Make the post install verbose
  examples/demo-react-native/scripts/postinstall.js
Owners: @d4vidi, @noomorph

Get more logs from post install
  examples/demo-react-native/scripts/postinstall.js
Owners: @d4vidi, @noomorph

Fix ios build once again
  scripts/ci.sh
Owners: @d4vidi, @noomorph

Fixed demo project
  examples/demo-react-native/babel.config.json
  examples/demo-react-native/ios/Podfile
  examples/demo-react-native/metro.config.js
  examples/demo-react-native/package.json
Owners: @d4vidi, @noomorph

Updated target java version
  detox/android/detox/build.gradle
  detox/test/android/app/build.gradle
  detox/test/android/build.gradle
Owners: @d4vidi, @jonathanmos

Fixed tests
  detox/android/detox/src/full/java/com/wix/detox/espresso/common/ReactSliderHelper.kt
  detox/src/android/espressoapi/DetoxAction.js
  generation/adapters/android.js
Owners: @d4vidi, @jonathanmos, @noomorph

Fixed build
  detox/android/detox/consumer-rules.pro
Owners: @d4vidi

Undo fixes
  examples/demo-react-native/package.json
Owners: @d4vidi

Fixed android build
  detox/android/detox/publishing.gradle
Owners: @d4vidi, @jonathanmos

Remove pure android support
  scripts/demo-projects.android.sh
Owners: @d4vidi, @noomorph

Fixed rn build
  detox/android/detox/build.gradle
  detox/test/android/app/build.gradle
Owners: @d4vidi, @jonathanmos

Revert "Fixed build"
  detox/android/detox/build.gradle
  detox/test/android/app/build.gradle
  examples/demo-react-native/android/app/build.gradle
Owners: @d4vidi, @jonathanmos

Undo fixes
  detox/test/android/app/build.gradle
  examples/demo-react-native/android/app/build.gradle
Owners: @d4vidi, @jonathanmos

Fixed issues with test proguard
  detox/android/detox/proguard-rules.pro
  detox/test/android/app/build.gradle
  examples/demo-react-native/android/app/build.gradle
Owners: @d4vidi, @jonathanmos

Fixed build
  detox/android/detox/build.gradle
  detox/test/android/app/build.gradle
  examples/demo-react-native/android/app/build.gradle
Owners: @d4vidi, @jonathanmos

Updated async storage
  examples/demo-react-native/package.json
Owners: @d4vidi

Fixed documentation to support rn73
  docs/guide/migration.md
  docs/guide/proguard-configuration.md
  docs/introduction/project-setup.mdx
Owners: @d4vidi

Try to fix build
  detox/android/detox/build.gradle
  detox/test/android/app/build.gradle
  examples/demo-react-native/android/app/build.gradle
Owners: @d4vidi, @jonathanmos
