Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

feat(drivers): add postAllocate() method (#4005)
  detox/src/DetoxWorker.js
  detox/src/devices/allocation/DeviceAllocator.js
  detox/src/devices/allocation/DeviceAllocator.test.js
  detox/src/devices/allocation/drivers/AllocationDriverBase.js
  detox/src/devices/allocation/drivers/android/attached/AttachedAndroidAllocDriver.js
  detox/src/devices/allocation/drivers/android/attached/AttachedAndroidAllocDriver.test.js
  detox/src/devices/allocation/drivers/android/emulator/EmulatorAllocDriver.js
  detox/src/devices/allocation/drivers/android/emulator/EmulatorAllocDriver.test.js
  detox/src/devices/allocation/drivers/android/genycloud/GenyAllocDriver.js
  detox/src/devices/allocation/drivers/android/genycloud/GenyAllocDriver.test.js
  detox/src/devices/allocation/drivers/ios/SimulatorAllocDriver.js
  detox/test/e2e/detox.config.js
  docs/articles/third-party-drivers.md
Owners: @d4vidi, @noomorph

perf(genymotion): fail-fast when device hangs
  detox/src/devices/allocation/drivers/android/genycloud/GenyAllocDriver.js
  detox/src/utils/Timer.js
  detox/src/utils/Timer.test.js
Owners: @d4vidi, @noomorph

perf(genymotion): fail-fast when device hangs (#4006)
  detox/src/devices/allocation/drivers/android/genycloud/GenyAllocDriver.js
  detox/src/utils/Timer.js
  detox/src/utils/Timer.test.js
Owners: @d4vidi, @noomorph

Publish 20.7.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Publish docs version 20.x
  website/versioned_docs/version-20.x/articles/third-party-drivers.md
  website/versioned_docs/version-20.x/introduction/project-setup.mdx
Owners: @d4vidi

Update docs related to detoxURLBlacklistRegex
  docs/api/device.md
Owners: @d4vidi

Update fs-extra from 4.x to 9.x
  detox/package.json
Owners: @d4vidi

Update package.json
  detox/package.json
Owners: @d4vidi

build: bump fs-extra to 11.x (#4013)
  detox/package.json
Owners: @d4vidi

docs: fix `detoxURLBlacklistRegex` usage example.
  docs/api/device.md
  website/versioned_docs/version-20.x/api/device.md
Owners: @d4vidi

chore(dependencies): lock node-ipc version to 9.2.1.
  detox/package.json
Owners: @d4vidi

build: freeze node-ipc version
  detox/package.json
Owners: @d4vidi

build: freeze node-ipc version (#4019)
  detox/package.json
Owners: @d4vidi

This is a test by motih@wix.com, please do not approve.. (ppbbhe)
  detox-cli/package.json
  detox/android/gradlew
  detox/android/gradlew.bat
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/gradlew
  examples/demo-native-android/gradlew.bat
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-pure-native-android/gradlew
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  generation/package.json
  package.json
  website/package.json
Owners: @d4vidi, @jonathanmos

Update yargs + yargs-parser dependencies
  detox/package.json
Owners: @d4vidi

Bump find-up to 5.x
  detox/package.json
Owners: @d4vidi

chore: minor fixes
  detox/index.d.ts
  detox/test/e2e/03.actions.test.js
Owners: @d4vidi, @noomorph

build: bump find-up to 5.x (#4026)
  detox/package.json
Owners: @d4vidi

build: bump yargs and yargs-parser (#4025)
  detox/package.json
Owners: @d4vidi

chore: update generation
  detox/src/android/espressoapi/DetoxAction.js
Owners: @d4vidi, @noomorph

Issue with markdown long code lines overlaying on another web element fix by removing added CSS white-space: pre
  docs/demo.mdx
  website/src/css/_markdown.scss
Owners: @d4vidi

Remove markdown code added with in SCSS markdown file. Added test case to the _demo page
  docs/demo.mdx
  website/src/css/_markdown.scss
Owners: @d4vidi

Targeted the issue causing long code line headers overlaying on other elements. Remove markdown code added with in SCSS markdown file. Added test case to the _demo page
  docs/demo.mdx
  website/package.json
  website/src/css/_markdown.scss
Owners: @d4vidi

docs(website): fix wrapping issue
  .editorconfig
  docs/demo.mdx
  website/src/css/_markdown.scss
Owners: @d4vidi

ci: add percy extra wait
  website/percy.mjs
Owners: @d4vidi

docs(website): fix issue overlay docs code headers (#4028)
  .editorconfig
  docs/demo.mdx
  website/package.json
  website/percy.mjs
  website/src/css/_markdown.scss
Owners: @d4vidi

Create devcontainer.json
  .devcontainer/devcontainer.json
Owners: @d4vidi

Publish 20.7.1 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Publish docs version 20.x
  website/versioned_docs/version-20.x/demo.mdx
Owners: @d4vidi

chore: remove all EarlGrey's references from code.
  detox/.gitignore
  detox/index.d.ts
  detox/ios/.tbzignore
  detox/src/invoke.js
  detox/src/invoke/EarlGrey.js
Owners: @d4vidi, @noomorph, @asafkorem

feat(iOS): set max-timer-wait param for sync-settings.
  detox/index.d.ts
  detox/src/devices/runtime/RuntimeDevice.js
  detox/src/devices/runtime/drivers/DeviceDriverBase.js
  detox/src/devices/runtime/drivers/android/AndroidDriver.js
  detox/src/devices/runtime/drivers/ios/IosDriver.js
Owners: @d4vidi, @noomorph

Publish 20.7.2-smoke.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Publish 20.7.2-smoke.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Publish 20.7.3-smoke.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Publish 20.7.4-smoke.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Publish 20.7.5-smoke.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Publish 20.7.6-smoke.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Publish 20.7.7-smoke.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Publish 20.7.8-smoke.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Publish 20.7.2 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem
