Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem

wip: almost fixed spawn except for rare DETOX_ARGV_OVERRIDE cases
  detox/local-cli/cli.js
  detox/local-cli/testCommand/TestRunnerCommand.js
  detox/local-cli/testCommand/middlewares.js
  detox/local-cli/utils/yargsUtils.js
  detox/package.json
  detox/test/e2e/detox.config.js
Owners: @d4vidi, @noomorph

wip: rewrite local-cli/test integration tests
  detox/local-cli/__mocks__/executable
  detox/local-cli/test.test.js
  detox/local-cli/testCommand/TestRunnerCommand.js
  detox/local-cli/testCommand/middlewares.js
Owners: @d4vidi, @noomorph

fix escaping issue
  detox/local-cli/test.test.js
  detox/local-cli/testCommand/TestRunnerCommand.js
Owners: @d4vidi, @noomorph

Add support for getAttributes with multiple views
  detox/src/android/AndroidExpect.test.js
  detox/src/android/core/NativeElement.js
  detox/src/android/interactions/native.js
  detox/test/e2e/33.attributes.test.js
Owners: @d4vidi, @noomorph

Improve test names
  detox/src/android/AndroidExpect.test.js
Owners: @d4vidi, @noomorph

wip: write trace events to log
  detox/index.d.ts
  detox/local-cli/test.test.js
  detox/local-cli/testCommand/TestRunnerCommand.js
  detox/local-cli/testCommand/builder.js
  detox/package.json
  detox/src/DetoxContext.js
  detox/src/DetoxPrimaryContext.js
  detox/src/DetoxWorker.js
  detox/src/artifacts/providers/index.js
  detox/src/artifacts/timeline/TimelineArtifactPlugin.js
  detox/src/artifacts/timeline/TimelineArtifactPlugin.test.js
  detox/src/configuration/collectCliConfig.js
  detox/src/configuration/collectCliConfig.test.js
  detox/src/configuration/composeArtifactsConfig.js
  detox/src/configuration/composeArtifactsConfig.test.js
  detox/src/configuration/configurations.mock.js
  detox/src/constants/index.js
  detox/src/ipc/IPCClient.js
  detox/src/ipc/IPCServer.js
  detox/src/utils/DetoxLogger.js
  detox/src/utils/DetoxTraceEventBuilder.js
  detox/src/utils/__mocks__/DetoxLogger.js
  detox/test/e2e/config.js
  detox/test/e2e/detox.config.js
  detox/test/integration/stub/StubArtifactPluginsProvider.js
  detox/test/integration/timeline-artifact.test.js
Owners: @d4vidi, @noomorph

Initial refactor to handle multiple views on the native side
  detox/android/detox/proguard-rules-app.pro
  detox/android/detox/src/full/java/com/wix/detox/espresso/DetoxAssertion.java
  detox/android/detox/src/full/java/com/wix/detox/espresso/EspressoDetox.java
  detox/android/detox/src/full/java/com/wix/detox/espresso/MultiViewInteraction.kt
  detox/src/android/AndroidExpect.test.js
  detox/src/android/core/NativeElement.js
  detox/src/android/espressoapi/EspressoDetox.js
  detox/src/android/interactions/native.js
  detox/test/e2e/33.attributes.test.js
  generation/adapters/android.js
Owners: @d4vidi, @jonathanmos, @noomorph

Rename MultiViewInteraction to DetoxViewInteraction
  detox/android/detox/src/full/java/com/wix/detox/espresso/DetoxAssertion.java
  detox/android/detox/src/full/java/com/wix/detox/espresso/DetoxViewInteraction.kt
  detox/android/detox/src/full/java/com/wix/detox/espresso/EspressoDetox.java
  detox/src/android/espressoapi/EspressoDetox.js
  generation/adapters/android.js
Owners: @d4vidi, @jonathanmos, @noomorph

Wrap ViewAction to expose isMultiViewAction
  detox/android/detox/src/coreNative/java/com/wix/detox/actions/DetoxViewActions.kt
  detox/android/detox/src/full/java/com/wix/detox/espresso/DetoxAction.java
  detox/android/detox/src/full/java/com/wix/detox/espresso/DetoxAssertion.java
  detox/android/detox/src/full/java/com/wix/detox/espresso/DetoxViewAction.kt
  detox/android/detox/src/full/java/com/wix/detox/espresso/DetoxViewActionHelper.kt
  detox/android/detox/src/full/java/com/wix/detox/espresso/DetoxViewActions.java
  detox/android/detox/src/full/java/com/wix/detox/espresso/DetoxViewInteraction.kt
  detox/android/detox/src/full/java/com/wix/detox/espresso/EspressoDetox.java
  detox/android/detox/src/full/java/com/wix/detox/espresso/action/AdjustSliderToPositionAction.kt
  detox/android/detox/src/full/java/com/wix/detox/espresso/action/DetoxTypeTextAction.java
  detox/android/detox/src/full/java/com/wix/detox/espresso/action/GetAttributesAction.kt
  detox/android/detox/src/full/java/com/wix/detox/espresso/action/RNClickAction.java
  detox/android/detox/src/main/java/com/wix/detox/espresso/ViewActionWithResult.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/action/ScrollToIndexAction.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/action/TakeViewScreenshotAction.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/scroll/DetoxScrollActions.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/scroll/SwipeHelper.kt
  detox/android/detox/src/testFull/java/com/wix/detox/espresso/scroll/SwipeHelperSpec.kt
  detox/src/android/core/NativeElement.js
  generation/adapters/android.js
  generation/core/generator.js
Owners: @d4vidi, @jonathanmos, @noomorph

Wrap only getAttributes in detoxViewAction
  detox/android/detox/src/coreNative/java/com/wix/detox/actions/DetoxViewActions.kt
  detox/android/detox/src/full/java/com/wix/detox/espresso/DetoxAction.java
  detox/android/detox/src/full/java/com/wix/detox/espresso/DetoxAssertion.java
  detox/android/detox/src/full/java/com/wix/detox/espresso/DetoxViewAction.kt
  detox/android/detox/src/full/java/com/wix/detox/espresso/DetoxViewActionHelper.kt
  detox/android/detox/src/full/java/com/wix/detox/espresso/DetoxViewActions.java
  detox/android/detox/src/full/java/com/wix/detox/espresso/DetoxViewInteraction.kt
  detox/android/detox/src/full/java/com/wix/detox/espresso/EspressoDetox.java
  detox/android/detox/src/full/java/com/wix/detox/espresso/action/AdjustSliderToPositionAction.kt
  detox/android/detox/src/full/java/com/wix/detox/espresso/action/DetoxTypeTextAction.java
  detox/android/detox/src/full/java/com/wix/detox/espresso/action/GetAttributesAction.kt
  detox/android/detox/src/full/java/com/wix/detox/espresso/action/RNClickAction.java
  detox/android/detox/src/main/java/com/wix/detox/espresso/ViewActionWithResult.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/action/ScrollToIndexAction.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/action/TakeViewScreenshotAction.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/scroll/DetoxScrollActions.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/scroll/SwipeHelper.kt
  detox/android/detox/src/testFull/java/com/wix/detox/espresso/scroll/SwipeHelperSpec.kt
Owners: @d4vidi, @jonathanmos

misc
  detox/android/detox/src/full/java/com/wix/detox/espresso/DetoxAction.java
  detox/android/detox/src/full/java/com/wix/detox/espresso/DetoxViewAction.kt
  detox/android/detox/src/full/java/com/wix/detox/espresso/DetoxViewActions.java
  detox/android/detox/src/full/java/com/wix/detox/espresso/action/AdjustSliderToPositionAction.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/scroll/SwipeHelper.kt
Owners: @d4vidi, @jonathanmos

wip: finish trace implementation
  detox/index.d.ts
  detox/local-cli/test.test.js
  detox/package.json
  detox/src/DetoxContext.js
  detox/src/DetoxPrimaryContext.js
  detox/src/configuration/composeLoggerConfig.js
  detox/src/constants/index.js
  detox/src/ipc/IPCClient.js
  detox/src/ipc/IPCServer.js
  detox/src/logger/DetoxLogger.js
  detox/src/logger/DetoxTraceEventBuilder.js
  detox/src/logger/DetoxTracer.js
  detox/src/logger/TraceThreadDispatcher.js
  detox/src/logger/__mocks__/DetoxLogger.js
  detox/src/utils/DetoxTraceEventBuilder.js
  detox/src/utils/__mocks__/logger.js
  detox/src/utils/__mocks__/trace.js
  detox/src/utils/trace.js
  detox/src/utils/trace.test.js
Owners: @d4vidi, @noomorph

Move multiView logic inside multiViewAction
  detox/android/detox/src/full/java/com/wix/detox/espresso/DetoxViewAction.kt
  detox/android/detox/src/full/java/com/wix/detox/espresso/DetoxViewInteraction.kt
  detox/android/detox/src/full/java/com/wix/detox/espresso/EspressoDetox.java
  detox/android/detox/src/full/java/com/wix/detox/espresso/MultiViewAction.kt
  detox/android/detox/src/full/java/com/wix/detox/espresso/action/GetAttributesAction.kt
  generation/adapters/android.js
  generation/core/generator.js
Owners: @d4vidi, @jonathanmos, @noomorph

Make explicit that multiViewAction is with result
  detox/android/detox/src/full/java/com/wix/detox/espresso/DetoxViewInteraction.kt
  detox/android/detox/src/full/java/com/wix/detox/espresso/MultiViewActionWithResult.kt
  detox/android/detox/src/full/java/com/wix/detox/espresso/action/GetAttributesAction.kt
Owners: @d4vidi, @jonathanmos

Move MultiViewActionWithResult to more appropriate location
  detox/android/detox/src/main/java/com/wix/detox/espresso/MultiViewActionWithResult.kt
Owners: @d4vidi, @jonathanmos

wip: Win32 fixes
  detox/local-cli/testCommand/TestRunnerCommand.js
  detox/src/logger/DetoxLogger.js
  detox/src/utils/jsonl.js
  detox/src/utils/shellUtils.js
Owners: @d4vidi, @noomorph

temp: disable coverage
  detox/package.json
Owners: @d4vidi

revert move MultiViewActionWithResult
  detox/android/detox/src/full/java/com/wix/detox/espresso/MultiViewActionWithResult.kt
Owners: @d4vidi, @jonathanmos

improve tracing and streams
  detox/index.d.ts
  detox/internals.d.ts
  detox/local-cli/testCommand/TestRunnerCommand.js
  detox/package.json
  detox/src/DetoxPrimaryContext.js
  detox/src/DetoxWorker.js
  detox/src/DetoxWorker.test.js
  detox/src/artifacts/ArtifactsManager.js
  detox/src/configuration/composeRunnerConfig.js
  detox/src/devices/allocation/DeviceAllocator.js
  detox/src/devices/allocation/drivers/android/emulator/EmulatorAllocDriver.js
  detox/src/devices/allocation/drivers/android/emulator/EmulatorAllocDriver.test.js
  detox/src/devices/allocation/drivers/android/emulator/EmulatorLauncher.js
  detox/src/devices/allocation/drivers/android/emulator/EmulatorLauncher.test.js
  detox/src/devices/runtime/RuntimeDevice.js
  detox/src/devices/runtime/RuntimeDevice.test.js
  detox/src/ipc/IPCClient.js
  detox/src/ipc/IPCServer.js
  detox/src/logger/DetoxLogger.js
  detox/src/logger/DetoxTracer.js
  detox/src/utils/__mocks__/trace.js
  detox/src/utils/jsonl.js
  detox/src/utils/streamUtils.js
  detox/src/utils/streamUtils.test.js
  detox/src/utils/trace.js
  detox/test/e2e/detox.config.js
  detox/test/e2e/environment.js
  detox/test/e2e/utils/artifactUtils.js
  detox/test/integration/timeline-artifact.test.js
Owners: @d4vidi, @noomorph

fix: duplicate logs
  detox/src/client/AsyncWebSocket.js
  detox/src/client/AsyncWebSocket.test.js
  detox/src/ipc/IPCServer.js
  detox/src/server/DetoxConnection.js
  detox/src/utils/__mocks__/trace.js
  detox/src/utils/streamUtils.js
Owners: @d4vidi, @noomorph

temp: disable timeline integration test
  detox/test/integration/__snapshots__/timeline-artifact.test.js.snap
  detox/test/integration/timeline-artifact.test.js
Owners: @d4vidi, @noomorph

ci: fix build
  detox/local-cli/__mocks__/executable
  detox/test/package.json
  detox/test/scripts/ci_unhappy.sh
  docs/APIRef.DetoxCLI.md
Owners: @d4vidi, @noomorph

wip: implement internal status check
  detox/internals.d.ts
  detox/package.json
  detox/src/DetoxContext.js
  detox/src/DetoxInternalsFacade.js
  detox/src/errors/DetoxError.js
  detox/src/symbols.js
  detox/test/e2e/config.js
Owners: @d4vidi, @noomorph

test: fix unit tests
  detox/local-cli/test.test.js
  detox/src/utils/shellUtils.js
Owners: @d4vidi, @noomorph

PR fixes
  detox/android/detox/proguard-rules-app.pro
  detox/android/detox/src/full/java/com/wix/detox/espresso/DetoxAssertion.java
  detox/android/detox/src/full/java/com/wix/detox/espresso/DetoxViewInteraction.kt
  detox/android/detox/src/full/java/com/wix/detox/espresso/MultiViewActionWithResult.kt
  detox/src/android/AndroidExpect.test.js
  detox/src/android/core/NativeElement.js
  detox/src/android/espressoapi/DetoxAssertion.js
Owners: @d4vidi, @jonathanmos, @noomorph

Match ios elements api
  detox/android/detox/src/full/java/com/wix/detox/espresso/MultiViewActionWithResult.kt
  detox/index.d.ts
  detox/test/e2e/33.attributes.test.js
Owners: @d4vidi, @jonathanmos, @noomorph

Fix common attributes test
  detox/test/types/detox-global-tests.ts
Owners: @d4vidi, @noomorph

test: fix integration test
  detox/src/DetoxContext.js
Owners: @d4vidi, @noomorph

fix: rework init/cleanup
  detox/internals.d.ts
  detox/local-cli/testCommand/TestRunnerCommand.js
  detox/runners/jest/environment/index.js
  detox/src/DetoxContext.js
  detox/src/realms/index.js
  detox/src/symbols.js
  detox/test/e2e/config.js
Owners: @d4vidi, @noomorph

remove tight dependencies on env vars
  detox/src/DetoxContext.js
  detox/src/DetoxInternalsFacade.js
  detox/src/DetoxPrimaryContext.js
  detox/src/DetoxSecondaryContext.js
  detox/src/artifacts/utils/buildDefaultArtifactsRootDirpath.js
  detox/src/artifacts/utils/buildDefaultArtifactsRootDirpath.test.js
  detox/src/client/Client.js
  detox/src/configuration/composeArtifactsConfig.test.js
  detox/src/devices/common/drivers/android/genycloud/services/GenyInstanceNaming.js
  detox/src/devices/common/drivers/android/genycloud/services/GenyInstanceNaming.test.js
  detox/src/ipc/IPCClient.js
  detox/src/ipc/IPCServer.js
  detox/src/ipc/state.js
  detox/src/utils/getWorkerId.js
  detox/src/utils/getWorkerId.test.js
Owners: @d4vidi, @noomorph

ci: simplify scripts via config
  detox/test/e2e/config.js
  detox/test/e2e/detox.config.js
  detox/test/package.json
Owners: @d4vidi, @noomorph

Add tests to check that device.log was created
  detox/test/e2e/21.artifacts.test.js
Owners: @d4vidi, @noomorph

fix: restore DetoxConstants in facade
  detox/index.d.ts
  detox/src/DetoxConstants.js
  detox/src/DetoxContext.js
Owners: @d4vidi, @noomorph

fix(ios): headless mode
  detox/src/devices/allocation/drivers/ios/SimulatorAllocDriver.js
  detox/test/e2e/detox.config.js
Owners: @d4vidi, @noomorph

fix(ios): headless mode
  detox/src/devices/allocation/drivers/ios/SimulatorAllocDriver.js
Owners: @d4vidi, @noomorph

ci: fix config
  detox/test/e2e/detox.config.js
Owners: @d4vidi, @noomorph

fix(ios): headless mode
  detox/src/devices/allocation/drivers/ios/SimulatorAllocDriver.js
  detox/src/errors/DetoxConfigErrorComposer.js
  detox/src/errors/__snapshots__/DetoxConfigErrorComposer.test.js.snap
  detox/test/e2e/detox.config.js
Owners: @d4vidi, @noomorph

fix: cli, e2e-unhappy and etc
  detox/local-cli/cli.js
  detox/runners/jest/environment/index.js
  detox/src/DetoxPrimaryContext.js
  detox/src/DetoxSecondaryContext.js
  detox/src/configuration/collectCliConfig.js
  detox/src/configuration/composeLoggerConfig.js
  detox/src/devices/common/drivers/android/genycloud/services/GenyInstanceNaming.js
  detox/src/devices/common/drivers/android/genycloud/services/GenyInstanceNaming.test.js
  detox/src/logger/DetoxLogger.js
  detox/test/e2e-unhappy/detox-init-timeout/environment.js
  detox/test/e2e-unhappy/detox-init-timeout/jest.config.js
  detox/test/e2e/detox.config.js
  detox/test/e2e/jest.config.js
  detox/test/integration/jest.config.js
  detox/test/package.json
  detox/test/scripts/ci_unhappy.sh
  scripts/ci.android.sh
  scripts/ci.ios.sh
Owners: @d4vidi, @noomorph

fix: override console, hang up for --listTests in Jest, and test file pattern
  detox/index.d.ts
  detox/internals.d.ts
  detox/src/DetoxContext.js
  detox/src/configuration/composeLoggerConfig.js
  detox/src/configuration/composeLoggerConfig.test.js
  detox/src/configuration/index.test.js
  detox/src/logger/DetoxLogger.js
  detox/src/realms/index.js
  detox/test/e2e/jest.config.js
Owners: @d4vidi, @noomorph

fix: logger file cleanup
  detox/internals.d.ts
  detox/local-cli/build-framework-cache.js
  detox/local-cli/build.js
  detox/local-cli/build.test.js
  detox/local-cli/clean-framework-cache.js
  detox/local-cli/init.js
  detox/src/DetoxContext.js
  detox/src/DetoxPrimaryContext.js
  detox/src/artifacts/utils/temporaryPath.js
  detox/src/ipc/IPCClient.js
  detox/src/logger/DetoxLogger.js
Owners: @d4vidi, @noomorph
