Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

wip: example
  website/src/components/Homepage/Header/HomepageHeader.module.scss
Owners: @d4vidi

media for 375px & 1600px
  website/src/components/Homepage/Header/HomepageHeader.module.scss
Owners: @d4vidi

wip: css calc values
  website/src/components/Homepage/Header/HomepageHeader.module.scss
Owners: @d4vidi

fix paddings
  website/src/components/Homepage/Header/HomepageHeader.module.scss
Owners: @d4vidi

wip: add more rules
  detox-doctor/src/rules/aligned-jest-versions/index.ts
  detox-doctor/src/rules/aligned-ts-jest-version/index.ts
  detox-doctor/src/rules/missing-node-modules/index.ts
Owners: @d4vidi, @noomorph

wip: add unsupported-jest-version
  detox-doctor/src/__utils__/MockProject.ts
  detox-doctor/src/rules/index.ts
  detox-doctor/src/rules/unsupported-jest-version/index.test.ts
  detox-doctor/src/rules/unsupported-jest-version/index.ts
Owners: @d4vidi, @noomorph

wip: is that all
  website/src/components/Homepage/Header/HomepageHeader.module.scss
Owners: @d4vidi

wip: last fixes
  website/src/components/Homepage/Header/HomepageHeader.module.scss
Owners: @d4vidi

docs(website): home page hero banner styling (#4227)
  website/src/components/Homepage/Header/HomepageHeader.js
  website/src/components/Homepage/Header/HomepageHeader.module.scss
  website/src/css/_navbar.scss
  website/src/css/_root.scss
  website/src/theme/Navbar/Search/styles.module.scss
  website/static/img/homepage/hero-image.jpg
  website/static/img/homepage/hero-image.webp
Owners: @d4vidi, @noomorph

docs(website): amend css changes
  website/src/components/Homepage/Header/HomepageHeader.js
  website/src/components/Homepage/Header/HomepageHeader.module.scss
Owners: @d4vidi, @noomorph

Publish 20.13.2 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  generation/package.json
  lerna.json
  package.json
Owners: @d4vidi

Publish docs version 20.x
  website/versioned_docs/version-20.x/api/actions.md
  website/versioned_docs/version-20.x/api/webviews.md
Owners: @d4vidi

refactor: split typings
  detox/.eslintignore
  detox/detox.d.ts
  detox/globals.d.ts
  detox/index.d.ts
  detox/tsconfig.json
Owners: @d4vidi, @noomorph

fix(matchers): type assertion
  detox/src/android/core/WebElement.js
Owners: @d4vidi, @noomorph

refactor: extract global typings (#4243)
  detox/.eslintignore
  detox/detox.d.ts
  detox/globals.d.ts
  detox/index.d.ts
  detox/src/android/core/WebElement.js
  detox/tsconfig.json
Owners: @d4vidi, @noomorph

main + color fix
  website/src/components/Homepage/Features/HomepageFeatures.js
  website/src/components/Homepage/Features/HomepageFeatures.module.scss
  website/src/components/Homepage/Header/HomepageHeader.module.scss
  website/src/components/Homepage/SubHeader/HomepageSubHeader.js
  website/src/components/Homepage/SubHeader/HomepageSubHeader.module.scss
  website/src/css/_root.scss
Owners: @d4vidi, @noomorph

docs(website): fix headers in light mode
  website/src/components/Homepage/Header/HomepageHeader.module.scss
  website/src/css/_root.scss
Owners: @d4vidi

docs(website): home page styling
  website/src/components/Homepage/Features/HomepageFeatures.js
  website/src/components/Homepage/Features/HomepageFeatures.module.scss
  website/src/components/Homepage/Header/HomepageHeader.module.scss
  website/src/components/Homepage/SubHeader/HomepageSubHeader.js
  website/src/components/Homepage/SubHeader/HomepageSubHeader.module.scss
Owners: @d4vidi, @noomorph

docs(website): fix headers in light mode
  website/src/components/Homepage/Header/HomepageHeader.module.scss
  website/src/components/Showcase/Hero.module.scss
  website/src/css/_root.scss
Owners: @d4vidi

docs(website): fix headers in light mode (#4247)
  website/src/components/Homepage/Header/HomepageHeader.module.scss
  website/src/components/Showcase/Hero.module.scss
  website/src/css/_root.scss
Owners: @d4vidi

fix(android): add namespace to build.gradle for android gradle plugin 8 compatibility (#4229)
  detox/android/detox/build.gradle
Owners: @d4vidi, @jonathanmos

desktop sizes and fonts fix
  website/src/components/Homepage/Features/Features.js
  website/src/components/Homepage/Features/Features.scss
  website/src/components/Homepage/Features/HomepageFeatures.module.scss
  website/static/img/homepage/cross-platform.svg
  website/static/img/homepage/sync.svg
Owners: @d4vidi, @noomorph

desktop size fix, module transition
  website/src/components/Homepage/Features/Features.js
  website/src/components/Homepage/Features/Features.module.scss
  website/src/components/Homepage/Features/HomepageFeatures.js
  website/src/components/Homepage/Features/HomepageFeatures.module.scss
  website/src/css/_root.scss
Owners: @d4vidi, @noomorph

Publish 20.13.3 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

fix(android): AGP8 support
  detox/android/detox/build.gradle
Owners: @d4vidi, @jonathanmos

Publish 20.13.4-smoke.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

fix: outdated sdk and avd manager directories
  docs/introduction/preparing-for-ci.md
Owners: @d4vidi

adaptive fix
  website/src/components/Homepage/Features/Features.module.scss
  website/src/components/Homepage/Features/HomepageFeatures.js
  website/src/components/Homepage/Features/HomepageFeatures.module.scss
Owners: @d4vidi, @noomorph

fix: linter
  docs/introduction/preparing-for-ci.md
Owners: @d4vidi

fix(android): AGP8 support (#4254)
  detox/android/detox/build.gradle
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi, @jonathanmos

fix: simplify script for install emulator
  docs/introduction/preparing-for-ci.md
Owners: @d4vidi

docs(website): fix outdated sdk and avd manager directories (#4256)
  docs/introduction/preparing-for-ci.md
Owners: @d4vidi

initial global node install check
  detox-doctor/src/rules/global-environmental-rules/global-node-installation/index.ts
  detox-doctor/src/rules/global-environmental-rules/index.ts
  detox-doctor/src/rules/index.ts
Owners: @d4vidi, @noomorph

Publish 20.13.4 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Publish docs version 20.x
  website/versioned_docs/version-20.x/introduction/preparing-for-ci.md
Owners: @d4vidi

adding which lib and changing node check
  detox-doctor/package.json
  detox-doctor/src/rules/global-environmental-rules/global-node-installation/index.ts
Owners: @d4vidi, @noomorph

in progress
  website/src/components/Homepage/Features/Features.module.scss
  website/src/components/Homepage/Features/HomepageFeatures.js
  website/src/components/Homepage/Features/HomepageFeatures.module.scss
  website/src/components/Homepage/SubHeader/HomepageSubHeader.module.scss
Owners: @d4vidi, @noomorph

wip: fix alignment
  website/src/components/Homepage/SubHeader/HomepageSubHeader.js
  website/src/components/Homepage/SubHeader/HomepageSubHeader.module.scss
Owners: @d4vidi, @noomorph

Publish 20.13.5-smoke.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Publish 20.13.5 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem
