Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

Publish 21.0.0-rc.7 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  generation/package.json
  lerna.json
  package.json
Owners: @d4vidi

implement by.web.accessibilityType matcher
  detox/detox.d.ts
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/WebElementPattern.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/WebPredicateType.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/InvokeHandlerWebPredicateSpec.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/MessageBuilder+webPredicate.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/MessageWebPredicateSpec.swift
  detox/ios/DetoxTester/DetoxTester/Matchers/XCUIElementQuery/XCUIElementQuery+Error.swift
  detox/ios/DetoxTester/DetoxTester/Matchers/XCUIElementQuery/XCUIElementQuery+webMatching.swift
  detox/ios/DetoxTester/DetoxTester/Utils/Extensions/ElementType+Extensions.swift
  detox/src/android/matchers/index.js
  detox/src/android/matchers/web.js
  detox/src/ios/web.js
  detox/test/e2e/29.webview.test.js
Owners: @d4vidi, @noomorph, @asafkorem

Publish 21.0.0-rc.8 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

update docs
  docs/api/webviews.md
Owners: @d4vidi

wip: revert
  detox/ios/DetoxTester/DetoxTesterApp/Actions Screens/Web/WebViewController.swift
Owners: @asafkorem

Revert "wip: revert"
  detox/ios/DetoxTester/DetoxTesterApp/Actions Screens/Web/WebViewController.swift
Owners: @asafkorem

(Android) Make activity launch more supervised, debuggable
  detox/android/detox/src/full/java/com/wix/detox/ActivityLaunchHelper.kt
  detox/android/detox/src/full/java/com/wix/detox/Detox.java
  detox/android/detox/src/full/java/com/wix/detox/DetoxMain.kt
  detox/android/detox/src/full/java/com/wix/detox/LaunchIntentsFactory.kt
  detox/android/detox/src/full/java/com/wix/detox/adapters/server/DetoxActionHandlers.kt
  detox/android/detox/src/full/java/com/wix/detox/adapters/server/DetoxServerInfo.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/ReactMarkersLogger.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/ReactNativeExtension.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/UiControllerSpy.kt
  detox/src/android/espressoapi/Detox.js
  detox/test/e2e/19.crash-handling.test.js
Owners: @d4vidi, @jonathanmos, @noomorph

wip
  detox/test/e2e/29.webview.test.js
Owners: @d4vidi, @noomorph

improve description
  detox/ios/DetoxTester/DetoxTester/Actions/XCUIElement/XCUIElement+Error.swift
Owners: @asafkorem

Fix: Get rid of PrematureIsReadyHandler by eliminating artificially-sent isReady msg
  detox/android/detox/src/full/java/com/wix/detox/DetoxMain.kt
  detox/android/detox/src/full/java/com/wix/detox/adapters/server/DetoxActionHandlers.kt
  detox/android/detox/src/full/java/com/wix/detox/adapters/server/DetoxServerAdapter.kt
Owners: @d4vidi, @jonathanmos

Move init to instrum thread
  detox/android/detox/src/full/java/com/wix/detox/DetoxMain.kt
  detox/android/detox/src/full/java/com/wix/detox/adapters/server/DetoxActionHandlers.kt
  detox/android/detox/src/full/java/com/wix/detox/adapters/server/DetoxActionsDispatcher.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/ReactNativeExtension.kt
Owners: @d4vidi, @jonathanmos

chore: bump jest-allure-reporter@2.0.0-alpha.11 (#4291)
  .github/workflows/rapid-test.yml
  detox/package.json
  detox/test/package.json
  generation/package.json
Owners: @d4vidi

Publish 21.0.0-rc.9 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  generation/package.json
  lerna.json
  package.json
Owners: @d4vidi

Publish 20.14.0-prerelease.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  generation/package.json
  lerna.json
  package.json
Owners: @d4vidi

Publish 21.0.0-rc.10 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

fix types
  detox/detox.d.ts
Owners: @d4vidi, @noomorph

Publish 21.0.0-rc.11 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Improve code quality (wip), Remove global instrum-thread try-catch
  detox/android/detox/src/full/java/com/wix/detox/Detox.java
  detox/android/detox/src/full/java/com/wix/detox/DetoxMain.kt
Owners: @d4vidi, @jonathanmos

Publish 20.14.0-prerelease.1 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Improve code quality
  detox/android/detox/src/full/java/com/wix/detox/DetoxMain.kt
  detox/android/detox/src/full/java/com/wix/detox/adapters/server/DetoxActionsDispatcher.kt
Owners: @d4vidi, @jonathanmos

Publish 20.14.0-prerelease.2 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Remove old RN sleep workaround
  detox/android/detox/src/full/java/com/wix/detox/reactnative/ReactNativeExtension.kt
Owners: @d4vidi, @jonathanmos

Revert "Publish 20.14.0-prerelease.2 [ci skip]"
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Revert "Publish 20.14.0-prerelease.1 [ci skip]"
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Revert "Publish 20.14.0-prerelease.0 [ci skip]"
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  generation/package.json
  lerna.json
  package.json
Owners: @d4vidi

Re: Supervised android launch (#4293)
  detox/android/detox/src/full/java/com/wix/detox/ActivityLaunchHelper.kt
  detox/android/detox/src/full/java/com/wix/detox/Detox.java
  detox/android/detox/src/full/java/com/wix/detox/DetoxMain.kt
  detox/android/detox/src/full/java/com/wix/detox/LaunchIntentsFactory.kt
  detox/android/detox/src/full/java/com/wix/detox/adapters/server/DetoxActionHandlers.kt
  detox/android/detox/src/full/java/com/wix/detox/adapters/server/DetoxActionsDispatcher.kt
  detox/android/detox/src/full/java/com/wix/detox/adapters/server/DetoxServerAdapter.kt
  detox/android/detox/src/full/java/com/wix/detox/adapters/server/DetoxServerInfo.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/ReactMarkersLogger.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/ReactNativeExtension.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/UiControllerSpy.kt
  detox/src/android/espressoapi/Detox.js
  detox/test/e2e/19.crash-handling.test.js
Owners: @d4vidi, @jonathanmos, @noomorph

Publish 20.14.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  generation/package.json
  lerna.json
  package.json
Owners: @d4vidi

Publish docs version 20.x
  website/versioned_docs/version-20.x/api/webviews.md
  website/versioned_docs/version-20.x/config/testRunner.mdx
  website/versioned_docs/version-20.x/contributing.md
  website/versioned_docs/version-20.x/contributing/code-of-conduct.md
  website/versioned_docs/version-20.x/contributing/code/building-and-testing.md
  website/versioned_docs/version-20.x/contributing/code/example-projects.md
  website/versioned_docs/version-20.x/contributing/code/overview.md
  website/versioned_docs/version-20.x/contributing/code/reviewing-pull-requests.md
  website/versioned_docs/version-20.x/contributing/code/setting-up-the-dev-environment.md
  website/versioned_docs/version-20.x/contributing/code/submitting-pull-requests.md
  website/versioned_docs/version-20.x/contributing/documentation.md
  website/versioned_docs/version-20.x/contributing/feature-requests.md
  website/versioned_docs/version-20.x/contributing/questions/answering-questions.md
  website/versioned_docs/version-20.x/contributing/questions/asking-questions.md
  website/versioned_docs/version-20.x/contributing/reporting-bugs.md
  website/versioned_docs/version-20.x/guide/launch-args.md
  website/versioned_docs/version-20.x/introduction/environment-setup.md
  website/versioned_docs/version-20.x/introduction/getting-started.mdx
  website/versioned_sidebars/version-20.x-sidebars.json
Owners: @d4vidi

fix: stop pid override in logs
  detox/src/utils/childProcess/spawn.js
Owners: @d4vidi, @noomorph

internal: stop pid override in logs (#4294)
  detox/src/utils/childProcess/spawn.js
Owners: @d4vidi, @noomorph

Publish 20.14.1 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

internal: use jest-environment-emit
  detox/package.json
  detox/runners/jest/testEnvironment/index.js
  detox/test/e2e/jest.config.js
  detox/test/package.json
  generation/package.json
Owners: @d4vidi, @noomorph

Publish 20.14.2-smoke.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  generation/package.json
  lerna.json
  package.json
Owners: @d4vidi

Revert "Re: Supervised android launch (#4293)"
  detox/android/detox/src/full/java/com/wix/detox/ActivityLaunchHelper.kt
  detox/android/detox/src/full/java/com/wix/detox/Detox.java
  detox/android/detox/src/full/java/com/wix/detox/DetoxMain.kt
  detox/android/detox/src/full/java/com/wix/detox/LaunchIntentsFactory.kt
  detox/android/detox/src/full/java/com/wix/detox/adapters/server/DetoxActionHandlers.kt
  detox/android/detox/src/full/java/com/wix/detox/adapters/server/DetoxActionsDispatcher.kt
  detox/android/detox/src/full/java/com/wix/detox/adapters/server/DetoxServerAdapter.kt
  detox/android/detox/src/full/java/com/wix/detox/adapters/server/DetoxServerInfo.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/ReactMarkersLogger.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/ReactNativeExtension.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/UiControllerSpy.kt
  detox/src/android/espressoapi/Detox.js
  detox/test/e2e/19.crash-handling.test.js
Owners: @d4vidi, @jonathanmos, @noomorph

Upgraded espresso version to 3.5.1 in order to fix the issue with swipe on android 33/34
  detox/android/detox/build.gradle
  detox/android/detox/proguard-rules-app.pro
  detox/android/detox/src/full/java/com/wix/detox/espresso/assertion/ViewAssertions.java
  detox/test/e2e/detox.config.js
Owners: @d4vidi, @jonathanmos, @noomorph

Revert "Re: Supervised android launch (#4293)" (#4296)
  detox/android/detox/src/full/java/com/wix/detox/ActivityLaunchHelper.kt
  detox/android/detox/src/full/java/com/wix/detox/Detox.java
  detox/android/detox/src/full/java/com/wix/detox/DetoxMain.kt
  detox/android/detox/src/full/java/com/wix/detox/LaunchIntentsFactory.kt
  detox/android/detox/src/full/java/com/wix/detox/adapters/server/DetoxActionHandlers.kt
  detox/android/detox/src/full/java/com/wix/detox/adapters/server/DetoxActionsDispatcher.kt
  detox/android/detox/src/full/java/com/wix/detox/adapters/server/DetoxServerAdapter.kt
  detox/android/detox/src/full/java/com/wix/detox/adapters/server/DetoxServerInfo.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/ReactMarkersLogger.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/ReactNativeExtension.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/UiControllerSpy.kt
  detox/src/android/espressoapi/Detox.js
  detox/test/e2e/19.crash-handling.test.js
Owners: @d4vidi, @jonathanmos, @noomorph

Undo changes for detox.config.js
  detox/test/e2e/detox.config.js
Owners: @d4vidi, @noomorph

Undo changes for detox.config.js
  detox/test/e2e/detox.config.js
Owners: @d4vidi, @noomorph

Publish 20.14.2 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

fix(android): swipe is not working correctly on API 33-34 (#4299)
  detox/android/detox/build.gradle
  detox/android/detox/proguard-rules-app.pro
  detox/android/detox/src/full/java/com/wix/detox/espresso/assertion/ViewAssertions.java
Owners: @d4vidi, @jonathanmos

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem
