Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem

fixes
  detox/ios/Detox/DetoxManager.swift
  detox/ios/Detox/Utilities/NSObject+DetoxUtils.m
  detox/ios/DetoxTester/DetoxTester/Actions/XCUIElement/XCUIElement+tap.swift
  detox/src/android/AndroidExpect.test.js
  detox/src/devices/runtime/drivers/ios/XCUITestUtils.js
  detox/test/e2e/03.actions.test.js
  detox/test/e2e/21.artifacts.test.js
  detox/test/e2e/drivers/actions-driver.js
  detox/test/e2e/testEnvironment.js
  detox/test/src/Screens/ActionsScreen.js
Owners: @asafkorem, @d4vidi, @noomorph

(Android) Make activity launch more supervised, debuggable (#4205)
  detox/android/detox/src/full/java/com/wix/detox/ActivityLaunchHelper.kt
  detox/android/detox/src/full/java/com/wix/detox/Detox.java
  detox/android/detox/src/full/java/com/wix/detox/DetoxMain.kt
  detox/android/detox/src/full/java/com/wix/detox/LaunchIntentsFactory.kt
  detox/android/detox/src/full/java/com/wix/detox/adapters/server/DetoxActionHandlers.kt
  detox/android/detox/src/full/java/com/wix/detox/adapters/server/DetoxServerInfo.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/ReactMarkersLogger.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/ReactNativeExtension.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/UiControllerSpy.kt
  detox/package.json
  detox/src/android/espressoapi/Detox.js
  detox/test/e2e/19.crash-handling.test.js
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi, @jonathanmos, @noomorph

test: add e2e for device.backdoor()
  detox/test/e2e/03.actions.test.js
  detox/test/src/Screens/ActionsScreen.js
Owners: @d4vidi, @noomorph

docs: update the docs
  docs/api/device.md
  docs/guide/mocking.md
Owners: @d4vidi

fix: docs and test
  detox/test/src/Screens/ActionsScreen.js
  docs/guide/mocking.md
Owners: @d4vidi, @noomorph

docs: update links
  detox/index.d.ts
Owners: @d4vidi, @noomorph

docs: update links
  docs/guide/mocking.md
Owners: @d4vidi

docs: delete old backdoors guide
  docs/Guide.Backdoors.md
Owners: @d4vidi

fix: mark backdoor action as atomic
  detox/src/client/actions/actions.js
Owners: @d4vidi, @noomorph

Revert "(Android) Make activity launch more supervised, debuggable (#4205)"
  detox/android/detox/src/full/java/com/wix/detox/ActivityLaunchHelper.kt
  detox/android/detox/src/full/java/com/wix/detox/Detox.java
  detox/android/detox/src/full/java/com/wix/detox/DetoxMain.kt
  detox/android/detox/src/full/java/com/wix/detox/LaunchIntentsFactory.kt
  detox/android/detox/src/full/java/com/wix/detox/adapters/server/DetoxActionHandlers.kt
  detox/android/detox/src/full/java/com/wix/detox/adapters/server/DetoxServerInfo.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/ReactMarkersLogger.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/ReactNativeExtension.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/UiControllerSpy.kt
  detox/package.json
  detox/src/android/espressoapi/Detox.js
  detox/test/e2e/19.crash-handling.test.js
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi, @jonathanmos, @noomorph

Revert "(Android) Make activity launch more supervised, debuggable (#4205)" (#4209)
  detox/android/detox/src/full/java/com/wix/detox/ActivityLaunchHelper.kt
  detox/android/detox/src/full/java/com/wix/detox/Detox.java
  detox/android/detox/src/full/java/com/wix/detox/DetoxMain.kt
  detox/android/detox/src/full/java/com/wix/detox/LaunchIntentsFactory.kt
  detox/android/detox/src/full/java/com/wix/detox/adapters/server/DetoxActionHandlers.kt
  detox/android/detox/src/full/java/com/wix/detox/adapters/server/DetoxServerInfo.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/ReactMarkersLogger.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/ReactNativeExtension.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/UiControllerSpy.kt
  detox/package.json
  detox/src/android/espressoapi/Detox.js
  detox/test/e2e/19.crash-handling.test.js
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi, @jonathanmos, @noomorph

add detox/react-native facade
  detox/index.d.ts
  detox/react-native/BackdoorEmitter.js
  detox/react-native/index.js
  detox/test/e2e/03.actions.test.js
  detox/test/src/Screens/ActionsScreen.js
  detox/test/types/detox-module-tests.ts
  docs/api/device.md
  docs/guide/mocking.md
Owners: @d4vidi, @noomorph

docs: fix lint
  docs/api/device.md
  docs/guide/mocking.md
Owners: @d4vidi

extended BackdoorEmitter
  detox/react-native/BackdoorEmitter.js
  detox/test/src/Screens/ActionsScreen.js
  docs/api/device.md
  docs/guide/mocking.md
Owners: @d4vidi, @noomorph

docs: fix method name
  docs/api/device.md
Owners: @d4vidi

docs: fix method signature
  docs/api/device.md
Owners: @d4vidi

chore: dogfood jest-allure2-reporter@2.0.0-alpha.3
  detox/jest.config.js
  detox/package.json
  detox/test/e2e/jest.config.js
  detox/test/package.json
Owners: @d4vidi, @noomorph

chore: dogfood jest-allure2-reporter@2.0.0-alpha.3 (#4211)
  detox/jest.config.js
  detox/package.json
  detox/test/e2e/jest.config.js
  detox/test/package.json
Owners: @d4vidi, @noomorph

ci: use default loglevel
  detox/test/e2e/detox.config.js
Owners: @d4vidi, @noomorph

docs(android-dev-env): document how to list available device specs
  docs/guide/android-dev-env.md
Owners: @d4vidi

test(e2e): fix ANR test
  detox/test/e2e/19.app-responsiveness.test.js
Owners: @d4vidi, @noomorph

docs(android-dev-env): document how to list available device specs (#4213)
  docs/guide/android-dev-env.md
Owners: @d4vidi

redesign
  website/src/components/Homepage/SubHeader/HomepageSubHeader.js
  website/src/components/Homepage/SubHeader/HomepageSubHeader.module.scss
  website/static/img/homepage/arrow.svg
  website/static/img/homepage/follow-in-twitter.svg
  website/static/img/homepage/github.svg
  website/static/img/homepage/join-us-on-disc.svg
Owners: @d4vidi, @noomorph

refactor: Detox reporter
  detox/runners/__tests__/reporter.test.js
  detox/runners/jest/reporter.js
  detox/runners/jest/reporters/DetoxIPCReporter.js
  detox/runners/jest/reporters/DetoxReporter.js
  detox/runners/jest/reporters/DetoxReporterDispatcher.js
  detox/runners/jest/reporters/DetoxReporterDispatcher.test.js
  detox/runners/jest/reporters/DetoxSummaryReporter.js
  detox/runners/jest/reporters/DetoxVerboseReporter.js
  detox/runners/jest/reporters/index.js
Owners: @d4vidi, @noomorph

test(config): fix IDEA debugging
  detox/jest.config.js
Owners: @d4vidi, @noomorph

redesign mobile
  website/src/components/Homepage/SubHeader/HomepageSubHeader.module.scss
Owners: @d4vidi

fix(ios): preserve logs after device.resetContentAndSettings()
  detox/src/devices/allocation/drivers/ios/SimulatorAllocDriver.js
  detox/src/devices/allocation/drivers/ios/SimulatorLauncher.js
  detox/src/devices/allocation/drivers/ios/SimulatorLauncher.test.js
  detox/src/devices/allocation/factories/ios.js
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.test.js
  detox/src/devices/runtime/factories/ios.js
Owners: @d4vidi, @noomorph

refactor: Detox reporter (#4214)
  detox/runners/__tests__/reporter.test.js
  detox/runners/jest/reporter.js
  detox/runners/jest/reporters/DetoxIPCReporter.js
  detox/runners/jest/reporters/DetoxReporter.js
  detox/runners/jest/reporters/DetoxReporterDispatcher.js
  detox/runners/jest/reporters/DetoxReporterDispatcher.test.js
  detox/runners/jest/reporters/DetoxSummaryReporter.js
  detox/runners/jest/reporters/DetoxVerboseReporter.js
  detox/runners/jest/reporters/index.js
Owners: @d4vidi, @noomorph

fix(ios): preserve logs after device.resetContentAndSettings() (#4215)
  detox/src/devices/allocation/drivers/ios/SimulatorAllocDriver.js
  detox/src/devices/allocation/drivers/ios/SimulatorLauncher.js
  detox/src/devices/allocation/drivers/ios/SimulatorLauncher.test.js
  detox/src/devices/allocation/factories/ios.js
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.test.js
  detox/src/devices/runtime/factories/ios.js
Owners: @d4vidi, @noomorph

fix(android): tap event on android API>31
  detox/android/detox/src/main/java/com/wix/detox/espresso/action/common/MotionEvents.kt
Owners: @d4vidi, @jonathanmos

mobile fix
  website/src/components/Homepage/SubHeader/HomepageSubHeader.js
  website/src/components/Homepage/SubHeader/HomepageSubHeader.module.scss
  website/static/img/homepage/mobile-discord.svg
  website/static/img/homepage/mobile-github.svg
  website/static/img/homepage/mobile-twitter.svg
Owners: @d4vidi, @noomorph

mobile fix
  website/src/components/Homepage/SubHeader/HomepageSubHeader.module.scss
Owners: @d4vidi

Publish 20.13.1-smoke.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

mobile icons fix 2.0
  website/src/components/Homepage/SubHeader/HomepageSubHeader.js
  website/src/components/Homepage/SubHeader/HomepageSubHeader.module.scss
Owners: @d4vidi, @noomorph

sub-header fix
  website/src/components/Homepage/SubHeader/HomepageSubHeader.js
  website/src/components/Homepage/SubHeader/HomepageSubHeader.module.scss
  website/static/img/homepage/follow-in-twitter.svg
  website/static/img/homepage/twitter-logo.svg
Owners: @d4vidi, @noomorph

sub-header + h1 fix
  website/src/components/Homepage/Header/HomepageHeader.module.scss
  website/src/components/Homepage/SubHeader/HomepageSubHeader.js
  website/src/components/Homepage/SubHeader/HomepageSubHeader.module.scss
  website/static/img/homepage/arrow.svg
Owners: @d4vidi, @noomorph

refactor: minor corrections
  website/src/components/Homepage/SubHeader/HomepageSubHeader.js
  website/src/components/Homepage/SubHeader/HomepageSubHeader.module.scss
Owners: @d4vidi, @noomorph

docs(website): improve "Social networks" (#4217)
  website/src/components/Homepage/Header/HomepageHeader.module.scss
  website/src/components/Homepage/SubHeader/HomepageSubHeader.js
  website/src/components/Homepage/SubHeader/HomepageSubHeader.module.scss
  website/static/img/homepage/github.svg
  website/static/img/homepage/join-us-on-disc.svg
  website/static/img/homepage/mobile-discord.svg
  website/static/img/homepage/mobile-github.svg
  website/static/img/homepage/mobile-twitter.svg
  website/static/img/homepage/twitter-logo.svg
Owners: @d4vidi, @noomorph

fix(android): tap event on android API>31 (#4216)
  detox/android/detox/src/main/java/com/wix/detox/espresso/action/common/MotionEvents.kt
Owners: @d4vidi, @jonathanmos

fix(android): webElement.runScript(fn, args)
  detox/android/detox/src/full/java/com/wix/detox/espresso/web/WebElement.java
  detox/android/detox/src/full/java/com/wix/invoke/types/Invocation.java
  detox/android/detox/src/testFull/java/com/wix/invoke/JsonParserTest.java
  detox/android/detox/src/testFull/resources/targetInvocationEspressoWebDetoxScript.json
  detox/index.d.ts
  detox/src/android/AndroidExpect.test.js
  detox/src/android/core/WebElement.js
  detox/src/android/espressoapi/web/WebElement.js
  detox/src/utils/assertIsFunction.js
  detox/src/utils/assertIsFunction.test.js
  detox/src/utils/isArrowFunction.js
  detox/src/utils/isArrowFunction.test.js
  detox/test/e2e/29.webview.test.js
  detox/test/types/detox-global-tests.ts
  docs/api/webviews.md
  generation/core/generator.js
  website/versioned_docs/version-20.x/api/webviews.md
Owners: @d4vidi, @jonathanmos, @noomorph
