Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem

test(ios): update `Info.plist` with missing keys.
  detox/test/ios/example/Info.plist
Owners: @asafkorem

feat(ios): support React Native new arch app-reloading.
  detox/ios/Detox/Utilities/ReactNativeSupport/ReactNativeSupport.m
Owners: @asafkorem

test(ios): add example-ci scheme (no Detox linkage).
  detox/test/e2e/detox.config.js
  detox/test/ios/example.xcodeproj/project.pbxproj
Owners: @d4vidi, @noomorph, @asafkorem

test(ios): link Detox framework with project.
  detox/test/ios/example.xcodeproj/project.pbxproj
Owners: @asafkorem

fix(ios): temporary remove text fix for predicate.
  detox/ios/Detox/Invocation/Predicate.swift
  detox/ios/Detox/Utilities/NSObject+DontCrash.m
Owners: @asafkorem

feat(iOS): support new `RCTScrollViewComponentView`.
  detox/ios/Detox/Invocation/Element.swift
Owners: @asafkorem

test(ios): fix test-app Podfile.
  detox/test/ios/Podfile
Owners: @asafkorem

fix(ios): support new `RCTParagraphComponentView` component.
  detox/ios/Detox/Invocation/Predicate.swift
  detox/ios/Detox/Utilities/NSObject+DontCrash.m
Owners: @asafkorem

docs: remove yarn converter for --global commands
  docs/cli/overview.md
  docs/contributing/code/setting-up-the-dev-environment.md
  docs/guide/migration.md
  docs/guide/uninstalling.md
  docs/introduction/environment-setup.md
Owners: @d4vidi

docs: remove yarn converter for --global commands (#4670)
  docs/cli/overview.md
  docs/contributing/code/setting-up-the-dev-environment.md
  docs/guide/migration.md
  docs/guide/uninstalling.md
  docs/introduction/environment-setup.md
Owners: @d4vidi

Update testing-with-copilot.md
  docs/copilot/testing-with-copilot.md
Owners: @d4vidi

Fixed tests
  detox/test/src/Screens/StressScreen.js
Owners: @d4vidi, @noomorph

More OOP in idling resources
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/DetoxIdlingResource.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/animations/AnimatedModuleIdlingResource.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/bridge/BridgeIdlingResource.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/network/NetworkIdlingResource.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/storage/AsyncStorageIdlingResource.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/timers/TimersIdlingResource.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/uimodule/UIModuleIdlingResource.kt
Owners: @d4vidi, @jonathanmos

Enable storage stress test
  detox/test/e2e/07.stress-tests.test.js
Owners: @d4vidi, @noomorph

Fixed Android unit tests
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/storage/AsyncStorageIdlingResource.kt
  detox/android/detox/src/testFull/java/com/wix/detox/reactnative/idlingresources/AsyncStorageIdlingResourceSpec.kt
  detox/android/detox/src/testFull/java/com/wix/detox/reactnative/idlingresources/AsyncStorageIdlingResourceTest.kt
Owners: @d4vidi, @jonathanmos

new line
  README.md
Owners: @d4vidi

Revert "build(fix): avoid overriding the git remote url."
  scripts/ci.release.js
Owners: @d4vidi, @noomorph

Revert "build(fix): avoid overriding the git remote url." (#4673)
  scripts/ci.release.js
Owners: @d4vidi, @noomorph

empty file
  test
Owners: @d4vidi

Revert "empty file" [ci skip]
  test
Owners: @d4vidi

Update detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/animations/AnimatedModuleIdlingResource.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/animations/AnimatedModuleIdlingResource.kt
Owners: @d4vidi, @jonathanmos

Fixes after pr
  detox/android/detox/src/full/java/com/wix/detox/espresso/EspressoDetox.java
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/ReactNativeIdlingResources.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/animations/AnimatedModuleIdlingResource.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/network/NetworkIdlingResource.kt
Owners: @d4vidi, @jonathanmos

Fixed build
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/looper/MQThreadsReflector.kt
Owners: @d4vidi, @jonathanmos

Enabled fabric WIP
  detox/android/detox/src/full/java/com/wix/detox/DetoxMain.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/ReactNativeExtension.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/ReactNativeLoadingMonitor.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/animations/AnimatedModuleIdlingResource.kt
  detox/test/android/app/src/main/java/com/example/MainApplication.kt
  detox/test/android/gradle.properties
Owners: @d4vidi, @jonathanmos

Create isFabric implementation
  detox/android/detox/src/full/java/com/wix/detox/reactnative/ReactNativeExtension.kt
Owners: @d4vidi, @jonathanmos

Fixed react native reloader to work with new arch.
  detox/android/detox/src/full/java/com/wix/detox/reactnative/ReactApplicationExt.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/ReactNativeExtension.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/ReactNativeLoadingMonitor.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/ReactNativeReloader.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/ReactNativeIdlingResources.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/factory/DetoxIdlingResourceFactory.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/factory/DetoxIdlingResourceFactoryStrategy.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/factory/NewArchitectureDetoxIdlingResourceFactoryStrategy.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/factory/OldArchitectureDetoxIdlingResourceFactoryStrategy.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/reloader/ReactNativeReloader.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/reloader/ReactNativeReloaderFactory.kt
Owners: @d4vidi, @jonathanmos

WIP
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/factory/OldArchitectureDetoxIdlingResourceFactoryStrategy.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/uimodule/newarch/FabricUIManagerIdlingResources.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/uimodule/oldarch/DispatchCommandOperationReflected.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/uimodule/oldarch/NativeHierarchyManagerReflected.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/uimodule/oldarch/UIManagerModuleReflected.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/uimodule/oldarch/UIModuleIdlingResource.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/uimodule/oldarch/ViewCommandOpsQueueReflected.kt
Owners: @d4vidi, @jonathanmos

Implemented fabric idling resources
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/ReactNativeIdlingResources.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/animations/AnimatedModuleIdlingResource.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/factory/DetoxIdlingResourceFactory.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/factory/FabricDetoxIdlingResourceFactoryStrategy.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/factory/IdlingResourcesName.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/factory/NewArchitectureDetoxIdlingResourceFactoryStrategy.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/network/NetworkingModuleReflected.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/timers/FabricTimersIdlingResource.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/timers/TimersIdlingResource.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/uimodule/fabric/FabricUIManagerIdlingResources.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/uimodule/newarch/FabricUIManagerIdlingResources.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/uimodule/oldarch/DispatchCommandOperationReflected.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/uimodule/oldarch/NativeHierarchyManagerReflected.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/uimodule/oldarch/UIManagerModuleReflected.kt
  detox/test/e2e/12.animations.test.js
  examples/demo-react-native/android/gradle.properties
Owners: @d4vidi, @jonathanmos, @noomorph

Updated proguard to support fabric
  detox/android/detox/proguard-rules-app.pro
  detox/android/detox/src/full/java/com/wix/detox/reactnative/reloader/ReactNativeReloader.kt
Owners: @d4vidi, @jonathanmos

Fixed build for RN 75
  detox/android/detox/src/full/java/com/wix/detox/reactnative/ReactNativeLoadingMonitor.kt
Owners: @d4vidi, @jonathanmos

Publish 20.29.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Publish docs version 20.x
  website/versioned_docs/version-20.x/cli/overview.md
  website/versioned_docs/version-20.x/contributing/code/setting-up-the-dev-environment.md
  website/versioned_docs/version-20.x/copilot/testing-with-copilot.md
  website/versioned_docs/version-20.x/guide/migration.md
  website/versioned_docs/version-20.x/guide/uninstalling.md
  website/versioned_docs/version-20.x/introduction/environment-setup.md
  website/versioned_docs/version-20.x/introduction/partials/_getting-started-rn.md
  website/versioned_docs/version-20.x/troubleshooting/building-the-app.md
Owners: @d4vidi

Fixed tests
  detox/test/e2e/33.attributes.test.js
  detox/test/src/Screens/AssertionsScreen.js
  detox/test/src/Screens/AttributesScreen.js
  detox/test/src/Screens/MatchersScreen.js
Owners: @d4vidi, @noomorph

Fixed tests
  detox/test/e2e/33.attributes.test.js
Owners: @d4vidi, @noomorph

Fixed storage idling resources
  detox/android/detox/src/full/java/com/wix/detox/reactnative/ReactNativeLoadingMonitor.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/helpers/RNHelpers.kt
Owners: @d4vidi, @jonathanmos

Fixed timer idling resources build on rn 75 and 74
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/timers/FabricTimersIdlingResource.kt
Owners: @d4vidi, @jonathanmos

Fixed release builds for all rn versions
  detox/android/detox/proguard-rules-app.pro
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/timers/TimersIdlingResource.kt
Owners: @d4vidi, @jonathanmos

Fixed timers idling resources reflection
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/timers/FabricTimersIdlingResource.kt
Owners: @d4vidi, @jonathanmos

Fixed timers idling resources reflection
  detox/android/detox/proguard-rules-app.pro
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/timers/FabricTimersIdlingResource.kt
Owners: @d4vidi, @jonathanmos

Fixed reflection in timers idling resources
  detox/android/detox/build.gradle
Owners: @d4vidi, @jonathanmos
