Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem

docs: make doc-link happy.
  docs/contributing/code/setting-up-the-dev-environment.md
Owners: @d4vidi

add skia and github action
  .github/workflows/demo-rn-e2e-ios.yaml
  examples/demo-react-native/app.js
  examples/demo-react-native/detox.config.js
  examples/demo-react-native/package.json
Owners: @d4vidi, @noomorph

fix: add skia stub
  .github/workflows/demo-rn-e2e-ios.yaml
  .github/workflows/stub.patch
  examples/demo-react-native/package-lock.json
  examples/demo-react-native/package.json
Owners: @d4vidi

fix: lock path
  .github/workflows/demo-rn-e2e-ios.yaml
Owners: @d4vidi

fix: stub path
  .github/workflows/demo-rn-e2e-ios.yaml
  examples/demo-react-native/stub.patch
Owners: @d4vidi

fix: stub path
  examples/demo-react-native/stub.patch
Owners: @d4vidi

iphone 12 pro
  examples/demo-react-native/detox.config.js
Owners: @d4vidi, @noomorph

212
  examples/demo-react-native/package.json
Owners: @d4vidi

docs: added suggestions
  docs/contributing.md
  docs/contributing/code-of-conduct.md
  docs/contributing/code/example-projects.md
  docs/contributing/code/overview.md
  docs/contributing/code/setting-up-the-dev-environment.md
  docs/contributing/code/submitting-pull-requests.md
  docs/contributing/feature-requests.md
  docs/contributing/questions/asking-questions.md
Owners: @d4vidi

docs(README): library -> framework.
  README.md
Owners: @d4vidi

docs: add monorepo structure section.
  docs/contributing/code/overview.md
Owners: @d4vidi

docs(contribution): add building and testing section.
  docs/contributing/code/setting-up-the-dev-environment.md
Owners: @d4vidi

chore: bump jest-allure2-reporter
  detox/package.json
  detox/test/package.json
  generation/package.json
Owners: @d4vidi

chore: bump jest-allure2-reporter (#4278)
  detox/package.json
  detox/test/package.json
  generation/package.json
Owners: @d4vidi

chore: update social stats
  website/src/components/Homepage/SubHeader/HomepageSubHeader.js
Owners: @d4vidi, @noomorph

Update launch-args.md
  docs/guide/launch-args.md
Owners: @d4vidi

chore: bump jest-allure2-reporter
  detox/package.json
  detox/test/e2e/01.sanity.test.js
  detox/test/package.json
  generation/package.json
Owners: @d4vidi, @noomorph

chore: bump jest-allure2-reporter (#4284)
  detox/package.json
  detox/test/e2e/01.sanity.test.js
  detox/test/package.json
  generation/package.json
Owners: @d4vidi, @noomorph

docs: apply suggestions from code review
  docs/contributing.md
  docs/contributing/code/example-projects.md
  docs/contributing/code/overview.md
  docs/contributing/code/setting-up-the-dev-environment.md
  docs/contributing/code/submitting-pull-requests.md
Owners: @d4vidi

docs: split setting-up-dev-env doc (add building-and-testing).
  docs/contributing/code/building-and-testing.md
  docs/contributing/code/setting-up-the-dev-environment.md
  docs/contributing/code/submitting-pull-requests.md
  website/sidebars.js
Owners: @d4vidi, @noomorph

docs: make doc-lint happy.
  docs/contributing/code/building-and-testing.md
Owners: @d4vidi

docs: fix md link.
  docs/contributing.md
Owners: @d4vidi

feat(iOS, XCUITest): runscript implementation.
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/InvokeHandler.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/WebActionDelegateProtocol.swift
  detox/ios/DetoxTester/DetoxTester/Actions/ActionDelegate.swift
  detox/ios/DetoxTester/DetoxTester/Actions/XCUIElement/XCUIElement+Error.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+handleInvoke.swift
  detox/ios/DetoxTester/DetoxTester/Unit Tests/Actions/WebViewTests.swift
  detox/ios/DetoxTester/DetoxTester/Web/WebActionDelegate.swift
  detox/ios/DetoxTester/DetoxTester/Web/XCUIElement/XCUIElement+runScript.swift
  detox/ios/DetoxTester/DetoxTesterApp.xcodeproj/project.pbxproj
Owners: @asafkorem

Fix misleading filepaths for DetoxTest.java in project-setup.mdx
  docs/introduction/project-setup.mdx
Owners: @d4vidi

Remove your.package reference in filepath in project-setup.mdx
  docs/introduction/project-setup.mdx
Owners: @d4vidi

docs: fix web-views doc table of content.
  docs/api/webviews.md
Owners: @d4vidi

docs: fix web-views doc table of content. (#4289)
  docs/api/webviews.md
Owners: @d4vidi

wip
  detox/test/e2e/29.webview.test.js
Owners: @d4vidi, @noomorph

chore: remove trailing spaces
  docs/guide/launch-args.md
Owners: @d4vidi

docs: update Launch Args guide (#4283)
  docs/guide/launch-args.md
Owners: @d4vidi

fix(iOS): fix webview api for runscript
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/WebAction.swift
  detox/ios/DetoxTester/DetoxTester/Actions/XCUIElement/XCUIElement+Error.swift
  detox/ios/DetoxTester/DetoxTester/Matchers/XCUIElementQuery/XCUIElementQuery+webMatching.swift
  detox/ios/DetoxTester/DetoxTester/Web/WebActionDelegate.swift
  detox/ios/DetoxTester/DetoxTester/Web/XCUIElement/XCUIElement+runScript.swift
  detox/src/ios/web.js
  detox/test/e2e/29.webview.test.js
  detox/test/src/Screens/WebViewScreen.js
Owners: @asafkorem, @d4vidi, @noomorph

Publish 21.0.0-rc.6 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

refactor: dynamic device allocation
  detox/src/DetoxWorker.js
  detox/src/DetoxWorker.test.js
  detox/src/ipc/IPCClient.js
  detox/src/ipc/IPCServer.js
  detox/src/ipc/ipc.test.js
  detox/src/realms/DetoxContext.js
  detox/src/realms/DetoxPrimaryContext.js
  detox/src/realms/DetoxPrimaryContext.test.js
  detox/src/realms/DetoxSecondaryContext.js
Owners: @d4vidi, @noomorph

Publish 20.13.6-smoke.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  generation/package.json
  lerna.json
  package.json
Owners: @d4vidi

chore: bump jest-allure-reporter@2.0.0-alpha.11
  .github/workflows/rapid-test.yml
  detox/package.json
  detox/test/package.json
  generation/package.json
Owners: @d4vidi

ci: optimize artifact upload
  .github/workflows/rapid-test.yml
Owners: @d4vidi

ci(github): fix windows zipping
  .github/workflows/rapid-test.yml
Owners: @d4vidi

Update rapid-test.yml
  .github/workflows/rapid-test.yml
Owners: @d4vidi

chore: bump jest-allure-reporter@2.0.0-alpha.11 (#4291)
  .github/workflows/rapid-test.yml
  detox/package.json
  detox/test/package.json
  generation/package.json
Owners: @d4vidi

Publish 21.0.0-rc.6 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi
