Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem

feat(iOS): support --headless config (#3304)
  detox/src/configuration/composeDeviceConfig.js
  detox/src/configuration/composeDeviceConfig.test.js
  detox/src/devices/allocation/drivers/ios/SimulatorLauncher.js
  detox/src/devices/allocation/drivers/ios/SimulatorLauncher.test.js
  detox/src/devices/common/drivers/DeviceLauncher.js
  detox/src/devices/common/drivers/ios/tools/AppleSimUtils.js
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.test.js
  detox/src/devices/runtime/factories/ios.js
  detox/test/package.json
  docs/APIRef.Configuration.md
  examples/demo-react-native-jest/package.json
  examples/demo-react-native/package.json
Owners: @d4vidi, @noomorph

issue templates: Add status labels
  .github/ISSUE_TEMPLATE/BUG_REPORT_ANDROID.yml
Owners: @d4vidi

ios-bug
  .github/ISSUE_TEMPLATE/BUG_REPORT_IOS.yml
Owners: @d4vidi

ios-bug
  .github/ISSUE_TEMPLATE/BUG_REPORT_IOS.yml
Owners: @d4vidi

bug-other
  .github/ISSUE_TEMPLATE/BUG_REPORT_OTHER.yml
Owners: @d4vidi

enhancement
  .github/ISSUE_TEMPLATE/ENHANCEMENT.yml
Owners: @d4vidi

issue templates: Add status labels (#3329)
  .github/ISSUE_TEMPLATE/BUG_REPORT_ANDROID.yml
  .github/ISSUE_TEMPLATE/BUG_REPORT_IOS.yml
  .github/ISSUE_TEMPLATE/BUG_REPORT_OTHER.yml
  .github/ISSUE_TEMPLATE/ENHANCEMENT.yml
Owners: @d4vidi

docs: fix Android and iOS guides
  docs/Guide.DebuggingInAndroidStudio.md
  docs/Guide.DebuggingInXcode.md
  docs/img/xcode/drag-src-to-project.png
  docs/img/xcode/edit-schema-arguments.png
  docs/img/xcode/embed-detox-project.png
  docs/img/xcode/extracted-ios-src.png
  docs/img/xcode/launch-app-with-debugger.png
  docs/img/xcode/putting-a-breakpoint.png
Owners: @d4vidi

docs: update Xcode debugging guide (#3326)
  docs/Guide.DebuggingInAndroidStudio.md
  docs/Guide.DebuggingInXcode.md
  docs/Guide.NativeDebugging.md
  docs/img/xcode/drag-src-to-project.png
  docs/img/xcode/edit-schema-arguments.png
  docs/img/xcode/embed-detox-project.png
  docs/img/xcode/extracted-ios-src.png
  docs/img/xcode/launch-app-with-debugger.png
  docs/img/xcode/putting-a-breakpoint.png
Owners: @d4vidi

Delete Guide.NativeDebugging.md
  docs/Guide.NativeDebugging.md
Owners: @d4vidi

docs: fix up lint issues
  docs/Guide.DebuggingInXcode.md
Owners: @d4vidi

Remove deprecated native IdlePolicyConfig
  detox/android/detox/src/full/java/com/wix/detox/Detox.java
  detox/android/detox/src/full/java/com/wix/detox/NotificationDataParser.kt
Owners: @d4vidi, @jonathanmos

Remove deprecated native IdlePolicyConfig
  detox/android/detox/src/full/java/com/wix/detox/Detox.java
  detox/android/detox/src/full/java/com/wix/detox/NotificationDataParser.kt
Owners: @d4vidi, @jonathanmos

chore(deps): Upgrade dependencies to allow lerna bootstrap to succeed
  detox/test/android/settings.gradle
  detox/test/package.json
  detox/test/src/Screens/StressScreen.js
  detox/test/src/helpers/storage.js
  examples/demo-react-native-jest/package.json
  examples/demo-react-native/android/settings.gradle
  examples/demo-react-native/package.json
Owners: @d4vidi, @jonathanmos, @noomorph

fix(ios-build): Build headers before sources
  detox/ios/Detox.xcodeproj/project.pbxproj
Owners: @asafkorem

chore(deps): Upgrade dependencies to allow lerna bootstrap to succeed (#3336)
  detox/test/android/settings.gradle
  detox/test/package.json
  detox/test/src/Screens/StressScreen.js
  detox/test/src/helpers/storage.js
  examples/demo-react-native-jest/package.json
  examples/demo-react-native/android/settings.gradle
  examples/demo-react-native/package.json
Owners: @d4vidi, @jonathanmos, @noomorph

docs/android troubleshoot - #3343
  docs/Troubleshooting.BuildingTheApp.md
Owners: @d4vidi

Revert "docs/android troubleshoot - #3343"
  docs/Troubleshooting.BuildingTheApp.md
Owners: @d4vidi

docs/android troubleshoot - #3343
  docs/Troubleshooting.BuildingTheApp.md
Owners: @d4vidi

docs/android troubleshoot - #3343
  docs/Troubleshooting.BuildingTheApp.md
Owners: @d4vidi

Publish 19.6.6 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native-jest/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Publish docs version 19.x
  website/versioned_docs/version-19.x/Troubleshooting.BuildingTheApp.md
Owners: @d4vidi

fix(ios): inject web() stub function properly
  detox/src/ios/expectTwo.js
  detox/test/e2e/29.webview.test.js
Owners: @d4vidi, @noomorph

fix(ios): inject web() stub function properly (#3357)
  detox/src/ios/expectTwo.js
  detox/test/e2e/29.webview.test.js
Owners: @d4vidi, @noomorph

Publish 19.6.7 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native-jest/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

feat(config): drop default "e2e" value for specs (#3289)
  detox/local-cli/templates/jest.js
  detox/local-cli/test.js
  detox/local-cli/test.test.js
  detox/src/configuration/composeRunnerConfig.js
  detox/src/configuration/composeRunnerConfig.test.js
Owners: @d4vidi, @noomorph

feat: drop old Jest integrations
  detox/local-cli/templates/jest.js
  detox/runners/jest-circus/index.js
  detox/runners/jest-circus/listeners/DetoxCoreListener.js
  detox/runners/jest-circus/listeners/SpecReporter.js
  detox/runners/jest-circus/listeners/WorkerAssignReporter.js
  detox/runners/jest-circus/reporter.js
  detox/runners/jest-circus/reporters/DetoxReporter.js
  detox/runners/jest-circus/reporters/DetoxStreamlineJestReporter.js
  detox/runners/jest-circus/reporters/FailingTestsReporter.js
  detox/runners/jest-circus/utils/getFullTestName.js
  detox/runners/jest-circus/utils/hasTimedOut.js
  detox/runners/jest-circus/utils/index.js
  detox/runners/jest-circus/utils/stdout.js
  detox/runners/jest/DetoxAdapterCircus.js
  detox/runners/jest/DetoxAdapterImpl.js
  detox/runners/jest/DetoxAdapterJasmine.js
  detox/runners/jest/JestCircusEnvironment.js
  detox/runners/jest/SpecReporterCircus.js
  detox/runners/jest/SpecReporterJasmine.js
  detox/runners/jest/WorkerAssignReporterCircus.js
  detox/runners/jest/WorkerAssignReporterImpl.js
  detox/runners/jest/WorkerAssignReporterJasmine.js
  detox/runners/jest/adapter.js
  detox/runners/jest/assignReporter.js
  detox/runners/jest/deprecation.js
  detox/runners/jest/runnerInfo.js
  detox/runners/jest/specReporter.js
  detox/runners/jest/streamlineReporter.js
  detox/test/e2e-unhappy/detox-init-timeout/config.js
  detox/test/e2e-unhappy/detox-init-timeout/environment.js
  detox/test/e2e-unhappy/detox-init-timeout/jest-circus/config.js
  detox/test/e2e-unhappy/detox-init-timeout/jest-jasmine/init.js
  detox/test/e2e/config-jasmine.js
  detox/test/e2e/init-jasmine.js
  detox/test/scripts/ci_unhappy.sh
  examples/demo-plugin/e2e/config.json
  examples/demo-plugin/e2e/environment.js
  examples/demo-plugin/e2e/init.js
Owners: @d4vidi, @noomorph

feat(android): boot read-only emulators by default
  detox/index.d.ts
  detox/src/devices/common/drivers/android/emulator/exec/EmulatorExec.js
  detox/src/errors/DetoxRuntimeError.js
  detox/test/e2e/detox.config.js
  docs/APIRef.Configuration.md
  docs/Guide.Jest.md
Owners: @d4vidi, @noomorph

feat(config): drop skipLegacyWorkersInjection (#3286)
  detox/index.d.ts
  detox/local-cli/init.js
  detox/local-cli/test.js
  detox/local-cli/test.test.js
  detox/src/configuration/composeRunnerConfig.js
  detox/test/e2e/detox.config.js
  detox/test/types/detox-jest-circus-setup-tests.ts
  docs/Guide.Jest.md
Owners: @d4vidi, @noomorph

docs: update Xcode debugging guide (#3326)
  docs/Guide.DebuggingInAndroidStudio.md
  docs/Guide.DebuggingInXcode.md
  docs/Guide.NativeDebugging.md
  docs/img/xcode/drag-src-to-project.png
  docs/img/xcode/edit-schema-arguments.png
  docs/img/xcode/embed-detox-project.png
  docs/img/xcode/extracted-ios-src.png
  docs/img/xcode/launch-app-with-debugger.png
  docs/img/xcode/putting-a-breakpoint.png
Owners: @d4vidi

Delete Guide.NativeDebugging.md
  docs/Guide.NativeDebugging.md
Owners: @d4vidi

feat(iOS): support --headless config (#3304)
  detox/src/configuration/composeDeviceConfig.js
  detox/src/configuration/composeDeviceConfig.test.js
  detox/src/devices/allocation/drivers/ios/SimulatorLauncher.js
  detox/src/devices/allocation/drivers/ios/SimulatorLauncher.test.js
  detox/src/devices/common/drivers/DeviceLauncher.js
  detox/src/devices/common/drivers/ios/tools/AppleSimUtils.js
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.test.js
  detox/src/devices/runtime/factories/ios.js
  detox/test/package.json
  docs/APIRef.Configuration.md
  examples/demo-react-native-jest/package.json
  examples/demo-react-native/package.json
Owners: @d4vidi, @noomorph

feat: set minimal Node requirement to 12+
  detox/package.json
  detox/test/package.json
Owners: @d4vidi

chore: remove deprecated [userParams] arg from detox.init()
  detox/index.d.ts
  detox/src/configuration/composeBehaviorConfig.js
  detox/src/configuration/composeBehaviorConfig.test.js
  detox/src/configuration/index.js
  detox/src/configuration/index.test.js
Owners: @d4vidi, @noomorph

chore: remove dead code
  detox/src/utils/sh.js
  detox/src/utils/sh.test.js
Owners: @d4vidi, @noomorph

chore: add .editorconfig
  .editorconfig
Owners: @d4vidi

feat(android): remove deprecated native IdlePolicyConfig (#3332)
  detox/android/detox/src/full/java/com/wix/detox/Detox.java
  detox/android/detox/src/full/java/com/wix/detox/NotificationDataParser.kt
Owners: @d4vidi, @jonathanmos

docs: fix up lint issues
  docs/Guide.DebuggingInXcode.md
Owners: @d4vidi

build: limit peerDependencies to jest@27 max
  detox/package.json
Owners: @d4vidi

feat: drop device.appLaunchArgs [options] argument
  detox/index.d.ts
  detox/src/devices/runtime/utils/LaunchArgsEditor-deprecation.test.js
  detox/src/devices/runtime/utils/LaunchArgsEditor.js
  detox/src/devices/runtime/utils/LaunchArgsEditor.test.js
  detox/src/devices/runtime/utils/Storage.js
  detox/src/devices/runtime/utils/__snapshots__/LaunchArgsEditor.test.js.snap
  detox/test/e2e/22.launch-args.test.js
  detox/test/types/detox-global-tests.ts
Owners: @d4vidi, @noomorph
