Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

block
  .buildkite/pipeline_common.sh
Owners: @d4vidi, @noomorph

block
  .buildkite/pipeline_common.sh
Owners: @d4vidi, @noomorph

block
  .buildkite/pipeline_common.sh
Owners: @d4vidi, @noomorph

block
  .buildkite/pipeline_common.sh
Owners: @d4vidi, @noomorph

block
  .buildkite/pipeline_common.sh
Owners: @d4vidi, @noomorph

block
  .buildkite/pipeline_common.sh
Owners: @d4vidi, @noomorph

block1
  .buildkite/pipeline_common.sh
Owners: @d4vidi, @noomorph

block1
  .buildkite/pipeline_common.sh
Owners: @d4vidi, @noomorph

cleanup
  .buildkite/pipeline_common.sh
Owners: @d4vidi, @noomorph

Update mockito
  detox/android/detox/build.gradle
  detox/android/detox/src/testFull/java/com/wix/detox/adapters/server/DetoxActionHandlersSpec.kt
  detox/android/detox/src/testFull/java/com/wix/detox/adapters/server/QueryStatusActionHandlerSpec.kt
  detox/android/detox/src/testFull/java/com/wix/detox/common/JsonConverterTest.kt
  detox/android/detox/src/testFull/java/com/wix/detox/common/TapEventsSpec.kt
  detox/android/detox/src/testFull/java/com/wix/detox/common/collect/PairsIteratorSpec.kt
  detox/android/detox/src/testFull/java/com/wix/detox/espresso/action/AdjustSliderToPositionActionTest.kt
  detox/android/detox/src/testFull/java/com/wix/detox/espresso/action/DetoxMultiTapSpec.kt
  detox/android/detox/src/testFull/java/com/wix/detox/espresso/action/GetAttributesActionTest.kt
  detox/android/detox/src/testFull/java/com/wix/detox/espresso/matcher/ViewAtIndexMatcherSpec.kt
  detox/android/detox/src/testFull/java/com/wix/detox/espresso/registry/IRStatusInquirerTest.kt
  detox/android/detox/src/testFull/java/com/wix/detox/espresso/scroll/DetoxSwipeSpec.kt
  detox/android/detox/src/testFull/java/com/wix/detox/espresso/scroll/FlinglessSwiperSpec.kt
  detox/android/detox/src/testFull/java/com/wix/detox/espresso/scroll/SwipeHelperSpec.kt
  detox/android/detox/src/testFull/java/com/wix/detox/espresso/utils/Vector2DSpec.kt
  detox/android/detox/src/testFull/java/com/wix/detox/instruments/DetoxInstrumentsManagerSpec.kt
  detox/android/detox/src/testFull/java/com/wix/detox/reactnative/idlingresources/AsyncStorageIdlingResourceSpec.kt
  detox/android/detox/src/testFull/java/com/wix/detox/reactnative/idlingresources/SerialExecutorReflectedSpec.kt
  detox/android/detox/src/testFull/java/com/wix/detox/reactnative/idlingresources/timers/DelegatedIdleInterrogationStrategySpec.kt
  detox/android/detox/src/testFull/java/com/wix/detox/reactnative/idlingresources/timers/TimersIdlingResourceSpec.kt
  detox/android/detox/src/testFull/java/com/wix/invoke/JsonParserTest.java
  detox/android/detox/src/testFull/java/com/wix/invoke/MethodInvocationTest.java
  detox/android/detox/src/testFull/java/com/wix/invoke/types/InvocationTest.java
Owners: @d4vidi, @jonathanmos

test
  .buildkite/pipeline_common.sh
Owners: @d4vidi, @noomorph

Update mockito (#3239)
  detox/android/detox/build.gradle
  detox/android/detox/src/testFull/java/com/wix/detox/adapters/server/DetoxActionHandlersSpec.kt
  detox/android/detox/src/testFull/java/com/wix/detox/adapters/server/QueryStatusActionHandlerSpec.kt
  detox/android/detox/src/testFull/java/com/wix/detox/common/JsonConverterTest.kt
  detox/android/detox/src/testFull/java/com/wix/detox/common/TapEventsSpec.kt
  detox/android/detox/src/testFull/java/com/wix/detox/common/collect/PairsIteratorSpec.kt
  detox/android/detox/src/testFull/java/com/wix/detox/espresso/action/AdjustSliderToPositionActionTest.kt
  detox/android/detox/src/testFull/java/com/wix/detox/espresso/action/DetoxMultiTapSpec.kt
  detox/android/detox/src/testFull/java/com/wix/detox/espresso/action/GetAttributesActionTest.kt
  detox/android/detox/src/testFull/java/com/wix/detox/espresso/matcher/ViewAtIndexMatcherSpec.kt
  detox/android/detox/src/testFull/java/com/wix/detox/espresso/registry/IRStatusInquirerTest.kt
  detox/android/detox/src/testFull/java/com/wix/detox/espresso/scroll/DetoxSwipeSpec.kt
  detox/android/detox/src/testFull/java/com/wix/detox/espresso/scroll/FlinglessSwiperSpec.kt
  detox/android/detox/src/testFull/java/com/wix/detox/espresso/scroll/SwipeHelperSpec.kt
  detox/android/detox/src/testFull/java/com/wix/detox/espresso/utils/Vector2DSpec.kt
  detox/android/detox/src/testFull/java/com/wix/detox/instruments/DetoxInstrumentsManagerSpec.kt
  detox/android/detox/src/testFull/java/com/wix/detox/reactnative/idlingresources/AsyncStorageIdlingResourceSpec.kt
  detox/android/detox/src/testFull/java/com/wix/detox/reactnative/idlingresources/SerialExecutorReflectedSpec.kt
  detox/android/detox/src/testFull/java/com/wix/detox/reactnative/idlingresources/timers/DelegatedIdleInterrogationStrategySpec.kt
  detox/android/detox/src/testFull/java/com/wix/detox/reactnative/idlingresources/timers/TimersIdlingResourceSpec.kt
  detox/android/detox/src/testFull/java/com/wix/invoke/JsonParserTest.java
  detox/android/detox/src/testFull/java/com/wix/invoke/MethodInvocationTest.java
  detox/android/detox/src/testFull/java/com/wix/invoke/types/InvocationTest.java
Owners: @d4vidi, @jonathanmos

final
  .buildkite/pipeline_common.sh
Owners: @d4vidi, @noomorph

change icon and description
  .buildkite/pipeline_common.sh
Owners: @d4vidi, @noomorph

Make Android unit tests run locally
  detox/android/detox/build.gradle
  detox/android/detox/src/testFull/java/com/wix/detox/espresso/registry/IRStatusInquirerTest.kt
  detox/test/android/build.gradle
Owners: @d4vidi, @jonathanmos

Patch docs
  docs/Guide.Contributing.md
Owners: @d4vidi

Make Android unit tests run locally (#3298)
  detox/android/detox/build.gradle
  detox/android/detox/src/testFull/java/com/wix/detox/espresso/registry/IRStatusInquirerTest.kt
  detox/test/android/build.gradle
  docs/Guide.Contributing.md
Owners: @d4vidi, @jonathanmos

build(scripts): move to Utils folder.
  scripts/Utils/releaseArgs.js
  scripts/Utils/releaseDocumentation.js
  scripts/Utils/tagVersion.js
Owners: @d4vidi, @noomorph

refactor: docs release flow
  scripts/ci.android-release.js
  scripts/ci.release.js
  scripts/publish.sh
  scripts/utils/publishNewVersion.js
  scripts/utils/releaseArgs.js
  scripts/utils/releaseDocumentation.js
  scripts/utils/releaseDocumentation.test.js
  scripts/utils/tagVersion.js
Owners: @d4vidi, @noomorph

build(release): add docs version publish phase.
  scripts/Utils/publishNewVersion.js
  scripts/Utils/releaseDocumentation.test.js
  scripts/ci.android-release.js
  scripts/ci.release.js
Owners: @d4vidi, @noomorph

fix(docs release): change docs version format to `major.x`.
  scripts/utils/publishNewVersion.js
Owners: @d4vidi, @noomorph

scripts(documentation): add docs version release script.
  scripts/documentation.js
  scripts/documentation.test.js
Owners: @d4vidi, @noomorph

docs: add versions drop-down menu.
  website/docusaurus.config.js
Owners: @d4vidi, @noomorph

fix(docs release): add `git commit` command.
  scripts/utils/releaseDocumentation.js
  scripts/utils/releaseDocumentation.test.js
Owners: @d4vidi, @noomorph

Build also for arm64-v8a
  detox/test/android/app/build.gradle
Owners: @d4vidi, @jonathanmos

revert version change
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native-jest/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

fix: typings and tests
  detox/index.d.ts
  detox/test/types/detox-global-tests.ts
Owners: @d4vidi, @noomorph

docs: fix typo
  docs/APIRef.DetoxCLI.md
Owners: @d4vidi

build(publishNewVersion): fix `releaseArgs` path.
  scripts/utils/publishNewVersion.js
Owners: @d4vidi, @noomorph

Publish 19.6.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native-jest/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

example.xcodeproj: apply Xcode autofixes.
  detox/test/ios/example.xcodeproj/project.pbxproj
Owners: @asafkorem

docs: fix miscellaneous issues
  .markdownlintrc
  .remarkignore
  .retext-spell.dic
  README.md
  detox/index.d.ts
  docs/APIRef.Configuration.md
  docs/Guide.Migration.md
  docs/Guide.RunningOnCI.md
  docs/Introduction.iOS.md
  examples/demo-native-ios/README.md
  examples/demo-react-native-detox-instruments/README.md
Owners: @d4vidi, @noomorph

Publish 19.6.1 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native-jest/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

lint: fix ignore pattern
  detox/.eslintignore
  detox/.eslintrc.js
  detox/src/android/actions/native.js
  detox/src/artifacts/instruments/ios/SimulatorInstrumentsPlugin.test.js
  detox/src/artifacts/instruments/ios/SimulatorInstrumentsRecording.js
  detox/src/devices/allocation/drivers/ios/SimulatorAllocDriver.js
  detox/src/devices/common/drivers/android/exec/AAPT.js
  detox/src/devices/common/drivers/android/exec/ADB.js
  detox/src/devices/common/drivers/android/genycloud/services/GenyInstanceNaming.js
  detox/src/devices/common/drivers/android/genycloud/services/dto/GenyInstance.js
  detox/src/devices/common/drivers/android/tools/instrumentationArgs.js
  detox/src/devices/common/drivers/ios/tools/AppleSimUtils.js
  detox/src/servicelocator/android/index.js
Owners: @d4vidi, @noomorph

releaseDocumentation: fix release when no previous versions exist.
  scripts/utils/releaseDocumentation.js
Owners: @d4vidi, @noomorph

lint: fix ignore pattern (#3306)
  detox/.eslintignore
  detox/.eslintrc.js
  detox/src/android/actions/native.js
  detox/src/artifacts/instruments/ios/SimulatorInstrumentsPlugin.test.js
  detox/src/artifacts/instruments/ios/SimulatorInstrumentsRecording.js
  detox/src/devices/allocation/drivers/ios/SimulatorAllocDriver.js
  detox/src/devices/common/drivers/android/exec/AAPT.js
  detox/src/devices/common/drivers/android/exec/ADB.js
  detox/src/devices/common/drivers/android/genycloud/services/GenyInstanceNaming.js
  detox/src/devices/common/drivers/android/genycloud/services/dto/GenyInstance.js
  detox/src/devices/common/drivers/android/tools/instrumentationArgs.js
  detox/src/devices/common/drivers/ios/tools/AppleSimUtils.js
  detox/src/servicelocator/android/index.js
Owners: @d4vidi, @noomorph

Publish 19.6.2 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native-jest/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

.nvmrc: upgrade Node.js to Fermium (`v14`).
  .nvmrc
Owners: @d4vidi

build: upgrade to Node 14 internally (#3308)
  .nvmrc
Owners: @d4vidi

Publish 19.6.3-prerelease.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native-jest/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem
