Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

Upgraded to rn 0.79
  detox/package.json
  detox/test/package.json
  examples/demo-react-native/package.json
Owners: @d4vidi

Added new pipelines for rn 0.79
  .buildkite/jobs/pipeline.android_demo_app_rn_78.yml
  .buildkite/jobs/pipeline.android_demo_app_rn_79.yml
  .buildkite/jobs/pipeline.android_rn_79.yml
  .buildkite/jobs/pipeline.ios_demo_app_rn_79.yml
  .buildkite/jobs/pipeline.ios_rn_79.yml
  .buildkite/pipeline_common.sh
  detox/test/ios/AppDelegate.h
  detox/test/ios/AppDelegate.m
Owners: @d4vidi, @noomorph, @asafkorem

Added some spaces
  .buildkite/jobs/pipeline.android_demo_app_rn_79.yml
  .buildkite/jobs/pipeline.android_rn_79.yml
  .buildkite/jobs/pipeline.ios_demo_app_rn_79.yml
  .buildkite/jobs/pipeline.ios_rn_79.yml
Owners: @d4vidi

Fixes for ios
  detox/test/ios/AppDelegate.h
  detox/test/ios/AppDelegate.m
  detox/test/ios/example.xcodeproj/project.pbxproj
Owners: @asafkorem

100% threshold pass with new tests
  detox/src/android/matchers/native.test.js
  detox/src/ios/expectTwo.test.js
Owners: @d4vidi, @noomorph

WIP
  detox/test/ios/AppDelegate.m
  detox/test/ios/example.xcodeproj/project.pbxproj
Owners: @asafkorem

Fixed App reload for ios react native 79
  detox/ios/Detox/Utilities/ReactNativeSupport/ReactNativeSupport.m
  detox/test/ios/AppDelegate.m
Owners: @asafkorem

feat: detox pilot.init(config)
  detox/detox.d.ts
  detox/package.json
  detox/runners/jest/testEnvironment/index.js
  detox/src/pilot/DetoxPilot.js
  detox/src/pilot/DetoxPilot.test.js
  detox/test/e2e/utils/custom-describes.js
Owners: @d4vidi, @noomorph

fix: improve test path resolution in Detox pilot
  detox/detox.d.ts
  detox/package.json
  detox/runners/jest/testEnvironment/index.js
  detox/src/pilot/DetoxPilot.js
  detox/src/pilot/DetoxPilot.test.js
  detox/test/types/detox-integration-tests.ts
  docs/api/pilot.md
Owners: @d4vidi, @noomorph

fix: improve test path resolution in Detox pilot (#4802)
  detox/detox.d.ts
  detox/package.json
  detox/runners/jest/testEnvironment/index.js
  detox/src/pilot/DetoxPilot.js
  detox/src/pilot/DetoxPilot.test.js
  detox/test/types/detox-integration-tests.ts
  docs/api/pilot.md
Owners: @d4vidi, @noomorph

Publish 20.40.2 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Publish docs version 20.x
  website/versioned_docs/version-20.x/api/pilot.md
Owners: @d4vidi

Fixes #4733 (#4797)
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/animations/AnimatedModuleIdlingResource.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/uimodule/fabric/FabricUIManagerIdlingResources.kt
  detox/src/client/Client.js
  detox/src/client/Client.test.js
  detox/src/client/actions/SyncStatusSchema.json
  detox/src/client/actions/formatters/SyncStatusFormatter.test.js
  detox/src/client/actions/formatters/__snapshots__/SyncStatusFormatter.test.js.snap
  detox/src/client/actions/formatters/sync-resources/UIFormatter.js
Owners: @d4vidi, @jonathanmos, @noomorph

feat(ios): return xml hierarchy on error
  detox/ios/Detox/Utilities/UIWindow+DetoxUtils.m
Owners: @asafkorem

Create viewhierarchy.xsl
  schemas/viewhierarchy.xsl
Owners: @d4vidi

Create example-hierarchy-bg.xml
  assets/example-hierarchy-bg.xml
Owners: @d4vidi

Create example-hierarchy-no-bg.xml
  assets/example-hierarchy-no-bg.xml
Owners: @d4vidi

feat(ios): rich xml hierarchy
  detox/ios/Detox/DetoxManager.swift
  detox/ios/Detox/Utilities/NSObject+DetoxUtils.m
  detox/ios/Detox/Utilities/NSURL+DetoxUtils.h
  detox/ios/Detox/Utilities/NSURL+DetoxUtils.m
  detox/ios/Detox/Utilities/UIImage+DetoxUtils.h
  detox/ios/Detox/Utilities/UIImage+DetoxUtils.m
  detox/ios/Detox/Utilities/UIWindow+DetoxUtils.h
  detox/ios/Detox/Utilities/UIWindow+DetoxUtils.m
  website/static/schemas/viewhierarchy.xsl
Owners: @asafkorem, @d4vidi

chore: remove unused code
  detox/ios/Detox/Utilities/UIImage+DetoxUtils.h
  detox/ios/Detox/Utilities/UIImage+DetoxUtils.m
Owners: @asafkorem

feat(ios): return xml hierarchy on error
  detox/ios/Detox/Utilities/UIWindow+DetoxUtils.m
Owners: @asafkorem

feat(ios): return xml hierarchy on error (#4806)
  detox/ios/Detox/Utilities/UIWindow+DetoxUtils.m
Owners: @asafkorem

feat(android): return xml hierarchy on error
  detox/android/detox/src/full/java/com/wix/detox/DetoxMain.kt
  detox/android/detox/src/full/java/com/wix/detox/adapters/server/DetoxActionHandlers.kt
  detox/android/detox/src/full/java/com/wix/detox/espresso/DetoxFailureHandler.kt
  detox/android/detox/src/full/java/com/wix/detox/espresso/errors/DetoxAmbiguousViewMatcherException.kt
  detox/android/detox/src/full/java/com/wix/detox/espresso/errors/DetoxExceptionUtils.kt
  detox/android/detox/src/full/java/com/wix/detox/espresso/errors/DetoxExceptionWithHierarchy.kt
  detox/android/detox/src/full/java/com/wix/detox/espresso/errors/DetoxNoMatchingViewException.kt
  detox/android/detox/src/full/java/com/wix/detox/espresso/hierarchy/ViewHierarchyGenerator.kt
  detox/android/detox/src/testFull/java/com/wix/detox/adapters/server/DetoxActionHandlersSpec.kt
  detox/android/detox/src/testFull/java/com/wix/detox/espresso/errors/DetoxExceptionUtilsTest.kt
Owners: @d4vidi, @jonathanmos

#4799 - react native 079 support for AppDelegate in iOS
  detox/test/ios/AppDelegate.h
  detox/test/ios/Podfile
Owners: @asafkorem

including also the major to our check
  detox/test/ios/AppDelegate.h
Owners: @asafkorem

Support iOS older versions
  detox/test/.gitignore
  detox/test/ios/AppDelegate.m
Owners: @d4vidi, @asafkorem

feat(android): return xml hierarchy on error
  detox/android/detox/src/full/java/com/wix/detox/espresso/performer/MultipleViewsActionPerformer.kt
Owners: @d4vidi, @jonathanmos

feat(android): return xml hierarchy on error (#4809)
  detox/android/detox/src/full/java/com/wix/detox/DetoxMain.kt
  detox/android/detox/src/full/java/com/wix/detox/adapters/server/DetoxActionHandlers.kt
  detox/android/detox/src/full/java/com/wix/detox/espresso/DetoxFailureHandler.kt
  detox/android/detox/src/full/java/com/wix/detox/espresso/errors/DetoxAmbiguousViewMatcherException.kt
  detox/android/detox/src/full/java/com/wix/detox/espresso/errors/DetoxExceptionUtils.kt
  detox/android/detox/src/full/java/com/wix/detox/espresso/errors/DetoxExceptionWithHierarchy.kt
  detox/android/detox/src/full/java/com/wix/detox/espresso/errors/DetoxNoMatchingViewException.kt
  detox/android/detox/src/full/java/com/wix/detox/espresso/hierarchy/ViewHierarchyGenerator.kt
  detox/android/detox/src/full/java/com/wix/detox/espresso/performer/MultipleViewsActionPerformer.kt
  detox/android/detox/src/testFull/java/com/wix/detox/adapters/server/DetoxActionHandlersSpec.kt
  detox/android/detox/src/testFull/java/com/wix/detox/espresso/errors/DetoxExceptionUtilsTest.kt
Owners: @d4vidi, @jonathanmos

Use first user account on attached Android devices
  detox/src/devices/common/drivers/android/exec/ADB.js
Owners: @d4vidi, @noomorph

Fixed ios build for legacy apps once again
  detox/test/ios/AppDelegate.m
Owners: @asafkorem

Fixed more issues with old ios
  detox/test/ios/AppDelegate.h
Owners: @asafkorem

Fixed ios
  detox/test/ios/AppDelegate.h
Owners: @asafkorem

Upgrad to RN 0.79 (#4800)
  .buildkite/jobs/pipeline.android_demo_app_rn_79.yml
  .buildkite/jobs/pipeline.android_rn_79.yml
  .buildkite/jobs/pipeline.ios_demo_app_rn_79.yml
  .buildkite/jobs/pipeline.ios_rn_79.yml
  .buildkite/pipeline_common.sh
  detox/ios/Detox/Utilities/ReactNativeSupport/ReactNativeSupport.m
  detox/package.json
  detox/test/.gitignore
  detox/test/ios/AppDelegate.h
  detox/test/ios/AppDelegate.m
  detox/test/ios/Podfile
  detox/test/ios/example.xcodeproj/project.pbxproj
  detox/test/package.json
  examples/demo-react-native/package.json
Owners: @d4vidi, @noomorph, @asafkorem

Upgrade to RN 80
  detox/android/gradle/wrapper/gradle-wrapper.properties
  detox/package.json
  detox/test/android/build.gradle
  detox/test/android/gradle/wrapper/gradle-wrapper.properties
  detox/test/package.json
  examples/demo-react-native/android/gradle/wrapper/gradle-wrapper.properties
  examples/demo-react-native/package.json
Owners: @d4vidi, @jonathanmos

Fixed android reflections
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/network/NetworkingModuleReflected.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/timers/JavaTimersReflected.kt
Owners: @d4vidi, @jonathanmos

Upgrade gradle
  detox/scripts/updateGradle.js
Owners: @d4vidi, @noomorph

Added rn 80 pipelines
  .buildkite/jobs/pipeline.android_demo_app_rn_80.yml
  .buildkite/jobs/pipeline.android_rn_80.yml
  .buildkite/jobs/pipeline.ios_demo_app_rn_80.yml
  .buildkite/jobs/pipeline.ios_rn_80.yml
  .buildkite/pipeline_common.sh
Owners: @d4vidi, @noomorph

Fixed kotlin supported version
  detox/android/rninfo.gradle
  detox/test/android/build.gradle
Owners: @d4vidi, @jonathanmos

Add Android SysUI init sequence
  detox/test/e2e/helpers/AndroidUIInit/DeviceInitCache.js
  detox/test/e2e/helpers/AndroidUIInit/index.js
  detox/test/e2e/testEnvironment.js
  detox/test/e2e/utils/sleep.js
Owners: @d4vidi, @noomorph

Bump google to SDK35
  detox/test/e2e/detox.config.js
Owners: @d4vidi, @noomorph

Toggle CI: google=35, geny=34
  detox/test/e2e/detox.config.js
  scripts/ci.android.sh
Owners: @d4vidi, @noomorph

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem
