Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem

Publish 19.6.3 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native-jest/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

build(releaseDocumentation): push version changes to master.
  scripts/utils/releaseDocumentation.js
  scripts/utils/releaseDocumentation.test.js
Owners: @d4vidi, @noomorph

build arm64-v8a also for demo
  examples/demo-react-native/android/app/build.gradle
Owners: @d4vidi, @jonathanmos

releaseDocumentation.test.js: remove redundant tests file.
  scripts/utils/releaseDocumentation.test.js
Owners: @d4vidi, @noomorph

build(releaseDocumentation): push changes to the checked-out branch.
  scripts/utils/releaseDocumentation.js
Owners: @d4vidi, @noomorph

Publish 19.6.4-smoke.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native-jest/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Build also for arm64-v8a (#3299)
  detox/test/android/app/build.gradle
  examples/demo-react-native/android/app/build.gradle
Owners: @d4vidi, @jonathanmos

build(releaseDocumentation): push version changes to the checked-out branch. (#3313)
  scripts/utils/releaseDocumentation.js
  scripts/utils/releaseDocumentation.test.js
Owners: @d4vidi, @noomorph

Publish 19.6.4 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native-jest/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

build(fix, releaseDocumentation): fix typo in git push command.
  scripts/utils/releaseDocumentation.js
Owners: @d4vidi, @noomorph

build(releaseDocumentation): fix typo in `git push` command. (#3314)
  scripts/utils/releaseDocumentation.js
Owners: @d4vidi, @noomorph

Publish 19.6.5 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native-jest/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

docs(device object): fix broken links.
  docs/APIRef.DeviceObjectAPI.md
Owners: @d4vidi

docs(device object): fix broken links. (#3315)
  docs/APIRef.DeviceObjectAPI.md
Owners: @d4vidi

docs(v19.x, device object): fix broken links.
  website/versioned_docs/version-19.x/APIRef.DeviceObjectAPI.md
Owners: @d4vidi

docs(device object): replace links to master branch with latest commit.
  docs/APIRef.DeviceObjectAPI.md
Owners: @d4vidi

docs(v19.x, device object): fix broken links. (#3316)
  docs/APIRef.DeviceObjectAPI.md
  website/versioned_docs/version-19.x/APIRef.DeviceObjectAPI.md
Owners: @d4vidi

build(publishNewVersion): get new published version from `package.json`.
  scripts/utils/publishNewVersion.js
Owners: @d4vidi, @noomorph

docs: fix Discord invite link.
  README.md
  website/docusaurus.config.js
  website/src/pages/index.js
Owners: @d4vidi, @noomorph

docs: fix Discord invite link. (#3323)
  README.md
  website/docusaurus.config.js
  website/src/pages/index.js
Owners: @d4vidi, @noomorph

build(publishNewVersion): get new published version from `package.json`. (#3322)
  scripts/utils/publishNewVersion.js
Owners: @d4vidi, @noomorph

build(publishNewVersion): fix get new version.
  scripts/utils/publishNewVersion.js
Owners: @d4vidi, @noomorph

build(publishNewVersion): fix get new version. (#3324)
  scripts/utils/publishNewVersion.js
Owners: @d4vidi, @noomorph

feat: set minimal Node requirement to 12+
  detox/package.json
  detox/test/package.json
Owners: @d4vidi

feat(android): boot read-only emulators by default
  detox/index.d.ts
  detox/src/devices/common/drivers/android/emulator/exec/EmulatorExec.js
  detox/src/errors/DetoxRuntimeError.js
  detox/test/e2e/detox.config.js
  docs/APIRef.Configuration.md
  docs/Guide.Jest.md
Owners: @d4vidi, @noomorph

feat(config): drop skipLegacyWorkersInjection (#3286)
  detox/index.d.ts
  detox/local-cli/init.js
  detox/local-cli/test.js
  detox/local-cli/test.test.js
  detox/src/configuration/composeRunnerConfig.js
  detox/test/e2e/detox.config.js
  detox/test/types/detox-jest-circus-setup-tests.ts
  docs/Guide.Jest.md
Owners: @d4vidi, @noomorph

feat: drop old Jest integrations
  detox/local-cli/templates/jest.js
  detox/runners/jest-circus/index.js
  detox/runners/jest-circus/listeners/DetoxCoreListener.js
  detox/runners/jest-circus/listeners/SpecReporter.js
  detox/runners/jest-circus/listeners/WorkerAssignReporter.js
  detox/runners/jest-circus/reporter.js
  detox/runners/jest-circus/reporters/DetoxReporter.js
  detox/runners/jest-circus/reporters/DetoxStreamlineJestReporter.js
  detox/runners/jest-circus/reporters/FailingTestsReporter.js
  detox/runners/jest-circus/utils/getFullTestName.js
  detox/runners/jest-circus/utils/hasTimedOut.js
  detox/runners/jest-circus/utils/index.js
  detox/runners/jest-circus/utils/stdout.js
  detox/runners/jest/DetoxAdapterCircus.js
  detox/runners/jest/DetoxAdapterImpl.js
  detox/runners/jest/DetoxAdapterJasmine.js
  detox/runners/jest/JestCircusEnvironment.js
  detox/runners/jest/SpecReporterCircus.js
  detox/runners/jest/SpecReporterJasmine.js
  detox/runners/jest/WorkerAssignReporterCircus.js
  detox/runners/jest/WorkerAssignReporterImpl.js
  detox/runners/jest/WorkerAssignReporterJasmine.js
  detox/runners/jest/adapter.js
  detox/runners/jest/assignReporter.js
  detox/runners/jest/deprecation.js
  detox/runners/jest/runnerInfo.js
  detox/runners/jest/specReporter.js
  detox/runners/jest/streamlineReporter.js
  detox/test/e2e-unhappy/detox-init-timeout/config.js
  detox/test/e2e-unhappy/detox-init-timeout/environment.js
  detox/test/e2e-unhappy/detox-init-timeout/jest-circus/config.js
  detox/test/e2e-unhappy/detox-init-timeout/jest-jasmine/init.js
  detox/test/e2e/config-jasmine.js
  detox/test/e2e/init-jasmine.js
  detox/test/scripts/ci_unhappy.sh
  examples/demo-plugin/e2e/config.json
  examples/demo-plugin/e2e/environment.js
  examples/demo-plugin/e2e/init.js
Owners: @d4vidi, @noomorph

feat(config): drop default "e2e" value for specs (#3289)
  detox/local-cli/templates/jest.js
  detox/local-cli/test.js
  detox/local-cli/test.test.js
  detox/src/configuration/composeRunnerConfig.js
  detox/src/configuration/composeRunnerConfig.test.js
Owners: @d4vidi, @noomorph

docs: add native debugging guide
  docs/Guide.NativeDebugging.md
Owners: @d4vidi

Update Guide.NativeDebugging.md
  docs/Guide.NativeDebugging.md
Owners: @d4vidi

issue templates: update labels.
  .github/ISSUE_TEMPLATE/BUG_REPORT_ANDROID.yml
  .github/ISSUE_TEMPLATE/BUG_REPORT_IOS.yml
  .github/ISSUE_TEMPLATE/ENHANCEMENT.yml
Owners: @d4vidi

issue templates: add "Bug Report - Other" issue type.
  .github/ISSUE_TEMPLATE/BUG_REPORT_OTHER.yml
Owners: @d4vidi

issue templates: fix link MD.
  .github/ISSUE_TEMPLATE/BUG_REPORT_OTHER.yml
Owners: @d4vidi

build(demo-react-native-jest, iOS): run CI tests in headless mode.
  examples/demo-react-native-jest/package.json
Owners: @d4vidi

feat(iOS, deviceConfig): support `--headless` config.
  detox/src/configuration/composeDeviceConfig.js
  detox/src/configuration/composeDeviceConfig.test.js
  detox/src/devices/allocation/drivers/ios/SimulatorLauncher.js
  detox/src/devices/allocation/drivers/ios/SimulatorLauncher.test.js
  detox/src/devices/common/drivers/DeviceLauncher.js
  detox/src/devices/common/drivers/ios/tools/AppleSimUtils.js
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.test.js
  detox/src/devices/runtime/factories/ios.js
  docs/APIRef.Configuration.md
Owners: @d4vidi, @noomorph

AppleSimUtils: wrap open Simulator command with try-catch.
  detox/src/devices/common/drivers/ios/tools/AppleSimUtils.js
Owners: @d4vidi, @noomorph

feat(iOS): open the Simulator app by default.
  detox/src/devices/common/drivers/ios/tools/AppleSimUtils.js
Owners: @d4vidi, @noomorph

build(demo-react-native, iOS): run CI tests in headless mode.
  examples/demo-react-native/package.json
Owners: @d4vidi

build(test app, iOS): run CI tests in headless mode.
  detox/test/package.json
Owners: @d4vidi

fix: erroneous simplification of the logic
  detox/src/configuration/composeDeviceConfig.js
  detox/src/configuration/composeDeviceConfig.test.js
Owners: @d4vidi, @noomorph
