Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

fix(generation): invalid isArray assertion
  detox/src/android/AndroidExpect.test.js
  detox/src/android/espressoapi/EspressoDetox.js
  detox/src/android/espressoapi/web/WebElement.js
  generation/core/type-checks.js
Owners: @d4vidi, @noomorph

lint: fix trivial errors (#3777)
  detox/src/devices/lifecycle/GenyGlobalLifecycleHandler.js
  detox/src/devices/lifecycle/GenyGlobalLifecycleHandler.test.js
  detox/src/logger/DetoxLogger.js
  detox/src/utils/ExclusiveLockfile.js
Owners: @d4vidi, @noomorph

refactor: drop minimist package
  detox/package.json
  detox/src/configuration/collectCliConfig.js
  detox/src/configuration/index.test.js
  detox/src/devices/runtime/RuntimeDevice.test.js
  detox/src/utils/argparse.js
  detox/src/utils/argparse.test.js
Owners: @d4vidi, @noomorph

refactor: drop minimist package (#3779)
  detox/package.json
  detox/src/configuration/collectCliConfig.js
  detox/src/configuration/index.test.js
  detox/src/devices/runtime/RuntimeDevice.test.js
  detox/src/utils/argparse.js
  detox/src/utils/argparse.test.js
Owners: @d4vidi, @noomorph

refactor(cli): reusable executable mock
  detox/__tests__/helpers.js
  detox/local-cli/__mocks__/executable
  detox/local-cli/test.test.js
  detox/package.json
Owners: @d4vidi, @noomorph

Update helpers.js
  detox/__tests__/helpers.js
Owners: @d4vidi, @noomorph

refactor(tests): reusable cli mock (#3780)
  detox/__tests__/helpers.js
  detox/local-cli/__mocks__/executable
  detox/local-cli/test.test.js
  detox/package.json
Owners: @d4vidi, @noomorph

refactor: rename Xfer to Transfer
  detox/src/devices/common/drivers/android/tools/AppInstallHelper.js
  detox/src/devices/common/drivers/android/tools/AppInstallHelper.test.js
  detox/src/devices/common/drivers/android/tools/FileTransfer.js
  detox/src/devices/common/drivers/android/tools/FileTransfer.test.js
  detox/src/devices/common/drivers/android/tools/TempFileTransfer.js
  detox/src/devices/common/drivers/android/tools/TempFileTransfer.test.js
  detox/src/devices/common/drivers/android/tools/TempFileXfer.js
  detox/src/devices/runtime/drivers/android/AndroidDriver.js
  detox/src/devices/runtime/drivers/android/AndroidDriver.test.js
  detox/src/devices/runtime/factories/android.js
  detox/src/servicelocator/android/index.js
Owners: @d4vidi, @noomorph

refactor: rename Xfer to Transfer (#3781)
  detox/src/devices/common/drivers/android/tools/AppInstallHelper.js
  detox/src/devices/common/drivers/android/tools/AppInstallHelper.test.js
  detox/src/devices/common/drivers/android/tools/FileTransfer.js
  detox/src/devices/common/drivers/android/tools/FileTransfer.test.js
  detox/src/devices/common/drivers/android/tools/TempFileTransfer.js
  detox/src/devices/common/drivers/android/tools/TempFileTransfer.test.js
  detox/src/devices/common/drivers/android/tools/TempFileXfer.js
  detox/src/devices/runtime/drivers/android/AndroidDriver.js
  detox/src/devices/runtime/drivers/android/AndroidDriver.test.js
  detox/src/devices/runtime/factories/android.js
  detox/src/servicelocator/android/index.js
Owners: @d4vidi, @noomorph

feat(android): --optimize-app-install
  detox/index.d.ts
  detox/internals.d.ts
  detox/local-cli/test.test.js
  detox/local-cli/testCommand/TestRunnerCommand.js
  detox/local-cli/testCommand/builder.js
  detox/src/DetoxWorker.js
  detox/src/DetoxWorker.test.js
  detox/src/configuration/collectCliConfig.js
  detox/src/configuration/collectCliConfig.test.js
  detox/src/configuration/composeBehaviorConfig.js
  detox/src/configuration/composeBehaviorConfig.test.js
  detox/src/devices/common/drivers/android/exec/ADB.js
  detox/src/devices/common/drivers/android/exec/ADB.test.js
  detox/src/devices/common/drivers/android/tools/ApkHashUtils.js
  detox/src/devices/common/drivers/android/tools/ApkHashUtils.test.js
  detox/src/devices/runtime/RuntimeDevice.js
  detox/src/devices/runtime/RuntimeDevice.test.js
  detox/src/devices/runtime/drivers/DeviceDriverBase.js
  detox/src/devices/runtime/drivers/android/AndroidDriver.js
  detox/src/devices/runtime/drivers/android/AndroidDriver.test.js
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.test.js
  detox/src/devices/runtime/factories/android.js
  detox/src/servicelocator/android/index.js
  detox/src/utils/__mocks__/empty_hashtest.txt
  detox/src/utils/generateHash.js
  detox/src/utils/generateHash.test.js
  detox/test/e2e/detox.config.js
  detox/test/integration/stub/StubRuntimeDriver.js
  detox/test/types/detox-global-tests.ts
Owners: @d4vidi, @noomorph

lint: fix unused vars
  detox/.eslintrc.js
  detox/src/artifacts/templates/plugin/ArtifactPlugin.js
  detox/src/artifacts/templates/plugin/TwoSnapshotsPerTestPlugin.js
  detox/src/artifacts/templates/plugin/WholeTestRecorderPlugin.js
  detox/src/client/AsyncWebSocket.js
  detox/src/configuration/composeLoggerConfig.js
  detox/src/devices/allocation/drivers/AllocationDriverBase.js
  detox/src/devices/allocation/factories/base.js
  detox/src/devices/runtime/drivers/android/AndroidDriver.js
  detox/src/devices/runtime/factories/android.js
  detox/src/devices/runtime/factories/base.js
Owners: @d4vidi, @noomorph

lint: fix unused vars (#3719)
  detox/.eslintrc.js
  detox/src/artifacts/templates/plugin/ArtifactPlugin.js
  detox/src/artifacts/templates/plugin/TwoSnapshotsPerTestPlugin.js
  detox/src/artifacts/templates/plugin/WholeTestRecorderPlugin.js
  detox/src/client/AsyncWebSocket.js
  detox/src/configuration/composeLoggerConfig.js
  detox/src/devices/allocation/drivers/AllocationDriverBase.js
  detox/src/devices/allocation/factories/base.js
  detox/src/devices/runtime/drivers/android/AndroidDriver.js
  detox/src/devices/runtime/factories/android.js
  detox/src/devices/runtime/factories/base.js
Owners: @d4vidi, @noomorph

fix(generation): invalid isArray assertion (#3778)
  detox/src/android/AndroidExpect.test.js
  detox/src/android/espressoapi/EspressoDetox.js
  detox/src/android/espressoapi/web/WebElement.js
  generation/core/type-checks.js
Owners: @d4vidi, @noomorph

fix: access to detox/internals from sandbox
  detox/index.js
  detox/internals.js
  detox/package.json
  detox/src/DetoxWorker.js
  detox/src/DetoxWorker.test.js
  detox/src/realms/DetoxContext.js
  detox/src/realms/DetoxInternalsFacade.js
  detox/src/realms/DetoxPrimaryContext.js
  detox/src/realms/DetoxSecondaryContext.js
  detox/src/realms/index.js
  detox/src/realms/symbols.js
  detox/test/e2e/27.retries.test.js
Owners: @d4vidi, @noomorph

fix(Android): java.lang.AbstractMethodError coming from status inquiry
  detox/android/detox/src/full/java/com/wix/detox/espresso/idlingresources/DescriptiveIdlingResource.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/AsyncStorageIdlingResource.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/BridgeIdlingResource.java
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/timers/TimersIdlingResource.kt
Owners: @d4vidi, @jonathanmos

test: stricter integration tests
  detox/test/integration/__snapshots__/timeline-artifact.test.js.snap
  detox/test/integration/e2e/flaky.test.js
  detox/test/integration/e2e/passing-sandbox.js
  detox/test/integration/e2e/passing-simple.test.js
  detox/test/integration/e2e/passing-skipped.js
  detox/test/integration/e2e/stub3.test.js
  detox/test/integration/initialization-test.test.js
  detox/test/integration/timeline-artifact.test.js
  detox/test/integration/utils/simplistic-runner.js
  detox/test/package.json
Owners: @d4vidi, @noomorph

fix: access to detox/internals from sandbox (#3783)
  detox/index.js
  detox/internals.js
  detox/package.json
  detox/src/DetoxWorker.js
  detox/src/DetoxWorker.test.js
  detox/src/realms/DetoxContext.js
  detox/src/realms/DetoxInternalsFacade.js
  detox/src/realms/DetoxPrimaryContext.js
  detox/src/realms/DetoxSecondaryContext.js
  detox/src/realms/index.js
  detox/src/realms/symbols.js
  detox/test/e2e/27.retries.test.js
  detox/test/integration/__snapshots__/timeline-artifact.test.js.snap
  detox/test/integration/e2e/flaky.test.js
  detox/test/integration/e2e/passing-sandbox.js
  detox/test/integration/e2e/passing-simple.test.js
  detox/test/integration/e2e/passing-skipped.js
  detox/test/integration/e2e/stub3.test.js
  detox/test/integration/initialization-test.test.js
  detox/test/integration/timeline-artifact.test.js
  detox/test/integration/utils/simplistic-runner.js
  detox/test/package.json
Owners: @d4vidi, @noomorph

fix: incorrect logger termination
  detox/src/logger/utils/BunyanLogger.js
  detox/test/integration/utils/simplistic-runner.js
Owners: @d4vidi, @noomorph

fix: non-strict equality typo
  detox/src/realms/DetoxPrimaryContext.js
  detox/src/realms/DetoxPrimaryContext.test.js
Owners: @d4vidi, @noomorph

fix(android): java.lang.AbstractMethodError coming from status inquiry (#3784)
  detox/android/detox/src/full/java/com/wix/detox/espresso/idlingresources/DescriptiveIdlingResource.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/AsyncStorageIdlingResource.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/BridgeIdlingResource.java
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/timers/TimersIdlingResource.kt
Owners: @d4vidi, @jonathanmos

fix: logger termination and detox init (#3785)
  detox/src/logger/utils/BunyanLogger.js
  detox/src/realms/DetoxPrimaryContext.js
  detox/src/realms/DetoxPrimaryContext.test.js
  detox/test/integration/utils/simplistic-runner.js
Owners: @d4vidi, @noomorph

refactor: follow-up to the logger review
  detox/local-cli/cli.js
  detox/local-cli/testCommand/TestRunnerCommand.js
  detox/local-cli/testCommand/TestRunnerError.js
  detox/local-cli/testCommand/TestRunnerError.test.js
  detox/local-cli/utils/cliErrorHandling.js
  detox/src/artifacts/utils/temporaryPath.js
  detox/src/logger/utils/BunyanLogger.js
  detox/src/logger/utils/streams/BunyanTransformer.test.js
  detox/src/logger/utils/streams/DetoxJSONLParser.js
Owners: @d4vidi, @noomorph

Publish 20.1.1 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  generation/package.json
  lerna.json
  package.json
Owners: @d4vidi

Publish docs version 20.x
  website/versioned_docs/version-20.x/api/device.md
  website/versioned_docs/version-20.x/api/webviews.md
  website/versioned_docs/version-20.x/introduction/partials/_getting-started-expo.md
Owners: @d4vidi

install community datepicker
  detox/test/android/app/build.gradle
  detox/test/android/app/src/main/java/com/example/DetoxRNHost.java
  detox/test/android/settings.gradle
  detox/test/package.json
Owners: @d4vidi, @jonathanmos

add setDatePickerDate functionality for android
  detox/android/detox/build.gradle
  detox/android/detox/src/full/java/com/wix/detox/espresso/DetoxAction.java
  detox/src/android/actions/native.js
  detox/src/android/core/NativeElement.js
  detox/src/android/espressoapi/DetoxAction.js
Owners: @d4vidi, @jonathanmos, @noomorph

adjust date picker test to support android as well
  detox/test/e2e/17.datePicker.test.js
  detox/test/src/Screens/DatePickerScreen.js
  detox/test/src/app.js
Owners: @d4vidi, @noomorph

add simple unit test for setDatePickerDate
  detox/src/android/AndroidExpect.test.js
Owners: @d4vidi, @noomorph

add missing unit test case for setDatePickerDate
  detox/src/android/AndroidExpect.test.js
Owners: @d4vidi, @noomorph

use button to open android datepicker instead of implicit click on text
  detox/test/src/Screens/DatePickerScreen.js
Owners: @d4vidi, @noomorph

add setDatePickerDate working on android to docs
  docs/api/actions.md
Owners: @d4vidi

improve documentation to reflect android changes
  detox/index.d.ts
  docs/api/actions.md
Owners: @d4vidi, @noomorph

remove correct usage wrong test expecting wrong usage
  detox/src/android/AndroidExpect.test.js
Owners: @d4vidi, @noomorph

test(integration): enable timeline test for Win32
  detox/test/integration/__snapshots__/timeline-artifact.test.js.snap
  detox/test/integration/timeline-artifact.test.js
Owners: @d4vidi, @noomorph

test(integration): enable timeline test for Win32 (#3786)
  detox/test/integration/__snapshots__/timeline-artifact.test.js.snap
  detox/test/integration/timeline-artifact.test.js
Owners: @d4vidi, @noomorph

docs(website): update admonition colors
  .editorconfig
  website/src/css/custom.css
Owners: @d4vidi

update admonitions to match style guide light and dark modes
  website/src/css/custom.css
Owners: @d4vidi

docs(api): reword setDatePicker description
  docs/api/actions.md
Owners: @d4vidi

chore: migrate iOS date picker
  detox/test/src/Screens/DatePickerScreen.js
Owners: @d4vidi, @noomorph

test(unit): start fixing AndroidExpect
  detox/src/android/AndroidExpect.test.js
Owners: @d4vidi, @noomorph

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem
