Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem

wip
  detox/ios/Detox/DetoxManager.swift
  detox/ios/Detox/Utilities/WebSocket.swift
  detox/src/devices/runtime/RuntimeDevice.js
  detox/src/server/handlers/AnonymousConnectionHandler.js
Owners: @asafkorem, @d4vidi, @noomorph

WIP
  detox/ios/Detox/DetoxManager.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+WhiteBoxExecutor.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+cleanup.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+disconnect.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+reactNativeReload.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor+Message.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor+Response.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor.swift
  detox/ios/DetoxTester/DetoxTester/Utils/LogUtils.swift
  detox/ios/DetoxTester/DetoxTesterApp.xcodeproj/project.pbxproj
Owners: @asafkorem

WIP: connection established!
  detox/ios/Detox/Utilities/WebSocket.swift
  detox/package.json
  detox/src/devices/runtime/RuntimeDevice.js
  detox/src/devices/runtime/drivers/DeviceDriverBase.js
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
Owners: @asafkorem, @d4vidi, @noomorph

WIP
  detox/ios/Detox/DetoxManager.swift
  detox/ios/Detox/Utilities/WebSocket.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+waitFor.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor+Message.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor.swift
Owners: @asafkorem

start new detox manager
  detox/ios/Detox.xcodeproj/project.pbxproj
  detox/ios/Detox/DetoxManager_OLD.swift
  detox/ios/DetoxTester/DetoxTester/Matchers/XCUIElementQuery/XCUIElementQuery+matching.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor.swift
Owners: @asafkorem

add OS X script to allow network permissions to the test runner
  detox/ios/Detox/Utilities/WebSocket.swift
  detox/ios/DetoxTester/DetoxTester/Tester/DetoxTester.swift
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
Owners: @asafkorem, @d4vidi, @noomorph

wip
  detox/ios/DetoxTester/DetoxTester/Actions/ActionDelegate.swift
  detox/ios/DetoxTester/DetoxTester/Expectations/ExpectationDelegate.swift
  detox/ios/DetoxTester/DetoxTester/Matchers/ElementMatcher.swift
  detox/ios/DetoxTester/DetoxTester/Matchers/XCUIElementQuery/XCUIElementQuery+matching.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+captureViewHierarchy.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+handleInvoke.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor+Message.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor+Response.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor.swift
  detox/ios/DetoxTester/DetoxTester/Unit Tests/Actions/GetAttributesTests.swift
  detox/ios/DetoxTester/DetoxTester/Unit Tests/Actions/KeyboardTests.swift
  detox/ios/DetoxTester/DetoxTester/Unit Tests/Actions/LongPressAndDragTests.swift
  detox/ios/DetoxTester/DetoxTester/Unit Tests/Actions/LongPressTests.swift
  detox/ios/DetoxTester/DetoxTester/Unit Tests/Actions/PinchTests.swift
  detox/ios/DetoxTester/DetoxTester/Unit Tests/Actions/ScreenshotTests.swift
  detox/ios/DetoxTester/DetoxTester/Unit Tests/Actions/ScrollTests.swift
  detox/ios/DetoxTester/DetoxTester/Unit Tests/Actions/SliderTests.swift
  detox/ios/DetoxTester/DetoxTester/Unit Tests/Actions/SwipeTests.swift
  detox/ios/DetoxTester/DetoxTester/Unit Tests/Actions/TapTests.swift
  detox/ios/DetoxTester/DetoxTester/Unit Tests/Actions/WheelPickerTests.swift
  detox/ios/DetoxTester/DetoxTester/Unit Tests/Matchers/ElementMatchersTests.swift
Owners: @asafkorem

wip
  detox/ios/DetoxTester/DetoxTester/Matchers/XCUIElementQuery/XCUIElementQuery+matching.swift
Owners: @asafkorem

add whitebox-side matchers (by text)
  detox/ios/Detox/Matchers/UIView+DetoxMatchers.m
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/Action.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/InvokeHandler+Error.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/InvokeHandler.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/InvokeHandlerSpec.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/MessageBuilder.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/MessageSpec.swift
  detox/ios/DetoxTester/DetoxTester/Actions/ActionDelegate.swift
  detox/ios/DetoxTester/DetoxTester/Actions/XCUIElement/XCUIElement+Keyboard.swift
  detox/ios/DetoxTester/DetoxTester/Matchers/XCUIElementQuery/XCUIElementQuery+matching.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+reportCurrentStatus.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor+Message.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor+Response.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor.swift
  detox/ios/DetoxTester/DetoxTester/Unit Tests/Actions/LongPressAndDragTests.swift
  detox/ios/DetoxTester/DetoxTester/Unit Tests/Actions/LongPressTests.swift
  detox/ios/DetoxTester/DetoxTesterApp.xcodeproj/project.pbxproj
Owners: @asafkorem

date picker and accessibility identifier
  detox/ios/Detox/DetoxManager.swift
  detox/ios/Detox/Matchers/UIView+DetoxMatchers.m
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/InvokeHandler.swift
  detox/ios/DetoxTester/DetoxTester/Actions/ActionDelegate.swift
  detox/ios/DetoxTester/DetoxTester/Actions/XCUIElement/XCUIElement+Keyboard.swift
  detox/ios/DetoxTester/DetoxTester/Expectations/ExpectationDelegate.swift
  detox/ios/DetoxTester/DetoxTester/Matchers/XCUIElementQuery/XCUIElementQuery+matching.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor.swift
  detox/test/e2e/17.datePicker.test.js
Owners: @asafkorem, @d4vidi, @noomorph

set date picker
  detox/ios/Detox/DetoxManager.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor.swift
Owners: @asafkorem

current status
  detox/ios/Detox/DetoxManager.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+captureViewHierarchy.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+reactNativeReload.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+reportCurrentStatus.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor.swift
Owners: @asafkorem

wip
  detox/ios/Detox/DetoxManager.swift
  detox/ios/DetoxTester/DetoxTester/Matchers/XCUIElementQuery/XCUIElementQuery+matching.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+captureViewHierarchy.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor+Message.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor+Response.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor.swift
Owners: @asafkorem

implement white-box drag-and-hold action
  detox/ios/Detox/DetoxManager.swift
  detox/ios/DetoxTester/DetoxTester/Actions/ActionDelegate.swift
  detox/ios/DetoxTester/DetoxTester/Actions/XCUIElement/XCUIElement+longPress.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor+Message.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor.swift
Owners: @asafkorem

ops
  detox/ios/Detox/DetoxManager.swift
Owners: @asafkorem

finalize expectations
  detox/ios/Detox/DetoxManager.swift
  detox/ios/Detox/Utilities/NSObject+DetoxUtils.h
  detox/ios/Detox/Utilities/NSObject+DetoxUtils.m
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor.swift
Owners: @asafkorem

wip
  detox/ios/DetoxTester/DetoxTester/Actions/XCUIElement/ElementAttributes.swift
  detox/ios/DetoxTester/DetoxTester/Actions/XCUIElement/XCUIElement+getAttributes.swift
  detox/ios/DetoxTester/DetoxTester/Unit Tests/Actions/GetAttributesTests.swift
Owners: @asafkorem

implement capture view.h
  detox/ios/Detox/DetoxManager.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor.swift
Owners: @asafkorem

implement last action
  detox/ios/Detox/DetoxManager.swift
  detox/ios/DetoxTester/DetoxTester/Tester/DetoxTester.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Utils/React Native/WaitUntilAppIsReady.swift
Owners: @asafkorem

WIP
  detox/ios/DetoxTester/DetoxTester/Actions/ActionDelegate.swift
  detox/ios/DetoxTester/DetoxTester/Matchers/XCUIElementQuery/XCUIElementQuery+matching.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+reportCurrentStatus.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor+Response.swift
  detox/ios/DetoxTester/DetoxTester/Unit Tests/Actions/GetAttributesTests.swift
Owners: @asafkorem

wip
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor+Message.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor+Response.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor.swift
Owners: @asafkorem

wip
  detox/ios/DetoxTester/DetoxTester/Actions/XCUIElement/ElementAttributes.swift
  detox/ios/DetoxTester/DetoxTester/Actions/XCUIElement/XCUIElement+getAttributes.swift
Owners: @asafkorem

drag-and-drop fix
  detox/ios/Detox/DetoxManager.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler.xcodeproj/project.pbxproj
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/InvokeHandler.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/Message.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/TargetElement.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/InvokeHandlerSpec.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/MessageBuilder.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/MessageSpec.swift
Owners: @asafkorem

fix tests comment
  detox/ios/DetoxTester/DetoxTester/Unit Tests/Actions/GetAttributesTests.swift
Owners: @asafkorem

wip get attributes
  detox/ios/Detox/DetoxManager.swift
  detox/ios/DetoxTester/DetoxTester/Actions/ActionDelegate.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Utils/Web Socket Client/WebSocketClient.swift
  detox/ios/DetoxTester/DetoxTester/Unit Tests/Actions/GetAttributesTests.swift
Owners: @asafkorem

teagda
  detox/test/e2e/28.drag-and-drop.test.js
  detox/test/e2e/33.attributes.test.js
Owners: @d4vidi, @noomorph

add missing case
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+captureViewHierarchy.swift
Owners: @asafkorem

wip
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler.xcodeproj/project.pbxproj
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/Action+name.swift
  detox/ios/DetoxTester/DetoxTester/Actions/ActionDelegate.swift
  detox/ios/DetoxTester/DetoxTester/Actions/XCUIElement/ElementAttributes.swift
Owners: @asafkorem

docs(getting started): update expo tab. (#3700)
  docs/introduction/partials/_getting-started-expo.md
  docs/introduction/project-setup.mdx
Owners: @d4vidi

fix(cli): restore retries support on Win32
  detox/local-cli/testCommand/TestRunnerCommand.js
  detox/src/utils/pathUtils.js
  detox/src/utils/pathUtils.test.js
  detox/src/utils/shellUtils.js
  detox/src/utils/shellUtils.test.js
  detox/test/integration/__snapshots__/timeline-artifact.test.js.snap
  detox/test/integration/timeline-artifact.test.js
Owners: @d4vidi, @noomorph

fix(cli): restore retries support on Win32 (#3688)
  detox/local-cli/testCommand/TestRunnerCommand.js
  detox/src/utils/pathUtils.js
  detox/src/utils/pathUtils.test.js
  detox/src/utils/shellUtils.js
  detox/src/utils/shellUtils.test.js
  detox/test/integration/__snapshots__/timeline-artifact.test.js.snap
  detox/test/integration/timeline-artifact.test.js
Owners: @d4vidi, @noomorph

docs: update supported os
  README.md
Owners: @d4vidi

Fix unit tests
  detox/ios/DetoxTester/DetoxTester/Actions/ActionDelegate.swift
  detox/ios/DetoxTester/DetoxTester/Unit Tests/Actions/GetAttributesTests.swift
Owners: @asafkorem

fix unit tests
  detox/ios/DetoxTester/DetoxTester/Unit Tests/Actions/GetAttributesTests.swift
  detox/ios/DetoxTester/DetoxTester/Unit Tests/Actions/ScrollTests.swift
Owners: @asafkorem

Make keyboard tests pass
  detox/ios/DetoxTester/DetoxTester/Actions/XCUIElement/XCUIElement+Keyboard.swift
  detox/ios/DetoxTester/DetoxTester/Unit Tests/Actions/ScrollTests.swift
  detox/ios/DetoxTester/DetoxTesterApp/MenuViewController.swift
Owners: @asafkorem

test: fix setup-teardown in logger suite
  detox/src/logger/DetoxLogger.test.js
Owners: @d4vidi, @noomorph

refactor: make console overrides potentially reversible
  detox/src/logger/utils/customConsoleLogger.js
  detox/src/logger/utils/customConsoleLogger.test.js
Owners: @d4vidi, @noomorph

fix: using glob package on Windows
  detox/src/artifacts/utils/temporaryPath.js
  detox/src/artifacts/utils/temporaryPath.test.js
  detox/src/logger/utils/DetoxLogFinalizer.js
Owners: @d4vidi, @noomorph

fix: close logger to flush last messages
  detox/src/logger/DetoxLogger.js
  detox/src/logger/DetoxLogger.test.js
  detox/src/logger/__mocks__/DetoxLogger.js
  detox/src/logger/utils/BunyanLogger.js
  detox/src/logger/utils/DetoxLogFinalizer.test.js
  detox/src/realms/DetoxPrimaryContext.js
Owners: @d4vidi, @noomorph

fix: save test runner launch in log before it closes
  detox/local-cli/cli.js
  detox/local-cli/testCommand/TestRunnerCommand.js
  detox/local-cli/testCommand/TestRunnerError.js
  detox/local-cli/testCommand/TestRunnerError.test.js
  detox/src/errors/DetoxError.js
  detox/test/integration/__snapshots__/timeline-artifact.test.js.snap
Owners: @d4vidi, @noomorph
