Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

Integrate launch-arguments into inner screens
  detox/test/index.android.js
  detox/test/index.ios.js
  detox/test/src/Screens/LaunchArgsScreen.js
Owners: @d4vidi, @noomorph

ci: allure reports as html
  .buildkite/jobs/pipeline.android_rn_68.yml
  .buildkite/jobs/pipeline.android_rn_70.yml
  .buildkite/jobs/pipeline.ios_rn_68.yml
  .buildkite/jobs/pipeline.ios_rn_70.yml
  .gitignore
  scripts/create_iframe_html.js
  scripts/upload_artifact.sh
Owners: @d4vidi, @noomorph

ci: fix surge install
  scripts/upload_artifact.sh
Owners: @d4vidi, @noomorph

ci: fix https
  scripts/upload_artifact.sh
Owners: @d4vidi, @noomorph

ci: allure reports as html (#4061)
  .buildkite/jobs/pipeline.android_rn_68.yml
  .buildkite/jobs/pipeline.android_rn_70.yml
  .buildkite/jobs/pipeline.ios_rn_68.yml
  .buildkite/jobs/pipeline.ios_rn_70.yml
  .gitignore
  scripts/create_iframe_html.js
  scripts/upload_artifact.sh
Owners: @d4vidi, @noomorph

ci(github): add purge domains cron script
  .github/workflows/surge-purge.yml
  scripts/purge_expired_domains.mjs
Owners: @d4vidi

ci(github): add purge domains cron script (#4063)
  .github/workflows/surge-purge.yml
  scripts/purge_expired_domains.mjs
Owners: @d4vidi

ci(github): fix surge-purge.yml
  .github/workflows/surge-purge.yml
Owners: @d4vidi

ci(github): fix purge_expired_domains.mjs
  scripts/purge_expired_domains.mjs
Owners: @d4vidi

Work-around rn-launch-args import issues by require()-ing form componentDidMount()
  detox/test/index.android.js
Owners: @d4vidi, @noomorph

Fix a subtle launch-args migration issue in launch-args e2e test
  detox/test/src/Screens/AbstractArgsListScreen.js
Owners: @d4vidi, @noomorph

Improve warning comment over early usage of rn-launch-args
  detox/test/index.android.js
Owners: @d4vidi, @noomorph

chore: update .gitmodules, bump `COSTouchVisualizer` commit.
  .gitmodules
Owners: @d4vidi

fix(iOS): Xcode 14.3 compatibility.
  detox/ios/Detox/DetoxAppDelegateProxy.m
  detox/ios/Detox/DetoxInit.m
  detox/ios/Detox/Utilities/ReactNativeSupport.m
Owners: @asafkorem

fix(test, iOS): add workaround for updating the deployment target.
  detox/test/ios/Podfile
Owners: @asafkorem

chore(iOS): update CLANG_CXX_LANGUAGE_STANDARD.
  detox/test/ios/example.xcodeproj/project.pbxproj
Owners: @asafkorem

chore(iOS): apply auto Xcode fixes.
  detox/test/ios/example.xcodeproj/project.pbxproj
Owners: @asafkorem

docs: Ref the react-native-launch-arguments in launch-args guide
  docs/guide/launch-args.md
Owners: @d4vidi

Fix doc lint errors
  docs/guide/launch-args.md
Owners: @d4vidi

Publish 20.9.1 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Publish docs version 20.x
  website/versioned_docs/version-20.x/guide/launch-args.md
Owners: @d4vidi

Intergate react-native-launch-arguments@next
  detox/test/index.android.js
  detox/test/package.json
  detox/test/src/Screens/AbstractArgsListScreen.js
Owners: @d4vidi, @noomorph

Restore usage of launch-args lib (#4060)
  detox/test/android/app/build.gradle
  detox/test/android/app/src/main/java/com/example/DetoxRNHost.java
  detox/test/android/app/src/main/java/com/example/NativeModule.java
  detox/test/android/settings.gradle
  detox/test/index.android.js
  detox/test/index.ios.js
  detox/test/package.json
  detox/test/src/Screens/AbstractArgsListScreen.js
  detox/test/src/Screens/LaunchArgsScreen.js
Owners: @d4vidi, @jonathanmos, @noomorph

github(issue-templates): Add discord, Stack-overflow as contact-links; Add emojis
  .github/ISSUE_TEMPLATE/BUG_REPORT_ANDROID.yml
  .github/ISSUE_TEMPLATE/BUG_REPORT_IOS.yml
  .github/ISSUE_TEMPLATE/BUG_REPORT_OTHER.yml
  .github/ISSUE_TEMPLATE/ENHANCEMENT.yml
  .github/ISSUE_TEMPLATE/HELP_WITH_USING_DETOX.yml
  .github/ISSUE_TEMPLATE/config.yml
Owners: @d4vidi

Update .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/config.yml
Owners: @d4vidi

Add discord, Stack-overflow as contact-links in GH issue template (#4092)
  .github/ISSUE_TEMPLATE/BUG_REPORT_ANDROID.yml
  .github/ISSUE_TEMPLATE/BUG_REPORT_IOS.yml
  .github/ISSUE_TEMPLATE/BUG_REPORT_OTHER.yml
  .github/ISSUE_TEMPLATE/ENHANCEMENT.yml
  .github/ISSUE_TEMPLATE/HELP_WITH_USING_DETOX.yml
  .github/ISSUE_TEMPLATE/config.yml
Owners: @d4vidi

github(issue-templates): Uncap call for using discord/SO
  .github/ISSUE_TEMPLATE/HELP_WITH_USING_DETOX.yml
Owners: @d4vidi

Take react-native-launch-arguments v4
  detox/test/package.json
Owners: @d4vidi

Take react-native-launch-arguments v4 (#4093)
  detox/test/package.json
Owners: @d4vidi

fix(Android): add swipe interaction
  detox/src/android/interactions/native.js
Owners: @d4vidi, @noomorph

iOS support from previous implementation
  detox/index.d.ts
  detox/ios/Detox.xcodeproj/project.pbxproj
  detox/ios/Detox/Invocation/Predicate.swift
  detox/ios/Detox/Utilities/String+isMatch.swift
  detox/src/ios/expectTwo.js
  detox/src/ios/expectTwo.test.js
  detox/test/e2e/02.matchers.test.js
  docs/api/matchers.md
Owners: @d4vidi, @noomorph, @asafkorem

chore: update lint
  detox/.eslintignore
  detox/.eslintrc.js
  detox/package.json
  detox/test/.eslintrc.js
  detox/test/package.json
Owners: @d4vidi, @noomorph

chore: update lint (#4095)
  detox/.eslintignore
  detox/.eslintrc.js
  detox/package.json
  detox/test/.eslintrc.js
  detox/test/package.json
Owners: @d4vidi, @noomorph

Added initial Android support
  detox/android/detox/src/full/java/com/wix/detox/espresso/DetoxMatcher.java
  detox/android/detox/src/full/java/com/wix/detox/espresso/matcher/RegexMatcher.kt
  detox/android/detox/src/full/java/com/wix/detox/espresso/matcher/ViewMatchers.kt
  detox/src/android/espressoapi/DetoxMatcher.js
  detox/src/android/matchers/native.js
  detox/src/ios/expectTwo.js
  detox/src/utils/regexp.js
  detox/test/e2e/02.matchers.test.js
Owners: @d4vidi, @jonathanmos, @noomorph

Lint fix, unskip other tests
  detox/test/e2e/02.matchers.test.js
Owners: @d4vidi, @noomorph

Added Android unit tests; improved documentation; removed irrelevant JS flag support
  detox/android/detox/src/full/java/com/wix/detox/espresso/matcher/RegexMatcher.kt
  detox/android/detox/src/testFull/java/com/wix/detox/espresso/matcher/RegexMatcherTest.kt
  detox/ios/Detox/Utilities/String+isMatch.swift
  docs/api/matchers.md
Owners: @d4vidi, @jonathanmos, @asafkorem

reorder imports (lint fix)
  detox/src/android/matchers/native.js
  detox/src/ios/expectTwo.js
Owners: @d4vidi, @noomorph

increase Android unit coverage
  detox/src/android/AndroidExpect.test.js
Owners: @d4vidi, @noomorph

Added Label and testID matchers to android
  detox/android/detox/src/full/java/com/wix/detox/espresso/DetoxMatcher.java
  detox/android/detox/src/full/java/com/wix/detox/espresso/matcher/ViewMatchers.kt
  detox/android/detox/src/full/java/com/wix/detox/espresso/matcher/WithAccessibilityLabelMatcher.kt
  detox/index.d.ts
  detox/src/android/espressoapi/DetoxMatcher.js
  detox/src/android/matchers/native.js
  detox/test/e2e/02.matchers.test.js
Owners: @d4vidi, @jonathanmos, @noomorph

WIP: iOS counterparts for label+id regex
  detox/ios/Detox/Invocation/Predicate.swift
  detox/ios/Detox/Utilities/String+isMatch.swift
  detox/src/ios/expectTwo.js
Owners: @asafkorem, @d4vidi, @noomorph

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem
