Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem

test: add ssim.js package.
  detox/test/package.json
Owners: @d4vidi

test(e2e): use SSIM score to compare snapshots.
  detox/test/e2e/utils/snapshot.js
Owners: @d4vidi, @noomorph

Fix: Bstack detox patch fix for 20.13.0
  detox/package.json
  detox/src/devices/allocation/drivers/android/cloud/CloudAndroidAllocDriver.js
  detox/src/devices/allocation/factories/cloud.js
  detox/src/environmentFactory.js
  detox/src/realms/DetoxPrimaryContext.js
Owners: @d4vidi, @noomorph

test: remove redundant `;`.
  detox/test/e2e/utils/snapshot.js
Owners: @d4vidi, @noomorph

test(e2e): extract `waitForCondition` method.
  detox/test/e2e/29.webview.test.js
  detox/test/e2e/utils/waitForCondition.js
Owners: @d4vidi, @noomorph

fixes
  detox/ios/Detox/DetoxManager.swift
  detox/test/e2e/03.actions.test.js
  detox/test/metro.config.js
  detox/test/src/Screens/ActionsScreen.js
Owners: @asafkorem, @d4vidi, @noomorph

feat(ios, webview): allow multiple matchings for id.
  detox/ios/Detox/Invocation/WebCodeBuilder+createSelector.swift
Owners: @asafkorem

test(e2e, webview): disable android failing tests.
  detox/test/e2e/29.webview.test.js
  detox/test/src/Screens/WebViewScreen.js
Owners: @d4vidi, @noomorph

test(e2e, android): upload snapshots for web-view matchers.
  detox/test/e2e/assets/focus-on-content-editable-webview.android.png
  detox/test/e2e/assets/focus-on-input-webview.android.png
  detox/test/e2e/assets/move-cursor-to-end-content-editable-webview.android.png
  detox/test/e2e/assets/move-cursor-to-end-webview.android.png
  detox/test/e2e/assets/scroll-to-view-webview.android.png
  detox/test/e2e/assets/select-all-text-in-content-editable-webview.android.png
  detox/test/e2e/assets/select-all-text-in-webview.android.png
Owners: @d4vidi

test(android, webviews): update snapshots.
  detox/test/e2e/assets/focus-on-content-editable-webview.android.png
  detox/test/e2e/assets/focus-on-input-webview.android.png
  detox/test/e2e/assets/move-cursor-to-end-content-editable-webview.android.png
  detox/test/e2e/assets/move-cursor-to-end-webview.android.png
  detox/test/e2e/assets/scroll-to-view-webview.android.png
  detox/test/e2e/assets/select-all-text-in-content-editable-webview.android.png
  detox/test/e2e/assets/select-all-text-in-webview.android.png
Owners: @d4vidi

fix(android): add workaround delay before return from web action.
  detox/src/android/core/WebElement.js
Owners: @d4vidi, @noomorph

refactor: remove / change comments.
  detox/test/e2e/utils/snapshot.js
  detox/test/src/Screens/WebViewScreen.js
Owners: @d4vidi, @noomorph

test(e2e, webview): add missing tests.
  detox/test/e2e/29.webview.test.js
Owners: @d4vidi, @noomorph

fix(webview, android): use `DetoxRuntimeError` instead of `Error`.
  detox/src/android/core/WebElement.js
Owners: @d4vidi, @noomorph

Publish 20.19.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Publish docs version 20.x
  website/versioned_docs/version-20.x/api/webviews.md
Owners: @d4vidi

Update README.md
  README.md
Owners: @d4vidi

docs(webview): revert to previous version.
  docs/api/webviews.md
Owners: @d4vidi

docs(webviews): update with recent changes.
  docs/api/webviews.md
Owners: @d4vidi

docs(webviews): apply suggestions from review #4400.
  docs/api/webviews.md
Owners: @d4vidi

docs(webviews): add "Testing WebViews" guide.
  docs/guide/testing-webviews.md
  website/sidebars.js
Owners: @d4vidi, @noomorph

docs(testing-webviews): fix broken link.
  docs/guide/testing-webviews.md
Owners: @d4vidi

Publish 20.19.1 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Publish docs version 20.x
  website/versioned_docs/version-20.x/api/webviews.md
Owners: @d4vidi

docs(guides): lift up testing-webviews guide in the sidebar menu.
  website/sidebars.js
Owners: @d4vidi, @noomorph

docs(webviews apis): fix code examples.
  docs/api/webviews.md
Owners: @d4vidi

docs(webviews guide): improve code example.
  docs/guide/testing-webviews.md
Owners: @d4vidi

fix(ios, webviews): verify not reached input's max-length on typing.
  detox/ios/Detox/Invocation/WebCodeBuilder+createTypeAction.swift
Owners: @asafkorem

test(ios, webviews): test input with `maxlength`.
  detox/test/e2e/29.webview.test.js
  detox/test/src/Screens/WebViewScreen.js
Owners: @d4vidi, @noomorph

test(ios): add comment.
  detox/test/e2e/29.webview.test.js
Owners: @d4vidi, @noomorph

Publish 20.19.2 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Publish docs version 20.x
  website/versioned_docs/version-20.x/api/webviews.md
  website/versioned_docs/version-20.x/guide/testing-webviews.md
  website/versioned_sidebars/version-20.x-sidebars.json
Owners: @d4vidi

fix(webviews, ios): access the `ownerDocument` of the matched `element`.
  detox/ios/Detox/Invocation/WebCodeBuilder+createMoveCursorToEndAction.swift
  detox/ios/Detox/Invocation/WebCodeBuilder+createSelectAllTextAction.swift
  detox/ios/Detox/Invocation/WebCodeBuilder+createTypeAction.swift
Owners: @asafkorem

fix(ios, webviews): keep cursor on text-field end while typing.
  detox/ios/Detox/Invocation/WebCodeBuilder+createTypeAction.swift
Owners: @asafkorem

test(e2e): verify cursor position is on end while typing.
  detox/test/e2e/29.webview.test.js
  detox/test/e2e/assets/typing-keep-cursor-position-webview-content-editable-1.ios.png
  detox/test/e2e/assets/typing-keep-cursor-position-webview-content-editable-2.ios.png
  detox/test/e2e/assets/typing-keep-cursor-position-webview-input-1.ios.png
  detox/test/e2e/assets/typing-keep-cursor-position-webview-input-2.ios.png
Owners: @d4vidi, @noomorph

refactor(webviews, ios): remove `accessibilityType` enum value.
  detox/ios/Detox/Invocation/WebPredicateType.swift
  detox/src/ios/expectTwo.test.js
  detox/src/ios/expectTwoApiCoverage.test.js
  detox/src/ios/web.js
Owners: @asafkorem, @d4vidi, @noomorph

fix(webviews, ios): support separate inner documents (frames).
  detox/ios/Detox/Invocation/WebCodeBuilder+createSelector.swift
Owners: @asafkorem

fix(webviews, ios): disable WebKit security restrictions.
  detox/ios/Detox.xcodeproj/project.pbxproj
  detox/ios/Detox/Invocation/WKWebViewConfiguration+Detox.h
  detox/ios/Detox/Invocation/WKWebViewConfiguration+Detox.m
Owners: @asafkorem

feat(webviews, ios): throw error if occurred on querying inner-frames.
  detox/ios/Detox/Invocation/WebCodeBuilder+createSelector.swift
Owners: @asafkorem

fix(ios, webviews): handle errors on expectations.
  detox/ios/Detox/Invocation/WebCodeBuilder.swift
  detox/ios/Detox/Invocation/WebExpectation.swift
Owners: @asafkorem
