Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

Slightly modify busy resources inquiry architecture
  detox/android/detox/src/full/java/com/wix/detox/TestEngineFacade.kt
  detox/android/detox/src/full/java/com/wix/detox/adapters/server/QueryStatusActionHandler.kt
  detox/android/detox/src/full/java/com/wix/detox/espresso/asynctasks/AsyncTaskInquirer.kt
  detox/android/detox/src/full/java/com/wix/detox/espresso/common/UiControllerImplReflected.kt
  detox/android/detox/src/full/java/com/wix/detox/espresso/idlingresources/DescriptiveIdlingResource.kt
  detox/android/detox/src/full/java/com/wix/detox/espresso/registry/BusyResourcesInquirer.kt
  detox/android/detox/src/full/java/com/wix/detox/espresso/registry/IRStatusInquirer.kt
  detox/android/detox/src/full/java/com/wix/detox/inquiry/DetoxBusyResource.kt
  detox/android/detox/src/full/java/com/wix/detox/inquiry/DetoxBusyResourceDescription.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/AnimatedModuleIdlingResource.java
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/AsyncStorageIdlingResource.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/BridgeIdlingResource.java
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/DescriptiveIdlingResource.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/DetoxBaseIdlingResource.java
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/NetworkIdlingResource.java
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/asynctask/DetoxBusyResource.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/asynctask/UiControllerImplReflected.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/timers/TimersIdlingResource.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/uimodule/UIModuleIdlingResource.kt
  detox/android/detox/src/testFull/java/com/wix/detox/adapters/server/QueryStatusActionHandlerSpec.kt
  detox/android/detox/src/testFull/java/com/wix/detox/espresso/asynctasks/AsyncTaskInquirerTest.kt
  detox/android/detox/src/testFull/java/com/wix/detox/espresso/registry/BusyResourcesInquirerTest.kt
  detox/android/detox/src/testFull/java/com/wix/detox/inquiry/DetoxBusyResourceDescriptionSpec.kt
  detox/android/detox/src/testFull/java/com/wix/detox/inquiry/DetoxBusyResourceSpec.kt
  detox/android/detox/src/testFull/java/com/wix/detox/reactnative/idlingresources/AsyncStorageIdlingResourceSpec.kt
  detox/android/detox/src/testFull/java/com/wix/detox/reactnative/idlingresources/NetworkIdlingResourcesTest.kt
  detox/android/detox/src/testFull/java/com/wix/detox/reactnative/idlingresources/timers/TimersIdlingResourceSpec.kt
Owners: @d4vidi, @jonathanmos

Change phrasing; Introduce subtle optimization
  detox/android/detox/src/full/java/com/wix/detox/espresso/registry/BusyResourcesInquirer.kt
  detox/android/detox/src/full/java/com/wix/detox/inquiry/DetoxBusyResource.kt
  detox/android/detox/src/testFull/java/com/wix/detox/inquiry/DetoxBusyResourceSpec.kt
Owners: @d4vidi, @jonathanmos

feat(android): Detect busy background threads (#3718)
  detox/android/detox/src/full/java/com/wix/detox/TestEngineFacade.kt
  detox/android/detox/src/full/java/com/wix/detox/adapters/server/QueryStatusActionHandler.kt
  detox/android/detox/src/full/java/com/wix/detox/espresso/common/UiControllerImplReflected.kt
  detox/android/detox/src/full/java/com/wix/detox/espresso/idlingresources/DescriptiveIdlingResource.kt
  detox/android/detox/src/full/java/com/wix/detox/espresso/registry/BusyResourcesInquirer.kt
  detox/android/detox/src/full/java/com/wix/detox/espresso/registry/IRStatusInquirer.kt
  detox/android/detox/src/full/java/com/wix/detox/inquiry/DetoxBusyResource.kt
  detox/android/detox/src/full/java/com/wix/detox/inquiry/DetoxBusyResourceDescription.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/AnimatedModuleIdlingResource.java
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/AsyncStorageIdlingResource.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/BridgeIdlingResource.java
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/DescriptiveIdlingResource.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/DetoxBaseIdlingResource.java
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/NetworkIdlingResource.java
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/timers/TimersIdlingResource.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/uimodule/UIManagerModuleReflected.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/uimodule/UIModuleIdlingResource.kt
  detox/android/detox/src/testFull/java/com/wix/detox/adapters/server/QueryStatusActionHandlerSpec.kt
  detox/android/detox/src/testFull/java/com/wix/detox/espresso/registry/BusyResourcesInquirerTest.kt
  detox/android/detox/src/testFull/java/com/wix/detox/inquiry/DetoxBusyResourceDescriptionSpec.kt
  detox/android/detox/src/testFull/java/com/wix/detox/inquiry/DetoxBusyResourceSpec.kt
  detox/android/detox/src/testFull/java/com/wix/detox/reactnative/idlingresources/AsyncStorageIdlingResourceSpec.kt
  detox/android/detox/src/testFull/java/com/wix/detox/reactnative/idlingresources/NetworkIdlingResourcesTest.kt
  detox/android/detox/src/testFull/java/com/wix/detox/reactnative/idlingresources/timers/TimersIdlingResourceSpec.kt
  detox/src/client/actions/SyncStatusSchema.json
  detox/src/client/actions/formatters/SyncStatusFormatter.js
  detox/src/client/actions/formatters/SyncStatusFormatter.test.js
  detox/src/client/actions/formatters/__snapshots__/SyncStatusFormatter.test.js.snap
  detox/src/client/actions/formatters/sync-resources/BgThreadFormatter.js
Owners: @d4vidi, @jonathanmos, @noomorph

docs: Subtle fixes to project-setup guide
  docs/introduction/project-setup.mdx
Owners: @d4vidi

docs: amend
  docs/introduction/project-setup.mdx
  docs/troubleshooting/running-tests.md
Owners: @d4vidi

docs(tutorials): fix project setup guide (#3748)
  docs/introduction/project-setup.mdx
  docs/troubleshooting/running-tests.md
Owners: @d4vidi

docs(api): fix web view api code examples.
  docs/api/webviews.md
Owners: @d4vidi

docs(api): refine web views
  docs/api/webviews.md
Owners: @d4vidi

docs(api): fix web view api code examples.
  docs/api/webviews.md
Owners: @d4vidi

docs(webviews): clarify.
  docs/api/webviews.md
Owners: @d4vidi

docs(api): add notes for web view api usage.
  docs/api/webviews.md
Owners: @d4vidi

docs: add web views API documentation.
  docs/api/webviews.md
  website/sidebars.js
Owners: @d4vidi, @noomorph

fix: resolve doc-lint errors.
  docs/api/webviews.md
Owners: @d4vidi

docs(api): use more arbitrary function params in a code example.
  docs/api/webviews.md
Owners: @d4vidi

website: fix homepage icons on Safari browser (#3725)
  website/package.json
  website/src/components/Homepage/Features/FeatureList.js
  website/src/components/Homepage/Features/Features.css
  website/src/components/Homepage/Features/Features.js
  website/static/img/homepage/ci-light.svg
  website/static/img/homepage/ci.svg
  website/static/img/homepage/cross-platform-light.svg
  website/static/img/homepage/cross-platform.svg
  website/static/img/homepage/debug-light.svg
  website/static/img/homepage/debug.svg
  website/static/img/homepage/devices-light.svg
  website/static/img/homepage/devices.svg
  website/static/img/homepage/sync-light.svg
  website/static/img/homepage/sync.svg
  website/static/img/homepage/test-runner-light.svg
  website/static/img/homepage/test-runner.svg
Owners: @d4vidi, @noomorph

fix(ios): detect topmost view if it is a direct subview of window.
  detox/ios/Detox/Utilities/UIView+DetoxUtils.m
Owners: @asafkorem

tests(e2e): add tests for hittability with overlay subview of UIWindow.
  detox/test/e2e/35.overlay.test.js
  detox/test/ios/example/NativeModule.m
  detox/test/src/Screens/OverlayScreen.js
Owners: @d4vidi, @noomorph, @asafkorem

refactor(trace): simpler primary PID detection (#3715)
  detox/src/logger/utils/DetoxLogFinalizer.test.js
  detox/src/logger/utils/streams/ChromeTraceTransformer.js
Owners: @d4vidi, @noomorph

ci: remove invalid `JAVA_HOME` variable setting.
  .buildkite/pipeline.release.fast.yml
Owners: @d4vidi

Publish 20.1.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Publish docs version 20.x
  website/versioned_docs/version-20.x/api/webviews.md
  website/versioned_docs/version-20.x/guide/migration.md
  website/versioned_docs/version-20.x/introduction/project-setup.mdx
  website/versioned_docs/version-20.x/troubleshooting/running-tests.md
  website/versioned_sidebars/version-20.x-sidebars.json
Owners: @d4vidi

merge data-theme dark custom css into :root selector
  website/src/css/custom.css
Owners: @d4vidi

fix custom css file remove commented code
  website/src/css/custom.css
Owners: @d4vidi

website: update background colors (#3757)
  website/src/components/CustomBanner/StandWithUkraine.module.css
  website/src/components/Homepage/SubHeader/HomepageSubHeader.module.css
  website/src/components/Showcase/Hero.module.css
  website/src/css/custom.css
Owners: @d4vidi

fix: immutable matchers
  detox/src/android/AndroidExpect.test.js
  detox/src/android/core/NativeMatcher.js
  detox/src/ios/expectTwo.js
  detox/src/ios/expectTwo.test.js
Owners: @d4vidi, @noomorph

fix: immutable matchers (#3756)
  detox/src/android/AndroidExpect.test.js
  detox/src/android/core/NativeMatcher.js
  detox/src/ios/expectTwo.js
  detox/src/ios/expectTwo.test.js
Owners: @d4vidi, @noomorph

ci(website): freeze npm-to-yarn version
  website/package.json
Owners: @d4vidi

Revert "ci(website): freeze npm-to-yarn version"
  website/package.json
Owners: @d4vidi

Revert "ci(website): freeze npm-to-yarn version" (#3770)
  website/package.json
Owners: @d4vidi

squashing some fixes
  detox/ios/Detox/DetoxManager.swift
  detox/ios/Detox/DetoxManager_OLD.swift
  detox/ios/Detox/Utilities/WebSocket.swift
  detox/src/server/DetoxSession.js
Owners: @asafkorem, @d4vidi, @noomorph

ci: use Allure reports
  .buildkite/jobs/pipeline.android_rn_68.yml
  .buildkite/jobs/pipeline.android_rn_69.yml
  .buildkite/jobs/pipeline.ios_rn_68.yml
  .buildkite/jobs/pipeline.ios_rn_69.yml
  .gitignore
  detox/package.json
  detox/test/e2e/jest.config.js
  detox/test/package.json
  scripts/ci.android.sh
  scripts/ci.ios.sh
  scripts/ci.sh
  scripts/upload_artifact.sh
Owners: @d4vidi, @noomorph

ci: use Allure reports (#3764)
  .buildkite/jobs/pipeline.android_rn_68.yml
  .buildkite/jobs/pipeline.android_rn_69.yml
  .buildkite/jobs/pipeline.ios_rn_68.yml
  .buildkite/jobs/pipeline.ios_rn_69.yml
  .gitignore
  detox/package.json
  detox/test/e2e/jest.config.js
  detox/test/package.json
  scripts/ci.android.sh
  scripts/ci.ios.sh
  scripts/ci.sh
  scripts/upload_artifact.sh
Owners: @d4vidi, @noomorph

add matching by type
  detox/ios/Detox/DetoxManager.swift
  detox/ios/DetoxTester/DetoxTester/Matchers/XCUIElementQuery/XCUIElementQuery+matching.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+handleInvoke.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor+Message.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor.swift
  detox/test/e2e/02.matchers.test.js
Owners: @asafkorem, @d4vidi, @noomorph

docs: fix lint errors
  docs/api/device.md
  docs/api/webviews.md
  docs/introduction/partials/_getting-started-expo.md
Owners: @d4vidi

docs: fix lint errors (#3775)
  docs/api/device.md
  docs/api/webviews.md
  docs/introduction/partials/_getting-started-expo.md
Owners: @d4vidi

lint: fix errors in tests
  detox/.eslintrc.js
  detox/runners/jest/index.test.js
  detox/src/DetoxWorker.test.js
  detox/src/android/matchers/native.js
  detox/src/artifacts/log/ios/SimulatorLogPlugin.test.js
  detox/src/artifacts/templates/artifact/FileArtifact.test.js
  detox/src/artifacts/templates/plugin/ArtifactPlugin.test.js
  detox/src/devices/DeviceRegistry.test.js
  detox/src/devices/common/drivers/android/exec/AAPT.test.js
  detox/src/devices/runtime/drivers/android/AndroidDriver.test.js
  detox/src/devices/runtime/drivers/android/genycloud/GenyCloudDriver.test.js
  detox/src/utils/Timer.test.js
  detox/src/utils/sleep.test.js
Owners: @d4vidi, @noomorph

lint: fix errors in tests (#3776)
  detox/.eslintrc.js
  detox/runners/jest/index.test.js
  detox/src/DetoxWorker.test.js
  detox/src/android/matchers/native.js
  detox/src/artifacts/log/ios/SimulatorLogPlugin.test.js
  detox/src/artifacts/templates/artifact/FileArtifact.test.js
  detox/src/artifacts/templates/plugin/ArtifactPlugin.test.js
  detox/src/devices/DeviceRegistry.test.js
  detox/src/devices/common/drivers/android/exec/AAPT.test.js
  detox/src/devices/runtime/drivers/android/AndroidDriver.test.js
  detox/src/devices/runtime/drivers/android/genycloud/GenyCloudDriver.test.js
  detox/src/utils/Timer.test.js
  detox/src/utils/sleep.test.js
Owners: @d4vidi, @noomorph

lint: false alarm - JSON.parse()
  detox/src/utils/ExclusiveLockfile.js
Owners: @d4vidi, @noomorph

lint: fix chalk typing
  detox/src/logger/DetoxLogger.js
Owners: @d4vidi, @noomorph

test: add missing coverage
  detox/src/devices/lifecycle/GenyGlobalLifecycleHandler.js
  detox/src/devices/lifecycle/GenyGlobalLifecycleHandler.test.js
Owners: @d4vidi, @noomorph

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem
