Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

chore(detox): add `detox-copilot` dependency.
  detox/package.json
Owners: @d4vidi

refactor: create files to split into.
  detox-copilot/src/DetoxCopilot.integration.test.ts
  detox-copilot/src/DetoxCopilot.test.ts
  detox-copilot/src/DetoxCopilot.ts
  detox-copilot/src/actions/Act.test.ts
  detox-copilot/src/actions/Act.ts
  detox-copilot/src/actions/Expect.test.ts
  detox-copilot/src/actions/Expect.ts
  detox-copilot/src/errors/CopilotError.ts
  detox-copilot/src/index.ts
  detox-copilot/src/types/index.ts
  detox-copilot/src/utils/CodeEvaluator.test.ts
  detox-copilot/src/utils/CodeEvaluator.ts
  detox-copilot/src/utils/PromptCreator.test.ts
  detox-copilot/src/utils/PromptCreator.ts
  detox-copilot/src/utils/SnapshotManager.test.ts
  detox-copilot/src/utils/SnapshotManager.ts
Owners: @d4vidi, @noomorph

project(copilot): override version to version `0`.
  detox-copilot/package.json
Owners: @d4vidi

feat(copilot): introduce `CopilotFacade` type.
  detox-copilot/src/index.ts
Owners: @d4vidi, @noomorph

docs(copilot): update readme file.
  detox-copilot/README.md
Owners: @d4vidi

Upgraded dependencies
  detox/android/detox/build.gradle
  detox/android/detox/src/full/java/com/wix/detox/espresso/assertion/ViewAssertions.java
Owners: @d4vidi, @jonathanmos

Run demo tests on latest emulators
  examples/demo-react-native/detox.config.js
Owners: @d4vidi, @noomorph

refactor(copilot): add type and document the copilot facade.
  detox-copilot/src/CopilotFacade.ts
  detox-copilot/src/index.ts
Owners: @d4vidi, @noomorph

Upgraded dependencies
  detox/android/detox/build.gradle
  detox/android/detox/proguard-rules-app.pro
  detox/test/android/build.gradle
Owners: @d4vidi, @jonathanmos

Reduced kotlin version
  detox/test/android/build.gradle
Owners: @d4vidi, @jonathanmos

feat(copilot): expose copilot types publicly.
  detox-copilot/package.json
  detox-copilot/src/Copilot.test.ts
  detox-copilot/src/Copilot.ts
  detox-copilot/src/CopilotFacade.ts
  detox-copilot/src/actions/StepPerformer.test.ts
  detox-copilot/src/actions/StepPerformer.ts
  detox-copilot/src/index.ts
  detox-copilot/src/integration tests/index.test.ts
  detox-copilot/src/types.ts
  detox-copilot/src/utils/CodeEvaluator.test.ts
  detox-copilot/src/utils/PromptCreator.test.ts
  detox-copilot/src/utils/PromptCreator.ts
  detox-copilot/src/utils/SnapshotManager.ts
Owners: @d4vidi, @noomorph

refactor(CopilotDriver): rename to `detoxCopilotFrameworkDriver`.
  detox/src/copilot/CopilotDriver.js
  detox/src/copilot/detoxCopilotFrameworkDriver.js
Owners: @d4vidi, @noomorph

feat(DetoxCopilot): initial commit.
  detox/src/copilot/DetoxCopilot.js
Owners: @d4vidi, @noomorph

test(DetoxCopilot): add unit tests.
  detox/src/copilot/DetoxCopilot.test.js
Owners: @d4vidi, @noomorph

feat(copilot): expose Copilot API from Detox.
  detox/detox.d.ts
  detox/src/DetoxWorker.js
  detox/src/copilot/DetoxCopilot.js
  detox/src/realms/DetoxContext.js
Owners: @d4vidi, @noomorph

build(copilot): add tsc-alias to resolve alias paths.
  detox-copilot/package.json
  detox-copilot/tsconfig.json
Owners: @d4vidi

test(unit): add copilot constructor tests for DetoxWorker.
  detox/src/DetoxWorker.test.js
Owners: @d4vidi, @noomorph

test(unit): fix DetoxCopilot test.
  detox/src/copilot/DetoxCopilot.js
  detox/src/copilot/DetoxCopilot.test.js
Owners: @d4vidi, @noomorph

feat(DetoxWorker): reset detox copilot if-needed before each test.
  detox/src/DetoxWorker.js
  detox/src/DetoxWorker.test.js
Owners: @d4vidi, @noomorph

test(unit): remove duplicated unit test.
  detox/src/DetoxWorker.test.js
Owners: @d4vidi, @noomorph

feat(DetoxWorker): always reset copilot before test if needed.
  detox/src/DetoxWorker.js
  detox/src/DetoxWorker.test.js
Owners: @d4vidi, @noomorph

.gitignore: ignore .env files across all project.
  .gitignore
Owners: @d4vidi

Try to fix release tests
  detox/android/detox/build.gradle
  detox/android/detox/proguard-rules-app.pro
Owners: @d4vidi, @jonathanmos

fix(DetoxWorker): inject copilot to globals.
  detox/src/DetoxWorker.js
Owners: @d4vidi, @noomorph

feat(globals): expose copilot global.
  detox/globals.d.ts
Owners: @d4vidi, @noomorph

fix(detoxCopilotFrameworkDriver): fix take image snapshot.
  detox/src/copilot/detoxCopilotFrameworkDriver.js
Owners: @d4vidi, @noomorph

feat(PromptHandler): initial commit.
  detox/test/e2e/copilot/PromptHandler.js
  detox/test/package.json
Owners: @d4vidi, @noomorph

test(e2e): add copilot sanity tests.
  detox/test/e2e/38.copilot.sanity.test.js
Owners: @d4vidi, @noomorph

test(fix): remove redundant comment.
  detox/test/e2e/38.copilot.sanity.test.js
Owners: @d4vidi, @noomorph

added reverse code
  examples/demo-react-native/detox.config.js
Owners: @d4vidi, @noomorph

refactor: fix indent.
  detox-copilot/src/actions/StepPerformer.ts
Owners: @d4vidi, @noomorph

feat(copilot): capture framework context from config.
  detox-copilot/src/Copilot.test.ts
  detox-copilot/src/Copilot.ts
  detox-copilot/src/actions/StepPerformer.test.ts
  detox-copilot/src/actions/StepPerformer.ts
  detox-copilot/src/integration tests/index.test.ts
  detox-copilot/src/types.ts
  detox-copilot/src/utils/CodeEvaluator.test.ts
  detox-copilot/src/utils/CodeEvaluator.ts
  detox-copilot/src/utils/PromptCreator.test.ts
  detox/src/copilot/detoxCopilotFrameworkDriver.js
Owners: @d4vidi, @noomorph

Fixed webview tess flakiness
  detox/test/e2e/29.webview.test.js
  detox/test/e2e/utils/snapshot.js
Owners: @d4vidi, @noomorph

Fixed lint
  detox/test/e2e/utils/snapshot.js
Owners: @d4vidi, @noomorph

Publish 20.26.0 [ci skip]
  detox-cli/package.json
  detox-copilot/package.json
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  generation/package.json
  lerna.json
  package.json
Owners: @d4vidi

chore(detox-copilot): revert version bump.
  detox-copilot/package.json
Owners: @d4vidi

chore(lerna): ignore detox-copilot on lerna publish.
  lerna.json
Owners: @d4vidi

chore: revert detox-copilot dependency version bump.
  detox/package.json
Owners: @d4vidi

chore: remove ignore from lerna publish (unsupported).
  lerna.json
Owners: @d4vidi

Publish 20.26.1-smoke.0 [ci skip]
  detox-copilot/package.json
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem
