Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

wip
  detox/ios/DetoxTester/DetoxTester/ElementMatcher.swift
  detox/ios/DetoxTester/DetoxTester/ExpectationDelegate.swift
Owners: @asafkorem

wip
  detox/ios/DetoxTester/DetoxTester/DetoxTester.swift
Owners: @asafkorem

wip
  detox/ios/DetoxTester/DetoxTester/WaitUntilDone.swift
Owners: @asafkorem

wip
  detox/ios/DetoxTester/DetoxTester/DetoxTester.swift
  detox/ios/DetoxTester/DetoxTester/WaitUntilDone.swift
  detox/ios/DetoxTester/DetoxTester/WebSocket.swift
  detox/ios/DetoxTester/DetoxTester/WebSocketDelegateProtocol.swift
  detox/ios/DetoxTester/DetoxTesterApp.xcodeproj/project.pbxproj
Owners: @asafkorem

wip
  detox/ios/DetoxTester/DetoxTester/ScrollTests.swift
  detox/ios/DetoxTester/DetoxTester/TapTests.swift
  detox/ios/DetoxTester/DetoxTester/XCUIElement+coordinate.swift
  detox/ios/DetoxTester/DetoxTester/XCUIElement+getAttributes.swift
  detox/ios/DetoxTester/DetoxTester/XCUIElement+isVisible.swift
  detox/ios/DetoxTester/DetoxTester/XCUIElement+scroll.swift
  detox/ios/DetoxTester/DetoxTester/XCUIElement+swipe.swift
  detox/ios/DetoxTester/DetoxTesterApp.xcodeproj/project.pbxproj
  detox/ios/DetoxTester/DetoxTesterApp/Actions Screens/Scroll/ScrollScreen.storyboard
  detox/ios/DetoxTester/DetoxTesterApp/Actions Screens/Scroll/ScrollViewController.swift
Owners: @asafkorem, @d4vidi

simplify stuff
  detox/ios/DetoxTester/DetoxTester/DTXTestCase.m
  detox/ios/DetoxTester/DetoxTester/Main.m
Owners: @asafkorem

wip
  detox/ios/DetoxTester/DetoxTester/Tester/DetoxTester.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor+Message.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor+Response.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Utils/Web Socket Client/ServerMessageType.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Utils/Web Socket Client/WebSocket+Config.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Utils/Web Socket Client/WebSocketClient.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Utils/Web Socket Client/WebSocketDelegateProtocol.swift
  detox/ios/DetoxTester/DetoxTester/Utils/LogUtils.swift
  detox/ios/DetoxTester/DetoxTesterApp.xcodeproj/project.pbxproj
Owners: @asafkorem

wip
  detox/ios/DetoxTester/DetoxTester/ActionDelegateTests.swift
  detox/ios/DetoxTester/DetoxTester/DTXTestCase.h
  detox/ios/DetoxTester/DetoxTester/DTXTestCase.m
  detox/ios/DetoxTester/DetoxTester/Tests/ActionDelegateTests.swift
  detox/ios/DetoxTester/DetoxTesterApp.xcodeproj/project.pbxproj
  detox/ios/DetoxTester/DetoxTesterApp/Actions Screens/Tap/TapScreen.storyboard
  detox/ios/DetoxTester/DetoxTesterApp/Actions Screens/Tap/TapStoryboard.storyboard
  detox/ios/DetoxTester/DetoxTesterApp/Actions Screens/Tap/TapViewController.swift
  detox/ios/DetoxTester/DetoxTesterApp/ActionsMenuViewController.swift
Owners: @asafkorem, @d4vidi

add comment
  detox/ios/DetoxTester/DetoxTester/DTXTestCase.h
Owners: @asafkorem

add swiftlinter
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxHandler.swift
  detox/ios/DetoxTester/DetoxTesterApp.xcodeproj/project.pbxproj
  detox/src/devices/common/drivers/ios/tools/AppleSimUtils.js
Owners: @asafkorem, @d4vidi, @noomorph

introduce white box handler
  detox/ios/DetoxTester/DetoxTester/Tester/DetoxTester.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+handleInvoke.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+sendAction.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/ServerMessageSenderProtocol.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WebSocketReceiveActionType+isWhiteBoxAction.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxHandler.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Utils/Web Socket/ServerMessageType.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Utils/Web Socket/WebSocket.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Utils/Web Socket/WebSocketDelegateProtocol.swift
  detox/ios/DetoxTester/DetoxTesterApp.xcodeproj/project.pbxproj
  detox/ios/DetoxWhiteBoxHandler/DetoxWhiteBoxHandler.xcodeproj/project.pbxproj
  detox/ios/DetoxWhiteBoxHandler/DetoxWhiteBoxHandler/WhiteBoxMessage.swift
Owners: @asafkorem

WIP
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+cleanup.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+disconnect.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+handleReactNativeReload.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+sendAction.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+setSyncSettings.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+waitFor.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/ServerMessageSenderProtocol.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor+Message.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor+Response.swift
  detox/ios/DetoxTester/DetoxTester/Utils/Extensions/TimeInterval+Extensions.swift
  detox/ios/DetoxTester/DetoxTesterApp.xcodeproj/project.pbxproj
Owners: @asafkorem

add unit tests
  detox/ios/DetoxTester/DetoxTester/ActionDelegateTests.swift
  detox/ios/DetoxTester/DetoxTester/DTXTestCase.h
  detox/ios/DetoxTester/DetoxTesterApp.xcodeproj/project.pbxproj
  detox/ios/DetoxTester/DetoxTesterApp/Actions Screens/Long Press/LongPressScreen.storyboard
  detox/ios/DetoxTester/DetoxTesterApp/Actions Screens/Long Press/LongPressViewController.swift
  detox/ios/DetoxTester/DetoxTesterApp/ActionsMenuViewController.swift
Owners: @asafkorem, @d4vidi

remove require?
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
Owners: @d4vidi, @noomorph

wip
  detox/ios/DetoxTester/DetoxTester/Expectations/ExpectationDelegate.swift
  detox/ios/DetoxTester/DetoxTester/Tester/DetoxTester.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/AppHandlerProtocol.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+getAppUnderTest.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+handleCleanup.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+sendAction.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/ExecutorDelegateProtocol.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/ServerMessageSenderProtocol.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Utils/React Native/WaitUntilAppIsReady.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Utils/WaitUntilDone.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Utils/Web Socket/WebSocket.swift
  detox/ios/DetoxTester/DetoxTester/Utils/LogUtils.swift
  detox/ios/DetoxTester/DetoxTesterApp.xcodeproj/project.pbxproj
  detox/ios/DetoxTester/DetoxTesterApp/Utils/CGPoint+Operators.swift
Owners: @asafkorem

wip
  detox/ios/DetoxTester/DetoxTester/ActionDelegateTests.swift
  detox/ios/DetoxTester/DetoxTester/XCUIElement+longPress.swift
Owners: @asafkorem

wip
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/ElementPattern.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/MessagePredicateType.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/MessageBuilder.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/MessageSpec.swift
  detox/ios/DetoxTester/DetoxTester/Matchers/ElementMatcher.swift
  detox/ios/DetoxTester/DetoxTester/Matchers/XCUIElement/XCUIElement+compare.swift
  detox/ios/DetoxTester/DetoxTester/Unit Tests/Element Matcher/ElementMatchersTests.swift
  detox/ios/DetoxTester/DetoxTesterApp.xcodeproj/project.pbxproj
  detox/ios/DetoxTester/DetoxTesterApp/ContentView.swift
  detox/ios/DetoxTester/DetoxTesterApp/Matchers Screens/ElementsScreen.storyboard
  detox/ios/DetoxTester/DetoxTesterApp/Menu.swift
  detox/ios/DetoxTester/DetoxTesterApp/MenuStoryboard.storyboard
  detox/ios/DetoxTester/DetoxTesterApp/MenuViewController.swift
Owners: @asafkorem, @d4vidi

wip
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/ActionType.swift
  detox/ios/DetoxTester/DetoxTester/Tests/ActionDelegateTests.swift
  detox/ios/DetoxTester/DetoxTester/Tests/DTXTestCase.h
  detox/ios/DetoxTester/DetoxTester/Tests/DTXTestCase.m
  detox/ios/DetoxTester/DetoxTesterApp.xcodeproj/project.pbxproj
  detox/ios/DetoxTester/DetoxTesterApp/Actions Screens/Tap/TapStoryboard.storyboard
  detox/ios/DetoxTester/DetoxTesterApp/Actions Screens/Tap/TapViewController.swift
  detox/ios/DetoxTester/DetoxTesterApp/ActionsMenu.swift
  detox/ios/DetoxTester/DetoxTesterApp/ActionsMenuStoryboard.storyboard
  detox/ios/DetoxTester/DetoxTesterApp/ActionsMenuViewController.swift
  detox/ios/DetoxTester/DetoxTesterApp/ContentView.swift
  detox/ios/DetoxTester/Main.m
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
Owners: @asafkorem, @d4vidi, @noomorph

DetoxWhiteBoxHandler: initial commit.
  detox/ios/DetoxTester.xcworkspace/contents.xcworkspacedata
  detox/ios/DetoxWhiteBoxHandler/DetoxWhiteBoxHandler.xcodeproj/project.pbxproj
  detox/ios/DetoxWhiteBoxHandler/DetoxWhiteBoxHandler/DetoxWhiteBoxHandler.h
  detox/ios/DetoxWhiteBoxHandler/DetoxWhiteBoxHandlerTests/DetoxWhiteBoxHandlerTests.swift
Owners: @asafkorem

more code
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+captureViewHierarchy.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+cleanup.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+disconnect.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+handleReactNativeReload.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+reactNativeReload.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+setSyncSettings.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+shakeDevice.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+waitFor.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/ServerMessageSenderProtocol.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor+Message.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor+Response.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor.swift
  detox/ios/DetoxTester/DetoxTester/Utils/Extensions/XCUIApplication+settingsApp.swift
  detox/ios/DetoxTester/DetoxTesterApp.xcodeproj/project.pbxproj
Owners: @asafkorem

WIP
  detox/ios/DetoxTester/DetoxTester/ActionDelegate.swift
  detox/ios/DetoxTester/DetoxTester/CGPoint+Extensions.swift
  detox/ios/DetoxTester/DetoxTester/ElementAttributes.swift
  detox/ios/DetoxTester/DetoxTester/GetAttributes.swift
  detox/ios/DetoxTester/DetoxTester/JSON.swift
  detox/ios/DetoxTester/DetoxTester/LongPressAndDragTests.swift
  detox/ios/DetoxTester/DetoxTester/LongPressTests.swift
  detox/ios/DetoxTester/DetoxTester/ScreenshotTests.swift
  detox/ios/DetoxTester/DetoxTester/SwipeTests.swift
  detox/ios/DetoxTester/DetoxTester/TapTests.swift
  detox/ios/DetoxTester/DetoxTester/UIAccessibilityTraits+asStrings.swift
  detox/ios/DetoxTester/DetoxTester/XCUIElement+getAttributes.swift
  detox/ios/DetoxTester/DetoxTesterApp.xcodeproj/project.pbxproj
  detox/ios/DetoxTester/DetoxTesterApp/Actions Screens/Get Accessibility Attributes/AccessibilityScreen.storyboard
  detox/ios/DetoxTester/DetoxTesterApp/ActionsMenuViewController.swift
Owners: @asafkorem, @d4vidi

wip
  detox/ios/DetoxTester.xcworkspace/contents.xcworkspacedata
  detox/ios/DetoxWhiteBoxHandler/DetoxWhiteBoxHandler.xcodeproj/project.pbxproj
  detox/ios/DetoxWhiteBoxHandler/DetoxWhiteBoxHandler/DetoxWhiteBoxHandler.h
  detox/ios/DetoxWhiteBoxHandler/DetoxWhiteBoxHandler/WhiteBoxMessage.swift
  detox/ios/DetoxWhiteBoxHandler/DetoxWhiteBoxHandlerTests/DetoxWhiteBoxHandlerTests.swift
  detox/src/devices/common/drivers/ios/tools/AppleSimUtils.js
Owners: @asafkorem, @d4vidi, @noomorph

wip
  detox/ios/DetoxTester/DetoxTester/Tester/DetoxTester.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/AppClientMessageSenderProtocol.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/DetoxServerMessageSenderProtocol.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Utils/Web Socket Server/WebSocketServer.swift
  detox/ios/DetoxTester/DetoxTesterApp.xcodeproj/project.pbxproj
Owners: @asafkorem

wip
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Utils/WaitUntilDone.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Utils/XCTestCase+wait.swift
Owners: @asafkorem

wip
  detox/ios/Detox.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/InvokeHandler.swift
  detox/ios/DetoxTester/DetoxTester/Tester/DetoxTester.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+WhiteBoxExecutor.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+handleInvoke.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor+Message.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor+Response.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxHandler.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Utils/Web Socket/WebSocket.swift
  detox/ios/DetoxTester/DetoxTesterApp.xcodeproj/project.pbxproj
Owners: @asafkorem

WIP
  detox/ios/DetoxTester/DetoxTester/ActionDelegateTests.swift
  detox/ios/DetoxTester/DetoxTester/DTXTestCase.h
  detox/ios/DetoxTester/DetoxTester/DTXTestCase.m
  detox/ios/DetoxTester/DetoxTester/DetoxTester-Bridging-Header.h
  detox/ios/DetoxTester/DetoxTesterApp.xcodeproj/project.pbxproj
Owners: @asafkorem

fix require
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
Owners: @d4vidi, @noomorph

WIP GREAT
  detox/ios/DetoxTester/DetoxTester/ActionDelegate.swift
  detox/ios/DetoxTester/DetoxTester/ActionDelegateTests.swift
  detox/ios/DetoxTester/DetoxTester/XCTestCase+wait.swift
  detox/ios/DetoxTester/DetoxTester/XCUIElement+longPress.swift
  detox/ios/DetoxTester/DetoxTesterApp.xcodeproj/project.pbxproj
  detox/ios/DetoxTester/DetoxTesterApp/Actions Screens/Long Press and Drag/LongPressAndDragViewController.swift
Owners: @asafkorem

wip
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor+Message.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Utils/Web Socket Server/WebSocketServer.swift
  detox/ios/DetoxTester/DetoxTesterApp.xcodeproj/project.pbxproj
Owners: @asafkorem

LONG PRESS AND FUCKING DRAG
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/Action.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/ActionType.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/InvokeHandler.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/InvokeHandlerSpec.swift
  detox/ios/DetoxTester/DetoxTester/ActionDelegate.swift
  detox/ios/DetoxTester/DetoxTester/ActionDelegateTests.swift
  detox/ios/DetoxTester/DetoxTester/ActionSpeed+XCUIGestureVelocity.swift
  detox/ios/DetoxTester/DetoxTester/XCUIElement+longPress.swift
  detox/ios/DetoxTester/DetoxTester/XCUIElement+longPressAndDrag.swift
  detox/ios/DetoxTester/DetoxTesterApp.xcodeproj/project.pbxproj
  detox/ios/DetoxTester/DetoxTesterApp/Actions Screens/Long Press and Drag/LongPressAndDragScreen.storyboard
  detox/ios/DetoxTester/DetoxTesterApp/Actions Screens/Long Press and Drag/LongPressAndDragViewController.swift
  detox/ios/DetoxTester/DetoxTesterApp/Actions Screens/Long Press/LongPressViewController.swift
  detox/ios/DetoxTester/DetoxTesterApp/Actions Screens/Tap/TapScreen.storyboard
  detox/ios/DetoxTester/DetoxTesterApp/Actions Screens/Tap/TapViewController.swift
  detox/ios/DetoxTester/DetoxTesterApp/ActionsMenuViewController.swift
  detox/ios/DetoxTester/DetoxTesterApp/Utils/CGPoint+Operators.swift
Owners: @asafkorem, @d4vidi

wip
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/AnyCodable.swift
  detox/ios/DetoxTester/DetoxTester/ActionDelegate.swift
  detox/ios/DetoxTester/DetoxTester/CGPoint+Extensions.swift
  detox/ios/DetoxTester/DetoxTester/CGRect+Extensions.swift
  detox/ios/DetoxTester/DetoxTester/ElementAttributes.swift
  detox/ios/DetoxTester/DetoxTester/ElementType+Extensions.swift
  detox/ios/DetoxTester/DetoxTester/Encodable+Extensions.swift
  detox/ios/DetoxTester/DetoxTester/GetAttributes.swift
  detox/ios/DetoxTester/DetoxTester/UIAccessibilityTraits+asStrings.swift
  detox/ios/DetoxTester/DetoxTester/XCUIElement+getAttributes.swift
  detox/ios/DetoxTester/DetoxTesterApp.xcodeproj/project.pbxproj
  detox/ios/DetoxTester/DetoxTesterApp/Actions Screens/Get Accessibility Attributes/AccessibilityScreen.storyboard
Owners: @asafkorem, @d4vidi

wip
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/ElementPattern.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/MessagePredicate.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/MessagePredicateType.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/InvokeHandlerSpec.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/MessageBuilder.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/MessageSpec.swift
  detox/ios/DetoxTester/DetoxTester/Expectations/ExpectationDelegate.swift
  detox/ios/DetoxTester/DetoxTester/Matchers/ElementMatcher.swift
  detox/ios/DetoxTester/DetoxTester/Matchers/XCUIElement/XCUIElement+compare.swift
  detox/ios/DetoxTester/DetoxTester/Matchers/XCUIElement/XCUIElement+query.swift
  detox/ios/DetoxTester/DetoxTester/Matchers/XCUIElementQuery/XCUIElementQuery+matching.swift
  detox/ios/DetoxTester/DetoxTester/Matchers/XCUIElementQuery/XCUIElementQuery+run.swift
  detox/ios/DetoxTester/DetoxTester/Unit Tests/Matchers/ElementMatchersTests.swift
  detox/ios/DetoxTester/DetoxTesterApp.xcodeproj/project.pbxproj
  detox/ios/DetoxTester/DetoxTesterApp/Matchers Screens/ElementsScreen.storyboard
Owners: @asafkorem, @d4vidi

great wip
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/ActionDelegateProtocol.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/InvokeHandler.swift
  detox/ios/DetoxTester/DetoxTester/ActionDelegate.swift
  detox/ios/DetoxTester/DetoxTester/ElementMatcher.swift
  detox/ios/DetoxTester/DetoxTester/Executor+handleInvoke.swift
  detox/ios/DetoxTester/DetoxTester/ExpectationDelegate.swift
  detox/ios/DetoxTester/DetoxTester/LongPressAndDragTests.swift
  detox/ios/DetoxTester/DetoxTester/LongPressTests.swift
  detox/ios/DetoxTester/DetoxTester/ScreenshotTests.swift
  detox/ios/DetoxTester/DetoxTester/SwipeTests.swift
  detox/ios/DetoxTester/DetoxTester/TapTests.swift
  detox/ios/DetoxTester/DetoxTester/XCUIElement+coordinate.swift
  detox/ios/DetoxTester/DetoxTester/XCUIElement+longPress.swift
  detox/ios/DetoxTester/DetoxTester/XCUIElement+swipe.swift
  detox/ios/DetoxTester/DetoxTester/XCUIElement+takeScreenshot.swift
  detox/ios/DetoxTester/DetoxTesterApp.xcodeproj/project.pbxproj
  detox/ios/DetoxTester/DetoxTesterApp/Actions Screens/Long Press and Drag/LongPressAndDragViewController.swift
  detox/ios/DetoxTester/DetoxTesterApp/Actions Screens/Swipe/SwipeScreen.storyboard
  detox/ios/DetoxTester/DetoxTesterApp/Actions Screens/Swipe/SwipeViewController.swift
  detox/ios/DetoxTester/DetoxTesterApp/ActionsMenuViewController.swift
Owners: @asafkorem, @d4vidi

WIP
  detox/ios/DetoxTester/DetoxTester/Tester/DetoxTester.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/AppHandlerProtocol.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WebSocketReceiveActionType+isWhiteBoxAction.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxHandler.swift
  detox/ios/DetoxTester/DetoxTesterApp.xcodeproj/project.pbxproj
Owners: @asafkorem

wip
  detox/src/devices/common/drivers/ios/tools/AppleSimUtils.js
Owners: @d4vidi, @noomorph

more code
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/ActionDelegateProtocol.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/AnyCodable.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/InvokeHandler.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/FakeActionDelegate.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/InvokeHandlerSpec.swift
  detox/ios/DetoxTester/DetoxTester/ActionDelegate.swift
  detox/ios/DetoxTester/DetoxTester/ScreenshotTests.swift
  detox/ios/DetoxTester/DetoxTester/XCUIApplication+takeScreenshot.swift
  detox/ios/DetoxTester/DetoxTester/XCUIElement+takeScreenshot.swift
  detox/ios/DetoxTester/DetoxTesterApp.xcodeproj/project.pbxproj
  detox/ios/DetoxTester/DetoxTesterApp/ActionsMenuViewController.swift
Owners: @asafkorem

spaces
  detox/ios/DetoxTester/DetoxTester/Utils/Extensions/ElementType+Extensions.swift
Owners: @asafkorem

w.i.p
  detox/ios/Detox.xcodeproj/project.pbxproj
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor.swift
  detox/ios/DetoxTester/DetoxTesterApp.xcodeproj/project.pbxproj
Owners: @asafkorem

wip
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/AnyCodable.swift
  detox/ios/DetoxTester/DetoxTester/ActionDelegate.swift
  detox/ios/DetoxTester/DetoxTester/ElementAttributes.swift
  detox/ios/DetoxTester/DetoxTester/GetAttributes.swift
  detox/ios/DetoxTester/DetoxTester/GetAttributesTests.swift
  detox/ios/DetoxTester/DetoxTester/KeyboardTests.swift
  detox/ios/DetoxTester/DetoxTester/TapTests.swift
  detox/ios/DetoxTester/DetoxTester/XCUIElement+Keyboard.swift
  detox/ios/DetoxTester/DetoxTester/XCUIElement+coordinate.swift
  detox/ios/DetoxTester/DetoxTester/XCUIElement+getAttributes.swift
  detox/ios/DetoxTester/DetoxTester/XCUIElement+scroll.swift
  detox/ios/DetoxTester/DetoxTesterApp.xcodeproj/project.pbxproj
  detox/ios/DetoxTester/DetoxTesterApp/Actions Screens/Get Accessibility Attributes/AccessibilityScreen.storyboard
  detox/ios/DetoxTester/DetoxTesterApp/Actions Screens/Keyboard/KeyboardScreen.storyboard
  detox/ios/DetoxTester/DetoxTesterApp/Actions Screens/Keyboard/KeyboardViewController.swift
  detox/ios/DetoxTester/DetoxTesterApp/Actions Screens/Scroll/ScrollScreen.storyboard
  detox/ios/DetoxTester/DetoxTesterApp/Actions Screens/Scroll/ScrollViewController.swift
  detox/ios/DetoxTester/DetoxTesterApp/ActionsMenuViewController.swift
Owners: @asafkorem, @d4vidi

establish server with port 8797
  detox/ios/DetoxTester/DetoxTester/Tester/DetoxTester.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/DetoxServerMessageSenderProtocol.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Utils/Web Socket Server/WebSocketServer.swift
  detox/src/devices/runtime/RuntimeDevice.js
  detox/src/server/DetoxConnection.js
  detox/src/server/handlers/AnonymousConnectionHandler.js
Owners: @asafkorem, @d4vidi, @noomorph

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem
