Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem

Upgraded detox actions
  .github/workflows/rapid-test.yml
  .github/workflows/website.yml
Owners: @d4vidi

fix(ios): JS crash handling on new-arch.
  detox/ios/Detox/Utilities/DetoxCrashHandler.mm
Owners: @asafkorem

test(ios): crash handling.
  detox/test/e2e/19.crash-handling.test.js
Owners: @d4vidi, @noomorph

chore(.github): update `upload-artifact` on actions.
  .github/workflows/rapid-test.yml
  .github/workflows/website.yml
Owners: @d4vidi

test(ios): mark flaky test.
  detox/test/e2e/19.crash-handling.test.js
Owners: @d4vidi, @noomorph

chore: revent pipeline_common changes (comments).
  .buildkite/pipeline_common.sh
Owners: @d4vidi, @noomorph

test: replace jestExpect with expectToThrow
  detox/test/e2e/29.webview.test.js
Owners: @d4vidi, @noomorph

test(e2e): add automatic iOS steps tracking
  detox/test/e2e/jest.config.js
  detox/test/package.json
Owners: @d4vidi, @noomorph

fix(ios): do not dispatch-async on mainthread if already running on.
  detox/ios/Detox/Utilities/DetoxCrashHandler.mm
Owners: @asafkorem

test(ios new arch): update snapshots.
  detox/test/e2e/29.webview.test.js
  detox/test/e2e/assets/replace-text-in-cross-origin-frame.ios.new-arch.png
Owners: @d4vidi, @noomorph

Publish 20.34.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

test: remove obsolete to-do comment.
  detox/test/e2e/17.datePicker.test.js
Owners: @d4vidi, @noomorph

test: merge overlapping tests.
  detox/test/e2e/09.stress-timeouts.test.js
Owners: @d4vidi, @noomorph

docs(website): update with new-arch support.
  docs/introduction/partials/_getting-started-rn.md
Owners: @d4vidi

docs(README): update with new-arch support.
  README.md
Owners: @d4vidi

test(ios): enable native-animation test.
  detox/test/e2e/12.animations.test.js
Owners: @d4vidi, @noomorph

test(e2e): add automatic iOS steps tracking
  detox/test/e2e/jest.config.js
  detox/test/package.json
Owners: @d4vidi, @noomorph

Fixed #4708 Added missing proguard rule
  detox/android/detox/proguard-rules-app.pro
Owners: @d4vidi

Publish 20.34.1 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Publish docs version 20.x
  website/versioned_docs/version-20.x/introduction/partials/_getting-started-rn.md
Owners: @d4vidi

test(crash handling): remove unused expect.
  detox/test/e2e/19.crash-handling.test.js
Owners: @d4vidi, @noomorph

feat(ios): support new sync resource (animation updates).
  detox/src/client/actions/SyncStatusSchema.json
  detox/src/client/actions/formatters/SyncStatusFormatter.js
  detox/src/client/actions/formatters/SyncStatusFormatter.test.js
  detox/src/client/actions/formatters/__snapshots__/SyncStatusFormatter.test.js.snap
  detox/src/client/actions/formatters/sync-resources/AnimationUpdateResourceFormatter.js
Owners: @d4vidi, @noomorph

test: enable network test.
  detox/test/e2e/14.network.test.js
Owners: @d4vidi, @noomorph

chore: make eslint happy
  detox/src/client/actions/formatters/SyncStatusFormatter.js
Owners: @d4vidi, @noomorph

feat: update animation updates sync formatter.
  detox/src/client/actions/formatters/__snapshots__/SyncStatusFormatter.test.js.snap
  detox/src/client/actions/formatters/sync-resources/AnimationUpdateResourceFormatter.js
Owners: @d4vidi, @noomorph

IGNORE: depends on #4716.
  detox/src/client/actions/SyncStatusSchema.json
  detox/src/client/actions/formatters/SyncStatusFormatter.js
  detox/src/client/actions/formatters/SyncStatusFormatter.test.js
  detox/src/client/actions/formatters/__snapshots__/SyncStatusFormatter.test.js.snap
  detox/src/client/actions/formatters/sync-resources/AnimationUpdateResourceFormatter.js
  detox/test/e2e/14.network.test.js
Owners: @d4vidi, @noomorph

fix(ios, new-arch): JS animation sync resource.
  detox/src/client/actions/SyncStatusSchema.json
  detox/src/client/actions/formatters/SyncStatusFormatter.test.js
  detox/src/client/actions/formatters/__snapshots__/SyncStatusFormatter.test.js.snap
  detox/src/client/actions/formatters/sync-resources/JavaScriptTimersFormatter.js
Owners: @d4vidi, @noomorph

test: enable skipped tests (after fixes).
  detox/test/e2e/12.animations.test.js
Owners: @d4vidi, @noomorph

fix(ios, new-arch): JS animation sync resource.
  detox/src/client/actions/SyncStatusSchema.json
  detox/src/client/actions/formatters/SyncStatusFormatter.test.js
  detox/src/client/actions/formatters/__snapshots__/SyncStatusFormatter.test.js.snap
  detox/src/client/actions/formatters/sync-resources/JavaScriptTimersFormatter.js
Owners: @d4vidi, @noomorph

test: enable skipped tests (after fixes).
  detox/test/e2e/12.animations.test.js
  detox/test/e2e/14.network.test.js
Owners: @d4vidi, @noomorph

feat: update animation updates sync formatter.
  detox/src/client/actions/formatters/__snapshots__/SyncStatusFormatter.test.js.snap
  detox/src/client/actions/formatters/sync-resources/AnimationUpdateResourceFormatter.js
Owners: @d4vidi, @noomorph

feat(ios): support new sync resource (animation updates).
  detox/src/client/actions/SyncStatusSchema.json
  detox/src/client/actions/formatters/SyncStatusFormatter.js
  detox/src/client/actions/formatters/SyncStatusFormatter.test.js
  detox/src/client/actions/formatters/__snapshots__/SyncStatusFormatter.test.js.snap
  detox/src/client/actions/formatters/sync-resources/AnimationUpdateResourceFormatter.js
Owners: @d4vidi, @noomorph

fix(ios, old-arch): add backward-comp. for JS timers sync.
  detox/src/client/actions/SyncStatusSchema.json
  detox/src/client/actions/formatters/SyncStatusFormatter.test.js
  detox/src/client/actions/formatters/__snapshots__/SyncStatusFormatter.test.js.snap
  detox/src/client/actions/formatters/sync-resources/JavaScriptTimersFormatter.js
Owners: @d4vidi, @noomorph

Publish 20.34.2 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

fix(ios): optimize performance by removing excessive logging.
  .gitmodules
Owners: @d4vidi

Publish 20.34.3 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Use first user account on attached Android devices
  detox/src/devices/common/drivers/android/exec/ADB.js
Owners: @d4vidi, @noomorph

wip
  detox/src/devices/allocation/drivers/android/genycloud/services/GenyInstanceLifecycleService.js
  detox/src/devices/runtime/drivers/android/genycloud/GenyCloudADB.js
  detox/src/devices/runtime/drivers/android/genycloud/GenyCloudDriver.js
  detox/src/devices/runtime/factories/android.js
  detox/src/devices/runtime/factories/base.js
  detox/src/utils/retry.js
Owners: @d4vidi, @noomorph

wip
  detox/src/devices/allocation/drivers/android/genycloud/services/GenyInstanceLifecycleService.js
  detox/src/devices/runtime/drivers/android/genycloud/GenyCloudADB.js
  detox/src/devices/runtime/drivers/android/genycloud/GenyCloudDriver.js
  detox/src/devices/runtime/factories/android.js
  detox/src/devices/runtime/factories/base.js
  detox/src/utils/retry.js
Owners: @d4vidi, @noomorph

patch(genycloud): Alleviate failures due to network hiccups
  detox/src/devices/common/drivers/android/exec/ADB.js
  detox/src/devices/common/drivers/android/exec/ADB.test.js
  detox/src/devices/runtime/drivers/android/genycloud/GenyCloudDriver.js
  detox/src/devices/runtime/drivers/android/genycloud/GenyCloudDriver.test.js
  detox/src/utils/childProcess/spawn.js
  detox/src/utils/childProcess/spawn.test.js
Owners: @d4vidi, @noomorph
