Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem

fix: revert xcode changes
  detox/test/ios/example.xcodeproj/project.pbxproj
  examples/demo-react-native/ios/example.xcodeproj/project.pbxproj
Owners: @asafkorem

test: fix some unit tests
  detox/src/devices/common/drivers/android/exec/BinaryExec.js
  detox/src/utils/childProcess/spawn.js
  detox/src/utils/childProcess/spawn.test.js
Owners: @d4vidi, @noomorph

WIP
  detox/android/detox/src/full/java/com/wix/detox/reactnative/ReactNativeExtension.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/ReactNativeIdlingResources.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/timers/DelegatedIdleInterrogationStrategy.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/uimodule/UIModuleIdlingResource.kt
  detox/android/detox/src/testFull/java/com/wix/detox/reactnative/idlingresources/timers/DelegatedIdleInterrogationStrategySpec.kt
  detox/test/android/settings.gradle
  detox/test/e2e/01.sanity.test.js
Owners: @d4vidi, @jonathanmos, @noomorph

WIP
  detox/android/detox/src/full/java/com/wix/detox/reactnative/ReactNativeExtension.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/uimodule/UIModuleIdlingResource.kt
  detox/test/android/app/src/main/java/com/example/MainApplication.kt
  detox/test/android/settings.gradle
Owners: @d4vidi, @jonathanmos

Implemented ui idling resource
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/uimodule/RN66Workaround.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/uimodule/UIModuleIdlingResource.kt
Owners: @d4vidi, @jonathanmos

Reverted sanity test
  detox/test/e2e/01.sanity.test.js
Owners: @d4vidi, @noomorph

Implemented networking idling resource
  detox/android/detox/src/full/java/com/wix/detox/reactnative/ReactNativeIdlingResources.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/NetworkIdlingResource.java
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/NetworkingModuleReflected.kt
  detox/test/android/settings.gradle
  detox/test/e2e/14.network.test.js
  detox/test/src/Screens/NetworkScreen.js
Owners: @d4vidi, @jonathanmos, @noomorph

Fixed animations and timers
  detox/android/detox/src/full/java/com/wix/detox/reactnative/ReactNativeIdlingResources.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/AnimatedModuleIdlingResource.java
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/timers/DelegatedIdleInterrogationStrategy.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/timers/TimersIdlingResource.kt
  detox/test/e2e/12.animations.test.js
Owners: @d4vidi, @jonathanmos, @noomorph

temp: migrate test-app `ios` files to `ios-old`.
  detox/test/ios-old/.xcode.env
  detox/test/ios-old/Podfile
  detox/test/ios-old/example.xcodeproj/project.pbxproj
  detox/test/ios-old/example.xcodeproj/xcshareddata/xcschemes/example.xcscheme
  detox/test/ios-old/example.xcodeproj/xcshareddata/xcschemes/example_ci.xcscheme
  detox/test/ios-old/example/AppDelegate.h
  detox/test/ios-old/example/AppDelegate.m
  detox/test/ios-old/example/Base.lproj/LaunchScreen.xib
  detox/test/ios-old/example/CustomKeyboardViewController.h
  detox/test/ios-old/example/CustomKeyboardViewController.m
  detox/test/ios-old/example/Images.xcassets/AppIcon.appiconset/Contents.json
  detox/test/ios-old/example/Info.plist
  detox/test/ios-old/example/NativeModule.h
  detox/test/ios-old/example/NativeModule.m
  detox/test/ios-old/example/PrivacyInfo.xcprivacy
  detox/test/ios-old/example/example.entitlements
  detox/test/ios-old/example/main.m
  detox/test/ios-old/exampleUITests/Info.plist
  detox/test/ios-old/exampleUITests/exampleUITests.m
  detox/test/ios-old/example_ci.entitlements
  detox/test/ios/example.xcworkspace/contents.xcworkspacedata
  detox/test/ios/example.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
Owners: @d4vidi, @asafkorem

test(app): create new iOS project from template.
  detox/test/ios/.xcode.env
  detox/test/ios/Podfile
  detox/test/ios/example.xcodeproj/project.pbxproj
  detox/test/ios/example.xcodeproj/xcshareddata/xcschemes/example.xcscheme
  detox/test/ios/example/AppDelegate.h
  detox/test/ios/example/AppDelegate.mm
  detox/test/ios/example/Images.xcassets/AppIcon.appiconset/Contents.json
  detox/test/ios/example/Images.xcassets/Contents.json
  detox/test/ios/example/Info.plist
  detox/test/ios/example/LaunchScreen.storyboard
  detox/test/ios/example/PrivacyInfo.xcprivacy
  detox/test/ios/example/main.m
  detox/test/ios/exampleTests/Info.plist
  detox/test/ios/exampleTests/exampleTests.m
Owners: @asafkorem, @d4vidi

test(ios): remove example native tests.
  detox/test/ios/example.xcodeproj/project.pbxproj
  detox/test/ios/exampleTests/Info.plist
  detox/test/ios/exampleTests/exampleTests.m
Owners: @asafkorem

chore(ios): update git to ignore generated files.
  .gitignore
Owners: @d4vidi

test(ios): update app's bundle-id and build commands.
  detox/test/e2e/detox.config.js
  detox/test/ios/example.xcodeproj/project.pbxproj
  detox/test/ios/example/Info.plist
Owners: @d4vidi, @noomorph, @asafkorem

test(ios): link Detox framework with project.
  detox/test/ios/example.xcodeproj/project.pbxproj
Owners: @asafkorem

test(ios): update Podfile with dependencies.
  detox/test/ios/Podfile
Owners: @asafkorem

test(ios): update `AppDelegate.mm` with deps.
  detox/test/ios/example/AppDelegate.mm
Owners: @asafkorem

test(ios): add `NativeModule`.
  detox/test/ios/ReactModules/NativeModule.h
  detox/test/ios/ReactModules/NativeModule.mm
  detox/test/ios/example.xcodeproj/project.pbxproj
Owners: @asafkorem

test(ios): refactor legacy `NativeModule`.
  detox/test/ios/ReactModules/NativeModule.mm
Owners: @asafkorem

test(ios): add background modes capabilities.
  detox/test/ios/example.xcodeproj/project.pbxproj
  detox/test/ios/example/Info.plist
  detox/test/ios/example/example.entitlements
Owners: @asafkorem, @d4vidi

test(ios): enable upside-down rotation.
  detox/test/ios/example/Info.plist
Owners: @asafkorem

test(ios): update `Info.plist` with missing keys.
  detox/test/ios/example/Info.plist
Owners: @asafkorem

test(ios): copy command line arguments from legacy ios project.
  detox/test/ios/example.xcodeproj/xcshareddata/xcschemes/example.xcscheme
Owners: @asafkorem

feat(iOS): support new `RCTScrollViewComponentView`.
  detox/ios/Detox/Invocation/Element.swift
Owners: @asafkorem

feat(ios): support new-arch's `RCTParagraphComponentView`.
  detox/ios/Detox/Invocation/Predicate.swift
  detox/ios/Detox/Utilities/NSObject+DontCrash.m
Owners: @asafkorem

feat(ios): support React Native new arch app-reloading.
  detox/ios/Detox/Utilities/ReactNativeSupport/ReactNativeSupport.m
Owners: @asafkorem

test(ios): add example-ci scheme (no Detox linkage).
  detox/test/e2e/detox.config.js
  detox/test/ios/example.xcodeproj/project.pbxproj
Owners: @d4vidi, @noomorph, @asafkorem

test(ios): refactor Podfile.
  detox/test/ios/Podfile
Owners: @asafkorem

chore(ios): add manual test env vars for debugging.
  detox/test/ios/example.xcodeproj/xcshareddata/xcschemes/example.xcscheme
Owners: @asafkorem

test(ios): fix test-app Podfile.
  detox/test/ios/Podfile
Owners: @asafkorem

test(ios): fix test-app Podfile.
  detox/test/ios/Podfile
  detox/test/ios/example.xcodeproj/project.pbxproj
Owners: @asafkorem

test(ios): update binary path to the non-detox-linked app (example-ci).
  detox/test/e2e/detox.config.js
Owners: @d4vidi, @noomorph

Fixed animations and timers
  detox/test/e2e/12.animations.test.js
Owners: @d4vidi, @noomorph

fix(ios): temporary remove text fix for predicate.
  detox/ios/Detox/Invocation/Predicate.swift
  detox/ios/Detox/Utilities/NSObject+DontCrash.m
Owners: @asafkorem

test: remove 'beforeAll' from Copilot test suites as it is not supported by the new Copilot version"
  detox/test/e2e/copilot/01.copilot.sanity.test.js
  detox/test/e2e/copilot/02.copilot.actions.test.js
  detox/test/e2e/copilot/03.copilot.shape-match.test.js
  detox/test/e2e/copilot/04.webview.test.js
  detox/test/e2e/copilot/06.waitfor.test.js
  detox/test/e2e/copilot/07.copilot.assertions.test.js
  detox/test/e2e/copilot/09.copilot.datepicker.test.js
  detox/test/e2e/copilot/10.copilot.visibility.test.js
Owners: @d4vidi, @noomorph

chore: adapt the DetoxCopilot facade to align with the new Copilot version
  detox/src/copilot/DetoxCopilot.js
  detox/src/copilot/DetoxCopilot.test.js
Owners: @d4vidi, @noomorph

fix: polyfill spawn function
  detox/package.json
  detox/src/utils/childProcess/spawn.js
  detox/src/utils/childProcess/spawn.test.js
Owners: @d4vidi, @noomorph

chore: cache and dependency changes
  detox/package.json
  detox/test/detox_copilot_cache.json
Owners: @d4vidi

chore: update DetoxWorker due to the new Copilot version
  detox/src/DetoxWorker.js
  detox/src/DetoxWorker.test.js
Owners: @d4vidi, @noomorph

chore: update describeForCopilotEnv according to the new Copilot version
  detox/test/e2e/utils/custom-describes.js
Owners: @d4vidi, @noomorph

First iteration of idling resources refactoring
  detox/android/detox/src/full/java/com/wix/detox/espresso/EspressoDetox.java
  detox/android/detox/src/full/java/com/wix/detox/reactnative/ReactNativeExtension.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/ReactNativeIdlingResources.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/AnimatedModuleIdlingResource.java
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/BridgeIdlingResource.java
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/DetoxIdlingResource.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/NetworkIdlingResource.java
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/ReactNativeIdlingResources.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/animations/AnimatedModuleIdlingResource.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/bridge/BridgeIdlingResource.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/looper/MQThreadsReflector.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/network/NetworkIdlingResource.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/network/NetworkingModuleReflected.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/storage/AsyncStorageIdlingResource.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/storage/SerialExecutorReflected.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/timers/DelegatedIdleInterrogationStrategy.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/timers/IdleInterrogationStrategy.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/timers/TimersIdlingResource.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/uimodule/UIModuleIdlingResource.kt
  detox/android/detox/src/testFull/java/com/wix/detox/reactnative/idlingresources/AsyncStorageIdlingResourceSpec.kt
  detox/android/detox/src/testFull/java/com/wix/detox/reactnative/idlingresources/NetworkIdlingResourcesTest.kt
  detox/android/detox/src/testFull/java/com/wix/detox/reactnative/idlingresources/SerialExecutorReflectedSpec.kt
Owners: @d4vidi, @jonathanmos
