Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem

wip
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/BridgeIdlingResource.java
Owners: @d4vidi, @jonathanmos

wip
  detox/android/detox/src/full/java/com/wix/detox/reactnative/ReactNativeIdlingResources.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/BridgeIdlingResource.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/BridgeIdlingResourceLegacy.java
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/BridgeIdlingResourceRN71.java
Owners: @d4vidi, @jonathanmos

fix(iOS): adapt to new nothing-to-terminate error.
  detox/src/devices/common/drivers/ios/tools/AppleSimUtils.js
Owners: @d4vidi, @noomorph

fix(iOS): adapt to new nothing-to-terminate error. (#4171)
  detox/src/devices/common/drivers/ios/tools/AppleSimUtils.js
Owners: @d4vidi, @noomorph

fix(iOS): fix double-expectation predicate block.
  detox/ios/Detox/Invocation/Expectation.swift
Owners: @asafkorem

fix(iOS): avoid reporting set-orientation done too early.
  detox/ios/Detox/DetoxManager.swift
Owners: @asafkorem

fix(iOS): resolve flaky set-orientation on iOS ≥ 16. (#4172)
  detox/ios/Detox/DetoxManager.swift
  detox/ios/Detox/Invocation/Expectation.swift
Owners: @asafkorem

Publish 20.11.4 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

wip: finish genymotion allocation
  detox/src/devices/allocation/DeviceAllocator.js
  detox/src/devices/allocation/drivers/android/emulator/EmulatorAllocDriver.js
  detox/src/devices/allocation/drivers/android/genycloud/GenyAllocDriver.js
  detox/src/devices/allocation/drivers/android/genycloud/GenyAllocDriver.test.js
  detox/src/devices/allocation/drivers/android/genycloud/GenyDeviceRegistryFactory.js
  detox/src/devices/allocation/drivers/android/genycloud/GenyDeviceRegistryFactory.test.js
  detox/src/devices/allocation/drivers/android/genycloud/GenyInstanceAllocationHelper.js
  detox/src/devices/allocation/drivers/android/genycloud/GenyInstanceAllocationHelper.test.js
  detox/src/devices/allocation/drivers/android/genycloud/GenyInstanceLauncher.js
  detox/src/devices/allocation/drivers/android/genycloud/GenyInstanceLauncher.test.js
  detox/src/devices/allocation/drivers/android/genycloud/GenyRegistry.js
  detox/src/devices/allocation/drivers/android/genycloud/services/GenyInstanceLookupService.js
  detox/src/devices/allocation/drivers/android/genycloud/services/GenyInstanceLookupService.test.js
  detox/src/devices/allocation/drivers/android/genycloud/services/GenyRecipesService.js
  detox/src/devices/allocation/drivers/ios/SimulatorAllocDriver.js
  detox/src/devices/allocation/drivers/ios/SimulatorLauncher.js
  detox/src/devices/allocation/factories/android.js
  detox/src/realms/DetoxPrimaryContext.js
  detox/src/servicelocator/android/genycloudServiceLocator.js
Owners: @d4vidi, @noomorph

wip: finish other drivers
  detox/local-cli/reset-lock-file.js
  detox/local-cli/test.test.js
  detox/src/devices/DeviceRegistry.js
  detox/src/devices/allocation/DeviceAllocator.js
  detox/src/devices/allocation/DeviceList.js
  detox/src/devices/allocation/DeviceList.test.js
  detox/src/devices/allocation/DeviceRegistry.js
  detox/src/devices/allocation/DeviceRegistry.test.js
  detox/src/devices/allocation/drivers/AllocationDriverBase.js
  detox/src/devices/allocation/drivers/android/FreeDeviceFinder.js
  detox/src/devices/allocation/drivers/android/FreeDeviceFinder.test.js
  detox/src/devices/allocation/drivers/android/attached/AttachedAndroidAllocDriver.js
  detox/src/devices/allocation/drivers/android/emulator/EmulatorAllocDriver.js
  detox/src/devices/allocation/drivers/android/emulator/EmulatorAllocationHelper.js
  detox/src/devices/allocation/drivers/android/emulator/EmulatorAllocationHelper.test.js
  detox/src/devices/allocation/drivers/android/emulator/EmulatorLauncher.js
  detox/src/devices/allocation/drivers/android/emulator/FreeEmulatorFinder.js
  detox/src/devices/allocation/drivers/android/emulator/FreePortFinder.js
  detox/src/devices/allocation/drivers/android/emulator/launchEmulatorProcess.js
  detox/src/devices/allocation/drivers/android/genycloud/GenyAllocDriver.js
  detox/src/devices/allocation/drivers/android/genycloud/GenyInstanceLauncher.js
  detox/src/devices/allocation/drivers/android/genycloud/GenyRegistry.js
  detox/src/devices/allocation/drivers/ios/SimulatorAllocDriver.js
  detox/src/devices/allocation/drivers/ios/SimulatorAllocDriver.test.js
  detox/src/devices/allocation/drivers/ios/SimulatorQuery.js
  detox/src/devices/allocation/factories/android.js
  detox/src/devices/common/drivers/DeviceAllocationHelper.js
  detox/src/devices/common/drivers/android/emulator/exec/EmulatorExec.js
  detox/src/devices/common/drivers/android/exec/ADB.js
  detox/src/devices/runtime/drivers/android/AndroidDriver.test.js
  detox/src/realms/DetoxPrimaryContext.js
  detox/src/realms/DetoxPrimaryContext.test.js
  detox/src/servicelocator/android/index.js
  detox/src/servicelocator/ios.js
  detox/src/utils/detectConcurrentDetox.js
  detox/src/utils/environment.js
Owners: @d4vidi, @noomorph

temp: disable buildkite
  .buildkite/jobs/pipeline.android_demo_app_rn_71.yml
  .buildkite/jobs/pipeline.android_rn_70.yml
  .buildkite/jobs/pipeline.android_rn_71.yml
  .buildkite/jobs/pipeline.ios_demo_app_rn_70.yml
  .buildkite/jobs/pipeline.ios_demo_app_rn_71.yml
  .buildkite/jobs/pipeline.ios_rn_70.yml
  .buildkite/jobs/pipeline.ios_rn_71.yml
Owners: @d4vidi

wip: resolve stealing issues
  detox/local-cli/reset-lock-file.js
  detox/src/DetoxWorker.js
  detox/src/artifacts/providers/index.js
  detox/src/devices/allocation/DeviceAllocator.js
  detox/src/devices/allocation/DeviceList.js
  detox/src/devices/allocation/DeviceRegistry.js
  detox/src/devices/allocation/drivers/android/FreeDeviceFinder.js
  detox/src/devices/allocation/drivers/android/FreeDeviceFinder.test.js
  detox/src/devices/allocation/drivers/android/emulator/EmulatorAllocDriver.js
  detox/src/devices/allocation/drivers/android/emulator/EmulatorAllocDriver.test.js
  detox/src/devices/allocation/drivers/android/genycloud/GenyAllocDriver.test.js
  detox/src/devices/allocation/drivers/ios/SimulatorAllocDriver.js
  detox/src/devices/allocation/drivers/ios/SimulatorLauncher.js
  detox/src/devices/allocation/factories/android.js
  detox/src/devices/allocation/factories/ios.js
  detox/src/devices/common/drivers/android/emulator/exec/EmulatorExec.js
  detox/src/devices/runtime/factories/android.js
  detox/src/devices/runtime/factories/ios.js
  detox/src/devices/servicelocator/android/emulatorServiceLocator.js
  detox/src/devices/servicelocator/android/genycloudServiceLocator.js
  detox/src/devices/servicelocator/android/index.js
  detox/src/devices/validation/EnvironmentValidatorBase.js
  detox/src/devices/validation/android/GenycloudEnvValidator.js
  detox/src/devices/validation/android/GenycloudEnvValidator.test.js
  detox/src/devices/validation/factories/index.js
  detox/src/devices/validation/ios/IosSimulatorEnvValidator.js
  detox/src/devices/validation/ios/IosSimulatorEnvValidator.test.js
  detox/src/environmentFactory.js
  detox/src/servicelocator/android/index.js
  detox/src/servicelocator/ios.js
  detox/src/utils/environment.js
  detox/test/integration/stub/StubDeviceAllocationDriver.js
  docs/cli/overview.md
  docs/cli/reset-lock-file.md
  docs/config/behavior.mdx
  docs/guide/parallel-test-execution.md
  docs/guide/uninstalling.md
Owners: @d4vidi, @noomorph

wip: fix lint and basic tests
  detox/local-cli/reset-lock-file.js
  detox/package.json
  detox/src/DetoxWorker.test.js
  detox/src/devices/allocation/DeviceAllocator.js
  detox/src/devices/allocation/DeviceList.js
  detox/src/devices/allocation/DeviceRegistry.js
  detox/src/devices/allocation/DeviceRegistry.test.js
  detox/src/devices/allocation/drivers/android/FreeDeviceFinder.test.js
  detox/src/devices/allocation/drivers/android/__mocks__/handles.js
  detox/src/devices/allocation/drivers/android/attached/AttachedAndroidAllocDriver.test.js
  detox/src/devices/allocation/drivers/android/emulator/EmulatorAllocDriver.js
  detox/src/devices/allocation/drivers/android/emulator/EmulatorAllocDriver.test.js
  detox/src/devices/allocation/drivers/android/emulator/EmulatorLauncher.test.js
  detox/src/devices/allocation/drivers/android/emulator/FreeEmulatorFinder.test.js
  detox/src/devices/allocation/drivers/ios/SimulatorAllocDriver.test.js
  detox/src/devices/allocation/drivers/ios/SimulatorLauncher.test.js
  detox/src/devices/allocation/factories/android.js
  detox/src/devices/allocation/factories/ios.js
  detox/src/devices/runtime/drivers/android/AndroidDriver.test.js
  detox/src/devices/validation/android/GenycloudEnvValidator.js
  detox/src/devices/validation/android/GenycloudEnvValidator.test.js
  detox/src/devices/validation/ios/IosSimulatorEnvValidator.test.js
  detox/src/realms/DetoxPrimaryContext.js
  detox/src/realms/DetoxPrimaryContext.test.js
Owners: @d4vidi, @noomorph

wip: fixes
  detox/src/devices/allocation/DeviceAllocator.js
  detox/src/devices/allocation/DeviceRegistry.js
  detox/src/devices/allocation/drivers/android/attached/AttachedAndroidAllocDriver.js
  detox/src/devices/allocation/drivers/android/emulator/EmulatorAllocDriver.js
  detox/src/devices/allocation/drivers/ios/SimulatorAllocDriver.js
  detox/src/devices/allocation/factories/android.js
  detox/src/devices/allocation/factories/ios.js
  detox/src/ipc/IPCClient.js
  detox/src/ipc/IPCServer.js
  detox/src/realms/DetoxContext.js
  detox/src/realms/DetoxPrimaryContext.js
  detox/src/realms/DetoxSecondaryContext.js
  detox/src/utils/PIDService.js
  detox/src/utils/PIDService.test.js
  detox/src/utils/detectConcurrentDetox.js
  detox/src/utils/errorUtils.js
  detox/test/integration/stub/StubCookie.js
  detox/test/integration/stub/StubDeviceAllocationDriver.js
Owners: @d4vidi, @noomorph

wip: fix artifacts issue
  detox/src/DetoxWorker.js
  detox/src/artifacts/ArtifactsManager.js
  detox/src/artifacts/ArtifactsManager.test.js
  detox/src/artifacts/log/ios/SimulatorLogPlugin.test.js
  detox/src/artifacts/templates/plugin/ArtifactPlugin.js
  detox/src/artifacts/templates/plugin/ArtifactPlugin.test.js
  detox/src/devices/allocation/drivers/ios/SimulatorLauncher.js
Owners: @d4vidi, @noomorph

test: stabilize tests
  detox/src/artifacts/ArtifactsManager.test.js
  detox/test/integration/__snapshots__/timeline-artifact.test.js.snap
  detox/test/integration/stub/StubDeviceAllocationDriver.js
Owners: @d4vidi, @noomorph

wip: more fixes
  .buildkite/jobs/pipeline.android_demo_app_rn_71.yml
  .buildkite/jobs/pipeline.android_rn_70.yml
  .buildkite/jobs/pipeline.android_rn_71.yml
  .buildkite/jobs/pipeline.ios_demo_app_rn_70.yml
  .buildkite/jobs/pipeline.ios_demo_app_rn_71.yml
  .buildkite/jobs/pipeline.ios_rn_70.yml
  .buildkite/jobs/pipeline.ios_rn_71.yml
  detox/src/devices/allocation/drivers/android/genycloud/GenyAllocDriver.js
  detox/src/devices/allocation/drivers/android/genycloud/GenyInstanceLauncher.js
  detox/src/devices/allocation/drivers/android/genycloud/services/GenyInstanceLifecycleService.js
  detox/src/devices/allocation/drivers/android/genycloud/services/GenyInstanceLifecycleService.test.js
  detox/src/devices/allocation/drivers/android/genycloud/services/GenyInstanceNaming.js
  detox/src/devices/allocation/drivers/android/genycloud/services/GenyInstanceNaming.test.js
  detox/src/devices/allocation/factories/android.js
  detox/src/devices/cookies/AndroidDeviceCookie.js
  detox/src/devices/cookies/GenycloudEmulatorCookie.js
  detox/src/devices/cookies/IosSimulatorCookie.js
Owners: @d4vidi, @noomorph

chore(android): bump org.json:json (vulnerable version).
  detox/android/detox/build.gradle
Owners: @d4vidi, @jonathanmos

chore(android): bump org.json:json (vulnerable version). (#4174)
  detox/android/detox/build.gradle
Owners: @d4vidi, @jonathanmos

wip: fix genymotion driver
  detox/src/DetoxWorker.js
  detox/src/artifacts/ArtifactsManager.js
  detox/src/artifacts/ArtifactsManager.test.js
  detox/src/devices/allocation/drivers/android/genycloud/GenyAllocDriver.js
  detox/src/devices/allocation/drivers/android/genycloud/GenyRegistry.js
  detox/src/devices/allocation/drivers/android/genycloud/services/dto/GenyInstance.js
  detox/src/devices/allocation/drivers/android/genycloud/services/dto/GenyInstance.test.js
  detox/src/devices/cookies/GenycloudEmulatorCookie.js
  detox/src/devices/runtime/drivers/android/genycloud/GenyCloudDriver.js
  detox/src/devices/runtime/drivers/android/genycloud/GenyCloudDriver.test.js
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
  detox/src/ipc/IPCClient.js
Owners: @d4vidi, @noomorph

fix(iOS): avoid device rotation when unsupported.
  detox/ios/Detox/Actions/UIApplication+DetoxActions.swift
Owners: @asafkorem

Publish 20.11.5-smoke.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

wip: fix emulator allocation
  detox/src/devices/allocation/drivers/android/emulator/EmulatorAllocDriver.js
  detox/src/devices/allocation/factories/android.js
Owners: @d4vidi, @noomorph

revert hotfix
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
Owners: @d4vidi, @noomorph

Publish 20.12.0-smoke.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

refactor(android): slightly refactor DetoxAssertion.java.
  detox/android/detox/src/full/java/com/wix/detox/espresso/DetoxAssertion.java
Owners: @d4vidi, @jonathanmos

refactor(android): pass matcher to `perform()` method.
  detox/android/detox/src/full/java/com/wix/detox/espresso/EspressoDetox.java
  detox/src/android/core/NativeElement.js
  detox/src/android/espressoapi/EspressoDetox.js
  detox/src/android/interactions/native.js
Owners: @d4vidi, @jonathanmos, @noomorph

refactor(android): extract parser from for-loop.
  detox/android/detox/src/full/java/com/wix/invoke/types/Invocation.java
Owners: @d4vidi, @jonathanmos

feat(android): support multiple views actions.
  detox/android/detox/src/full/java/com/wix/detox/espresso/EspressoDetox.java
  detox/android/detox/src/full/java/com/wix/detox/espresso/performer/MultipleViewsActionPerformer.kt
  detox/android/detox/src/full/java/com/wix/detox/espresso/performer/SingleViewActionPerformer.kt
  detox/android/detox/src/full/java/com/wix/detox/espresso/performer/ViewActionPerformer.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/MultipleViewsAction.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/ViewActionWithResult.kt
  detox/android/detox/src/testFull/java/com/wix/detox/espresso/performer/ViewActionPerformerSpec.kt
Owners: @d4vidi, @jonathanmos

remove redundant empty line.
  detox/android/detox/src/main/java/com/wix/detox/espresso/UiControllerSpy.kt
Owners: @d4vidi, @jonathanmos

refactor(android): make variable names more informative.
  detox/src/android/espressoapi/DetoxAssertion.js
Owners: @d4vidi, @noomorph

refactor(android): minor refactoring, code style only.
  detox/android/detox/src/full/java/com/wix/detox/espresso/performer/MultipleViewsActionPerformer.kt
Owners: @d4vidi, @jonathanmos

feat(android): extend `getAttributes()` API to handle multiple elements.
  detox/android/detox/src/full/java/com/wix/detox/espresso/action/GetAttributesAction.kt
  detox/android/detox/src/testFull/java/com/wix/detox/espresso/action/GetAttributesActionTest.kt
  detox/index.d.ts
  detox/src/android/AndroidExpect.test.js
  detox/src/android/core/NativeElement.js
  detox/test/e2e/33.attributes.test.js
  detox/test/types/detox-global-tests.ts
Owners: @d4vidi, @jonathanmos, @noomorph

Publish 20.12.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

refactor: added `setStatusBar` TS declaration
  detox/index.d.ts
Owners: @d4vidi, @noomorph

refactor: changes after review
  detox/index.d.ts
  detox/src/devices/common/drivers/ios/tools/AppleSimUtils.js
  docs/api/device.md
  website/versioned_docs/version-20.x/api/device.md
Owners: @d4vidi, @noomorph

refactor: added missing change
  detox/index.d.ts
Owners: @d4vidi, @noomorph

fix: make lint happy, add missing semicolon.
  detox/src/devices/common/drivers/ios/tools/AppleSimUtils.js
Owners: @d4vidi, @noomorph

refactor: added `setStatusBar` test
  detox/test/types/detox-global-tests.ts
Owners: @d4vidi, @noomorph

refactor: added `operatorName`
  detox/test/types/detox-global-tests.ts
Owners: @d4vidi, @noomorph
