Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

feat(ios): add web-expect and web-action APIs.
  detox/src/ios/web.js
Owners: @d4vidi, @noomorph

refactor(ios, webview): extract WebInteraction.
  detox/ios/Detox.xcodeproj/project.pbxproj
  detox/ios/Detox/Invocation/WKWebView+Utils.swift
  detox/ios/Detox/Invocation/WebAction.swift
  detox/ios/Detox/Invocation/WebActionType.swift
  detox/ios/Detox/Invocation/WebExpectation.swift
  detox/ios/Detox/Invocation/WebExpectationModifier.swift
  detox/ios/Detox/Invocation/WebExpectationType.swift
  detox/ios/Detox/Invocation/WebInteraction.swift
Owners: @asafkorem

test(unit, ios): test web-view apis.
  detox/src/ios/expectTwo.js
  detox/src/ios/expectTwo.test.js
Owners: @d4vidi, @noomorph

docs(webviews): fix redundant empty line.
  docs/api/webviews.md
Owners: @d4vidi

refactor(ios, webview): extract WKWebView utils.
  detox/ios/Detox.xcodeproj/project.pbxproj
  detox/ios/Detox/Invocation/WKWebView+evaluateJSAfterLoading.swift
  detox/ios/Detox/Invocation/WKWebView+findElement.swift
  detox/ios/Detox/Invocation/WebAction.swift
  detox/ios/Detox/Invocation/WebExpectation.swift
  detox/ios/Detox/Invocation/WebInteraction.swift
Owners: @asafkorem

feat(ios): introduce web actions.
  detox/ios/Detox.xcodeproj/project.pbxproj
  detox/ios/Detox/Invocation/InvocationManager.swift
  detox/ios/Detox/Invocation/WebAction.swift
  detox/ios/Detox/Invocation/WebExpectation.swift
  detox/ios/Detox/Invocation/WebJSCodeBuilder.swift
  detox/ios/Detox/Invocation/WebPredicate.swift
  detox/ios/Detox/Invocation/WebPredicateType.swift
  detox/test/e2e/29.webview.test.js
Owners: @asafkorem, @d4vidi, @noomorph

fix(test): export error.
  detox/test/src/Screens/NativeAnimationsScreen.js
Owners: @d4vidi, @noomorph

feat(test): duplicate `WebViewScreen` to `WebViewScreenV2`.
  detox/test/e2e/29.webview.v2.test.js
  detox/test/src/Screens/WebViewScreenV2.js
  detox/test/src/Screens/index.js
  detox/test/src/app.js
Owners: @d4vidi, @noomorph

feat(ios): add `WebExpectation`, route from `InvocationManager`.
  detox/ios/Detox.xcodeproj/project.pbxproj
  detox/ios/Detox/Invocation/InvocationManager.swift
  detox/ios/Detox/Invocation/WebExpectation.swift
Owners: @asafkorem

text(e2e): fix snapshot util.
  detox/test/e2e/utils/snapshot.js
Owners: @d4vidi, @noomorph

refactor(ios): improve web-view action error message.
  detox/ios/Detox/Invocation/WebAction.swift
Owners: @asafkorem

test(e2e, webview): fix tests.
  detox/ios/Detox/Invocation/WebAction.swift
  detox/src/ios/web.js
  detox/test/e2e/29.webview.v2.test.js
Owners: @asafkorem, @d4vidi, @noomorph

docs: make doclint happy.
  docs/api/webviews.md
Owners: @d4vidi

test(e2e, webview): update snapshot.
  detox/ios/Detox.xcodeproj/project.pbxproj
  detox/ios/Detox/Invocation/WKWebView+findView.swift
  detox/test/e2e/assets/scroll-to-view-webview.ios.png
Owners: @asafkorem, @d4vidi

fix(ios, webview): fix return value of action.
  detox/ios/Detox/Invocation/WebCodeBuilder.swift
Owners: @asafkorem

test(e2e): enable all webview tests.
  detox/test/e2e/29.webview.v2.test.js
Owners: @d4vidi, @noomorph

test(e2e): change webview screen.
  detox/test/src/Screens/WebViewScreenV2.js
Owners: @d4vidi, @noomorph

fix(ios): change logging category name.
  detox/ios/Detox/Invocation/WKWebView+evaluateJSAfterLoading.swift
Owners: @asafkorem

test(e2e): remove legacy tests with new version.
  detox/test/e2e/29.webview.test.js
  detox/test/e2e/29.webview.v2.test.js
  detox/test/src/Screens/WebViewScreen.js
  detox/test/src/Screens/WebViewScreenV2.js
  detox/test/src/Screens/index.js
  detox/test/src/app.js
Owners: @d4vidi, @noomorph

test(ios, webview): update snapshot.
  detox/test/e2e/assets/move-cursor-to-end-webview.ios.png
Owners: @d4vidi

test(e2e, webview): fix tests.
  detox/test/e2e/29.webview.v2.test.js
Owners: @d4vidi, @noomorph

fix(ios, webview): improve error message, fix typing.
  detox/ios/Detox/Invocation/WebCodeBuilder+createExpectation.swift
  detox/ios/Detox/Invocation/WebCodeBuilder+createTypeAction.swift
  detox/ios/Detox/Invocation/WebCodeBuilder.swift
  detox/ios/Detox/Invocation/WebExpectation.swift
Owners: @asafkorem

refactor(ios): add cosmetic ELs.
  detox/ios/Detox/Invocation/WebCodeBuilder+createSelector.swift
Owners: @asafkorem

types(webviews): update docs.
  detox/detox.d.ts
Owners: @d4vidi, @noomorph

test(e2e, webviews): add content-editable tests.
  detox/ios/Detox/Invocation/WebCodeBuilder+createMoveCursorToEndAction.swift
  detox/ios/Detox/Invocation/WebCodeBuilder+createTypeAction.swift
  detox/test/e2e/29.webview.test.js
  detox/test/e2e/assets/focus-on-content-editable-webview.ios.png
  detox/test/e2e/assets/move-cursor-to-end-content-editable-webview.ios.png
  detox/test/e2e/assets/scroll-to-view-webview.ios.png
  detox/test/e2e/assets/select-all-text-in-content-editable-webview.ios.png
  detox/test/src/Screens/WebViewScreen.js
Owners: @asafkorem, @d4vidi, @noomorph

feat(webview, ios): support at-index for web-predicates.
  detox/detox.d.ts
  detox/ios/Detox/Invocation/WebAction.swift
  detox/ios/Detox/Invocation/WebCodeBuilder+createSelector.swift
  detox/ios/Detox/Invocation/WebCodeBuilder.swift
  detox/ios/Detox/Invocation/WebExpectation.swift
  detox/ios/Detox/Invocation/WebInteraction.swift
  detox/test/e2e/29.webview.test.js
Owners: @d4vidi, @noomorph, @asafkorem

feat(webviews, ios): support `atIndex` for all matchers.
  detox/detox.d.ts
  detox/ios/Detox/Invocation/WebCodeBuilder+createSelector.swift
Owners: @d4vidi, @noomorph, @asafkorem

test(unit): cover new web-view apis.
  detox/src/ios/expectTwo.test.js
  detox/src/ios/web.js
Owners: @d4vidi, @noomorph

test(unit): add missing unit test for coverage.
  detox/src/ios/expectTwo.test.js
Owners: @d4vidi, @noomorph

feat(webviews, ios): support at-index for web-view matching.
  detox/detox.d.ts
  detox/src/ios/expectTwo.js
  detox/src/ios/expectTwo.test.js
  detox/src/ios/web.js
Owners: @d4vidi, @noomorph

docs(webviews): update with at-index docs.
  docs/api/webviews.md
Owners: @d4vidi

fix(webviews, ios): fix at-index support.
  detox/src/ios/expectTwo.js
  detox/src/ios/expectTwo.test.js
  detox/src/ios/web.js
Owners: @d4vidi, @noomorph

test(webviews, unit): add tests for full coverage.
  detox/src/ios/expectTwo.test.js
  detox/src/ios/expectTwoApiCoverage.test.js
  detox/src/ios/web.js
  detox/src/utils/invocationTraceDescriptions.js
Owners: @d4vidi, @noomorph

test(e2e): improve web-view screen.
  detox/test/src/Screens/WebViewScreen.js
Owners: @d4vidi, @noomorph

feat(android, webview): throw atIndex not supported.
  detox/src/android/AndroidExpect.test.js
  detox/src/android/core/WebElement.js
Owners: @d4vidi, @noomorph

feat(ios, webview): improve support for at-index.
  detox/detox.d.ts
  detox/ios/Detox/Invocation/WKWebView+findView.swift
  detox/ios/Detox/Invocation/WebCodeBuilder+createExpectation.swift
Owners: @d4vidi, @noomorph, @asafkorem

test(e2e, webview): update tests and snapshots.
  detox/test/e2e/29.webview.test.js
  detox/test/e2e/assets/focus-on-content-editable-webview.ios.png
  detox/test/e2e/assets/focus-on-input-webview.ios.png
  detox/test/e2e/assets/move-cursor-to-end-content-editable-webview.ios.png
  detox/test/e2e/assets/move-cursor-to-end-webview.ios.png
  detox/test/e2e/assets/scroll-to-view-webview.ios.png
  detox/test/e2e/assets/select-all-text-in-content-editable-webview.ios.png
  detox/test/e2e/assets/select-all-text-in-webview.ios.png
Owners: @d4vidi, @noomorph

test(e2e, webview): fix tests.
  detox/test/e2e/29.webview.test.js
  detox/test/src/Screens/WebViewScreen.js
Owners: @d4vidi, @noomorph

test(e2e, webviews): update snapshots.
  detox/test/e2e/assets/focus-on-content-editable-webview.ios.png
  detox/test/e2e/assets/focus-on-input-webview.ios.png
  detox/test/e2e/assets/move-cursor-to-end-content-editable-webview.ios.png
  detox/test/e2e/assets/move-cursor-to-end-webview.ios.png
  detox/test/e2e/assets/scroll-to-view-webview.ios.png
  detox/test/e2e/assets/select-all-text-in-content-editable-webview.ios.png
  detox/test/e2e/assets/select-all-text-in-webview.ios.png
Owners: @d4vidi

refactor(ios): remove redundant el.
  detox/test/src/Screens/WebViewScreen.js
Owners: @d4vidi, @noomorph

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem
