Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem

reinstall sass-loader
  website/package.json
Owners: @d4vidi

build(website): migrate to SCSS (#3871)
  website/docusaurus.config.js
  website/package.json
  website/src/components/CustomBanner/StandWithUkraine.js
  website/src/components/CustomBanner/StandWithUkraine.module.scss
  website/src/components/Homepage/Features/Features.js
  website/src/components/Homepage/Features/Features.scss
  website/src/components/Homepage/Features/HomepageFeatures.js
  website/src/components/Homepage/Features/HomepageFeatures.module.scss
  website/src/components/Homepage/Header/HomepageHeader.js
  website/src/components/Homepage/Header/HomepageHeader.module.scss
  website/src/components/Homepage/SubHeader/HomepageSubHeader.js
  website/src/components/Homepage/SubHeader/HomepageSubHeader.module.scss
  website/src/components/Showcase/Card.js
  website/src/components/Showcase/Card.module.scss
  website/src/components/Showcase/Hero.js
  website/src/components/Showcase/Hero.module.scss
  website/src/components/Showcase/Showcase.js
  website/src/components/Showcase/Showcase.module.scss
  website/src/css/custom.scss
Owners: @d4vidi, @noomorph

Finally..!syncing as expected
  detox/ios/DetoxTester/DetoxTester/Actions/ActionDelegate.swift
  detox/ios/DetoxTester/DetoxTester/Expectations/ExpectationDelegate.swift
  detox/ios/DetoxTester/DetoxTester/Tester/DetoxTester.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/DetoxServerMessageSenderProtocol.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+cleanup.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+reportCurrentStatus.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor+Message.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor+Response.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Utils/Web Socket Client/WebSocketClient.swift
Owners: @asafkorem

docs(android-dev-env): fix chronological order of `android home` env
  docs/guide/android-dev-env.md
Owners: @d4vidi

docs(android-dev-env): specify how to install command-line tools
  docs/guide/android-dev-env.md
Owners: @d4vidi

docs(android-dev-env): document how to list available emulator images
  docs/guide/android-dev-env.md
Owners: @d4vidi

docs(android-dev-env): improve docs (#3875)
  docs/guide/android-dev-env.md
Owners: @d4vidi

Avoid printing error if undefined
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
Owners: @d4vidi, @noomorph

add Android accessibilityAction
  detox/android/detox/src/full/java/com/wix/detox/espresso/DetoxAction.java
  detox/android/detox/src/full/java/com/wix/detox/espresso/action/DetoxAccessibilityAction.java
  detox/src/android/AndroidExpect.test.js
  detox/src/android/actions/native.js
  detox/src/android/core/NativeElement.js
  detox/src/android/espressoapi/DetoxAction.js
  detox/src/android/interactions/native.js
Owners: @d4vidi, @jonathanmos, @noomorph

fix Android
  detox/android/detox/src/full/java/com/wix/detox/espresso/action/DetoxAccessibilityAction.java
  detox/src/android/core/NativeElement.js
  detox/src/android/interactions/native.js
Owners: @d4vidi, @jonathanmos, @noomorph

add iOS accessibilityAction
  detox/ios/Detox/Invocation/Action.swift
  detox/ios/Detox/Invocation/Element.swift
  detox/src/ios/expectTwo.js
  detox/src/ios/expectTwo.test.js
  detox/src/ios/expectTwoApiCoverage.test.js
Owners: @asafkorem, @d4vidi, @noomorph

add type
  detox/index.d.ts
Owners: @d4vidi, @noomorph

add doc
  docs/api/actions.md
Owners: @d4vidi

fix iOS
  detox/ios/Detox/Invocation/Action.swift
  detox/src/ios/expectTwo.js
  detox/src/ios/expectTwo.test.js
  detox/src/utils/invocationTraceDescriptions.js
Owners: @asafkorem, @d4vidi, @noomorph

add e2e tests
  detox/test/e2e/03.actions.test.js
  detox/test/src/Screens/ActionsScreen.js
Owners: @d4vidi, @noomorph

add missing traceDescription for iOS
  detox/src/ios/expectTwo.js
  detox/src/utils/invocationTraceDescriptions.js
Owners: @d4vidi, @noomorph

fix(genymotion): restore forceAdbInstall support
  detox/package.json
  detox/src/devices/runtime/drivers/android/genycloud/GenyCloudDriver.js
  detox/src/devices/runtime/factories/android.js
  detox/test/e2e/detox.config.js
Owners: @d4vidi, @noomorph

Publish 20.1.3-smoke.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

todos
  detox/ios/DetoxTester/DetoxTester/Matchers/XCUIElementQuery/XCUIElementQuery+matching.swift
  detox/ios/DetoxTester/DetoxTester/Tester/DetoxTester.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor+Response.swift
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
Owners: @asafkorem, @d4vidi, @noomorph

revert
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
Owners: @d4vidi, @noomorph

revert
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
Owners: @d4vidi, @noomorph

wip
  detox/ios/DetoxTester/DetoxTester/Matchers/ElementMatcher.swift
  detox/ios/DetoxTester/DetoxTester/Matchers/XCUIElementQuery/XCUIElementQuery+matching.swift
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
Owners: @asafkorem, @d4vidi, @noomorph

remove skip
  detox/ios/DetoxTester/DetoxTester/Matchers/XCUIElementQuery/XCUIElementQuery+matching.swift
  detox/test/e2e/02.matchers.test.js
Owners: @asafkorem, @d4vidi, @noomorph

fix replace test :)
  detox/ios/DetoxTester/DetoxTester/Actions/XCUIElement/XCUIElement+Error.swift
  detox/ios/DetoxTester/DetoxTester/Actions/XCUIElement/XCUIElement+Keyboard.swift
Owners: @asafkorem

Implement ?shuffle=disabled logic in the Showcase component
  website/src/components/Showcase/Showcase.js
Owners: @d4vidi, @noomorph

ancestor
  detox/ios/DetoxTester/DetoxTester/Actions/XCUIElement/XCUIElement+Keyboard.swift
  detox/ios/DetoxTester/DetoxTester/Matchers/XCUIElementQuery/XCUIElementQuery+matching.swift
Owners: @asafkorem

infinite executionTimeAllowance
  detox/ios/DetoxTester/DetoxTester/Unit Tests/Test Utils/DTXTestCase.m
Owners: @asafkorem

changes
  detox/ios/DetoxTester/DetoxTester/Actions/XCUIElement/XCUIElement+Keyboard.swift
  detox/ios/DetoxTester/DetoxTester/Actions/XCUIElement/XCUIElement+swipe.swift
  detox/ios/DetoxTester/DetoxTester/Matchers/XCUIElementQuery/XCUIElementQuery+matching.swift
  detox/ios/DetoxTester/DetoxTester/Matchers/XCUIElementQuery/XCUIElementQuery+run.swift
Owners: @asafkorem

extraction
  detox/src/devices/runtime/RuntimeDevice.js
Owners: @d4vidi, @noomorph

ping the client periodically
  detox/ios/DetoxTester/DetoxTester/Tester/DetoxTester.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Utils/Web Socket Server/WebSocketServer.swift
Owners: @asafkorem

RESOLVE THE CAUSE FOR FLAKINESS
  detox/src/utils/childProcess/exec.js
Owners: @d4vidi, @noomorph

Kill it with fire
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
Owners: @d4vidi, @noomorph

log only when needed
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
Owners: @d4vidi, @noomorph

fix tests
  detox/test/e2e/03.actions.test.js
Owners: @d4vidi, @noomorph

wip
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
  detox/src/utils/childProcess/exec.js
Owners: @d4vidi, @noomorph

initial commit
  detox/detox/ios/DetoxSync/DetoxSync/DTXObjectiveCHelpers/NSArray+Utils.m
Owners: @asafkorem

wip
  detox/ios/DetoxTester/DetoxTester/Tester/Utils/Web Socket Client/WebSocketClient.swift
Owners: @asafkorem

Revert "extraction"
  detox/src/devices/runtime/RuntimeDevice.js
Owners: @d4vidi, @noomorph

Revert "Revert "extraction""
  detox/src/devices/runtime/RuntimeDevice.js
Owners: @d4vidi, @noomorph

validate cloud configs and create web socket secured connection to cloud server
  detox/index.d.ts
  detox/src/artifacts/factories/index.js
  detox/src/configuration/composeAppsConfig.js
  detox/src/configuration/composeArtifactsConfig.js
  detox/src/configuration/composeBehaviorConfig.js
  detox/src/configuration/composeDeviceConfig.js
  detox/src/configuration/composeSessionConfig.js
  detox/src/configuration/index.js
  detox/src/configuration/utils/deviceAppTypes.js
  detox/src/configuration/validateCloudAuthConfig.js
  detox/src/devices/allocation/factories/cloud.js
  detox/src/devices/allocation/factories/index.js
  detox/src/devices/runtime/factories/android.js
  detox/src/environmentFactory.js
  detox/src/errors/DetoxConfigErrorComposer.js
Owners: @d4vidi, @noomorph
