Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem

Rename .java to .kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/DetoxIdlingResource.kt
Owners: @d4vidi, @jonathanmos

fix: ADB encoding issue
  detox/src/devices/common/drivers/android/exec/ADB.js
  detox/src/devices/common/drivers/android/exec/ADB.test.js
  detox/src/devices/common/drivers/android/exec/BinaryExec.js
Owners: @d4vidi, @noomorph

chore: lint changes
  detox/src/DetoxWorker.js
Owners: @d4vidi, @noomorph

fix: remove copilot init from `DetoxWorker`.
  detox/src/DetoxWorker.js
Owners: @d4vidi, @noomorph

Fixed tests
  detox/android/detox/src/testFull/java/com/wix/detox/reactnative/idlingresources/timers/DelegatedIdleInterrogationStrategySpec.kt
Owners: @d4vidi, @jonathanmos

Fixed tests
  detox/android/detox/src/testFull/java/com/wix/detox/reactnative/idlingresources/timers/TimersIdlingResourceSpec.kt
  detox/android/detox/src/testFull/java/com/wix/detox/reactnative/idlingresources/timers/TimersIdlingResourceTest.kt
Owners: @d4vidi, @jonathanmos

Create factory
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/ReactNativeIdlingResources.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/factory/DetoxIdlingResourceFactory.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/factory/IdlingResourcesName.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/factory/LooperName.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/uimodule/RN66Workaround.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/uimodule/UIManagerModuleReflected.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/uimodule/UIModuleIdlingResource.kt
Owners: @d4vidi, @jonathanmos

Minor fixes
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/ReactNativeIdlingResources.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/animations/AnimatedModuleIdlingResource.kt
Owners: @d4vidi, @jonathanmos

chore: update detox-copilot.
  detox/package.json
Owners: @d4vidi

fix: call copilot start/end only if copilot was initialized.
  detox/src/DetoxWorker.js
  detox/src/DetoxWorker.test.js
Owners: @d4vidi, @noomorph

refactor: remove redundant methods.
  detox/src/copilot/DetoxCopilot.js
  detox/src/copilot/DetoxCopilot.test.js
Owners: @d4vidi, @noomorph

test(e2e): update copilot cache.
  detox/test/detox_copilot_cache.json
Owners: @d4vidi

chore: update copilot version.
  detox/package.json
Owners: @d4vidi

test(android): skip tap during storage stress tests.
  detox/test/e2e/07.stress-tests.test.js
Owners: @d4vidi, @noomorph

build(android): remove Legacy package phase from release.
  .buildkite/pipeline.release.fast.yml
Owners: @d4vidi

docs: update supported react-native versions.
  README.md
  docs/introduction/partials/_getting-started-rn.md
Owners: @d4vidi

build(release): remove Android legacy package phase from release.
  .buildkite/pipeline.release.fast.yml
Owners: @d4vidi

Introducing Detox Guru on Gurubase.io
  README.md
Owners: @d4vidi

Publish 20.28.1-alpha.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Publish 20.28.2-alpha.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
Owners: @d4vidi

Publish 20.28.3-alpha.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Fixes after pr
  detox/android/detox/src/full/java/com/wix/detox/reactnative/ReactNativeExtension.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/ReactNativeIdlingResources.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/factory/DetoxIdlingResourceFactory.kt
Owners: @d4vidi, @jonathanmos

build(fix): avoid overriding the git remote url.
  scripts/ci.release.js
Owners: @d4vidi, @noomorph

chore(ios): update git to ignore generated files.
  .gitignore
Owners: @d4vidi

feat(ios): support new-arch's `RCTParagraphComponentView`.
  detox/ios/Detox/Invocation/Predicate.swift
  detox/ios/Detox/Utilities/NSObject+DontCrash.m
Owners: @asafkorem

test(ios): refactor Podfile.
  detox/test/ios/Podfile
Owners: @asafkorem

test(app): create new iOS project from template.
  detox/test/ios/.xcode.env
  detox/test/ios/Podfile
  detox/test/ios/example.xcodeproj/project.pbxproj
  detox/test/ios/example.xcodeproj/xcshareddata/xcschemes/example.xcscheme
  detox/test/ios/example/AppDelegate.h
  detox/test/ios/example/AppDelegate.mm
  detox/test/ios/example/Images.xcassets/AppIcon.appiconset/Contents.json
  detox/test/ios/example/Images.xcassets/Contents.json
  detox/test/ios/example/Info.plist
  detox/test/ios/example/LaunchScreen.storyboard
  detox/test/ios/example/PrivacyInfo.xcprivacy
  detox/test/ios/example/main.m
  detox/test/ios/exampleTests/Info.plist
  detox/test/ios/exampleTests/exampleTests.m
Owners: @asafkorem, @d4vidi

test(ios): update Podfile with dependencies.
  detox/test/ios/Podfile
Owners: @asafkorem

test(ios): enable upside-down rotation.
  detox/test/ios/example/Info.plist
Owners: @asafkorem

test(ios): refactor legacy `NativeModule`.
  detox/test/ios/ReactModules/NativeModule.mm
Owners: @asafkorem

test(ios): fix test-app Podfile.
  detox/test/ios/Podfile
  detox/test/ios/example.xcodeproj/project.pbxproj
Owners: @asafkorem

test(ios): update binary path to the non-detox-linked app (example-ci).
  detox/test/e2e/detox.config.js
Owners: @d4vidi, @noomorph

test(ios): remove example native tests.
  detox/test/ios/example.xcodeproj/project.pbxproj
  detox/test/ios/exampleTests/Info.plist
  detox/test/ios/exampleTests/exampleTests.m
Owners: @asafkorem

test(ios): add background modes capabilities.
  detox/test/ios/example.xcodeproj/project.pbxproj
  detox/test/ios/example/Info.plist
  detox/test/ios/example/example.entitlements
Owners: @asafkorem, @d4vidi

test(ios): add `NativeModule`.
  detox/test/ios/ReactModules/NativeModule.h
  detox/test/ios/ReactModules/NativeModule.mm
  detox/test/ios/example.xcodeproj/project.pbxproj
Owners: @asafkorem

chore(ios): add manual test env vars for debugging.
  detox/test/ios/example.xcodeproj/xcshareddata/xcschemes/example.xcscheme
Owners: @asafkorem

temp: migrate test-app `ios` files to `ios-old`.
  detox/test/ios-old/.xcode.env
  detox/test/ios-old/Podfile
  detox/test/ios-old/example.xcodeproj/project.pbxproj
  detox/test/ios-old/example.xcodeproj/xcshareddata/xcschemes/example.xcscheme
  detox/test/ios-old/example.xcodeproj/xcshareddata/xcschemes/example_ci.xcscheme
  detox/test/ios-old/example/AppDelegate.h
  detox/test/ios-old/example/AppDelegate.m
  detox/test/ios-old/example/Base.lproj/LaunchScreen.xib
  detox/test/ios-old/example/CustomKeyboardViewController.h
  detox/test/ios-old/example/CustomKeyboardViewController.m
  detox/test/ios-old/example/Images.xcassets/AppIcon.appiconset/Contents.json
  detox/test/ios-old/example/Info.plist
  detox/test/ios-old/example/NativeModule.h
  detox/test/ios-old/example/NativeModule.m
  detox/test/ios-old/example/PrivacyInfo.xcprivacy
  detox/test/ios-old/example/example.entitlements
  detox/test/ios-old/example/main.m
  detox/test/ios-old/exampleUITests/Info.plist
  detox/test/ios-old/exampleUITests/exampleUITests.m
  detox/test/ios-old/example_ci.entitlements
  detox/test/ios/example.xcworkspace/contents.xcworkspacedata
  detox/test/ios/example.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
Owners: @d4vidi, @asafkorem

test(ios): update app's bundle-id and build commands.
  detox/test/e2e/detox.config.js
  detox/test/ios/example.xcodeproj/project.pbxproj
  detox/test/ios/example/Info.plist
Owners: @d4vidi, @noomorph, @asafkorem

test(ios): copy command line arguments from legacy ios project.
  detox/test/ios/example.xcodeproj/xcshareddata/xcschemes/example.xcscheme
Owners: @asafkorem

test(ios): update `AppDelegate.mm` with deps.
  detox/test/ios/example/AppDelegate.mm
Owners: @asafkorem
