Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

test(unit): allow any number in view hierarchy snapshot XML attributes.
  detox/test/e2e/06.device.test.js
  detox/test/e2e/utils/snapshot.js
Owners: @d4vidi, @noomorph

test(unit): update view-hierarchy XML snapshots.
  detox/test/e2e/06.device.test.js
  detox/test/e2e/assets/view-hierarchy-with-test-id-injection.71.android.txt
  detox/test/e2e/assets/view-hierarchy-with-test-id-injection.71.ios.txt
  detox/test/e2e/assets/view-hierarchy-with-test-id-injection.73.android.txt
  detox/test/e2e/assets/view-hierarchy-with-test-id-injection.73.ios.txt
  detox/test/e2e/assets/view-hierarchy-without-test-id-injection.71.android.txt
  detox/test/e2e/assets/view-hierarchy-without-test-id-injection.71.ios.txt
  detox/test/e2e/assets/view-hierarchy-without-test-id-injection.73.android.txt
  detox/test/e2e/assets/view-hierarchy-without-test-id-injection.73.ios.txt
Owners: @d4vidi, @noomorph

test(unit): update view-hierarchy XML snapshots.
  detox/test/e2e/assets/view-hierarchy-with-test-id-injection.71.android.txt
  detox/test/e2e/assets/view-hierarchy-without-test-id-injection.71.android.txt
Owners: @d4vidi

fix(android): filter-out empty attributes from the view-hierarchy XML.
  detox/android/detox/src/full/java/com/wix/detox/espresso/hierarchy/ViewHierarchyGenerator.kt
Owners: @d4vidi, @jonathanmos

test(android): update view-hierarchy XML snapshots.
  detox/test/e2e/assets/view-hierarchy-with-test-id-injection.71.android.txt
  detox/test/e2e/assets/view-hierarchy-with-test-id-injection.73.android.txt
  detox/test/e2e/assets/view-hierarchy-without-test-id-injection.71.android.txt
  detox/test/e2e/assets/view-hierarchy-without-test-id-injection.73.android.txt
Owners: @d4vidi

build(detox-copilot): add to packages list.
  lerna.json
Owners: @d4vidi

docs(detox-copilot): add to repo structure overview.
  docs/contributing/code/overview.md
Owners: @d4vidi

project(detox-copilot): initial commit.
  detox-copilot/README.md
  detox-copilot/index.d.ts
  detox-copilot/index.ts
  detox-copilot/package.json
Owners: @d4vidi, @noomorph

ci(detox-copilot): support from release script.
  scripts/ci.release.js
Owners: @d4vidi, @noomorph

docs(copilot): update readme.
  detox-copilot/README.md
  detox-copilot/src/Copilot.ts
Owners: @d4vidi, @noomorph

refactor(copilot): break-down to smaller units.
  detox-copilot/src/DetoxCopilot.ts
  detox-copilot/src/actions/Act.test.ts
  detox-copilot/src/actions/Act.ts
  detox-copilot/src/actions/ActPerformer.test.ts
  detox-copilot/src/actions/ActPerformer.ts
  detox-copilot/src/actions/Expect.test.ts
  detox-copilot/src/actions/Expect.ts
  detox-copilot/src/actions/ExpectPerformer.test.ts
  detox-copilot/src/actions/ExpectPerformer.ts
  detox-copilot/src/index.ts
  detox-copilot/src/utils/CodeEvaluator.ts
  detox-copilot/src/utils/PromptCreator.ts
  detox-copilot/src/utils/SnapshotManager.ts
  detox-copilot/tsconfig.json
Owners: @d4vidi, @noomorph

refactor: remove copilot dead code (errors).
  detox-copilot/src/errors.ts
Owners: @d4vidi, @noomorph

chore(copilot): ignore dist files using `.gitignore`.
  detox-copilot/.gitignore
Owners: @d4vidi

fix(copilot): copy previous steps object.
  detox-copilot/src/Copilot.test.ts
  detox-copilot/src/Copilot.ts
  detox-copilot/src/index.ts
Owners: @d4vidi, @noomorph

feat(copilot): add Detox driver for Detox-Copilot.
  detox-copilot/src/types/index.ts
  detox/src/copilot/CopilotDriver.js
Owners: @d4vidi, @noomorph

test(integration): change Copilot tests.
  detox-copilot/src/Copilot.ts
  detox-copilot/src/index.ts
  detox-copilot/src/integration tests/index.test.ts
Owners: @d4vidi, @noomorph

test(integration): fix collision between UAT name and existing type.
  detox-copilot/src/integration tests/index.test.ts
Owners: @d4vidi, @noomorph

tests(integration): fix copilot tests.
  detox-copilot/src/integration tests/index.test.ts
  detox-copilot/src/utils/CodeEvaluator.test.ts
Owners: @d4vidi, @noomorph

tests(integration): add integration tests for Copilot.
  detox-copilot/src/integration.test.ts
Owners: @d4vidi, @noomorph

copilot: create prompt markdowns.
  detox-copilot/src/utils/prompts/act-prompt.md
  detox-copilot/src/utils/prompts/expect-prompt.md
Owners: @d4vidi

wip(copilot): add missing CodeEvaluationError.
  detox-copilot/src/errors/CodeEvaluationError.ts
Owners: @d4vidi, @noomorph

refactor: update types.
  detox-copilot/src/types.ts
Owners: @d4vidi, @noomorph

test(unit): add unit tests for Copilot.
  detox-copilot/src/Copilot.test.ts
Owners: @d4vidi, @noomorph

docs(copilot): update project description.
  detox-copilot/package.json
Owners: @d4vidi

refactor(copilot): export Copilot API.
  detox-copilot/src/errors.ts
  detox-copilot/src/index.test.ts
  detox-copilot/src/index.ts
Owners: @d4vidi, @noomorph

feat(copilot): improve APIs.
  detox-copilot/src/Copilot.test.ts
  detox-copilot/src/Copilot.ts
  detox-copilot/src/actions/ActPerformer.test.ts
  detox-copilot/src/actions/ActPerformer.ts
  detox-copilot/src/actions/ExpectPerformer.test.ts
  detox-copilot/src/actions/StepPerformer.test.ts
  detox-copilot/src/actions/StepPerformer.ts
  detox-copilot/src/index.ts
  detox-copilot/src/integration tests/index.test.ts
  detox-copilot/src/types/index.ts
  detox-copilot/src/utils/CodeEvaluator.ts
  detox-copilot/src/utils/PromptCreator.test.ts
  detox-copilot/src/utils/PromptCreator.ts
  detox-copilot/src/utils/SnapshotManager.ts
  detox-copilot/src/utils/__snapshots__/PromptCreator.test.ts.snap
Owners: @d4vidi, @noomorph

ci(copilot): run unit tests under rapid tests action.
  .github/workflows/rapid-test.yml
  detox-copilot/src/utils/CodeEvaluator.test.ts
Owners: @d4vidi, @noomorph

tests: add unit tests.
  detox-copilot/jest.config.js
  detox-copilot/package.json
  detox-copilot/src/index.test.ts
  detox-copilot/src/index.ts
  detox-copilot/tsconfig.json
Owners: @d4vidi, @noomorph

feat(copilot): rename testing framework driver methods.
  detox-copilot/src/Copilot.test.ts
  detox-copilot/src/actions/StepPerformer.test.ts
  detox-copilot/src/actions/StepPerformer.ts
  detox-copilot/src/integration tests/index.test.ts
  detox-copilot/src/types/index.ts
  detox-copilot/src/utils/SnapshotManager.ts
  detox/src/copilot/CopilotDriver.js
Owners: @d4vidi, @noomorph

refactor(copilot): prompt creator.
  detox-copilot/src/Copilot.test.ts
  detox-copilot/src/integration tests/index.test.ts
  detox-copilot/src/types/index.ts
  detox-copilot/src/utils/PromptCreator.test.ts
  detox-copilot/src/utils/PromptCreator.ts
  detox-copilot/src/utils/__snapshots__/PromptCreator.test.ts.snap
  detox-copilot/src/utils/prompts/act-prompt.md
  detox-copilot/src/utils/prompts/expect-prompt.md
Owners: @d4vidi, @noomorph

fix(copilot): add missing awaits.
  detox-copilot/src/index.ts
Owners: @d4vidi, @noomorph

test: remove empty test file.
  detox-copilot/src/index.test.ts
Owners: @d4vidi, @noomorph

fix(types): use string path instead of record.
  detox-copilot/src/types.ts
Owners: @d4vidi, @noomorph

test(copilot): fix integration tests.
  detox-copilot/src/Copilot.ts
  detox-copilot/src/actions/ExpectPerformer.test.ts
  detox-copilot/src/actions/ExpectPerformer.ts
  detox-copilot/src/index.ts
  detox-copilot/src/integration tests/index.test.ts
  detox-copilot/src/utils/CodeEvaluator.test.ts
  detox-copilot/src/utils/CodeEvaluator.ts
Owners: @d4vidi, @noomorph

refactor(copilot): wrap APIs with namespace.
  detox-copilot/src/index.ts
  detox-copilot/src/integration tests/index.test.ts
Owners: @d4vidi, @noomorph

feat: rename params in copilot apis.
  detox-copilot/src/index.ts
Owners: @d4vidi, @noomorph

fix(copilot): prompt creation.
  detox-copilot/src/utils/PromptCreator.ts
Owners: @d4vidi, @noomorph

wip(copilot): refactoring and some changes.
  detox-copilot/jest.config.js
  detox-copilot/src/Copilot.ts
  detox-copilot/src/DetoxCopilot.integration.test.ts
  detox-copilot/src/DetoxCopilot.test.ts
  detox-copilot/src/actions/ActPerformer.test.ts
  detox-copilot/src/actions/ActPerformer.ts
  detox-copilot/src/actions/ExpectPerformer.test.ts
  detox-copilot/src/index.ts
  detox-copilot/src/types/index.ts
  detox-copilot/src/utils/CodeEvaluator.test.ts
  detox-copilot/src/utils/CodeEvaluator.ts
  detox-copilot/src/utils/PromptCreator.test.ts
  detox-copilot/src/utils/SnapshotManager.test.ts
  detox-copilot/src/utils/SnapshotManager.ts
  detox-copilot/tsconfig.json
Owners: @d4vidi, @noomorph

feat(copilot): improve prompt creation.
  detox-copilot/src/utils/PromptCreator.test.ts
  detox-copilot/src/utils/PromptCreator.ts
  detox-copilot/src/utils/__snapshots__/PromptCreator.test.ts.snap
Owners: @d4vidi, @noomorph

wip(copilot): initial APIs.
  detox-copilot/index.d.ts
  detox-copilot/index.ts
  detox-copilot/package.json
  detox-copilot/src/errors.ts
  detox-copilot/src/index.ts
  detox-copilot/src/types.ts
Owners: @d4vidi, @noomorph

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem
