Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem

Add a unit-test for primary-context
  detox/__tests__/setupJest.js
  detox/src/__mocks__/DetoxWorker.js
  detox/src/realms/DetoxPrimaryContext.js
  detox/src/realms/DetoxPrimaryContext.test.js
  detox/src/realms/__snapshots__/DetoxPrimaryContext.test.js.snap
Owners: @d4vidi, @noomorph

something to revert
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/Action+name.swift
  detox/ios/DetoxTester/DetoxTester/Actions/ActionDelegate.swift
  detox/ios/DetoxTester/DetoxTester/Actions/XCUIElement/ElementAttributes.swift
  detox/ios/DetoxTester/DetoxTester/Actions/XCUIElement/XCUIApplication+takeScreenshot.swift
  detox/ios/DetoxTester/DetoxTester/Actions/XCUIElement/XCUIElement+Keyboard.swift
  detox/ios/DetoxTester/DetoxTester/Actions/XCUIElement/XCUIElement+adjustSlider.swift
  detox/ios/DetoxTester/DetoxTester/Actions/XCUIElement/XCUIElement+pinch.swift
  detox/ios/DetoxTester/DetoxTester/Actions/XCUIElement/XCUIElement+setColumnToValue.swift
  detox/ios/DetoxTester/DetoxTester/Expectations/ExpectationDelegate.swift
  detox/ios/DetoxTester/DetoxTester/Matchers/ElementMatcher.swift
  detox/ios/DetoxTester/DetoxTester/Matchers/XCUIElementQuery/XCUIElementQuery+matching.swift
  detox/ios/DetoxTester/DetoxTester/Tester/DetoxTester.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/AppClientMessageSenderProtocol.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+getAppUnderTest.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+setSyncSettings.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+waitFor.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor+Message.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor+Response.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Utils/Web Socket Client/WebSocketClient.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Utils/Web Socket Server/WebSocketServer.swift
  detox/ios/DetoxTester/DetoxTester/Utils/Extensions/ActionSpeed+XCUIGestureVelocity.swift
  detox/ios/DetoxTester/DetoxTester/Utils/Extensions/ElementType+Extensions.swift
  detox/ios/DetoxTester/DetoxTester/Utils/Extensions/TimeInterval+Extensions.swift
  detox/ios/DetoxTester/DetoxTester/Utils/Extensions/XCUIApplication+settingsApp.swift
  detox/ios/DetoxTester/DetoxTester/Utils/JSON.swift
  detox/ios/DetoxTester/DetoxTesterApp.xcodeproj/project.pbxproj
  detox/src/client/Client.js
  detox/src/devices/runtime/RuntimeDevice.js
  detox/src/devices/runtime/drivers/DeviceDriverBase.js
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
  detox/src/server/DetoxConnection.js
  detox/src/server/DetoxSession.js
  detox/src/server/DetoxSessionManager.js
  detox/src/server/handlers/AnonymousConnectionHandler.js
  examples/demo-plugin/driver.js
Owners: @asafkorem, @d4vidi, @noomorph

wip
  detox/ios/Detox/Utilities/NSObject+DetoxUtils.h
  detox/ios/DetoxTester.xcworkspace/xcshareddata/swiftpm/Package.resolved
Owners: @asafkorem

fix
  detox/ios/Detox/Utilities/WebSocket.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor.swift
Owners: @asafkorem

test: fix merge conflict
  detox/src/realms/DetoxSecondaryContext.test.js
Owners: @d4vidi, @noomorph

test: simplify mocks
  detox/__tests__/helpers.js
  detox/src/devices/lifecycle/GenyGlobalLifecycleHandler.js
  detox/src/logger/__mocks__/index.js
  detox/src/realms/DetoxPrimaryContext.test.js
  detox/src/realms/DetoxSecondaryContext.test.js
Owners: @d4vidi, @noomorph

code: simplify if check
  detox/src/realms/DetoxPrimaryContext.js
Owners: @d4vidi, @noomorph

fix(logger): save files on ctrl+c
  detox/src/logger/utils/DetoxLogFinalizer.js
  detox/src/logger/utils/DetoxLogFinalizer.test.js
Owners: @d4vidi, @noomorph

code: remove outdated comment [ci skip]
  detox/src/realms/DetoxPrimaryContext.test.js
Owners: @d4vidi, @noomorph

code: use colon in TODO comments [ci skip]
  detox/src/realms/DetoxPrimaryContext.js
Owners: @d4vidi, @noomorph

test(unit): DetoxPrimaryContext and DetoxSecondaryContext (#3686)
  detox/.npmignore
  detox/__tests__/helpers.js
  detox/__tests__/setupJest.js
  detox/local-cli/build.test.js
  detox/local-cli/run-server.test.js
  detox/src/__mocks__/DetoxWorker.js
  detox/src/devices/lifecycle/GenyGlobalLifecycleHandler.js
  detox/src/logger/__mocks__/index.js
  detox/src/realms/DetoxPrimaryContext.js
  detox/src/realms/DetoxPrimaryContext.test.js
  detox/src/realms/DetoxSecondaryContext.js
  detox/src/realms/DetoxSecondaryContext.test.js
  detox/src/realms/__snapshots__/DetoxPrimaryContext.test.js.snap
Owners: @d4vidi, @noomorph

wip: log repairing
  detox/local-cli/repair-logs.js
  detox/src/logger/utils/DetoxLogFinalizer.js
Owners: @d4vidi, @noomorph

refactor(trace): simpler primary PID detection
  detox/src/logger/utils/DetoxLogFinalizer.test.js
  detox/src/logger/utils/streams/ChromeTraceTransformer.js
Owners: @d4vidi, @noomorph

REVERT: made problems
  detox/ios/Detox/DetoxManager.swift
  detox/ios/DetoxTester/DetoxTester/Matchers/XCUIElementQuery/XCUIElementQuery+matching.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+captureViewHierarchy.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor+Message.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor+Response.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor.swift
Owners: @asafkorem

Revert "REVERT: made problems"
  detox/ios/Detox/DetoxManager.swift
  detox/ios/DetoxTester/DetoxTester/Matchers/XCUIElementQuery/XCUIElementQuery+matching.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+captureViewHierarchy.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor+Message.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor+Response.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor.swift
Owners: @asafkorem

Revert "Revert "REVERT: made problems""
  detox/ios/Detox/DetoxManager.swift
  detox/ios/DetoxTester/DetoxTester/Matchers/XCUIElementQuery/XCUIElementQuery+matching.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+captureViewHierarchy.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor+Message.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor+Response.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor.swift
Owners: @asafkorem

wip
  detox/ios/Detox/DetoxManager.swift
  detox/ios/DetoxTester/DetoxTester/Matchers/XCUIElementQuery/XCUIElementQuery+matching.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor.swift
Owners: @asafkorem

WIP
  detox/ios/Detox/DetoxManager.swift
Owners: @asafkorem

perfect :)
  detox/ios/DetoxTester/DetoxTester/Matchers/XCUIElementQuery/XCUIElementQuery+matching.swift
Owners: @asafkorem

wip
  detox/ios/Detox/DetoxManager.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor.swift
Owners: @asafkorem

fix homepage icons on devices using Safari, add png images to Homepage static folder, update FeatureList.js and add code to check for Safari on Features.js
  website/src/components/Homepage/Features/FeatureList.js
  website/src/components/Homepage/Features/Features.js
  website/static/img/homepage/ci-light.png
  website/static/img/homepage/ci-light.svg
  website/static/img/homepage/cross-platform-light.png
  website/static/img/homepage/debug-light.png
  website/static/img/homepage/devices-light.png
  website/static/img/homepage/sync-light.png
  website/static/img/homepage/test-runner-light.png
Owners: @d4vidi, @noomorph

test commit
  website/src/components/Homepage/Features/Features.js
Owners: @d4vidi, @noomorph

[website] Update Android project setup docs on proguardFile
  website/versioned_docs/version-20.x/introduction/project-setup.mdx
Owners: @d4vidi

test bare metal
  .buildkite/pipeline_common.sh
Owners: @d4vidi, @noomorph

no explicit java
  .buildkite/jobs/pipeline.android_demo_app_rn_68.yml
  .buildkite/jobs/pipeline.android_demo_app_rn_69.yml
  .buildkite/jobs/pipeline.android_rn_68.yml
  .buildkite/jobs/pipeline.android_rn_69.yml
  .buildkite/jobs/pipeline.ios_demo_app_rn_69.yml
Owners: @d4vidi

disable gmsaas login
  scripts/ci.android.sh
Owners: @d4vidi, @noomorph

docs: Fix migration guide wording
  docs/guide/migration.md
Owners: @d4vidi

docs: Fix migration guide wording (#3741)
  docs/guide/migration.md
Owners: @d4vidi

move to default agents
  .buildkite/pipeline_common.sh
Owners: @d4vidi, @noomorph

remove script
  scripts/ci.android.sh
  scripts/ci.genycloud-login.sh
Owners: @d4vidi, @noomorph

Fix issue with runCatching
  detox/android/detox/src/full/java/com/wix/detox/espresso/MultipleViewsActionWithResult.kt
Owners: @d4vidi, @jonathanmos

Integrate EspressoDetox as an invoke target
  detox/src/android/core/NativeElement.js
  detox/src/invoke.js
  detox/src/invoke/EspressoDetox.js
Owners: @d4vidi, @noomorph

fix lint
  detox/src/invoke.js
Owners: @d4vidi, @noomorph

fix(logger): save files on ctrl+c (#3713)
  detox/src/logger/utils/DetoxLogFinalizer.js
  detox/src/logger/utils/DetoxLogFinalizer.test.js
Owners: @d4vidi, @noomorph

docs(website): fix proguardFile instruction
  website/versioned_docs/version-20.x/introduction/project-setup.mdx
Owners: @d4vidi

docs: fix proguard guide
  docs/introduction/project-setup.mdx
Owners: @d4vidi

PR fixes
  detox/android/detox/src/full/java/com/wix/detox/TestEngineFacade.kt
  detox/android/detox/src/full/java/com/wix/detox/adapters/server/QueryStatusActionHandler.kt
  detox/android/detox/src/full/java/com/wix/detox/espresso/asynctasks/AsyncTaskInquirer.kt
  detox/android/detox/src/full/java/com/wix/detox/espresso/registry/IRStatusInquirer.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/asynctask/DetoxBusyResource.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/asynctask/DetoxBusyResourceHelper.kt
  detox/android/detox/src/testFull/java/com/wix/detox/adapters/server/QueryStatusActionHandlerSpec.kt
  detox/android/detox/src/testFull/java/com/wix/detox/espresso/asynctasks/AsyncTaskInquirerTest.kt
  detox/android/detox/src/testFull/java/com/wix/detox/espresso/registry/IRStatusInquirerTest.kt
  detox/src/client/actions/formatters/__snapshots__/SyncStatusFormatter.test.js.snap
  detox/src/client/actions/formatters/sync-resources/BgThreadFormatter.js
Owners: @d4vidi, @jonathanmos, @noomorph

Detect busy asynctasks
  detox/android/detox/src/full/java/com/wix/detox/TestEngineFacade.kt
  detox/android/detox/src/full/java/com/wix/detox/adapters/server/QueryStatusActionHandler.kt
  detox/android/detox/src/full/java/com/wix/detox/espresso/registry/IRStatusInquirer.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/asynctask/DetoxBusyResource.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/asynctask/DetoxBusyResourceHelper.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/asynctask/UiControllerImplReflected.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/uimodule/UIManagerModuleReflected.kt
  detox/src/client/actions/SyncStatusSchema.json
  detox/src/client/actions/formatters/SyncStatusFormatter.js
  detox/src/client/actions/formatters/sync-resources/BgThreadFormatter.js
Owners: @d4vidi, @jonathanmos, @noomorph

Add unit tests for asynctasks
  detox/android/detox/src/testFull/java/com/wix/detox/adapters/server/QueryStatusActionHandlerSpec.kt
  detox/android/detox/src/testFull/java/com/wix/detox/espresso/registry/IRStatusInquirerTest.kt
  detox/src/client/actions/formatters/SyncStatusFormatter.test.js
  detox/src/client/actions/formatters/__snapshots__/SyncStatusFormatter.test.js.snap
Owners: @d4vidi, @jonathanmos, @noomorph

small refactor
  detox/android/detox/src/full/java/com/wix/detox/espresso/registry/IRStatusInquirer.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/asynctask/DetoxBusyResource.kt
Owners: @d4vidi, @jonathanmos
