Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem

docs(webviews): add missing api (`by.web.label`).
  docs/api/webviews.md
Owners: @d4vidi

test(app): add input field to secured iframe.
  detox/test/mock-server/mock-server.js
  detox/test/src/Screens/WebViewScreen.js
Owners: @d4vidi, @noomorph

feat: add `asSecured` types.
  detox/detox.d.ts
Owners: @d4vidi, @noomorph

Publish 20.23.0-smoke.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

feat: add XCUITest native log utils.
  detox/ios/DetoxXCUITestRunner/DetoxXCUITestRunner.xcodeproj/project.pbxproj
  detox/ios/DetoxXCUITestRunner/DetoxXCUITestRunner/Utils/LogUtils.swift
  detox/src/ios/XCUITestRunner.js
Owners: @asafkorem, @d4vidi, @noomorph

feat: support `asSecured` web-element interactions.
  detox/ios/DetoxXCUITestRunner/DetoxXCUITestRunner/DetoxXCUITestRunner.swift
  detox/ios/DetoxXCUITestRunner/DetoxXCUITestRunner/Handlers/ActionHandler.swift
  detox/ios/DetoxXCUITestRunner/DetoxXCUITestRunner/Handlers/PredicateHandler.swift
  detox/ios/DetoxXCUITestRunner/DetoxXCUITestRunner/Params Reader/InvocationParams.swift
  detox/ios/DetoxXCUITestRunner/DetoxXCUITestRunner/Params Reader/InvocationParamsReader.swift
  detox/src/android/core/WebElement.js
  detox/src/ios/XCUITestRunner.js
  detox/src/ios/expectTwo.js
  detox/src/ios/web.js
  detox/src/matchers/factories/index.js
Owners: @asafkorem, @d4vidi, @noomorph

fix(android): assert on invalid web-matchers.
  detox/src/android/matchers/index.js
Owners: @d4vidi, @noomorph

Publish 20.23.0-smoke.1 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

wip: fix tap position
  detox/ios/DetoxXCUITestRunner/DetoxXCUITestRunner/Utils/XCUIElement+Extensions.swift
Owners: @asafkorem

Publish 20.23.0-smoke.2 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

feat: detox build --dedupe
  detox/local-cli/build.js
  detox/local-cli/build.test.js
  detox/test/package.json
  docs/cli/build.md
Owners: @d4vidi, @noomorph

fix(types): getUiDevice() type, notes
  detox/detox.d.ts
Owners: @d4vidi, @noomorph

fix(types): getUiDevice() type, notes (#4509)
  detox/detox.d.ts
Owners: @d4vidi, @noomorph

docs(webviews): make doclint happy.
  docs/api/webviews.md
Owners: @d4vidi

feat: implement XCUITest typing actions.
  detox/ios/DetoxXCUITestRunner/DetoxXCUITestRunner/Utils/XCUIElement+Extensions.swift
Owners: @asafkorem

test(app): add input field to secured iframe.
  detox/test/mock-server/mock-server.js
  detox/test/src/Screens/WebViewScreen.js
Owners: @d4vidi, @noomorph

test(e2e): add by.web.label test.
  detox/test/e2e/29.webview.test.js
Owners: @d4vidi, @noomorph

docs(webviews): add missing api (`by.web.label`).
  docs/api/webviews.md
Owners: @d4vidi

feat: add `asSecured` types.
  detox/detox.d.ts
Owners: @d4vidi, @noomorph

feat(xcuitest): pass app-under-test.
  detox/ios/DetoxXCUITestRunner/DetoxXCUITestRunner.xcodeproj/project.pbxproj
  detox/ios/DetoxXCUITestRunner/DetoxXCUITestRunner/Extensions/XCUIApplication+Extensions.swift
  detox/ios/DetoxXCUITestRunner/DetoxXCUITestRunner/Utils/Environment.swift
Owners: @asafkorem

feat: add XCUITest native log utils.
  detox/ios/DetoxXCUITestRunner/DetoxXCUITestRunner.xcodeproj/project.pbxproj
  detox/ios/DetoxXCUITestRunner/DetoxXCUITestRunner/Utils/LogUtils.swift
  detox/src/ios/XCUITestRunner.js
Owners: @asafkorem, @d4vidi, @noomorph

fix(ios): tap location for asSecured() api.
  detox/ios/DetoxXCUITestRunner/DetoxXCUITestRunner/Utils/XCUIElement+Extensions.swift
Owners: @asafkorem

docs(webviews): add `asSecured()` API.
  detox/detox.d.ts
  docs/api/webviews.md
Owners: @d4vidi, @noomorph

fix(types): prevent type coercion.
  detox/detox.d.ts
Owners: @d4vidi, @noomorph

feat: support `asSecured` web-element interactions.
  detox/ios/DetoxXCUITestRunner/DetoxXCUITestRunner/DetoxXCUITestRunner.swift
  detox/ios/DetoxXCUITestRunner/DetoxXCUITestRunner/Handlers/ActionHandler.swift
  detox/ios/DetoxXCUITestRunner/DetoxXCUITestRunner/Handlers/PredicateHandler.swift
  detox/ios/DetoxXCUITestRunner/DetoxXCUITestRunner/Params Reader/InvocationParams.swift
  detox/ios/DetoxXCUITestRunner/DetoxXCUITestRunner/Params Reader/InvocationParamsReader.swift
  detox/src/android/core/WebElement.js
  detox/src/ios/XCUITestRunner.js
  detox/src/ios/expectTwo.js
  detox/src/ios/web.js
  detox/src/matchers/factories/index.js
Owners: @asafkorem, @d4vidi, @noomorph

fix(android): assert on invalid web-matchers.
  detox/src/android/matchers/index.js
Owners: @d4vidi, @noomorph

types: add missing supported types.
  detox/detox.d.ts
Owners: @d4vidi, @noomorph

fix(types): fix secured elements types.
  detox/detox.d.ts
Owners: @d4vidi, @noomorph

fix(types): invalid code example.
  detox/detox.d.ts
Owners: @d4vidi, @noomorph

use shorthand property names on object creation
  detox/src/matchers/factories/index.js
Owners: @d4vidi, @noomorph

test(XCUITestRunner): fix unit.
  detox/src/ios/XCUITestRunner.test.js
Owners: @d4vidi, @noomorph

refactor: remove unnecessary assertion (already handled by types).
  detox/src/ios/web.js
Owners: @d4vidi, @noomorph

test: add unit tests for coverage.
  detox/src/ios/expectTwoApiCoverage.test.js
Owners: @d4vidi, @noomorph

refactor: remove unnecessary assertion, already handled by types.
  detox/src/ios/web.js
Owners: @d4vidi, @noomorph

test(secured web): add action api test.
  detox/src/ios/expectTwoApiCoverage.test.js
Owners: @d4vidi, @noomorph

test(android): expert to throw when calling asSecured for web element.
  detox/src/android/AndroidExpect.test.js
Owners: @d4vidi, @noomorph

test(e2e): add `asSecured()` tests.
  detox/test/e2e/29.webview.test.js
Owners: @d4vidi, @noomorph

test(e2e): rename `asSecured` tests.
  detox/test/e2e/29.webview.test.js
Owners: @d4vidi, @noomorph

fix(test): fix expectation.
  detox/test/e2e/36.system.test.js
Owners: @d4vidi, @noomorph

test(app): make elements accessible by XCUITest.
  detox/test/ios/example/AppDelegate.m
Owners: @asafkorem
