Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

docs: fix headings section
  docs/demo.mdx
Owners: @d4vidi

test: add resilience on Android
  detox/test/e2e/17.datePicker.test.js
Owners: @d4vidi, @noomorph

chore: cherry-pick @jonathanmos fixes
  detox/android/detox/build.gradle
  examples/demo-pure-native-android/app/build.gradle
Owners: @d4vidi, @jonathanmos

docs: rephrase demo page
  docs/contributing.md
Owners: @d4vidi

remove redundant path ./ and extra / in these files from Kobi Kadosh comments
  website/src/components/Homepage/Features/HomepageFeatures.js
  website/src/pages/index.js
Owners: @d4vidi, @noomorph

chore(issue templates): use more detailed environment description field.
  .github/ISSUE_TEMPLATE/BUG_REPORT_ANDROID.yml
  .github/ISSUE_TEMPLATE/BUG_REPORT_IOS.yml
  .github/ISSUE_TEMPLATE/BUG_REPORT_OTHER.yml
Owners: @d4vidi

remove unnecessary css file and import of flavorized code block, edit INFO admonition from using flavorized to a diff with triple backticks
  docs/demo.mdx
Owners: @d4vidi

website: resolve review comments from #3640 (#3840)
  website/src/components/Homepage/Features/HomepageFeatures.js
  website/src/pages/index.js
Owners: @d4vidi, @noomorph

revert using exclude and replace with ignorePatterns prop
  website/docusaurus.config.js
Owners: @d4vidi, @noomorph

docs: minimize the demo page
  docs/demo.mdx
Owners: @d4vidi

chore(website): revert ignorePatterns
  website/docusaurus.config.js
Owners: @d4vidi, @noomorph

fix: trim milliseconds for Android too
  detox/src/android/AndroidExpect.test.js
  detox/src/android/core/NativeElement.js
Owners: @d4vidi, @noomorph

test(e2e): remove statefulness from date picker test
  detox/test/e2e/17.datePicker.test.js
Owners: @d4vidi, @noomorph

chore(website): add /demo page for visual regression testing (#3829)
  docs/contributing.md
  docs/demo.mdx
  website/docusaurus.config.js
Owners: @d4vidi, @noomorph

fix: action description
  detox/src/android/core/NativeElement.js
Owners: @d4vidi, @noomorph

fix: device.setOrientation for iOS 16
  detox/ios/Detox.xcodeproj/project.pbxproj
  detox/ios/Detox/Actions/UIApplication+DetoxActions.swift
  detox/ios/Detox/DetoxManager.swift
Owners: @asafkorem

Fix broken link in mocking-user-notifications.md
  docs/guide/mocking-user-notifications.md
Owners: @d4vidi

handle index out of bounds error
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/InvokeHandler+Error.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/InvokeHandler.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+handleInvoke.swift
  detox/test/e2e/02.matchers.test.js
Owners: @asafkorem, @d4vidi, @noomorph

AVOID FATAL ERROR WHEN SHOULDNT
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+handleInvoke.swift
Owners: @asafkorem

traits
  detox/ios/Detox/DetoxManager.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/ExpectationDelegateProtocol.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/InvokeHandler+Error.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/InvokeHandler.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/FakeExpectationDelegate.swift
  detox/ios/DetoxTester/DetoxTester/Expectations/ExpectationDelegate.swift
  detox/ios/DetoxTester/DetoxTester/Matchers/XCUIElementQuery/XCUIElementQuery+matching.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor+Message.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor.swift
Owners: @asafkorem

with ancestor with descendant
  detox/ios/DetoxTester/DetoxTester/Matchers/XCUIElementQuery/XCUIElementQuery+matching.swift
Owners: @asafkorem

more fixes, more greens
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/ElementPattern.swift
  detox/ios/DetoxTester/DetoxTester/Expectations/ExpectationDelegate.swift
  detox/ios/DetoxTester/DetoxTester/Matchers/XCUIElementQuery/XCUIElementQuery+matching.swift
  detox/test/e2e/02.matchers.test.js
Owners: @asafkorem, @d4vidi, @noomorph

fix assert identifier
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/InvokeHandler.swift
  detox/ios/DetoxTester/DetoxTester/Expectations/ExpectationDelegate.swift
  detox/ios/DetoxTester/DetoxTester/Matchers/XCUIElementQuery/XCUIElementQuery+matching.swift
Owners: @asafkorem

Fix broken link in mocking-user-notifications.md (#3844)
  docs/guide/mocking-user-notifications.md
Owners: @d4vidi

error handling improvements
  detox/ios/DetoxTester/DetoxTester/Actions/ActionDelegate.swift
  detox/ios/DetoxTester/DetoxTester/Expectations/ExpectationDelegate.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+Error.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+handleInvoke.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+reactNativeReload.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+setSyncSettings.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+shakeDevice.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+waitFor.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor+Response.swift
  detox/ios/DetoxTester/DetoxTesterApp.xcodeproj/project.pbxproj
Owners: @asafkorem

improve error messages
  detox/ios/DetoxTester/DetoxTester/Actions/ActionDelegate.swift
  detox/ios/DetoxTester/DetoxTester/Actions/XCUIElement/XCUIElement+tap.swift
  detox/ios/DetoxTester/DetoxTester/Expectations/ExpectationDelegate.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+reactNativeReload.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+setSyncSettings.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+shakeDevice.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+waitFor.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor+Response.swift
Owners: @asafkorem

improve messages
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor+Message.swift
Owners: @asafkorem

set up text suite in website project using Percy CLI, create YAML test pages for homepage, showcase, blog and demo, light and dark modes
  website/package.json
  website/snapshots.yml
Owners: @d4vidi

build: increase minimum lodash requirement
  detox/package.json
Owners: @d4vidi

fix: incorrect session serialization
  detox/src/configuration/composeLoggerConfig.js
  detox/src/configuration/composeLoggerConfig.test.js
Owners: @d4vidi, @noomorph

build: increase minimum lodash requirement (#3852)
  detox/package.json
Owners: @d4vidi

fix: incorrect session serialization (#3851)
  detox/src/configuration/composeLoggerConfig.js
  detox/src/configuration/composeLoggerConfig.test.js
Owners: @d4vidi, @noomorph

Publish 20.1.2 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Publish docs version 20.x
  website/versioned_docs/version-20.x/contributing.md
  website/versioned_docs/version-20.x/demo.mdx
  website/versioned_docs/version-20.x/guide/mocking-user-notifications.md
Owners: @d4vidi

better tap
  detox/ios/DetoxTester/DetoxTester/Actions/XCUIElement/XCUIElement+tap.swift
Owners: @asafkorem

yeah it doesn't work. dammit
  detox/test/e2e/03.actions.test.js
Owners: @d4vidi, @noomorph

missing colon
  detox/test/e2e/03.actions.test.js
Owners: @d4vidi, @noomorph

test(website): visual regression test suite (#3847)
  website/package.json
  website/snapshots.yml
Owners: @d4vidi

React Native is buggy and SLOW AS HELL.
  detox/ios/DetoxTester/DetoxTester/Actions/XCUIElement/XCUIElement+Keyboard.swift
Owners: @asafkorem

error handling
  detox/ios/DetoxTester/DetoxTester/Actions/XCUIElement/XCUIElement+Error.swift
  detox/ios/DetoxTester/DetoxTester/Actions/XCUIElement/XCUIElement+Keyboard.swift
Owners: @asafkorem

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem
