Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem

Daemon: Add preliminary ADB server-start in Genycloud (#4527)
  detox/src/devices/allocation/DeviceAllocator.js
  detox/src/devices/allocation/drivers/android/genycloud/GenyAllocDriver.js
  detox/src/devices/common/drivers/android/exec/ADB.js
  detox/src/devices/common/drivers/android/exec/ADB.test.js
  detox/src/realms/DetoxPrimaryContext.js
Owners: @d4vidi, @noomorph

Publish 20.25.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Moved to pixel 3a api 34
  detox/test/e2e/assets/elementScreenshot.horiz.android.png
  detox/test/e2e/assets/elementScreenshot.vert.android.png
  detox/test/e2e/assets/focus-on-content-editable-webview.android.png
  detox/test/e2e/assets/focus-on-input-webview.android.png
  detox/test/e2e/assets/move-cursor-to-end-content-editable-webview.android.png
  detox/test/e2e/assets/move-cursor-to-end-webview.android.png
  detox/test/e2e/assets/scroll-to-view-webview.android.png
  detox/test/e2e/assets/select-all-text-in-content-editable-webview.android.png
  detox/test/e2e/assets/select-all-text-in-webview.android.png
  detox/test/e2e/detox.config.js
  scripts/ci.android.sh
Owners: @d4vidi, @noomorph

Moved to pixel 3a api 34
  detox/test/e2e/assets/focus-on-content-editable-webview.android.png
  detox/test/e2e/assets/focus-on-input-webview.android.png
  detox/test/e2e/assets/move-cursor-to-end-content-editable-webview.android.png
  detox/test/e2e/assets/move-cursor-to-end-webview.android.png
  detox/test/e2e/assets/select-all-text-in-content-editable-webview.android.png
  detox/test/e2e/assets/select-all-text-in-webview.android.png
Owners: @d4vidi

Fixed tests
  detox/android/detox/src/testFull/java/com/wix/detox/espresso/scroll/ScrollHelperTest.kt
Owners: @d4vidi, @jonathanmos

Genycloud debug: ADB devices dump before each adbconnect retry
  detox/src/devices/allocation/drivers/android/genycloud/exec/GenyCloudExec.js
  detox/src/devices/allocation/drivers/android/genycloud/exec/GenyCloudExec.test.js
  detox/src/devices/allocation/drivers/android/genycloud/services/GenyInstanceLifecycleService.js
  detox/src/devices/allocation/drivers/android/genycloud/services/GenyInstanceLifecycleService.test.js
  detox/src/devices/allocation/factories/android.js
  detox/src/devices/common/drivers/android/exec/ADB.js
  detox/src/devices/common/drivers/android/exec/ADB.test.js
Owners: @d4vidi, @noomorph

test new emul
  .buildkite/jobs/pipeline.android_rn_71.yml
  .buildkite/jobs/pipeline.android_rn_73.yml
  scripts/ci.android.sh
Owners: @d4vidi, @noomorph

Genycloud debug: ADB devices dump before each adbconnect retry (#4529)
  detox/src/devices/allocation/drivers/android/genycloud/exec/GenyCloudExec.js
  detox/src/devices/allocation/drivers/android/genycloud/exec/GenyCloudExec.test.js
  detox/src/devices/allocation/drivers/android/genycloud/services/GenyInstanceLifecycleService.js
  detox/src/devices/allocation/drivers/android/genycloud/services/GenyInstanceLifecycleService.test.js
  detox/src/devices/allocation/factories/android.js
  detox/src/devices/common/drivers/android/exec/ADB.js
  detox/src/devices/common/drivers/android/exec/ADB.test.js
Owners: @d4vidi, @noomorph

Moved to pixel 3a api 34
  detox/test/e2e/assets/focus-on-content-editable-webview.android.png
  detox/test/e2e/assets/focus-on-input-webview.android.png
  detox/test/e2e/assets/move-cursor-to-end-content-editable-webview.android.png
  detox/test/e2e/assets/move-cursor-to-end-webview.android.png
  detox/test/e2e/assets/select-all-text-in-content-editable-webview.android.png
  detox/test/e2e/assets/select-all-text-in-webview.android.png
Owners: @d4vidi

Moved to pixel 3a api 34
  detox/test/e2e/assets/elementScreenshot.horiz.android.png
  detox/test/e2e/assets/elementScreenshot.vert.android.png
  detox/test/e2e/assets/focus-on-content-editable-webview.android.png
  detox/test/e2e/assets/focus-on-input-webview.android.png
  detox/test/e2e/assets/move-cursor-to-end-content-editable-webview.android.png
  detox/test/e2e/assets/move-cursor-to-end-webview.android.png
  detox/test/e2e/assets/scroll-to-view-webview.android.png
  detox/test/e2e/assets/select-all-text-in-content-editable-webview.android.png
  detox/test/e2e/assets/select-all-text-in-webview.android.png
  detox/test/e2e/detox.config.js
  scripts/ci.android.sh
Owners: @d4vidi, @noomorph

Migrate to Emulator 34 Fixed scrolling bugs Fixed some tests Upgraded the location library
  detox/android/detox/src/main/java/com/wix/detox/espresso/scroll/ScrollHelper.java
  detox/test/e2e/16.location.test.js
  detox/test/e2e/assets/elementScreenshot.android.vert.png
  detox/test/e2e/assets/elementScreenshot.horiz.android.png
  detox/test/e2e/assets/elementScreenshot.vert.android.png
  detox/test/e2e/assets/focus-on-content-editable-webview.android.png
  detox/test/e2e/assets/focus-on-input-webview.android.png
  detox/test/e2e/assets/move-cursor-to-end-content-editable-webview.android.png
  detox/test/e2e/assets/move-cursor-to-end-webview.android.png
  detox/test/e2e/assets/scroll-to-view-webview.android.png
  detox/test/e2e/assets/select-all-text-in-content-editable-webview.android.png
  detox/test/e2e/assets/select-all-text-in-webview.android.png
  detox/test/e2e/detox.config.js
  detox/test/package.json
Owners: @d4vidi, @jonathanmos, @noomorph

FIxed broken test
  detox/test/e2e/33.attributes.test.js
Owners: @d4vidi, @noomorph

Fixed tests
  detox/android/detox/src/testFull/java/com/wix/detox/espresso/scroll/ScrollHelperTest.kt
Owners: @d4vidi, @jonathanmos

Fixed test
  detox/test/e2e/03.actions.test.js
Owners: @d4vidi, @noomorph

Publish 20.25.1 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

emul tests first
  scripts/ci.android.sh
Owners: @d4vidi, @noomorph

Fixed tests
  detox/test/e2e/33.attributes.test.js
Owners: @d4vidi, @noomorph

Fixed tests
  detox/test/e2e/assets/elementScreenshot.horiz.android.png
  detox/test/e2e/assets/elementScreenshot.vert.android.png
Owners: @d4vidi

Updated to test butler
  detox/test/e2e/detox.config.js
Owners: @d4vidi, @noomorph

Changed detached
  detox/test/e2e/detox.config.js
Owners: @d4vidi, @noomorph

Enabled android scripts
  detox/test/e2e/detox.config.js
  scripts/ci.android.sh
Owners: @d4vidi, @noomorph

Android: Run tests on new emulators with api 34 (#4528)
  detox/android/detox/src/main/java/com/wix/detox/espresso/scroll/ScrollHelper.java
  detox/android/detox/src/testFull/java/com/wix/detox/espresso/scroll/ScrollHelperTest.kt
  detox/test/e2e/03.actions.test.js
  detox/test/e2e/16.location.test.js
  detox/test/e2e/33.attributes.test.js
  detox/test/e2e/assets/elementScreenshot.android.horiz.png
  detox/test/e2e/assets/elementScreenshot.android.vert.png
  detox/test/e2e/assets/focus-on-content-editable-webview.android.png
  detox/test/e2e/assets/focus-on-input-webview.android.png
  detox/test/e2e/assets/move-cursor-to-end-content-editable-webview.android.png
  detox/test/e2e/assets/move-cursor-to-end-webview.android.png
  detox/test/e2e/assets/scroll-to-view-webview.android.png
  detox/test/e2e/assets/select-all-text-in-content-editable-webview.android.png
  detox/test/e2e/assets/select-all-text-in-webview.android.png
  detox/test/e2e/detox.config.js
  detox/test/package.json
Owners: @d4vidi, @jonathanmos, @noomorph

add tap android and basic test
  detox/detox.d.ts
  detox/src/devices/runtime/RuntimeDevice.js
  detox/src/devices/runtime/RuntimeDevice.test.js
  detox/src/devices/runtime/drivers/DeviceDriverBase.js
  detox/src/devices/runtime/drivers/android/AndroidDriver.js
  detox/test/e2e/06.device.test.js
  detox/test/src/Screens/DeviceTapScreen.tsx
  detox/test/src/Screens/index.js
  detox/test/src/app.js
Owners: @d4vidi, @noomorph

update tests
  detox/detox.d.ts
  detox/src/devices/runtime/drivers/android/AndroidDriver.js
  detox/test/e2e/06.device.test.js
  detox/test/src/Screens/DeviceTapScreen.tsx
Owners: @d4vidi, @noomorph

remove only from test
  detox/test/e2e/06.device.test.js
Owners: @d4vidi, @noomorph

Used detox butler instead of test butler
  detox/test/android/app/build.gradle
  detox/test/android/app/src/androidTest/java/com/example/DetoxTestAppJUnitRunner.java
  detox/test/android/app/src/androidTest/java/com/example/TestButlerProbe.java
  detox/test/android/app/src/main/AndroidManifest.xml
  detox/test/e2e/detox.config.js
Owners: @d4vidi, @jonathanmos, @noomorph

Use genymotion image without testbutler
  detox/test/e2e/detox.config.js
Owners: @d4vidi, @noomorph

Upgraded to the latest version of butler
  detox/test/android/app/build.gradle
Owners: @d4vidi, @jonathanmos

Fixes for PR
  detox/test/android/app/build.gradle
  detox/test/android/app/src/androidTest/java/com/example/TestButlerProbe.java
Owners: @d4vidi, @jonathanmos

Updated min sdk
  detox/test/android/build.gradle
Owners: @d4vidi, @jonathanmos

fix(types): add `sourceApp` parameter for `launchApp` API.
  detox/detox.d.ts
Owners: @d4vidi, @noomorph

Add detox butler apk
  detox/test/e2e/util-binary/detoxbutler-1.0.4-aosp-release.apk
  detox/test/e2e/util-binary/detoxbutler-1.0.4-genymotion-release.apk
Owners: @d4vidi

add long press api
  detox/android/detox/src/full/java/com/wix/detox/espresso/EspressoDetox.java
  detox/detox.d.ts
  detox/src/android/espressoapi/EspressoDetox.js
  detox/src/devices/runtime/RuntimeDevice.js
  detox/src/devices/runtime/RuntimeDevice.test.js
  detox/src/devices/runtime/drivers/android/AndroidDriver.js
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
  detox/test/e2e/06.device.test.js
  detox/test/src/Screens/DeviceTapScreen.tsx
  detox/test/src/app.js
Owners: @d4vidi, @jonathanmos, @noomorph

ios changes planning
  detox/ios/DetoxXCUITestRunner/DetoxXCUITestRunner/DetoxXCUITestRunner.swift
  detox/ios/DetoxXCUITestRunner/DetoxXCUITestRunner/Handlers/ActionHandler.swift
  detox/ios/DetoxXCUITestRunner/DetoxXCUITestRunner/Params Reader/InvocationParams.swift
  detox/src/devices/runtime/RuntimeDevice.js
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
  detox/src/ios/XCUITestRunner.js
  detox/src/matchers/factories/index.js
Owners: @asafkorem, @d4vidi, @noomorph

android api improvements
  detox/android/detox/src/full/java/com/wix/detox/espresso/EspressoDetox.java
  detox/detox.d.ts
  detox/src/devices/runtime/drivers/android/AndroidDriver.js
Owners: @d4vidi, @jonathanmos, @noomorph

improve decleration
  detox/detox.d.ts
Owners: @d4vidi, @noomorph

clean
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
Owners: @d4vidi, @noomorph

some cleanup
  detox/android/detox/src/full/java/com/wix/detox/espresso/EspressoDetox.java
  detox/detox.d.ts
  detox/src/devices/runtime/RuntimeDevice.test.js
Owners: @d4vidi, @jonathanmos, @noomorph

map arguments'
  detox/detox.d.ts
  detox/src/devices/runtime/RuntimeDevice.js
Owners: @d4vidi, @noomorph

Fixed tests coverage
  detox/src/devices/allocation/DeviceAllocator.test.js
Owners: @d4vidi, @noomorph
