Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem

set recording state
  detox/ios/Detox/DetoxManager.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/DetoxServerMessageSenderProtocol.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+setRecordingState.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor+Message.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor.swift
  detox/ios/DetoxTester/DetoxTesterApp.xcodeproj/project.pbxproj
Owners: @asafkorem

project file changes
  detox/test/ios/example.xcodeproj/project.pbxproj
Owners: @asafkorem

wip
  detox/test/e2e/35.overlay.test.js
Owners: @d4vidi, @noomorph

missing call
  detox/ios/Detox/DetoxManager.swift
  detox/ios/DetoxTester/DetoxTester/Tester/DetoxTester.swift
Owners: @asafkorem

urls
  detox/ios/Detox/DetoxManager.swift
Owners: @asafkorem

this is a damn long test now (longpress+drag), but pass
  detox/ios/DetoxTester/DetoxTester/Actions/ActionDelegate.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor.swift
  detox/test/e2e/28.drag-and-drop.test.js
  detox/test/ios/DragDropTableViewController.m
Owners: @asafkorem, @d4vidi, @noomorph

refactor(cli): make init consistent with docs
  detox/local-cli/init.js
Owners: @d4vidi, @noomorph

fix(cli): build command template (#3961)
  detox/local-cli/init.js
Owners: @d4vidi, @noomorph

ci(github): update and optimize flows
  .github/workflows/broken-links-scan.yml
  .github/workflows/docs.yml
  .github/workflows/rapid-test.yml
  .github/workflows/website.yml
  detox/test/.eslintignore
  scripts/ci.android.sh
  scripts/ci.ios.sh
  scripts/ci.sh
  scripts/upload_artifact.sh
Owners: @d4vidi, @noomorph

ci(github): update and optimize flows (#3969)
  .github/workflows/broken-links-scan.yml
  .github/workflows/docs.yml
  .github/workflows/rapid-test.yml
  .github/workflows/website.yml
  detox/test/.eslintignore
  scripts/ci.android.sh
  scripts/ci.ios.sh
  scripts/ci.sh
  scripts/upload_artifact.sh
Owners: @d4vidi, @noomorph

feat(cli): detox start, detox test --start
  detox/__tests__/helpers.js
  detox/__tests__/setupJest.js
  detox/index.d.ts
  detox/local-cli/cli.js
  detox/local-cli/start.js
  detox/local-cli/start.test.js
  detox/local-cli/startCommand/AppStartCommand.js
  detox/local-cli/test.test.js
  detox/local-cli/testCommand/TestRunnerCommand.js
  detox/local-cli/testCommand/builder.js
  detox/package.json
  detox/src/configuration/collectCliConfig.js
  detox/src/configuration/collectCliConfig.test.js
  detox/test/e2e/detox.config.js
  docs/cli/start.md
  docs/cli/test.md
  docs/config/apps.mdx
  examples/demo-react-native/detox.config.js
  examples/demo-react-native/index.ios.js
  examples/demo-react-native/ios/example/AppDelegate.m
  examples/demo-react-native/scripts/start-rn.sh
  scripts/demo-projects.android.sh
  scripts/demo-projects.ios.sh
Owners: @d4vidi, @noomorph, @asafkorem

feat(cli): detox start, detox test --start (#3766)
  detox/__tests__/helpers.js
  detox/__tests__/setupJest.js
  detox/index.d.ts
  detox/local-cli/cli.js
  detox/local-cli/start.js
  detox/local-cli/start.test.js
  detox/local-cli/startCommand/AppStartCommand.js
  detox/local-cli/test.test.js
  detox/local-cli/testCommand/TestRunnerCommand.js
  detox/local-cli/testCommand/builder.js
  detox/package.json
  detox/src/configuration/collectCliConfig.js
  detox/src/configuration/collectCliConfig.test.js
  detox/test/e2e/detox.config.js
  docs/cli/start.md
  docs/cli/test.md
  docs/config/apps.mdx
  examples/demo-react-native/detox.config.js
  examples/demo-react-native/index.ios.js
  examples/demo-react-native/ios/example/AppDelegate.m
  examples/demo-react-native/scripts/start-rn.sh
  scripts/demo-projects.android.sh
  scripts/demo-projects.ios.sh
Owners: @d4vidi, @noomorph, @asafkorem

docs: add start command
  docs/cli/test.md
  website/sidebars.js
Owners: @d4vidi, @noomorph

Publish 20.5.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Publish docs version 20.x
  website/versioned_docs/version-20.x/cli/start.md
  website/versioned_docs/version-20.x/cli/test.md
  website/versioned_docs/version-20.x/config/apps.mdx
  website/versioned_sidebars/version-20.x-sidebars.json
Owners: @d4vidi

remove performAccessibilityAction Android default
  detox/src/android/AndroidExpect.test.js
  detox/src/android/core/NativeElement.js
Owners: @d4vidi, @noomorph

use it.each in performAccessibilityAction e2e test
  detox/test/e2e/03.actions.test.js
Owners: @d4vidi, @noomorph

fix
  detox/ios/DetoxTester/DetoxTester/Tester/DetoxTester.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/DetoxServerMessageSenderProtocol.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Utils/Web Socket Server/WebSocketServer.swift
  detox/src/client/Client.js
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
  detox/src/devices/runtime/drivers/ios/XCUITestUtils.js
  detox/src/utils/childProcess/exec.js
  detox/test/e2e/19.crash-handling.test.js
Owners: @asafkorem, @d4vidi, @noomorph

wip
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+isReady.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor.swift
  detox/ios/DetoxTester/DetoxTesterApp.xcodeproj/project.pbxproj
Owners: @asafkorem

wip
  detox/test/e2e/19.crash-handling.test.js
Owners: @d4vidi, @noomorph

change DetoxTester.xcworkspace dir
  detox/src/devices/runtime/drivers/ios/XCUITestUtils.js
Owners: @d4vidi, @noomorph

remove old dtxmanager
  detox/ios/Detox.xcodeproj/project.pbxproj
  detox/ios/Detox/DetoxManager_OLD.swift
Owners: @asafkorem

remove obsolete code
  detox/ios/Detox.xcodeproj/project.pbxproj
  detox/ios/Detox/Invocation/Action.swift
  detox/ios/Detox/Invocation/Element.swift
  detox/ios/Detox/Invocation/Expectation.swift
  detox/ios/Detox/Invocation/InvocationManager.swift
  detox/ios/Detox/Invocation/Modifier.swift
  detox/ios/Detox/Invocation/Predicate.swift
Owners: @asafkorem

cleanups
  detox/ios/Detox.xcodeproj/project.pbxproj
  detox/ios/Detox/Actions/UIDevice+DetoxActions.h
  detox/ios/Detox/Actions/UIDevice+DetoxActions.m
  detox/ios/Detox/Actions/UIPickerView+DetoxActions.h
  detox/ios/Detox/Actions/UIPickerView+DetoxActions.m
  detox/ios/Detox/Actions/UIScrollView+DetoxActions.h
  detox/ios/Detox/Actions/UIScrollView+DetoxActions.m
  detox/ios/Detox/Detox.modulemap
  detox/ios/Detox/Utilities/DTXDurationFormatter.h
  detox/ios/Detox/Utilities/DTXDurationFormatter.m
Owners: @asafkorem, @d4vidi

cleanup
  detox/ios/Detox.xcodeproj/project.pbxproj
  detox/ios/Detox/Actions/UIApplication+DetoxActions.swift
Owners: @asafkorem

extract script file
  detox/src/devices/runtime/drivers/ios/XCUITestUtils.js
  detox/src/devices/runtime/drivers/ios/allowNetworkPermissionsXCUITest.scpt
Owners: @d4vidi, @noomorph

try new permission mechanism
  detox/src/devices/runtime/drivers/ios/XCUITestUtils.js
Owners: @d4vidi, @noomorph

reset currentStatus message timeout to default 5000s
  detox/src/client/actions/actions.js
Owners: @d4vidi, @noomorph

trying to solve non-asafk
  detox/ios/DetoxTester/DetoxTesterApp.xcodeproj/project.pbxproj
  detox/ios/DetoxTester/DetoxTesterApp/Assets.xcassets/AppIcon.appiconset/100.png
  detox/ios/DetoxTester/DetoxTesterApp/Assets.xcassets/AppIcon.appiconset/1024.png
  detox/ios/DetoxTester/DetoxTesterApp/Assets.xcassets/AppIcon.appiconset/114.png
  detox/ios/DetoxTester/DetoxTesterApp/Assets.xcassets/AppIcon.appiconset/120.png
  detox/ios/DetoxTester/DetoxTesterApp/Assets.xcassets/AppIcon.appiconset/144.png
  detox/ios/DetoxTester/DetoxTesterApp/Assets.xcassets/AppIcon.appiconset/152.png
  detox/ios/DetoxTester/DetoxTesterApp/Assets.xcassets/AppIcon.appiconset/167.png
  detox/ios/DetoxTester/DetoxTesterApp/Assets.xcassets/AppIcon.appiconset/180.png
  detox/ios/DetoxTester/DetoxTesterApp/Assets.xcassets/AppIcon.appiconset/20.png
  detox/ios/DetoxTester/DetoxTesterApp/Assets.xcassets/AppIcon.appiconset/29.png
  detox/ios/DetoxTester/DetoxTesterApp/Assets.xcassets/AppIcon.appiconset/40.png
  detox/ios/DetoxTester/DetoxTesterApp/Assets.xcassets/AppIcon.appiconset/50.png
  detox/ios/DetoxTester/DetoxTesterApp/Assets.xcassets/AppIcon.appiconset/57.png
  detox/ios/DetoxTester/DetoxTesterApp/Assets.xcassets/AppIcon.appiconset/58.png
  detox/ios/DetoxTester/DetoxTesterApp/Assets.xcassets/AppIcon.appiconset/60.png
  detox/ios/DetoxTester/DetoxTesterApp/Assets.xcassets/AppIcon.appiconset/72.png
  detox/ios/DetoxTester/DetoxTesterApp/Assets.xcassets/AppIcon.appiconset/76.png
  detox/ios/DetoxTester/DetoxTesterApp/Assets.xcassets/AppIcon.appiconset/80.png
  detox/ios/DetoxTester/DetoxTesterApp/Assets.xcassets/AppIcon.appiconset/87.png
  detox/ios/DetoxTester/DetoxTesterApp/Assets.xcassets/AppIcon.appiconset/Contents.json
Owners: @asafkorem, @d4vidi

tests: Improve quality of testing over Detox assertions (expects etc.)
  detox/src/android/AndroidExpect.test.js
  detox/src/android/core/NativeMatcher.js
  detox/src/ios/expectTwo.test.js
  detox/test/e2e/04.assertions.test.js
  detox/test/src/Screens/AssertionsScreen.js
Owners: @d4vidi, @noomorph

fix(e2e): Assertions
  detox/test/e2e/04.assertions.test.js
Owners: @d4vidi, @noomorph

rename DetoxAccessibilityAction.java to .kt
  detox/android/detox/src/full/java/com/wix/detox/espresso/action/DetoxAccessibilityAction.kt
Owners: @d4vidi, @jonathanmos

update DetoxAccessibilityAction to kotlin
  detox/android/detox/src/full/java/com/wix/detox/espresso/action/DetoxAccessibilityAction.kt
Owners: @d4vidi, @jonathanmos

ci(github): fix percy check
  website/percy.mjs
Owners: @d4vidi

track instrumentation process based on cloudPlatform api response
  detox/src/devices/runtime/drivers/android/cloud/cloudAndroidDriver.js
Owners: @d4vidi, @noomorph

fix: randomize session.id between runs
  detox/src/DetoxWorker.js
  detox/src/client/Client.js
  detox/src/client/Client.test.js
  detox/src/devices/runtime/RuntimeDevice.js
  detox/src/devices/runtime/RuntimeDevice.test.js
Owners: @d4vidi, @noomorph

tests: Improve quality of testing over Detox assertions (expects etc.) (#3979)
  detox/src/android/AndroidExpect.test.js
  detox/src/android/core/NativeMatcher.js
  detox/src/ios/expectTwo.test.js
  detox/test/e2e/04.assertions.test.js
  detox/test/src/Screens/AssertionsScreen.js
Owners: @d4vidi, @noomorph

ci(buildkite): fix allure reports
  detox/test/e2e/jest.config.js
Owners: @d4vidi, @noomorph

test(e2e): delete redundant suite
  detox/test/e2e/10.async-and-callbacks.test.js
Owners: @d4vidi, @noomorph

test(e2e): add failing RTL text matchers
  detox/test/e2e/01.sanity.test.js
  detox/test/src/Screens/SanityScreen.js
Owners: @d4vidi, @noomorph
