Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

Fixed linter
  detox/.eslintrc.js
Owners: @d4vidi, @noomorph

Fixed lint
  detox/test/e2e/03.actions.test.js
Owners: @d4vidi, @noomorph

fix(ios): streaming parsing for applesimutils --list
  detox/src/devices/common/drivers/ios/tools/AppleSimUtils.js
  detox/src/utils/argparse.js
  detox/src/utils/argparse.test.js
Owners: @d4vidi, @noomorph

add logProps for debugging purposes
  detox/ios/DetoxTester/DetoxTester/Actions/XCUIElement/XCUIElement+logProperties.swift
  detox/ios/DetoxTester/DetoxTesterApp.xcodeproj/project.pbxproj
Owners: @asafkorem

add keyboard focus attribute
  detox/ios/DetoxTester/DetoxTester/Actions/XCUIElement/ElementAttributes.swift
  detox/ios/DetoxTester/DetoxTester/Actions/XCUIElement/XCUIElement+getAttributes.swift
Owners: @asafkorem

fix interface name
  detox/ios/DetoxTester/DetoxTester/Actions/XCUIElement/XCUIElement+Keyboard.swift
Owners: @asafkorem

Run on java 17 with gradle 8
  .buildkite/jobs/pipeline.android_demo_app_rn_71.yml
  .buildkite/jobs/pipeline.android_demo_app_rn_72.yml
  .buildkite/jobs/pipeline.android_rn_71.yml
  .buildkite/jobs/pipeline.android_rn_72.yml
  detox/android/detox/build.gradle
  detox/android/gradle/wrapper/gradle-wrapper.properties
  detox/test/android/build.gradle
  detox/test/android/gradle/wrapper/gradle-wrapper.properties
  examples/demo-react-native/android/gradle.properties
  examples/demo-react-native/android/gradle/wrapper/gradle-wrapper.properties
Owners: @d4vidi, @jonathanmos

Revert "Run on java 17 with gradle 8"
  .buildkite/jobs/pipeline.android_demo_app_rn_71.yml
  .buildkite/jobs/pipeline.android_demo_app_rn_72.yml
  .buildkite/jobs/pipeline.android_rn_71.yml
  .buildkite/jobs/pipeline.android_rn_72.yml
  detox/android/detox/build.gradle
  detox/android/gradle/wrapper/gradle-wrapper.properties
  detox/test/android/build.gradle
  detox/test/android/gradle/wrapper/gradle-wrapper.properties
  examples/demo-react-native/android/gradle.properties
  examples/demo-react-native/android/gradle/wrapper/gradle-wrapper.properties
Owners: @d4vidi, @jonathanmos

Added slider to package.json
  detox/package.json
Owners: @d4vidi

Try to fix ios
  detox/test/ios/Podfile
Owners: @asafkorem

Fixed lint
  detox/.eslintrc.js
  detox/test/e2e/03.actions.test.js
Owners: @d4vidi, @noomorph

Fixed tests for ios
  detox/test/ios/Podfile
Owners: @asafkorem

Another attept to fix a build
  detox/test/ios/Podfile
Owners: @asafkorem

Fixed pod file
  detox/test/ios/Podfile
Owners: @asafkorem

Undo changes
  detox/test/ios/example.xcodeproj/project.pbxproj
Owners: @asafkorem

Fixed documentation
  docs/introduction/partials/_getting-started-rn.md
Owners: @d4vidi

Fixed build for ios
  detox/test/ios/Podfile
Owners: @asafkorem

Fixes after MR
  .buildkite/jobs/pipeline.android_rn_71.yml
  detox/android/detox/src/testFull/java/com/wix/detox/espresso/action/GetAttributesActionTest.kt
  detox/android/rninfo.gradle
  detox/test/e2e/03.actions.test.js
  detox/test/e2e/33.attributes.test.js
  detox/test/e2e/detox.config-android.js
  detox/test/e2e/utils/custom-it.js
  detox/test/e2e/utils/rn-consts/rn-consts.js
  detox/test/ios/Podfile
  detox/test/src/Screens/ActionsScreen.js
  detox/test/src/Screens/AttributesScreen.js
  examples/demo-react-native/android/settings.gradle
  examples/demo-react-native/ios/Podfile
Owners: @d4vidi, @jonathanmos, @noomorph, @asafkorem

Fixed lint
  detox/test/e2e/utils/custom-it.js
Owners: @d4vidi, @noomorph

Fixed build
  detox/test/e2e/33.attributes.test.js
  detox/test/e2e/utils/custom-it.js
  detox/test/src/Screens/ActionsScreen.js
  detox/test/src/Screens/AttributesScreen.js
Owners: @d4vidi, @noomorph

add logging
  detox/ios/DetoxTester/DetoxTester/Actions/Utils/XCPointerEventPath+Optimize.m
  detox/ios/DetoxTester/DetoxTester/Actions/XCUIElement/XCUIElement+logProperties.swift
Owners: @asafkorem

Publish 20.17.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Publish docs version 20.x
  website/versioned_docs/version-20.x/introduction/partials/_getting-started-rn.md
Owners: @d4vidi

wip - make keyboard tests pass
  detox/ios/Detox/DetoxManager.swift
  detox/ios/DetoxTester/DetoxTester/Actions/ActionDelegate.swift
  detox/ios/DetoxTester/DetoxTester/Actions/XCUIElement/XCUIElement+Keyboard.swift
  detox/ios/DetoxTester/DetoxTester/Actions/XCUIElement/XCUIElement+getAttributes.swift
  detox/ios/DetoxTester/DetoxTester/Expectations/ExpectationDelegate.swift
  detox/ios/DetoxTester/DetoxTester/Expectations/XCUIElement/XCUIElement+assertions.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor+Message.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor.swift
Owners: @asafkorem

fix remove text
  detox/ios/DetoxTester/DetoxTester/Actions/ActionDelegate.swift
  detox/ios/DetoxTester/DetoxTester/Actions/XCUIElement/XCUIElement+Error.swift
  detox/ios/DetoxTester/DetoxTester/Actions/XCUIElement/XCUIElement+Keyboard.swift
  detox/ios/DetoxTester/DetoxTester/Web/WebActionDelegate.swift
Owners: @asafkorem

wip
  detox/ios/DetoxTester/DetoxTester/Actions/XCUIElement/XCUIElement+Keyboard.swift
  detox/ios/DetoxTester/DetoxTester/Web/WebActionDelegate.swift
Owners: @asafkorem

fixes
  detox/ios/DetoxTester/DetoxTester/Actions/Utils/XCPointerEventPath+Optimize.m
  detox/test/src/Screens/MatchersScreen.js
Owners: @asafkorem, @d4vidi, @noomorph

docs(env-setup): Ref to proprietary android guide
  docs/introduction/environment-setup.md
Owners: @d4vidi

docs(env-setup): Ref to proprietary android guide (#4356)
  docs/introduction/environment-setup.md
Owners: @d4vidi

Update environment-setup.md
  docs/introduction/environment-setup.md
Owners: @d4vidi

feat: scroll to edge with params
  detox/ios/Detox/Utilities/UIView+DetoxSpeedup.m
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/Action.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/InvokeHandler.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/FakeWebActionDelegate.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/InvokeHandlerActionSpec.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/MessageActionSpec.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/MessageBuilder+action.swift
  detox/ios/DetoxTester/DetoxTester/Actions/XCUIElement/XCUIElement+scroll.swift
  detox/ios/DetoxTester/DetoxTester/Unit Tests/Actions/PinchTests.swift
  detox/ios/DetoxTester/DetoxTester/Unit Tests/Actions/ScrollTests.swift
  detox/ios/DetoxTester/DetoxTester/Unit Tests/Actions/SliderTests.swift
  detox/ios/DetoxTester/DetoxTester/Unit Tests/Actions/WebViewTests.swift
  detox/test/e2e/03.actions-scroll.test.js
Owners: @asafkorem, @d4vidi, @noomorph

fix: find *.cjs configs
  detox/src/configuration/__mocks__/configuration/cjs/.detoxrc.cjs
  detox/src/configuration/loadExternalConfig.js
  detox/src/configuration/loadExternalConfig.test.js
Owners: @d4vidi, @noomorph

fix: find *.cjs configs (#4358)
  detox/src/configuration/__mocks__/configuration/cjs/.detoxrc.cjs
  detox/src/configuration/loadExternalConfig.js
  detox/src/configuration/loadExternalConfig.test.js
Owners: @d4vidi, @noomorph

Publish 20.17.1 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Publish docs version 20.x
  website/versioned_docs/version-20.x/introduction/environment-setup.md
Owners: @d4vidi

wip
  detox/test/ios/example.xcodeproj/project.pbxproj
  examples/demo-react-native/ios/example.xcodeproj/project.pbxproj
Owners: @asafkorem

add process-trace script
  scripts/process-trace.js
Owners: @d4vidi, @noomorph

chore: update Allure integration
  detox/package.json
  detox/test/package.json
  generation/package.json
Owners: @d4vidi

chore: update Allure integration (#4364)
  detox/package.json
  detox/test/package.json
  generation/package.json
Owners: @d4vidi

fix(ios): track hierarchy artifacts
  detox/src/artifacts/uiHierarchy/IosUIHierarchyPlugin.js
  detox/src/artifacts/uiHierarchy/IosUIHierarchyPlugin.test.js
Owners: @d4vidi, @noomorph

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem
