Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem

build: fix android aar publishing
  scripts/ci.android-release.js
Owners: @d4vidi, @noomorph

build: fix android versioning
  scripts/utils/releaseArgs.js
Owners: @d4vidi, @noomorph

Publish 20.46.3 [ci skip]
  detox-cli/package.json
  detox/package.json
  package.json
Owners: @d4vidi

First attempt to upgrade to RN 83
  .buildkite/jobs/pipeline.android_demo_app_rn_82.yml
  .buildkite/jobs/pipeline.android_demo_app_rn_83.yml
  .buildkite/jobs/pipeline.android_rn_82.yml
  .buildkite/jobs/pipeline.android_rn_83.yml
  .buildkite/jobs/pipeline.ios_demo_app_rn_83.yml
  .buildkite/jobs/pipeline.ios_rn_83.yml
  .buildkite/pipeline_common.sh
  .yarn/releases/yarn-4.12.0.cjs
  .yarnrc.yml
  detox/package.json
  detox/test/ios/example.xcodeproj/project.pbxproj
  detox/test/package.json
  examples/demo-react-native/package.json
Owners: @d4vidi, @noomorph, @asafkorem

Redo yarn rc minimal age
  .yarnrc.yml
Owners: @d4vidi

Fixed pod install
  examples/demo-react-native/ios/example.xcodeproj/project.pbxproj
Owners: @asafkorem

yarn lock
  yarn.lock
Owners: @d4vidi

Update React Native compatibility range in README
  README.md
Owners: @d4vidi

ci: move github actions to npq and yarn
  .github/workflows/broken-links-scan.yml
  .github/workflows/docs.yml
  .github/workflows/rapid-test.yml
  .github/workflows/surge-purge.yml
  .github/workflows/website.yml
  package.json
  yarn.lock
Owners: @d4vidi

ci: move github actions to npq and yarn (#4896)
  .github/workflows/broken-links-scan.yml
  .github/workflows/docs.yml
  .github/workflows/rapid-test.yml
  .github/workflows/surge-purge.yml
  .github/workflows/website.yml
  package.json
  yarn.lock
Owners: @d4vidi

ci(github): unite dry and regular yarn installation
  .github/workflows/broken-links-scan.yml
  .github/workflows/docs.yml
  .github/workflows/rapid-test.yml
  .github/workflows/surge-purge.yml
  .github/workflows/website.yml
Owners: @d4vidi

ci(github): unite dry and regular yarn installation (#4899)
  .github/workflows/broken-links-scan.yml
  .github/workflows/docs.yml
  .github/workflows/rapid-test.yml
  .github/workflows/surge-purge.yml
  .github/workflows/website.yml
Owners: @d4vidi

feat: default app permissions
  detox/detox.d.ts
  detox/src/configuration/composeAppsConfig.js
  detox/src/configuration/composeAppsConfig.test.js
  detox/src/devices/common/drivers/android/exec/ADB.js
  detox/src/devices/common/drivers/android/exec/ADB.test.js
  detox/src/devices/runtime/RuntimeDevice.js
  detox/src/devices/runtime/RuntimeDevice.test.js
  detox/src/devices/runtime/drivers/android/AndroidDriver.js
  detox/src/devices/runtime/drivers/android/AndroidDriver.test.js
  detox/test/e2e/detox.config-android.js
  detox/test/e2e/detox.config.js
  docs/api/device.md
  docs/img/ios-permissions.png
Owners: @d4vidi, @noomorph

finish leftovers
  detox/src/configuration/composeAppsConfig.js
  detox/src/configuration/composeAppsConfig.test.js
  detox/src/devices/common/drivers/android/exec/ADB.js
  detox/src/devices/common/drivers/android/exec/ADB.test.js
  detox/src/devices/runtime/RuntimeDevice.js
  detox/src/devices/runtime/RuntimeDevice.test.js
  detox/src/devices/runtime/drivers/android/AndroidDriver.js
  detox/src/devices/runtime/drivers/android/AndroidDriver.test.js
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
  detox/test/e2e/06.device.test.js
  detox/test/e2e/detox.config-android.js
  detox/test/e2e/detox.config.js
  docs/api/device.md
Owners: @d4vidi, @noomorph

revert permissions
  detox/detox.d.ts
  detox/src/configuration/composeAppsConfig.js
  detox/src/configuration/composeAppsConfig.test.js
  detox/src/devices/common/drivers/android/exec/ADB.js
  detox/src/devices/common/drivers/android/exec/ADB.test.js
  detox/src/devices/runtime/RuntimeDevice.js
  detox/src/devices/runtime/RuntimeDevice.test.js
  detox/src/devices/runtime/drivers/android/AndroidDriver.js
  detox/src/devices/runtime/drivers/android/AndroidDriver.test.js
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
  detox/test/e2e/06.device.test.js
  detox/test/e2e/detox.config-android.js
  detox/test/e2e/detox.config.js
  docs/api/device.md
  docs/img/ios-permissions.png
Owners: @d4vidi, @noomorph

fix: Allocation for worker respawn
  detox/src/devices/allocation/drivers/android/FreeDeviceFinder.js
  detox/src/devices/allocation/drivers/android/emulator/EmulatorAllocDriver.js
  detox/src/devices/common/drivers/android/AdbPortRegistry.js
  detox/src/devices/common/drivers/android/exec/ADB.js
  detox/src/devices/common/drivers/android/exec/ADB.test.js
Owners: @d4vidi, @noomorph

feat(Android): Split emulators across different adb servers
  detox/src/DetoxWorker.js
  detox/src/devices/allocation/drivers/android/emulator/EmulatorAllocDriver.js
  detox/src/devices/allocation/drivers/android/emulator/EmulatorLauncher.js
  detox/src/devices/allocation/drivers/android/emulator/EmulatorLauncher.test.js
  detox/src/devices/allocation/drivers/android/emulator/launchEmulatorProcess.js
  detox/src/devices/common/drivers/android/AdbPortRegistry.js
  detox/src/devices/common/drivers/android/cookies.d.ts
  detox/src/devices/common/drivers/android/exec/ADB.js
  detox/src/devices/common/drivers/android/exec/ADB.test.js
  detox/src/devices/common/drivers/android/exec/BinaryExec.js
  detox/src/devices/common/drivers/android/exec/BinaryExec.test.js
  detox/src/devices/common/drivers/android/exec/__snapshots__/BinaryExec.test.js.snap
  detox/src/devices/runtime/RuntimeDevice.js
  detox/src/devices/runtime/drivers/DeviceDriverBase.js
  detox/src/devices/runtime/drivers/android/emulator/EmulatorDriver.js
  detox/src/devices/runtime/factories/android.js
Owners: @d4vidi, @noomorph

fix: Allocation for emulator reuse
  detox/src/devices/allocation/drivers/android/FreeDeviceFinder.js
  detox/src/devices/allocation/drivers/android/FreeDeviceFinder.test.js
  detox/src/devices/allocation/drivers/android/attached/AttachedAndroidAllocDriver.js
  detox/src/devices/allocation/drivers/android/emulator/EmulatorAllocDriver.js
  detox/src/devices/allocation/drivers/android/emulator/FreeEmulatorFinder.test.js
  detox/src/devices/allocation/drivers/android/emulator/FreePortFinder.js
  detox/src/devices/allocation/drivers/android/emulator/FreePortFinder.test.js
  detox/src/devices/allocation/drivers/android/emulator/launchEmulatorProcess.js
  detox/src/devices/common/drivers/android/AdbPortRegistry.js
  detox/src/devices/common/drivers/android/exec/ADB.js
  detox/src/devices/common/drivers/android/exec/ADB.test.js
  detox/src/devices/common/drivers/android/tools/DeviceHandle.js
  detox/src/devices/common/drivers/android/tools/EmulatorHandle.js
  detox/src/utils/netUtils.js
  detox/src/utils/netUtils.test.js
Owners: @d4vidi, @noomorph

clean up, fix unit tests, coverage
  detox/jest.config.js
  detox/src/devices/allocation/drivers/android/FreeDeviceFinder.js
  detox/src/devices/allocation/drivers/android/FreeDeviceFinder.test.js
  detox/src/devices/allocation/drivers/android/emulator/FreeEmulatorFinder.js
  detox/src/devices/allocation/drivers/android/emulator/FreeEmulatorFinder.test.js
  detox/src/devices/allocation/factories/android.js
  detox/src/devices/common/drivers/android/AdbPortRegistry.test.js
  detox/src/devices/common/drivers/android/exec/ADB.js
  detox/src/devices/common/drivers/android/exec/ADB.test.js
  detox/src/devices/runtime/RuntimeDevice.test.js
  detox/src/utils/netUtils.js
Owners: @d4vidi, @noomorph

Add protecting opt-in toggle
  .buildkite/jobs/pipeline.android_rn_82.yml
  .buildkite/jobs/pipeline.android_rn_83.yml
  detox/detox.d.ts
  detox/src/devices/allocation/drivers/android/emulator/EmulatorAllocDriver.js
  detox/src/devices/runtime/drivers/android/emulator/EmulatorDriver.js
  detox/src/devices/runtime/factories/android.js
  detox/test/e2e/detox.config.js
  detox/test/package.json
  scripts/ci.android.sh
Owners: @d4vidi, @noomorph

Fix: opt-in toggle bug
  detox/src/devices/allocation/drivers/android/emulator/EmulatorAllocDriver.js
Owners: @d4vidi, @noomorph

test: fix permissions
  detox/test/e2e/06.device.test.js
Owners: @d4vidi, @noomorph

test: stabilize e2e
  detox/test/e2e/06.device.test.js
Owners: @d4vidi, @noomorph

ci: enable github actions
  .github/workflows/broken-links-scan.yml
  .github/workflows/docs.yml
  .github/workflows/looking-for-contributors.yml
  .github/workflows/rapid-test.yml
  .github/workflows/reproduction-required.yml
  .github/workflows/support.yml
  .github/workflows/surge-purge.yml
  .github/workflows/website.yml
Owners: @d4vidi

fix(android): grant all permissions after resetting app state (#4844)
  detox/src/devices/common/drivers/android/exec/ADB.js
  detox/src/devices/common/drivers/android/exec/ADB.test.js
  detox/src/devices/runtime/RuntimeDevice.js
  detox/src/devices/runtime/drivers/android/AndroidDriver.js
  detox/src/devices/runtime/drivers/android/AndroidDriver.test.js
  detox/test/e2e/06.device.test.js
  docs/api/device.md
Owners: @d4vidi, @noomorph

Fix: emulator log (long overdue tech debt)
  detox/src/devices/allocation/drivers/android/emulator/EmulatorVersionResolver.js
  detox/src/devices/allocation/drivers/android/emulator/EmulatorVersionResolver.test.js
Owners: @d4vidi, @noomorph

ci: ignore false positives (lodash, surge)
  .github/workflows/broken-links-scan.yml
  .github/workflows/docs.yml
  .github/workflows/rapid-test.yml
  .github/workflows/surge-purge.yml
  .github/workflows/website.yml
Owners: @d4vidi

ci: fix support and website workflows
  .github/workflows/support.yml
  .github/workflows/website.yml
Owners: @d4vidi

ci: fix support workflow
  .github/workflows/support.yml
Owners: @d4vidi

ci: enable github actions (#4902)
  .github/workflows/broken-links-scan.yml
  .github/workflows/docs.yml
  .github/workflows/looking-for-contributors.yml
  .github/workflows/rapid-test.yml
  .github/workflows/reproduction-required.yml
  .github/workflows/support.yml
  .github/workflows/surge-purge.yml
  .github/workflows/website.yml
Owners: @d4vidi

refactor: change asyncwebsocket signature
  detox/src/client/AsyncWebSocket.js
  detox/src/client/AsyncWebSocket.test.js
  detox/src/client/Client.js
  detox/src/errors/DetoxConfigErrorComposer.test.js
  detox/src/errors/__snapshots__/DetoxConfigErrorComposer.test.js.snap
Owners: @d4vidi, @noomorph

refactor: standardize ignoreUnexpectedWsMessages config handling
  detox/src/client/AsyncWebSocket.js
  detox/src/client/AsyncWebSocket.test.js
  detox/src/configuration/collectCliConfig.js
  detox/src/configuration/collectCliConfig.test.js
  detox/src/configuration/composeSessionConfig.js
  detox/src/configuration/composeSessionConfig.test.js
Owners: @d4vidi, @noomorph

feat(session): add ignoreUnexpectedMessages configuration option (#4875)
  detox/detox.d.ts
  detox/src/client/AsyncWebSocket.js
  detox/src/client/AsyncWebSocket.test.js
  detox/src/client/Client.js
  detox/src/configuration/collectCliConfig.js
  detox/src/configuration/collectCliConfig.test.js
  detox/src/configuration/composeSessionConfig.js
  detox/src/configuration/composeSessionConfig.test.js
  detox/src/errors/DetoxConfigErrorComposer.js
  detox/src/errors/DetoxConfigErrorComposer.test.js
  detox/src/errors/__snapshots__/DetoxConfigErrorComposer.test.js.snap
  docs/config/session.mdx
Owners: @d4vidi, @noomorph

Semantic matching basics #4788
  detox/detox.d.ts
  detox/src/android/matchers/native.js
  detox/src/ios/expectTwo.js
  detox/src/utils/semanticTypes.js
  detox/src/utils/semanticTypes.test.js
Owners: @d4vidi, @noomorph

100% threshold pass with new tests
  detox/src/android/matchers/native.test.js
  detox/src/ios/expectTwo.test.js
Owners: @d4vidi, @noomorph

Semantic Types update
  detox/src/utils/semanticTypes.js
Owners: @d4vidi, @noomorph

rawType update
  detox/src/android/matchers/native.js
Owners: @d4vidi, @noomorph

Revert "created icon for the example app on iOS"
  detox/test/ios/example/Images.xcassets/AppIcon.appiconset/Contents.json
  detox/test/ios/example/Images.xcassets/AppIcon.appiconset/Icon-1024.png
  detox/test/ios/example/Images.xcassets/AppIcon.appiconset/Icon-20@2x.png
  detox/test/ios/example/Images.xcassets/AppIcon.appiconset/Icon-20@3x.png
  detox/test/ios/example/Images.xcassets/AppIcon.appiconset/Icon-29@2x.png
  detox/test/ios/example/Images.xcassets/AppIcon.appiconset/Icon-29@3x.png
  detox/test/ios/example/Images.xcassets/AppIcon.appiconset/Icon-40@2x.png
  detox/test/ios/example/Images.xcassets/AppIcon.appiconset/Icon-40@3x.png
  detox/test/ios/example/Images.xcassets/AppIcon.appiconset/Icon-60@2x.png
  detox/test/ios/example/Images.xcassets/AppIcon.appiconset/Icon-60@3x.png
Owners: @d4vidi

revert the old MatchersScreen
  detox/test/src/Screens/MatchersScreen.js
Owners: @d4vidi, @noomorph

lint errors update
  detox/src/ios/expectTwo.js
Owners: @d4vidi, @noomorph
