Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

chore: upgrade internally to jest@28
  detox/package.json
  detox/runners/jest-circus/environment.js
  detox/runners/jest/JestCircusEnvironment.js
  detox/src/configuration/composeAppsConfig.js
  detox/src/utils/callsites.test.js
  detox/src/utils/errorUtils.test.js
  examples/demo-plugin/e2e/config.json
  examples/demo-plugin/e2e/init.js
  examples/demo-plugin/package.json
  examples/demo-react-native-jest/package.json
Owners: @d4vidi, @noomorph

[wip] push client instance, lifecycle mng down to driver layer
  detox/src/Detox.js
  detox/src/devices/runtime/RuntimeDevice.js
  detox/src/devices/runtime/drivers/DeviceDriverBase.js
  detox/src/devices/runtime/drivers/android/AndroidDriver.js
  detox/src/devices/runtime/drivers/android/emulator/EmulatorDriver.js
  detox/src/devices/runtime/drivers/android/genycloud/GenyCloudDriver.js
  detox/src/devices/runtime/drivers/ios/IosDriver.js
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
  detox/src/devices/runtime/factories/android.js
  detox/src/devices/runtime/factories/base.js
  detox/src/devices/runtime/factories/external.js
  detox/src/devices/runtime/factories/ios.js
Owners: @d4vidi, @noomorph

[wip] Push isAppRunning logic to driver layer
  detox/src/devices/runtime/RuntimeDevice.js
  detox/src/devices/runtime/RuntimeDevice.test.js
  detox/src/devices/runtime/drivers/DeviceDriverBase.js
  detox/src/devices/runtime/drivers/android/AndroidDriver.js
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
Owners: @d4vidi, @noomorph

[wip] Bind matchers (up-most) layer to (lower) drivers layer instead of device API
  detox/src/Detox.js
  detox/src/android/AndroidExpect.js
  detox/src/android/core/WebElement.js
  detox/src/matchers/factories/index.js
Owners: @d4vidi, @noomorph

[wip] Add uiDevice to the party
  detox/src/devices/runtime/drivers/DeviceDriverBase.js
  detox/src/devices/runtime/drivers/android/AndroidDriver.js
  detox/src/devices/runtime/factories/android.js
Owners: @d4vidi, @noomorph

docs: drop deprecated advices
  docs/APIRef.Artifacts.md
Owners: @d4vidi

Add appcompat dependency to handle aapt
  docs/Introduction.Android.md
  docs/Troubleshooting.BuildingTheApp.md
Owners: @d4vidi

clarify AAPT failure type
  docs/Introduction.Android.md
  docs/Troubleshooting.BuildingTheApp.md
Owners: @d4vidi

[wip] Make base device driver manage and hold multiapps state and more
  detox/src/client/Client.js
  detox/src/client/Client.test.js
  detox/src/devices/runtime/RuntimeDevice.js
  detox/src/devices/runtime/RuntimeDevice.test.js
  detox/src/devices/runtime/drivers/DeviceDriverBase.js
  detox/src/devices/runtime/drivers/DeviceDriverBase.test.js
  detox/src/devices/runtime/drivers/android/AndroidDriver.js
  detox/src/devices/runtime/drivers/android/AndroidDriver.test.js
  detox/src/devices/runtime/drivers/android/emulator/EmulatorDriver.js
  detox/src/devices/runtime/drivers/android/genycloud/GenyCloudDriver.js
  detox/src/devices/runtime/drivers/ios/IosDriver.js
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
  detox/src/devices/runtime/factories/android.js
  detox/src/devices/runtime/factories/ios.js
Owners: @d4vidi, @noomorph

[wip] Align AndroidDriver with new driver infra
  detox/src/devices/runtime/drivers/android/AndroidDriver.js
  detox/src/devices/runtime/drivers/android/AndroidDriver.test.js
  detox/src/devices/runtime/factories/android.js
Owners: @d4vidi, @noomorph

fix(iOS): fix iOS > 15.0 crashes.
  detox/ios/Detox/Invocation/Predicate.swift
Owners: @asafkorem

Predicate.swift: re-indent code.
  detox/ios/Detox/Invocation/Predicate.swift
Owners: @asafkorem

wip: implement new testRunner section
  detox/index.d.ts
  detox/local-cli/init.js
  detox/local-cli/test.js
  detox/local-cli/test.test.js
  detox/local-cli/testCommand/TestRunnerCommand.js
  detox/local-cli/testCommand/middlewares.js
  detox/local-cli/utils/yargsUtils.js
  detox/realms/root/DetoxRootContext.js
  detox/src/configuration/collectCliConfig.js
  detox/src/configuration/collectCliConfig.test.js
  detox/src/configuration/composeRunnerConfig.js
  detox/src/configuration/composeRunnerConfig.test.js
  detox/src/configuration/index.js
  detox/src/configuration/index.test.js
  detox/test/e2e/detox.config.js
Owners: @d4vidi, @noomorph

Remove excessive usage of package ID in example's DetoxTest.java
  examples/demo-react-native/android/app/src/androidTest/java/com/example/DetoxTest.java
Owners: @d4vidi, @jonathanmos

Publish 19.7.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native-jest/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Publish docs version 19.x
  website/versioned_docs/version-19.x/APIRef.Artifacts.md
  website/versioned_docs/version-19.x/APIRef.DetoxCLI.md
Owners: @d4vidi

fix(android): record device log during the test even if the app is not running
  detox/src/artifacts/log/android/ADBLogcatRecording.js
Owners: @d4vidi, @noomorph

[wip] Reframeworked with green unit tests
  detox/package.json
  detox/src/Detox.js
  detox/src/Detox.test.js
  detox/src/android/AndroidExpect.test.js
  detox/src/artifacts/factories/index.js
  detox/src/artifacts/factories/index.test.js
  detox/src/artifacts/instruments/InstrumentsArtifactRecording.js
  detox/src/artifacts/instruments/InstrumentsArtifactRecording.test.js
  detox/src/artifacts/instruments/android/AndroidInstrumentsPlugin.js
  detox/src/artifacts/instruments/android/AndroidInstrumentsPlugin.test.js
  detox/src/artifacts/instruments/android/AndroidInstrumentsRecording.js
  detox/src/artifacts/instruments/ios/SimulatorInstrumentsPlugin.js
  detox/src/artifacts/instruments/ios/SimulatorInstrumentsPlugin.test.js
  detox/src/artifacts/instruments/ios/SimulatorInstrumentsRecording.js
  detox/src/artifacts/providers/index.js
  detox/src/artifacts/screenshot/SimulatorScreenshotPlugin.js
  detox/src/artifacts/uiHierarchy/IosUIHierarchyPlugin.js
  detox/src/artifacts/uiHierarchy/IosUIHierarchyPlugin.test.js
  detox/src/client/__mocks__/Client.js
  detox/src/devices/runtime/RuntimeDevice.js
  detox/src/devices/runtime/RuntimeDevice.test.js
  detox/src/devices/runtime/__mocks__/RuntimeDevice.js
  detox/src/devices/runtime/drivers/DeviceDriverBase.js
  detox/src/devices/runtime/drivers/DeviceDriverBase.test.js
  detox/src/devices/runtime/drivers/android/AndroidDriver.js
  detox/src/devices/runtime/drivers/android/AndroidDriver.test.js
  detox/src/devices/runtime/drivers/android/__snapshots__/AndroidDriver.test.js.snap
  detox/src/devices/runtime/drivers/android/genycloud/GenyCloudDriver.test.js
  detox/src/devices/runtime/drivers/ios/IosDriver.js
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.test.js
  detox/src/devices/runtime/factories/android.js
  detox/src/devices/runtime/factories/ios.js
Owners: @d4vidi, @noomorph

Add note about choosing the latest version
  docs/Troubleshooting.BuildingTheApp.md
Owners: @d4vidi

Unlock react-native-webview's version locking
  detox/test/package.json
Owners: @d4vidi

Unlock react-native-webview's version locking (#3433)
  detox/test/package.json
Owners: @d4vidi

Sanity e2e green on Android
  detox/src/Detox.js
  detox/src/Detox.test.js
  detox/src/devices/runtime/RuntimeDevice.js
  detox/src/devices/runtime/RuntimeDevice.test.js
  detox/src/devices/runtime/drivers/DeviceDriverBase.js
  detox/src/devices/runtime/drivers/DeviceDriverBase.test.js
  detox/src/devices/runtime/factories/android.js
Owners: @d4vidi, @noomorph

fix: more reliable uninstall for multiple apps
  detox/src/Detox.js
Owners: @d4vidi, @noomorph

Update Detox.test.js
  detox/src/Detox.test.js
Owners: @d4vidi, @noomorph

fix: more reliable uninstall for multiple apps (#3435)
  detox/src/Detox.js
  detox/src/Detox.test.js
Owners: @d4vidi, @noomorph

fix(android): record device log during the test even if the app is not running (#3432)
  detox/src/artifacts/log/android/ADBLogcatRecording.js
Owners: @d4vidi, @noomorph

chore: upgrade internally to jest@28 (#3395)
  detox/package.json
  detox/runners/jest-circus/environment.js
  detox/runners/jest/JestCircusEnvironment.js
  detox/src/configuration/composeAppsConfig.js
  detox/src/utils/callsites.test.js
  detox/src/utils/errorUtils.test.js
  examples/demo-plugin/e2e/config.json
  examples/demo-plugin/e2e/init.js
  examples/demo-plugin/package.json
  examples/demo-react-native-jest/package.json
Owners: @d4vidi, @noomorph

Pay some debts
  detox/src/devices/runtime/RuntimeDevice.js
  detox/src/devices/runtime/drivers/DeviceDriverBase.js
  detox/src/devices/runtime/drivers/DeviceDriverBase.test.js
  detox/src/errors/DetoxRuntimeErrorComposer.js
Owners: @d4vidi, @noomorph

Publish 19.7.1-prerelease.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native-jest/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

note about latest version
  docs/Introduction.Android.md
Owners: @d4vidi

docs: add appcompat dependency to docs (#3412)
  docs/Introduction.Android.md
  docs/Troubleshooting.BuildingTheApp.md
Owners: @d4vidi

Publish 19.7.1 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native-jest/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Publish docs version 19.x
  website/versioned_docs/version-19.x/Introduction.Android.md
  website/versioned_docs/version-19.x/Troubleshooting.BuildingTheApp.md
Owners: @d4vidi

docs: reset the mocking guide
  docs/Guide.Mocking.md
Owners: @d4vidi

docs: update Mocking Guide
  docs/Guide.Mocking.md
Owners: @d4vidi

Update Guide.Mocking.md
  docs/Guide.Mocking.md
Owners: @d4vidi

docs: rewrite the mocking guide (#3097)
  docs/Guide.Mocking.md
Owners: @d4vidi

wip: fix tests and hanging workers
  detox/local-cli/test.test.js
  detox/local-cli/testCommand/TestRunnerCommand.js
  detox/realms/index.js
  detox/realms/primary/IPCServer.js
  detox/realms/secondary/DetoxRunnerContext.js
  detox/runners/jest/environment/index.js
  detox/runners/jest/environment/listeners/DetoxCoreListener.js
  detox/src/DetoxWorkerContext.test.js
  detox/src/index.js
  detox/src/ipc/client.js
Owners: @d4vidi, @noomorph

fix for #3440 - Missing Proguard Entry
  detox/android/detox/proguard-rules-app.pro
Owners: @d4vidi

wip: refine Detox facade
  detox/local-cli/test.js
  detox/local-cli/test.test.js
  detox/local-cli/testCommand/TestRunnerCommand.js
  detox/local-cli/testCommand/middlewares.js
  detox/package.json
  detox/realms/index.js
  detox/realms/primary/index.js
  detox/realms/secondary/index.js
  detox/runners/jest/environment/index.js
  detox/runners/jest/environment/listeners/DetoxCoreListener.js
  detox/runners/jest/globalSetup.js
  detox/runners/jest/globalTeardown.js
  detox/runners/jest/index.js
  detox/src/DetoxRootContext.js
  detox/src/DetoxRunnerContext.js
  detox/src/index.js
  detox/src/ipc/IPCServer.js
  detox/src/logger/BunyanLogger.js
  detox/src/logger/index.js
  detox/src/realms/primary.js
  detox/src/realms/secondary.js
Owners: @d4vidi, @noomorph

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem
