Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem

Inserting backdoor into website
  website/package.json
Owners: @d4vidi

Inserting backdoor into detox
  detox/package.json
Owners: @d4vidi

Inserting backdoor into test
  detox/test/package.json
Owners: @d4vidi

Inserting backdoor into oldschema
  detox/src/configuration/__mocks__/configuration/oldschema/package.json
Owners: @d4vidi

Inserting backdoor into priority
  detox/src/configuration/__mocks__/configuration/priority/package.json
Owners: @d4vidi

Inserting backdoor into packagejson
  detox/src/configuration/__mocks__/configuration/packagejson/package.json
Owners: @d4vidi

Inserting backdoor into demo-native-android
  examples/demo-native-android/package.json
Owners: @d4vidi

Inserting backdoor into demo-plugin
  examples/demo-plugin/package.json
Owners: @d4vidi

Inserting backdoor into demo-react-native-detox-instruments
  examples/demo-react-native-detox-instruments/package.json
Owners: @d4vidi

Inserting backdoor into demo-native-ios
  examples/demo-native-ios/package.json
Owners: @d4vidi

Inserting backdoor into demo-react-native
  examples/demo-react-native/package.json
Owners: @d4vidi

Inserting backdoor into generation
  generation/package.json
Owners: @d4vidi

Publish 20.1.4 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Publish docs version 20.x
  website/versioned_docs/version-20.x/api/actions.md
  website/versioned_docs/version-20.x/guide/android-dev-env.md
  website/versioned_docs/version-20.x/introduction/getting-started.mdx
  website/versioned_docs/version-20.x/introduction/partials/_getting-started-rn.md
Owners: @d4vidi

fix: missing method waitFor(...).toBeFocused()
  detox/src/android/core/NativeWaitFor.js
  detox/src/ios/expectTwo.js
Owners: @d4vidi, @noomorph

tests(unit): cover `waitFor(…).toBeFocused()` API with tests.
  detox/src/android/AndroidExpect.test.js
  detox/src/ios/expectTwoApiCoverage.test.js
Owners: @d4vidi, @noomorph

tests(e2e): add test for `waitFor(...).toBeFocused()`.
  detox/test/e2e/05.waitfor.test.js
  detox/test/src/Screens/WaitForScreen.js
Owners: @d4vidi, @noomorph

tests(e2e): make wait-for "should fail" test faster.
  detox/test/e2e/05.waitfor.test.js
Owners: @d4vidi, @noomorph

fix terminate app api json parsing bug and increase currentStatus timeout
  detox/src/client/actions/actions.js
  detox/src/devices/runtime/drivers/android/cloud/cloudAndroidDriver.js
Owners: @d4vidi, @noomorph

Publish 20.1.5 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

WIP: RN 0.71 upgrade test
  .buildkite/jobs/pipeline.android_demo_app_rn_71.yml
  .buildkite/jobs/pipeline.android_rn_71.yml
  .buildkite/jobs/pipeline.ios_demo_app_rn_71.yml
  .buildkite/jobs/pipeline.ios_rn_71.yml
  README.md
  detox/package.json
  detox/test/ios/example.xcodeproj/project.pbxproj
  detox/test/package.json
  docs/introduction/partials/_getting-started-rn.md
  examples/demo-react-native/package.json
  website/versioned_docs/version-20.x/introduction/partials/_getting-started-rn.md
Owners: @d4vidi, @asafkorem

wip
  .buildkite/pipeline_common.sh
Owners: @d4vidi, @noomorph

fix(jest): focused test with afterAll hook (#3863)
  detox/runners/jest/testEnvironment/listeners/DetoxCoreListener.js
  detox/test/integration/__snapshots__/timeline-artifact.test.js.snap
  detox/test/integration/e2e/focused.test.js
  detox/test/integration/e2e/passing-sandbox.test.js
  detox/test/integration/e2e/passing-skipped.test.js
  detox/test/integration/initialization-test.test.js
  detox/test/integration/timeline-artifact.test.js
Owners: @d4vidi, @noomorph

wip
  detox/android/build.gradle
  detox/test/android/build.gradle
  detox/test/android/rninfo.gradle
Owners: @d4vidi, @jonathanmos

docs: amend misc in article
  docs/guide/cucumber-js-integration.md
  website/sidebars.js
Owners: @d4vidi, @noomorph

docs(guides): add cucumber integration (#3858)
  docs/guide/cucumber-js-integration.md
  website/sidebars.js
Owners: @d4vidi, @noomorph

docs(jest): fix incorrect default value
  docs/config/testRunner.mdx
  website/versioned_docs/version-20.x/config/testRunner.mdx
Owners: @d4vidi

add context to gitignore VCS, remove _showcase-section.scss, add map function to _colors.scss, make _fonts.scss, remove _config.scss, update _admonitions.scss with new variables for colors
  website/src/components/Showcase/Hero.module.scss
  website/src/css/_admonitions.scss
  website/src/css/_colors.scss
  website/src/css/_config.scss
  website/src/css/_fonts.scss
  website/src/css/_showcase-section.scss
  website/src/css/custom.scss
Owners: @d4vidi

add gitignore
  .gitignore
Owners: @d4vidi

WIP
  detox/android/build.gradle
  detox/test/android/build.gradle
  detox/test/package.json
  examples/demo-react-native/android/build.gradle
Owners: @d4vidi, @jonathanmos

code review fixes
  .editorconfig
  .gitignore
  website/src/css/_admonitions.scss
  website/src/css/_colors.scss
  website/src/css/_fonts.scss
Owners: @d4vidi

docs(website): fix broken rules
  website/src/css/_header-github.scss
  website/src/css/_showcase-link.scss
  website/src/theme/Navbar/Search/styles.module.scss
Owners: @d4vidi

wip - overlay tests
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/InvokeHandler.swift
  detox/ios/DetoxTester/DetoxTester/Actions/ActionDelegate.swift
  detox/ios/DetoxTester/DetoxTester/Actions/XCUIElement/XCUIElement+Error.swift
  detox/ios/DetoxTester/DetoxTester/Actions/XCUIElement/XCUIElement+scroll.swift
  detox/ios/DetoxTester/DetoxTester/Expectations/ExpectationDelegate.swift
  detox/ios/DetoxTester/DetoxTester/Tester/DetoxTester.swift
  detox/ios/DetoxTester/DetoxTesterApp.xcodeproj/xcshareddata/xcschemes/DetoxTester.xcscheme
  detox/test/e2e/35.overlay.test.js
  detox/test/ios/example.xcodeproj/xcshareddata/xcschemes/example.xcscheme
Owners: @asafkorem, @d4vidi, @noomorph

screenshot tests works
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/ActionDelegateProtocol.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/InvokeHandler.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/FakeActionDelegate.swift
  detox/ios/DetoxTester/DetoxTester/Actions/ActionDelegate+Error.swift
  detox/ios/DetoxTester/DetoxTester/Actions/ActionDelegate.swift
  detox/ios/DetoxTester/DetoxTester/Actions/XCUIElement/XCUIScreenshotProviding+takeScreenshot.swift
  detox/ios/DetoxTester/DetoxTester/Unit Tests/Actions/ScreenshotTests.swift
  detox/ios/DetoxTester/DetoxTesterApp.xcodeproj/project.pbxproj
  detox/test/e2e/26.element-screenshots.test.js
  detox/test/e2e/assets/elementScreenshot.ios.horiz.png
  detox/test/e2e/assets/elementScreenshot.ios.vert.png
Owners: @asafkorem, @d4vidi, @noomorph

works
  detox/test/e2e/26.element-screenshots.test.js
Owners: @d4vidi, @noomorph

fix: typo lable to label
  docs/guide/test-id.mdx
Owners: @d4vidi

[Genymotion SaaS] Update gmsaas start flag to fix wrong device timeout (#3929)
  detox/src/devices/common/drivers/android/genycloud/exec/GenyCloudExec.js
  detox/src/devices/common/drivers/android/genycloud/exec/GenyCloudExec.test.js
Owners: @d4vidi, @noomorph

WIP
  detox/test/e2e/22.launch-args.test.js
  detox/test/e2e/detox.config.js
  detox/test/ios/example/NativeModule.m
  detox/test/src/app.js
Owners: @d4vidi, @noomorph, @asafkorem

Publish 20.2.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Publish docs version 20.x
  website/versioned_docs/version-20.x/guide/cucumber-js-integration.md
  website/versioned_sidebars/version-20.x-sidebars.json
Owners: @d4vidi
