Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

feat: expose copilot's extendAPICatalog to Detox
  detox/package.json
  detox/test/detox_copilot_cache.json
  detox/test/e2e/copilot/11.copilot.extend-api-catalog.test.js
Owners: @d4vidi, @noomorph

test(fix,ios): support background search.
  detox/test/ios/AppDelegate.m
Owners: @asafkorem

test(ios): fix swift bridge.
  detox/test/e2e/detox.config.js
  detox/test/ios/example-Bridging-Header.h
  detox/test/ios/example-ci-Bridging-Header.h
  detox/test/ios/example.xcodeproj/project.pbxproj
Owners: @d4vidi, @noomorph, @asafkorem

ci: ensure RN .73 without new arch works.
  .buildkite/jobs/pipeline.ios_rn_73.yml
Owners: @d4vidi

fix(iOS): ignore `RCTAccessibilityElement` from view hierarchy.
  detox/ios/Detox/Invocation/Predicate.swift
Owners: @asafkorem

fix(iOS): migrate to RCT_EXPORT_METHOD.
  detox/test/e2e/06.device.test.js
  detox/test/ios/ReactModules/NativeModule.h
  detox/test/ios/ReactModules/NativeModule.m
  detox/test/ios/ReactModules/NativeModule.swift
  detox/test/ios/ReactModules/ReactModulesBridge.m
  detox/test/ios/ReactModules/ShakeEventEmitter.h
  detox/test/ios/ReactModules/ShakeEventEmitter.m
  detox/test/ios/ReactModules/ShakeEventEmitter.swift
  detox/test/ios/UI/UIViewController+Shake.swift
  detox/test/ios/example-Bridging-Header.h
  detox/test/ios/example-ci-Bridging-Header.h
  detox/test/ios/example.xcodeproj/project.pbxproj
  detox/test/src/Screens/LanguageScreen.js
Owners: @d4vidi, @noomorph, @asafkorem

test: add @new-arch and @legacy test markers (for specifying test-env).
  detox/test/e2e/08.stress-root.test.js
  detox/test/e2e/utils/rnSkipper.js
Owners: @d4vidi, @noomorph

test(ios): undo skip tests due to new-arch.
  detox/test/e2e/17.datePicker.test.js
  detox/test/e2e/17.picker.test.js
Owners: @d4vidi, @noomorph

test: remove react-native .71 old test.
  detox/test/e2e/03.actions.test.js
Owners: @d4vidi, @noomorph

test(iOS): enable bridgeless mode on test app.
  detox/test/ios/AppDelegate Extensions/AppDelegate+ApplicationState.swift
  detox/test/ios/AppDelegate Extensions/AppDelegate+Linking.swift
  detox/test/ios/AppDelegate Extensions/AppDelegate+Notifications.swift
  detox/test/ios/AppDelegate Extensions/AppDelegate+OverlayView.swift
  detox/test/ios/AppDelegate.h
  detox/test/ios/AppDelegate.m
  detox/test/ios/AppDelegate.swift
  detox/test/ios/ReactModules/NativeModule.swift
  detox/test/ios/UI/NativeScreenManager.h
  detox/test/ios/UI/NativeScreenManager.swift
  detox/test/ios/UI/OverlayMessageView.swift
  detox/test/ios/UI/UIViewController+Shake.swift
  detox/test/ios/example-Bridging-Header.h
  detox/test/ios/example.xcodeproj/project.pbxproj
  detox/test/ios/main.m
Owners: @asafkorem

test(ios): fix accessibility.
  detox/test/src/Screens/AnimationsScreen.js
Owners: @d4vidi, @noomorph

feat(ios): support `RCTEnhancedScrollView` for scrolling.
  detox/ios/Detox/Invocation/Element.swift
Owners: @asafkorem

test(ios): change element accessibility for fabric tests.
  detox/test/src/Screens/AssertionsScreen.js
Owners: @d4vidi, @noomorph

fix(ios): extract slider property only if exists.
  detox/ios/Detox/Utilities/NSObject+DetoxUtils.m
Owners: @asafkorem

fix(iOS): support `RNCSliderComponentView` slider.
  detox/ios/Detox/Invocation/Element.swift
  detox/ios/Detox/Utilities/NSObject+DetoxUtils.m
  detox/test/e2e/03.actions.test.js
Owners: @asafkorem, @d4vidi, @noomorph

test(ios): skip bridge stress test.
  detox/test/e2e/08.stress-root.test.js
Owners: @d4vidi, @noomorph

test(iOS): update view-hierarchy artifact for new arch view.
  detox/src/utils/rn-consts/rn-consts.js
  detox/test/e2e/02.matchers.test.js
  detox/test/e2e/assets/view-hierarchy-web-view.76.ios.new-arch.txt
  detox/test/e2e/assets/view-hierarchy-with-test-id-injection.76.ios.new-arch.txt
  detox/test/e2e/assets/view-hierarchy-without-test-id-injection.76.ios.new-arch.txt
  detox/test/e2e/utils/custom-describes.js
  detox/test/e2e/utils/snapshot.js
Owners: @d4vidi, @noomorph

test(iOS): make elements accessible for descendant/ancestor matchers.
  detox/test/src/Screens/MatchersScreen.js
Owners: @d4vidi, @noomorph

feat(iOS): support `ToggleValueExpectation` for new arch.
  detox/ios/Detox/Actions/NSObject+DetoxActions.m
  detox/ios/Detox/Invocation/Element.swift
  detox/ios/Detox/Invocation/Expectation.swift
  detox/ios/Detox/Utilities/NSObject+DetoxUtils.h
  detox/ios/Detox/Utilities/NSObject+DetoxUtils.m
  detox/src/ios/expectTwo.js
  detox/src/ios/expectTwo.test.js
Owners: @asafkorem, @d4vidi, @noomorph

test(iOS): ensure wrapping element is accessible.
  detox/test/src/Screens/ActionsScreen.js
Owners: @d4vidi, @noomorph

fix(iOS): replace invalid return value.
  detox/ios/Detox/Actions/UIScrollView+DetoxActions.m
Owners: @asafkorem

ci: update pipeline step title.
  .buildkite/jobs/pipeline.ios_demo_app_rn_76_new_arch.yml
Owners: @d4vidi

demo(iOS): support bridgeless mode with new-arch.
  examples/demo-react-native/ios/example/AppDelegate.h
  examples/demo-react-native/ios/example/AppDelegate.m
Owners: @asafkorem

test(ios): fix test expectation
  detox/test/e2e/12.animations.test.js
Owners: @d4vidi, @noomorph

test(ios): fix matcher class name.
  detox/test/e2e/02.matchers.test.js
Owners: @d4vidi, @noomorph

test(ios): update `type` variants based on new-arch.
  detox/test/e2e/02.matchers.test.js
Owners: @d4vidi, @noomorph

test(ios): extend timer of visible message if needed.
  detox/test/ios/AppDelegate Extensions/AppDelegate+OverlayView.swift
  detox/test/ios/UI/OverlayMessageView.swift
Owners: @asafkorem

test(ios): fix overlay messages layout
  detox/test/ios/AppDelegate Extensions/AppDelegate+OverlayView.swift
  detox/test/ios/AppDelegate.m
Owners: @asafkorem

test: skip tests on new arch.
  detox/test/e2e/09.stress-timeouts.test.js
Owners: @d4vidi, @noomorph

fix: cache saving when a test ends successfully
  detox/src/DetoxWorker.js
Owners: @d4vidi, @noomorph

Fixes after code review
  .buildkite/jobs/pipeline.android_demo_app_rn_76.yml
  .buildkite/jobs/pipeline.android_rn_76.yml
  .buildkite/jobs/pipeline.android_rn_76_old_arch.yml
  .buildkite/pipeline_common.sh
  detox/android/detox/build.gradle
  detox/android/detox/src/full/java/com/wix/detox/reactnative/ReactApplicationExt.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/ReactNativeExtension.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/ReactNativeLoadingMonitor.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/DetoxIdlingResource.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/ReactNativeIdlingResources.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/factory/FabricDetoxIdlingResourceFactoryStrategy.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/factory/OldArchitectureDetoxIdlingResourceFactoryStrategy.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/timers/FabricTimersIdlingResource.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/timers/JavaTimersReflected.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/reloader/ReactNativeReloader.kt
  detox/test/e2e/33.attributes.test.js
  examples/demo-react-native/android/app/build.gradle
  examples/demo-react-native/android/app/src/androidTest/java/com/example/DetoxTestAppJUnitRunner.java
Owners: @d4vidi, @noomorph, @jonathanmos

Update detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/uimodule/fabric/FabricUIManagerIdlingResources.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/uimodule/fabric/FabricUIManagerIdlingResources.kt
Owners: @d4vidi, @jonathanmos

Update detox/scripts/updateGradle.js
  detox/scripts/updateGradle.js
Owners: @d4vidi, @noomorph

Fixes after code review
  detox/android/detox/src/full/java/com/wix/detox/reactnative/helpers/RNHelpers.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/factory/OldArchitectureDetoxIdlingResourceFactoryStrategy.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/uimodule/fabric/FabricUIManagerIdlingResources.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/uimodule/paper/DispatchCommandOperationReflected.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/uimodule/paper/NativeHierarchyManagerReflected.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/uimodule/paper/UIManagerModuleReflected.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/uimodule/paper/UIModuleIdlingResource.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/uimodule/paper/ViewCommandOpsQueueReflected.kt
Owners: @d4vidi, @jonathanmos

test(ios): remove @legacy flag.
  detox/test/e2e/09.stress-timeouts.test.js
Owners: @d4vidi, @noomorph

test(unit): fix unit test.
  detox/src/ios/expectTwo.js
Owners: @d4vidi, @noomorph

Fixes after pr
  detox/android/detox/src/full/java/com/wix/detox/reactnative/ReactApplicationExt.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/factory/FabricDetoxIdlingResourceFactoryStrategy.kt
  detox/scripts/updateGradle.js
  examples/demo-react-native/android/build.gradle
Owners: @d4vidi, @jonathanmos, @noomorph

Fixed async storage implementation and tests in Android
  detox/android/detox/build.gradle
  detox/android/detox/src/full/java/com/wix/detox/reactnative/helpers/RNHelpers.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/factory/FabricDetoxIdlingResourceFactoryStrategy.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/factory/OldArchitectureDetoxIdlingResourceFactoryStrategy.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/storage/AsyncStorageIdlingResource.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/uimodule/paper/UIModuleIdlingResource.kt
  detox/android/detox/src/testFull/java/com/wix/detox/reactnative/idlingresources/AsyncStorageIdlingResourceTest.kt
Owners: @d4vidi, @jonathanmos

Fixed it.todo
  detox/test/e2e/33.attributes.test.js
Owners: @d4vidi, @noomorph

mark failing tests
  detox/test/e2e/12.animations.test.js
  detox/test/e2e/14.network.test.js
  detox/test/e2e/17.datePicker.test.js
  detox/test/e2e/17.picker.test.js
Owners: @d4vidi, @noomorph

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem
