Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

Elaborate on test IDs in the test IDs guide: Naming best practices (#4487)
  docs/api/actions.md
  docs/guide/investigating-test-failure.mdx
  docs/guide/partials/_find-test-id-android.mdx
  docs/guide/partials/_find-test-id-ios.mdx
  docs/guide/test-id.md
  docs/guide/test-id.mdx
  docs/img/android/layoutInspector.png
  docs/img/android/tagAttributeAndroid.png
  docs/img/ios/accessibilityAttributeIOS.png
  docs/img/ios/appDelegate.png
  docs/img/ios/attachToProcess.png
  docs/img/ios/debugHierarchyButton.png
  docs/img/test-id/naming-example.png
  docs/img/test-id/passTestID.png
  docs/img/test-id/repetitiveComponentTestID.png
  docs/introduction/your-first-test.mdx
Owners: @d4vidi

Publish 20.21.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  generation/package.json
  lerna.json
  package.json
Owners: @d4vidi

Publish docs version 20.x
  website/versioned_docs/version-20.x/api/actions.md
  website/versioned_docs/version-20.x/guide/investigating-test-failure.mdx
  website/versioned_docs/version-20.x/guide/partials/_find-test-id-android.mdx
  website/versioned_docs/version-20.x/guide/partials/_find-test-id-ios.mdx
  website/versioned_docs/version-20.x/guide/test-id.md
  website/versioned_docs/version-20.x/guide/test-id.mdx
  website/versioned_docs/version-20.x/img/android/layoutInspector.png
  website/versioned_docs/version-20.x/img/android/tagAttributeAndroid.png
  website/versioned_docs/version-20.x/img/ios/accessibilityAttributeIOS.png
  website/versioned_docs/version-20.x/img/ios/appDelegate.png
  website/versioned_docs/version-20.x/img/ios/attachToProcess.png
  website/versioned_docs/version-20.x/img/ios/debugHierarchyButton.png
  website/versioned_docs/version-20.x/img/test-id/naming-example.png
  website/versioned_docs/version-20.x/img/test-id/passTestID.png
  website/versioned_docs/version-20.x/img/test-id/repetitiveComponentTestID.png
  website/versioned_docs/version-20.x/introduction/your-first-test.mdx
Owners: @d4vidi

feat(iOS): add getUIHierarchy device action.
  detox/detox.d.ts
  detox/ios/Detox/DetoxManager.swift
  detox/src/client/Client.js
  detox/src/client/actions/actions.js
  detox/src/devices/runtime/RuntimeDevice.js
  detox/src/devices/runtime/drivers/DeviceDriverBase.js
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
Owners: @d4vidi, @noomorph, @asafkorem

fix & demo
  detox/src/client/actions/actions.js
  detox/test/e2e/01.sanity.test.js
Owners: @d4vidi, @noomorph

fix and demo
  detox/src/client/actions/actions.js
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
  detox/test/e2e/01.sanity.test.js
Owners: @d4vidi, @noomorph

Publish 20.22.0-smoke.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

chore: update jest deps
  detox/package.json
  detox/test/package.json
  generation/package.json
Owners: @d4vidi

chore: update dependencies
  detox/package.json
  detox/test/e2e/19.crash-handling.test.js
  detox/test/package.json
  generation/package.json
Owners: @d4vidi, @noomorph

test(e2e): make element accessible by adding top-padding.
  detox/test/src/app.js
Owners: @d4vidi, @noomorph

test(coverage): add expectTwo test.
  detox/src/ios/expectTwoApiCoverage.test.js
Owners: @d4vidi, @noomorph

docs(system): update API note and description.
  docs/api/system.md
Owners: @d4vidi

refactor: remove redundant import.
  detox/src/ios/expectTwo.js
Owners: @d4vidi, @noomorph

feat(iOS): implement `system` APIs.
  detox/src/ios/XCUITestRunner.js
  detox/src/ios/expectTwo.js
  detox/src/ios/expectTwo.test.js
  detox/src/ios/expectTwoApiCoverage.test.js
  detox/src/ios/system.js
  detox/src/matchers/factories/index.js
  detox/src/utils/environment.js
  detox/src/utils/invocationTraceDescriptions.js
  detox/test/e2e/36.system.test.js
Owners: @d4vidi, @noomorph

test(ios, system): initial acceptance tests.
  detox/test/e2e/36.system.test.js
  detox/test/src/Screens/SystemDialogsScreen.js
  detox/test/src/Screens/index.js
  detox/test/src/app.js
Owners: @d4vidi, @noomorph

docs(detox cli): update with new build-framework-cache api.
  docs/cli/build-framework-cache.md
  docs/cli/build-xcuitest-cache.md
  docs/cli/clean-framework-cache.md
  docs/cli/clean-xcuitest-cache.md
  docs/cli/overview.md
  docs/cli/rebuild-framework-cache.md
  docs/cli/rebuild-xcuitest-cache.md
  docs/contributing/code/building-and-testing.md
  website/sidebars.js
Owners: @d4vidi, @noomorph

docs(system): make doclint happy.
  docs/api/system.md
Owners: @d4vidi

build: add xcuitest-runner build scripts.
  detox/local-cli/build-framework-cache.js
  detox/local-cli/build-xcuitest-cache.js
  detox/local-cli/clean-framework-cache.js
  detox/local-cli/clean-xcuitest-cache.js
  detox/local-cli/rebuild-framework-cache.js
  detox/local-cli/rebuild-xcuitest-cache.js
  detox/scripts/build_framework.ios.sh
  detox/scripts/build_local_framework.ios.sh
  detox/scripts/build_local_xcuitest.ios.sh
  detox/scripts/build_universal_framework.sh
  detox/scripts/build_universal_framework_legacy.sh
  detox/scripts/build_universal_framework_modern.sh
  detox/scripts/build_xcuitest.ios.sh
  detox/scripts/pack_ios.sh
  detox/scripts/postinstall.js
Owners: @d4vidi, @noomorph

refactor(environment.js): use `crypto` and `memoize`.
  detox/src/utils/environment.js
Owners: @d4vidi, @noomorph

types: add note for system APIs - experimental.
  detox/detox.d.ts
  detox/globals.d.ts
Owners: @d4vidi, @noomorph

test(unit): fix tests.
  detox/src/ios/expectTwoApiCoverage.test.js
Owners: @d4vidi, @noomorph

test(unit): add tests for unsupported error message.
  detox/src/android/AndroidExpect.js
  detox/src/android/AndroidExpect.test.js
  detox/src/android/matchers/index.js
  detox/src/utils/XCUITestRunner.test.js
Owners: @d4vidi, @noomorph

refactor(XCUITestRunner): replace `JSON.stringify` with `%j`.
  detox/src/ios/XCUITestRunner.js
Owners: @d4vidi, @noomorph

chore(ios): remove dead code.
  detox/ios/DetoxXCUITestRunner/DetoxXCUITestRunner/Extensions/XCUIApplication+Extensions.swift
Owners: @asafkorem

test(coverage): add missing test.
  detox/src/ios/expectTwoApiCoverage.test.js
Owners: @d4vidi, @noomorph

fix(detox-cli): fix command name.
  detox/local-cli/build-framework-cache.js
  detox/local-cli/rebuild-framework-cache.js
Owners: @d4vidi, @noomorph

test(unit): add missing tests for expectTwo.
  detox/src/ios/expectTwo.test.js
  detox/src/ios/expectTwoApiCoverage.test.js
Owners: @d4vidi, @noomorph

refactor(environment.js): use `_.once` instead of `_.memoize`.
  detox/src/utils/environment.js
Owners: @d4vidi, @noomorph

DetoxXCUITestRunner: initial commit.
  detox/ios/DetoxXCUITestRunner/DetoxXCUITestRunner.xcodeproj/project.pbxproj
  detox/ios/DetoxXCUITestRunner/DetoxXCUITestRunner.xcodeproj/xcshareddata/xcschemes/DetoxXCUITestRunner.xcscheme
  detox/ios/DetoxXCUITestRunner/DetoxXCUITestRunner.xctestplan
  detox/ios/DetoxXCUITestRunner/DetoxXCUITestRunner/Assets.xcassets/AccentColor.colorset/Contents.json
  detox/ios/DetoxXCUITestRunner/DetoxXCUITestRunner/Assets.xcassets/AppIcon.appiconset/Contents.json
  detox/ios/DetoxXCUITestRunner/DetoxXCUITestRunner/Assets.xcassets/Contents.json
  detox/ios/DetoxXCUITestRunner/DetoxXCUITestRunner/ContentView.swift
  detox/ios/DetoxXCUITestRunner/DetoxXCUITestRunner/DetoxXCUITestRunner.swift
  detox/ios/DetoxXCUITestRunner/DetoxXCUITestRunner/DetoxXCUITestRunnerApp.swift
  detox/ios/DetoxXCUITestRunner/DetoxXCUITestRunner/Extensions/ElementType+Extensions.swift
  detox/ios/DetoxXCUITestRunner/DetoxXCUITestRunner/Extensions/InvocationParams+matcherDescription.swift
  detox/ios/DetoxXCUITestRunner/DetoxXCUITestRunner/Extensions/TimeInterval+defaultTimeout.swift
  detox/ios/DetoxXCUITestRunner/DetoxXCUITestRunner/Extensions/XCUIApplication+Extensions.swift
  detox/ios/DetoxXCUITestRunner/DetoxXCUITestRunner/Handlers/ActionHandler.swift
  detox/ios/DetoxXCUITestRunner/DetoxXCUITestRunner/Handlers/ExpectationHandler.swift
  detox/ios/DetoxXCUITestRunner/DetoxXCUITestRunner/Handlers/PredicateHandler.swift
  detox/ios/DetoxXCUITestRunner/DetoxXCUITestRunner/Params Reader/InvocationParams.swift
  detox/ios/DetoxXCUITestRunner/DetoxXCUITestRunner/Params Reader/InvocationParamsReader.swift
  detox/ios/DetoxXCUITestRunner/DetoxXCUITestRunner/Preview Content/Preview Assets.xcassets/Contents.json
  detox/ios/DetoxXCUITestRunner/DetoxXCUITestRunner/Utils/DTXAssert.swift
Owners: @asafkorem, @d4vidi

chore: apply code review suggestions.
  detox/local-cli/utils/frameworkUtils.js
  detox/src/utils/environment.js
Owners: @d4vidi, @noomorph

test: ignore branch coverage on covered line.
  detox/src/utils/assertArgument.js
Owners: @d4vidi, @noomorph

docs(ios, system): initial system APIs docs
  docs/api/system.md
  website/sidebars.js
Owners: @d4vidi, @noomorph

test(unit): update snapshots.
  detox/src/utils/__snapshots__/assertArgument.test.js.snap
Owners: @d4vidi

fix: use hint when asserting trace description.
  detox/src/ios/expectTwo.js
  detox/src/ios/system.js
  detox/src/ios/web.js
  detox/src/utils/__snapshots__/assertArgument.test.js.snap
  detox/src/utils/assertArgument.js
  detox/src/utils/assertArgument.test.js
Owners: @d4vidi, @noomorph

test(unit): fix XCUITestRunner tests.
  detox/src/ios/XCUITestRunner.test.js
Owners: @d4vidi, @noomorph

docs(cli): update Detox CLI docs.
  docs/cli/build-framework-cache.md
  docs/cli/build-xcuitest-cache.md
  docs/cli/clean-framework-cache.md
  docs/cli/clean-xcuitest-cache.md
  docs/cli/overview.md
  docs/cli/rebuild-xcuitest-cache.md
  docs/contributing/code/building-and-testing.md
  website/sidebars.js
Owners: @d4vidi, @noomorph

refactor: implement `assertDefined`.
  detox/src/ios/expectTwo.js
  detox/src/ios/system.js
  detox/src/ios/web.js
  detox/src/utils/__snapshots__/assertArgument.test.js.snap
  detox/src/utils/assertArgument.js
  detox/src/utils/assertArgument.test.js
Owners: @d4vidi, @noomorph

refactor: move `XCUITestRunner.js` to `src/ios/`.
  detox/src/ios/XCUITestRunner.js
  detox/src/ios/XCUITestRunner.test.js
  detox/src/matchers/factories/index.js
Owners: @d4vidi, @noomorph

refactor(XCUITestRunner): use `exec` instead of `execWithRetriesAndLogs`.
  detox/src/ios/XCUITestRunner.js
Owners: @d4vidi, @noomorph

feat(detox cli): add flag params to `build-framework-cache`.
  detox/local-cli/build-framework-cache.js
Owners: @d4vidi, @noomorph

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem
