Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

Fixed unitests
  detox/src/android/AndroidExpect.test.js
Owners: @d4vidi, @noomorph

Fixes after mr
  detox/ios/Detox/Actions/NSObject+DetoxActions.m
Owners: @asafkorem

Removed image
  detox/test/img/basket.png
  detox/test/src/Screens/DragNDropScreen.tsx
Owners: @d4vidi

Fixes after MR
  detox/android/detox/src/full/java/com/wix/detox/espresso/DetoxAction.java
  detox/android/detox/src/main/java/com/wix/detox/espresso/action/LongPressAndDragAction.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/action/common/utils/ViewInteractionExt.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/scroll/DetoxSwiper.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/scroll/FlinglessSwiper.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/scroll/LinearSwiper.kt
  detox/ios/Detox/Actions/NSObject+DetoxActions.m
  detox/ios/Detox/AppleTouchEvents/DTXTouchInjector.m
  detox/test/e2e/28.drag-and-drop.test.js
Owners: @d4vidi, @jonathanmos, @asafkorem, @noomorph

fixed postintall for non react native projects
  detox/src/utils/rn-consts/rn-consts.js
Owners: @d4vidi, @noomorph

Fixed lint
  detox/src/utils/rn-consts/rn-consts.js
Owners: @d4vidi, @noomorph

Fixed lint
  detox/test/src/Screens/DragNDropScreen.tsx
Owners: @d4vidi

Fixed flaky longPressAndDrag tests
  detox/android/detox/src/main/java/com/wix/detox/espresso/action/LongPressAndDragAction.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/scroll/LinearSwiper.kt
Owners: @d4vidi, @jonathanmos

Publish 20.20.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Publish docs version 20.x
  website/versioned_docs/version-20.x/api/actions.md
Owners: @d4vidi

m2 agent
  .buildkite/jobs/pipeline.android_demo_app_rn_73.yml
  .buildkite/jobs/pipeline.android_rn_71.yml
  .buildkite/jobs/pipeline.android_rn_73.yml
  .buildkite/jobs/pipeline.ios_demo_app_rn_71.yml
  .buildkite/jobs/pipeline.ios_demo_app_rn_73.yml
  .buildkite/jobs/pipeline.ios_rn_71.yml
  .buildkite/jobs/pipeline.ios_rn_73.yml
Owners: @d4vidi

ios 17.0
  detox/test/e2e/detox.config.js
  examples/demo-react-native/detox.config.js
Owners: @d4vidi, @noomorph

remove os
  detox/test/e2e/detox.config.js
  examples/demo-react-native/detox.config.js
Owners: @d4vidi, @noomorph

xcode 15.0.1
  .xcoderc
Owners: @d4vidi

java_home 17
  .buildkite/jobs/pipeline.android_demo_app_rn_73.yml
  .buildkite/jobs/pipeline.android_rn_73.yml
  .buildkite/pipeline.release.fast.yml
  .buildkite/pipeline_common.sh
Owners: @d4vidi, @noomorph

fix(iOS): avoid using `setSelectionRange` on elements that do not support it.
  detox/ios/Detox/Invocation/WebCodeBuilder+createMoveCursorToEndAction.swift
Owners: @asafkorem

Publish 20.20.1 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

lock ios 17.0.1
  .buildkite/pipeline_common.sh
  detox/test/e2e/detox.config.js
  examples/demo-native-ios/package.json
  examples/demo-react-native/detox.config.js
Owners: @d4vidi, @noomorph

fix(iOS): dispatch input event when changing web inner-element's value.
  detox/ios/Detox/Invocation/WebCodeBuilder+createTypeAction.swift
Owners: @asafkorem

fix test
  detox/test/e2e/33.attributes.test.js
Owners: @d4vidi, @noomorph

Added condition wrapper for only R.N vs supported
  detox/android/detox/src/full/java/com/wix/detox/reactnative/ReactMarkersLogger.kt
Owners: @d4vidi, @jonathanmos

Replace R.N checker
  detox/android/detox/src/full/java/com/wix/detox/reactnative/ReactMarkersLogger.kt
Owners: @d4vidi, @jonathanmos

Add if wrapper no-op to the attach method
  detox/android/detox/src/full/java/com/wix/detox/reactnative/ReactMarkersLogger.kt
Owners: @d4vidi, @jonathanmos

Publish 20.20.2 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Simplify solution added
  detox/android/detox/src/full/java/com/wix/detox/reactnative/ReactMarkersLogger.kt
Owners: @d4vidi, @jonathanmos

java 17 global
  .buildkite/jobs/pipeline.android_demo_app_rn_73.yml
  .buildkite/jobs/pipeline.android_rn_71.yml
  .buildkite/jobs/pipeline.android_rn_73.yml
  .buildkite/pipeline_common.sh
Owners: @d4vidi, @noomorph

Create e2e-testing-android.yaml
  examples/demo-react-native/.github/workflows/e2e-testing-android.yaml
Owners: @d4vidi

Update e2e-testing-android.yaml
  examples/demo-react-native/.github/workflows/e2e-testing-android.yaml
Owners: @d4vidi

fix upload tests
  .buildkite/jobs/pipeline.android_demo_app_rn_73.yml
  .buildkite/jobs/pipeline.android_rn_71.yml
  .buildkite/jobs/pipeline.android_rn_73.yml
  .buildkite/jobs/pipeline.ios_demo_app_rn_71.yml
  .buildkite/jobs/pipeline.ios_demo_app_rn_73.yml
  .buildkite/jobs/pipeline.ios_rn_71.yml
  .buildkite/jobs/pipeline.ios_rn_73.yml
  .buildkite/pipeline.release.fast.yml
  .buildkite/pipeline_common.sh
Owners: @d4vidi, @noomorph

all phases
  .buildkite/pipeline_common.sh
Owners: @d4vidi, @noomorph

Updated docs
  docs/api/actions.md
Owners: @d4vidi

Force github actions
  .github/workflows/e2e-testing-android.yaml
  detox/src/DetoxWorker.js
Owners: @d4vidi, @noomorph

Force github actions
  .github/workflows/e2e-testing-android.yaml
Owners: @d4vidi

all on m2
  .buildkite/jobs/pipeline.ios_rn_73.yml
  .buildkite/pipeline_common.sh
Owners: @d4vidi, @noomorph

Update actions.md
  docs/api/actions.md
Owners: @d4vidi

Update docs/api/actions.md
  docs/api/actions.md
Owners: @d4vidi

docs(actions.md): update table of content. (#4455)
  docs/api/actions.md
Owners: @d4vidi

Use first user account on attached Android devices
  detox/src/devices/common/drivers/android/exec/ADB.js
Owners: @d4vidi, @noomorph

Added condition wrapper for only R.N vs supported (#4447)
  detox/android/detox/src/full/java/com/wix/detox/reactnative/ReactMarkersLogger.kt
Owners: @d4vidi, @jonathanmos

Publish 20.20.3 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem
