Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

docs(system): add note about API subject to changes (experimental).
  detox/detox.d.ts
  docs/api/system.md
Owners: @d4vidi, @noomorph

docs: make doclint happy.
  docs/cli/build-framework-cache.md
  docs/cli/rebuild-framework-cache.md
Owners: @d4vidi

test: fix unit test.
  detox/src/android/AndroidExpect.test.js
Owners: @d4vidi, @noomorph

refactor(ios): remove unused parameter.
  detox/src/ios/system.js
Owners: @d4vidi, @noomorph

refactor(detox cli): make aliases to build-framework-cache.
  detox/local-cli/build-framework-cache.js
  detox/local-cli/build-xcuitest-cache.js
  detox/local-cli/clean-framework-cache.js
  detox/local-cli/clean-xcuitest-cache.js
  detox/local-cli/rebuild-framework-cache.js
  detox/local-cli/rebuild-xcuitest-cache.js
Owners: @d4vidi, @noomorph

test(unit): fix unit tests.
  detox/src/ios/expectTwo.js
  detox/src/matchers/factories/index.js
Owners: @d4vidi, @noomorph

test(unit): add tests for XCUITestRunner.
  detox/src/matchers/factories/index.js
  detox/src/utils/XCUITestRunner.js
  detox/src/utils/XCUITestRunner.test.js
Owners: @d4vidi, @noomorph

feat: use `detox` and `xcuitest` flags in framework cache commands.
  detox/local-cli/build-framework-cache.js
  detox/local-cli/clean-framework-cache.js
  detox/local-cli/rebuild-framework-cache.js
  detox/local-cli/utils/frameworkUtils.js
  docs/cli/build-framework-cache.md
  docs/cli/clean-framework-cache.md
  docs/cli/rebuild-framework-cache.md
Owners: @d4vidi, @noomorph

fix: assert internal error with `DetoxInternalError`.
  detox/src/utils/assertArgument.js
Owners: @d4vidi, @noomorph

refactor(ios): remove unused parameter.
  detox/src/ios/system.js
Owners: @d4vidi, @noomorph

feat(ios, system): add system APIs, no implementation.
  detox/detox.d.ts
  detox/globals.d.ts
  detox/src/android/AndroidExpect.js
  detox/src/android/matchers/index.js
  detox/src/ios/expectTwo.js
  detox/src/ios/system.js
  detox/src/utils/invocationTraceDescriptions.js
Owners: @d4vidi, @noomorph

docs(system): rephrase experimental API message.
  docs/api/system.md
Owners: @d4vidi

add skia to example app
  detox/test/package.json
  detox/test/src/Screens/CanvasScreenshotScreen.js
  detox/test/src/Screens/index.js
  detox/test/src/app.js
Owners: @d4vidi, @noomorph

manually render texture views
  detox/android/detox/src/main/java/com/wix/detox/espresso/action/ViewScreenshot.kt
Owners: @d4vidi, @jonathanmos

ci(fix): fix iOS version pack script.
  detox/scripts/pack_ios.sh
Owners: @d4vidi, @noomorph

Publish 20.21.1-smoke.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  generation/package.json
  lerna.json
  package.json
Owners: @d4vidi

Publish 20.22.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  generation/package.json
  lerna.json
  package.json
Owners: @d4vidi

Publish docs version 20.x
  website/versioned_docs/version-20.x/api/system.md
  website/versioned_docs/version-20.x/cli/build-framework-cache.md
  website/versioned_docs/version-20.x/cli/clean-framework-cache.md
  website/versioned_docs/version-20.x/cli/overview.md
  website/versioned_docs/version-20.x/cli/rebuild-framework-cache.md
  website/versioned_docs/version-20.x/contributing/code/building-and-testing.md
  website/versioned_sidebars/version-20.x-sidebars.json
Owners: @d4vidi

fix(build): `detox clean-framework-cache` script.
  detox/local-cli/utils/frameworkUtils.js
Owners: @d4vidi, @noomorph

Publish 20.22.1 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

fix(iOS): error with version packing script.
  detox/scripts/pack_ios.sh
Owners: @d4vidi, @noomorph

Publish 20.22.2 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

docs(troubleshooting): add warning about NetworkSecurityConfig
  docs/troubleshooting/running-tests.md
Owners: @d4vidi

types: add missing supported types.
  detox/detox.d.ts
Owners: @d4vidi, @noomorph

fix(android): assert on invalid web-matchers.
  detox/src/android/matchers/index.js
Owners: @d4vidi, @noomorph

Fix test build type in proguard config documentation
  docs/guide/proguard-configuration.md
Owners: @d4vidi

feat: add `asSecured` types.
  detox/detox.d.ts
Owners: @d4vidi, @noomorph

docs(webviews): add missing api (`by.web.label`).
  docs/api/webviews.md
Owners: @d4vidi

test(app): add input field to secured iframe.
  detox/test/mock-server/mock-server.js
  detox/test/src/Screens/WebViewScreen.js
Owners: @d4vidi, @noomorph

test(e2e): add acceptance tests.
  detox/test/e2e/29.webview.test.js
Owners: @d4vidi, @noomorph

feat: implement XCUITest typing actions.
  detox/ios/DetoxXCUITestRunner/DetoxXCUITestRunner/Utils/XCUIElement+Extensions.swift
Owners: @asafkorem

feat: add XCUITest native log utils.
  detox/ios/DetoxXCUITestRunner/DetoxXCUITestRunner.xcodeproj/project.pbxproj
  detox/ios/DetoxXCUITestRunner/DetoxXCUITestRunner/Utils/LogUtils.swift
  detox/src/ios/XCUITestRunner.js
Owners: @asafkorem, @d4vidi, @noomorph

feat(xcuitest): pass app-under-test.
  detox/ios/DetoxXCUITestRunner/DetoxXCUITestRunner.xcodeproj/project.pbxproj
  detox/ios/DetoxXCUITestRunner/DetoxXCUITestRunner/Extensions/XCUIApplication+Extensions.swift
  detox/ios/DetoxXCUITestRunner/DetoxXCUITestRunner/Utils/Environment.swift
Owners: @asafkorem

feat: support `asSecured` web-element interactions.
  detox/ios/DetoxXCUITestRunner/DetoxXCUITestRunner/DetoxXCUITestRunner.swift
  detox/ios/DetoxXCUITestRunner/DetoxXCUITestRunner/Handlers/ActionHandler.swift
  detox/ios/DetoxXCUITestRunner/DetoxXCUITestRunner/Handlers/PredicateHandler.swift
  detox/ios/DetoxXCUITestRunner/DetoxXCUITestRunner/Params Reader/InvocationParams.swift
  detox/ios/DetoxXCUITestRunner/DetoxXCUITestRunner/Params Reader/InvocationParamsReader.swift
  detox/src/android/core/WebElement.js
  detox/src/ios/XCUITestRunner.js
  detox/src/ios/expectTwo.js
  detox/src/ios/web.js
  detox/src/matchers/factories/index.js
Owners: @asafkorem, @d4vidi, @noomorph

Publish 20.23.0-smoke.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

feat(xcuitest): pass app-under-test.
  detox/ios/DetoxXCUITestRunner/DetoxXCUITestRunner.xcodeproj/project.pbxproj
  detox/ios/DetoxXCUITestRunner/DetoxXCUITestRunner/Extensions/XCUIApplication+Extensions.swift
  detox/ios/DetoxXCUITestRunner/DetoxXCUITestRunner/Utils/Environment.swift
Owners: @asafkorem

types: add missing supported types.
  detox/detox.d.ts
Owners: @d4vidi, @noomorph

feat: implement XCUITest typing actions.
  detox/ios/DetoxXCUITestRunner/DetoxXCUITestRunner/Utils/XCUIElement+Extensions.swift
Owners: @asafkorem

test(e2e): add acceptance tests.
  detox/test/e2e/29.webview.test.js
Owners: @d4vidi, @noomorph

fix(types): prevent type coercion.
  detox/detox.d.ts
Owners: @d4vidi, @noomorph

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem
