Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

Fixes after pr
  detox/android/detox/src/full/java/com/wix/detox/common/KotlinReflectUtils.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/animations/AnimatedModuleIdlingResource.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/ui/UIExtensions.kt
  detox/test/e2e/04.assertions.test.js
  detox/test/e2e/33.attributes.test.js
Owners: @d4vidi, @jonathanmos, @noomorph

Skip flaky ios test
  detox/test/e2e/29.webview.test.js
Owners: @d4vidi, @noomorph

Fixed tests
  detox/android/detox/src/testFull/java/com/wix/detox/common/UIExtensionsTest.kt
  detox/test/e2e/33.attributes.test.js
Owners: @d4vidi, @jonathanmos, @noomorph

Fixed ios flaky test
  detox/test/e2e/29.webview.test.js
  detox/test/e2e/assets/typing-keep-cursor-position-webview-content-editable-2.ios.new-arch.png
Owners: @d4vidi, @noomorph

Undo gradle upgrade
  detox/android/gradle/wrapper/gradle-wrapper.properties
  detox/scripts/updateGradle.js
  detox/test/android/gradle/wrapper/gradle-wrapper.properties
  examples/demo-react-native/android/gradle/wrapper/gradle-wrapper.properties
Owners: @d4vidi, @noomorph

Upgraded gradle. Fixed main application to support older versions of rnn
  detox/android/gradle/wrapper/gradle-wrapper.properties
  detox/scripts/updateGradle.js
  detox/test/android/app/src/main/java/com/example/DetoxRNHost.kt
  detox/test/android/app/src/main/java/com/example/MainApplication.kt
  detox/test/android/gradle/wrapper/gradle-wrapper.properties
  examples/demo-react-native/android/gradle/wrapper/gradle-wrapper.properties
Owners: @d4vidi, @noomorph, @jonathanmos

Implement RN 82
  .buildkite/jobs/pipeline.android_demo_app_rn_82.yml
  .buildkite/jobs/pipeline.android_rn_82.yml
  .buildkite/jobs/pipeline.ios_demo_app_rn_82.yml
  .buildkite/jobs/pipeline.ios_rn_82.yml
  .buildkite/pipeline_common.sh
  detox/package.json
  detox/test/android/app/src/main/java/com/example/DetoxRNHost.kt
  detox/test/android/app/src/main/java/com/example/MainApplication.kt
  detox/test/ios/example.xcodeproj/project.pbxproj
  detox/test/package.json
  examples/demo-react-native/ios/example.xcodeproj/project.pbxproj
  examples/demo-react-native/package.json
Owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

Revert "Fixed ios flaky test"
  detox/test/e2e/29.webview.test.js
  detox/test/e2e/assets/typing-keep-cursor-position-webview-content-editable-2.ios.new-arch.png
Owners: @d4vidi, @noomorph

Removed unused configurations
  .buildkite/jobs/pipeline.android_demo_app_rn_81.yml
  .buildkite/jobs/pipeline.ios_demo_app_rn_77.yml
  .buildkite/jobs/pipeline.ios_demo_app_rn_81.yml
Owners: @d4vidi

Fixed android unittest
  detox/android/detox/src/testFull/java/com/wix/detox/common/UIExtensionsTest.kt
Owners: @d4vidi, @jonathanmos

Update supported versions
  README.md
  docs/introduction/partials/_getting-started-rn.md
Owners: @d4vidi

Publish 20.44.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Publish docs version 20.x
  website/versioned_docs/version-20.x/introduction/partials/_getting-started-rn.md
Owners: @d4vidi

better solution
  detox/ios/Detox/Invocation/WKWebViewConfiguration+Detox.m
Owners: @asafkorem

update from ivars to ivarList
  detox/ios/Detox/Invocation/WKWebViewConfiguration+Detox.m
Owners: @asafkorem

Fixed Android dependency resolution on RN 77
  detox/test/android/build.gradle
Owners: @d4vidi, @jonathanmos

Upgraded another version
  detox/test/android/build.gradle
Owners: @d4vidi, @jonathanmos

Fixed the version of date picker
  detox/test/package.json
Owners: @d4vidi

Removed the AppDelegate.swift file
  detox/test/ios/AppDelegate.swift
  detox/test/ios/example.xcodeproj/project.pbxproj
Owners: @asafkorem

Publish 20.45.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

wip
  detox/src/DetoxWorker.js
  detox/src/devices/runtime/RuntimeDevice.js
  detox/src/devices/runtime/drivers/DeviceDriverBase.js
  detox/src/devices/runtime/drivers/android/AndroidDriver.js
  detox/src/devices/runtime/drivers/android/DeviceInitCache.js
  detox/src/devices/runtime/drivers/android/emulator/EmulatorDriver.js
  detox/src/devices/runtime/factories/android.js
  detox/test/e2e/helpers/AndroidUIInit/DeviceInitCache.js
  detox/test/e2e/helpers/AndroidUIInit/index.js
  detox/test/e2e/testEnvironment.js
Owners: @d4vidi, @noomorph

Fixed animations idling issue on android
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/animations/AnimatedModuleIdlingResource.kt
Owners: @d4vidi, @jonathanmos

Publish 20.45.1 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Run the tests on latest android emulators
  detox/android/detox/build.gradle
  detox/test/e2e/detox.config.js
Owners: @d4vidi, @jonathanmos, @noomorph

Reverting Yarik's fix and updating iOS simulators to 18.5
  detox/test/e2e/detox.config.js
Owners: @d4vidi, @noomorph

Clean up older, non-native solution
  detox/test/e2e/helpers/AndroidUIInit/DeviceInitCache.js
  detox/test/e2e/helpers/AndroidUIInit/index.js
  detox/test/e2e/testEnvironment.js
Owners: @d4vidi, @noomorph

Fundamentally enable system-UI config
  detox/detox.d.ts
  detox/src/configuration/composeDeviceConfig.js
  detox/src/configuration/composeDeviceConfig.test.js
  detox/src/devices/allocation/DeviceAllocator.js
  detox/src/devices/allocation/DeviceAllocator.test.js
  detox/src/devices/allocation/drivers/AllocationDriverBase.d.ts
  detox/src/devices/allocation/drivers/android/AndroidAllocDriver.js
  detox/src/devices/allocation/drivers/android/attached/AttachedAndroidAllocDriver.js
  detox/src/devices/allocation/drivers/android/emulator/EmulatorAllocDriver.js
  detox/src/devices/allocation/drivers/android/genycloud/GenyAllocDriver.js
  detox/src/devices/runtime/RuntimeDevice.js
  detox/src/devices/runtime/drivers/android/AndroidDriver.js
  detox/src/errors/DetoxConfigErrorComposer.js
  detox/src/realms/DetoxPrimaryContext.js
  detox/test/e2e/detox.config.js
Owners: @d4vidi, @noomorph

Add init cache optimization
  detox/src/devices/allocation/drivers/android/AndroidAllocDriver.js
  detox/src/devices/allocation/drivers/android/DeviceInitCache.js
Owners: @d4vidi, @noomorph

Extract system UI cfg onto a class
  detox/src/devices/allocation/drivers/android/AndroidAllocDriver.js
  detox/src/devices/allocation/drivers/android/SystemUICfgHelper.js
Owners: @d4vidi, @noomorph

Allow for system UI config option deletion using null
  detox/detox.d.ts
  detox/src/configuration/composeDeviceConfig.js
  detox/src/devices/allocation/drivers/android/AndroidAllocDriver.js
Owners: @d4vidi, @noomorph

Add e2e
  detox/detox.d.ts
  detox/src/configuration/composeDeviceConfig.js
  detox/src/configuration/composeDeviceConfig.test.js
  detox/test/e2e/38.config-systemui.test.js
  detox/test/e2e/assets/detox-config.systemui-basic.android.png
  detox/test/e2e/detox.config.js
Owners: @d4vidi, @noomorph

Add unit tests, apply fixes
  detox/src/devices/allocation/drivers/android/SystemUICfgHelper.js
  detox/src/devices/allocation/drivers/android/SystemUICfgHelper.test.js
Owners: @d4vidi, @noomorph

Remove adb sleep(); Remove setStatusBar() deprecation
  detox/src/devices/allocation/drivers/android/AndroidAllocDriver.js
  detox/src/devices/runtime/RuntimeDevice.js
Owners: @d4vidi, @noomorph

bump iPhone to 16
  detox/test/e2e/detox.config.js
Owners: @d4vidi, @noomorph

docs: Add systemUI
  docs/config/devices.mdx
Owners: @d4vidi

Fix postInstall overrides
  detox/src/devices/allocation/drivers/android/attached/AttachedAndroidAllocDriver.js
  detox/src/devices/allocation/drivers/android/genycloud/GenyAllocDriver.js
Owners: @d4vidi, @noomorph

docs: Fix odd lint issue
  README.md
Owners: @d4vidi

update
  detox/test/e2e/detox.config.js
Owners: @d4vidi, @noomorph

Revert sleep() removal from ADB wrapper
  detox/src/devices/allocation/drivers/android/AndroidAllocDriver.js
Owners: @d4vidi, @noomorph

old arch screenshots updated as well
  detox/test/e2e/assets/cross-origin-frame.clear-text.ios.png
  detox/test/e2e/assets/cross-origin-frame.replace-text.ios.png
  detox/test/e2e/assets/cross-origin-frame.type-text-in.ios.png
  detox/test/e2e/assets/focus-on-content-editable-webview.ios.png
  detox/test/e2e/assets/focus-on-input-webview.ios.png
  detox/test/e2e/assets/move-cursor-to-end-content-editable-webview.ios.png
  detox/test/e2e/assets/move-cursor-to-end-webview.ios.png
  detox/test/e2e/assets/scroll-to-view-webview.ios.png
  detox/test/e2e/assets/select-all-text-in-content-editable-webview.ios.png
  detox/test/e2e/assets/select-all-text-in-webview.ios.png
  detox/test/e2e/assets/tap-on-cross-origin-frame-element.ios.png
Owners: @d4vidi

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem
