Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem

Publish 20.0.10-prerelease.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native-jest/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

ci: update website
  .github/workflows/website.yml
Owners: @d4vidi

docs: fix broken markdown
  docs/APIRef.Configuration.md
Owners: @d4vidi

docs: fix lint issues
  .markdownlintrc
  .retext-spell.dic
  CONTRIBUTING.md
  detox/README.md
  docs/Guide.DevelopingWhileWritingTests.md
  docs/Guide.LaunchArgs.md
  docs/Guide.Mocking.md
  docs/Guide.ProGuardConfiguration.md
  docs/Troubleshooting.RunningTests.md
  docs/api/actions.md
  docs/api/detox-cli.md
  docs/api/device.md
  docs/api/expect.md
  docs/api/internals.md
  docs/api/matchers.md
  docs/articles/third-party-drivers.md
  docs/config/apps.md
  docs/config/artifacts.md
  docs/config/logger.md
  docs/config/overview.md
  docs/guide/taking-screenshots.md
  docs/introduction/debugging.mdx
  docs/introduction/getting-started.mdx
  docs/introduction/partials/_debugging-native-code-run-android.mdx
  docs/introduction/partials/_debugging-native-code-troubleshooting-android.mdx
  docs/introduction/partials/_getting-started-expo.md
  docs/introduction/preparing-for-ci.md
  examples/demo-native-android/README.md
  examples/demo-native-ios/README.md
  examples/demo-react-native-detox-instruments/README.md
  examples/demo-react-native/README.md
  generation/README.md
Owners: @d4vidi

docs: 20.x migration guide
  .retext-spell.dic
  detox/runners/deprecation.js
  detox/src/configuration/composeRunnerConfig.js
  docs/Guide.Migration.md
Owners: @d4vidi, @noomorph

fix (android): for #3440 - Missing Proguard Entry for org.apache.commons.lang3.** (#3441)
  detox/android/detox/proguard-rules.pro
Owners: @d4vidi

Fix stable-bot auto-ignore for accepted issues
  .github/stale.yml
Owners: @d4vidi

Stable-bot message: fix typos
  .github/stale.yml
Owners: @d4vidi

Migrate to buildkite sections
  scripts/logger.sh
Owners: @d4vidi, @noomorph

Migrate to buildkite sections (#3605)
  scripts/logger.sh
Owners: @d4vidi, @noomorph

fix: the occasional ConcurrentModificationException error
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/NetworkIdlingResource.java
Owners: @d4vidi, @jonathanmos

NetworkIdlingResource: remove redundant import.
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/NetworkIdlingResource.java
Owners: @d4vidi, @jonathanmos

fix(iOS 16): avoid SpringBoard crash trying to foreground the app.
  detox/src/devices/common/drivers/ios/tools/AppleSimUtils.js
Owners: @d4vidi, @noomorph

docs: finish Genymotion guide
  docs/guide/genymotion-cloud.mdx
  docs/img/genymotion/live.png
  docs/img/genymotion/recipe.png
  docs/img/genymotion/register.png
Owners: @d4vidi

feat(config): add reversePorts to app config
  detox/index.d.ts
  detox/local-cli/init.js
  detox/src/configuration/composeAppsConfig.js
  detox/src/configuration/composeAppsConfig.test.js
  detox/src/devices/runtime/RuntimeDevice.js
  detox/src/devices/runtime/RuntimeDevice.test.js
  detox/src/errors/DetoxConfigErrorComposer.js
  detox/src/errors/DetoxConfigErrorComposer.test.js
  detox/src/errors/__snapshots__/DetoxConfigErrorComposer.test.js.snap
  detox/test/e2e/detox.config.js
  docs/guide/genymotion-cloud.mdx
Owners: @d4vidi, @noomorph

chore(website): replace Algolia DocSearch app ID and app key.
  website/docusaurus.config.js
Owners: @d4vidi, @noomorph

feat(config): add reversePorts to app config (#3610)
  detox/index.d.ts
  detox/local-cli/init.js
  detox/src/configuration/composeAppsConfig.js
  detox/src/configuration/composeAppsConfig.test.js
  detox/src/devices/runtime/RuntimeDevice.js
  detox/src/devices/runtime/RuntimeDevice.test.js
  detox/src/errors/DetoxConfigErrorComposer.js
  detox/src/errors/DetoxConfigErrorComposer.test.js
  detox/src/errors/__snapshots__/DetoxConfigErrorComposer.test.js.snap
  detox/test/e2e/detox.config.js
  docs/guide/genymotion-cloud.mdx
Owners: @d4vidi, @noomorph

docs: Configuration > Overview
  docs/config/overview.md
  docs/img/internals/config-dictionaries.png
  docs/img/internals/config-resolution.png
  website/src/css/custom.css
Owners: @d4vidi

docs: fix Debugging guide
  docs/introduction/debugging.mdx
Owners: @d4vidi

fix: avd validator emulator version obey `headless`
  detox/src/devices/allocation/drivers/android/emulator/AVDValidator.js
  detox/src/devices/allocation/drivers/android/emulator/EmulatorAllocDriver.js
Owners: @d4vidi, @noomorph

add avd validator test case for headless
  detox/src/devices/allocation/drivers/android/emulator/AVDValidator.test.js
Owners: @d4vidi, @noomorph

fix failing test
  detox/src/devices/allocation/drivers/android/emulator/EmulatorAllocDriver.test.js
Owners: @d4vidi, @noomorph

add test for headless in `EmulatorAllocDriver`
  detox/src/devices/allocation/drivers/android/emulator/EmulatorAllocDriver.test.js
Owners: @d4vidi, @noomorph

Publish 19.12.2 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native-jest/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

docs: Configuration > Test runner
  detox/local-cli/templates/jest.js
  docs/Guide.Migration.md
  docs/config/testRunner.md
Owners: @d4vidi, @noomorph

Apply synchronization over network IR to protect busy-resources list
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/IdlingResourceDescription.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/NetworkIdlingResource.java
  detox/android/detox/src/testFull/java/com/wix/detox/reactnative/idlingresources/NetworkIdlingResourcesTest.kt
Owners: @d4vidi, @jonathanmos

Apply synchronization over network IR to protect busy-resources list (#3616)
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/IdlingResourceDescription.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/NetworkIdlingResource.java
  detox/android/detox/src/testFull/java/com/wix/detox/reactnative/idlingresources/NetworkIdlingResourcesTest.kt
Owners: @d4vidi, @jonathanmos

Publish 19.12.3 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native-jest/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

docs: Genymotion SaaS fixes
  detox/src/devices/allocation/drivers/android/genycloud/GenyAllocDriver.test.js
  detox/src/devices/lifecycle/GenyGlobalLifecycleHandler.js
  detox/src/devices/lifecycle/GenyGlobalLifecycleHandler.test.js
  docs/guide/genymotion-saas.mdx
  website/sidebars.js
Owners: @d4vidi, @noomorph

Publish 20.0.11-prerelease.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native-jest/package.json
  examples/demo-react-native/package.json
  generation/package.json
  lerna.json
  package.json
Owners: @d4vidi

Update EmulatorAllocDriver.test.js
  detox/src/devices/allocation/drivers/android/emulator/EmulatorAllocDriver.test.js
Owners: @d4vidi, @noomorph

fix(Android): pass `headless` config param to the AVD validator. (#3614)
  detox/src/devices/allocation/drivers/android/emulator/AVDValidator.js
  detox/src/devices/allocation/drivers/android/emulator/AVDValidator.test.js
  detox/src/devices/allocation/drivers/android/emulator/EmulatorAllocDriver.js
  detox/src/devices/allocation/drivers/android/emulator/EmulatorAllocDriver.test.js
Owners: @d4vidi, @noomorph

fix(Android): pass `headless` config param to the AVD validator. (#3614)
  detox/src/devices/allocation/drivers/android/emulator/AVDValidator.js
  detox/src/devices/allocation/drivers/android/emulator/AVDValidator.test.js
  detox/src/devices/allocation/drivers/android/emulator/EmulatorAllocDriver.js
  detox/src/devices/allocation/drivers/android/emulator/EmulatorAllocDriver.test.js
Owners: @d4vidi, @noomorph

Extend proguard rules to apply all Sliders impl
  detox/android/detox/proguard-rules-app.pro
Owners: @d4vidi

Publish 19.12.4 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native-jest/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Extend proguard rules to apply all Sliders impl (#3621)
  detox/android/detox/proguard-rules-app.pro
Owners: @d4vidi

Publish 19.12.5 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native-jest/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

docs: update config/logger
  .retext-spell.dic
  docs/Guide.CI.AndroidEmulator.md
  docs/Guide.Migration.md
  docs/config/logger.md
  docs/config/logger.mdx
  docs/config/partials/_location.mdx
  docs/config/session.md
  docs/config/session.mdx
  docs/config/testRunner.mdx
  docs/img/log-example.png
Owners: @d4vidi

docs(config): add TOC to other articles
  docs/api/device.md
  docs/cli/index.md
  docs/config/apps.mdx
  docs/config/artifacts.mdx
  docs/config/behavior.mdx
  docs/config/devices.mdx
  docs/config/overview.mdx
  docs/config/partials/_location-dictionaries.mdx
  docs/guide/android-dev-env.md
  docs/guide/genymotion-saas.mdx
  docs/guide/launch-args.md
  docs/guide/migration.md
  docs/guide/taking-screenshots.md
  docs/introduction/debugging.mdx
  docs/troubleshooting/running-tests.md
Owners: @d4vidi

feat(cli): add reset-lock-file command
  detox/local-cli/cli.js
  detox/local-cli/reset-lock-file.js
  docs/api/device.md
  docs/config/behavior.mdx
  docs/guide/contributing.md
Owners: @d4vidi, @noomorph
