Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

docs(showcase): add Mercari app.
  website/showcase.json
  website/static/img/showcase/mercari.webp
Owners: @d4vidi

docs: fix demo page images.
  docs/demo.mdx
  docs/img/demo/left-image.png
  docs/img/demo/placeholder.png
  docs/img/demo/right-image.png
Owners: @d4vidi

docs: fix demo images paths.
  docs/demo.mdx
Owners: @d4vidi

unskip all tests
  detox/test/e2e/02.matchers.test.js
Owners: @d4vidi, @noomorph

WIP PR changes
  detox/android/detox/src/full/java/com/wix/detox/espresso/matcher/RegexMatcher.kt
  detox/android/detox/src/full/java/com/wix/detox/espresso/matcher/ViewMatchers.kt
  detox/android/detox/src/full/java/com/wix/detox/espresso/matcher/WithAccessibilityLabelMatcher.kt
  detox/android/detox/src/testFull/java/com/wix/detox/espresso/matcher/RegexMatcherTest.kt
  detox/ios/Detox.xcodeproj/project.pbxproj
  detox/ios/Detox/Invocation/Predicate.swift
  detox/ios/Detox/Utilities/String+matchesJSRegex.swift
  detox/src/android/AndroidExpect.test.js
Owners: @d4vidi, @jonathanmos, @asafkorem, @noomorph

ci(pipelines): update tested RN versions to 0.70 and 0.71.
  .buildkite/jobs/pipeline.android_demo_app_rn_71.yml
  .buildkite/jobs/pipeline.android_rn_71.yml
  .buildkite/jobs/pipeline.ios_demo_app_rn_71.yml
  .buildkite/jobs/pipeline.ios_rn_71.yml
  .buildkite/pipeline.debug.yml
  .buildkite/pipeline_common.sh
Owners: @d4vidi, @noomorph

docs(README): update with RN 0.71 official support.
  README.md
Owners: @d4vidi

docs(introduction): update with RN 0.71 official support.
  docs/introduction/partials/_getting-started-rn.md
Owners: @d4vidi

test(demo): upgrade to support RN 0.71.
  examples/demo-react-native/.gitignore
  examples/demo-react-native/Gemfile
  examples/demo-react-native/android/app/build.gradle
  examples/demo-react-native/android/app/src/main/AndroidManifest.xml
  examples/demo-react-native/android/build.gradle
  examples/demo-react-native/android/gradle/wrapper/gradle-wrapper.properties
  examples/demo-react-native/android/rninfo.gradle
  examples/demo-react-native/android/settings.gradle
  examples/demo-react-native/ios/Podfile
  examples/demo-react-native/ios/example.xcodeproj/project.pbxproj
  examples/demo-react-native/package.json
Owners: @d4vidi, @jonathanmos, @asafkorem

feat: add support for RN 0.71. (WIP)
  detox/android/build.gradle
  detox/android/detox/build.gradle
  detox/android/detox/src/full/java/com/wix/detox/espresso/common/SliderHelper.kt
  detox/android/gradle/wrapper/gradle-wrapper.properties
  detox/android/settings.gradle
  detox/package.json
Owners: @d4vidi, @jonathanmos

test(test-app): upgrade to support RN 0.71.
  detox/test/.gitignore
  detox/test/android/app/build.gradle
  detox/test/android/app/src/main/AndroidManifest.xml
  detox/test/android/build.gradle
  detox/test/android/gradle.properties
  detox/test/android/gradle/wrapper/gradle-wrapper.properties
  detox/test/android/rninfo.gradle
  detox/test/ios/Podfile
  detox/test/package.json
  detox/test/tsconfig.json
Owners: @d4vidi, @jonathanmos, @asafkorem

fix(iOS): missing package name on AndroidManifest.xml. (WIP)
  detox/test/android/app/src/main/AndroidManifest.xml
  examples/demo-react-native/android/app/src/main/AndroidManifest.xml
Owners: @d4vidi

fix(android): set SDK versions by RN version.
  detox/test/android/build.gradle
  examples/demo-react-native/android/build.gradle
Owners: @d4vidi, @jonathanmos

feat: upgrade RN patch version.
  .buildkite/jobs/pipeline.android_demo_app_rn_71.yml
  .buildkite/jobs/pipeline.android_rn_71.yml
  .buildkite/jobs/pipeline.ios_demo_app_rn_71.yml
  .buildkite/jobs/pipeline.ios_rn_71.yml
  detox/package.json
  detox/test/package.json
  examples/demo-react-native/package.json
Owners: @d4vidi

test(demo): revert something on build.gradle. (WIP)
  examples/demo-react-native/android/app/build.gradle
Owners: @d4vidi, @jonathanmos

test(e2e): add tests for `waitFor` with `swipe`.
  detox/test/e2e/05.waitfor.test.js
Owners: @d4vidi, @noomorph

fix unit tests
  detox/src/android/matchers/native.js
  detox/src/ios/expectTwo.test.js
Owners: @d4vidi, @noomorph

fix(android): try to downgrade sdk versions.
  detox/android/build.gradle
Owners: @d4vidi, @jonathanmos

code coverage fix
  detox/src/android/AndroidExpect.test.js
Owners: @d4vidi, @noomorph

additional iOS tests added
  detox/src/ios/expectTwo.test.js
Owners: @d4vidi, @noomorph

removed leftover print statement
  detox/ios/Detox/Utilities/String+matchesJSRegex.swift
Owners: @asafkorem

test(e2e): fix wait-for with swiping tests.
  detox/test/e2e/05.waitfor.misc.test.js
  detox/test/e2e/05.waitfor.test.js
Owners: @d4vidi, @noomorph

Revert "fix(android): try to downgrade sdk versions."
  detox/android/build.gradle
Owners: @d4vidi, @jonathanmos

Update logger.mdx
  docs/config/logger.mdx
Owners: @d4vidi

Update how-detox-works.md
  docs/articles/how-detox-works.md
Owners: @d4vidi

Update session.mdx
  docs/config/session.mdx
Owners: @d4vidi

Update session.mdx
  docs/config/session.mdx
Owners: @d4vidi

Update session.mdx
  docs/config/session.mdx
Owners: @d4vidi

fix(android): Try to fix lookup of unused com.facebook.react:react-native
  detox/test/android/app/build.gradle
  detox/test/android/build.gradle
Owners: @d4vidi, @jonathanmos

fix(android): Almost fix .aar resolution shitstorm
  detox/test/android/app/build.gradle
Owners: @d4vidi, @jonathanmos

dsdfgjklhfgklsh
  docs/config/logger.mdx
Owners: @d4vidi

dsdfgjklhfgklsh
  docs/articles/how-detox-works.md
  docs/config/session.mdx
Owners: @d4vidi

docs: improve debug sync docs (#4105)
  docs/articles/how-detox-works.md
  docs/config/logger.mdx
  docs/config/session.mdx
Owners: @d4vidi

All builds are non-compat but are OK
  detox/android/build.gradle
  detox/android/detox/build.gradle
  detox/package.json
  detox/test/.gitignore
  detox/test/android/app/build.gradle
  detox/test/android/app/src/main/AndroidManifest.xml
  detox/test/android/build.gradle
  detox/test/android/gradle.properties
  detox/test/android/settings.gradle
  detox/test/package.json
Owners: @d4vidi, @jonathanmos

Adjust MainApplication to RN .71 (subtle changes)
  detox/test/android/app/src/main/java/com/example/DetoxRNHost.java
  detox/test/android/settings.gradle
Owners: @d4vidi, @jonathanmos

Adjust Android test-app job on buildkite, just for kicks
  .buildkite/jobs/pipeline.android_rn_71.yml
  .buildkite/pipeline_common.sh
Owners: @d4vidi, @noomorph

ci: fix lerna issue
  .github/workflows/rapid-test.yml
Owners: @d4vidi

fix(cli): unhandled rejection after tests
  detox/local-cli/startCommand/AppStartCommand.js
Owners: @d4vidi, @noomorph

fix(cli): unhandled rejection after tests (#4111)
  detox/local-cli/startCommand/AppStartCommand.js
Owners: @d4vidi, @noomorph

wip: rename Client to AppConnection
  detox/src/DetoxWorker.js
  detox/src/DetoxWorker.test.js
  detox/src/artifacts/uiHierarchy/IosUIHierarchyPlugin.test.js
  detox/src/client/AppConnection.js
  detox/src/client/AppConnection.test.js
  detox/src/client/__snapshots__/Client.test.js.snap
  detox/src/devices/runtime/RuntimeDevice.test.js
  detox/src/invoke.test.js
  examples/demo-plugin/driver.js
Owners: @d4vidi, @noomorph

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem
