Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem

support pasting
  detox/ios/DetoxTester/DetoxTester/Actions/ActionDelegate.swift
  detox/ios/DetoxTester/DetoxTester/Actions/XCUIElement/XCUIElement+Error.swift
  detox/ios/DetoxTester/DetoxTester/Actions/XCUIElement/XCUIElement+Keyboard.swift
  detox/ios/DetoxTester/DetoxTester/Unit Tests/Actions/KeyboardTests.swift
  detox/ios/DetoxTester/DetoxTester/Utils/Extensions/XCUIApplication+springBoard.swift
  detox/ios/DetoxTester/DetoxTesterApp.xcodeproj/project.pbxproj
Owners: @asafkorem

doc: add cucumber integration
  docs/guide/cucumber-js-integration.md
Owners: @d4vidi

change text, swipe tests
  detox/ios/DetoxTester/DetoxTester/Actions/XCUIElement/XCUIElement+Keyboard.swift
  detox/ios/DetoxTester/DetoxTester/Actions/XCUIElement/XCUIElement+swipe.swift
  detox/ios/DetoxTester/DetoxTester/Unit Tests/Actions/SwipeTests.swift
  detox/ios/DetoxTester/DetoxTester/Utils/Extensions/String+BundleIdentifiers.swift
  detox/ios/DetoxTester/DetoxTester/Utils/Extensions/String+localize.swift
  detox/ios/DetoxTester/DetoxTester/Utils/Extensions/XCUIApplication+Common.swift
  detox/ios/DetoxTester/DetoxTester/Utils/Extensions/XCUIApplication+settingsApp.swift
  detox/ios/DetoxTester/DetoxTester/Utils/Extensions/XCUIApplication+springBoard.swift
  detox/ios/DetoxTester/DetoxTesterApp.xcodeproj/project.pbxproj
Owners: @asafkorem

fix(jest): it.only + afterAll bug
  detox/runners/jest/testEnvironment/listeners/DetoxCoreListener.js
  detox/test/integration/__snapshots__/timeline-artifact.test.js.snap
  detox/test/integration/e2e/focused.test.js
  detox/test/integration/e2e/passing-sandbox.test.js
  detox/test/integration/e2e/passing-skipped.test.js
  detox/test/integration/timeline-artifact.test.js
Owners: @d4vidi, @noomorph

test(integration): decrease test duration
  detox/test/integration/initialization-test.test.js
Owners: @d4vidi, @noomorph

improvements
  detox/ios/Detox/DetoxManager.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/WhiteBoxExecutor.swift
Owners: @asafkorem

expectations work. need to refactor!
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/Expectation.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/ExpectationType.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/InvokeHandler.swift
  detox/ios/DetoxTester/DetoxTester/Expectations/ExpectationDelegate+Error.swift
  detox/ios/DetoxTester/DetoxTester/Expectations/ExpectationDelegate.swift
  detox/ios/DetoxTester/DetoxTesterApp.xcodeproj/project.pbxproj
Owners: @asafkorem

assert focus
  detox/ios/DetoxTester/DetoxTester/Actions/XCUIElement/XCUIElement+Keyboard.swift
  detox/ios/DetoxTester/DetoxTester/Expectations/ExpectationDelegate+Error.swift
  detox/ios/DetoxTester/DetoxTester/Expectations/ExpectationDelegate.swift
Owners: @asafkorem

some error
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+Error.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor.swift
Owners: @asafkorem

fix keyboard issues
  detox/ios/DetoxTester/DetoxTester/Actions/XCUIElement/XCUIElement+Error.swift
  detox/ios/DetoxTester/DetoxTester/Actions/XCUIElement/XCUIElement+Keyboard.swift
  detox/ios/DetoxTester/DetoxTester/Expectations/ExpectationDelegate.swift
Owners: @asafkorem

fixes
  detox/ios/DetoxTester/DetoxTester/Actions/XCUIElement/XCUIElement+Error.swift
  detox/ios/DetoxTester/DetoxTester/Actions/XCUIElement/XCUIElement+Keyboard.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor+getAppUnderTest.swift
  detox/ios/DetoxTester/DetoxTester/Tester/Executor/Executor.swift
Owners: @asafkorem

fixes
  detox/ios/DetoxTester/DetoxTester/Actions/XCUIElement/XCUIElement+Keyboard.swift
Owners: @asafkorem

enable tests on RN 0.71
  .buildkite/jobs/pipeline.ios_demo_app_rn_71.yml
  .buildkite/jobs/pipeline.ios_rn_71.yml
  .buildkite/pipeline.debug.yml
Owners: @d4vidi

enable the 0.71 jobs
  .buildkite/pipeline_common.sh
Owners: @d4vidi, @noomorph

create a GitHub actions step in the .github/workflows/website.yml file using an 'if' conditional for running Percy snapshots
  .github/workflows/website.yml
Owners: @d4vidi

separate homepage, showcase, blog, and demo pages into their own snapshots. Update the .github/workflows/website.yml to include if conditions for all pages and keep custom css to include all pages
  .github/workflows/website.yml
  website/snapshots-blog.yml
  website/snapshots-custom-css.yml
  website/snapshots-demo.yml
  website/snapshots-homepage.yml
  website/snapshots-showcasae.yml
  website/snapshots.yml
Owners: @d4vidi

more changes
  detox/ios/DetoxTester/DetoxTester/Actions/XCUIElement/XCUIElement+Keyboard.swift
  detox/ios/DetoxTester/DetoxTester/Actions/XCUIElement/XCUIElement+shortPress.swift
  detox/ios/DetoxTester/DetoxTesterApp.xcodeproj/project.pbxproj
Owners: @asafkorem

fix multi-tap with a workaround
  detox/ios/DetoxTester/DetoxTester/Actions/XCUIElement/XCUIElement+tap.swift
Owners: @asafkorem

fix swipe
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/Action.swift
  detox/ios/DetoxTester/DetoxTester/Actions/ActionDelegate.swift
  detox/ios/DetoxTester/DetoxTester/Actions/XCUIElement/XCUIElement+scroll.swift
  detox/ios/DetoxTester/DetoxTester/Matchers/ElementMatcher.swift
  detox/ios/DetoxTester/DetoxTester/Unit Tests/Actions/ScrollTests.swift
Owners: @asafkorem

another fix
  detox/ios/DetoxTester/DetoxTester/Actions/XCUIElement/XCUIElement+scroll.swift
Owners: @asafkorem

docs: update android setup with react native 0.71
  docs/introduction/project-setup.mdx
Owners: @d4vidi

docs(website): create README
  website/README.md
Owners: @d4vidi

docs(website): create README (#3868)
  website/README.md
Owners: @d4vidi

refactor: follow-up to the logger review (#3749)
  detox/local-cli/cli.js
  detox/local-cli/testCommand/TestRunnerCommand.js
  detox/local-cli/testCommand/TestRunnerError.js
  detox/local-cli/testCommand/TestRunnerError.test.js
  detox/local-cli/utils/cliErrorHandling.js
  detox/src/artifacts/utils/temporaryPath.js
  detox/src/logger/utils/BunyanLogger.js
  detox/src/logger/utils/streams/BunyanTransformer.test.js
  detox/src/logger/utils/streams/DetoxJSONLParser.js
Owners: @d4vidi, @noomorph

ci(github): use paths-filter
  .github/workflows/website.yml
  website/package.json
Owners: @d4vidi

ci(github): fix run command
  .github/workflows/website.yml
Owners: @d4vidi

build(website): fix dependency type
  website/package.json
Owners: @d4vidi

ci(github): fix website.yml
  .github/workflows/website.yml
Owners: @d4vidi

wait-for works perfectly
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler.xcodeproj/project.pbxproj
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/ExpectationDelegateProtocol.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/InvokeHandler+Error.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/InvokeHandler.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandler/ScreenshotProvidingProtocol.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/FakeExpectationDelegate.swift
  detox/ios/DetoxInvokeHandler/DetoxInvokeHandlerTests/InvokeHandlerSpec.swift
  detox/ios/DetoxTester/DetoxTester/Actions/XCUIElement/XCUIElement+tap.swift
  detox/ios/DetoxTester/DetoxTester/Expectations/ExpectationDelegate+Error.swift
  detox/ios/DetoxTester/DetoxTester/Expectations/ExpectationDelegate.swift
  detox/ios/DetoxTester/DetoxTester/Unit Tests/Actions/GetAttributesTests.swift
  detox/ios/DetoxTester/DetoxTester/Utils/Extensions/XCUIElement+screenshot.swift
  detox/ios/DetoxTester/DetoxTesterApp.xcodeproj/project.pbxproj
Owners: @asafkorem

build(website): add zx script for percy
  .editorconfig
  website/package.json
  website/percy.mjs
Owners: @d4vidi

ci(github): website visual regression Tests (#3866)
  .editorconfig
  .github/workflows/website.yml
  website/package.json
  website/percy.mjs
Owners: @d4vidi

ci(github): visual test for Showcase
  website/snapshots.yml
Owners: @d4vidi

ci: add lighthouse check
  .github/workflows/website.yml
Owners: @d4vidi

ci(github): percy on master branch
  .github/workflows/website.yml
Owners: @d4vidi

ci(github): upload Lighthouse artifacts
  .github/workflows/website.yml
Owners: @d4vidi

ci(github): add PERCY_TOKEN to website.yml
  .github/workflows/website.yml
Owners: @d4vidi

ci(github): use lighthouse on deploys
  .github/workflows/website.yml
Owners: @d4vidi

ci(github): add trailing slashes per Lighthouse recommendation
  .github/workflows/website.yml
Owners: @d4vidi

ci: add lighthouse check (#3873)
  .github/workflows/website.yml
Owners: @d4vidi

removed unnecessary docusaurus-plugin-sass from root of project
  package.json
Owners: @d4vidi
