Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

Semantic matching basics #4788 (#4793)
  detox/detox.d.ts
  detox/ios/Detox/Invocation/Predicate.swift
  detox/src/android/matchers/native.js
  detox/src/android/matchers/native.test.js
  detox/src/ios/expectTwo.js
  detox/src/ios/expectTwo.test.js
  detox/src/matchers/semanticTypes.js
  detox/src/matchers/semanticTypes.test.js
  detox/test/e2e/27.semantic-types.test.js
  detox/test/src/Screens/SemanticTypesScreen.js
  detox/test/src/Screens/index.js
  detox/test/src/app.js
Owners: @d4vidi, @noomorph, @asafkorem

update of snapshots for webview
  detox/test/e2e/assets/cross-origin-frame.type-text-in.ios.new-arch.png
  detox/test/e2e/assets/tap-on-cross-origin-frame-element.ios.new-arch.png
Owners: @d4vidi

chore: upgrade allure adapter
  detox/test/package.json
  yarn.lock
Owners: @d4vidi

using xcode 26.1
  .xcoderc
Owners: @d4vidi

update simulator
  detox/test/e2e/detox.config.js
Owners: @d4vidi, @noomorph

update for newArch
  detox/test/e2e/assets/cross-origin-frame.clear-text.ios.new-arch.png
  detox/test/e2e/assets/cross-origin-frame.replace-text.ios.new-arch.png
  detox/test/e2e/assets/cross-origin-frame.type-text-in.ios.new-arch.png
  detox/test/e2e/assets/focus-on-content-editable-webview.ios.new-arch.png
  detox/test/e2e/assets/focus-on-input-webview.ios.new-arch.png
  detox/test/e2e/assets/move-cursor-to-end-content-editable-webview.ios.new-arch.png
  detox/test/e2e/assets/move-cursor-to-end-webview.ios.new-arch.png
  detox/test/e2e/assets/scroll-to-view-webview.ios.new-arch.png
  detox/test/e2e/assets/select-all-text-in-content-editable-webview.ios.new-arch.png
  detox/test/e2e/assets/select-all-text-in-webview.ios.new-arch.png
  detox/test/e2e/assets/tap-on-cross-origin-frame-element.ios.new-arch.png
Owners: @d4vidi

sanity button update
  detox/test/e2e/23.flows.test.js
Owners: @d4vidi, @noomorph

webview test snapshot update
  detox/test/e2e/assets/cross-origin-frame.clear-text.ios.png
  detox/test/e2e/assets/cross-origin-frame.replace-text.ios.png
  detox/test/e2e/assets/cross-origin-frame.type-text-in.ios.png
  detox/test/e2e/assets/focus-on-content-editable-webview.ios.png
  detox/test/e2e/assets/focus-on-input-webview.ios.png
  detox/test/e2e/assets/move-cursor-to-end-content-editable-webview.ios.png
  detox/test/e2e/assets/move-cursor-to-end-webview.ios.png
  detox/test/e2e/assets/scroll-to-view-webview.ios.png
  detox/test/e2e/assets/select-all-text-in-content-editable-webview.ios.png
  detox/test/e2e/assets/select-all-text-in-webview.ios.png
  detox/test/e2e/assets/tap-on-cross-origin-frame-element.ios.png
Owners: @d4vidi

Revert "chore: upgrade allure adapter"
  detox/test/package.json
  yarn.lock
Owners: @d4vidi

cleanup
  detox/test/e2e/utils/deviceInfo.js
Owners: @d4vidi, @noomorph

update with timeout
  detox/test/e2e/06.device.test.js
Owners: @d4vidi, @noomorph

element-screenshot test snapshot update
  detox/test/e2e/assets/elementScreenshot.horiz.ios.png
  detox/test/e2e/assets/elementScreenshot.vert.ios.png
Owners: @d4vidi

crash test update
  detox/test/e2e/19.crash-handling.test.js
Owners: @d4vidi, @noomorph

update of flaky test
  detox/test/e2e/06.device.test.js
Owners: @d4vidi, @noomorph

screenshot updates
  detox/test/e2e/assets/cross-origin-frame.clear-text.ios.new-arch.png
  detox/test/e2e/assets/cross-origin-frame.replace-text.ios.new-arch.png
  detox/test/e2e/assets/cross-origin-frame.type-text-in.ios.new-arch.png
Owners: @d4vidi

more updates
  detox/test/e2e/assets/cross-origin-frame.clear-text.ios.new-arch.png
  detox/test/e2e/assets/cross-origin-frame.replace-text.ios.new-arch.png
  detox/test/e2e/assets/elementScreenshot.horiz.ios.new-arch.png
  detox/test/e2e/assets/elementScreenshot.vert.ios.new-arch.png
Owners: @d4vidi

os version set to iOS 26
  detox/test/e2e/13.permissions.test.js
  detox/test/e2e/detox.config.js
  detox/test/e2e/utils/deviceInfo.js
Owners: @d4vidi, @noomorph

chore: upgrade adapter
  scripts/upload_artifact.sh
Owners: @d4vidi, @noomorph

final test update
  detox/test/e2e/10.async-and-callbacks.test.js
Owners: @d4vidi, @noomorph

Added launchArg 'skipDemoActiveNotification' handling so we don't need to use withTimeout for 'Sanity' and 'Language' labels
  detox/test/e2e/06.device.test.js
  detox/test/e2e/23.flows.test.js
  detox/test/ios/AppDelegate.m
Owners: @d4vidi, @noomorph, @asafkorem

reversed logic
  detox/test/e2e/06.device.test.js
  detox/test/e2e/20.background-foreground.transitions.test.js
  detox/test/e2e/23.flows.test.js
  detox/test/ios/AppDelegate.m
Owners: @d4vidi, @noomorph, @asafkorem

update for tests
  detox/test/e2e/06.device.test.js
  detox/test/e2e/10.async-and-callbacks.test.js
  detox/test/e2e/19.crash-handling.test.js
  detox/test/e2e/23.flows.test.js
  scripts/upload_artifact.sh
Owners: @d4vidi, @noomorph

iOS 26 compatibility (#4894)
  .xcoderc
  detox/test/e2e/06.device.test.js
  detox/test/e2e/13.permissions.test.js
  detox/test/e2e/19.crash-handling.test.js
  detox/test/e2e/20.background-foreground.transitions.test.js
  detox/test/e2e/assets/cross-origin-frame.clear-text.ios.new-arch.png
  detox/test/e2e/assets/cross-origin-frame.clear-text.ios.png
  detox/test/e2e/assets/cross-origin-frame.replace-text.ios.new-arch.png
  detox/test/e2e/assets/cross-origin-frame.replace-text.ios.png
  detox/test/e2e/assets/cross-origin-frame.type-text-in.ios.new-arch.png
  detox/test/e2e/assets/cross-origin-frame.type-text-in.ios.png
  detox/test/e2e/assets/elementScreenshot.horiz.ios.new-arch.png
  detox/test/e2e/assets/elementScreenshot.horiz.ios.png
  detox/test/e2e/assets/elementScreenshot.vert.ios.new-arch.png
  detox/test/e2e/assets/elementScreenshot.vert.ios.png
  detox/test/e2e/assets/focus-on-content-editable-webview.ios.new-arch.png
  detox/test/e2e/assets/focus-on-content-editable-webview.ios.png
  detox/test/e2e/assets/focus-on-input-webview.ios.new-arch.png
  detox/test/e2e/assets/focus-on-input-webview.ios.png
  detox/test/e2e/assets/move-cursor-to-end-content-editable-webview.ios.new-arch.png
  detox/test/e2e/assets/move-cursor-to-end-content-editable-webview.ios.png
  detox/test/e2e/assets/move-cursor-to-end-webview.ios.new-arch.png
  detox/test/e2e/assets/move-cursor-to-end-webview.ios.png
  detox/test/e2e/assets/scroll-to-view-webview.ios.new-arch.png
  detox/test/e2e/assets/scroll-to-view-webview.ios.png
  detox/test/e2e/assets/select-all-text-in-content-editable-webview.ios.new-arch.png
  detox/test/e2e/assets/select-all-text-in-content-editable-webview.ios.png
  detox/test/e2e/assets/select-all-text-in-webview.ios.new-arch.png
  detox/test/e2e/assets/select-all-text-in-webview.ios.png
  detox/test/e2e/assets/tap-on-cross-origin-frame-element.ios.new-arch.png
  detox/test/e2e/assets/tap-on-cross-origin-frame-element.ios.png
  detox/test/e2e/detox.config.js
  detox/test/e2e/utils/deviceInfo.js
  detox/test/ios/AppDelegate.m
Owners: @d4vidi, @noomorph, @asafkorem

version 20.47.0
  detox-cli/package.json
  detox/package.json
  package.json
Owners: @d4vidi

version 20.47.0 (#4904)
  detox-cli/package.json
  detox/package.json
  package.json
Owners: @d4vidi

docs: add internal architecture documentation
  ARCHITECTURE.md
  docs/architecture/artifacts.md
  docs/architecture/client-server.md
  docs/architecture/devices.md
Owners: @d4vidi

fix(ios): respect atIndex in getAttributes
  detox/ios/Detox/Invocation/Element.swift
  detox/test/e2e/33.attributes.test.js
Owners: @asafkorem, @d4vidi, @noomorph

fix: resolve markdown lint errors in architecture docs
  ARCHITECTURE.md
  docs/architecture/artifacts.md
  docs/architecture/client-server.md
  docs/architecture/devices.md
Owners: @d4vidi

Add Claude Code skill for RN version upgrades
  .claude/settings.local.json
  .claude/skills/rn-version-upgrade.md
Owners: @d4vidi

Remove accidentally committed settings.local.json
  .claude/settings.local.json
Owners: @d4vidi

Upgrade default React Native version to 0.84.0
  .buildkite/jobs/pipeline.android_demo_app_rn_84.yml
  .buildkite/jobs/pipeline.android_rn_84.yml
  .buildkite/jobs/pipeline.ios_demo_app_rn_84.yml
  .buildkite/jobs/pipeline.ios_rn_84.yml
  .buildkite/pipeline_common.sh
  detox/package.json
  detox/test/package.json
  examples/demo-react-native/android/app/src/main/java/com/example/MainApplication.kt
  examples/demo-react-native/package.json
Owners: @d4vidi, @noomorph, @jonathanmos

Update yarn.lock for React Native 0.84.0
  yarn.lock
Owners: @d4vidi

Fix BridgeIdlingResource for RN 0.84 (removed bridge idle listener API)
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/bridge/BridgeIdlingResource.kt
  detox/android/rninfo.gradle
Owners: @d4vidi, @jonathanmos

Fix demo app crash: add SoLoader.init() before load()
  examples/demo-react-native/android/app/src/main/java/com/example/MainApplication.kt
Owners: @d4vidi, @jonathanmos

docs: address review comments on architecture docs
  docs/architecture/client-server.md
  docs/architecture/devices.md
Owners: @d4vidi

docs: add internal architecture documentation (#4909)
  ARCHITECTURE.md
  docs/architecture/artifacts.md
  docs/architecture/client-server.md
  docs/architecture/devices.md
Owners: @d4vidi

docs: improve accuracy of architecture docs based on review
  docs/architecture/client-server.md
  docs/architecture/devices.md
Owners: @d4vidi

items in scrollview should be 75% visible before detecting
  detox/ios/Detox/Utilities/UIView+DetoxUtils.m
  detox/test/e2e/34.visibility.test.js
Owners: @asafkorem, @d4vidi, @noomorph

iOS
  .buildkite/pipeline_common.sh
  README.md
  detox/package.json
  detox/test/ios/example.xcodeproj/project.pbxproj
  detox/test/package.json
  docs/introduction/partials/_getting-started-rn.md
  examples/demo-react-native/ios/example.xcodeproj/project.pbxproj
  examples/demo-react-native/package.json
  website/versioned_docs/version-20.x/introduction/partials/_getting-started-rn.md
  yarn.lock
Owners: @d4vidi, @noomorph, @asafkorem

Android
  detox/android/detox/src/full/java/com/wix/detox/reactnative/ReactApplicationExt.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/ReactNativeInfo.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/ReactNativeLoadingMonitor.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/bridge/BridgeIdlingResource.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/factory/DetoxIdlingResourceFactory.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/reloader/ReactNativeReloaderFactory.kt
Owners: @d4vidi, @jonathanmos

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem
