Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem

test(e2e): add long-press with point tests.
  detox/test/e2e/03.actions.test.js
Owners: @d4vidi, @noomorph

fix(android): overload `longPress` method with `duration` only.
  detox/android/detox/src/full/java/com/wix/detox/espresso/DetoxAction.java
Owners: @d4vidi, @jonathanmos

fix(android): fix long press action constructor.
  detox/android/detox/src/full/java/com/wix/detox/espresso/DetoxAction.java
  detox/android/detox/src/main/java/com/wix/detox/espresso/action/LongPressAction.kt
Owners: @d4vidi, @jonathanmos

fix(iOS): fix longPress action.
  detox/src/ios/expectTwo.js
  detox/src/ios/expectTwoApiCoverage.test.js
Owners: @d4vidi, @noomorph

feat(android): implement `LongPressAction` with `duration` and `point`.
  detox/android/detox/src/main/java/com/wix/detox/espresso/action/LongPressAction.kt
Owners: @d4vidi, @jonathanmos

feat(android): expose `longPress` action with `point` and `duration`.
  detox/android/detox/src/full/java/com/wix/detox/espresso/DetoxAction.java
Owners: @d4vidi, @jonathanmos

fix(android): fix longPress action.
  detox/android/detox/src/full/java/com/wix/detox/espresso/DetoxAction.java
  detox/android/detox/src/main/java/com/wix/detox/espresso/action/LongPressAction.kt
  detox/src/android/AndroidExpect.test.js
  detox/src/android/actions/native.js
  detox/src/android/core/NativeElement.js
  detox/src/android/espressoapi/DetoxAction.js
Owners: @d4vidi, @jonathanmos, @noomorph

docs: document new param `point` for `longPress` action.
  docs/api/actions.md
Owners: @d4vidi

feat(android): add duration param for TapEvents.
  detox/android/detox/src/full/java/com/wix/detox/espresso/DetoxAction.java
  detox/android/detox/src/full/java/com/wix/detox/espresso/LongPressCustomTapper.kt
  detox/android/detox/src/full/java/com/wix/detox/espresso/action/RNClickAction.java
  detox/android/detox/src/main/java/com/wix/detox/espresso/action/DetoxMultiTap.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/action/DetoxSingleTap.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/action/common/DetoxViewConfiguration.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/action/common/TapEvents.kt
  detox/test/src/Screens/ActionsScreen.js
Owners: @d4vidi, @jonathanmos, @noomorph

docs: apply suggestions from self-review.
  detox/detox.d.ts
  docs/api/actions.md
Owners: @d4vidi, @noomorph

wip: implement custom tapper.
  detox/android/detox/src/full/java/com/wix/detox/espresso/DetoxAction.java
  detox/android/detox/src/full/java/com/wix/detox/espresso/LongPressCustomTapper.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/action/LongPressAction.kt
Owners: @d4vidi, @jonathanmos

fix(android): fix LongPressAction.
  detox/android/detox/src/full/java/com/wix/detox/espresso/DetoxAction.java
  detox/android/detox/src/main/java/com/wix/detox/espresso/action/LongPressAction.kt
  detox/src/android/actions/native.js
  detox/src/android/core/NativeElement.js
  detox/src/android/espressoapi/DetoxAction.js
  detox/src/ios/expectTwo.js
Owners: @d4vidi, @jonathanmos, @noomorph

refactor(android): rename DetoxMultiTap to DetoxCustomTapper.
  detox/android/detox/src/coreNative/java/com/wix/detox/actions/DetoxViewActions.kt
  detox/android/detox/src/full/java/com/wix/detox/espresso/DetoxAction.java
  detox/android/detox/src/main/java/com/wix/detox/espresso/action/DetoxCustomTapper.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/action/DetoxSingleTap.kt
  detox/android/detox/src/testFull/java/com/wix/detox/espresso/action/DetoxCustomTapperSpec.kt
Owners: @d4vidi, @jonathanmos

fix: replace `duration` and `point` params order.
  detox/android/detox/src/full/java/com/wix/detox/espresso/DetoxAction.java
  detox/detox.d.ts
  detox/src/android/AndroidExpect.test.js
  detox/src/android/actions/native.js
  detox/src/android/core/NativeElement.js
  detox/src/android/espressoapi/DetoxAction.js
  detox/src/ios/expectTwo.js
  detox/src/utils/invocationTraceDescriptions.js
  detox/test/e2e/03.actions.test.js
  docs/api/actions.md
Owners: @d4vidi, @jonathanmos, @noomorph

refactor: apply code review changes.
  detox/src/android/actions/native.js
  detox/src/android/core/NativeElement.js
  detox/src/ios/expectTwo.js
  detox/src/utils/assertArgument.js
  detox/src/utils/assertArgument.test.js
  detox/src/utils/mapLongPressArguments.js
  detox/src/utils/mapLongPressArguments.test.js
Owners: @d4vidi, @noomorph

Fixed the types of whileElement to be aligned with the documantation and the reality
  detox/detox.d.ts
Owners: @d4vidi, @noomorph

Fixed prev commit
  detox/detox.d.ts
Owners: @d4vidi, @noomorph

Fixed prev commit
  detox/detox.d.ts
Owners: @d4vidi, @noomorph

Fixed PR
  detox/detox.d.ts
Owners: @d4vidi, @noomorph

test(android): fix unit tests for `DetoxCustomTapper`.
  detox/android/detox/src/main/java/com/wix/detox/espresso/action/common/TapEvents.kt
  detox/android/detox/src/testFull/java/com/wix/detox/common/TapEventsSpec.kt
  detox/android/detox/src/testFull/java/com/wix/detox/espresso/action/DetoxCustomTapperSpec.kt
Owners: @d4vidi, @jonathanmos

docs(longPress): add note regarding custom durations.
  detox/detox.d.ts
  docs/api/actions.md
Owners: @d4vidi, @noomorph

fix(expectTwo): import missing `removeMilliseconds`.
  detox/src/ios/expectTwo.js
Owners: @d4vidi, @noomorph

Removed ActivityTestRule
  detox/android/detox/src/full/java/com/wix/detox/ActivityLaunchHelper.kt
  detox/android/detox/src/full/java/com/wix/detox/Detox.kt
  detox/android/detox/src/full/java/com/wix/detox/DetoxMain.kt
  detox/android/detox/src/full/java/com/wix/detox/LaunchIntentsFactory.kt
  detox/test/android/app/src/androidTest/java/com/example/DetoxTest.kt
  detox/test/types/detox-module-tests.ts
Owners: @d4vidi, @jonathanmos, @noomorph

Rename .java to .kt
  detox/android/detox/src/full/java/com/wix/detox/Detox.kt
  detox/test/android/app/src/androidTest/java/com/example/DetoxTest.kt
Owners: @d4vidi, @jonathanmos

fix: `mapLongPressArguments`.
  detox/src/ios/expectTwoApiCoverage.test.js
  detox/src/utils/__snapshots__/assertArgument.test.js.snap
  detox/src/utils/assertArgument.js
  detox/src/utils/assertArgument.test.js
  detox/src/utils/mapLongPressArguments.js
  detox/src/utils/mapLongPressArguments.test.js
Owners: @d4vidi, @noomorph

fix: `mapLongPressArguments `.
  detox/src/utils/__snapshots__/assertArgument.test.js.snap
  detox/src/utils/assertArgument.js
  detox/src/utils/assertArgument.test.js
  detox/src/utils/mapLongPressArguments.js
  detox/src/utils/mapLongPressArguments.test.js
Owners: @d4vidi, @noomorph

fix: `invocationTraceDescription.js`.
  detox/src/ios/expectTwoApiCoverage.test.js
  detox/src/utils/__snapshots__/assertArgument.test.js.snap
  detox/src/utils/invocationTraceDescriptions.js
Owners: @d4vidi, @noomorph

refactor(android): move default value to convenient constructor.
  detox/android/detox/src/full/java/com/wix/detox/espresso/action/RNClickAction.java
Owners: @d4vidi, @jonathanmos

Added tests
  detox/test/types/detox-global-tests.ts
Owners: @d4vidi, @noomorph

docs: Elaborate on test IDs - naming best practices
  docs/guide/test-id.mdx
  docs/img/test-id/naming-example.png
  docs/img/test-id/passTestID.png
  docs/img/test-id/repetitiveComponentTestID.png
Owners: @d4vidi

docs (testIds): Various adjustments
  docs/guide/test-id.mdx
Owners: @d4vidi

fix(android): fix RNClickAction constructor.
  detox/android/detox/src/full/java/com/wix/detox/espresso/DetoxAction.java
  detox/android/detox/src/full/java/com/wix/detox/espresso/action/RNClickAction.java
Owners: @d4vidi, @jonathanmos

test(driver): fix tap-at-location driver method.
  detox/test/e2e/drivers/actions-driver.js
Owners: @d4vidi, @noomorph

docs(testIds): Remove dead partial docs that are dead
  docs/api/actions.md
  docs/guide/partials/_find-test-id-android.mdx
  docs/guide/partials/_find-test-id-ios.mdx
  docs/guide/test-id.md
  docs/img/android/layoutInspector.png
  docs/img/android/tagAttributeAndroid.png
  docs/img/ios/accessibilityAttributeIOS.png
  docs/img/ios/appDelegate.png
  docs/img/ios/attachToProcess.png
  docs/img/ios/debugHierarchyButton.png
Owners: @d4vidi

Removed activity testrule
  detox/android/detox/src/full/java/com/wix/detox/ActivityLaunchHelper.kt
  detox/android/detox/src/full/java/com/wix/detox/Detox.java
  detox/android/detox/src/full/java/com/wix/detox/LaunchIntentsFactory.kt
  detox/test/android/app/src/androidTest/java/com/example/DetoxTest.java
  detox/test/android/app/src/androidTest/java/com/example/DetoxTest.kt
Owners: @d4vidi, @jonathanmos

docs(testIds): Post-review touch-ups
  docs/guide/test-id.md
Owners: @d4vidi

docs(testIds): Fix markdown lint
  docs/guide/test-id.md
Owners: @d4vidi

docs(testIds): Rename links to test-id.mdx --> test-id.md
  docs/introduction/your-first-test.mdx
  website/versioned_docs/version-20.x/guide/investigating-test-failure.mdx
Owners: @d4vidi

docs(testIds): Fix link to renamed section
  docs/guide/investigating-test-failure.mdx
  website/versioned_docs/version-20.x/guide/investigating-test-failure.mdx
Owners: @d4vidi

Fixed android tests
  detox/android/detox/src/full/java/com/wix/detox/ActivityLaunchHelper.kt
  detox/android/detox/src/full/java/com/wix/detox/ActivityScenarioWrapper.kt
  detox/android/detox/src/full/java/com/wix/detox/ActivityScenarioWrapperManager.kt
  detox/android/detox/src/full/java/com/wix/detox/Detox.java
  detox/android/detox/src/testFull/java/com/wix/detox/ActivityLaunchHelperTest.kt
Owners: @d4vidi, @jonathanmos
