Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem

Revert "More build fixes"
  detox/android/detox/build.gradle
  detox/android/detox/src/testFull/java/com/wix/detox/espresso/action/GetAttributesActionTest.kt
  detox/android/settings.gradle
  detox/package.json
  detox/test/android/rninfo.gradle
  detox/test/android/rninfohelper.gradle
  detox/test/android/settings.gradle
  detox/test/e2e/detox.config-android.js
  detox/test/package.json
  examples/demo-react-native/package.json
  generation/package.json
  package.json
Owners: @d4vidi, @jonathanmos, @noomorph

Fixed build
  detox/android/detox/src/testFull/java/com/wix/detox/espresso/action/GetAttributesActionTest.kt
  detox/test/android/settings.gradle
  detox/test/e2e/detox.config-android.js
Owners: @d4vidi, @jonathanmos, @noomorph

Fixed build
  detox/android/detox/src/testFull/java/com/wix/detox/espresso/action/GetAttributesActionTest.kt
Owners: @d4vidi, @jonathanmos

Fixed test
  detox/android/detox/src/testFull/java/com/wix/detox/espresso/common/ReactSliderHelperTest.kt
Owners: @d4vidi, @jonathanmos

Fixed android build
  detox/test/android/rninfohelper.gradle
  detox/test/android/settings.gradle
Owners: @d4vidi, @jonathanmos

Fixed build for ios
  examples/demo-react-native/android/rninfohelper.gradle
  examples/demo-react-native/android/settings.gradle
  examples/demo-react-native/ios/Podfile
Owners: @d4vidi, @jonathanmos

remove redundant ELs.
  detox/src/devices/common/drivers/ios/tools/AppleSimUtils.js
Owners: @d4vidi, @noomorph

test(e2e): refactor permissions tests.
  detox/test/e2e/13.permissions.test.js
  detox/test/ios/Podfile
  detox/test/ios/example.xcodeproj/project.pbxproj
  detox/test/ios/example/CalendarManager.h
  detox/test/ios/example/CalendarManager.m
  detox/test/package.json
  detox/test/src/Screens/Permissions.js
Owners: @d4vidi, @noomorph, @asafkorem

test(e2e): delete previous app install before launch.
  detox/test/e2e/13.permissions.test.js
Owners: @d4vidi, @noomorph

test(e2e): upgrade dep.
  detox/test/e2e/13.permissions.test.js
  detox/test/ios/Podfile
  detox/test/package.json
Owners: @d4vidi, @noomorph, @asafkorem

test(e2e): fix location tests, remove redundant tests from permissions suite.
  detox/test/e2e/13.permissions.test.js
  detox/test/e2e/16.location.test.js
  detox/test/src/Screens/LocationScreen.js
  detox/test/src/Screens/Permissions.js
Owners: @d4vidi, @noomorph

test(e2e): add set-multiple-permissions test.
  detox/test/e2e/13.permissions.test.js
Owners: @d4vidi, @noomorph

test(e2e): add more permissions tests.
  detox/test/e2e/13.permissions.test.js
  detox/test/ios/Podfile
  detox/test/ios/example.xcodeproj/project.pbxproj
  detox/test/ios/example/Info.plist
  detox/test/ios/example/example.entitlements
  detox/test/ios/example_ci.entitlements
  detox/test/src/Screens/Permissions.js
Owners: @d4vidi, @noomorph, @asafkorem

feat(iOS): extend contacts permissions options (with `limited`).
  detox/detox.d.ts
Owners: @d4vidi, @noomorph

fix(types): fix photos permission object.
  detox/detox.d.ts
  detox/test/e2e/13.permissions.test.js
Owners: @d4vidi, @noomorph

Revert "remove redundant todo"
  detox/test/e2e/13.permissions.test.js
Owners: @d4vidi, @noomorph

test(e2e): enable media-library test.
  detox/test/e2e/13.permissions.test.js
  detox/test/package.json
Owners: @d4vidi, @noomorph

test(e2e): skip face-id permission granted test (due to Simulator bug).
  detox/src/devices/common/drivers/ios/tools/AppleSimUtils.js
  detox/test/e2e/13.permissions.test.js
Owners: @d4vidi, @noomorph

fix(iOS): replace old applesimutils commands with simctl.
  detox/src/devices/common/drivers/ios/tools/AppleSimUtils.js
Owners: @d4vidi, @noomorph

test(e2e): remove redundant ui components.
  detox/test/src/Screens/Permissions.js
Owners: @d4vidi, @noomorph

docs(device): update with latest changes.
  docs/api/device.md
Owners: @d4vidi

fix(iOS): remove redundant logs.
  detox/src/devices/common/drivers/ios/tools/AppleSimUtils.js
Owners: @d4vidi, @noomorph

remove redundant todo
  detox/test/e2e/13.permissions.test.js
Owners: @d4vidi, @noomorph

test)e2e): add permission tests.
  detox/test/e2e/13.permissions.test.js
Owners: @d4vidi, @noomorph

test(e2e): replace calendar permission text's test-id.
  detox/test/e2e/13.permissions.test.js
  detox/test/src/Screens/Permissions.js
Owners: @d4vidi, @noomorph

test(e2e): add location tests.
  detox/src/devices/common/drivers/ios/tools/AppleSimUtils.js
  detox/test/e2e/13.permissions.test.js
  detox/test/src/Screens/Permissions.js
Owners: @d4vidi, @noomorph

docs(permissions): link to most-updated commit of permissions tests.
  docs/api/device.md
Owners: @d4vidi

test(e2e): fix expectation.
  detox/test/e2e/13.permissions.test.js
Owners: @d4vidi, @noomorph

test(e2e): refactor permissions tests.
  detox/test/e2e/13.permissions.test.js
  detox/test/src/Screens/Permissions.js
Owners: @d4vidi, @noomorph

docs(types): fix reference url.
  detox/detox.d.ts
Owners: @d4vidi, @noomorph

Fixed ios build
  examples/demo-react-native/ios/Podfile
  examples/demo-react-native/package.json
Owners: @d4vidi

refactor(e2e): remove unused variable.
  detox/test/e2e/13.permissions.test.js
Owners: @d4vidi, @noomorph

build(fix): future compatibility with React Native v0.72.
  detox/test/ios/Podfile
Owners: @asafkorem

test(android): manually link RN permissions library.
  detox/test/android/app/build.gradle
  detox/test/android/app/src/main/java/com/example/ReactNativeAdapter.java
  detox/test/android/settings.gradle
Owners: @d4vidi, @jonathanmos

Publish 20.16.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Publish docs version 20.x
  website/versioned_docs/version-20.x/api/device.md
Owners: @d4vidi

Gradle refactorign
  detox/android/rninfo.gradle
  detox/android/rninfohelper.gradle
  detox/android/settings.gradle
  detox/test/android/rninfohelper.gradle
  detox/test/android/settings.gradle
  examples/demo-react-native/android/rninfohelper.gradle
  examples/demo-react-native/android/settings.gradle
Owners: @d4vidi, @jonathanmos

Fixed android build
  detox/android/settings.gradle
Owners: @d4vidi, @jonathanmos

change typing duration
  detox/ios/DetoxTester/DetoxTester/Actions/Utils/XCPointerEventPath+Optimize.m
Owners: @asafkorem

Reenabled android tests
  detox/android/detox/build.gradle
  detox/android/detox/src/testFull/java/com/wix/detox/espresso/action/GetAttributesActionTest.kt
  detox/android/detox/src/testFull/java/com/wix/detox/espresso/common/ReactSliderHelperTest.kt
  detox/android/settings.gradle
Owners: @d4vidi, @jonathanmos
