Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem

temp enable verbose logs
  detox/test/e2e/detox.config.js
Owners: @d4vidi, @noomorph

Revert "temp enable verbose logs"
  detox/test/e2e/detox.config.js
Owners: @d4vidi, @noomorph

Publish 20.34.4-smoke.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Publish 20.34.4 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

patch(genycloud): Alleviate failures due to network hiccups
  detox/src/devices/common/drivers/android/exec/ADB.js
  detox/src/devices/common/drivers/android/exec/ADB.test.js
  detox/src/devices/runtime/drivers/android/genycloud/GenyCloudDriver.js
  detox/src/devices/runtime/drivers/android/genycloud/GenyCloudDriver.test.js
  detox/src/utils/childProcess/spawn.js
  detox/src/utils/childProcess/spawn.test.js
Owners: @d4vidi, @noomorph

Publish 20.33.1-smoke.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

patch(genycloud): Alleviate failures due to network hiccups
  detox/src/devices/common/drivers/android/exec/ADB.js
  detox/src/devices/common/drivers/android/exec/ADB.test.js
  detox/src/devices/runtime/drivers/android/genycloud/GenyCloudDriver.js
  detox/src/devices/runtime/drivers/android/genycloud/GenyCloudDriver.test.js
  detox/src/utils/childProcess/spawn.js
  detox/src/utils/childProcess/spawn.test.js
Owners: @d4vidi, @noomorph

Publish 20.32.1-smoke.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Also apply retry backoff arg to execWithRetriesAndLogs
  detox/src/utils/childProcess/exec.js
  detox/src/utils/childProcess/exec.test.js
Owners: @d4vidi, @noomorph

Publish 20.32.1-smoke.1 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

patch(genycloud): Alleviate failures due to network hiccups
  detox/src/devices/common/drivers/android/exec/ADB.js
  detox/src/devices/common/drivers/android/exec/ADB.test.js
  detox/src/devices/runtime/drivers/android/genycloud/GenyCloudDriver.js
  detox/src/devices/runtime/drivers/android/genycloud/GenyCloudDriver.test.js
  detox/src/utils/childProcess/spawn.js
  detox/src/utils/childProcess/spawn.test.js
Owners: @d4vidi, @noomorph

Also apply retry backoff arg to execWithRetriesAndLogs
  detox/src/utils/childProcess/exec.js
  detox/src/utils/childProcess/exec.test.js
Owners: @d4vidi, @noomorph

Alleviate geny-cloud failures due to network hiccups (#4721)
  detox/package.json
  detox/src/devices/common/drivers/android/exec/ADB.js
  detox/src/devices/common/drivers/android/exec/ADB.test.js
  detox/src/devices/runtime/drivers/android/genycloud/GenyCloudDriver.js
  detox/src/devices/runtime/drivers/android/genycloud/GenyCloudDriver.test.js
  detox/src/utils/childProcess/exec.js
  detox/src/utils/childProcess/exec.test.js
  detox/src/utils/childProcess/spawn.js
  detox/src/utils/childProcess/spawn.test.js
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi, @noomorph

feat(ios): add booted query support
  detox/detox.d.ts
  detox/src/configuration/composeDeviceConfig.js
  detox/src/configuration/composeDeviceConfig.test.js
  detox/src/devices/allocation/drivers/ios/SimulatorQuery.js
  docs/config/devices.mdx
Owners: @d4vidi, @noomorph

feat: support basic REPL mode
  detox/detox.d.ts
  detox/internals.d.ts
  detox/local-cli/test.js
  detox/local-cli/testCommand/TestRunnerCommand.js
  detox/local-cli/testCommand/builder.js
  detox/local-cli/utils/patchJestUtil.js
  detox/runners/jest/testEnvironment/index.js
  detox/runners/jest/testEnvironment/listeners/REPLListener.js
  detox/runners/jest/testEnvironment/listeners/index.js
  detox/src/DetoxWorker.js
  detox/src/configuration/collectCliConfig.js
  detox/src/configuration/collectCliConfig.test.js
  detox/src/realms/DetoxContext.js
  detox/src/utils/repl.js
Owners: @d4vidi, @noomorph

security: migrate to promisify-child-process
  detox/local-cli/utils/frameworkUtils.js
  detox/package.json
  detox/src/devices/allocation/drivers/android/emulator/launchEmulatorProcess.js
  detox/src/devices/common/drivers/android/exec/ADB.js
  detox/src/devices/common/drivers/android/exec/ADB.test.js
  detox/src/devices/common/drivers/android/exec/BinaryExec.js
  detox/src/devices/common/drivers/android/exec/BinaryExec.test.js
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
  detox/src/ios/XCUITestRunner.js
  detox/src/ios/XCUITestRunner.test.js
  detox/src/utils/childProcess/exec.js
  detox/src/utils/childProcess/exec.test.js
  detox/src/utils/childProcess/spawn.js
  detox/src/utils/childProcess/spawn.test.js
  detox/src/utils/environment.js
Owners: @d4vidi, @noomorph

test: improve execution speed
  detox/src/android/AndroidExpect.test.js
Owners: @d4vidi, @noomorph

test: fix behavior in edge case
  detox/local-cli/utils/frameworkUtils.js
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
  detox/src/utils/__snapshots__/assertArgument.test.js.snap
  detox/src/utils/assertArgument.js
  detox/src/utils/environment.js
Owners: @d4vidi, @noomorph

fix: CVE-2024-21538 by migrating to promisify-child-process #4658 (#4729)
  detox/local-cli/utils/frameworkUtils.js
  detox/package.json
  detox/src/android/AndroidExpect.test.js
  detox/src/devices/allocation/drivers/android/emulator/launchEmulatorProcess.js
  detox/src/devices/common/drivers/android/exec/ADB.js
  detox/src/devices/common/drivers/android/exec/ADB.test.js
  detox/src/devices/common/drivers/android/exec/BinaryExec.js
  detox/src/devices/common/drivers/android/exec/BinaryExec.test.js
  detox/src/devices/runtime/drivers/ios/SimulatorDriver.js
  detox/src/ios/XCUITestRunner.js
  detox/src/ios/XCUITestRunner.test.js
  detox/src/utils/__snapshots__/assertArgument.test.js.snap
  detox/src/utils/assertArgument.js
  detox/src/utils/childProcess/exec.js
  detox/src/utils/childProcess/exec.test.js
  detox/src/utils/childProcess/spawn.js
  detox/src/utils/childProcess/spawn.test.js
  detox/src/utils/environment.js
Owners: @d4vidi, @noomorph

wip
  docs/articles/how-detox-works.md
  docs/config/session.mdx
  docs/troubleshooting/synchronization.md
Owners: @d4vidi

Publish 20.34.5 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

docs: Rewrite sync troubleshooting guide
  docs/articles/how-detox-works.md
  docs/config/session.mdx
  docs/img/app-loader.jpeg
  docs/troubleshooting/synchronization.md
Owners: @d4vidi

docs: Extent debugging to explain IDEs
  docs/img/webstorm/breakpoint.png
  docs/img/webstorm/new-configuration.png
  docs/img/webstorm/node-debug-configuration.png
  docs/img/webstorm/run-debug-configuration.png
  docs/img/webstorm/stopped-at-breakpoint.png
  docs/introduction/debugging.mdx
  docs/introduction/partials/_debugging-attach-chrome.mdx
  docs/introduction/partials/_debugging-attach-vscode.mdx
  docs/introduction/partials/_debugging-attach-webstorm.mdx
Owners: @d4vidi

docs: Fix docusaurus build
  docs/img/app-loader.jpeg
  docs/img/webstorm/breakpoint.png
  docs/img/webstorm/new-configuration.png
  docs/img/webstorm/node-debug-configuration.png
  docs/img/webstorm/run-debug-configuration.png
  docs/img/webstorm/stopped-at-breakpoint.png
  docs/introduction/partials/_debugging-attach-webstorm.mdx
  docs/troubleshooting/synchronization.md
Owners: @d4vidi

fix typo's
  docs/articles/how-detox-works.md
  docs/introduction/debugging.mdx
  docs/introduction/partials/_debugging-attach-webstorm.mdx
  docs/troubleshooting/synchronization.md
Owners: @d4vidi

Fix doc-lint
  docs/articles/how-detox-works.md
  docs/troubleshooting/synchronization.md
Owners: @d4vidi

docs: Restructure test-run troubleshooting guide
  docs/guide/investigating-test-failure.mdx
  docs/img/app-loader.jpeg
  docs/img/transient-ui-element.png
  docs/introduction/debugging.mdx
  docs/introduction/your-first-test.mdx
  docs/troubleshooting/element-matching.md
  docs/troubleshooting/running-tests.md
  docs/troubleshooting/synchronization.md
  website/sidebars.js
  website/versioned_sidebars/version-20.x-sidebars.json
Owners: @d4vidi, @noomorph

chore(deps): update copilot to pilot.
  detox/detox.d.ts
  detox/globals.d.ts
  detox/jest.config.js
  detox/package.json
  detox/src/DetoxWorker.js
  detox/src/DetoxWorker.test.js
  detox/src/copilot/DetoxCopilot.js
  detox/src/copilot/DetoxCopilot.test.js
  detox/src/copilot/detoxCopilotFrameworkDriver.js
  detox/src/pilot/DetoxPilot.js
  detox/src/pilot/DetoxPilot.test.js
  detox/test/detox_copilot_cache.json
  detox/test/e2e/copilot/01.copilot.sanity.test.js
  detox/test/e2e/copilot/09.copilot.datepicker.test.js
  detox/test/e2e/pilot/01.pilot.sanity.test.js
  detox/test/e2e/pilot/02.pilot.actions.test.js
  detox/test/e2e/pilot/03.pilot.shape-match.test.js
  detox/test/e2e/pilot/04.webview.test.js
  detox/test/e2e/pilot/05.system.test.js
  detox/test/e2e/pilot/06.waitfor.test.js
  detox/test/e2e/pilot/07.pilot.assertions.test.js
  detox/test/e2e/pilot/08.pilot.location.test.js
  detox/test/e2e/pilot/09.pilot.datepicker.test.js
  detox/test/e2e/pilot/10.pilot.visibility.test.js
  detox/test/e2e/utils/WixPromptHandler.js
  detox/test/e2e/utils/custom-describes.js
  detox/test/ios/example.xcodeproj/project.pbxproj
Owners: @d4vidi, @noomorph, @asafkorem

docs: update detox pilot (formerly copilot) docs..
  docs/api/copilot.md
  docs/api/pilot.md
  docs/copilot/testing-with-copilot.md
  docs/pilot/best-practices.md
  docs/pilot/testing-with-pilot.md
  website/blog/2024-10-09-detox-copilot-is-out.md
  website/sidebars.js
Owners: @d4vidi, @noomorph

test(e2e): update detox pilot cache.
  detox/test/e2e/pilot/__pilot_cache__/01.pilot.sanity.test.json
  detox/test/e2e/pilot/__pilot_cache__/02.pilot.actions.test.json
Owners: @d4vidi

chore: make doclint happy.
  docs/api/pilot.md
  docs/pilot/best-practices.md
  docs/pilot/testing-with-pilot.md
Owners: @d4vidi

fix(types): fix import from pilot core package.
  detox/detox.d.ts
Owners: @d4vidi, @noomorph

test(unit): fix expectation with new param.
  detox/src/DetoxWorker.test.js
Owners: @d4vidi, @noomorph

docs: update pilot docs.
  docs/api/pilot.md
  docs/pilot/testing-with-pilot.md
Owners: @d4vidi

feat(DetoxContext): add pilot member.
  detox/src/realms/DetoxContext.js
Owners: @d4vidi, @noomorph

test(e2e): update pilot location test intent.
  detox/test/e2e/pilot/08.pilot.location.test.js
Owners: @d4vidi, @noomorph

test(e2e): update pilot tests cache.
  detox/test/e2e/pilot/03.pilot.shape-match.test.js
  detox/test/e2e/pilot/__pilot_cache__/03.pilot.shape-match.test.json
  detox/test/e2e/pilot/__pilot_cache__/04.webview.test.json
  detox/test/e2e/pilot/__pilot_cache__/06.waitfor.test.json
  detox/test/e2e/pilot/__pilot_cache__/07.pilot.assertions.test.json
  detox/test/e2e/pilot/__pilot_cache__/08.pilot.location.test.json
  detox/test/e2e/pilot/__pilot_cache__/09.pilot.datepicker.test.json
  detox/test/e2e/pilot/__pilot_cache__/10.pilot.visibility.test.json
Owners: @d4vidi, @noomorph

chore(deps): update wix-pilot version.
  detox/package.json
Owners: @d4vidi

website(ci): remove percy snapshot tests.
  .github/workflows/website.yml
  website/README.md
  website/package.json
  website/percy.mjs
Owners: @d4vidi

Publish 20.35.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi
