Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

fix: communicate crash errors more clearly (#4376)
  detox/src/client/Client.js
  detox/src/client/Client.test.js
  detox/test/e2e/19.crash-handling.test.js
Owners: @d4vidi, @noomorph

test(e2e): add reporter version
  detox/test/e2e/jest.config.js
Owners: @d4vidi, @noomorph

docs(contrib): Fix code section marking
  docs/contributing/code/building-and-testing.md
Owners: @d4vidi

Publish 20.18.2-smoke.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  generation/package.json
  lerna.json
  package.json
Owners: @d4vidi

docs(contrib): Fix code section marking (#4378)
  docs/contributing/code/building-and-testing.md
Owners: @d4vidi

genycloud: Omit preliminary login check
  detox/src/devices/allocation/drivers/android/genycloud/exec/GenyCloudExec.js
  detox/src/devices/allocation/drivers/android/genycloud/exec/GenyCloudExec.test.js
  detox/src/devices/allocation/drivers/android/genycloud/services/GenyAuthService.js
  detox/src/devices/allocation/drivers/android/genycloud/services/GenyAuthService.test.js
  detox/src/devices/validation/android/GenycloudEnvValidator.js
  detox/src/devices/validation/android/GenycloudEnvValidator.test.js
  detox/src/devices/validation/factories/index.js
Owners: @d4vidi, @noomorph

genycloud: Omit preliminary login check (#4379)
  detox/src/devices/allocation/drivers/android/genycloud/exec/GenyCloudExec.js
  detox/src/devices/allocation/drivers/android/genycloud/exec/GenyCloudExec.test.js
  detox/src/devices/allocation/drivers/android/genycloud/services/GenyAuthService.js
  detox/src/devices/allocation/drivers/android/genycloud/services/GenyAuthService.test.js
  detox/src/devices/validation/android/GenycloudEnvValidator.js
  detox/src/devices/validation/android/GenycloudEnvValidator.test.js
  detox/src/devices/validation/factories/index.js
Owners: @d4vidi, @noomorph

Publish 20.18.2 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  generation/package.json
  lerna.json
  package.json
Owners: @d4vidi

Publish docs version 20.x
  website/versioned_docs/version-20.x/contributing/code/building-and-testing.md
Owners: @d4vidi

Revert "Merge pull request #4366 from wix/bugfix/update_slider"
  detox/test/src/Screens/ActionsScreen.js
  detox/test/src/Screens/AttributesScreen.js
Owners: @d4vidi, @noomorph

Revert "Merge pull request #4369 from wix/bugfix/broken-post-install"
  detox/scripts/updateGradle.js
  detox/test/e2e/utils/custom-it.js
  detox/test/e2e/utils/rn-consts/rn-consts.js
Owners: @d4vidi, @noomorph

Publish 20.18.3 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  generation/package.json
  lerna.json
  package.json
Owners: @d4vidi

Publish docs version 20.x
  website/versioned_docs/version-20.x/guide/android-dev-env.md
Owners: @d4vidi

Publish 20.18.4 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Fixed artifacts collection
  scripts/utils/releaseArgs.js
Owners: @d4vidi, @noomorph

Publish 20.18.3-smoke.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Added logs
  scripts/utils/releaseArgs.js
Owners: @d4vidi, @noomorph

Publish 20.18.4-smoke.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

debug: changes to run session
  detox/package.json
  examples/demo-react-native/android/app/src/main/res/xml/network_security_config.xml
  examples/demo-react-native/detox.config.js
  examples/demo-react-native/package.json
  package.json
Owners: @d4vidi, @noomorph

Update jest.config.js
  detox/test/e2e/jest.config.js
Owners: @d4vidi, @noomorph

Revert "Added logs"
  scripts/utils/releaseArgs.js
Owners: @d4vidi, @noomorph

Revert "Fixed artifacts collection"
  scripts/utils/releaseArgs.js
Owners: @d4vidi, @noomorph

Publish 20.18.5-smoke.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Support multiple archives
  scripts/utils/releaseArgs.js
Owners: @d4vidi, @noomorph

Publish 20.18.6-smoke.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Don't remove archives
  scripts/utils/releaseArgs.js
Owners: @d4vidi, @noomorph

Remove files during build
  scripts/utils/releaseArgs.js
Owners: @d4vidi, @noomorph

Publish 20.18.7-smoke.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Don't remove
  scripts/utils/releaseArgs.js
Owners: @d4vidi, @noomorph

Publish 20.18.8-smoke.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

download unzipped artifacts
  scripts/utils/releaseArgs.js
Owners: @d4vidi, @noomorph

Publish 20.18.9-smoke.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Create folder for artifacts
  scripts/utils/releaseArgs.js
Owners: @d4vidi, @noomorph

Publish 20.18.10-smoke.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Fixed extraction path
  scripts/utils/releaseArgs.js
Owners: @d4vidi, @noomorph

Publish 20.18.11-smoke.0 [ci skip]
  detox/package.json
  detox/test/package.json
  examples/demo-native-android/package.json
  examples/demo-native-ios/package.json
  examples/demo-plugin/package.json
  examples/demo-react-native-detox-instruments/package.json
  examples/demo-react-native/package.json
  lerna.json
  package.json
Owners: @d4vidi

Add pipeline dependency
  .buildkite/pipeline.release.fast.yml
Owners: @d4vidi

Create detox legacy aar for supporting java 11 builds
  .buildkite/pipeline.release.fast.yml
  detox/android/detox/publishing.gradle
Owners: @d4vidi, @jonathanmos

Drop rn 71 test
  .buildkite/jobs/pipeline.android_demo_app_rn_71.yml
Owners: @d4vidi

Fixed build
  .buildkite/pipeline_common.sh
Owners: @d4vidi, @noomorph

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem
