Repository wix/Detox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @d4vidi, @noomorph, @jonathanmos, @asafkorem

.github/CODEOWNERS:

* @d4vidi

# Scripts

*.js @d4vidi @noomorph
*.ts @d4vidi @noomorph
*.sh @d4vidi @noomorph

# Android

detox/android/* @d4vidi @jonathanmos
detox/test/android/* @d4vidi @jonathanmos
*.java @d4vidi @jonathanmos
*.kt @d4vidi @jonathanmos
*.gradle @d4vidi @jonathanmos

# iOS

detox/ios/* @asafkorem
detox/test/ios/* @asafkorem
*.h @asafkorem
*.m @asafkorem
*.mm @asafkorem
*.cpp @asafkorem
*.swift @asafkorem
*.pch @asafkorem
*.plist @asafkorem
*.xcodeproj @asafkorem
*.xcworkspace @asafkorem

Publish docs version 20.x
  website/versioned_docs/version-20.x/api/actions.md
Owners: @d4vidi

refactor(ios): remove unused files (DetoxHelper).
  detox/ios/DetoxHelper/DetoxHelper/DetoxHelper.xcodeproj/project.pbxproj
  detox/ios/DetoxHelper/DetoxHelper/DetoxHelper/AppDelegate.h
  detox/ios/DetoxHelper/DetoxHelper/DetoxHelper/AppDelegate.m
  detox/ios/DetoxHelper/DetoxHelper/DetoxHelper/Assets.xcassets/AppIcon.appiconset/Contents.json
  detox/ios/DetoxHelper/DetoxHelper/DetoxHelper/Base.lproj/LaunchScreen.storyboard
  detox/ios/DetoxHelper/DetoxHelper/DetoxHelper/Base.lproj/Main.storyboard
  detox/ios/DetoxHelper/DetoxHelper/DetoxHelper/DetoxHelper.entitlements
  detox/ios/DetoxHelper/DetoxHelper/DetoxHelper/Info.plist
  detox/ios/DetoxHelper/DetoxHelper/DetoxHelper/ViewController.h
  detox/ios/DetoxHelper/DetoxHelper/DetoxHelper/ViewController.m
  detox/ios/DetoxHelper/DetoxHelper/DetoxHelper/main.m
  detox/ios/DetoxHelper/DetoxHelper/Extension/ActionRequestHandler.h
  detox/ios/DetoxHelper/DetoxHelper/Extension/ActionRequestHandler.m
  detox/ios/DetoxHelper/DetoxHelper/Extension/Extension.entitlements
  detox/ios/DetoxHelper/DetoxHelper/Extension/ExtensionOperation.h
  detox/ios/DetoxHelper/DetoxHelper/Extension/ExtensionOperation.m
  detox/ios/DetoxHelper/DetoxHelper/Extension/Info.plist
  detox/ios/DetoxHelper/DetoxHelper/Extension/JP/JPSimulatorHacks.h
  detox/ios/DetoxHelper/DetoxHelper/Extension/JP/JPSimulatorHacks.m
  detox/ios/DetoxHelper/DetoxHelper/Extension/JP/JPSimulatorHacksDB.h
  detox/ios/DetoxHelper/DetoxHelper/Extension/JP/JPSimulatorHacksDB.m
  detox/ios/DetoxHelper/DetoxHelper/Extension/SetNotificationPermissionOperation.h
  detox/ios/DetoxHelper/DetoxHelper/Extension/SetNotificationPermissionOperation.m
  detox/ios/DetoxHelper/DetoxHelper/Extension/SetPermissionOperation.h
  detox/ios/DetoxHelper/DetoxHelper/Extension/SetPermissionOperation.m
  detox/ios/DetoxHelper/DetoxHelper/Extension/SetPhotosPermissionOperation.h
  detox/ios/DetoxHelper/DetoxHelper/Extension/SetPhotosPermissionOperation.m
Owners: @asafkorem, @d4vidi

refactor(ios): remove unused files.
  detox/ios/DetoxTester.xcworkspace/contents.xcworkspacedata
  detox/ios/DetoxTester.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Owners: @asafkorem

refactor(ios): remove unused files (DetoxUserNotificationTests).
  detox/ios/Detox.xcodeproj/project.pbxproj
  detox/ios/DetoxUserNotificationTests/Bridging-Header.h
  detox/ios/DetoxUserNotificationTests/DetoxUserNotificationTests.swift
  detox/ios/DetoxUserNotificationTests/Info.plist
  detox/ios/DetoxUserNotificationTests/NSBundle+TestsFix.h
  detox/ios/DetoxUserNotificationTests/NSBundle+TestsFix.m
  detox/ios/DetoxUserNotificationTests/TestableAppDelegate.swift
  detox/ios/DetoxUserNotificationTests/UIApplication+MockedSharedApplication.h
  detox/ios/DetoxUserNotificationTests/UIApplication+MockedSharedApplication.m
  detox/ios/DetoxUserNotificationTests/UNApiAppDelegate.swift
  detox/ios/DetoxUserNotificationTests/user_notification_calendar_trigger.json
  detox/ios/DetoxUserNotificationTests/user_notification_location_trigger.json
  detox/ios/DetoxUserNotificationTests/user_notification_push_trigger.json
  detox/ios/DetoxUserNotificationTests/user_notification_timeInterval_trigger.json
Owners: @asafkorem, @d4vidi

Fix simctrl terminate message change
  detox/src/devices/common/drivers/ios/tools/AppleSimUtils.js
Owners: @d4vidi, @noomorph

Apply suggestions from code review
  .buildkite/jobs/pipeline.android_demo_app_rn_73.yml
  .buildkite/jobs/pipeline.android_rn_71.yml
  .buildkite/jobs/pipeline.android_rn_73.yml
Owners: @d4vidi

chore(ci): migrate to M2 agents (#4452)
  .buildkite/jobs/pipeline.android_demo_app_rn_73.yml
  .buildkite/jobs/pipeline.android_rn_71.yml
  .buildkite/jobs/pipeline.android_rn_73.yml
  .buildkite/jobs/pipeline.ios_demo_app_rn_71.yml
  .buildkite/jobs/pipeline.ios_demo_app_rn_73.yml
  .buildkite/jobs/pipeline.ios_rn_71.yml
  .buildkite/jobs/pipeline.ios_rn_73.yml
  .buildkite/pipeline.release.fast.yml
  .buildkite/pipeline_common.sh
  .xcoderc
  detox/test/e2e/33.attributes.test.js
  detox/test/e2e/detox.config.js
  examples/demo-native-ios/package.json
  examples/demo-react-native/detox.config.js
Owners: @d4vidi, @noomorph

chore(ci): add missing queue param to buildkite job.
  .buildkite/jobs/pipeline.ios_rn_73.yml
Owners: @d4vidi

refactor(ci): remove redundant (duplicated) config from buildkite yamls.
  .buildkite/jobs/pipeline.android_demo_app_rn_73.yml
  .buildkite/jobs/pipeline.android_rn_71.yml
  .buildkite/jobs/pipeline.android_rn_73.yml
  .buildkite/jobs/pipeline.ios_demo_app_rn_71.yml
  .buildkite/jobs/pipeline.ios_demo_app_rn_73.yml
  .buildkite/jobs/pipeline.ios_rn_71.yml
  .buildkite/jobs/pipeline.ios_rn_73.yml
Owners: @d4vidi

chore(ci): configure agents queue for all pipelines (fix).
  .buildkite/pipeline.sh
  .buildkite/pipeline_common.sh
Owners: @d4vidi, @noomorph

chore(ci): fix debug pipeline options (steps).
  .buildkite/pipeline.debug.yml
Owners: @d4vidi

chore: update allure integration
  detox/jest.config.js
  detox/package.json
  detox/test/e2e/19.crash-handling.test.js
  detox/test/e2e/detox.config.js
  detox/test/e2e/jest.config.js
  detox/test/package.json
  generation/package.json
Owners: @d4vidi, @noomorph

chore: update allure integration (#4479)
  detox/jest.config.js
  detox/package.json
  detox/test/e2e/19.crash-handling.test.js
  detox/test/e2e/detox.config.js
  detox/test/e2e/jest.config.js
  detox/test/package.json
  generation/package.json
Owners: @d4vidi, @noomorph

test
  .buildkite/jobs/pipeline.android_demo_app_rn_73.yml
  .buildkite/jobs/pipeline.android_rn_71.yml
  .buildkite/jobs/pipeline.android_rn_73.yml
  .buildkite/jobs/pipeline.ios_demo_app_rn_71.yml
  .buildkite/jobs/pipeline.ios_demo_app_rn_73.yml
  .buildkite/jobs/pipeline.ios_rn_71.yml
  .buildkite/pipeline_common.sh
Owners: @d4vidi, @noomorph

Update .buildkite/pipeline.debug.yml
  .buildkite/pipeline.debug.yml
Owners: @d4vidi

Update .buildkite/pipeline.sh
  .buildkite/pipeline.sh
Owners: @d4vidi, @noomorph

chore: remove failing adapter check
  detox/test/e2e/jest.config.js
Owners: @d4vidi, @noomorph

Implemented waitFor.swipe on android
  detox/src/android/interactions/native.js
  detox/test/e2e/03.actions.visibility-workaround.test.js
  detox/test/e2e/drivers/fs-scroll-driver.js
  detox/test/src/Screens/ScrollActionsScreen.js
Owners: @d4vidi, @noomorph

chore(ci): fix buildkite pipelines configurations. (#4478)
  .buildkite/jobs/pipeline.android_demo_app_rn_73.yml
  .buildkite/jobs/pipeline.android_rn_71.yml
  .buildkite/jobs/pipeline.android_rn_73.yml
  .buildkite/jobs/pipeline.ios_demo_app_rn_71.yml
  .buildkite/jobs/pipeline.ios_demo_app_rn_73.yml
  .buildkite/jobs/pipeline.ios_rn_71.yml
  .buildkite/pipeline.debug.yml
  .buildkite/pipeline_common.sh
Owners: @d4vidi, @noomorph

Added more tests
  detox/test/e2e/03.actions.visibility-workaround.test.js
Owners: @d4vidi, @noomorph

Fixed coverage
  detox/src/android/AndroidExpect.test.js
Owners: @d4vidi, @noomorph

Fixed test
  detox/test/e2e/03.actions.visibility-workaround.test.js
Owners: @d4vidi, @noomorph

Fixed scrolling inaccuracy on Android
  detox/android/detox/src/main/java/com/wix/detox/espresso/scroll/DetoxScrollActions.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/scroll/ScrollHelper.java
  detox/test/e2e/03.actions-scroll.test.js
  detox/test/e2e/03.actions.visibility-workaround.test.js
  detox/test/src/Screens/ScrollActionsScreen.js
Owners: @d4vidi, @jonathanmos, @noomorph

Fixed scrolling inaccuracy on Android
  detox/test/e2e/03.actions.visibility-workaround.test.js
Owners: @d4vidi, @noomorph

Fixed broken tests
  detox/test/e2e/03.actions-scroll.test.js
Owners: @d4vidi, @noomorph

Fixed bug in scroll
  detox/android/detox/src/main/java/com/wix/detox/espresso/scroll/DetoxScrollActions.kt
Owners: @d4vidi, @jonathanmos

Increased amount of scrolls
  detox/android/detox/src/main/java/com/wix/detox/espresso/scroll/ScrollHelper.java
Owners: @d4vidi, @jonathanmos

Removed FlinglessSwiper.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/scroll/DetoxSwipe.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/scroll/FlinglessSwiper.kt
  detox/android/detox/src/testFull/java/com/wix/detox/espresso/scroll/FlinglessSwiperSpec.kt
Owners: @d4vidi, @jonathanmos

Fixed scrolling inaccuracy on Android (#4482)
  detox/android/detox/src/main/java/com/wix/detox/espresso/scroll/DetoxScrollActions.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/scroll/DetoxSwipe.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/scroll/FlinglessSwiper.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/scroll/ScrollHelper.java
  detox/android/detox/src/testFull/java/com/wix/detox/espresso/scroll/FlinglessSwiperSpec.kt
  detox/test/e2e/03.actions-scroll.test.js
  detox/test/e2e/03.actions.visibility-workaround.test.js
  detox/test/src/Screens/ScrollActionsScreen.js
Owners: @d4vidi, @jonathanmos, @noomorph

refactor: apply auto fixes by generation format script.
  generation/__tests__/android.js
  generation/__tests__/global-functions.js
  generation/core/generator.js
  generation/utils/downloadFile.js
Owners: @d4vidi, @noomorph

feat(types): add `point` param for `longPress` action.
  detox/detox.d.ts
Owners: @d4vidi, @noomorph

feat(types): update `duration` param as supported on Android.
  detox/detox.d.ts
Owners: @d4vidi, @noomorph

fix(android): fix LongPressAction.
  detox/android/detox/src/main/java/com/wix/detox/espresso/action/LongPressAction.kt
Owners: @d4vidi, @jonathanmos

feat: add optional `point` param to invocation trace description.
  detox/src/utils/invocationTraceDescriptions.js
Owners: @d4vidi, @noomorph

feat(ios): implement `point` param for `longPress` action.
  detox/ios/Detox/Invocation/Action.swift
  detox/src/ios/expectTwo.js
  detox/src/ios/expectTwoApiCoverage.test.js
Owners: @asafkorem, @d4vidi, @noomorph

docs: update `duration` param for `longPress` with Android support.
  docs/api/actions.md
Owners: @d4vidi

fix(android): fix LongPressAction.
  detox/android/detox/src/full/java/com/wix/detox/espresso/DetoxAction.java
  detox/android/detox/src/main/java/com/wix/detox/espresso/action/LongPressAction.kt
Owners: @d4vidi, @jonathanmos

fix(ios): long-press on activation point when point is undefined.
  detox/ios/Detox/Invocation/Action.swift
Owners: @asafkorem

feat(android): apply generation script.
  detox/src/android/espressoapi/DetoxAction.js
Owners: @d4vidi, @noomorph

revert(ActionsScreen): previous delay longpress.
  detox/test/src/Screens/ActionsScreen.js
Owners: @d4vidi, @noomorph
