Repository wix/Detox, pull requests merged in 2020-07, with the labels that each got.

#2185 Add support for Detox Recorder in Detox CLI
  detox-cli/cli.js
Labels: type: accepted/enhancement

#2188 Test butler app apk
  detox/src/Detox.js
  detox/src/Detox.test.js
  detox/src/configuration/composeDeviceConfig.js
  detox/src/configuration/composeDeviceConfig.test.js
  detox/src/configuration/configurations.mock.js
  detox/src/devices/Device.js
  detox/src/devices/Device.test.js
  detox/src/devices/drivers/DeviceDriverBase.js
  detox/src/devices/drivers/android/AndroidDriver.js
  detox/src/devices/drivers/android/AndroidDriver.test.js
  detox/src/devices/drivers/android/EmulatorDriver.js
  detox/src/devices/drivers/android/emulator/FreeEmulatorFinder.test.js
  detox/src/devices/drivers/android/tools/AppInstallHelper.js
  detox/src/devices/drivers/android/tools/AppInstallHelper.test.js
  detox/src/errors/DetoxConfigErrorBuilder.js
  detox/src/errors/DetoxConfigErrorBuilder.test.js
  detox/src/errors/__snapshots__/DetoxConfigErrorBuilder.test.js.snap
  detox/test/.gitignore
  detox/test/android/app/src/androidTest/java/com/example/DetoxTest.java
  detox/test/detox.config-raw.json
  detox/test/detox.config.js
  detox/test/package.json
  docs/APIRef.Configuration.md
  docs/Introduction.Android.md
  docs/Introduction.AndroidDevEnv.md
Labels: type: triage/enhancement, z_platform: android

#2194 Switch to downloading test-butler APK in jest's global-setup
  detox/test/detox.config-raw.json
  detox/test/detox.config.js
  detox/test/e2e/config.js
  detox/test/e2e/global-setup.js
  detox/test/package.json
  docs/Introduction.Android.md
Labels: type: accepted/enhancement, z_domain: internal

#2224 Crunch JS unit-tests code by utilizing Jest's mock.instances API
  detox/src/devices/drivers/android/AndroidDriver.test.js
  detox/src/devices/drivers/android/emulator/AVDValidator.test.js
  detox/src/devices/drivers/android/emulator/FreeEmulatorFinder.test.js
  detox/src/devices/drivers/android/tools/AppUninstallHelper.test.js
  detox/src/devices/drivers/android/tools/MonitoredInstrumentation.test.js
  detox/src/matchersRegistry.test.js
Labels: type: accepted/enhancement, z_domain: internal

#2222 Element screenshot (Android)
  detox/android/detox/src/main/java/com/wix/detox/common/SDKSupports.kt
  detox/android/detox/src/main/java/com/wix/detox/common/ViewScreenshot.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/ActionWithResult.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/DetoxAction.java
  detox/android/detox/src/main/java/com/wix/detox/espresso/EspressoDetox.java
  detox/android/detox/src/main/java/com/wix/detox/espresso/action/TakeViewScreenshotAction.kt
  detox/src/android/espressoapi/DetoxAction.js
  detox/src/android/expect.js
  detox/src/android/expect.test.js
  detox/test/e2e/26.element-screenshots.test.js
  detox/test/e2e/assets/elementScreenshot.android.horiz.png
  detox/test/e2e/assets/elementScreenshot.android.vert.png
  detox/test/e2e/utils/custom-expects.js
  detox/test/src/Screens/ElementScreenshotScreen.js
  detox/test/src/Screens/index.js
  detox/test/src/app.js
  docs/APIRef.ActionsOnElement.md
Labels: type: accepted/enhancement, z_platform: android

#2228 Fix a crash when view bounds are (0,0)
  detox/ios/Detox/Next/Utilities/UISlider+DetoxUtils.m
  detox/ios/Detox/Next/Utilities/UIView+DetoxUtils.m
Labels: type: accepted/bug

#2231 Allow for setting rn-context load time in DetoxTest
  detox/android/detox/src/main/java/com/wix/detox/Detox.java
  detox/android/detox/src/main/java/com/wix/detox/common/DetoxErrors.java
  detox/android/detox/src/main/java/com/wix/detox/config/DetoxConfig.kt
  detox/android/detox/src/main/java/com/wix/detox/config/DetoxIdlePolicyConfig.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/DetoxAction.java
  detox/android/detox/src/main/java/com/wix/detox/espresso/DetoxAssertion.java
  detox/android/detox/src/main/java/com/wix/detox/reactnative/ReactNativeLoadingMonitor.kt
  examples/demo-react-native/android/app/src/androidTest/java/com/example/DetoxTest.java
Labels: type: accepted/enhancement, z_platform: android

#2239 Adjust Android to RN .63
  detox/android/build.gradle
  detox/android/detox/build.gradle
  detox/android/detox/proguard-rules.pro
  detox/android/detox/src/main/java/com/wix/detox/reactnative/ReactNativeExtension.kt
  detox/android/detox/src/main/java/com/wix/detox/reactnative/idlingresources/timers/DefaultIdleInterrogationStrategy.kt
  detox/android/detox/src/main/java/com/wix/detox/reactnative/idlingresources/timers/DelegatedIdleInterrogationStrategy.kt
  detox/android/gradle.properties
  detox/android/gradle/wrapper/gradle-wrapper.properties
  detox/test/android/build.gradle
  detox/test/android/gradle.properties
  detox/test/android/gradle/wrapper/gradle-wrapper.properties
  detox/test/package.json
  examples/demo-react-native/android/build.gradle
  examples/demo-react-native/android/gradle.properties
  examples/demo-react-native/android/gradle/wrapper/gradle-wrapper.properties
  examples/demo-react-native/package.json
Labels: type: accepted/enhancement, z_platform: android
