Repository wix/Detox, pull requests merged in 2020-01, with the labels that each got.

#1854 (Android) Apply existing tap improvements and adjustments to tapAtPoint()
  detox/android/detox/src/main/java/com/wix/detox/espresso/DetoxAction.java
  detox/android/detox/src/main/java/com/wix/detox/espresso/action/RNClickAction.java
Labels: z_platform: android

#1858 Introduce a flexible impl strategy for TimersIdlingResource, paving way for RN 62
  detox/android/detox/src/main/java/com/wix/detox/common/RNAnnotations.kt
  detox/android/detox/src/main/java/com/wix/detox/reactnative/ReactNativeIdlingResources.kt
  detox/android/detox/src/main/java/com/wix/detox/reactnative/idlingresources/TimersIdlingResource.kt
  detox/android/detox/src/main/java/com/wix/detox/reactnative/idlingresources/timers/DefaultIdleInterrogationStrategy.kt
  detox/android/detox/src/main/java/com/wix/detox/reactnative/idlingresources/timers/DelegatedIdleInterrogationStrategy.kt
  detox/android/detox/src/main/java/com/wix/detox/reactnative/idlingresources/timers/IdleInterrogationStrategy.kt
  detox/android/detox/src/main/java/com/wix/detox/reactnative/idlingresources/timers/TimersIdlingResource.kt
  detox/android/detox/src/test/java/com/wix/detox/reactnative/idlingresources/ReactNativeTimersIdlingResourceSpec.kt
  detox/android/detox/src/test/java/com/wix/detox/reactnative/idlingresources/timers/DefaultIdleInterrogationStrategySpec.kt
  detox/android/detox/src/test/java/com/wix/detox/reactnative/idlingresources/timers/DelegatedIdleInterrogationStrategySpec.kt
  detox/android/detox/src/test/java/com/wix/detox/reactnative/idlingresources/timers/TimersIdlingResourceSpec.kt
Labels: type: accepted/enhancement, z_platform: android

#1705 More helpful error message if Detox.init() fails
  detox/package.json
  detox/runners/jest/WorkerAssignReporterImpl.js
  detox/src/Detox.js
  detox/src/DetoxExportWrapper.js
  detox/src/index.test.js
  detox/src/utils/MissingDetox.js
Labels: 📌 pinned

#1870 Avoid passing -read-only to emu if not needed
  detox/src/devices/android/Emulator.js
Labels: z_platform: android
