Repository wix/Detox, pull requests merged in 2020-11, with the labels that each got.

#2458 Fix replace text causing crashes in certain scenarios
  detox/ios/Detox/Actions/UIView+DetoxActions.m
Labels: type: accepted/bug

#2446 Introduce the fundamentals of Genymotion-cloud support
  detox/android/detox/src/main/java/com/wix/detox/DetoxManager.java
  detox/android/detox/src/main/java/com/wix/detox/WebSocketClient.java
  detox/android/detox/src/main/java/com/wix/detox/systeminfo/Environment.java
  detox/src/devices/DriverRegistry.js
  detox/src/devices/drivers/android/genycloud/GenyCloudDriver.js
  detox/src/devices/drivers/android/genycloud/GenyCloudDriver.test.js
  detox/src/devices/drivers/android/genycloud/exec/GenyCloudExec.js
  detox/src/devices/drivers/android/genycloud/exec/GenyCloudExec.test.js
  detox/src/devices/drivers/android/genycloud/helpers/GenyAllocationHelper.js
  detox/src/devices/drivers/android/genycloud/helpers/GenyAllocationHelper.test.js
  detox/src/devices/drivers/android/genycloud/helpers/GenyDeviceQueryHelper.js
  detox/src/devices/drivers/android/genycloud/helpers/GenyDeviceQueryHelper.test.js
  detox/src/devices/drivers/android/genycloud/services/GenyInstanceLifecycleService.js
  detox/src/devices/drivers/android/genycloud/services/GenyInstanceLifecycleService.test.js
  detox/src/devices/drivers/android/genycloud/services/GenyInstanceLookupService.js
  detox/src/devices/drivers/android/genycloud/services/GenyInstanceLookupService.test.js
  detox/src/devices/drivers/android/genycloud/services/GenyInstanceNaming.js
  detox/src/devices/drivers/android/genycloud/services/GenyInstanceNaming.test.js
  detox/src/devices/drivers/android/genycloud/services/GenyRecipesService.js
  detox/src/devices/drivers/android/genycloud/services/GenyRecipesService.test.js
  detox/src/devices/drivers/android/genycloud/services/dto/GenyInstance.js
  detox/src/devices/drivers/android/genycloud/services/dto/GenyInstance.test.js
  detox/src/devices/drivers/android/genycloud/services/dto/GenyRecipe.js
  detox/src/devices/drivers/android/genycloud/services/dto/GenyRecipe.test.js
  detox/test/e2e/14.network.test.js
  detox/test/mock-server/mock-server.js
  detox/test/package.json
  detox/test/src/Screens/NetworkScreen.js
Labels: z_platform: android

#2467 Add support for accessibility elements
  detox/ios/Detox.xcodeproj/project.pbxproj
  detox/ios/Detox/Actions/NSObject+DetoxActions.h
  detox/ios/Detox/Actions/NSObject+DetoxActions.m
  detox/ios/Detox/Actions/UIPickerView+DetoxActions.m
  detox/ios/Detox/Actions/UIScrollView+DetoxActions.m
  detox/ios/Detox/Detox.modulemap
  detox/ios/Detox/Invocation/Action.swift
  detox/ios/Detox/Invocation/Element.swift
  detox/ios/Detox/Invocation/Predicate.swift
  detox/ios/Detox/Matchers/UIView+DetoxMatchers.h
  detox/ios/Detox/Matchers/UIView+DetoxMatchers.m
  detox/ios/Detox/Utilities/NSObject+DetoxUtils.h
  detox/ios/Detox/Utilities/NSObject+DetoxUtils.m
  detox/ios/Detox/Utilities/NSObject+DontCrash.h
  detox/ios/Detox/Utilities/NSObject+DontCrash.m
  detox/ios/Detox/Utilities/UIView+DetoxUtils.h
  detox/ios/Detox/Utilities/UIView+DetoxUtils.m
  scripts/ci.ios.sh
Labels: type: accepted/enhancement

#2480 Prevalidate gmsaas: binary and auth
  detox/src/devices/Device.js
  detox/src/devices/drivers/android/genycloud/GenyCloudDriver.js
  detox/src/devices/drivers/android/genycloud/GenyCloudDriver.test.js
  detox/src/devices/drivers/android/genycloud/exec/GenyCloudExec.js
  detox/src/devices/drivers/android/genycloud/exec/GenyCloudExec.test.js
  detox/src/devices/drivers/android/genycloud/services/GenyAuthService.js
  detox/src/devices/drivers/android/genycloud/services/GenyAuthService.test.js
  detox/src/utils/environment.js
  detox/src/utils/environment.test.js
Labels: type: accepted/enhancement, z_platform: android
