Repository wix/Detox, pull requests merged in 2020-12, with the labels that each got.

#2500 Fix text object being of unexpected class, other than string
  detox/ios/Detox/Invocation/Predicate.swift
  detox/ios/Detox/Utilities/NSObject+DetoxUtils.h
  detox/ios/Detox/Utilities/NSObject+DetoxUtils.m
  detox/ios/Detox/Utilities/NSObject+DontCrash.h
Labels: type: accepted/bug

#2517 Add warning to ‘detox build’, explaining that it’s a USER COMMAND, and DETOX IS NOT RESPONSIBLE FOR IT
  detox/local-cli/build-framework-cache.js
  detox/local-cli/build.js
  detox/local-cli/clean-framework-cache.js
  detox/local-cli/rebuild-framework-cache.js
Labels: type: accepted/enhancement

#2519 Fix Detox' proguard rules-set to support obfuscating apps, with docs
  detox/android/detox/proguard-rules-app.pro
  detox/android/detox/proguard-rules.pro
  detox/android/detox/src/main/java/com/wix/detox/reactnative/helpers/RNHelpers.kt
  detox/android/detox/src/main/java/com/wix/detox/reactnative/idlingresources/AsyncStorageIdlingResource.kt
  detox/test/android/app/proguard-rules.pro
  docs/Introduction.Android.md
  examples/demo-react-native/android/app/build.gradle
  examples/demo-react-native/android/app/proguard-rules.pro
  examples/demo-react-native/android/app/src/main/java/com/example/MainApplication.java
  examples/demo-react-native/android/build.gradle
  examples/demo-react-native/android/gradle.properties
  examples/demo-react-native/android/settings.gradle
  examples/demo-react-native/package.json
Labels: z_platform: android

#2505 Timeline NG
  detox/src/DetoxExportWrapper.js
  detox/src/artifacts/ArtifactsManager.js
  detox/src/artifacts/timeline/TimelineArtifactPlugin.js
  detox/src/artifacts/timeline/TimelineArtifactPlugin.test.js
  detox/src/artifacts/timeline/Trace.js
  detox/src/artifacts/timeline/Trace.test.js
  detox/src/devices/Device.js
  detox/src/devices/Device.test.js
  detox/src/devices/drivers/android/emulator/EmulatorDriver.js
  detox/src/index.test.js
  detox/src/utils/ChromeTracingExporter.js
  detox/src/utils/ChromeTracingExporter.test.js
  detox/src/utils/__mocks__/trace.js
  detox/src/utils/trace.js
  detox/src/utils/trace.test.js
Labels: type: accepted/enhancement

#2523 Fixed crash in Google Maps SDK, caused by exposing a `text` property on every object
  .github/CODEOWNERS
  detox/ios/Detox/Invocation/Element.swift
  detox/ios/Detox/Utilities/NSObject+DetoxUtils.m
  detox/ios/Detox/Utilities/NSObject+DontCrash.h
  detox/ios/Detox/Utilities/NSObject+DontCrash.m
Labels: type: accepted/bug

#2529 Restore call to Genycloud global cleanup through detox global cleanup
  detox/src/devices/drivers/android/genycloud/GenyCloudDriver.js
  detox/src/devices/drivers/android/genycloud/GenyCloudDriver.test.js
  detox/test/e2e/global-teardown.js
Labels: z_platform: android

#2522 Timeline self-integration testing
  detox/src/DetoxExportWrapper.js
  detox/src/artifacts/timeline/TimelineArtifactPlugin.js
  detox/src/artifacts/timeline/TimelineArtifactPlugin.test.js
  detox/src/devices/drivers/android/AndroidDriver.js
  detox/src/matchersRegistry.test.js
  detox/src/utils/__mocks__/trace.js
  detox/src/utils/fakeTimestampsProvider.js
  detox/src/utils/fakeTimestampsProvider.test.js
  detox/src/utils/trace.js
  detox/src/utils/trace.test.js
  detox/test/integration/__snapshots__/timeline-artifact.test.js.snap
  detox/test/integration/config.js
  detox/test/integration/e2e/config.js
  detox/test/integration/e2e/stub1.test.js
  detox/test/integration/e2e/stub2.test.js
  detox/test/integration/e2e/stub3.test.js
  detox/test/integration/stub/StubDriver.js
  detox/test/integration/stub/StubExpect.js
  detox/test/integration/stub/index.js
  detox/test/integration/timeline-artifact.test.js
  detox/test/integration/utils/exec.js
  detox/test/integration_artifacts/detox.trace.json
  detox/test/package.json
  scripts/ci.android.sh
Labels: type: accepted/enhancement

#2476 Improve Genymotion leakage warning by including instance names
  detox/src/devices/DeviceRegistry.js
  detox/src/devices/DeviceRegistry.test.js
  detox/src/devices/drivers/android/genycloud/GenyCloudDeviceAllocator.js
  detox/src/devices/drivers/android/genycloud/GenyCloudDeviceAllocator.test.js
  detox/src/devices/drivers/android/genycloud/GenyCloudDriver.js
  detox/src/devices/drivers/android/genycloud/GenyCloudDriver.test.js
  detox/src/devices/drivers/android/genycloud/GenyCloudInstanceHandle.js
  detox/src/devices/drivers/android/genycloud/services/dto/GenyInstance.js
  detox/src/devices/drivers/android/genycloud/services/dto/GenyRecipe.js
Labels: type: accepted/enhancement, z_platform: android

#2546 Make usage of new gmsaas getInstance 'endpoint' of 1.6.0
  detox/src/devices/drivers/android/genycloud/GenyCloudDriver.js
  detox/src/devices/drivers/android/genycloud/GenyCloudDriver.test.js
  detox/src/devices/drivers/android/genycloud/exec/GenyCloudExec.js
  detox/src/devices/drivers/android/genycloud/exec/GenyCloudExec.test.js
  detox/src/devices/drivers/android/genycloud/services/GenyInstanceLookupService.js
  detox/src/devices/drivers/android/genycloud/services/GenyInstanceLookupService.test.js
Labels: type: accepted/enhancement, z_platform: android

#2555 Warn about Genycloud instances leakage in case of abrupt terminations
  detox/src/DetoxExportWrapper.js
  detox/src/devices/DeviceRegistry.js
  detox/src/devices/DeviceRegistry.test.js
  detox/src/devices/drivers/android/genycloud/GenyCloudDriver.js
  detox/src/devices/drivers/android/genycloud/GenyCloudDriver.test.js
  detox/src/index.test.js
  detox/test/e2e/global-setup.js
Labels: type: accepted/enhancement, z_platform: android
