Repository wix/Detox, pull requests merged in 2020-09, with the labels that each got.

#2308 Hermes
  detox/test/android/app/build.gradle
  examples/demo-react-native/android/app/build.gradle
  examples/demo-react-native/android/build.gradle
  examples/demo-react-native/android/rninfo.gradle
Labels: type: accepted/enhancement, z_platform: android

#2314 Restrict test-butler assertion to devices actually incorporating the TB service
  detox/test/android/app/src/androidTest/java/com/example/DetoxTest.java
  detox/test/android/app/src/androidTest/java/com/example/TestButlerProbe.java
Labels: z_platform: android

#2319 Remove warning regarding Android parallel being experimental, add robust version check
  detox/local-cli/test.js
  detox/local-cli/test.test.js
  detox/src/devices/drivers/android/AndroidDriver.js
  detox/src/devices/drivers/android/emulator/AVDValidator.js
  detox/src/devices/drivers/android/emulator/AVDValidator.test.js
  detox/src/devices/drivers/android/emulator/EmulatorDriver.js
  detox/src/devices/drivers/android/emulator/EmulatorVersionResolver.js
  detox/src/devices/drivers/android/emulator/EmulatorVersionResolver.test.js
  detox/src/utils/environment.js
  detox/src/utils/environment.test.js
Labels: z_platform: android

#2332 Introduce a double-tap stability fix
  detox/android/detox/src/main/java/com/wix/detox/espresso/action/DetoxMultiTap.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/action/DetoxSingleTap.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/common/DetoxViewConfiguration.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/common/MotionEvents.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/common/TapEvents.kt
  detox/android/detox/src/test/java/com/wix/detox/common/TapEventsSpec.kt
  detox/android/detox/src/test/java/com/wix/detox/espresso/action/DetoxMultiTapSpec.kt
  detox/android/detox/src/test/java/com/wix/detox/espresso/action/DetoxSingleTapSpec.kt
Labels: z_platform: android

#2334 Introduce expectation for matching toggleable widgets
  detox/android/detox/src/main/java/com/wix/detox/espresso/DetoxMatcher.java
  detox/android/detox/src/main/java/com/wix/detox/espresso/matcher/ViewMatchers.kt
  detox/src/android/espressoapi/DetoxMatcher.js
  detox/src/android/expect.js
  detox/src/android/expect.test.js
  detox/src/android/matcher.js
  detox/src/ios/expectTwo.js
  detox/src/ios/expectTwo.test.js
  detox/test/e2e/04.assertions.test.js
  detox/test/src/Screens/AssertionsScreen.js
  docs/APIRef.Expect.md
Labels: type: accepted/enhancement, z_platform: android, z_platform: ios

#2375 For hitability, use a frame of [44, 44] around point of interaction, instead of full view visibility
  detox/ios/Detox/Policy/DetoxPolicy.h
  detox/ios/Detox/Policy/DetoxPolicy.m
  detox/ios/Detox/Utilities/UIView+DetoxUtils.h
  detox/ios/Detox/Utilities/UIView+DetoxUtils.m
Labels: type: accepted/enhancement
