Repository wix/Detox, pull requests merged in 2021-06, with the labels that each got.

#2816 Upgrade Espresso: 3.2.0->3.3.0 (latest)
  detox/android/detox/build.gradle
Labels: z_platform: android

#2809 Run on the new Pixel_3A_API_29 genycloud emulator
  detox/test/e2e/detox.config.js
Labels: z_domain: ci, z_domain: internal, z_platform: android

#2823 Fixed scrolling test for iOS
  detox/test/e2e/03.actions-scroll.test.js
Labels: type: accepted/bug

#2824 Add scrollDownBy etc. API's to detox-native
  detox/android/detox/publishing.gradle
  detox/android/detox/src/coreNative/java/com/wix/detox/actions/DetoxViewActions.kt
  detox/android/detox/src/full/java/com/wix/detox/espresso/DetoxAction.java
  detox/android/detox/src/full/java/com/wix/detox/espresso/UiAutomatorHelper.java
  detox/android/detox/src/full/resources/targetInvocationEspressoWebDetox.json
  detox/android/detox/src/main/java/com/wix/detox/action/common/MotionDefs.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/DeviceDisplay.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/scroll/DetoxScrollActions.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/scroll/DetoxSwipe.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/scroll/DetoxSwiper.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/scroll/FlinglessSwiper.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/scroll/ScrollEdgeException.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/scroll/ScrollHelper.java
  detox/android/detox/src/main/java/com/wix/detox/espresso/scroll/ScrollProbes.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/scroll/SwipeHelper.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/utils/Vector2D.kt
  detox/detox-native/README.md
Labels: z_platform: android

#2835 Detox native - run on CI
  detox/android/detox/src/coreNative/java/com/wix/detox/actions/DetoxViewActions.kt
  detox/android/detox/src/main/java/com/wix/detox/espresso/action/ViewScreenshot.kt
  detox/detox-native/README.md
  detox/package.json
  detox/scripts/.vscode/launch.json
  detox/scripts/build.js
  examples/demo-pure-native-android/.gitignore
  examples/demo-pure-native-android/app/.gitignore
  examples/demo-pure-native-android/app/build.gradle
  examples/demo-pure-native-android/app/proguard-rules.pro
  examples/demo-pure-native-android/app/src/androidTest/java/com/example/detox/purenative/SanityInstrumentationTest.kt
  examples/demo-pure-native-android/app/src/main/AndroidManifest.xml
  examples/demo-pure-native-android/app/src/main/java/com/example/detox/purenative/ActionsFragment.kt
  examples/demo-pure-native-android/app/src/main/java/com/example/detox/purenative/DetoxRVAdapter.kt
  examples/demo-pure-native-android/app/src/main/java/com/example/detox/purenative/MainActivity.kt
  examples/demo-pure-native-android/app/src/main/java/com/example/detox/purenative/MainFragment.kt
  examples/demo-pure-native-android/app/src/main/java/com/example/detox/purenative/utils/RainbowColors.kt
  examples/demo-pure-native-android/app/src/main/res/drawable-v24/ic_launcher_foreground.xml
  examples/demo-pure-native-android/app/src/main/res/drawable/detox_logo.png
  examples/demo-pure-native-android/app/src/main/res/drawable/ic_launcher_background.xml
  examples/demo-pure-native-android/app/src/main/res/layout/actions_rv_item.xml
  examples/demo-pure-native-android/app/src/main/res/layout/activity_main.xml
  examples/demo-pure-native-android/app/src/main/res/layout/content_main.xml
  examples/demo-pure-native-android/app/src/main/res/layout/fragment_actions.xml
  examples/demo-pure-native-android/app/src/main/res/layout/fragment_main.xml
  examples/demo-pure-native-android/app/src/main/res/menu/menu_main.xml
  examples/demo-pure-native-android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  examples/demo-pure-native-android/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  examples/demo-pure-native-android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  examples/demo-pure-native-android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  examples/demo-pure-native-android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  examples/demo-pure-native-android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  examples/demo-pure-native-android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  examples/demo-pure-native-android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  examples/demo-pure-native-android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  examples/demo-pure-native-android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  examples/demo-pure-native-android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  examples/demo-pure-native-android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  examples/demo-pure-native-android/app/src/main/res/navigation/nav_graph.xml
  examples/demo-pure-native-android/app/src/main/res/values/colors.xml
  examples/demo-pure-native-android/app/src/main/res/values/dimens.xml
  examples/demo-pure-native-android/app/src/main/res/values/strings.xml
  examples/demo-pure-native-android/app/src/main/res/values/styles.xml
  examples/demo-pure-native-android/build.gradle
  examples/demo-pure-native-android/gradle.properties
  examples/demo-pure-native-android/gradle/wrapper/gradle-wrapper.jar
  examples/demo-pure-native-android/gradle/wrapper/gradle-wrapper.properties
  examples/demo-pure-native-android/gradlew
  examples/demo-pure-native-android/settings.gradle
  scripts/demo-projects.android.sh
Labels: z_platform: android

#2783 Add `device.setLocation` support to Android
  detox/android/detox/build.gradle
  detox/android/detox/src/full/java/com/wix/detox/genymotion/DetoxGenymotionManager.java
  detox/android/detox/src/testFull/resources/fromJsonTargetInvocationWithListParams.json
  detox/android/detox/src/testFull/resources/targetClassStaticMethodNoParams.json
  detox/android/detox/src/testFull/resources/targetClassStaticMethodOneParam.json
  detox/android/detox/src/testFull/resources/targetInvocationEspresso.json
  detox/android/detox/src/testFull/resources/targetInvocationEspressoDetox.json
  detox/android/detox/src/testFull/resources/targetInvocationEspressoWebDetox.json
  detox/android/detox/src/testFull/resources/targetInvocationMethodOfClassStaticMethodOneParam.json
  detox/android/libs/genymotion-api-1.2.0.jar
  detox/index.d.ts
  detox/src/android/espressoapi/DetoxGenymotionManager.js
  detox/src/devices/drivers/android/emulator/EmulatorDriver.js
  detox/src/devices/drivers/android/exec/ADB.js
  detox/src/devices/drivers/android/exec/ADB.test.js
  detox/src/devices/drivers/android/genycloud/GenyCloudDriver.js
  detox/src/devices/drivers/android/genycloud/GenyCloudDriver.test.js
  detox/test/android/app/build.gradle
  detox/test/android/app/src/main/java/com/example/MainApplication.java
  detox/test/android/settings.gradle
  detox/test/e2e/16.location.test.js
  detox/test/package.json
  detox/test/src/Screens/LocationScreen.js
  docs/APIRef.DeviceObjectAPI.md
  examples/demo-react-native/android/app/build.gradle
  generation/index.js
Labels: z_platform: android

#2839 no-unused-vars lint set as error, plus total cleanup
  detox/.eslintrc
  detox/runners/jest-circus/environment.js
  detox/runners/jest/DetoxAdapterCircus.js
  detox/src/Detox.js
  detox/src/artifacts/ArtifactsManager.test.js
  detox/src/artifacts/instruments/InstrumentsArtifactRecording.test.js
  detox/src/artifacts/instruments/android/AndroidInstrumentsRecording.js
  detox/src/artifacts/log/android/ADBLogcatPlugin.js
  detox/src/artifacts/log/ios/SimulatorLogPlugin.js
  detox/src/artifacts/log/ios/SimulatorLogPlugin.test.js
  detox/src/artifacts/screenshot/SimulatorScreenshotPlugin.js
  detox/src/artifacts/templates/artifact/Artifact.js
  detox/src/artifacts/templates/artifact/Artifact.test.js
  detox/src/artifacts/templates/plugin/ArtifactPlugin.js
  detox/src/artifacts/templates/plugin/TwoSnapshotsPerTestPlugin.js
  detox/src/artifacts/templates/plugin/WholeTestRecorderPlugin.js
  detox/src/artifacts/timeline/TimelineArtifactPlugin.test.js
  detox/src/artifacts/uiHierarchy/IosUIHierarchyPlugin.js
  detox/src/artifacts/uiHierarchy/IosUIHierarchyPlugin.test.js
  detox/src/artifacts/utils/ArtifactPathBuilder.test.js
  detox/src/client/AsyncWebSocket.js
  detox/src/client/actions/actions.js
  detox/src/configuration/composeAppsConfig.test.js
  detox/src/configuration/composeBehaviorConfig.test.js
  detox/src/configuration/index.test.js
  detox/src/devices/Device.test.js
  detox/src/devices/DeviceRegistry.test.js
  detox/src/devices/drivers/DeviceDriverBase.js
  detox/src/devices/drivers/android/AndroidDriver.js
  detox/src/devices/drivers/android/AndroidDriver.test.js
  detox/src/devices/drivers/android/emulator/helpers/EmulatorLauncher.test.js
  detox/src/devices/drivers/android/tools/EmulatorTelnet.js
  detox/src/devices/drivers/ios/IosDriver.js
  detox/src/devices/drivers/ios/SimulatorDriver.test.js
  detox/src/errors/DetoxRuntimeError.test.js
  detox/src/server/DetoxConnection.js
  detox/src/utils/exec.test.js
  detox/src/utils/getAbsoluteBinaryPath.test.js
  detox/src/utils/resolveModuleFromPath.test.js
  detox/src/utils/sh.js
  detox/src/utils/shellUtils.test.js
Labels: z_domain: internal

#2852 Add some allegedly missing kotlin minification rules
  detox/android/detox/proguard-rules-app.pro
Labels: z_platform: android
