Repository wix/Detox, pull requests merged in 2021-05, with the labels that each got.

#2767 To be focused expectation
  detox/ios/Detox/Invocation/Element.swift
  detox/ios/Detox/Invocation/Expectation.swift
  detox/ios/Detox/Utilities/NSObject+DetoxUtils.h
  detox/ios/Detox/Utilities/NSObject+DetoxUtils.m
  detox/src/ios/expectTwo.js
  detox/src/ios/expectTwo.test.js
  detox/test/e2e/31.expectations.test.js
  detox/test/src/Screens/ExpectationsScreen.js
  detox/test/src/Screens/index.js
  detox/test/src/app.js
Labels: type: accepted/enhancement, z_platform: ios

#2768 Reorganize roles in Emu delegates to match cleanup vs. shutdown
  detox/package.json
  detox/src/devices/drivers/android/AndroidDeviceAllocation.js
  detox/src/devices/drivers/android/AndroidDeviceLauncher.js
  detox/src/devices/drivers/android/emulator/EmulatorDriver.js
  detox/src/devices/drivers/android/emulator/helpers/EmulatorDeviceAllocation.js
  detox/src/devices/drivers/android/emulator/helpers/EmulatorDeviceAllocation.test.js
  detox/src/devices/drivers/android/emulator/helpers/EmulatorLauncher.js
  detox/src/devices/drivers/android/emulator/helpers/EmulatorLauncher.test.js
  detox/src/devices/drivers/android/genycloud/GenyCloudDriver.js
  detox/src/devices/drivers/android/genycloud/GenyCloudDriver.test.js
  detox/src/devices/drivers/android/genycloud/helpers/GenyCloudInstanceAllocation.js
  detox/src/devices/drivers/android/genycloud/helpers/GenyCloudInstanceAllocation.test.js
  detox/src/devices/drivers/android/genycloud/helpers/GenyCloudInstanceLauncher.js
  detox/src/devices/drivers/android/genycloud/helpers/GenyCloudInstanceLauncher.test.js
Labels: type: accepted/enhancement, z_domain: internal, z_platform: android

#2776 toBeFocused Documentation
  docs/APIRef.Expect.md
Labels: type: accepted/enhancement

#2765 feat(artifacts): produce debugging screenshot on failing taps
  detox/ios/Detox.xcodeproj/project.pbxproj
  detox/ios/Detox/Detox.modulemap
  detox/ios/Detox/DetoxManager.swift
  detox/ios/Detox/Utilities/NSURL+DetoxUtils.h
  detox/ios/Detox/Utilities/NSURL+DetoxUtils.m
  detox/ios/Detox/Utilities/UIImage+DetoxUtils.h
  detox/ios/Detox/Utilities/UIImage+DetoxUtils.m
  detox/ios/Detox/Utilities/UIView+DetoxUtils.m
  detox/src/artifacts/screenshot/ScreenshotArtifactPlugin.js
  detox/src/artifacts/screenshot/SimulatorScreenshotPlugin.js
  detox/src/artifacts/templates/plugin/TwoSnapshotsPerTestPlugin.js
  detox/src/artifacts/uiHierarchy/IosUIHierarchyPlugin.js
  detox/src/client/AsyncWebSocket.js
  detox/src/client/AsyncWebSocket.test.js
  detox/src/devices/drivers/ios/SimulatorDriver.js
  detox/test/e2e/32.visibility.test.js
  detox/test/src/Screens/VisibilityScreen.js
  detox/test/src/Screens/index.js
  detox/test/src/Views/BadgeButton.js
  detox/test/src/Views/ScrollBarGradient.js
  detox/test/src/app.js
  detox/test/src/assets/gradientOverlay.png
  detox/test/src/assets/search.png
  detox/test/src/assets/search@1.5x.png
  detox/test/src/assets/search@2x.png
  detox/test/src/assets/search@3x.png
  detox/test/src/assets/search@4x.png
Labels: type: accepted/bug, z_platform: ios

#2778 Make DeviceRegistry DB-like: hold ids+data instead of objects
  detox/src/devices/DeviceRegistry.js
  detox/src/devices/DeviceRegistry.test.js
  detox/src/devices/drivers/android/genycloud/GenyCloudDriver.js
  detox/src/devices/drivers/android/genycloud/GenyCloudDriver.test.js
  detox/src/devices/drivers/android/genycloud/GenyCloudInstanceHandle.js
  detox/src/devices/drivers/android/genycloud/helpers/GenyCloudInstanceLauncher.js
  detox/src/devices/drivers/android/genycloud/helpers/GenyCloudInstanceLauncher.test.js
  detox/src/devices/drivers/android/genycloud/services/GenyInstanceLookupService.js
  detox/src/devices/drivers/android/genycloud/services/GenyInstanceLookupService.test.js
  detox/src/devices/drivers/ios/SimulatorDriver.js
  detox/src/devices/drivers/ios/SimulatorDriver.test.js
Labels: type: accepted/enhancement, z_domain: internal, z_platform: android
