Repository wix/Detox, pull requests merged in 2021-04, with the labels that each got.

#2723 Run non-Spek Android unit tests
  detox/android/detox/build.gradle
  detox/android/detox/src/testFull/java/com/wix/detox/common/proxy/MethodsSpySpec.kt
Labels: z_domain: internal, z_platform: android

#2725 Introduce a more sensible impl of debug-sync (Android)
  detox/android/detox/src/full/java/com/wix/detox/DetoxActionHandlers.kt
  detox/android/detox/src/full/java/com/wix/detox/TestEngineFacade.kt
  detox/android/detox/src/full/java/com/wix/detox/espresso/EspressoDetox.java
  detox/android/detox/src/full/java/com/wix/detox/espresso/UiAutomatorHelper.java
  detox/android/detox/src/full/java/com/wix/detox/espresso/registry/IRStatusInquirer.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/ReactNativeIdlingResources.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/helpers/RNHelpers.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/AnimatedModuleIdlingResource.java
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/AsyncStorageIdlingResource.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/BridgeIdlingResource.java
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/DescriptiveIdlingResource.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/DetoxBaseIdlingResource.java
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/NetworkIdlingResource.java
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/UIModuleIdlingResource.java
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/timers/IdleInterrogationStrategy.kt
  detox/android/detox/src/full/java/com/wix/detox/reactnative/idlingresources/timers/TimersIdlingResource.kt
  detox/android/detox/src/main/java/com/wix/detox/common/UIThread.kt
  detox/android/detox/src/testFull/java/com/wix/detox/espresso/registry/IRStatusInquirerTest.kt
  detox/src/android/espressoapi/EspressoDetox.js
Labels: type: accepted/enhancement, z_domain: ux, z_platform: android

#2703 Android debug sync
  detox/android/detox/src/full/java/com/wix/detox/Detox.java
  detox/android/detox/src/full/java/com/wix/detox/DetoxANRHandler.kt
  detox/android/detox/src/full/java/com/wix/detox/DetoxCrashHandler.kt
  detox/android/detox/src/full/java/com/wix/detox/DetoxMain.kt
  detox/android/detox/src/full/java/com/wix/detox/DetoxManager.java
  detox/android/detox/src/full/java/com/wix/detox/LaunchArgs.java
  detox/android/detox/src/full/java/com/wix/detox/adapters/server/DetoxActionHandlers.kt
  detox/android/detox/src/full/java/com/wix/detox/adapters/server/DetoxActionsDispatcher.kt
  detox/android/detox/src/full/java/com/wix/detox/adapters/server/DetoxServerAdapter.kt
  detox/android/detox/src/full/java/com/wix/detox/adapters/server/DetoxServerInfo.kt
  detox/android/detox/src/full/java/com/wix/detox/adapters/server/WebSocketClient.java
  detox/android/detox/src/testFull/java/com/wix/detox/adapters/server/DetoxActionHandlersSpec.kt
  detox/local-cli/utils/testCommandArgs.js
  detox/src/android/espressoapi/UiDeviceProxy.js
  detox/test/e2e/24.uidevice.test.js
  detox/test/package.json
  docs/APIRef.DetoxCLI.md
Labels: type: accepted/bug, z_domain: ux, z_platform: android

#2747 Remove 'iOS only's from CLI associated with workers arg
  detox/local-cli/test.js
  detox/local-cli/utils/testCommandArgs.js
Labels: z_domain: ux, z_platform: android

#2751 Get test-butler from maven-central, upgrade to v2.2.1
  detox/test/android/app/build.gradle
  detox/test/e2e/global-setup.js
Labels: type: accepted/enhancement, z_domain: internal, z_platform: android

#2752 Bintray sunset
  detox/android/build.gradle
  detox/android/detox/build.gradle
  detox/test/android/app/build.gradle
  detox/test/android/build.gradle
  detox/test/android/libs/proguard-annotations-1.14.1.jar
  examples/demo-react-native/android/app/build.gradle
  examples/demo-react-native/android/build.gradle
  examples/demo-react-native/android/libs/proguard-annotations-1.14.1.jar
  scripts/ci.android.sh
Labels: type: accepted/enhancement, z_domain: internal, z_platform: android

#2762 Increase concurrent simulators count on CI
  detox/test/package.json
Labels: z_domain: internal, z_platform: ios

#2755 fix: image for visibility testing when window is a keyboard
  detox/ios/Detox/Utilities/UIView+DetoxUtils.m
  detox/test/e2e/30.custom-keyboard.test.js
  detox/test/ios/example.xcodeproj/project.pbxproj
  detox/test/ios/example/AppDelegate.m
  detox/test/ios/example/CustomKeyboardViewController.h
  detox/test/ios/example/CustomKeyboardViewController.m
  detox/test/src/app.js
Labels: z_platform: ios

#2763 Cancel retries for the gmsaas instance start command
  detox/src/devices/drivers/android/genycloud/exec/GenyCloudExec.js
  detox/src/devices/drivers/android/genycloud/exec/GenyCloudExec.test.js
Labels: type: accepted/enhancement, z_platform: android

#2758 fix: fix pinch types
  detox/index.d.ts
Labels: type: triage/enhancement, z_domain: documentation
